﻿@model BryantPattengillOrg.Models.SchoolDetailViewModel
@{
    ViewData["Title"] = "Bryant Elementary School";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-12">
                <p><img class="img-responsive img-rounded" src="/wp-content/uploads/2014/10/bryant-elementary-ann-arbor.jpg" /></p>

                <h1>Bryant Elementary School<br /><small>Lower School, Grades K to 2</small></h1>
            </div>
        </div>

       
        <div class="row">
            <div class="col-sm-6">


                <p>
                    <strong>Contact Information</strong><br />
                    2150 Santa Rosa<br />
                    Ann Arbor, MI 48108
                </p>
                <ul>
                    <li>Main: <a href="tel:734-997-1212">(734) 997-1212</a><br /></li>
                    <li><a href="/board/members/jamar-humphrey/" target="_blank">Jamar Humphrey</a>, Principal</li>
                    <li><a href="http://a2schools.org/domain/332" target="_blank">Bryant Teacher &amp; Staff Directory</a></li>
                    <li><a href="https://www.a2schools.org/site/Default.aspx?PageType=1&SiteID=15&ChannelID=197&DirectoryType=6" target="_blank">Classroom Webpages</a></li>
                    <li>Twitter: <a href="https://twitter.com/a2brypatschools" target="_blank">@@A2BryPatSchools</a></li>
                    <li><a href="http://a2schools.org/bryant" target="_blank" rel="noopener">Bryant Website</a></li>
                </ul>





                <p id="IsSchoolClosed"><strong>Is School Closed Today?</strong></p>
                <ul>
                    <li>Hotline: <a href="tel:734-994-8684">734-994-8684</a></li>
                    <li><a href="http://www.a2schools.org/Page/6898" target="_blank">More School Closing Information</a></li>
                </ul>

                <p id="BellSchedule">
                    <strong>Bell Schedule</strong><br />
                <p><a href="https://www.a2schools.org/Page/5391" target="_blank">2019-20 AAPS Bell Schedules</a></p>
                <table class="table table-striped">
                    <tr>
                        <th>Time</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>8:53 am</td>
                        <td>First Bell</td>
                    </tr>
                    <tr>
                        <td>8:56 am</td>
                        <td>Second (Tardy) Bell</td>
                    </tr>
                    <tr>
                        <td>1:29 pm</td>
                        <td>Early Dismissal Bell</td>
                    </tr>
                    <tr>
                        <td>3:59 pm</td>
                        <td>Dismissal Bell</td>
                    </tr>
                </table>

                </p>

                @*<p><strong>Bell Schedule</strong><br />
            First Bell: 8:53 am<br />
            Second (Tardy) Bell: 8:56 am<br />
            Dismissal Bell: 3:59 am
        </p>*@

                <p id="BusSchedule">
                    <strong>Bus Schedules &amp; Routes</strong><br />
                    <ul>
                        <li><a href="http://www.durhamschoolservices.com/pages/durhambustracker.aspx" target="_blank">AAPS Bus Tracker</a> - bus locations in real time</li>
                        <li>Bus schedules are available <a href="https://www.a2schools.org/Page/10459" target="_blank">here</a>.</li>
                    </ul>

                </p>
                <p>
                    <strong>Dropoff &amp; Pickup</strong><br />
                    There are NO provisions for supervision before or after school.  If your child must come to Bryant prior to <strong>8:40 am</strong>, or remain beyond the dismissal time; they <strong><u>must</u></strong> be enrolled in the School-Age Child Care program.  Please call <a href="tel:734-994-2300" target="_blank" rel="noopener">734-994-2300</a> for more information regarding this program.
                </p>

                <p id="AfterSchoolClasses">
                    <strong>After School Classes</strong><br />
                    <a target="_blank" href="https://recedafterschool.weebly.com/">Rec &amp; Ed</a> offers a variety of enrichment classes for children. Typically 4:10pm to 5:10pm.
                </p>
                @*<table class="table table-striped">
                    <tr>
                        <th>Day</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Cost</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>10/01</td>
                        <td>11/05</td>
                        <td>$109</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/48983" target="_blank">Chess: Early Fall</a></td>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>11/12</td>
                        <td>1/07</td>
                        <td>$109</td>
                        <td><a href="https://apm.activecommunities.com/aareced/Activity_Search/48988" target="_blank">Chess: Late Fall</a></td>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>9/24</td>
                        <td>11/26</td>
                        <td>$149</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49045" target="_blank">Chinese</a></td>
                    </tr>
                    <tr>
                        <td>Tue</td>
                        <td>9/25</td>
                        <td>11/13</td>
                        <td>$165</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49199" target="_blank">Little Bands</a></td>
                    </tr>
                    <tr>
                        <td>Wed</td>
                        <td>10/03</td>
                        <td>12/12</td>
                        <td>$85</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/48798" target="_blank">​Zumba® Kids</a></td>
                    </tr>
                    <tr>
                        <td>Thu</td>
                        <td>9/27</td>
                        <td>11/15</td>
                        <td>$115</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/48934" target="_blank">Mixed Media</a></td>
                    </tr>
                    <tr>
                        <td>Thu</td>
                        <td>10/04</td>
                        <td>11/08</td>
                        <td>$79</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49105" target="_blank">Soccer</a></td>
                    </tr>
                    <tr>
                        <td>Fri</td>
                        <td>11/09</td>
                        <td>12/21</td>
                        <td>$125</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49020" target="_blank">Let's Dance</a></td>
                    </tr>
                </table>*@

                <p id="Meals">
                    <strong>Meals</strong><br />
                    Packing a lunch? Items containing any type of nuts/tree nuts are okay.
                </p>
                <ul>
                    <li><a href="http://a2schools.nutrislice.com/menu/bryant/breakfast/" target="_blank" rel="noopener">Breakfast Menu</a>
                    <li><a href="http://a2schools.nutrislice.com/menu/bryant/lunch/" target="_blank" rel="noopener">Lunch Menu</a></li>
                    <li><a href="http://www.a2schools.org/Page/621" target="_blank">Pay for Meals</a></li>
                </ul>

                <p id="Volunteer">
                    <strong>Volunteer</strong>
                    <ul>
                        <li><a href="https://docs.google.com/spreadsheets/d/199wEIVyPeoK0a7N25I60CuTxpz8jh3CAlvqR3Bu_G_A/edit?usp=sharing" target="_blank">2018-19 Volunteer Sign-up Form</a></li>
                        <li><a href="~/download/AAPSVolunteerCertificationForm.pdf" target="_blank">Volunteer Certification Form</a> (only if needed)</li>
                    </ul>
                </p>


                <p><strong>Looking to attend Bryant?</strong></p>
                <ul>
                    <li><a href="http://a2schools.org/domain/312" target="_blank">Attendance Area by Street Directory</a></li>
                    <li><a href="http://aaps.schoolwires.net/Page/6904" target="_blank">Attendance Boundary Maps</a></li>
                    <li><a href="http://aaps.schoolwires.net/Page/620" target="_blank">Directory of Schools</a></li>
                </ul>
                <p><strong>Ann Arbor Public Schools</strong></p>
                <ul>
                    <li><a href="http://news.a2schools.org/" target="_blank">AAPS News</a></li>

                    <li><a href="http://www.a2schools.org/domain/2274" target="_blank">Ann Arbor PTO Council</a></li>
                    <li><a href="http://www.a2schools.org/Page/6880" target="_blank">Elementary Curriculum</a></li>
                    <li><a href="http://www.a2schools.org/" target="_blank">Ann Arbor Public Schools Home Page</a></li>
                </ul>

            </div>
            <div class="col-sm-6">

                <p><strong>Upcoming Bryant Events</strong></p>

                @await Html.PartialAsync("_EventsPartial", Model.UpcomingEvents)

                <p class="text-center"><a class="btn btn-lg btn-default" href="/events#upcoming">View More Events</a></p>


                <div class="embed-responsive embed-responsive-16by9" style="margin-top: 10px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3oEDz2wD4O8" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9" style="margin-top: 10px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3BK5ZZ3U2iw" frameborder="0" allowfullscreen></iframe>
                </div>
                <iframe style="width:100%; height: 166px; margin-top: 10px;" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/167421623&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.146830745433!2d-83.71562199999998!3d42.23267600000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883caf7743fdeadf%3A0x449fc4eb56313e92!2s2150+Santa+Rosa+Dr%2C+Ann+Arbor%2C+MI+48108!5e0!3m2!1sen!2sus!4v1413939904364" style="border:0; width:100%; max-width: 600px; max-height:450px" frameborder="0"></iframe>

            </div>
        </div>


    </div>

</div>
