﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Our Schools</h1>

<div class="row text-center">
    <div class="col-sm-6">
        <p><img class="img-responsive img-rounded" src="/wp-content/uploads/2014/10/bryant-elementary-ann-arbor.jpg" /></p>
        <p class="text-uppercase"><strong>Lower School, Grades K to 2</strong></p>
        <p><strong>Bryant Elementary School</strong><br />
            2150 Santa Rosa<br />
            Ann Arbor, MI 48108
        </p>
        
        <p class="text-center"  style="margin-bottom: 20px; margin-top: 20px;"><a href="/schools/bryant" class="btn btn-default">View Bryant</a></p>
       
    </div>
    <div class="col-sm-6" style="margin-bottom: 20px;">
        <p><img class="img-responsive img-rounded" src="/wp-content/uploads/2014/10/pattengill-elementary-ann-arbor.jpg" /></p>
        
        <p class="text-uppercase"><strong>Upper School, Grades 3 to 5</strong></p>
        <p><strong>Pattengill Elementary School</strong><br />
            2100 Crestland Drive<br />
            Ann Arbor, MI 48104</p>
        
        <p class="text-center" style="margin-bottom: 20px; margin-top: 20px;"><a href="/schools/pattengill" class="btn btn-default">View Pattengill</a></p>
    </div>
</div>