﻿@model BryantPattengillOrg.Models.SchoolDetailViewModel
@{
    ViewData["Title"] = "Pattengill Elementary School";
}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-12">


                <p><img class="img-responsive img-rounded" src="~/wp-content/uploads/2014/10/pattengill-elementary-ann-arbor.jpg" /></p>

                <h1>Pattengill Elementary School<br /><small>Upper School, Grades 3 to 5</small></h1>
            </div>
        </div>

        
       
        <div class="row">
            <div class="col-sm-6">
                <p>
                    <strong>Contact Information</strong><br />
                    2100 Crestland Drive<br />
                    Ann Arbor, MI 48104
                </p>
                <ul>
                    <li>Main: <a href="tel:734-994-1961">(734) 994-1961</a></li>
                    <li><a href="/board/members/robin-kocher/" target="_blank">Robin Kocher</a>, Principal</li>
                    <li><a href="http://a2schools.org/domain/352" target="_blank">Pattengill Teacher &amp; Staff Directory</a></li>
                    <li><a href="https://www.a2schools.org/site/Default.aspx?PageType=1&SiteID=26&ChannelID=167&DirectoryType=6" target="_blank">Classroom Webpages</a></li>
                    <li>Twitter: <a href="https://twitter.com/a2brypatschools" target="_blank">@@A2BryPatSchools</a></li>
                    <li><a href="http://a2schools.org/pattengill" target="_blank" rel="noopener">Pattengill Website</a></li>
                </ul>



                <p id="IsSchoolClosed">
                    <strong>Is School Closed Today?</strong>
                    <ul>
                        <li>Hotline: <a href="tel:734-994-8684">734-994-8684</a></li>
                        <li><a href="http://www.a2schools.org/Page/6898" target="_blank">More School Closing Information</a></li>
                    </ul>
                </p>

                <p id="BellSchedule">
                    <strong>Bell Schedule</strong><br />
                <p><a href="https://www.a2schools.org/Page/5391" target="_blank">2019-20 AAPS Bell Schedules</a></p>
                <table class="table table-striped">
                    <tr>
                        <th>Time</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>8:53 am</td>
                        <td>First Bell</td>
                    </tr>
                    <tr>
                        <td>8:56 am</td>
                        <td>Second (Tardy) Bell</td>
                    </tr>
                    <tr>
                        <td>1:29 pm</td>
                        <td>Early Dismissal Bell</td>
                    </tr>
                    <tr>
                        <td>3:59 pm</td>
                        <td>Dismissal Bell</td>
                    </tr>
                </table>

                @*<tr>
            <td>11:25-1:13p</td>
            <td>Lunch & Recess in shifts</td>
        </tr>*@
                </p>
                <p id="BusSchedule">
                    <strong>Bus Schedules &amp; Routes</strong><br />

                    <ul>
                        <li><a href="http://www.durhamschoolservices.com/pages/durhambustracker.aspx" target="_blank">AAPS Bus Tracker</a> - bus locations in real time</li>
                        <li>Bus schedules are available <a href="https://www.a2schools.org/Page/10469" target="_blank">here</a>.</li>
                    </ul>
                </p>
                <p>
                    <strong>Dropoff &amp; Pickup</strong><br />
                    Students arriving in cars should not be dropped off prior to 8:30 am.  Parents may drop off and pick-up students using the circular drive. When picking up or dropping off, please pull all the way forward to the orange cone. For safety reasons, we ask that your child (ren) exit the car at the curb and not be allowed to walk/run across the parking lot without an adult. Please do not drop off/pick up on Ridge Road, as this area is reserved for buses.
                </p>

                <p id="AfterSchoolClasses">
                    <strong>After School Classes</strong><br />
                    <a target="_blank" href="https://recedafterschool.weebly.com/">Rec &amp; Ed</a> offers a variety of enrichment classes for children. Typically 4:10pm to 5:10pm.
                </p>
                @*<table class="table table-striped">
                    <tr>
                        <th>Day</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Cost</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>10/01</td>
                        <td>11/05</td>
                        <td>$169</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49061" target="_blank">Robotics</a></td>
                    </tr>
                    <tr>
                        <td>Tue</td>
                        <td>10/02</td>
                        <td>11/13</td>
                        <td>$79</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49109" target="_blank">Soccer</a></td>
                    </tr>
                    <tr>
                        <td>Tue</td>
                        <td>10/02</td>
                        <td>11/13</td>
                        <td>$109</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49003" target="_blank">Chess: Early Fall</a></td>
                    </tr>
                    <tr>
                        <td>Tue</td>
                        <td>11/27</td>
                        <td>1/15</td>
                        <td>$109</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/49005" target="_blank">Chess: Late Fall</a></td>
                    </tr>

                    <tr>
                        <td>Wed</td>
                        <td>9/19</td>
                        <td>12/05</td>
                        <td>$115</td>
                        <td><a href="http://apm.activecommunities.com/aareced/Activity_Search/48943" target="_blank">Mixed Media</a></td>
                    </tr>
                </table>*@


                <p id="Meals">
                    <strong>Meals</strong><br />
                    Packing a lunch? Items containing any type of nuts/tree nuts are okay.
                </p>
                <ul>
                    <li><a href="http://a2schools.nutrislice.com/menu/pattengill/breakfast/" target="_blank" rel="noopener">Breakfast Menu</a>
                    <li><a href="http://a2schools.nutrislice.com/menu/pattengill/lunch/" target="_blank" rel="noopener">Lunch Menu</a></li>
                    <li><a href="http://www.a2schools.org/Page/621" target="_blank">Pay for Meals</a></li>
                </ul>

                <p id="Volunteer">
                    <strong>Volunteer</strong>
                    <ul>
                        <li><a href="https://docs.google.com/spreadsheets/d/199wEIVyPeoK0a7N25I60CuTxpz8jh3CAlvqR3Bu_G_A/edit?usp=sharing" target="_blank">2018-19 Volunteer Sign-up Form</a></li>
                        <li><a href="~/download/AAPSVolunteerCertificationForm.pdf" target="_blank">Volunteer Certification Form</a> (only if needed)</li>
                    </ul>
                </p>


                <p><strong>Looking to attend Pattengill?</strong></p>
                <ul>
                    <li><a href="http://a2schools.org/domain/312" target="_blank">Attendance Area by Street Directory</a></li>
                    <li><a href="http://aaps.schoolwires.net/Page/6904" target="_blank">Attendance Boundary Maps</a></li>
                    <li><a href="http://aaps.schoolwires.net/Page/620" target="_blank">Directory of Schools</a></li>
                </ul>
                <p><strong>Ann Arbor Public Schools</strong></p>
                <ul>
                    <li><a href="http://news.a2schools.org/" target="_blank">AAPS News</a></li>

                    <li><a href="http://www.a2schools.org/domain/2274" target="_blank">Ann Arbor PTO Council</a></li>
                    <li><a href="http://www.a2schools.org/Page/6880" target="_blank">Elementary Curriculum</a></li>
                    <li><a href="http://www.a2schools.org/" target="_blank">Ann Arbor Public Schools Home Page</a></li>
                </ul>

            </div>
            <div class="col-sm-6">

                <p><strong>Upcoming Pattengill Events</strong></p>

                @await Html.PartialAsync("_EventsPartial", Model.UpcomingEvents)

                <p class="text-center"><a class="btn btn-lg btn-default" href="/events#upcoming">View More Events</a></p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qwp6cyWZaG4" frameborder="0" allowfullscreen></iframe>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2953.0843832195615!2d-83.7195887!3d42.2553705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883cafa9c76ed6a1%3A0xd6d566c87cf516f7!2s2100+Crestland+Dr%2C+Ann+Arbor%2C+MI+48104!5e0!3m2!1sen!2sus!4v1413940023007" style="border:0; width:100%; max-width: 600px; max-height:450px; margin-top: 10px;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>