﻿@{
    ViewData["Title"] = "Academic Games";
}


<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>Academic Games</h1>
        <p>
            Starting Friday, October 6th,
            Every Friday after school 4-5:30 p.m<br />
            Pattengill Media Center
        </p>

        <p class="text-left">Academic Games is a way for your child to learn different math and English skills through the joy of games. Last year being our first year, we were able to attend the State tournament and earn third place. We had an amazing year  and we hope to do same this year. We will be meeting every Friday after school in the Media Center starting Friday, October 6th,4-5:30 p.m. Parents can contact Praveen at  <a href="tel:734 355 4295">(734) 355-4295</a> or through email at <a href="mailto:PattengillAG@gmail.com">PattengillAG@gmail.com</a>.</p>
    </div>
</div>
