﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    // old link was ifest
}

<style>
    .highlight {
        background-color: yellow;
        font-weight: 800;
    }

    h4 {
        font-weight: 800;
    }
</style>


<div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center">
        <h1>5th Grade Camp <span class="badge badge-secondary">Updated 9/12</span></h1>
        <p>
            <strong>November 6&ndash;8, 2019</strong><br />
            <span class="highlight">Paperwork &amp; Payment Due by 10/16/19</span>
        </p>

        <p>Questions?<br />Please contact 5th Grade Camp Chair at <a href="mailto:5thgradecamp@bryantpattengill.org" target="_blank" rel="noopener">5thgradecamp@bryantpattengill.org</a></p>


    </div>
</div>
<hr />



<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>
            Dear 5th Grade Families,
        </h2>

        <p>
            It is time to prepare for our 5th grade overnight camp trip. The students will be going to Howell Nature Center (HNC) <span class="highlight">November 6th-8th</span>.
            This is a wonderful opportunity for students to experience camp, form bonds, and make memories that will last a lifetime! Howell Nature
            Center has designed an Outdoor Education Program specifically for Pattengill. Pattengill 5th grade teachers and volunteer adult
            chaperones attend this trip. All meals are provided by HNC and allergies are taken into account. Bus transportation to and from Howell
            Nature Center is also provided (<a href="https://drive.google.com/open?id=1em_8BVWSAd6AMtcTjEbr70v45UttEM2f" target="_blank">map</a>). Visit the Howell Nature Center’s web site to learn more <a href="https://www.howellnaturecenter.org" target="_blank">www.howellnaturecenter.org</a>
        </p>

        <p>
            Please use the <a href="https://drive.google.com/open?id=1dJhvjM2ieqkqZenF5jZl9T2nYvKMOcsX" target="_blank">enclosed checklist</a> to ensure
            you turn in everything needed. Return the completed camp <a href="#forms">paperwork</a> and payment, in the envelope the paperwork
            came home in, <span class="highlight">by 10/16/19</span>. If you need an additional copy of any of the forms <a href="#forms">download them below</a>.
        </p>
        <p>
            If for any reason you choose not to send your child to camp, complete only
            the <a href="https://drive.google.com/open?id=19u9F2JBdMES0vdM0jJvdzOz8JebxzBQH" target="_blank">“Not Attend Camp” form</a>
            and return it no later than 10/16/19. The Pattengill staff will make classroom arrangements for your child in school during the days of camp.
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Cost & Payment</h2>
        <p>The total cost of camp is $170 per student. Payment is due in full by 10/16/19.</p>

        <div class="row">

            <div class="col-sm-6 ">
                <p>
                    <strong>If Paying By Check</strong><br />
                    Make your check out to Bryant/Pattengill PTO and in the memo section write 5th Grade Camp and your student’s first and last name.
                </p>
                <p>
                    <strong>If Paying By CASH</strong><br />
                    Your student must take cash directly to the office to submit payment and obtain a receipt.
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <strong>If Paying By PayPal</strong>

                    <ol>
                        <li>Select payment amount</li>
                        <li>Enter your student’s first and last name in the student name field</li>
                        <li>Select the Buy Now button to access PayPal’s secure online site to make payment</li>
                        <li><span class="highlight">Print out your PayPal receipt and include with your student’s packet</span></li>
                    </ol>
                </p>

                <div style="background-color: aliceblue; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="MJ8HYK4ZAP8FY">
                        <table>
                            <tr><td><input type="hidden" name="on0" value="Payment Amount">Payment Amount</td></tr>
                            <tr>
                                <td>
                                    <select name="os0">
                                        <option value="Full Payment">Full Payment $170.00 USD</option>
                                        <option value="Partial Payment (1/2)">Partial Payment (1/2) $85.00 USD</option>
                                        <option value="Partial Payment (1/3)">Partial Payment (1/3) $56.67 USD</option>
                                        <option value="Partial Payment (1/4)">Partial Payment (1/4) $42.50 USD</option>
                                        <option value="Partial Payment (1/5)">Partial Payment (1/5) $34.00 USD</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td><input type="hidden" name="on1" value="Student's Name">Student's Name</td></tr>
                            <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>


        </div>
        <div class="row" style="margin-top:20px;">
            <p>
                <strong>
                    No refunds will be issued without proof of payment.  The last day to obtain a full refund for ANY REASON is October 30th.
                    Absolutely no refunds will be given for any campers who get on the bus and attend any or all of camp.
                </strong>
            </p>
        </div>
    </div>





</div>


<hr />



<div class="row">

    <div class="col-sm-offset-2 col-sm-8">
        <h2 id="forms">Documents &amp; Forms</h2>
        <h3>Information for you to keep</h3>
        <ul>
            <li><a href="https://drive.google.com/open?id=1w91YYHBQJl_fUzV0c_gO9-MLEXmr8oXr" target="_blank" rel="noopener">Camp Packet Letter 2019</a></li>
            <li><a href="https://drive.google.com/open?id=1HSDWYB9dRPJIGvUxUqtnNiHh0r0eFTg2" target="_blank" rel="noopener">Packing list-What to bring to camp</a></li>
            <li>Howell Nature Center Website: <a href="https://www.howellnaturecenter.org" target="_blank" rel="noopener">https://www.howellnaturecenter.org</a></li>
            <li>5th Grade Camp Website: <a href="https://bryantpattengill.org/5th-grade-camp/" target="_blank" rel="noopener">https://bryantpattengill.org/5th-grade-camp/</a></li>
            <li><a href="https://drive.google.com/open?id=1dJhvjM2ieqkqZenF5jZl9T2nYvKMOcsX" target="_blank" rel="noopener">Checklist for 5th Grade Camp Forms</a></li>
            <li><a href="https://drive.google.com/open?id=1PEDJ8i3f454U1lFry5k2I7bM-nXeKC-V" target="_blank" rel="noopener">AAPS Medication Administration Form</a> (submit with medication if child needs any at camp)</li>
            <li><a href="https://drive.google.com/open?id=1em_8BVWSAd6AMtcTjEbr70v45UttEM2f" target="_blank" rel="noopener">Directions - Pattengill Elementary School to Howell Nature Center - Google Maps</a></li>
        </ul>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">IF YOUR CHILD IS ATTENDING CAMP</h4>
            <p>Return completed forms, $170 check payment or PayPal receipt, in envelope (with student's name and teacher) to child's teacher by 10/16/2019.</p>
            <hr />
            <ul>
                <li>AAPS Permission Form (not available at this time)</li>
                <li><a href="https://drive.google.com/open?id=1UT-y7UbsrvG_UH9S947_rr8H22WN3doP" target="_blank" rel="noopener">AAPS Health Information Form</a></li>


                <li><a href="https://drive.google.com/open?id=1J0zIjuAEtEz0Ey7Ju6THY6_80QAtrXc0" target="_blank" rel="noopener">Howell Nature Center Rules</a></li>
                <li><a href="https://drive.google.com/open?id=1xCElfeIDx1lrRpMgfllqn3_xb8RdGMUj" target="_blank" rel="noopener">Howell Nature Center Health History &amp; Release Form</a></li>
                <li><a href="https://drive.google.com/open?id=1pNYrLrVQcBo9qFeHVdUUXEeOZds5-W7M" target="_blank" rel="noopener">Howell Nature Center Agreement to Participate for Minors</a> (parent &amp; student reads and signs)</li>

                <li><a href="https://drive.google.com/open?id=1Nu-GPi9gNphoT6i0wlISCYbhbeXWCU-l" target="_blank" rel="noopener">Pattengill Elementary Discipline Protocol</a>(parent &amp; student reads and signs)</li>

                <li><a href="https://drive.google.com/open?id=1TDashTnZrGBZRX8X8rD81JsxvJaLmLKN" target="_blank" rel="noopener">Dietary &amp; T-Shirt form 2019</a></li>

                <li><a href="https://drive.google.com/open?id=1116_SJ84qZoSEU4e9etimgdjNu0-wGVE" target="_blank" rel="noopener">Chaperone Application-Interest form</a> (for parents interested in chaperoning)</li>

                <li><a href="https://drive.google.com/open?id=1kaT1tMXzSARqvqKdkU9u11B3eAQqJ09N" target="_blank" rel="noopener">Scholarship Application 2019</a> (if applying)</li>
            </ul>
        </div>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">If your child IS NOT attending camp</h4>
            <p>Return completed "<a href="https://drive.google.com/open?id=19u9F2JBdMES0vdM0jJvdzOz8JebxzBQH" target="_blank" rel="noopener">Not Attending Camp form</a>" in envelope (with student's name and teacher) to child's teacher by 10/16/2019.</p>

        </div>
    </div>

</div>

<hr />

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <h2 id="map">Map</h2>

        <center><iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d188518.50925996213!2d-83.95331374129704!3d42.41492565744125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x883caf0750112a89%3A0xbf13e2a9d361dc95!2sPattengill%20Elementary%20School%2C%20Crestland%20Drive%2C%20Ann%20Arbor%2C%20MI!3m2!1d42.2553705!2d-83.7195887!4m5!1s0x882337dced5aaa5f%3A0xab37b9362f797e3e!2sHowell%20Nature%20Center%2C%201005%20Triangle%20Lake%20Rd%2C%20Howell%2C%20MI%2048843!3m2!1d42.5243052!2d-83.9506531!5e0!3m2!1sen!2sus!4v1568270763228!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></center>
    </div>

</div>





