﻿@{
    ViewData["Title"] = "Girl Scouts";
}


<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>Girl Scouts</h1>

        <p>Parent/Informational Meeting<br />
        Thursday, October 19, 2017<br />
        5:30-6:30pm<br />
        Pattengill Art Room
        </p>

        <p class="text-left">Girl Scouts Parent/Information Meeting on October 19: Do you have a Go-getter, Innovator, Risk-taker, Leader <strong>(in grades K-5)</strong> that is interested in camping, developing a strong sense of self or seeks challenges and adventure? Then the Girl Scouts may be for her! We are hosting a parent/informational meeting on Thursday, October 19th from 5:30-6:30pm in the Pattengill Art Room. This meeting is for parents and their daughters. If you have any questions or can not make the meeting but are still interested, please contact Carmen Atkins <a href="mailto:atcarmerlo3@gmail.com">atcarmerlo3@gmail.com</a></p>
    </div>
</div>
