﻿<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>Bryant-Pattengill Ice Cream Social</h1>

        <div class="row">
            <div class="col-sm-3 col-xs-5">
                <p><img class="text-center img-responsive" style="max-height:300px;" src="http://bryantpattengill.org/wp-content/uploads/2017/04/ICS-logo-color.png" alt="Bryant Pattengill Ice Cream Social" /></p>
            </div>
            <div class="col-sm-8">
                <p style="text-align: center;">
                    <strong>Friday, May 17th, 2019</strong><br />
                    <strong>6:00-8:30PM @@ Pattengill</strong>
                </p>

                <hr />

                <p style="text-align:left">
                    <strong>ONLINE SILENT AUCTION PREVIEW & LIMITED BIDDING.</strong> Preview ALL of our prizes online check out our <strong>new online only bidding for 10 premium items</strong>. <i>Prefer the old fashioned paper and pen?</i> <strong>Bid on 40+ more items at the event.</strong>  Either way, be sure to check out our website at: <a href="https://www.32auctions.com/BryantPattengill2019" target="_blank">https://www.32auctions.com/BryantPattengill2019</a> for a listing of all our fabulous Silent Auction prizes including 2 Georgetown Memberships, trips to Chicago and Mackinaw Island, gift cards, events, experiences, and much, much more!  <strong>Online-only auction items opened for bidding on Monday and will continue until 7:45pm on Friday.</strong>  <a href="https://drive.google.com/file/d/1H6bg3RWyCn239HKRhds_nqXet1ayH-F0/view?usp=sharing" target="_blank">Click here</a> for more auction information.

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <strong>Don’t forget about our equally amazing RAFFLE</strong> at the Ice Cream Social! Prizes include a <strong>128g iPad, a $225 Amazon card, Unicorn and Minecraft toys, or even a $100 bill!</strong> <a href="https://docs.google.com/spreadsheets/d/1VG98dsegLE7iLnBRe8QIrsjd4uZyWEYu7gMWOhlj_X0/edit?usp=sharing" target="_blank">Click here</a> for a listing of raffle prizes. Silent Auction or Raffle Questions? Contact Anna Hoffman at <a href="mailto:hoffmanannac@gmail.com">hoffmanannac@gmail.com</a>
                </p>
                @*<p class="text-left">Ice Cream Social is our schools' biggest, family-favorite FUNdraiser&mdash;be sure to join the fun on <strong>Friday, May 17, 6-8:30pm at Pattengill</strong>, rain or shine! Visit Pattengill's Media Center during the event to check out over <a href="https://docs.google.com/spreadsheets/d/13iDON1jsJ2gdFHj7pRPszv76aa8XnlhiTfBV36vv8sU/edit?usp=sharing" target="_blank">100 prizes, worth $15,000</a>, that will be featured in the Ice Cream Social raffle &amp; silent auction.</p>
                <p class="text-left">Bidding will be open from 6-7:50pm (silent auction bidding will close in two shifts: one group of prizes at 7:40pm, and the second at 7:50pm). Winners will be announced soon after bidding ends. Winners do not need to be present to win.</p>
                <p class="text-left">See you there!</p>*@
            </div>
        </div>
        @*<strong>This is our schools’ largest FUNdraiser, so be sure to check out <a href="https://docs.google.com/spreadsheets/d/1zDzyy91Nokf9jH8L1UdQVxdAql-BTtaxA4tbv74sljE/edit#gid=0" target="_blank" rel="noopener noreferrer">all the terrific raffle and silent auction prizes</a> available at the event.</strong></p>

            <hr />

            <h2>Will You Be a Lucky Winner</h2>
            Over 100 prizes worth $14,000 will be featured at Ice Cream Social. What will you bid on, to support our schools? Bidding will be open from 6:00-7:45pm the night of the event. Winners will be announced soon after bidding closes. Winners need not be present to win.</p>

            Tickets at the event will be $1 each for raffle, food, and games. Pre-sale tickets will be available in discounted packages from order forms coming home in your child's backpack and at Lunch With a Loved One (Monday, May 15 at Pattengill and Tuesday, May 16 at Bryant).</p>

            <hr />

            <h2>Activities</h2>
            <ul>
                <li>XL Inflatable Obstacle Course &amp; Rock Wall</li>
                <li>Inflatable Bounce Houses</li>
                <li>Soccer Shoot-Out</li>
                <li>Lollipop Tree</li>
                <li>Putt-Putt Golf</li>
                <li>Basketball Mini Hoops</li>
                <li>Revel &amp; Roll Games</li>
                <li>Karaoke</li>
                <li>Cake Walk</li>
                <li>Face Painting</li>
                <li>Prizes &amp; More</li>
            </ul>

            <hr />

            <h2>Food</h2>
            <ul>
                <li>Pizza</li>
                <li>Drinks</li>
                <li>Bagged Snacks</li>
                <li>Baked Goods</li>
                <li>Popsicles</li>
                <li>Dairy Queen novelties</li>
                <li>Cherry Bee’s Frozen Yogurt</li>
            </ul>

            <hr />

            <h3 style="text-align: center;"><strong>Donors &amp; Sponsors</strong></h3>
            <a href="http://bryantpattengill.org/wp-content/uploads/2017/04/donors-and-sponsors-2.png"><img class="aligncenter size-full wp-image-2447" src="http://bryantpattengill.org/wp-content/uploads/2017/04/donors-and-sponsors-2.png" alt="donors and sponsors" width="800" height="2300" /></a>

            Abracadabra
            Ann Arbor Art Center
            Ann Arbor Aviation Center
            Ann Arbor Hands-On Museum
            Ann Arbor Ice Cube
            Arbor Dog Daycare
            Balance Point Fitness
            Bear Claw
            Beaupre Family
            Biercamp Artisan Meats
            Big George's Home Appliance Mart
            Bivouac
            Brady Family
            Bravo! Cucina Italiana
            Bricks 4 Kidz
            Cherry Republic
            Chipotle
            CoachMeFit
            Costco
            Cottage Inn
            Detroit Institute of Art
            Douglas J. Salon
            Downtown Home and Garden
            eat Restaurant
            Edible Arrangements
            Family Donation Drive
            Five Monkeys Bakery
            Georgetown Country Club
            Good Time Charley's
            Groom 'N Go
            Homestead Commons
            Hopper's Houses
            In Touch Therapeutic Massage
            Lake Forest Golf Club
            Laramore-Josey Family
            Leslie Science and Nature Center
            Lewis Jeweler
            MDen
            Meijer
            Michigan Science Center
            Miles of Golf
            Mill Creek Town Homes
            Noodles &amp; Co.
            Pet Emporium
            Piada
            Pinball Pete's
            PKSA Karate Ann Arbor
            Play It Again Sports
            Purple Rose Theatre
            Revel &amp; Roll
            Roosroast
            Ruth's Chris Steakhouse
            Session Room
            Shee Family
            Skyzone Trampoline Park
            Splash Universe
            Sprouting Chefs
            Teeter Family
            Teeter Family
            The Henry Ford
            Trader Joe's
            VKitchen
            Walt Disney World
            Wide World Sports Center
            Wine Castle
            Zap Zone
            zoey + joey Hair Studio + Boutique

            <hr />*@



    </div>
</div>
