﻿@model List<BryantPattengillOrg.Models.Events.Event>
@using BryantPattengillOrg.Models.Events;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = $"Events";
    ViewData["MetaDescription"] = $"Bryant Pattengill Events";

}


<h1>Events</h1>


<hr />


<h2 id="upcoming">All Upcoming Events</h2>

<table class="table table-striped hidden-xs">
    <thead>
        <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Time</th>
            <th>Event</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var upcomingEvent in Model)
        {
            <tr>
                <td>@upcomingEvent.WeekDayRange</td>
                <td nowrap>@upcomingEvent.DateRange</td>
                <td nowrap>@upcomingEvent.TimeRange</td>
                <td>
                    @if (upcomingEvent.IsUrl)
                    {
                        <a href="@upcomingEvent.Url" target="_blank">@upcomingEvent.Title</a>
                    }
                    else
                    {
                        @upcomingEvent.Title
                    }
                    
                <div><small>@upcomingEvent.ShortDescription</small></div>
                </td>
                <td>
                    @if (upcomingEvent.IsLocation)
                    {
                        @upcomingEvent.Location
                    }
                </td>

            </tr>
        }

    </tbody>
</table>


<div class="table table-striped hidden-sm hidden-md hidden-lg hidden-print">

    @await Html.PartialAsync("_EventsPartial", Model)

</div>


<hr />


<h2 id="volunteer">Volunteer</h2>

<p>We sure could use your help at events!</p>
<p>Each year, the PTO hosts several fun, educational activities for our students and families. It takes a little help from our entire Bryant/Pattengill family to make these events a success. </p>
<p><a href="https://docs.google.com/spreadsheets/d/18p0HhjOCqvzr6JHn4HRKYOAryhQt6MicmvcADyZdq_I/edit?usp=sharing" target="_blank" class="btn btn-default btn-lg">2019-20 Volunteer Sign-up Form</a></p>

<hr />

<h2 id="calendar">Printable PTO Calendar</h2>

<p>The following Google Doc does not include all events listed on this website.</p>

<p><a class="btn btn-lg btn-default" href="https://docs.google.com/document/d/1h6uhDVBSe1C-sVzyILtwUgYKI06jOVXDuEvIbvC_FsI/edit?usp=sharing" target="_blank">2019-20 PTO Calendar</a></p>

<hr />