﻿@model List<BryantPattengillOrg.Models.Events.Event>
@using BryantPattengillOrg.Models.Events;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = $"Events";
    ViewData["MetaDescription"] = $"Bryant Pattengill Events";

}


<h1>Events</h1>

<hr />
<h2 id="volunteer">Volunteer</h2>

<p>We sure could use your help at events!</p>
<p>Each year, the PTO hosts several fun, educational activities for our students and families. It takes a little help from our entire Bryant/Pattengill family to make these events a success. </p>
<p><a href="https://docs.google.com/spreadsheets/d/199wEIVyPeoK0a7N25I60CuTxpz8jh3CAlvqR3Bu_G_A/edit?usp=sharing" target="_blank" class="btn btn-default btn-lg">2017-18 Volunteer Sign-up Form</a></p>

<hr />


<h2 id="upcoming">Upcoming Events</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Time</th>
            <th>Event</th>
            <th>Location</th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var upcomingEvent in Model)
        {
            <tr>
                <td>@upcomingEvent.WeekDayRange</td>
                <td>@upcomingEvent.DateRange</td>
                <td>@upcomingEvent.TimeRange</td>
                <td>
                    @if (upcomingEvent.IsUrl)
                    {
                        <a href="@upcomingEvent.Url">@upcomingEvent.Title</a>
                    }
                    else
                    {
                        @upcomingEvent.Title
                    }

                <br /><small>@upcomingEvent.ShortDescription</small></td>
                <td>@upcomingEvent.Location</td>

            </tr>
        }

    </tbody>
</table>
<hr />


<h2 id="calendar">Calendar</h2>

<p>The latest calendar is managed as a google doc. Click the following link to view.</p>

<p><a href="https://docs.google.com/document/d/1-qCsM2OJNQCo4_GaGAqmq5Sf4Dk5wDmqNVzIqW8h1pc/edit?usp=sharing" target="_blank">View Complete 2017/18 Calendar</a></p>

<hr />