﻿@{ 
    ViewData["Title"] = "Bryant-Pattengill International Festival";
}



<h1>Bryant-Pattengill International Festival</h1>

<p>
    April 29, 2019<br />
    6:30-8 pm<br />
    Pattengill Elementary
</p>


@*<p>This wonderful event showcases our school community’s rich diversity. This year’s theme is "<strong>World Art and Culture Tour</strong>."</p>

<p>Please consider not only attending, but possibly volunteering as well - visit the <a href="https://docs.google.com/spreadsheets/d/199wEIVyPeoK0a7N25I60CuTxpz8jh3CAlvqR3Bu_G_A/edit#gid=22" target="_blank">sign-up sheet here</a> to help out where you can!

<p>Would your child like to participate in the fashion show? Can you bring a dish from another country or help with one of our many activity stations?
<p>We look forward to celebrating our diversity together as one commUNITY!
<p style="text-align: center;"><a href="https://docs.google.com/spreadsheets/d/199wEIVyPeoK0a7N25I60CuTxpz8jh3CAlvqR3Bu_G_A/edit#gid=22" target="_blank" class="btn btn-lg btn-default">Signup Sheet</a></p>


<hr />*@

<h2>History of the International Festival</h2>
<p>For many years, Bryant has hosted the largest annual International Festival in the district. Festivities included an <strong>International Fashion Show</strong> featuring the diversity of our students, an <strong>International Food Court</strong> offering foods from all over the world prepared by our families, <strong>souvenir T-shirt</strong> sales featuring an original T-shirt design created by a Bryant student via a school- wide art competition, a <strong>raffle of prizes</strong> donated by local businesses, and <strong>displays of many countries that classroom teachers and students research</strong> and showcase.</p>

<p>
    Families “tour the world” at Bryant by visiting each country displayed in or in front of the classrooms and they get a stamp in their passport (provided at the fest) that shows they traveled to that country.</p>

<p>
    <a href="/wp-content/uploads/2015/04/flags.jpg"><img src="/wp-content/uploads/2015/04/flags.jpg" alt="flags" class="img-responsive"/></a>
</p>

<p>
    Proceeds from the sales of T-shirts and raffle tickets support all students because all profits go to the PTO.
</p>

<p>
    The International Festival Committee is comprised of teachers. The committee plans the festival, solicits donations of prizes for the raffle, oversees the fashion show, coordinates the art competition for the T-shirt design and has the T-shirts mass produced for selling, and designs and produces the passports. Classroom teachers work hard helping students to research their chosen country and to create projects and displays that depict important facts about their country.
</p>

<p>
    More recently, the festival changed from being an annual event hosted by Bryant alone to becoming a biannual event. In spring of 2012, Bryant did not host the festival. Instead, Pattengill started hosting the International Festival and recreated it slightly. There is still an international Food Court and an International Fashion Show, but Pattengill does no raffle of prizes and no T-shirt sales. Instead there is an International Talent Show featuring student performances of a cultural nature and like the Bryant festival, classrooms research and display information about a chosen country. The two sister schools began to take turns hosting the event starting in 2012 when Pattengill hosted it for the first time. Now, Bryant hosts the event in odd numbered years and Pattengill hosts it in the even numbered years. Next year in 2016, Pattengill will once again host the smaller version of the International Festival in spring. Hence, the festival now alternates between Bryant and Pattengill each spring.
</p>

<p>
    The International Festival is always a huge success in all ways intended. It is great educational fun for the students and families. It is a chance for our community to come together and learn about each other as we share our pride in our rich and wonderful diversity. In doing so, we celebrate that rich diversity.
</p>

<p>
    Additionally, this event showcases the best not just of our Bryant/Pattengill community, but also the best of staff and PTO. They are a team. Historically, any sales from Bryant’s festivals make ample monetary profits for PTO and PTO supports the costs incurred to put on the festival.
</p>

<p>Our wonderful staff works tirelessly and goes above and beyond for the children and our wonderful PTO works tirelessly and goes above and beyond for the children. In doing so, and on behalf of the children, both staff and PTO show their mutual support, respect, and gratitude for each other. It's the perfect team work.</p>
