﻿@{
    ViewData["Title"] = "Family Movie Night";
}


<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>Family Movie Night</h1>
        <p>
            Friday, October 19th, 2018<br />
            Bryant Gym
        </p>

        @*<p class="text-left">We are looking for people to volunteer for the Bryant/Pattengill Movie Night.  We have a Sign-Up Genius <a href="http://www.signupgenius.com/go/8050944a9a922a64-movie1" target="_blank">Movie Night Sign up</a> for anyone interested in helping out for that night.  If anyone has questions, they can e-mail Shannon Link at <a href="mailto:smlink@comcast.net">smlink@comcast.net</a></p>*@
  
    </div>
</div>
