﻿@{
    ViewData["Title"] = "Parent Lending Library";
}


<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>Parent Lending Library</h1>
        <p>
            Wednesdays beginning October 4 from 8:30am-5:30pm.
        </p>

        <p class="text-left">This free service is offered to all Bryant and Pattengill families. The books will be displayed at Bryant. The parents can pick 2 to 3 books at their child’s reading level. The students can practice reading the books and return them the following week and get more books. You can also return the books to your child’s teacher. The parent lending library is open only on Wednesdays beginning October 4 from 8:30am- 5:30pm.  It is located in the main lobby of the school. You can ask your child’s teacher for the level or use your child’s raz kid’s reading level to choose the books. Questions, please contact Mrs. Lemke-<a href="mailto:lemkec@a2schools.org">lemkec@a2schools.org</a></p>
    </div>
</div>
