﻿@{
    ViewData["Title"] = "Read-A-Thon";
}

<div class="row">

    <div class="col-sm-12">
        <img id="top" src="/wp-content/uploads/2014/12/cropped-IMG_4652.jpg" class="img-responsive img-rounded" />
    </div>

</div>

<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>Read-A-Thon</h1>

        <p class="text-left"><p>Welcome to our annual PTO fundraiser—the Bryant/Pattengill Read-A-Thon.</p>

        

        <p><img class="alignnone size-full wp-image-1924" src="/wp-content/uploads/2015/02/read-a-thon.jpg" alt="read-a-thon" width="208" height="144" /></p>
    </div>
</div>

<hr />
<div class="row">

    <div class="col-sm-4">

        <h2>Read-A-Thon Donation</h2>

        <p>Support your student’s reading with a donation to the Bryant/Pattengill Read-A-Thon winter fundraiser!</p>
        <div class="text-center">
            <form style="margin-top:30px;margin-bottom:30px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="MGLYPGXAKD42C">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <!-- https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MGLYPGXAKD42C -->

        <p>
            During PayPal payment, you'll be able to honor a particular student by name.
        </p>

        <hr />

        <p>
            <h2>Important 2019 Dates</h2>
            <table class="table">
                <tr>
                    <td class="text-left"><strong>Fri, March 1:</strong> Read-A-Thon begins</td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Wed, March 13:</strong> Last day to read for raffle tickets</td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Fri, March 15:</strong> Last day to turn in raffle tickets</td>
                </tr>
                <tr>
                    <td class="text-left"><strong>Fri, March 22:</strong> All sponsor money due</td>
                </tr>
            </table>


        </p>

        @*<hr />

        <h2>Questions?</h2>
        <p>Please contact us at <a href="mailto:readathon@bryantpattengill.org" target="_blank">readathon@bryantpattengill.org</a> or your classroom teacher with any questions.</p>*@

        <hr class="hidden-sm hidden-md hidden-lg" />
    </div>

    <div class="col-sm-8">


        <h2>About Read-A-Thon</h2>

        <p>Welcome to our annual winter PTO fundraiser, the <strong>Bryant/Pattengill Read-A-Thon!</strong></p>

        <p>
            Rather than selling products to raise money, our students get to focus on READING – a win-
            win for our students and schools! Students will track their time spent reading (or being read
            to) to strive for a medal, win raffle prizes, and raise funds for our schools.
        </p>

        <p>
            During Read-A-Thon days, your child should read as much as possible. Time spent reading
            <strong>BY</strong> parents/guardians/volunteers <strong>TO</strong> your child counts as well. For <i>Bryant</i> students, every
            15 minutes of reading earns a raffle ticket. <i>Pattengill</i> students must read a <strong>1/2 hour</strong> to
            earn a raffle ticket. Each ticket must be signed by an adult and returned to school, to be
            counted.
        </p>

        <p>
            A raffle prize drawing will take place each day during Read-A-Thon. Some days feature
            double and triple drawings, so keep an eye on the <a href="#calendar"><strong>Read-A-Thon calendar!</strong></a> Time spent
            reading also counts toward earning a Read-A-Thon medal. See the <a href="#prizes">
                <strong>
                    Read-A-Thon prize
                    sheet
                </strong>
            </a> to learn what it takes to earn a bronze, silver, or gold medal! All participating
            students will receive a pencil.
        </p>

        <p>
            Raising money for our schools is an important part of Read-A-Thon. Please ask your family
            and friends to pledge money for the minutes your child spends reading. DO NOT allow your
            child to ask strangers.
        </p>

        <p>
            Funds raised through Read-A-Thon help the PTO to provide classroom supplies and
            equipment, field trips, and fun and educational school events for students and families.
        </p>
        <p>
            Have a Read-A-Thon question? Please contact
            <a href="mailto:readathon@bryantpattengill.org">readathon@bryantpattengill.org</a> or your
            classroom teacher. Thank you for helping your child participate in the Read-A-Thon
            winter fundraiser!
        </p>
    </div>

</div>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h2>Important Documents (updated March 2019)</h2>
        <p>Your student will be bringing home all of the following documents during Read-A-Thon. Feel free to print any additional copies you may need, from the links below:</p>

        <div class="row">
            <div class="col-sm-6">
                <p id="tickets"><strong>Daily Reading Raffle Tickets</strong></p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1Qt1VPZGv66p4gZa0DAWAtl6Emw978kRu" target="_blank">بطاقة السحب للقراءة اليومية (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=1t6AaRMTqHepKSYgvjsewdH3thpoRd0No" target="_blank">日常阅读抽奖券 (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=1x66rr_2IQng6n8DLJyej7Cjovg6KXaQ9" target="_blank">Daily Reading Raffle Tickets (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1x7CEX4Iyw2mQGXCX7eYOVJ_oDVELKm8e" target="_blank">Tiquete De Lectura Diaria (Spanish)</a></li>
                </ul>
                <p id="letter"><strong>Letter to Families</strong></p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1WBDCVOBxsLcsH1fz9GRsmXSSsI5GdwVB" target="_blank">Letter to Families (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=13YzobFGWn0VSFW1E81JxQyAxy9IeQAzi" target="_blank">Letter to Families (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=1B_Zd72dbQu-srdw34n9EWajCis1zG_zx" target="_blank">Letter to Families (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1pCGpBWar4nMkbmlEnwLheGeBuyes6oNj" target="_blank">Letter to Families (Spanish)</a></li>
                </ul>
                <p id="prizes">
                    <strong>Prize Sheet</strong><br />(each time your child reads, fill out the number of tickets he/she
                    earned, and turn in tickets daily)
                </p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1h8sZxW23yt_l4QRgfzjW0QURNN2t6tyM" target="_blank">ورقة الجوائز (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=1X91uX2tdWq3Tm8MAjsUK-KKvJo-rWMOo" target="_blank">“阅读马拉松比赛”奖项表 (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=1NVaXKhto6ccK7UZtG6KXotagO4iXTFht" target="_blank">Prize Sheet (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1Pl18cFHcre4e9YcYU73esEfCmgUQqZKI" target="_blank">Hoja de Premios (Spanish)</a></li>
                </ul>
                <p id="calendar"><strong>Read-a-thon Calendar</strong></p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1KoFFQB0XUZO2ljCyEhJE5DviODdlGO_x" target="_blank">Read-a-thon Calendar (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=1iGHy-1eHlqkL6NbtrvSqTd6ktQAj0-9c" target="_blank">Read-a-thon Calendar (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=17DnNTYf-a4C4ijvgEocs5YXrrGyyxr2R" target="_blank">Read-a-thon Calendar (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1wpcTIA8VE-2VErerE4pPHDeYWGpDWuLi" target="_blank">Read-a-thon Calendar (Spanish)</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <p id="sponsor"><strong>Sponsor Letter</strong><br />(for use obtaining sponsors)</p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1PYGN2BRqtwCtSCyZ45qyunPXxQanximp" target="_blank">رسالة الراعي (تستخدم من قبل الراعي) (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=19PyiehzG1fUiq7DZxXkd_0ZyHe_m7oVE" target="_blank">募捐信（用于争取捐助者） (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=1AN45vL88uL0nS0d7UBI0nPibxaGvxbcb" target="_blank">Sponsor Letter (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1BgfG3BdBW1uJK0Zx4NLd1NXQhXkW_3Ie" target="_blank">Carta de patrocinador (Spanish)</a></li>
                </ul>
                <p id="reminder"><strong>Sponsorship Reminder</strong><br />(to record sponsors and track money collection)</p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1v7agQc90CURNsPIFurPHFdNqmdYwSTHj" target="_blank">للتذكير (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=1nAHadhvnbRGi70jgFAiRzErLOk19KSie" target="_blank">温馨提示 (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=1P8Fq3411Rvz7V6h5YIaX_1bS3TA-_8nF" target="_blank">Sponsorship Reminder (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1sv1pZjHPkXZVHPWrsZxl7DtmOIIhMi50" target="_blank">Recordatorio (Spanish)</a></li>
                </ul>
                <p><strong>Student Sponsor Record</strong></p>
                <ul>
                    <li><a href="https://drive.google.com/open?id=1MykMMeliczA-qe7vJK1bBAMKLWGnM8Fy" target="_blank">ملف كفيل الطالب (Arabic)</a></li>
                    <li><a href="https://drive.google.com/open?id=1O9-hluYIyHDmeW8hoX893_2_1V3owV1w" target="_blank">学生募捐记录 (Chinese)</a></li>
                    <li><a href="https://drive.google.com/open?id=15XWoSolVjcIuHWl0IJw6sDltLRucByJO" target="_blank">Student Sponsor Record (English)</a></li>
                    <li><a href="https://drive.google.com/open?id=1R7K0_TdtJvkfUHtY8nf4Q9fu2zyDymYq" target="_blank">Registro de los patrocinadores del estudiante (Spanish)</a></li>
                </ul>
            </div>
        </div>
    </div>







</div>