﻿@{

    ViewData["Title"] = "Science Olympiad";
}



<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1>Science Olympiad</h1>
        <p><img src="/wp-content/uploads/2015/12/scienceolympiad.jpg" /></p>



        <p><a href="/events/science-olympiad/history-of-weso" class="btn btn-lg btn-default" target="_blank">Our History</a></p>


        <p><a href="https://sites.google.com/a/bryantpattengill.org/bryant-pattengill-science-olympiad/home" class="btn btn-lg btn-default" target="_blank">Bryant Pattengill Science Olympiad Website</a></p>

    </div>
</div>