﻿@{
    ViewData["Title"] = "History of Washtenaw Elementary Science Olympiad";
}

<div class="row">

    <div class="col-sm-5">
       
    </div>

</div>


<h1>History of Washtenaw Elementary Science Olympiad</h1>

<div class="row">
    <div class="col-sm-3">
        <p><img src="/wp-content/uploads/2015/12/scienceolympiad.jpg" alt="scienceolympiad" class="img-responsive" /></p>

    </div>
    <div class="col-sm-7">
        
        <p>On a busy Saturday in May, thousands of elementary students, along with their parents and coaches, take over Pioneer High School, crowding the cafeteria with nerves and excitement, flooding the gym with cheering and stomping, and filling the classrooms with the serious business that brings them there. That business is the Washtenaw Elementary Science Olympiad (WESO) Tournament, the largest elementary event in the nationwide organization of Science Olympiad programs.</p>

        <p>And where did WESO, which has grown to incorporate every Ann Arbor public elementary, as well as a host of neighboring districts, charter, parochial, and private schools, begin? At our very own Pattengill Elementary.</p>
        <p><img id="top" src="/wp-content/uploads/2016/05/so_stage3.jpg" class="img-responsive img-rounded" /></p>
        <p>In the early 2000’s, Ann Arbor teacher Dee Vayda took an interest in establishing a Science Olympiad program in Washtenaw County, having seen her son take part in the program in Lenawee County, Michigan. She felt that Science Olympiad would be successful in Ann Arbor and was excited by the idea. Unfortunately, she could not convince her then-principal of the benefits of the program. A few years later, however, Vayda transferred to Pattengill Elementary, where it turned out that her new principal, Bob Galardi, was intrigued by Vayda's description.  He visited the Lenawee County competition that year and came away convinced that Science Olympiad could be a success in Ann Arbor as well.</p>

        <p>Armed with Galardi's approval and an operating budget from the Bryant/Pattengill PTO, Vayda set to work finding participants for the first year's pilot program. She looked to neighboring organizations for help, including the program in Macomb County, which was running a successful Science Olympiad competition (the first in the state). Vayda convinced the organizer to let Pattengill students participate in the Macomb competition temporarily, until Washtenaw County could get its own program off the ground. That first year, Pattengill students worked and trained in Ann Arbor, but traveled to the Macomb Community College to take part in the tournament. </p>

        <p>After this successful first year of participation, Vayda accompanied a number of her pioneering Science Olympiad students to an Ann Arbor School Board meeting to demonstrate their projects and skills. They impressed board members and administrators so much that they came away from the meeting with a commitment from the district to support the development of the Science Olympiad program in Washtenaw County. </p>

        <p>District-level support, during just its second year of existence, enabled Washtenaw County's new Science Olympiad program to host its very first tournament. The inaugural competition included several other Ann Arbor elementary schools, and it transformed Pattengill Elementary into the first WESO tournament site. In Pattengill's A wing, the classrooms became team headquarters, while the B wing provided the rooms in which the individual events were held. The cafeteria, used throughout the competition to give parents a place to congregate, hosted the first WESO awards ceremony.</p>

        <p>It was in this first year of the tournament that Pattengill parent Susan Blackburn coached a Science Olympiad team and watched her daughter participate in the new program. As with many of the parents and coaches from this early period, Blackburn became very passionate about Science Olympiad and continued to actively support it long after her daughter had aged out. She now serves as the president of the WESO board she helped establish.</p>

        <p>Blackburn explains that Science Olympiad caught on quickly in Washtenaw County and, after just a few years, had outgrown the facilities at Pattengill Elementary. The annual tournament moved to a larger space at Forsythe Middle School and the hosting of the competition was soon enlarged to include adjacent Wines Elementary. From there, the WESO tournament rapidly grew into larger facilities, Huron and Skyline High Schools, and eventually into Pioneer High School.</p>

        <p>While WESO drew its inspiration from the programs held in Lenawee and Macomb Counties, Vayda, Blackburn, and other early organizers deliberately created a unique model for Washtenaw County, one that was different from earlier versions and consistent with the values that still guide WESO today. For instance, the decision to divide students into same-grade categories for the competition was a departure from the Macomb County format, in which students from all grades competed against one another in each event. The WESO model, organizers hoped, would enable students to explore new events. Also, while only two students from each school and grade level can typically compete in a single event at the WESO tournament, early organizers created a model in which any number of interested students could train in various events. Unlike other Science Olympiad models, participation was open to everyone rather than limited to the most academically accelerated students. </p>

        <p>Although the annual tournament that brings the WESO participants together is certainly the most visible aspect of Science Olympiad, it's only one component of what makes the program special. The backbone of Science Olympiad can be seen in the months of preparation that precede that single Saturday in May. Volunteer coaches sign up to participate – many in fields far removed from their own areas of expertise – as early as September and begin meeting with students in February. Students typically spend an hour each week for four months learning about their topic, with many students choosing to take part in multiple topics. </p>

        <p>Encouraging this type of interest, in the opinion of this year’s Bryant/Pattengill Science Olympiad Coordinator, Jonathan Parker, is the real benefit of supporting Science Olympiad. Independent of the WESO competition, students spend their free time exploring science, technology, nature, and engineering, striving to understand and master their complexities. Developmentally, students at this age have a wide range of different abilities. Also, some of them already have their own doubts, fears, and misconceptions about how success is achieved. Parker believes that this type of personal science enrichment, outside the expectations of the classroom, can challenge the students’ own expectations and support their earned confidence.</p>

        <p>Pennelope Kunkle, mother to a current Pattengill 3rd grader, began coaching Disease Detectives the year her son started kindergarten at Bryant, two years before he was even eligible to participate. Why put so much time and effort into something her children could not benefit from yet? As with so many people who become involved with Science Olympiad, Kunkle attributes her motivation to the joy of watching the program spark an interest in science. Now in her fourth year of coaching, Kunkle recalls not only the children’s enjoyment in learning about disease symptoms, causes, and cures, but also their efforts at learning to work as a team.</p>

        <p>This cooperative element is a required aspect of Science Olympiad. Groups of students learn together for months, but in most events, they compete in the WESO tournament in pairs, with each school represented by only one pair for each grade and event. Helping students learn to value other group members’ strengths and depend on teammates is one of the most important aspects of participating in Science Olympiad.</p>

        <p>Even as the largest elementary Science Olympiad in the country, WESO continues to grow each year. In 2014, with the available hosting space at its maximum capacity, new schools were expressing interest in joining the program. Some of these were private schools and some were elementaries in districts outside Ann Arbor. All, though, were in Washtenaw County, and the WESO board recognized the importance of extending the benefits of participating in Science Olympiad to the students at these schools.</p>

        <p><img src="/wp-content/uploads/2016/05/so_stage2.jpg" alt="so_stage2" class="img-responsive img-rounded" /></p>

        <p>WESO board president Sue Blackburn explains that each year, the board takes on a large and meaningful issue to improve the access or sustainability of the Science Olympiad program. Three years ago, the board’s goal was to figure out how to include these new schools within the structural limits of the tournament. For the first year, several new schools competed in a separate tournament, giving them a smaller competitive field and allowing the WESO board additional time to work out the logistics of adding the new schools to the organization. The following year, these schools were fully integrated into the greater WESO program and other changes, such as separate awards ceremonies for each grade level, were established to accommodate the new competitors.</p>

        <p>The challenge of keeping WESO true to the program’s founding principles of access, inclusion, and cooperation is what motivates Blackburn to devote so much time to Science Olympiad even as her own children have progressed through college and beyond. Just as WESO initiated the changes that allowed many additional schools to participate in the program, the board is currently tackling the difficulties of equalizing participation across the schools involved in the competition. This includes working with coaches at schools that traditionally have lower participation rates to help them gain confidence in their ability to coach a wider range of topics. Blackburn explains that parents sometimes hesitate to volunteer to coach because they do not have professional or educational backgrounds in the topics. However, a parent does not need to be an epidemiologist, Blackburn points out, to be able to help elementary-aged students explore diseases; parents simply need to be willing to explore the topic alongside their students. That, by itself, is a powerful example.</p>

        <p>This year, WESO will be bigger than ever.  Bryant/Pattengill will see more than 75 students and 20 volunteer coaches, across 2nd through 5th grades, spend the spring learning about light, architecture, plants, outer space, momentum, aerodynamics, diseases, rockets, and chemistry. Our students, coaches, parents, teachers, and administrators are all taking part in the vibrant legacy of WESO’s founding in 2003 at our own Pattengill Elementary.</p>

        <p><img src="/wp-content/uploads/2016/05/so_test.jpg" alt="so_test" class="img-responsive img-rounded" /></p>

        <hr />

        <p><i>I would like to acknowledge Jonathan Parker for his invaluable feedback and contributions to this article, as well as Susan Beech, Pennelope Kunkle, and most especially Susan Blackburn and Dee Vayda for sharing their thoughts and memories of WESO .</i></p>

        <p>
            <i>

                Jennifer Nguyen,
            </i>
            <br /><i>VP for Pattengill of Bryant/Pattengill PTO</i>
        </p>

        <p><i>Written in April, 2016</i></p>

    </div>
</div>