﻿@{

    ViewData["Title"] = "Tech Night";
}
<div class="row">

    <div class="col-sm-12">
        <img id="top" src="/wp-content/uploads/2016/03/technight-header4.jpg" class="img-responsive" />
    </div>

</div>

<div class="row">

    <div class="col-sm-4 col-sm-offset-4 text-center">

        <h1>Tech Night @@ Bryant/Pattengill</h1>
        <p>
            Thursday, December 6th, 2018<br />
            6:00 p.m. - 7:30 p.m. Tech Night<br />
            Pattengill Elementary<br />
            Ann Arbor, Michigan
        </p>

        <p>Twitter <a href="https://twitter.com/hashtag/pattengilltechnight" target="_blank">#pattengilltechnight</a></p>


    </div>
</div>

<hr />


@*<div class="row">
    <div class="col-md-6">
        <h2>Project Lead The Way Robotics and Computer Programming</h2>
        <p>Location: B-Wing Hallway</p>
        <p>Presenters: Mrs. Dawson and students</p>
        <p>See and experience the STEM curriculum that Project Lead The Way Students have been a part of this year! 5th grade students will demonstrate the Robotics challenges they have been working on, including making their robots move autonomously with the use of a coding program. We will also be creating art with our robots, so come and see how Pattengill students are &ldquo;leading the way&rdquo; with the 21st Century skills of critical thinking and creativity!</p>
    </div>
    <div class="col-md-6">
        <h2>ILT</h2>
        <p>Location: Childcare Room</p>
        <p>Presenter: Mrs.Schreck and Student Helpers</p>
        <p>What is ILT? What happens when your child comes down to the library 1-3 times a week? &nbsp;Come and see how books, library skills, and technology come together. &nbsp;You&rsquo;ll have the opportunity for your child to show you his/her own projects in various stages of completion in his/her Google Account. &nbsp;Also, get information on logging into Google Accounts and Type to Learn from home!</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Assistive Technology</h2>
        <p>Location: Childcare Room</p>
        <p>Presenter: Mrs. Gildersleeve</p>
        <p>Stop in to learn more about Assistive Technology at Pattengill. Assistive technology (often abbreviated as AT) is any item, piece of equipment, software or product system that is used to increase, maintain or improve the functional capabilities of individuals with disabilities.</p>
        <br>
        <p> &nbsp;AT can be low tech such as: highlighter tape, reading strips. &nbsp;boards made of materials, fuzzy felt, fidgets, colored transparencies and more. Many of these items can be made right in the classroom or at home.</p>
        <p> &nbsp;AT can be high tech such as special purpose computers..</p>
        <p> &nbsp;AT can be computer hardware, like special switches, keyboards, and pointing devices.</p>
        <p> &nbsp;AT can be computer software such as screen-readers or communication software.</p>
        <p> &nbsp;AT can be inclusive or specialized learning materials and curriculum aids.</p>
        <p> &nbsp;AT is all of this and so much more!</p>
        <br>
        <p>Stop by and create your own low tech &ldquo;Make and Take&rdquo; items!</p>
    </div>

    <div class="col-md-6">
        <h2>Interactive Technology</h2>
        <p>Location: Childcare Room</p>
        <p>Presenter: Mrs. Leite</p>
        <p>Would you like to learn more about technology your student can easily access at home to support their learning? Stop by to learn more about Raz Kids, Epic!, IXL, and more. These programs are fun and encourage students to practice reading and math skills outside of school. Come learn more about them!</p>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>iMovies &amp; Dash N Dot</h2>
        <p>Location: Gym</p>
        <p>Presenters: &nbsp;Mrs. Blair and students</p>
        <p>Stop in to learn how to use your great photos and turn them into an iMovie to tell a great story. Also, learn how students use coding to control the robot Dash n Dot! Both activities are used to encourage students to integrate technology with math, reading, and writing skills.</p>
    </div>
    <div class="col-md-6">
        <h2>Adobe Spark</h2>
        <p>Location: Gym</p>
        <p>Presenter: Mrs. Embry and students </p>
        <p>Come learn how to share your inspirational thought or story in a short presentation style. Adobe Spark allows you to search for picture, use your own, add video to a presentation and much more. See how students use this to present book reviews, among other things.</p>

    </div>
</div>

<hr />


<div class="row">
    <div class="col-md-6">
        <h2>Hour of Code</h2>
        <p>Location: Gym</p>
        <p>Presenter: Mrs. Moizio</p>
        <p>Come learn about kid friendly code writing apps and websites that teach students skills such as problem solving, logic, perseverance, and collaboration. Coding is a highly engaging activity for students and is a skill that will help students succeed in 21st century careers. &nbsp;&nbsp;Apps/web sites include Hopscotch, Scratch, Code, Lightbot, Tynker and Kodable.</p>

    </div>
    <div class="col-md-6">
        <h2>Community Business Partnerships</h2>
        <p>Location: Childcare Room</p>
        <p>Presenter: Marc Mojica</p>
        <p><a href="https://www.marcmojica.com">www.marcmojica.com</a></p>
        <p>Bring your questions regarding all things technology. Discuss general or specific apps, coding, websites, virtual reality, gift ideas, and more! Marc is known for his skills and leadership in Ann Arbor as a Chief Technology Officer, Entrepreneur, and Software Engineer.</p>
    </div>
</div>*@


<div class="row">
    <div class="col-sm-4 col-xs-2"></div>
    <div class="col-sm-4 col-xs-8 text-center">
        <p><img src="http://bryantpattengill.org/wp-content/uploads/2016/03/technight_qr_code.png" alt="technight_qr_code" class="img-responsive" /><br />Generate your own using a <a href="http://www.qr-code-generator.com/" target="_blank">QR Code Generator</a></p>

    </div>
</div>