﻿@{
    ViewData["Title"] = "About";
}



<div class="row">

    @*<div class="col-sm-2">
            <img class="img-responsive" src="/wp-content/uploads/2015/09/bplogomini.jpg" alt="logo" style="margin-bottom: 30px;" />
        </div>*@
    <div class="col-sm-8 col-sm-offset-2">
        <h1>About Bryant / Pattengill PTO</h1>
        <p>
            Thank you for your interest in the PTO! We are an all-volunteer group of parents and teachers
            committed to creating positive experiences at Bryant an Pattengill Elementary Schools.
        </p>

        <h2>What Does the PTO DO</h2>
        <p>
            The primary goal of the PTO is to enhance the education and to build a safe and fun community for all
            children during their time at Bryant/Pattengill. We do this by supporting enrichment during the school
            day and through community-building events during evenings and on weekends.
        </p>

        <h2>Our Mission</h2>
        <p>
            The Bryant/Pattengill PTO exists to support the education of students at Bryant/Pattengill Elementary
            Schools thru volunteer/parent funded enrichment activities, to strengthen the relationship between our
            CommUNITY families and our schools, and to enhance the academic, cultural and social development of
            ALL Bryant/Pattengill students.
        </p>

        <h2>How to Join The PTO</h2>
        <p>
            All parents are automatically members of the PTO, and there is no fee to join. We welcome you and
            your input at any time to make school events and your child’s experience here at Bryant/Pattengill one
            of the most rewarding and memorable times of their lives!
        </p>

        @*<p>The Bryant / Pattengill PTO is the<strong> largest and most technology-enabled</strong> elementary Parent Teacher Organization among the <a href="http://www.a2schools.org/domain/258" target="_blank">Ann Arbor Public Schools</a>.</p>
            <p>We use this <strong>technology to empower</strong> teachers, parents, and staff to:</p>
            <ul>
                <li>Promote a close relationship between home and school.</li>
                <li>Encourage cooperation among parents, teachers and school administrators in the education of the children who attend Bryant and Pattengill.</li>
                <li>Enhance the academic, cultural and social development of Bryant/Pattengill students.</li>
            </ul>

            <p>The PTO is a <a href="http://en.wikipedia.org/wiki/501(c)_organization#501.28c.29.283.29" target="_blank">501(c)(3)</a> non-profit organization.</p>*@


    </div>

</div>


@*<h2 id="schools">Our Schools</h2>
<div class="row">
    <div class="col-sm-4">
        <p><strong>THE PLACE TO BE</strong></p>
        <p>Ann Arbor Public Schools was designated as the highest ranked large public school district in the state. <a href="http://news.a2schools.org/ann-arbor-public-schools-named-academic-state-champion/" target="_blank">Read more</a></p>
    </div>
    <div class="col-sm-4">
        <p><strong>ARBOR ARBOR’S SUPER PAIR</strong></p>
        <p>The unique structure of Bryant & Pattengill creates a rich learning opportunity & focus. It also results in multiple teachers at each grade level, which expands the variety of expertise available to our students and staff. <a href="http://annarborobserver.com/s/super_pair_full_article.html" target="_blank">Read Ann Arbor Observer article</a></p>
    </div>
    <div class="col-sm-4">
        <p><strong>AMAZING TEACHERS</strong></p>
        <p>Pattengill 5th grade teacher Emily Theriault-Kimmey received Presidential Award for Excellence in Mathematics Teaching. <a href="/2014/11/10/pattengill-teacher-honored-at-the-white-house/" target="_blank">Read more</a></p>
    </div>

</div>*@


@*<hr />
<h2 id="contact">Contact PTO</h2>

<div class="row">
    <div class="col-sm-10">
        <p>Want to contact the PTO?</p>
        <p><a href="/contact" class="btn btn-lg btn-default">View Contacts</a></p>
    </div>
</div>*@




@*<h2 id="Archive">Archive</h2>

    <div class="row">
        <div class="col-sm-10">
            <p>Looking for an Thursday Notes or old website post?</p>
            <p><a href="/archive" class="btn btn-lg btn-default">View Archive</a></p>
            <p><a href="/thursday-notes" class="btn btn-lg btn-default">View Thursday Notes</a></p>

        </div>
    </div>*@
@*<h2>Web Stats</h2>
    <div class="row">
        <div class="col-sm-6">
            <p><img class="aligncenter size-medium wp-image-1304" src="/wp-content/uploads/2014/10/map-300x186.jpg" alt="map" width="300" height="186" /></p>
            <ul>
                <li>Average 1,026 monthly visitors to the website</li>
                <li>About 50% of visitors mobile (phone or tablet)</li>
                <li>Visitors from <a href="/wp-content/uploads/2014/10/map.jpg" target="_blank">all over the world</a></li>
                <li>Most liked Ann Arbor Elementary/PTO <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank">Facebook page</a></li>
            </ul>
        </div>

    </div>*@