﻿@{
    ViewData["Title"] = "Contact";
}
<h1 id="contact">Contact PTO</h1>

<div class="row">
    <div class="col-sm-10">
        <p>Please remember that <strong>we are the Parent Teacher Organization.</strong></p>

        <p>
            To contact Bryant Elementary, <a href="/schools/bryant/">click here</a><br />
            To contact Pattengill Elementry, <a href="/schools/pattengill/">click here</a>.
        </p>

        <p>
            <strong>Mailing Address</strong>
            2100 Crestland St., <span style="line-height: 1.5;">Ann Arbor, MI 48104</span>
        </p>

        <p>
            <strong>Email</strong>
            <ul>
                <li>General Information: <a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a></li>
                <li>Submit pictures, stories, and related: <a href="mailto:webteam@bryantpattengill.org" target="_blank">webteam@bryantpattengill.org</a></li>
            </ul>
        </p>

        <p>
            <strong>Social Media</strong>
            <ul>
                <li>Twitter: <a href="http://twitter.com/A2BryPatPTO" target="_blank">@@A2BryPatPTO</a></li>
                <li>Facebook Page: <a href="http://facebook.com/BryantPattengillPTO" target="_blank">BryantPattengillPTO</a></li>
                @*<li>Google+ Page: <a class="d-s" tabindex="0" href="https://www.google.com/+BryantPattengillOrg" target="_blank">+BryantPattengillOrg</a></li>*@
                @*<li>LinkedIn: <a href="https://www.linkedin.com/company/bryant-pattengill-parent-teacher-organization-pto" target="_blank">Bryant / Pattengill PTO</a></li>*@
                @*<li>Instagram: <a href="http://instagram.com/bryantpattengill" target="_blank">bryantpattengill</a></li>*@
                <li>Youtube: <a href="https://youtube.com/bryantpattengill" target="_blank">bryantpattengill</a></li>
            </ul>
        </p>

        <p>
            <strong>Other</strong>
            <ul>
                <li><a title="2015-16 PTO Board Members" href="/board">Contact a board member directly</a></li>
            </ul>
        </p>

        <p>
            <strong>Concerns?</strong>
            <ul>
                <li>Our articles and social media posts respect the Do Not Photo lists maintained by the schools.</li>
                <li>If you have concerns about a picture, please contact us immediately by email (<a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a>). We'll do our best to accommodate your request.</li>
            </ul>
        </p>
    </div>
</div>