﻿@{
    ViewData["Title"] = "How to use Square";
}

<h1>How to use Square</h1>

<h2>DOWNLOAD THE SQUARE  REGISTER APP</h2>
<p>Download the Square Register app from the App Store or Google Play, or visit <a href="http://squareup.com/app" target="_blank"><strong>squareup.com/app</strong></a> on your device.

<hr />

<h2>HOW TO SIGN IN</h2>
<p>1. Each of you should have received an email before this one that will give you a "Device Code". On the login screen, look for the text that says "use device code"</p>
<p><img class="aligncenter wp-image-2313 size-large" src="/wp-content/uploads/2016/11/login1-576x1024.jpg" alt="login1" width="474" height="843" />
<p>2. Enter your code and click "Sign In". (Copy and paste the code is best)</p>
<p><img class="aligncenter wp-image-2318 size-large" src="/wp-content/uploads/2016/11/login2-576x1024.png" alt="login2" width="474" height="843" />

<hr />

<h2>HOW TO CHARGE PAYMENT</h2>
<p>(make sure the reader that goes into the headphone jack or bluetooth is connected and working)
<p>1. A keypad screen will show. Click on "Guest" in the top right.</p>
<p><img class="aligncenter wp-image-2319 size-large" src="/wp-content/uploads/2016/11/login3-576x1024.jpg" alt="login3" width="474" height="843" />
<p>2. Type an amount to charge &amp; then slide card</p>
<p><img class="aligncenter wp-image-2315 size-large" src="/wp-content/uploads/2016/11/charge1-576x1024.png" alt="charge1" width="474" height="843" />
<p>3. Allow customer to sign with finger. Customer or you need to click "Done Signing"</p>
<p><img class="aligncenter wp-image-2316 size-large" src="/wp-content/uploads/2016/11/charge2-1024x576.png" alt="charge2" width="474" height="267" />
<p>4. Only <span style="color: #ff0000;">AFTER</span> signature will it try to process payment. It should display "approved" and "all done".</p>
<p><img class="aligncenter wp-image-2317 size-large" src="/wp-content/uploads/2016/11/charge3-576x1024.png" alt="charge3" width="474" height="843" />

<hr />

<h2>NEED TO CONFIRM PAYMENT?</h2>
<p>Go to activity tab and look for charge there.</p>
<p><img class="aligncenter size-full wp-image-2320" src="/wp-content/uploads/2016/11/activity1-e1478586512525.jpg" alt="activity1" width="563" height="1000" />

<p><img class="aligncenter wp-image-2314 size-large" src="/wp-content/uploads/2016/11/activity2-576x1024.jpg" alt="activity2" width="474" height="843" />
