﻿@model BryantPattengillOrg.Models.HomeIndexViewModel
@using BryantPattengillOrg.Models.Events;

@{
    ViewData["Title"] = "Home";
}


<div class="row">

    <div class="col-sm-12">
        <img src="/wp-content/uploads/2014/10/header-background.jpg" class="img-responsive" />
    </div>

</div>

<h1>Bryant / Pattengill PTO</h1>


<h2 id="upcoming">Upcoming Events</h2>

<div class="row hidden-xs">
    @foreach (var upcomingEvent in Model.UpcomingEvents.Take(3))
    {
        <div class="col-sm-4">
            @if (upcomingEvent.IsUrl)
            {
                <h3><a href="@upcomingEvent.Url" target="_blank">@upcomingEvent.Title</a></h3>
            }
            else
            {
                <h3>@upcomingEvent.Title</h3>
            }


            <p>
                @upcomingEvent.WeekDayRange, @upcomingEvent.DateRange, @upcomingEvent.TimeRange
                @if (upcomingEvent.IsLocation)
                {
                    <br />@upcomingEvent.Location
                }
            </p>
            @if (upcomingEvent.IsShortDescription)
            {
                <p>@upcomingEvent.ShortDescription</p>
            }
        </div>
    }
</div>
<div class="row hidden-xs">
    @foreach (var upcomingEvent in Model.UpcomingEvents.Skip(3).Take(3))
    {
        <div class="col-sm-4">
            @if (upcomingEvent.IsUrl)
            {
                <h3><a href="@upcomingEvent.Url" target="_blank">@upcomingEvent.Title</a></h3>
            }
            else
            {
                <h3>@upcomingEvent.Title</h3>
            }


            <p>
                @upcomingEvent.WeekDayRange, @upcomingEvent.DateRange, @upcomingEvent.TimeRange
                @if (upcomingEvent.IsLocation)
                {
                    <br />@upcomingEvent.Location
                }
            </p>
            @if (upcomingEvent.IsShortDescription)
            {
                <p>@upcomingEvent.ShortDescription</p>
            }
        </div>
    }
</div>

<div class="row hidden-sm hidden-md hidden-lg hidden-print">

    <div class="col-sm-3">
        <partial name="_EventsPartial" model="Model.UpcomingEvents" />
    </div>

</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <p><a href="/events" class="btn btn-lg btn-default">View More Events</a></p>
    </div>
</div>
