﻿@{
    ViewData["Title"] = "International Families";
}

<h1>International Families</h1>

<p>Welcome! If you are an English Learner (EL) family, or from the U.S.A. and want to preserve your native language and culture, contact the Bryant/Pattengill International Group to:</p>

<ul>
    <li>get connected with your child’s school activities;</li>
    <li>get involved and participate in school volunteer opportunities;</li>
    <li>meet other international families;</li>
    <li>get school documents translated into your native language;</li>
    <li>or simply be more active at your child’s school!</li>
</ul>

<p>For region-specific parent groups, contact:</p>

<ul>
    <li><strong>India</strong>&mdash;Priya and Srikanth: <a href="mailto:sri.priya.bryant@gmail.com">sri.priya.bryant@gmail.com</a></li>
    <li><strong>Japan</strong>&mdash;Nana and Jun: <a href="mailto:nonbiri.jiny@gmail.com">nonbiri.jiny@gmail.com</a>, 734-353-6706</li>
    <li><strong>China</strong>&mdash;Xiaomei: <a href="mailto:xiaomeiczh@gmail.com">xiaomeiczh@gmail.com</a>, 626-537-8878</li>
    <li><strong>Korea</strong>&mdash;Hankyoung and Chunseok: <a href="mailto:choione777@gmail.com">choione777@gmail.com</a>, <a href="mailto:ccsr92@gmail.com">ccsr92@gmail.com</a></li>
    <li><strong>Central and South America</strong>&mdash;Beatriz and Salvador: <a href="mailto:pocahontas234@hotmail.com">pocahontas234@hotmail.com</a></li>
</ul>

<p>For all other countries, to be a contact person for a region/country, or if you have general questions, contact:<br />
    <strong>Liliana Grueber, Bryant/Pattengill International Families Coordinator: </strong><a href="mailto:liliana.grueber@bryantpattengill.org">liliana.grueber@bryantpattengill.org</a>
</p>