﻿
@{
}
By filling out this questionnaire, you will have a webpage on the Bryant/Pattengill PTO website. This page will highlight YOU (your achievements, what you like, your family, etc), allowing for families and students to have a more personal view of our incredible educators.

On your webpage, you will be able to put wish lists, weekly newsletters and class photos (please be mindful of the "do not photo list" for your students). You can request to update information on the page yourself, or you can ask your room parent(s) to assist.

Guidelines:

Where applicable, please use complete sentences from the first person (this is much more effective to read than if you use third person).

We love photos! Photos can be emailed to <a href="mailto:webteam@bryantpattengill.org">webteam@bryantpattengill.org</a> - please include your name/class and a brief description.

<hr />

@*[contact-form to='webteam@bryantpattengill.org' subject='PTO Website -- Teacher Profile'][contact-field label='Name' type='name' required='1'/][contact-field label='Students Know Me As ________' type='text' required='1'/][contact-field label='Email' type='email' required='1'/][contact-field label='Website' type='url'/][contact-field label='Hometown' type='text'/][contact-field label='High School' type='text'/][contact-field label='College/Bachelor’s Degree' type='text'/][contact-field label='College/Masters Degree' type='text'/][contact-field label='Additional College/Credits/Coursework' type='text'/][contact-field label='Years of Teaching' type='text'/][contact-field label='Hobbies' type='textarea'/][contact-field label='Family' type='textarea'/][contact-field label='Pets' type='textarea'/][contact-field label='Favorite Childhood Memory (school related)' type='textarea'/][contact-field label='Favorite Quote' type='textarea'/][contact-field label='Why I like teaching at Bryant/Pattengill' type='textarea'/][contact-field label='Class Wish List Items' type='textarea'/][/contact-form]*@