﻿@{
    ViewData["Title"] = "Support";
}

<style>
    h2 { padding-top: 20px !important; }
</style>
<h1>Support</h1>

<p>Following are ways to support the PTO, children, teachers, and staff.</p>

<hr />

<div class="row">

    <div class="col-sm-4">
        <h2>Parents</h2>
        <ul>
            <li><a title="Donate" href="/donate/#annual-dues">Pay Annual Dues</a></li>
            <li><a title="Volunteer" href="/volunteer/">Volunteer</a></li>
            <li><a title="Calendars" href="/events">Attend Events</a></li>
            <li><a title="Donate" href="/donate">Give (Tax-Deductible)</a></li>
            <li><a title="Grocery SCRIP" href="/fundraising/grocery-scrip/">Grocery Shopping</a></li>
            <li><a title="Shop at AmazonSmile" href="/fundraising/shop-at-amazonsmile/">Shop Online</a></li>
            <li><a title="Contact" href="/contact/">Submit a Story</a></li>
            <li>Tweet or Facebook to us</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2>Businesses</h2>
        <ul>
            <li>Become a Sponsor</li>
            <li><a title="Donate" href="/donate/">Give (Tax-Deductible)</a></li>
            <li>Donate</li>
            <li>Offer Discounts</li>
            <li>Tweet or Facebook to us</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2>Teachers</h2>
        <ul>
            <li><a title="Grocery SCRIP" href="/fundraising/grocery-scrip/">Grocery Shopping</a></li>
            <li><a title="Shop at AmazonSmile" href="/fundraising/shop-at-amazonsmile/">Shop Online</a></li>
            <li>Send us your Wish Lists</li>
            <li><a title="Contact" href="/contact/">Submit a Story</a></li>
            <li>Tweet or Facebook to us</li>
        </ul>
    </div>
</div>




