﻿@{
    ViewData["Title"] = "Volunteer";
}


<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <h1>Volunteer</h1>

        <p class="text-left"><p>We sure could use your help at events! Each year, the PTO hosts several fun, educational activities for our students and families. It takes a little help from our entire Bryant/Pattengill family to make these events a success. </p>
        <p class="text-center"><a href="https://docs.google.com/spreadsheets/d/18p0HhjOCqvzr6JHn4HRKYOAryhQt6MicmvcADyZdq_I/edit?usp=sharing" target="_blank" class="btn btn-default btn-lg">2019-20 Volunteer Sign-up Form</a></p>

        <hr />

        <h2 id="Form">Volunteer Certification Form</h2>
        <p>If you are planning to volunteer with your <strong>child’s class</strong>, you must complete the Volunteer Certification Form.</p>
        <p>This form needs to be completed each new school year. Please submit your completed form in person to either the Bryant or Pattengill office, and present your ID.</p>
        <p>Thank you for assisting our schools with maintaining a safe environment for all Bryant/Pattengill children.</p>
        <p class="text-center"><a href="~/download/AAPSVolunteerCertificationForm.pdf" target="_blank" class="btn btn-default btn-lg">Volunteer Certification Form</a></p>

        
    </div>
</div>
