﻿@{
    ViewData["Title"] = "2016-17 PTO Board Members";
}

<p>
    <strong>Co-Presidents</strong><br />
    <a title="Kathy Brady" href="http://bryantpattengill.org/board-members/kathy-brady/">Kathy Brady</a><br />
    <a title="Lisa Treat" href="http://bryantpattengill.org/board/current-members/jennifer-nguyen/">Jennifer Nguyen</a>
</p>

<p>
    <strong>
        Vice President, Bryant
    </strong><br /><a href="http://bryantpattengill.org/board/current-members/charlita-daniels/">Charlita Daniels</a>
</p>

<p>
    <strong>
        Vice President, Pattengill
    </strong><br /><a href="http://bryantpattengill.org/board/current-members/maggie-shee/">Maggie Shee</a>
</p>
<p>
    <strong>Treasurer</strong><br />
    <a style="line-height: 1.5;" title="Carmen Andrianopoulos" href="http://bryantpattengill.org/board-members/carmen-andrianopoulos/">Carmen Andrianopoulos</a>
</p>

<p>
    <strong>Technology Director</strong><br />
    <a title="Marc Mojica" href="http://bryantpattengill.org/about/board-members/marc-mojica/">Marc Mojica</a>
</p>

<p>
    <strong>External Secretary</strong><br />
    <a title="Ariel Hurwitz-Greene" href="http://bryantpattengill.org/board/current-members/ariel-hurwitz-greene/">Ariel Hurwitz-Greene</a>
</p>

<p>
    <strong>Internal Secretary</strong><br />
    <a href="http://bryantpattengill.org/board/current-members/jen-teeter/">Jen Teeter</a>
</p>

<p>
    <strong>Fund Raising Coordinator</strong><br />
    <a href="http://bryantpattengill.org/board/current-members/amanda-shutko/">Amanda Shutko</a>
</p>

<p>
    <strong>School Improvement Team ("SIT") Representative</strong><br />
    <a title="Stephen Ward" href="http://bryantpattengill.org/board-members/stephen-ward/">Stephen Ward</a>
</p>

<p>
    <strong>PTO Thrift Shop Representative</strong><br /><br />
    <a title="Kristy Kubacki" href="http://bryantpattengill.org/board-members/kristy-kubacki/">Kristy Kubacki</a>
</p>

<p>
    <strong>Bryant Principal</strong><br />
    <a href="http://bryantpattengill.org/board/current-members/roberta-heyward/">Roberta Heyward</a>
</p>

<p>
    <strong>Pattengill Principal</strong><br />
    <a href="http://bryantpattengill.org/board/current-members/melita-alston/">Melita Alston</a>
</p>

<hr />

<p>
    <strong>Ann Arbor Public Schools PTO Council ("PTOC") Representative</strong><br />
    OPEN<ol></ol>
</p>
