﻿@{
    ViewData["Title"] = "2017-18 PTO Board Members";
}


<p>
    <strong>Co-Presidents</strong><br />
    <a title="Kathy Brady" href="/board-members/kathy-brady/">Kathy Brady</a><br />
    <a title="Ariel Hurwitz-Greene" href="/board/current-members/ariel-hurwitz-greene/">Ariel Hurwitz-Greene</a>
</p>
<p>
    <strong>Vice President, Bryant</strong><br />
    <a href="/board/current-members/jen-teeter/">Jen Teeter</a>

</p>
<p>
    <strong>Vice President, Pattengill</strong><br />
    <a href="/board/current-members/maggie-shee/">Maggie Shee</a>

</p>
<p>
    <strong>External Secretary</strong><br />
    Cathy Martin

</p>
<p>
    <strong>Co-Treasurers</strong><br />
    Anthony King<br />
    Lorraine Currie

</p>
<p>
    <strong>Fundraising Coordinator</strong><br />
    <a href="/board/current-members/amanda-shutko/">Amanda Shutko</a>
</p>
<p>
    <strong>PTO Council Representative</strong><br />
    Lyonel Milton
</p>
<p>
    <strong>PTO Thrift Shop Representative</strong><br />
    <a title="Kristy Kubacki" href="/board-members/kristy-kubacki/">Kristy Kubacki</a>
</p>
<p>
    <strong>School Improvement Team ("SIT") Representative</strong><br />
    <a href="/board/current-members/charlita-daniels/">Charlita Daniels</a>
</p>
<p>
    <strong>Technology Director</strong><br />
    <a title="Marc Mojica" href="/about/board-members/marc-mojica/">Marc Mojica</a>
</p>
<p>
    <strong>EL (English Learner) Family Coordinator</strong><br />
    Liliana Grueber
</p>
<p>
    <strong>Internal Secretary</strong><br />
    OPEN
</p>
<p>

    <strong>Bryant Principal</strong><br />
    <a href="/board/current-members/roberta-heyward/">Roberta Heyward</a>
</p>
<p>
    <strong>Pattengill Principal</strong><br />
    <a href="/board/current-members/melita-alston/">Melita Alston</a>
</p>

    <hr />

<p>
    <strong>Ann Arbor Public Schools PTO Council ("PTOC") Representative</strong><br />
    OPEN
</p>
