﻿@model BryantPattengillOrg.Models.BoardIndexViewModel
@{
    ViewData["Title"] = "2018/19 Board";
}


<h1>2018/19 PTO Board</h1>

<div class="row">

    <div class="col-sm-5">
        <p>
            <strong>Co-Presidents</strong><br />

            <a href="/board/members/ariel-hurwitz-greene">Ariel Hurwitz-Greene</a><br />
            <a href="/board/members/jen-teeter">Jen Teeter</a><br />
        </p>
        <p>
            <strong>Vice President, Bryant</strong><br />
            <a href="/board/members/karishma-collette">Karishma Collette</a>

        </p>
        <p>
            <strong>Vice President, Pattengill</strong><br />
            <a href="/board/members/maggie-shee">Maggie Shee</a>

        </p>
        <p>
            <strong>External Secretary</strong><br />
            <a href="/board/members/cathy-martin">Cathy Martin</a>
        </p>
        <p>
            <strong>Internal Secretary</strong><br />
            <a href="/board/members/michelle-kloack">Michelle Kloack</a><br />
        </p>
        <p>
            <strong>Treasurer</strong><br />
            <a href="/board/members/joan-beaupre">Joan Beaupre</a>
        </p>

        <p>
            <strong>Fundraising Coordinator</strong><br />
            <a href="/board/members/amanda-shutko">Amanda Shutko</a>
        </p>

    </div>

    <div class="col-sm-5">
        <p>
            <strong>PTO Council "PTOC" Representative</strong><br />
            <a href="/board/members/kathryn-Powell">Kathryn Powell</a>
        </p>
        @*<p>
                <strong>PTO Thrift Shop Representative</strong><br />
                <a href="/board/members/kristy-kubacki">Kristy Kubacki</a>
            </p>*@
        <p>
            <strong>School Improvement Team ("SIT") Representative</strong><br />
            <a href="/board/members/lyonel-milton">Lyonel Milton</a>
        </p>
        <p>
            <strong>Technology Director</strong><br />
            <a href="/board/members/marc-mojica">Marc Mojica</a>
        </p>

        <p>
            <strong>Lead Principal</strong><br />
            <a href="/board/members/melita-alston">Melita Alston</a>
        </p>
        <p>
            <strong>Bryant Principal</strong><br />
            <a href="/board/members/jamar-humphrey">Jamar Humphrey</a>
        </p>
        <p>
            <strong>Pattengill Principal</strong><br />
            <a href="/board/members/robin-kocher">Robin Kocher</a>
        </p>


    </div>

</div>
