﻿@model BryantPattengillOrg.Models.BoardIndexViewModel
@{
    ViewData["Title"] = "2018/19 Board";
}


<h1>2019/20 PTO Board</h1>

<div class="row">

    <div class="col-sm-5">
        <p>
            <strong>President</strong><br />
            <a href="/board/members/jen-teeter">Jen Teeter</a><br />
        </p>
        <p>
            <strong>Vice President, Bryant</strong><br />
            <a href="/board/members/barbara-thompson">Barbara Thompson</a>
        </p>
        <p>
            <strong>Vice President, Pattengill</strong><br />
            <a href="/board/members/kelley-kozloff">Kelley Kozloff</a>
        </p>
        <p>
            <strong>Treasurer</strong><br />
            <a href="/board/members/wendy-pinto">Wendy Pinto</a>
        </p>
        <p>
            <strong>Secretary</strong><br />
            <a href="/board/members/michelle-kloack">Michelle Kloack</a><br />
        </p>
        <p>
            <strong>Fundraising Coordinator</strong><br />
            <a href="/board/members/anna-hoffman">Anna Hoffman</a>
        </p>
        <p>
            <strong>PTO Council "PTOC" Representative</strong><br />
            <a href="/board/members/kathryn-Powell">Kathryn Powell</a>
        </p>
        <p>
            <strong>School Improvement Team ("SIT") Representative</strong><br />
            <a href="/board/members/lyonel-milton">Lyonel Milton</a>
        </p>
    </div>

    <div class="col-sm-5">
        <p>
            <strong>Inter-School Liason</strong><br />
            <a href="/board/members/devon-keen">Devon Keen</a>
        </p>
        <p>
            <strong>Technology Director</strong><br />
            <a href="/board/members/marc-mojica">Marc Mojica</a>
        </p>
        <p>
            <strong>Family Event Chair</strong><br />
            <a href="/board/members/katie-jedynak">Katie Jedynak</a>
        </p>
        <p>
            <strong>Bryant Principal</strong><br />
            <a href="/board/members/jamar-humphrey">Jamar Humphrey</a>
        </p>
        <p>
            <strong>Pattengill Principal</strong><br />
            <a href="/board/members/robin-kocher">Robin Kocher</a>
        </p>
        <p>
            <strong>Teacher Representative</strong><br />
            
        </p>

    </div>

</div>
