﻿@model BryantPattengillOrg.Models.BoardIndexViewModel
@{
    ViewData["Title"] = "2018/19 Board";
}


<h1>PTO Meetings &amp; Minutes</h1>

<div class="row">
    <div class="col-sm-8">

        <h3>PTO General Meetings</h3>

        @await Html.PartialAsync("_EventsPartial", Model.GeneralMeetings)

    </div>
</div>
<div class="row">
    <div class="col-sm-8">

        <h3>PTO Executive Board Meetings</h3>

        @await Html.PartialAsync("_EventsPartial", Model.BoardMeetings)
        
    </div>
</div>

<hr />

<h2 id="bylaws">Bylaws</h2>
<div class="row">

    <div class="col-sm-10">
        <p>The bylaws are available for download using the link below:</p>

        <p><a href="https://drive.google.com/file/d/0B00evgpXySN0WHgtU1N2Y2Z0cTA/view?usp=sharing" target="_blank">Bryant/Pattengill PTO Bylaws</a></p>
        @*<p><a href="/wp-content/uploads/2014/09/bryant-pattengill_pto_bylaws.pdf" target="_blank">Bryant/Pattengill PTO Bylaws</a></p>*@
    </div>
</div>

<hr />


<h2 id="budget">Budget</h2>
<div class="row">
    <div class="col-sm-10">
        <p>Budget presented at the first general meeting.</p>
        <p><a href="https://drive.google.com/file/d/1MpOPMQ0GRFgu1__RNuh2pUZPqL3Mm3jD/view?usp=sharing" target="_blank">View Approved Budget</a></p>
    </div>
</div>

<hr />

<h2 id="forms">Forms</h2>
<div class="row">
    <div class="col-sm-10">
        <h3>Funding Request Form</h3>
        <p>To request funds from the Bryant/Pattengill PTO, <strong>select one of two options</strong>: submit your request online or via hard copy (no need to do both). Approved requests will receive payment within 15 business days.</p>

        <p>To submit a PTO funding request <strong>online</strong>, scan or take a picture of your receipts/invoices and complete <a href="https://docs.google.com/forms/d/e/1FAIpQLSc70n-yECIkSFz1y8DRSaiBjX-dZU91K086BNL-9tESJ3PkLQ/viewform" target="_blank">this form</a>.</p>

        <p>OR</p>

        <p>To submit a <strong>hard copy</strong>, <a href="~/download/PTO_Funding_Request_Form.pdf" target="_blank">click here</a> to download and print the form. Attach your receipts/invoices and place in the PTO mailbox in the school office.</p>

    </div>
</div>

