﻿@model BryantPattengillOrg.Models.Board.BoardMember
@using BryantPattengillOrg.Models.Board;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = $"{Model.Name} Board Member Profile";
    ViewData["MetaDescription"] = $"{Model.Positions.FirstOrDefault()}";

}


@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@ViewData["Canonical"]" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="@ViewData["MetaDescription"]" />
    <meta property="og:site_name" content="BryantPattengill.org" />
    <meta property="fb:app_id" content="" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@A2BryPatPTO">
    <meta name="twitter:title" content="@ViewData["Title"]">
    <meta name="twitter:description" content="@ViewData["MetaDescription"]">
    <meta name="twitter:image" content="">

}

<div class="row">
    <div class="text-center col-md-12 " style="padding-bottom:50px;">
        <h1>@Model.Name<br /><small>@Model.Positions.FirstOrDefault()</small></h1>
    </div>
</div>

<div itemscope itemtype="http://schema.org/Article" class="has-cover">

    <meta itemprop="headline" content="@ViewData["Title"]" />
    <meta itemprop="description" content="@ViewData["MetaDescription"]" />
    <meta itemprop="genre" content="how-to" />
    <meta itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/WebPage">
    <meta itemprop="datePublished" content="10-08-2017" />
    <meta itemprop="dateModified" content="10-08-2017" />

    <div itemprop="author" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Bryant Pattengill PTO">

    </div>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Bryant Pattengill PTO">
    </div>


    <div itemprop="articleBody">

        <div class="row text-center">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                
                @if (Model.IsImage)
                {
                <div class="row" style="margin-bottom:20px;">
                        <div class="col-sm-4 col-sm-offset-4">
                            <img src="@Model.Image" class="img-responsive img-rounded" />
                        </div>
                </div>
                }
                <div class="row" >
                        <div class="col-sm-12">
                            
                            <div class="text-uppercase"><strong>Positions</strong></div>
                            @foreach (var position in Model.Positions)
                            {
                                <div>@position</div>
                            }
                        </div>
                </div>
                
                @if(Model.IsContactInformation)
                {
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12">
                            <div class="text-uppercase"><strong>Contact Information</strong></div>
                            @if (Model.IsPhone)
                            {
                                @foreach (var phone in Model.Phone)
                                {
                                    if (!string.IsNullOrWhiteSpace(phone))
                                    {
                                        <div><a href="tel:@phone">@phone</a></div>
                                    }
                                }
                            }
                            @if ((Model.IsEmail))
                            {
                                foreach (var email in Model.Email)
                                {
                                    <div><a href="mailto:@email">@email</a></div>
                                }
                            }
                            @if (Model.IsFacebook)
                            {
                                <div>Facebook: <a href="https://www.facebook.com/@Model.Facebook" target="_blank">@Model.Facebook</a></div>
                            }
                            @if (Model.IsTwitter)
                            {
                                <div>Twitter: <a href="https://www.twitter.com/@Model.Twitter" target="_blank">@@@Model.Twitter</a></div>
                            }
                            @if (Model.IsLinkedIn)
                            {
                                <div>LinkedIn: <a href="https://linkedin.com/in/@Model.Twitter" target="_blank">@Model.Twitter</a></div>
                            }
                            @if (Model.IsWebsite)
                            {
                                <div>Website: <a href="@Model.Website" target="_blank">@Model.Website</a></div>
                            }
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
        
    </div>

</div>