﻿@model BryantPattengillOrg.Models.BoardIndexViewModel
@{
    ViewData["Title"] = "2018/19 Board";
}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <h1>Room Parents</h1>

            <p>
                Room Parents (Page 3)
                Each classroom at Bryant/Pattengill Elementary Schools has one or two Room Parents who serve as a
                liaison between the teacher and the other parents in the classroom. Room Parent duties vary by
                teacher, but some of the expectations and responsibilities might include:
                <ul>
                    <li>Helping the teacher coordinate classroom supplies / snacks</li>
                    <li>Helping the teacher plan special classroom celebrations</li>
                    <li>Recruiting chaperones for field trips and in-class activities</li>
                    <li>Communicating with classroom parents via email on behalf of the PTO</li>
                </ul>

            </p>

            <p>
                <strong>Y5’s</strong>
                <br />
                Mrs Gavin -
            </p>

            <p>
                <strong>Kindergarten</strong><br />
                Mrs. Joseph -<br />
                Mrs. Carlson -<br />
                Ms. Whittmann -
            </p>

            <p>
                <strong>1st Grade</strong>

            </p>

            <p>
                <strong>2nd Grade</strong>

            </p>

            <p>
                <strong>3rd Grade</strong>

            </p>
            <p>
                <strong>4th Grade</strong>
            </p>

            <p>
                <strong>5th Grade</strong>
            </p>
            </div>
</div>