﻿@{
    ViewData["Title"] = "Shop at AmazonSmile";
}

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">

        <h1>Shop at AmazonSmile</h1>


        <p>
            <a href="http://smile.amazon.com/ch/38-3575065"><img class="aligncenter size-full wp-image-382" src="http://websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/AmazonSmiles.jpg" alt="AmazonSmile" width="310" height="260" /></a>
        </p>

        <p>
            Visit <strong><a href="http://smile.amazon.com/ch/38-3575065" target="_blank">smile.amazon.com</a></strong>, and select <strong>Bryant-Pattengill PTO</strong> as your charity of choice.
        </p>

        <p>
            Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile – your cart contents, wish lists, etc. Get a head start on your holiday shopping and start earning for Bryant/Pattengill today!
        </p>
    </div>
</div>