﻿@{
    ViewData["Title"] = "Annual Dues";
}

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">

        <h1>Annual Dues</h1>

        <p>The Bryant/Pattengill PTO contributes over <strong>$40,000</strong> each year on behalf of our 600+ students. Funds are replaced each year through three main fundraisers: annual PTO Dues (fall), our Read-A-Thon literacy enhancement program (winter), and the end-of-the-year Ice Cream Social (spring).</p>

        <p>PTO Dues is your first chance to contribute toward our goals of support. You may also donate on a monthly, recurring basis, if preferred.</p>

        <p>Dues are tax deductible and voluntary; all parents are automatically members of the PTO. Please give at a level that is comfortable for your family.</p>

        <p><strong>Suggested Amounts: $30, $50, $70, or other</strong></p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="XNU33RLLNRYXJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>


