﻿@{

    ViewData["Title"] = "Box Tops for Education";
}

<div class="row">

    

    <div class="col-sm-10 col-sm-offset-1">

        <h1>Box Tops for Education</h1>

        
        <div class="text-center">
            <p>Friday, Oct 24th, 2017<br />
                Box Tops for Education (Last Day)<br />
                The first of our two Box Tops collection days. There is a collection box at each school.
            </p>
            <p>Questions? Contact Jean Powell</p>
            <p>
                <a href="https://drive.google.com/file/d/0B8uyyn6m4sL0MnFyb2lxcUdjQjFPNTB4OW9ERWFBZk11RHE4/view" target="_blank" class="btn btn-lg btn-default">View Products List</a>
            </p>
        </div>
        <hr />

        
        <p>Bryant/Pattengill is again participating in the <a href="http://www.boxtops4education.com/" target="_blank" rel="noreferrer">Box Tops for Education</a> and <a href="http://www.labelsforeducation.com/" target="_blank" rel="noreferrer">Labels for Education</a> programs as a simple way to raise money for our schools.</p>

        <p>The “coupons” are found on many products you already buy or have in your home: check out a complete list of <a href="http://www.boxtops4education.com/participating-products" target="_blank" rel="noreferrer">Box Top products</a>, and <a href="http://www.labelsforeducation.com/Earn-Points/Participating-Products" target="_blank" rel="noreferrer">Labels for Education products</a>.</p>

        <p>Encourage family and friends to clip and save these coupons for our schools, as well! Black collection boxes are located outside each of the school offices.</p>

        <p>You may turn in your clipped coupons anytime during the school year, but there are only two times per year when we receive payment for our Box Top submissions.</p>



        <p>During each of the last two school years, these coupons have earned over $2,000 for our PTO!</p>

        <p>Thank you for the great support we’ve had with this program – every little bit you bring in helps the schools!</p>

        <p class="well">
            Questions? Contact Jean Powell <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>.

            
        </p>

    </div>
</div>