﻿<div class="row">

    <div class="col-sm-10 col-sm-offset-1 text-center">

        <h1>THANK YOU!!!</h1>

        <p><img src="/wp-content/uploads/2015/02/read-a-thon.jpg" alt="read-a-thon" width="208" height="144" /></p>
    </div>
</div>
