﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Donate";
}

<h1>Donate</h1>

<p>Below are several options for donating financially to the Bryant/Pattengill PTO. Our PTO is a 501(c)(3) nonprofit organization. <strong>All donations are tax deductible.</strong></p>


<div class="row">

    <div class="col-sm-6">

        <h2>Family Donation Drive</h2>
        <p><strong>The Family Donation Drive supports families’ attendance at the Ice Cream Social and other events that may require a financial component to participate.</strong>  Without your support some of our kiddos would not be able to spend this evening with their friends enjoying ice cream,  pizza, awesome raffle prizes, and games.  Please consider donating to this commUNITY building event, affording. <a href="https://drive.google.com/file/d/1DcsqA2AA2uHSHANIyA8E_5NFI-PowGVL/view" target="_blank">Read more</a></p>


        @*<p><a href="https://drive.google.com/file/d/1DcsqA2AA2uHSHANIyA8E_5NFI-PowGVL/view" target="_blank">Click here</a> for flyer. Don't miss the Bryant/Pattengill Ice Cream Social (ICS) on <b>Friday, May 17, 6:00-8:30pm at Pattengill</b>. This family-favorite event is our schools’ largest fundraiser, featuring games, music, raffle, and silent auction prizes, and plenty of frozen treats! <b>We kindly ask families to contribute $5 toward the ICS Family Donation Drive</b>, to help supply some of the most popular raffle prizes, such as toys and electronics. Your child will be bringing home a collection envelope, and all donations are <b>due by Monday, Apr. 22</b>.</p>*@
        <div class="text-center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="6AU3TG24A4A22" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>

        </div>


    </div>

    <div class="col-sm-6">

        <h2 id="annual-dues">Pay 2019/20 Annual PTO Dues</h2>
        <p>The Bryant/Pattengill PTO contributes over <strong>$30,000</strong> each year on behalf of our 600+ students. Funds are replaced each year through three main fundraisers: annual PTO Dues (fall), our Read-A-Thon literacy enhancement program (winter), and the end-of-the-year Ice Cream Social (spring).</p>

        <p>PTO Dues is your first chance to contribute toward our goals of support. You may also donate on a monthly, recurring basis, if preferred.</p>

        <p>Dues are tax deductible and voluntary; all parents are automatically members of the PTO. Please give at a level that is comfortable for your family.</p>

        <p><strong>Suggested Amounts: $30, $50, $70, $100, or other</strong></p>
        <div class="text-center">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="XNU33RLLNRYXJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
            </div>
    </div>
</div>


<hr />


<div class="row">
    <div class="col-sm-6">
        <h2>Make General PTO Donation</h2>
        <p>Select this option to donate to the PTO's general fund, which contributes to educational assemblies, field trips, school events, and other enrichment activities that enhance our schools.</p>
        <div class="text-center">

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="FSDYUGRWP85AY" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>

            @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="FSDYUGRWP85AY" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>*@

        </div>
    </div>
    <div class="col-sm-6">
        <h2>Make Read-A-Thon Donation</h2>
        <p>Support your student’s reading with a donation to the Bryant/Pattengill Read-A-Thon winter fundraiser!</p>

        <div class="text-center">
            <form style="margin-top:30px; margin-bottom:30px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="MGLYPGXAKD42C">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>
        <p>
            During PayPal payment, you'll be able to honor a particular student by name.
        </p>
    </div>
 
</div>

<hr />

<div class="row">
    <div class="col-sm-6">

        <h2 id="5th-grade-camp">Make 5th Grade Camp Donation</h2>
        <p>Make a donation marked for 5th grade camp only.</p>
        <div class="text-center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input name="cmd" type="hidden" value="_s-xclick" /><input name="hosted_button_id" type="hidden" value="3JN8K2ABBDDLC" /><input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image" /><img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

                <p>Need to make a <strong>5th Grade Camp payment</strong> for your student? Visit the <a href="http://bryantpattengill.org/5th-grade-camp/">5th Grade Camp</a> page.</p>

            </form>
        </div>
    </div>
</div>