﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Read-A-Thon Donation";
}

<div class="row">

    <div class="col-sm-12 text-center">
        <img src="/wp-content/uploads/2015/02/read-a-thon.jpg" alt="read-a-thon" width="208" height="144" />
    </div>

</div>
<div class="row">

    <div class="col-sm-8 col-sm-offset-2 text-center">
        
        <h1>Read-A-Thon Donation</h1>

        <p class="text-center">Support your student’s reading with a donation to the Bryant/Pattengill Read-A-Thon winter fundraiser!</p>

        <form style="margin-top:30px;margin-bottom:30px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="MGLYPGXAKD42C">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <!-- https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MGLYPGXAKD42C -->

        <p>
            During PayPal payment, you'll be able to enter a student's name.
        </p>

    </div>
</div>
