﻿@{

    ViewData["Title"] = "Fundraising";
}

<div class="row">

    <div class="col-sm-4 col-sm-offset-4 text-center">

        <h1>Fundraising</h1>
        <h2><strong>Events</strong></h2>

        <a href="/events" class="btn btn-lg btn-default">View Events</a>

        <hr />

        <h2><strong>Shopping</strong></h2>


        <p><a title="Shop at AmazonSmile" class="btn btn-lg btn-default" href="/fundraising/shop-at-amazonsmile/">Shop at AmazonSmile</a></p>

        <p><a title="Box Tops for Education" class="btn btn-lg btn-default" href="/fundraising/box-tops-for-education/">Box Tops for Education</a></p>

        <p><a title="Grocery SCRIP" class="btn btn-lg btn-default" href="/fundraising/grocery-scrip/">Shopper Loyalty Programs</a></p>

    </div>
</div>



@*<h2>Other</h2>
<a title="Clothing Drives" href="http://bryantpattengill.org/fundraising/clothing-drives/">Clothing Drives</a>*@