﻿@{

    ViewData["Title"] = "Fundraising";
}

<div class="row">

    <div class="col-sm-10 col-sm-offset-1">

        <h1>Shopper Loyalty Programs</h1>


        <p>Your family can raise money for our schools simply by shopping at select local and online stores, and purchasing the things you normally would buy. Below you will find instructions on how you can participate in our Shopper Loyalty Program - the easiest way to raise money for our PTO! Even if you shop at a particular store or online site infrequently, please sign up to participate in that store’s program - small amounts add up!</p>

        <p>If you have any questions, please contact the Bryant/Pattengill Fundraising Coordinator, Amanda Shutko, at <a href="mailto:amanda.shutko@bryantpattengill.org" target="_blank" rel="noopener">amanda.shutko@@bryantpattengill.org</a>. Thanks for your participation!</p>

        <hr />

        <p><img class="alignleft wp-image-399 size-full" src="/wp-content/uploads/2014/10/Scrip-Buschs.jpg" alt="Scrip-Busch's" width="150" height="68" />Busch’s Cash for Education program is linked to its MyWay customer loyalty program.  To participate in the Cash for Education program, you first must obtain a Busch’s Cash for Education rechargeable gift card by emailing the Bryant/Pattengill Grocery Scrip Coordinator at <a href="mailto:alicia972@hotmail.com" target="_blank" rel="noopener">alicia972@hotmail.com</a> to request a card. Then, you must link your Cash for Education card to your Busch’s MyWay account by doing the following:</p>
        <ol>
            <li>Go to <a href="http://www.buschs.com" target="_blank" rel="noopener">www.buschs.com</a> and click on “Cash for Education” near the bottom of the page.</li>
            <li><em>If you currently have a MyWay account</em>, click on “Register Your Cash for Education Card” and then log in to your account. Enter your 14-digit Cash for Education Card number (located on the back of the card beneath the bar code) in the box labeled “Busch's Cash for Education Card Number.”  Click “Register Card.”</li>
            <li><em>If you do not have a MyWay account</em>, click on “Sign up for MyWay today.” Enter the requested information. Activate your account by clicking on the link provided in the email that will be sent to you after you complete the account registration process.  Link your new MyWay account to your Cash for Education card by clicking on the “Cash for Education” link and then entering your Cash for Education card number as described in step 2 above.</li>
        </ol>
        <p>Take your Cash for Education card with you on each shopping trip to Busch’s.  At check-out, tell the cashier you would like to charge your Cash for Education card for the exact amount of your purchase;  there is no need to pre-load your card (though you may if you would like). You will be asked to swipe your Cash for Education card twice and then pay using your preferred payment method. Bryant/Pattengill PTO earns <strong>5%</strong> on each purchase made by cash, check, or PIN-based debit card and <strong>3%</strong> on each purchase made by credit card.</p>

        <hr />

        <p><img class="alignleft wp-image-411 size-full" src="/wp-content/uploads/2014/10/Scrip-Kroger2.jpg" alt="Scrip-Kroger2" width="150" height="122" />To participate in Kroger Community Rewards, you first must obtain a Kroger Plus Shopper’s Card (if you do not already have one) from the customer service desk or any register at your local Kroger store.  You then must link your Kroger Plus Shopper’s Card to Bryant/Pattengill PTO by doing the following:</p>
        <ol>
            <li>Go to <a href="http://www.krogercommunityrewards.com" target="_blank" rel="noopener">www.krogercommunityrewards.com</a>.</li>
            <li><em>If you already have a Kroger.com account</em>, click “Sign in.” <em>If you do not have a Kroger.com account</em>, sign up for one by clicking on “Create an Account.”</li>
            <li>After creating an account or signing in, click "Enroll Now."  Search for Bryant/Pattengill PTO. (Bryant/Pattengill's Organization Number is 82905).  <strong>After enrolling, please email the grocery scrip coordinator <a href="mailto:alicia972@hotmail.com" target="_blank" rel="noopener">alicia972@hotmail.com</a> and let her know you're participating in the program.</strong></li>
        </ol>
        <p>Use your Kroger Plus Shopper’s Card at check-out on each shopping trip.  Bryant/Pattengill PTO earns a variable percentage on each purchase.  The percentage earned by Bryant/Pattengill PTO is primarily a function of Bryant/Pattengill-associated purchases relative to total purchases by organizations participating in Kroger Community Rewards.</p>

        <p><strong><em>Note: You must re-enroll in the Kroger Community Rewards Program each year for Bryant/Pattengill PTO to continue to receive credit for your purchases.  April is re-enrollment month.  If you signed up for Kroger Community Rewards before May 1, 2014 and have not re-enrolled, please re-enroll now.</em></strong></p>

        <hr />

        <p><a href="http://smile.amazon.com/ch/38-3575065"></a><a href="http://smile.amazon.com/ch/38-3575065"><img class="aligncenter wp-image-382 size-full" src="/wp-content/uploads/2014/10/AmazonSmiles.jpg" alt="AmazonSmile" width="310" height="260" /></a></p>

        <p>Visit <strong><a href="http://smile.amazon.com/ch/38-3575065" target="_blank" rel="noopener">smile.amazon.com</a></strong>, and select <strong>Bryant-Pattengill PTO</strong> as your charity of choice.</p>

        <p>Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile – your cart contents, wish lists, etc. Get a head start on your holiday shopping and start earning for Bryant/Pattengill today!</p>



        <hr />

        <p><img class="alignleft wp-image-414 size-full" src="/wp-content/uploads/2014/10/Scrip-GFS2.jpg" alt="Scrip-GFS2" width="145" height="60" />To enroll in the GFS Marketplace Fun Funds program, sign up at <a href="http://www.gfs.com/funfunds/home.page?OrgNumber=2452150" target="_blank" rel="noopener">http://www.gfs.com/funfunds/home.page?OrgNumber=2452150</a>.  (The Bryant/Pattengill PTO Organization Number is 2452150.) Then stop by the customer service desk on your next shopping trip to pick up your permanent card.  Show your Fun Funds Card at check-out on each shopping trip, and Bryant/Pattengill PTO will earn quarterly rebates on each purchase you make.</p>

        <p>You can raise funds for Bryant/Pattengill by purchasing non-rechargeable gift cards to The Produce Station.  You may purchase a gift card by submitting a check payable to Bryant/Pattengill PTO for the face value of the gift card.  You may choose any amount of at least $5.00.</p>

        <p>To order a gift card, please email the Bryant/Pattengill Grocery Scrip Coordinator at <a href="mailto:alicia972@hotmail.com" target="_blank" rel="noopener">alicia972@hotmail.com</a> to request a card.  Bryant/Pattengill PTO earns <strong>5%</strong> on the value of each gift card purchased.</p>
    </div>
</div>


