﻿

<div class="row">

    <div class="col-sm-12">

        <h1>@ViewData["Title"]</h1>


        @if (ViewData.ContainsKey("Image") && ViewData["Image"] != null)
        {
            <p><img src="@ViewData["Image"]" class="img-responsive img-rounded"  /></p>
        }

    </div>
</div>

<hr />

