﻿@model BryantPattengillOrg.Models.OldItem

@{
}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>@Model.Title</h1>
        <p>Published: @ViewData["DisplayDate"]</p>



        @Html.Raw(Model.Content)

    </div>
</div>