﻿@{

    ViewData["Title"] = "Thursday Notes";
}

<style>
    .col {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
</style>

<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <h1>@ViewData["Title"]</h1>


    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 id="Guidelines">Submission Guidelines</h2>

        <p>E-mail submissions for Thursday Notes are due Tuesdays at 5pm. Submissions cannot be advertised more 
        than 4-5weeks out.   For readability, each item should be no longer than approx. 3 sentences. 
        If an item contains lengthy details or instructions, it should be submitted as a Google doc. 
        A link to the doc will be provided within the Notes item. Be sure all items answer the following:</p>

        <ul>

            <li>Who?</li>
            <li>What?</li>
            <li>Where? (not just which school, but which room in the school)</li>
            <li>When? (make sure the day and date match up: i.e., Thursday, Sept. 10)</li>
            <li>Why/How? (something interesting that will help attract attention)</li>
            <li>Contact person and e-mail address?</li>

        </ul>

        <p>When a flier is submitted to be attached to the Notes, it must be a PDF file, less than 1MB.</p>

        <p>Items generally run for 2 weeks – 1 week as an “In this Issue” item, and 1 week as a “Reminder” item. 
        If any submissions are questionable for inclusion, verify with the principals and let them decide. 
        Always double-check dates, links, etc.  
        If you have a question about an item, so will the readers!</p>

        </div>
    </div>

<hr />



<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>2018/19</h2>
        <div class="row">
            <div class="col-sm-4">

                <ul>
                    <li><a href="https://drive.google.com/open?id=1TqhQUCdHr3W6iASXcv_aiFMQKXvT7sH0L-bGTQDyHkw" target="_blank">Sep 6, 2018</a></li>
                    <li><a href="https://drive.google.com/open?id=1WqP1-Ndk2Q7sWXwxN74xqIDwpubi1Je5lQVqgKrP7B0" target="_blank">Sep 13, 2018</a></li>
                    <li>Sep 20, 2018</li>
                    <li>Sep 27, 2018</li>
                    <li>Oct 4, 2018</li>
                    <li>Oct 11, 2018</li>
                    <li>Oct 18, 2018</li>
                    <li>Oct 25, 2018</li>
                    <li>Nov 1, 2018</li>
                    <li>Nov 8, 2018</li>
                    <li>Nov 15, 2018</li>
                    <li>Nov 29, 2018</li>
                    <li>Dec 6, 2018</li>

                </ul>
            </div>
            <div class="col-sm-4">

                <ul>

                    <li>Dec 13, 2018</li>
                    <li>Dec 20, 2018</li>
                    <li>Jan 10, 2019</li>
                    <li>Jan 17, 2019</li>
                    <li>Jan 24, 2019</li>
                    <li>Jan 31, 2019</li>
                    <li>Feb 7, 2019</li>
                    <li>Feb 14, 2019</li>
                    <li>Feb 21, 2019</li>
                    <li>Feb 28, 2019</li>
                    <li>Mar 7, 2019</li>
                    <li>Mar 14, 2019</li>
                    <li>Mar 21, 2019</li>


                </ul>
            </div>
            <div class="col-sm-4">

                <ul>

                    <li>Mar 28, 2019</li>
                    <li>Apr 4, 2019</li>
                    <li>Apr 11, 2019</li>
                    <li>Apr 18, 2019</li>
                    <li>Apr 25, 2019</li>
                    <li>May 2, 2019</li>
                    <li>May 9, 2019</li>
                    <li>May 16, 2019</li>
                    <li>May 23, 2019</li>
                    <li>May 30, 2019</li>
                    <li>Jun 6, 2019</li>
                    <li>Jun 13, 2019</li>
                </ul>
            </div>
        </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>2017/18</h2>

        <div class="row">
            <div class="col-sm-4">

                <ul>
                    <li><a href="https://drive.google.com/open?id=1-tJRhUTuf3Iy1mIVekxQi56BaTnQPWGElC9NoFSdIw0" target="_blank">Sep 7, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1GOexuOI2wE-bB-3TXhcrfjBWpP0txJNeZdNkOjWpo8U" target="_blank">Sep 14, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1659v8_xjHNoEB2McSYiR_Q_O27Qd9OF7hA-nB2Rlv54" target="_blank">Sep 28, 2017</a></li>

                    <li><a href="https://drive.google.com/open?id=1d9bczCGAkOTlneDCM1LXAqRGidQO1ZHloYxxvNVg3mI" target="_blank">Oct 5, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1-pDDSou7G0eSlQrfdcpWwxLOhyQpArQbc5gRLfr3-5Q" target="_blank">Oct 12, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1TGeOqwJZ0qUlEfh9K7VXqLmyxfAH8XhxxSArLPeU-N4" target="_blank">Oct 19, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1OlQqiuH6NSlJMe6atcEAMQaF6VEXCxlABW48mjZR32I" target="_blank">Oct 26, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1o-yWucGT5d3oUhmTtqZaP_qSEpb6Uwkoy5MKnzyRhuA" target="_blank">Nov 2, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1LnsSqsIYyOmzcUxVSPijxPteYeom7uq8UbXvNI1t6Cs" target="_blank">Nov 9, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=16k2T3J_VKAm6AenF5iylwp7Dsh4hvPLwODuvkNfwonE" target="_blank">Nov 16, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1xJijC1b7h076m2u9qjLRUPaDSMWf2ExiG6xfQDL6_7g" target="_blank">Nov 30, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1H1miaPaVQal-APKcUFB-HOPiEdKb-R0hYKN7tNWSUms" target="_blank">Dec 7, 2017</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://drive.google.com/open?id=1D2adS3Yx2D5oEHsb7yPQc1ZSUSGEMFC_uVdicxtU_BY" target="_blank">Dec 14, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1POUuB2ds6EGi1HwCZXR6BR-LOcYFo_SbKbTJthR4ck8" target="_blank">Dec 21, 2017</a></li>

                    <li><a href="https://drive.google.com/open?id=1uKoTQKRH1xXj-EJO4IwyLazIjHJp_ztvNJRcaWHrung" target="_blank">Jan 11, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=19Hguu-hBRTMYvJg-YAXk4Fq1ghmslq6ycuBCyFc6lEI" target="_blank">Jan 18, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1Rmx6iwbRQvblcd6FE2H5jGXbZz0JQkXZyTOZohO2iE8" target="_blank">Jan 25, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=15RFS-ZH9qcgxxUhyDu3QzmIrfyjNssxR2p6Ye4Gpoeo" target="_blank">Feb 1, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1idNX5e0BMjSdYUnIlawboMFYSjHWo5GgvmxRE9ceSPE" target="_blank">Feb 8, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1UbB51kE7SFioDktptvO5xK5W-GuGrvgwgL6qDJWTSqs" target="_blank">Feb 15, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1NsD16diRWxRo_lqxCKnyFL02g5TfKHC9JgflHHrXDxU" target="_blank">Feb 22, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1HLmf6HIErJuwylhMkK_PyKQjhvTsCOhiZVPkanxZzac" target="_blank">Mar 1, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=16NEtrht_4mltu0BEa6tdE00g6vNBhtmMEnttAEx647Y" target="_blank">Mar 8, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1JMS75GXikWQ_3VIi78khHBmpdIvVZrW51cS9x-wVQJM" target="_blank">Mar 15, 2017</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="https://drive.google.com/open?id=1nZjzJ_QdcFaOYc_O9QuZAHATk5wCgbYoCiu-JeDspBk" target="_blank">Mar 22, 2017</a></li>

                    <li><a href="https://drive.google.com/open?id=1UUubZtqSBJQlaEBHUt1RlvMjj_t2wv0GAKQ1yBaEBfI" target="_blank">Apr 5, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1BDKIVy1gAeXu3QibtTFDVdSXqcLde5MvcJoRKQ0lmfM" target="_blank">Apr 12, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1UWtOrRCF1dRD0igK1dcONNwgi9W-8-XMiXd-B7joSV4" target="_blank">Apr 19, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1QMgwqqcekXRpFGNytGlKn53rAwE1j9mcL39yuCu1o_Q" target="_blank">Apr 26, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=15GV8gV96IJ0IijCcVl1ctjvhr1q_c548WNAn5PnOkGg" target="_blank">May 3, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1-6g2a2DIltFdpbVKrNKcGBRH5dewxtewCN0Drk-TUwU" target="_blank">May 10, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1abNEBQ4uCm883oLkKixB56W-zoJ51eCrQO2_nNw9wgM" target="_blank">May 17, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1k0fvpY8E43Ag2ZDGVLMqXhuCOaBodDEnmgUhobhcPAs" target="_blank">May 24, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1jU0_hRZi1Yxh2TJTCaccRW1xFdVTZxgVPfpxheW3hZ4" target="_blank">May 31, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1awwaPoxB2O_2mUb3j1Y_8Zm5uXW1z0o_D2Q7eGfzH7g" target="_blank">Jun 7, 2017</a></li>
                    <li><a href="https://drive.google.com/open?id=1Jmf2KHFbKQr0oV4MaZ7LEu5C30C8umQZc8kmJM_49NI" target="_blank">Jun 14, 2017</a></li>
                </ul>
            </div>
        </div>
</div>
    </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>2016/17</h2>

        <div class="row">
            <div class="col-sm-4">

                <ul>
                    <li><a href="/thursday-notes/2016-09-08">Sep 8, 2016</a></li>
                    <li><a href="/thursday-notes/2016-09-15">Sep 15, 2016</a></li>
                    <li><a href="/thursday-notes/2016-09-22">Sep 22, 2016</a></li>
                    <li><a href="/thursday-notes/2016-09-29">Sep 29, 2016</a></li>
                    <li><a href="/thursday-notes/2016-10-06">Oct 6, 2016</a></li>
                    <li><a href="/thursday-notes/2016-10-13">Oct 13, 2016</a></li>
                    <li><a href="/thursday-notes/2016-10-20">Oct 20, 2016</a></li>
                    <li><a href="/thursday-notes/2016-10-27">Oct 27, 2016</a></li>
                    <li><a href="/thursday-notes/2016-11-10">Nov 10, 2016</a></li>
                    <li><a href="/thursday-notes/2016-11-17">Nov 17, 2016</a></li>

                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="/thursday-notes/2016-12-01">Dec 1, 2016</a></li>
                    <li><a href="/thursday-notes/2016-12-08">Dec 8, 2016</a></li>
                    <li><a href="/thursday-notes/2016-12-22">Dec 22, 2016</a></li>
                    <li><a href="/thursday-notes/2017-01-12">Jan 12, 2017</a></li>
                    <li><a href="/thursday-notes/2017-01-19">Jan 19, 2017</a></li>
                    <li><a href="/thursday-notes/2017-01-26">Jan 26, 2017</a></li>
                    <li><a href="/thursday-notes/2017-02-02">Feb 2, 2017</a></li>
                    <li><a href="/thursday-notes/2017-02-09">Feb 9, 2017</a></li>
                    <li><a href="/thursday-notes/2017-02-16">Feb 16, 2017</a></li>
                    <li><a href="/thursday-notes/2017-02-23">Feb 23, 2017</a></li>

                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="/thursday-notes/2017-03-02">Mar 2, 2017</a></li>
                    <li><a href="/thursday-notes/2017-03-09">Mar 9, 2017</a></li>
                    <li><a href="/thursday-notes/2017-03-23">Mar 23, 2017</a></li>
                    <li><a href="/thursday-notes/2017-03-30">Mar 30, 2017</a></li>
                    <li><a href="/thursday-notes/2017-04-13">Apr 13, 2017</a></li>
                    <li><a href="/thursday-notes/2017-04-20">Apr 20, 2017</a></li>
                    <li><a href="/thursday-notes/2017-04-27">Apr 27, 2017</a></li>
                    <li><a href="/thursday-notes/2017-05-04">May 4, 2017</a></li>
                    <li><a href="/thursday-notes/2017-05-11">May 11, 2017</a></li>
                    <li><a href="/thursday-notes/2017-06-01">Jun 1, 2017</a></li>
                </ul>
            </div>
        </div>
</div>
    </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>2015/16</h2>
        <div class="row">

            <div class="col-sm-4">
                <ul>
                    <li><a href="/thursday-notes/2015-09-10">Sep 10, 2015</a></li>

                    <li><a href="/thursday-notes/2015-09-17">Sep 17, 2015</a></li>
                    <li><a href="/thursday-notes/2015-09-24">Sep 24, 2015</a></li>
                    <li><a href="/thursday-notes/2015-10-01">Oct 1, 2015</a></li>
                    <li><a href="/thursday-notes/2015-10-08">Oct 8, 2015</a></li>
                    <li><a href="/thursday-notes/2015-10-15">Oct 15, 2015</a></li>
                    <li><a href="/thursday-notes/2015-10-22">Oct 22, 2015</a></li>
                    <li><a href="/thursday-notes/2015-11-05">Nov 5, 2015</a></li>
                    <li><a href="/thursday-notes/2015-11-12">Nov 12, 2015</a></li>
                    <li><a href="/thursday-notes/2015-11-19">Nov 19, 2015</a></li>
                    <li><a href="/thursday-notes/2015-12-03">Dec 3, 2015</a></li>

                    <li><a href="/thursday-notes/2015-12-10">Dec 10, 2015</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>

                    <li><a href="/thursday-notes/2015-12-17">Dec 17, 2015</a></li>
                    <li><a href="/thursday-notes/2016-01-07">Jan 7, 2016</a></li>
                    <li><a href="/thursday-notes/2016-01-14">Jan 14, 2016</a></li>
                    <li><a href="/thursday-notes/2016-01-21">Jan 21, 2016</a></li>
                    <li><a href="/thursday-notes/2016-01-28">Jan 28, 2016</a></li>
                    <li><a href="/thursday-notes/2016-02-04">Feb 4, 2016</a></li>
                    <li><a href="/thursday-notes/2016-02-11">Feb 11, 2016</a></li>
                    <li><a href="/thursday-notes/2016-02-25">Feb 25, 2016</a></li>
                    <li><a href="/thursday-notes/2016-03-03">Mar 3, 2016</a></li>
                    <li><a href="/thursday-notes/2016-03-10">Mar 10, 2016</a></li>
                    <li><a href="/thursday-notes/2016-03-17">Mar 17, 2016</a></li>
                    <li><a href="/thursday-notes/2016-03-24">Mar 24, 2016</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>

                    <li><a href="/thursday-notes/2016-03-31">Mar 31, 2016</a></li>
                    <li><a href="/thursday-notes/2016-04-14">Apr 14, 2016</a></li>
                    <li><a href="/thursday-notes/2016-04-21">Apr 21, 2016</a></li>
                    <li><a href="/thursday-notes/2016-04-28">Apr 28, 2016</a></li>
                    <li><a href="/thursday-notes/2016-05-05">May 5, 2016</a></li>
                    <li><a href="/thursday-notes/2016-05-12">May 12, 2016</a></li>
                    <li><a href="/thursday-notes/2016-05-19">May 19, 2016</a></li>
                    <li><a href="/thursday-notes/2016-06-02">Jun 2, 2016</a></li>
                    <li><a href="/thursday-notes/2016-06-09">Jun 9, 2016</a></li>
                    <li><a href="/thursday-notes/2016-06-16">Jun 16, 2016</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>2014/15</h2>
        <div class="row">
                <div class="col-sm-4">


                    <ul>
                        <li><a href="/thursday-notes/2014-08-25">Aug 25, 2014</a></li>
                        <li><a href="/thursday-notes/2014-09-04">Sep 4, 2014</a></li>
                        <li><a href="/thursday-notes/2014-09-11">Sep 11, 2014</a></li>
                        <li><a href="/thursday-notes/2014-09-18">Sep 18, 2014</a></li>
                        <li><a href="/thursday-notes/2014-09-25">Sep 25, 2014</a></li>
                        <li><a href="/thursday-notes/2014-10-02">Oct 2, 2014</a></li>
                        <li><a href="/thursday-notes/2014-10-09">Oct 9, 2014</a></li>
                        <li><a href="/thursday-notes/2014-10-16">Oct 16, 2014</a></li>
                        <li><a href="/thursday-notes/2014-10-23">Oct 23, 2014</a></li>
                        <li><a href="/thursday-notes/2014-10-30">Oct 30, 2014</a></li>
                        <li><a href="/thursday-notes/2014-11-06">Nov 6, 2014</a></li>
                        <li><a href="/thursday-notes/2014-11-13">Nov 13, 2014</a></li>
                        <li><a href="/thursday-notes/2014-11-20">Nov 20, 2014</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li><a href="/thursday-notes/2014-12-04">Dec 4, 2014</a></li>
                        <li><a href="/thursday-notes/2014-12-11">Dec 11, 2014</a></li>
                        <li><a href="/thursday-notes/2014-12-18">Dec 18, 2014</a></li>
                        <li><a href="/thursday-notes/2015-01-08">Jan 8, 2015</a></li>
                        <li><a href="/thursday-notes/2015-01-15">Jan 15, 2015</a></li>
                        <li><a href="/thursday-notes/2015-01-22">Jan 22, 2015</a></li>
                        <li><a href="/thursday-notes/2015-01-29">Jan 29, 2015</a></li>
                        <li><a href="/thursday-notes/2015-02-05">Feb 5, 2015</a></li>
                        <li><a href="/thursday-notes/2015-02-12">Feb 12, 2015</a></li>
                        <li><a href="/thursday-notes/2015-02-26">Feb 26, 2015</a></li>
                        <li><a href="/thursday-notes/2015-03-05">Mar 5, 2015</a></li>
                        <li><a href="/thursday-notes/2015-03-12">Mar 12, 2015</a></li>
                        <li><a href="/thursday-notes/2015-03-19">Mar 19, 2015</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li><a href="/thursday-notes/2015-03-26">Mar 26, 2015</a></li>
                        <li><a href="/thursday-notes/2015-04-02">Apr 2, 2015</a></li>
                        <li><a href="/thursday-notes/2015-04-16">Apr 16, 2015</a></li>
                        <li><a href="/thursday-notes/2015-04-23">Apr 23, 2015</a></li>
                        <li><a href="/thursday-notes/2015-04-30">Apr 30, 2015</a></li>
                        <li><a href="/thursday-notes/2015-05-07">May 7, 2015</a></li>
                        <li><a href="/thursday-notes/2015-05-14">May 14, 2015</a></li>
                        <li><a href="/thursday-notes/2015-05-21">May 21, 2015</a></li>
                        <li><a href="/thursday-notes/2015-05-28">May 28, 2015</a></li>
                        <li><a href="/thursday-notes/2015-06-04">Jun 4, 2015</a></li>
                        <li><a href="/thursday-notes/2015-06-11">Jun 11, 2015</a></li>
                    </ul>

                </div>
            </div>
        </div>
</div>