@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Jump Rope for Heart Week</li>
    <li>Attention Fourth Grade Parents</li>
    <li>Restaurant Day</li>
    <li>Thank You</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Fourth Grade Families Save the Date</li>
    <li>Target Says Thanks A Billion To Schools</li>
    <li>TEDxYouth@AnnArbor</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1473"></span></p>
<p><a href="/wp-content/uploads/2015/05/Immunizations-and-Screenings-Final-Scarlett-Middle-3.pdf">Hearing and Vision Screenings</a></p>
<p><a href="/wp-content/uploads/2015/05/Immunizations-Scarlett-Middle-3.pdf">Immunizations </a></p>
<p><strong>Jump Rope for Heart Week:</strong> Bryant/Pattengill students will be participating in the American Heart Association's Jump Rope for Heart Week<strong>Thursday, May 28-Monday, June 8</strong>. The program encourages community service while reminding students how important it is to make "heart healthy" choices over the summer. Family and friends are welcome to support your child's volunteering efforts by donating to the American Heart Association. All donations are <strong>due by June 8</strong>. <a href="http://jumphoops2015mwa.kintera.org/bryantelementary" target="_blank" rel="noreferrer">Click here to join the Bryant team</a>, and <a href="http://www.kintera.org/faf/teams/groupteamlist.asp?ievent=1116303&amp;tlteams=6127644http://www.kintera.org/faf/teams/groupteamlist.asp?ievent=1116303&amp;tlteams=6127644" target="_blank" rel="noreferrer">click here to join the Pattengill team</a>. You will also find heart healthy resources such as "Ideas on How To Be a Healthy Family." Questions? Contact Joy Meadows at:<a href="mailto:Joy.Meadows@heart.org" rel="noreferrer">Joy.Meadows@heart.org</a>.</p>
<hr />
<p><strong>Attention Fourth Grade Parents:</strong> Your child has a 25% chance of being placed in Ms. Kimmey's &amp; Mr. Hall's fifth grade class next year. That's right, Mr. Hall and Ms. Kimmey could be job sharing next year! Would you like to know more about how this partnership could benefit your child? Attend the Kimmey/Hall Parent Information Night on <strong>Monday, June 1, 6:00-7:00pm</strong> in room B-18 at Pattengill. <em>Note: Classroom placements will not be completed until late August 2015.</em></p>
<hr />
<p><strong>Restaurant Day:</strong> Thank you to all of our families that visited Tony Sacco's Pizza on Tuesday in support of our schools. Our final Restaurant Day for this school year will be <strong>Monday, June 8 at Mi Compadre, 2111 Packard</strong> (at Crestland, near Pattengill). More details to follow. Questions? Contact Larry Lage at: <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Thank you</strong> to <strong>Mr. Hamilton</strong> for creating fun and engaging stations for the Pattengill Field Day. Thank you to all the volunteers who came out to help run the stations. The weather was perfect and everyone had a great time!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Fourth Grade Families Save The Date:</strong> Fifth Grade Camp at Howell Nature Center will be <strong>November 11-13, 2015</strong>. We will need adult volunteers to join the 5<sup>th</sup> grade students and teachers (at least 10 chaperones and 1 medical professional). Mark your calendars and please consider volunteering to make this trip a success. Cost is expected to be $150 per student. Detailed information will be sent home in the fall. Questions? Contact Barb Zimdars at <a href="mailto:zimdars@comcast.net" rel="noreferrer">zimdars@comcast.net</a>.</p>
<hr />
<p><strong>Target Says "Thanks a Billion" To Schools:</strong> Now through June 15, Target will donate $25 to our schools when you post a "thank-you" message to your child's teacher on FaceBook. Select Bryant/Pattengill as your chosen school, describe why your child's teacher is awesome, and tag your message with #ThanksaBillion. Target will donate $25 for your first message, but you may write as many thank-you messages as you like! Visit <span style="text-decoration: underline;"><a href="https://thanksabillion.target.com/" target="_blank" rel="noreferrer">https://thanksabillion.target.com</a></span> for full details.</p>
<hr />
<p><strong>TEDxYouth@AnnArbor</strong> will be held on <strong>Saturday, June 6, 8am-4pm at Skyline High School</strong>. This event, which is planned, organized, and run by students from several Ann Arbor high schools, is designed to promote the voice of youth in our community. Talks will address a wide range of topics from technology backlash to volunteering in Sri Lanka, as students speak out to their community. For more information and to purchase tickets, please visit: <a href="https://sites.google.com/a/aaps.k12.mi.us/tedxyouth-annarbor/home" target="_blank" rel="noreferrer">https://sites.google.com/a/aaps.k12.mi.us/tedxyouth-annarbor/home</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>May</strong></p>
<ul>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Mon. June 1: Kimmey/Hall 4<sup>th</sup> Grade Parent Information Night, 6-7pm, Room B-18 at Pattengill</li>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 2pm</li>
    <li>Mon. June 8: Restaurant Day at Mi Compadre, 2111 Packard</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>