@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><span style="color: #008000">Kindergarten/Young 5s Round-Up Is <span class="aBn"><span class="aQJ">TONIGHT</span></span></span></li>
    <li><span style="color: #008000">Read-A-Thon Begins <span class="aBn"><span class="aQJ">Friday</span></span></span></li>
    <li><span style="color: #008000">Bryant Scholastic Book Fair Is <span class="aBn"><span class="aQJ">March 1-4</span></span></span></li>
    <li><span style="color: #008000">Bryant's Family Reading Night Is March 3</span></li>
    <li><span style="color: #008000">Smiles Dentist Is Coming to Bryant on March 9</span></li>
    <li><span style="color: #008000">AAPS Young Fives, Early Childhood Expo <span class="aBn"><span class="aQJ">This Saturday</span></span></span></li>
    <li><span style="color: #008000">Former B/P Student in Need of Our Support</span></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><span style="color: #008000">Disability Awareness Workshop: Volunteers Needed on <span class="aBn"><span class="aQJ">Thurs., March 31</span></span></span></li>
    <li><span style="color: #008000">Looking To Volunteer? We Need YOU!</span></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><span style="color: #008000">Fifth Grade Camp Is <span class="aBn"><span class="aQJ">March 9-11</span></span></span></li>
    <li><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></li>
</ul>
<h6>Mark Your Calendars</h6>
<p dir="ltr"> Stay Connected</p>
<h6></h6>
<hr />
<h6>In This Issue</h6>
<p dir="ltr"><span style="color: #008000"> Kindergarten/Young Fives Round-Up Is Tonight:</span> Bryant's Kindergarten/Young Fives Round-Up will be held tonight at 6-7:30pm at Bryant School. In the event that school is closed today due to the weather, we will have our Round-Up on <span class="aBn"><span class="aQJ">Tuesday, March 1</span></span> from <span class="aBn"><span class="aQJ">6-7:30pm</span></span>. Attending Round-Up will allow our future Bryant Tigers and their parents to meet our Kindergarten/Young Fives teachers, enjoy snacks, go on a scavenger hunt throughout our building, and get all your questions answered about Bryant! Please invite any friends or neighbors that may be considering Bryant for Kindergarten or Young Fives next year. Thank you!</p>
<hr />
<p dir="ltr"><span style="color: #008000">Read-A-Thon Begins Friday!</span> Our annual Read-A-Thon fundraiser will run from Feb. 26-<span class="aBn"><span class="aQJ">Mar. 9</span></span>. It's easy and FUN! Students ask friends and relatives to sponsor them for time spent reading. As they read, they will also earn raffle tickets for a chance to win small, daily prizes. The classroom with the highest average hours read per student at Bryant and Pattengill will each win a class party! Read-A-Thon is a major fundraiser for our paired schools, helping to fund field trips, assemblies, classroom supplies, and much more. If your child did not bring the materials home before Mid-winter break, please look for the packet this week. Happy reading! Questions? Email us at <a href="http://readathon@bryantpattengill.org" target="_blank">readathon@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Bryant Scholastic Book Fair:</span> <span class="aBn"><span class="aQJ">March 1-4</span></span> - Come out and get your favorite new books just in time for the Read-A-Thon! Your children will have a chance to preview the Fair during school on Monday, February 29. Book Fair hours will be from <span class="aBn"><span class="aQJ">9am-8:30pm</span></span> on Tues. (3/1), <span class="aBn"><span class="aQJ">9am-10am</span></span> on Wed. (3/2), <span class="aBn"><span class="aQJ">9am-8pm</span></span> on Thurs. (3/3), and <span class="aBn"><span class="aQJ">9am-2pm</span></span> on Fri. (3/4). The Book Fair will be open during Family Night on Thursday, March 3 for your convenience. If you prefer to order online, click<a href="http://bookfairs.scholastic.com/homepage/bryantelementaryschool30" target="_blank"> HERE </a>for the Online Book Fair. If you would like to volunteer, we still have several opportunities available. Please Click <a href="http://www.signupgenius.com/go/10c0e48afae28a2fc1-bryant3" target="_blank">HERE</a> to sign-up. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org.</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Bryant's Family Reading Night Is March 3:</span> Get ready to come to school in your pajamas with your favorite stuffed animal and/or blanket and have fun reading with all of your closest friends and family. Family Reading Night will take place on <span class="aBn"><span class="aQJ">Thursday, March 3</span></span>, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>, with story time at 7pm in the Bryant Media Center. The Scholastic Book Fair will also be taking place if you are interested in purchasing books at that time for this great event. Please see <a href="https://drive.google.com/file/d/0B-_iHxypfI5bMS1XdjM5NTYxMkE/view?usp=sharing" target="_blank">attached </a>flyer below for more information.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Smiles Dentist Is Coming to Bryant on March 9:</span> If your child will be participating, please complete the dental forms that were sent home this week and return them to the office by <span class="aBn"><span class="aQJ">Friday, February 26</span></span>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Ann Arbor Public Schools Young Fives, Early Childhood Expo <span class="aBn"><span class="aQJ">This Saturday</span></span>:</span> Do you know anyone considering a Young Fives program or wanting more information about Kindergarten? Please see <a href="https://drive.google.com/file/d/0B-_iHxypfI5bdl9hSUY4ZkhXV2M/view?usp=sharing" target="_blank">attached</a> flyer for this event happening this <span class="aBn"><span class="aQJ">Saturday, February 27, 10am-2pm</span></span> at the Scott Westerman Preschool and Family Center.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Former B/P Student in Need of Our Support:</span> Alec Vorhoff is a graduate of Bryant/Pattengill and currently an 8th grader at Tappan Middle School. Alec was recently diagnosed with brain cancer. He has begun radiation treatments and chemotherapy. Alec and his mom Heather are in need of financial assistance to endure the long road ahead. Friends have created a <a href="https://www.gofundme.com/f3k2tptw" target="_blank">GoFundMe.com</a> site, to support the Vorhoff family during Alec's treatment. Please consider helping this family during a difficult time, all donations are greatly appreciated.</p>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><span style="color: #008000"> Disability Awareness Workshop: Volunteers Needed on Thurs. March 31</span> "Can you imagine what it would be like to push a wheelchair through the snow outside?" The Disability Awareness Workshop (DAW) is a one-day program to teach an empathetic understanding of physical, developmental, and learning disabilities. We are proud to once again offer this powerful experience for our 4th and 5th graders! To staff this event, 23 parent volunteers are needed for each of 2 workshops at Pattengill. Our 4th graders will experience the workshop during the morning of Thursday, March 31, and 5th graders will follow in the afternoon. Volunteers are needed at several hands-on stations: vision, hearing, speech, learning disabilities, physical impairments, and building accessibility. No experience working with people with disabilities is necessary. Lunch is provided for all volunteers! To sign up, please sign up by going to the following site :<a href="http://http://goo.gl/forms/L3L86NxdOS" target="_blank"> </a><a href="http://goo.gl/forms/L3L86NxdOS" target="_blank">http://goo.gl/forms/L3L8<span class="aBn"><span class="aQJ">6</span></span>NxdOS</a>  Please support this important experience for our kids, and be a part of the DAW team! Questions? Contact Jaime Moore: <a href="mailto:michiganjaime@hotmail.com" target="_blank">michiganjaime@hotmail.com</a> or Xan Morgan: <a href="mailto:xandramorgan@gmail.com" target="_blank">xandramorgan@gmail.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Looking To Volunteer? We need YOU!</span> There is an opportunity for ALL B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. Please visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-201<span class="aBn"><span class="aQJ">6</span></span> Bryant/Pattengill Volunteer Sign-Up</a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p dir="ltr"> Reminders</p>
<p dir="ltr"><span style="color: #008000"> Fifth Grade Camp Is <span class="aBn"><span class="aQJ">March 9-11</span></span>:</span> Reminder, Fifth Grade Camp at Howell Nature Center has been re-scheduled for March 9-11, 2016. The packing list and all other important documents can be found on the camp website <a href="/5th-grade-camp/" target="_blank">http://bryantpattengill.org/5th-grade-camp/</a>. Questions? Contact 5th Grade Camp Chair Barb Zimdars at <a href="mailto:barbara.zimdars@bryantpattengill.org" target="_blank">barbara.zimdars@bryantpattengill.org</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p dir="ltr"> Mark Your Calendars</p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong>February</strong></p>
<ul>
    <li>
        <p dir="ltr"><span style="color: #008000">Thurs, Feb. 25: Kindergarten/Young Fives Round-Up, Bryant Multipurpose Room, <span class="aBn"><span class="aQJ">6-7:30pm</span></span> (if cancelled due to weather, the make-up date is Tues., March 1)</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><span class="aBn"><span class="aQJ">Fri, Feb. 26 - Mar 9</span></span>: Read-A-Thon</span></p>
    </li>
</ul>
<p dir="ltr"><strong>March</strong></p>
<ul>
    <li><span style="color: #008000">Tues, Mar. 1:  <strong>Kindergarten/Young Fives Round-Up- NEW DATE- 6-7:30pm</strong></span></li>
    <li>
        <p dir="ltr"><span style="color: #008000">Tues-<span class="aBn"><span class="aQJ">Fri, Mar. 1-4</span></span>: Bryant Book Fair</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Thurs, Mar. 3: Pajama Night &amp; Book Fair Family Night, Bryant, <span class="aBn"><span class="aQJ">6:30-8pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Wed-<span class="aBn"><span class="aQJ">Fri, Mar. 9-11</span></span>: 5th Grade Camp</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Thurs, Mar. 10: School Improvement Team (SIT) Meeting, Pattengill, 4:30pm</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><span class="aBn"><span class="aQJ">Thurs, Mar. 10</span></span>: PTO Exec Board Meeting, Pattengill, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Tues, Mar. 15: Tech Night, Pattengill, <span class="aBn"><span class="aQJ">5:30-8pm</span></span> (<span class="aBn"><span class="aQJ">5:30-6:30</span></span>-food available) &mdash; DATE CHANGE</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Tues, Mar. 15: Report Cards Go Home</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Wed, Mar. 16: Pizza with the Principals, Bryant Community Center, <span class="aBn"><span class="aQJ">6-7pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Tues, Mar. 22: Family Science Night, Bryant, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000">Fri, Mar. 25: NO SCHOOL &mdash; Good Friday</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><span class="aBn"><span class="aQJ">Tues, Mar. 29</span></span>: Pattengill Spring Pictures</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><span class="aBn"><span class="aQJ">Tues, Mar. 29</span></span>: 4th Grade Spring Recorder Concert, Pattengill, <span class="aBn"><span class="aQJ">7pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><span class="aBn"><span class="aQJ">Wed, Mar. 30</span></span>: Bryant Spring Pictures</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><span class="aBn"><span class="aQJ">Thurs, Mar. 31</span></span>: Disability Awareness Workshop at Pattengill for <span class="aBn"><span class="aQJ">4</span></span>th Grade (morning) and 5th Grade (afternoon)</span></p>
    </li>
</ul>
<p>&nbsp;</p>
<hr />
<h6>Stay Connected</h6>
<p dir="ltr"><strong><span style="color: #008000">PTO Website:<a style="color: #008000" href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></span></strong></p>
<p dir="ltr"><strong><span style="color: #008000">PTO on Facebook:<a style="color: #008000" href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></span></strong></p>
<p dir="ltr"><strong><span style="color: #008000">PTO on Twitter:<a style="color: #008000" href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></span></strong></p>
<p dir="ltr"><strong><span style="color: #008000">Bryant Website:<a style="color: #008000" href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></span></strong></p>
<p dir="ltr"><strong><span style="color: #008000">Pattengill Website:</span></strong><a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<hr />
<p dir="ltr"> Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p><img class="CToWUd a6T" src="https://lh3.googleusercontent.com/chU_zDYeeGOIdm0pzRhTBzESU_QhXVy7WlNjtnHXuhdzHjrxq_HUp6BrXalhVAvy2gAEM5pS-Bljzm-nIHxpwlWZcrdxGf4GTH_2rHiKPkwzRu_Pu7AUnBwu182Cw5NvpeCxxqVq" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="1637853858"  /></p>