@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Lunch with Loved Ones</li>
    <li>Tappan Players Presents <em>Anything Goes</em></li>
    <li>Check Out B/P Artwork in Youth Art Walk 2015</li>
    <li>Volunteer Appreciation Night</li>
    <li>Lucky's Market Shopping Days a Huge Success</li>
    <li>Stone School Road Construction</li>
    <li>Kudos</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Food Drive Ends Friday</li>
    <li>Invitation to 5<sup>th</sup> Grade Parents</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><span id="more-1270"></span></p>
<p><strong>In this issue</strong></p>
<p><strong>Lunch with Loved Ones:</strong> The Proud Dads Club is hosting "Lunch with Loved Ones" at<strong> Pattengill TODAY, Thursday, March 26, </strong>and at<strong> Bryant on Friday, March 27</strong>. This is a time when a parent, family member, or loved one is invited to bring a lunch and eat with their student during his/her scheduled lunch period. Lunch times are as follows: <strong>Kindergarten/Young Fives:</strong> 11:25-11:48am, <strong>1<sup>st</sup> grade:</strong> 11:51am-12:15pm, <strong>2<sup>nd</sup>grade:</strong> 12:20-12:45pm, <strong>3<sup>rd</sup> grade:</strong> 12:19-12:43pm, <strong>4<sup>th</sup> grade:</strong> 12:43-1:07pm, <strong>5<sup>th</sup> grade:</strong> 11:49am-12:13pm. Questions? Contact: <a href="mailto:dads@bryantpattengill.org" rel="noreferrer">dads@bryantpattengill.org</a></p>
<hr />
<p><strong>Tappan Players Presents <em>Anything Goes</em></strong><strong>:</strong> Tickets are now available for the Tappan Players production of <em>Anything Goes</em>. The cast includes Pattengill alumni, so come support former Pumas while getting a taste of all the fun students have in theater once they're at Tappan Middle School! Performances are in the Tappan Auditorium on <strong>Friday, March 27 at 7pm; Saturday, March 28 at 2pm; and Sunday, March 29 at 1pm</strong>. Tickets can be purchased online at <a href="https://www.showtix4u.com/boxoffice.php?submit=Search+for+Events&amp;begin=1542968&amp;current_client=1232521302181367&amp;ts=1427318121" target="_blank" rel="noreferrer">ShowTix4U</a> for $10 each, or at the ticket booth (inside the bubble doors) for cash or check only before each performance. Enjoy the show!</p>
<p><a href="/wp-content/uploads/2015/03/Tappan-Players.pdf">Anything Goes flyer</a></p>
<hr />
<p><strong>Check Out Bryant/Pattengill Artwork in Youth Art Walk 2015:</strong> This month is Youth Art Month and many downtown Ann Arbor businesses are celebrating by featuring artwork by AAPS students. Selected Bryant students' artwork can be found at Real Seafood Co. (341 S. Main St.) and selected Pattengill students' artwork is at Downtown Home &amp; Garden (210 S. Ashley St.). Please join us on <strong>Sunday, March 29, 2-3pm at The Ark</strong>(316 S. Main St.) for the closing reception, followed by an art walk. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEU0NpYlRQTHFLU3c/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for a map of downtown, where student art is displayed.</p>
<hr />
<p><strong>Volunteer Appreciation Night:</strong> Calling all parent volunteers! If you have volunteered your time and energy to the Bryant/Pattengill community this school year, we invite you to Volunteer Appreciation Night on <strong>Tuesday, March 31, 6:30-8:00pm at Pattengill, Rooms B19-B20</strong>. A salad bar and light refreshments will be served during the celebration. Raffle baskets will be given to several lucky attendees. Come and let us say "thank you" for all that you do for our schools!</p>
<p><a href="/wp-content/uploads/2015/03/Volunteer-Appreciation-Flyer.pdf">Volunteer Appreciation Flyer</a></p>
<hr />
<p><strong>Lucky's Market Shopping Days a Huge Success:</strong> Thank you to the families who shopped at Lucky's Market on March 10 and 17 in support of our schools. Lucky's generously donated 5% of all sales on those two days, and it amounted to $4,600 for Bryant/Pattengill! A huge thank-you to Lucky's Market and their commitment to community.</p>
<hr />
<p><strong>Stone School Road Construction:</strong> Construction on Stone School Road will start-up again on <strong>Monday, March 30,</strong> and is expected to be complete in August. Watch for detour signs that redirect traffic, and please allow a few extra minutes when traveling to/from Bryant. Thank you for your patience.</p>
<hr />
<p><strong>Kudos</strong> to Charlita Daniels, parent volunteers, Pioneer High School chemistry student volunteers, and the Hands-On Museum staff for making this year's Science Night a roaring success! The children enjoyed exploring all of the fun and exciting experiments. Thank you to all that attended - we'll see you next year!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Food Drive To Fight Summer Hunger:</strong> <strong>Friday, March 27</strong> is the last day to donate canned goods and non-perishable items for Rotary Club of Ann Arbor's Food Drive To Fight Summer Hunger. Collection boxes are located at the front office at each school. Thank you!</p>
<hr />
<p><strong>Invitation to 5<sup>th</sup> Grade Parents:</strong> The Tappan Parent-Teacher-Student Organization (PTSO) invites all incoming 6<sup>th</sup> grade parents to our next PTSO meeting. You will have a chance to hear the principals speak and learn a little about what goes on at Tappan Middle School. The meeting is on <strong>Monday, April 20 at 6:00pm in the Tappan Media Center</strong>. Use the west entrance to the school and take the first staircase. The Media Center is on the second floor, on the left, just past the doors. Questions? Contact Marsha Skoman,Tappan PTSO President at<a href="mailto:mskoman@tappanptso.org" rel="noreferrer">mskoman@tappanptso.org</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>March</strong></p>
<ul>
    <li>Thurs. March 26: Lunch with Loved Ones at Pattengill</li>
    <li>Thurs. March 26: Fourth Grade Recorder Concert, 7pm, Pattengill</li>
    <li>Fri. March 27: Lunch with Loved Ones at Bryant</li>
    <li>Fri. March 27: Last Day To Donate to Rotary Club's Food Drive</li>
    <li>Tues. March 31: Volunteer Appreciation Night, 6:30-8pm, Pattengill</li>
</ul>
<p><strong>April</strong></p>
<ul>
    <li>Wed. April 1: Kindergarten Registration and Readiness Day (for 2015-16 incoming kindergarten students), 9am-2pm by appointment, Bryant Gym</li>
    <li>Fri. April 3 - Fri. April 10: <strong>Spring Break - No School for Students</strong></li>
    <li>Tues. April 14: Bryant Spring Picture Day</li>
    <li>Tues. April 14: PTO Executive Board Meeting, 7-8pm, Bryant Media Center</li>
    <li>Thurs. April 16: Pattengill Spring Picture Day</li>
    <li>Wed. April 22: Earth Day of Service at Both Schools</li>
    <li>Thurs. April 23: International Festival, 6-7:30pm, Bryant</li>
    <li>Tues. April 28: Third Grade Spring Sing Concert, 7-8pm, Pattengill Cafeteria</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>