@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5><b>In This Issue:</b></h5>
<ul>
    <li><span style="color: #008000"><b>International T-Shirts Pre-Orders Due Friday</b></span></li>
    <li><span style="color: #008000"><b>Help Celebrate Earth Day on Friday </b></span></li>
    <li><span style="color: #008000"><b>Ice Cream Social: Family Donation Drive </b></span></li>
    <li><span style="color: #008000"><b>Great Lakes Scrip Gift Cards Make Great Gifts &amp; Support the PTO</b></span></li>
    <li><span style="color: #008000"><b>Celebrate Spring with Restaurant Day at Bagger Dave's</b></span></li>
    <li><span style="color: #008000"><b>Teacher &amp; Staff Appreciation Week, May 1-5</b></span></li>
</ul>
<h5><b>Help Wanted: Volunteer Opportunities</b></h5>
<ul>
    <li><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up</b></span></li>
</ul>
<h5><b>Reminders:</b></h5>
<ul>
    <li><span style="color: #008000"><b>Bryant/Pattengill PTO Board Nominations Due Friday</b></span></li>
    <li><span style="color: #008000"><b>Show Your Support: Shop at the PTO Thrift Shop</b></span></li>
    <li><span style="color: #008000"><b>Pioneer Theatre Guild's </b><b><i>The Wizard of Oz</i></b><b> Opens Saturday Night</b></span></li>
    <li><span style="color: #008000"><b>Bryant/Pattengill International Festival Next Week</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h5><b>Mark Your Calendars</b></h5>
<h5><b>Stay Connected</b></h5>
<p><span id="more-2459"></span></p>
<h6><b>In This Issue</b></h6>
<p><b><span style="color: #008000">International T-Shirts Pre-Orders Due Friday</span>: </b>Pre-order your International Festival t-shirts and SAVE! T-shirts will be $6 at a special pre-order price and will go up to $8 when sold the night of the International Festival. There are a limited number of sizes available. For more information and to place a pre-order, please <a href="https://docs.google.com/a/aaps.k12.mi.us/forms/d/e/1FAIpQLSdIK5Cg8dI9_CFO4cnNTn_qgBZtJaTtFj0qmGF75iviGJNIzQ/viewform?usp=sf_link">click here. </a>Order forms are being sent home with your child, as well.</p>
<hr />
<p><span style="color: #008000"><b>Help Celebrate Earth Day on Friday:</b></span> In honor of Earth Day, Bryant and Pattengill's annual Day of Service will occur <b>tomorrow, April 21.</b> From <b>9:30-12:00 at Bryant</b>, and <b>1:30-3:30 at Pattengill</b>, each classroom will help beautify their school grounds. Parents are invited to join their student's classroom and/or assist with landscaping and gardening. If you are able to join for any portion of the day, please<a href="http://www.signupgenius.com/go/508054facaf22a02-earth"> <b>sign up</b></a>. For further information, details, and links to websites with earth-friendly tips, <a href="https://drive.google.com/file/d/0B-_iHxypfI5bUUllY3pHVlNZUmM/view?usp=sharing"><b>click here.</b></a></p>
<hr />
<p><b></b><span style="color: #008000"><b>Ice Cream Social: Family Donation Drive </b></span>&mdash; Don't miss the Bryant/Pattengill Ice Cream Social (ICS) on <b>Friday, May 19, 6:00-8:30pm </b>at Pattengill. This family-favorite event is our schools' largest fundraiser, featuring bounce houses, karaoke, soccer shoot-out, basketball mini hoops, raffle and silent auction prizes, and plenty of frozen treats! <b>We kindly ask families to contribute $5 toward the ICS Family Donation Drive</b>, to help supply some of the most popular raffle prizes, such as toys and electronics. Your child will be bringing home a collection envelope, and all donations are <b>due by Monday, May 1</b>. Thank you! Questions? Contact Lisa Wong at <a href="mailto:mrswonger@yahoo.com">mrswonger@yahoo.com.</a></p>
<hr />
<p><b><span style="color: #008000">Great Lakes Scrip Gift Cards Make Great Gifts &amp; Support the PTO:</span> </b>Are you looking to give gift cards for an upcoming graduation, end-of-year teacher gift, wedding, shower, etc.? There are many local and national retailers through Great Lakes Scrip fundraising, so there is a gift card for everyone. You can even order gift cards for your own local shopping! A portion of every gift card bought goes to support our schools. <a href="https://drive.google.com/file/d/0B-_iHxypfI5beHR4VExHUUx3cU0/view">Order forms </a>will be sent home with your child this week, and are due back to the school offices by <b>Friday, May 5</b>. <b>Payment must accompany your order. Please be sure to write your phone number and your child's and teacher's names on your order form, and address your envelope to SCRIP ORDER/SHANNON KOTRE.</b> All orders will be distributed on Thursday, May 11. Alternate options for delivery are available, so please contact me directly if you prefer not to have your order sent home with your child.<a href="https://docs.google.com/document/d/1_wrYQAzWcqFY-bIrp1URZnIWK8LB9ZdIso5-H9uRRsw/edit?usp=sharing"> Click here </a>for instructions on how to order online. Questions? Contact Shannon Kotre at: <a href="mailto:sskotre@hotmail.com">sskotre@hotmail.com</a>.</p>
<hr />
<p><b><span style="color: #008000">Celebrate Spring with Restaurant Day at Bagger Dave's</span>:</b> Are you craving a hamburger or a Black Bean Burger? Come join your fellow Bryant/Pattengill families at Bagger Dave's on <b>Monday, April 24, from 5-9pm, 859 W. Eisenhower</b> in the Colonnade shopping center. Please <a href="https://drive.google.com/file/d/0B-_iHxypfI5bdHZxQ0dFblZxR0E/view?usp=sharing"><b>present</b></a> the flyer to your server and 15% of the bill will go to the Bryant/Pattengill PTO.</p>
<hr />
<p><span style="color: #008000"><b>Teacher &amp; Staff Appreciation Week, May 1-5: </b></span>We hope that all B/P families will join in celebrating the amazing teachers &amp; staff who make our schools a great place for our children to learn and grow. Schedule: <b>Monday, May 1:</b> Words of appreciation! Students are encouraged to make and deliver cards or notes to their classroom &amp; specials teachers, and to school staff. (Cards can be brought in any day that week!) <b>Tuesday, May 2: No School. Wednesday, May 3:</b> Lunch for teachers &amp; staff at both schools. We will need some assistance with set up and clean up (see sign-up below). <b>Thursday, May 4:</b> Sweet treats! Please consider donating a homemade or store-bought treat for our teachers &amp; staff to share. Treats can be dropped off in the morning at each school, or brought to the school during set up (11am). <b>Friday, May 5:</b> Flower Power! Children are encouraged to bring in a flower for their teachers and staff. Please <a href="https://docs.google.com/spreadsheets/d/1zQyPxub06GUeLZg7WU88K9xKgJeRXsZeoiGd2ELiJtg/edit?usp=sharing"><b>Click Here</b> </a>to sign up to help, or donate treats. Questions? Contact Laura Gultekin at <a href="mailto:laurag@gmail.com">laurag@gmail.com</a>.</p>
<hr />
<h6><b>Help Wanted: Volunteer Opportunities: </b></h6>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b> T</span>he PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<h6><b>Reminders:</b></h6>
<p><span style="color: #008000"><b>Bryant/Pattengill PTO Board Nominations Due Friday: </b></span>The B/P Parent-Teacher Organization (PTO) Board is seeking new Board members for the 2017/2018 school year. Nominations are due <b>Friday, April 21.</b> <a href="https://drive.google.com/file/d/0B00evgpXySN0WHgtU1N2Y2Z0cTA/view?usp=sharing">Click here</a> to learn more about the open Board positions of <b>Internal Secretary </b>and<b> External Secretary.</b> Please contact Co-President Kathy Brady with questions or nominations: kathy.brady@bryantpattengill.org. Thank you for considering joining your PTO Board!</p>
<hr />
<p><b><span style="color: #008000">Show Your Support: Shop at the PTO Thrift Shop</span> </b><b>- </b>We have an opportunity to earn a percentage of $2,000 to support the cost of transportation for our students' field trips. Here's how it works: Shop the Ann Arbor PTO Thrift Shop (2280 S. Industrial Hwy.) between <b>April 16-29.</b> For every $5 spent, shoppers earn a token. Cast your tokens in support of our schools! Spread the word to friends and family and let's show our support! See the flier below for store hours.</p>
<hr />
<p><span style="color: #008000"><b>Pioneer Theatre Guild's </b><b><i>The Wizard of Oz</i></b></span><b><span style="color: #008000"> Opens Saturday Night:</span> </b>Join several of our B/P students "Over the Rainbow" in Pioneer Theatre Guild's production of <b>The</b> <b>Wizard of Oz</b>. Performances are <b>April 22</b>, <b>28, and 29 at 7:30pm,</b> <b>and April 23 and 30 at</b> <b>2pm.</b> Tickets are $15 (adults) and $10 (students and seniors 65+) and available at <a href="http://showtix4u.com/">showtix4u.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>Bryant/Pattengill International Festival Next Week: </b></span>The B/P annual International Festival will be held at Bryant this year, on <b>Thursday, April 27, 6:30-8:00pm.</b> Please consider contributing to this event, to help make it a success! For more information and to sign-up, visit:<a href="http://bit.ly/2l566NW"> http://bit.ly/2l566NW</a>. We look forward to celebrating our diversity together as one commUNITY!</p>
<hr />
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop: </b></span>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h6><b>Mark Your Calendars</b></h6>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>April</b></p>
<ul>
    <li>
        Thurs, Apr 20: Kindergarten Registration &amp; Readiness, Bryant Gym (by Appointment), 9am-2pm<br />
        Pattengill Spring Picture Day
    </li>
    <li>Fri, Apr 21: Earth Day of Service <i>(ALL Parents Welcome to Volunteeer </i> Bryant: Morning, Pattengill: Afternoon</li>
    <li>Mon, Apr 24: B/P Restaurant Day at Bagger Dave's, 5-9pm</li>
    <li>Tues, Apr 25: 3rd Grade Spring Concert, Pattengill Cafeteria, 7-8pm</li>
    <li>Thurs, Apr 27: International Festival, Bryant, 6:30-8pm</li>
</ul>
<p><b>  </b><b>May </b></p>
<ul>
    <li>Mon- Fri, May 1-5: Teacher &amp; Staff Appreciation Week</li>
    <li>Tues, May 2: Election Day - <b><i>No School for Students</i></b></li>
    <li>
        Wed, May 3: 2nd to 3rd Grade Transition, Students (at Pattengill),9:30-11:00am<br />
        2nd to 3rd Grade Transition, Parent Informational Night, Pattengill, 6-7pm
    </li>
    <li>Mon, May 8: 5th Grade Instrumental Spring Concert, Pattengill Cafeteria,    6:30pm</li>
    <li>
        Tues, May 9: School Improvement Team (SIT) Meeting, Pattengill, 4:30-5:30pm<i>
            <br />
        </i>     PTO General Meeting, Pattengill <i>(ALL Families Welcome, Childcare Provided), </i>6pm-7:30pm
    </li>
    <li>Mon, May 15: Lunch with a Loved One at Pattengill</li>
    <li>Tues, May 16: Lunch with a Loved One at Bryant</li>
    <li>Fri, May 19: Bryant/Pattengill Ice Cream Social, Pattengill, 6:00-8:30pm</li>
    <li>Tues, May 23: 2nd Grade Spring Sing, Bryant Gym, 7-8pm<b>  </b><b><i>cancelled</i></b></li>
    <li>Thurs, May 25: 1st Grade Spring Sing, Bryant Gym, 7-8pm <b><i>cancelled</i></b></li>
    <li>Mon, May 29: Memorial Day - <b><i>No School for Students</i></b></li>
</ul>
<hr />
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<hr />
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2017/04/20/thursday-notes-4-20-17/inf-flyer/" rel="attachment wp-att-2461"><img data-attachment-id="2461" data-permalink="https://www.bryantpattengill.org/2017/04/20/thursday-notes-4-20-17/inf-flyer/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?fit=4395%2C5687&amp;ssl=1" data-orig-size="4395,5687" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="INF flyer" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?fit=232%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?fit=474%2C614&amp;ssl=1" class="alignnone size-medium wp-image-2461" src="https://i0.wp.com/bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer-232x300.png?resize=232%2C300" alt="" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?resize=232%2C300&amp;ssl=1 232w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?resize=768%2C994&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?resize=791%2C1024&amp;ssl=1 791w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?w=948 948w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/04/INF-flyer.png?w=1422 1422w" sizes="(max-width: 232px) 100vw, 232px" data-recalc-dims="1" pagespeed_url_hash="4191235373"  /></a></p>