@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In this issue:</h6>
<ul>
    <li><strong><span style="color: #008000">Notes From The Bryant Office</span></strong></li>
    <li><strong><span style="color: #008000">Scrip Orders Will Be Delivered To Students On Thursday</span></strong></li>
    <li><strong><span style="color: #008000">Come to Lunch With The Loved Ones</span></strong></li>
    <li><strong><span style="color: #008000">Bryant P.E. Update- Check Your Child's Folders for Calendars</span></strong></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><strong><span style="color: #008000">Pattengill Science Olympiad Coaches Still Needed</span></strong></li>
    <li><strong><span style="color: #008000">Girl Scout Troop Leaders Needed</span></strong></li>
    <li><strong><span style="color: #008000">Event and Activity Volunteer Sign-Up</span></strong></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><strong><span style="color: #008000">Pattengill Book Fair Begins This Week</span></strong></li>
    <li><strong><span style="color: #008000">Don't Forget To Stop By Breakfast with Santa</span></strong></li>
    <li><strong><span style="color: #008000">Smile!<a style="color: #008000" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools</span></strong></li>
    <li><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<h6> Mark Your Calendars</h6>
<p dir="ltr">
    <h6>Stay Connected</h6>
    <hr />
<p dir="ltr">
    <h6>In this issue</h6>
<p dir="ltr"><strong><span style="color: #008000"> Notes From The Bryant Office:</span></strong>  The Bryant office is requesting donations of new girls underwear sizes 4-12 for when a change is necessary and the student does not have an extra pair in their backpack. We have plenty of boys, thank you for your kindness.</p>
<hr />
<div><strong><span style="color: #008000">Scrip Orders Will Be Delivered To Students On Thursday: </span></strong>Scrip Orders will be delivered to the students on Thursday, Dec. 10 so parents please look for your order in your child's backpack if you haven't already received them.  Questions, contact Shannon Kotre, <a href="mailto:sskotre@hotmail.com" target="_blank">sskotre@hotmail.com</a></div>
<hr />
<div><strong><span style="color: #008000">Come To Lunch With The Loved Ones: P</span></strong>lease join your child for<strong> Lunch With The Loved Ones</strong> on <span class="aBn"><span class="aQJ">Thurs, Dec. 17th</span></span> for Pattengill and <span class="aBn"><span class="aQJ">Fri, Dec 18th</span></span> for Bryant.   This is a time when an older sibling (an adult over 18 years old), parent, family member, or loved one is invited to eat lunch with their student. Please support this event by simply coming to the school and dining with your child during his/her scheduled lunch period.</div>
<hr />
<div><strong><span style="color: #008000">Bryant P.E. Update- Check Your Child's Folders For Activity Calendars: </span></strong>Hi Everyone! December activity calendars are coming home with students.  Stay active, stay warm- Mr. Willard</div>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><strong><span style="color: #008000"> Pattengill Science Olympiad Coaches Needed: </span></strong>PLEASE HELP! We need more Pattengill coaches this year to explore with small groups of students. No experience needed! This is exploration, which anyone can do. Please contact Jonathan Parker to learn more about coaching: <a href="mailto:jonathan.t.parker@leidos.com" target="_blank">jonathan.t.parker@leidos.com</a>.</p>
<hr />
<div><strong><span style="color: #008000">Event and Activity Volunteer Sign-Up: To</span></strong> volunteer for any of our PTO events and activities throughout the year, visit:<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank"> 2015-2016 Bryant/Pattengill Volunteer Sign-Up.</a></div>
<hr />
<h6> Reminders</h6>
<p dir="ltr"><strong><span style="color: #008000"> Pattengill Book Fair Begins This Week: </span></strong>Books make great holiday gifts! The Pattengill Book Fair will be open from <span class="aBn"><span class="aQJ">Dec. 7-11</span></span>. Be sure to visit the Family Event on Wednesday, Dec. 9, from <span class="aBn"><span class="aQJ">5-8pm</span></span> at Pattengill. Please support the Fair as it is the only fundraiser to provide new books/materials for the Pattengill Library. Volunteers are still needed to help especially during the afternoons. Please choose a day/time to volunteer: <a href="https://docs.google.com/spreadsheets/d/1sWLRbzPzhBmd4DomxMUF5R2yZagLlmo_3SHFaI9xOeE/edit?usp=sharing" target="_blank">Bookfair Volunteer Signup</a>. Online shopping is available now until Friday, Dec. 4 (to ensure delivery to the school before winter break): <a href="http://bookfairs.scholastic.com/homepage/pattengill" target="_blank">Shop Pattengill's Book Fair Online</a>. Questions? Contact Mrs. Schreck at <a href="mailto:schreck@aaps.k12.mi.us" target="_blank">schreck@aaps.k12.mi.us</a>. Many thanks for your support</p>
<hr />
<div><strong><span style="color: #008000">Don't Forget  Forget To Breakfast with Santa: </span></strong>Our December Restaurant Days will be on the mornings of <span class="aBn"><span class="aQJ">Dec. 12 &amp; 13</span></span> at Graham's Restaurant at the Kensington Court Hotel, 610 Hilton Blvd., near Briarwood Mall. Pancakes, sausage, and assorted toppings will be served at <span class="aBn"><span class="aQJ">8am and 10am</span></span>, followed by an optional visit with Santa from <span class="aBn"><span class="aQJ">8:30-9:30am</span></span> and 10:30-11:30am. Breakfast will cost $10 for adults and $5 for kids. Be sure to mention you're with Bryant/Pattengill, and 10% of sales will go directly to our schools. Space is limited, so please call to make a reservation <a href="tel:%28734%29%20761-1799" target="_blank">(734) 761-1799</a>, and ask for the sales department. Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" target="_blank">larrylage@yahoo.com</a>.</div>
<hr />
<div><strong><span style="color: #008000">Smile!<a style="color: #008000" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools:</span></strong> Visit <a href="http://smile.amazon.com/" target="_blank">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charity of choice. Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. It's easy to earn money for Bryant/Pattengill while shopping online this holiday season! Thank you for participating.</div>
<hr />
<div><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop: </span></strong>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a></div>
<hr />
<p dir="ltr">
<p dir="ltr"><strong><span style="color: #008000">Mark Your Calendars</span></strong></p>
<div>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></div>
<p dir="ltr">
    <h6>December</h6>
    <ul>
        <li style="text-align: justify">Wed, Dec. 2: Pattengill Yearbook Group Pictures</li>
        <li style="text-align: justify">Thurs, Dec. 3: Bryant Yearbook Group Pictures</li>
        <li style="text-align: justify">Mon - <span class="aBn"><span class="aQJ">Fri, Dec. 7-11</span></span>: Pattengill Book Fair (note date change)</li>
        <li style="text-align: justify">Wed, Dec. 9: Pattengill Book Fair Family Night, <span class="aBn"><span class="aQJ">6-8pm</span></span></li>
        <li style="text-align: justify">Mon, Dec. 21 - Jan. 1: Winter Break - No School for Students</li>
    </ul>
    <h6>January</h6>
    <ul>
        <li><span class="aBn"><span class="aQJ">Mon, Jan. 4</span></span>: School Resumes</li>
        <li><span class="aBn"><span class="aQJ">Wed, Jan. 6 - 29</span></span>: NWEA Testing</li>
        <li>Tues, Jan. 12: Pattengill Talent Show Tryouts</li>
        <li>Mon, Jan. 18:  Martin Luther King Jr. Day - No School for Students</li>
        <li><span class="aBn"><span class="aQJ">Thurs, Jan. 21</span></span>: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6-7:30</span></span>, Bryant Media Center</li>
    </ul>
    <hr />
    <h6> Stay Connected</h6>
    <div>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></div>
    <div>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></div>
    <div>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></div>
    <div>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></div>
    <div>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></div>
    <hr />
    <div><strong>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>. Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</strong></div>
    <div></div>
<p dir="ltr">
<p dir="ltr">
<p dir="ltr">
    <div><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/fUsjeYONL-Kma9ZjuMnkOCJ2uczzx9NrGVoisI2v8CMeW7yHY_1WhMep6ptU0Q_m6EpRQ-Ex7Ep_SW-a5yt1MIPhGxAuS8BQUh8C6aeKQGESuFiLv6TojAE4MIZMBX2Hqa4Fhlfo" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="187" height="262" pagespeed_url_hash="2452884816"  /><img class="CToWUd a6T" src="https://lh5.googleusercontent.com/Z7C0CcWoTkh3LCKizY-eKVDUzSjVGPcdNcYUk0Bx4gkr_4I3hkOB_U1UJ_OEjsN7xLrjNqsAneTvW2chtNWbSnu_oX-kAxbfNfFxVA-iGP4xwX9UALoG-WtUtkZbjGwvS3Tw8VA1" alt="santa flyer.png" width="226" height="276" pagespeed_url_hash="845458707"  /></div>
