@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><b>In This Issue:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Letters from the Principals</b></span></li>
    <li><span style="color: #008000"><b>Fall Great Lakes Scrip Orders Due TODAY</b></span></li>
    <li><span style="color: #008000"><b>B/P English Language Learner Family Night TONIGHT</b></span></li>
    <li><span style="color: #008000"><b>Grab a Snowflake for the Annual Snow Angel Program</b></span></li>
    <li><span style="color: #008000"><b>Pattengill Book Fair Begins Next Week</b></span></li>
    <li><span style="color: #008000"><b>Come to Tech Night Next Thursday at Pattengill</b></span></li>
    <li><span style="color: #008000"><b>Important Information About Pattengill Science Fair</b></span></li>
    <li><span style="color: #008000"><b>December Restaurant Days at California Pizza Kitchen</b></span></li>
</ul>
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<ul>
    <li><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up</b></span></li>
</ul>
<h6><b>Reminders:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Important Information From Bryant Office</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h6><b>Mark Your Calendars</b></h6>
<h6><b>Stay Connected</b></h6>
<h6></h6>
<p><span id="more-2339"></span></p>
<h6><b>In This Issue</b></h6>
<p><b><span style="color: #008000">Letters from the Principals:</span> </b>Be sure to read Mrs. Heyward's<a href="https://docs.google.com/document/d/1FGFxA2xyMiW2pYO_GmaXLgCebL79uaJoK_iyzZmmHeg/edit?usp=sharing"> <b>Letter to Bryant Families</b> </a>and Mrs. Alston's <a href="https://docs.google.com/document/d/1mT80zWeLcfaSrYrcaSwaDefnpN2o4sZ11B7pWygmuDk/edit?usp=sharing"><b>letter to Pattengill families</b>,</a> filled with timely information for our school community.</p>
<hr />
<p><b><span style="color: #008000">Fall Great Lakes Scrip Gift Card Orders Due TODAY:</span> </b>Order forms for Great Lakes Scrip gift cards are due to the school offices <b>with payment</b> <b>TODAY.</b> <b>Be sure to write SCRIP ORDER/SHANNON KOTRE</b> on your envelope, and include your contact information on the form. <b>All orders will be distributed to your child's teacher on Friday, Dec. 9</b>. Alternate options for delivery are available, so please contact me directly if you prefer not to have your order sent home with your child. If you prefer to order online, please see <a href="https://docs.google.com/document/d/1zCRZnWS5SFx8rY_ot0S_LFpFq-iZOltcUg6UOfjbtUc/edit?usp=sharing">attached</a> instructions for more details. Thank you for your support of our PTO! Questions? Contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com">sskotre@hotmail.com</a>.</p>
<hr />
<p><b><span style="color: #008000">B/P English Language Learner Family Night TONIGHT:</span> </b>Tonight is the Bryant and Pattengill English Language Learner Family Night! It is from<b> 6:00-7:30pm</b> in the Bryant Media Center. There will be child care, food, refreshments, and Spanish, Chinese, and Arabic interpreters. We are excited to announce a new plan to serve all of our English Language Learner families. Come share your ideas for how you want the plan to work for you and what you can do to help. Questions? Contact Marla Metler at <a href="mailto:metlerm@aaps.k12.mi.us">metlerm@aaps.k12.mi.us</a>.</p>
<hr />
<p><span style="color: #008000"><b>Grab a Snowflake for the Annual Snow Angel Program:</b></span> This is the season for giving as well as receiving. In that spirit, Bryant and Pattengill will once again be supporting families from our own community in need of assistance this holiday season. Each school has a snowman display in the lobby, with snowflakes listing the needs of these families. Please visit either Bryant or Pattengill the <b>week of Dec. 5</b>&mdash;<b>9, </b>and pick a snowflake. Purchase the item listed, wrap the gift, and tape the snowflake to the outside of the package. <b>Return the gift to the school office by Tuesday, Dec. 13. </b>If you are unable to make it to the schools, you can also send in a Meijer or Target gift card that can be used to purchase food and household items. Thank you, and Happy Holidays!</p>
<hr />
<p><span style="color: #008000"><b>Pattengill Book Fair Begins Next Week</b>:</span> Pattengill's Annual Book Fair will be here next week! Your child should bring home an important    frflyer this week as well as a wish list later in the week or early next week. Mrs. Schreck is still in need of many volunteers! Please<a href="https://volunteer.scholastic.com/#/signup/HXf6kemBs"> click here</a> to sign up for a time slot. Thank you in advance for helping to spread the love of reading and raise precious funds for our library! Questions? Contact Mrs. Schreck- <a href="mailto:schreck@aaps.k12.mi.us">schreck@aaps.k12.mi.us</a></p>
<hr />
<p><span style="color: #008000"><b>Come to the 2nd Annual Tech Night next Thursday at Pattengill:</b> </span>Stop by Tech Night next <b>Thursday, Dec. 8</b>, and see the technology displays that Pattengill students, teachers, and local businesses have created. <b>Pizza is available for purchase from 5:30-6:30pm, and presentations will be from 6:00-7:30pm.</b> New this year, students will get stamps in a passport for visiting each of the stations to earn a special prize. In between the presentations, be sure to visit the Pattengill Book Fair <b>(5:30-8pm)</b>, to shop for books and other goodies for the whole family. We look forward to seeing all of our Bryant/Pattengill families support this commUNITY event!</p>
<hr />
<p><b><span style="color: #008000">Important Information about Pattengill Science Fair:</span> </b>Please look for Science Fair Registration Packets coming home with your Pattengill student this week. These packets include a wealth of information that will guide you and your student toward creating a fun and successful science fair project. Also, there is a Registration Form on page 2 that needs to be filled out and returned to the Pattengill office (look for the box labeled "Science Fair Registration Forms") or to your child's homeroom teacher. <b>This Registration Form needs to be returned by Friday, Dec. 16</b>. Science Fair is mandatory for all fifth grade students and optional for third and fourth grade students, unless noted otherwise by their homeroom teacher. <b>The Pattengill Science Fair will take place on Wednesday, February 22, 2017 from 6:00-7:30pm.</b> We can't wait to see the awesome projects that your students create! Questions? Contact Gretchen Dawson at <a href="mailto:dawsong@aaps.k12.mi.us">dawsong@aaps.k12.mi.us</a>.</p>
<hr />
<p><span style="color: #008000"><b>December Restaurant Days at California Pizza Kitchen:</b> </span>Enjoy breakfast, lunch, or dinner at <b>California Pizza Kitchen in Briarwood Mall</b> during the week of <b>Monday, Dec. 19-Friday, Dec. 23,</b> and support our PTO. Visit CPK between <b>11:00am-9:00pm </b>during that week, present this <a href="https://drive.google.com/file/d/0B-_iHxypfI5bbmZnTmtGX3hkaDA/view?usp=sharing"><b>flyer</b></a> to your server, and 20% of your bill will be donated to our PTO. Finish your holiday shopping and take a night off from cooking! Or dine with co-workers, teammates, or order take-out. Questions? Contact Tod Tharp at <a href="mailto:todtharp@me.com">todtharp@me.com</a>.</p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b> T</span>he PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<p><b>Reminders:</b></p>
<p><b><span style="color: #008000">Important Information from the Bryant Office:</span> 1</b>. All tardy students must be accompanied by their parent/guardian to the office and signed in. Tardy bell rings at 8:47am. Please keep a change of clothes in your child's backpack. <b>3. </b>We are accepting donations of sweat pants, sizes 4-12. Please no pants with zippers or snaps.</p>
<hr />
<p><b><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span> </b>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>December 2016</b></p>
<ul>
    <li>Mon - Fri, Dec 5-9: Pattengill Book Fair</li>
    <li>Thurs, Dec 8: Pattengill Book Fair Family Night &amp; Tech Night, 6-7:30pm, Pattengill</li>
    <li>Mon, Dec 12: Bryant Yearbook Group Pictures</li>
    <li>Thurs, Dec 22: Tappan Band &amp; Choir Concert at Pattengill Cafeteria, Time TBD</li>
    <li>Fri, Dec 23 - Jan 6: Winter Break - <b><i>No School for Students</i></b></li>
</ul>
<p><b>January 2017</b></p>
<ul>
    <li>Mon, Jan 9: School Resumes</li>
    <li>Thurs, Jan 12: MLK Day Assembly at Bryant, 9:30am, Bryant Gym</li>
    <li>Mon, Jan 16: Martin Luther King Jr. Day - <b><i>No School for Students</i></b></li>
    <li>Wed, Jan 18: Pattengill Talent Show Tryouts</li>
    <li>Thurs, Jan 19: Pattengill Yearbook Group Pictures</li>
    <li>Thurs, Jan 26: PTO Executive Board Meeting, 6-7:30pm, Bryant Media Center</li>
</ul>
<hr />
<p><b>Stay Connected</b></p>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2016/12/01/thursday-notes-12-1-16/pattengill-2016-tech-night-flyer-2/" rel="attachment wp-att-2340"><img data-attachment-id="2340" data-permalink="https://www.bryantpattengill.org/2016/12/01/thursday-notes-12-1-16/pattengill-2016-tech-night-flyer-2/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?fit=3349%2C4334&amp;ssl=1" data-orig-size="3349,4334" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="pattengill-2016-tech-night-flyer-2" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?fit=232%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?fit=474%2C614&amp;ssl=1" class="alignnone wp-image-2340" src="https://i0.wp.com/bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2-232x300.png?resize=191%2C247" alt="pattengill-2016-tech-night-flyer-2" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?resize=232%2C300&amp;ssl=1 232w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?resize=768%2C994&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?resize=791%2C1024&amp;ssl=1 791w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?w=948 948w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/PATTENGILL-2016-TECH-NIGHT-FLYER-2.png?w=1422 1422w" sizes="(max-width: 191px) 100vw, 191px" data-recalc-dims="1" pagespeed_url_hash="3168155737"  /></a><a href="/2016/12/01/thursday-notes-12-1-16/bryant-pattengill-december-19-23-flyer-001/" rel="attachment wp-att-2341"><img data-attachment-id="2341" data-permalink="https://www.bryantpattengill.org/2016/12/01/thursday-notes-12-1-16/bryant-pattengill-december-19-23-flyer-001/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?fit=792%2C612&amp;ssl=1" data-orig-size="792,612" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="bryant-pattengill-december-19-23-flyer-001" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?fit=300%2C232&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?fit=474%2C366&amp;ssl=1" class="alignnone wp-image-2341" src="https://i2.wp.com/bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001-300x232.jpeg?resize=234%2C181" alt="bryant-pattengill-december-19-23-flyer-001" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?resize=300%2C232&amp;ssl=1 300w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?resize=768%2C593&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?w=792&amp;ssl=1 792w" sizes="(max-width: 234px) 100vw, 234px" data-recalc-dims="1" pagespeed_url_hash="1973418039"  /></a></p>