@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Bryant/Pattengill International Festival</li>
    <li>International Festival Fashion Show</li>
    <li>Show Your Support at AA PTO Thrift Shop</li>
    <li>Ice Cream Social: Family Donation Drive</li>
    <li>Disney's The Little Mermaid at Pioneer High School</li>
    <li>Upcoming Restaurant Days</li>
    <li>Free Parenting Workshops</li>
    <li>Spring Great Lake Scrip</li>
    <li>Bond Proposal Community Meetings</li>
</ul>
<p><strong>Volunteer Opportunities:</strong></p>
<ul>
    <li>PTO Board Openings</li>
    <li>Earth Day/Day of Service</li>
    <li>International Festival</li>
    <li>Ice Cream Social Prizes Needed</li>
    <li>Field Day at Bryant</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Stone School Road Construction</li>
    <li>Invitation to 5<sup>th</sup> Grade Parents</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1292"></span></p>
<p><strong>Bryant/Pattengill International Festival:</strong> Hooray! The B/P International Festival is only one week away! Join us on <strong>Thursday, April 23, 6-7:30pm at Bryant</strong>. Here are some important reminders:</p>
<p><strong>Food Preparers:</strong> Please label the name of your food, its country of origin, and all ingredients. Kindly remember we are a no-nut school, so foods cannot contain nuts.</p>
<p><strong>Families:</strong> For safety, adults must accompany students to the Festival and adults must serve food on their child's plate to prevent allergic reactions.</p>
<p><strong>Everyone:</strong> Bring your smiles, curiosity, and enthusiasm and enjoy the best International Festival in the district! Please consider buying a beautiful souvenir T-shirt and raffle tickets for great prizes to support our schools. T-shirts are $10 and raffle tickets are $1 each, or 6 for $5, or 12 for $10.</p>
<p>We have some terrific raffle prizes, courtesy of: Ahmo's Restaurant, Zippee Auto Wash, Meijer, Chuck E. Cheese, Metzger's Restaurant, Hands-On Museum, Trader Joe's, Weber's Inn, Little Caesars, Applebees, and Zingermans. Which one will you win?</p>
<hr />
<p><strong>International Festival Fashion Show (IFFS):</strong> It's not too late to join the Fashion Show at this year's International Festival. If you'd like for your child to be a part of the IFFS, please come to the practice today, <strong>Thursday, April 16, 4:30-5:30pm at Bryant in the Multi-Purpose Room</strong>.</p>
<hr />
<p><strong>Show Your Support for Bryant/Pattengill at the AA PTO Thrift Shop:</strong> Be sure to shop at the AA PTO Thrift Shop <strong>now through April 18</strong>, to earn money for B/P field trip transportation. For every $5 spent at the PTO Thrift Shop, shoppers earn a token. Cast your tokens at the shop in support of our schools, which will earn a percentage of $1,000. See the attached flyer for store hours and location, and spread the word to family and friends! Questions? Contact Kristy Kubacki at <a href="mailto:klkubacki@yahoo.com" rel="noreferrer">klkubacki@yahoo.com</a>.</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption aligncenter"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Ice Cream Social: Family Donation Drive - </strong>Please help make the Bryant/ Pattengill Ice Cream Social (on May 15) a success by donating $5/family for prizes for our raffle or auction. Flyers and donation envelopes will be coming home with your student tomorrow. <strong>Cash donations will be accepted April 17-May 1. </strong>These donations will be used to purchase great prizes for our raffle room, including an iPod Mini. The class in each school with the highest percentage of donations will win an ice cream or popsicle party!</p>
<hr />
<p><strong>Disney's The Little Mermaid at Pioneer High School:</strong> Bring the family and go "Under the Sea" with Ariel, Sebastian, Flounder, and Ursula in this Disney classic on stage at Pioneer! A few Bryant/Pattengill students are in the show, so come support our budding actors. Tickets are now on sale at <a href="http://showtix4u.com/launch/index.php" target="_blank" rel="noreferrer">showtix4u.com</a>. <strong>Performances are held April 25 and 26, and May 1, 2, and 3</strong>. Bryant classes will be attending the show on Tuesday morning, April 28.</p>
<p><a href="/wp-content/uploads/2015/04/The-Little-Mermaid.pdf" target="_blank"><img data-attachment-id="1300" data-permalink="https://www.bryantpattengill.org/2015/04/16/thursday-notes-8/the-little-mermaid-2/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/The-Little-Mermaid.jpg?fit=600%2C928&amp;ssl=1" data-orig-size="600,928" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="The-Little-Mermaid" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/The-Little-Mermaid.jpg?fit=194%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/The-Little-Mermaid.jpg?fit=474%2C733&amp;ssl=1" class="aligncenter size-full wp-image-1300" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/04/The-Little-Mermaid.jpg?resize=474%2C733" alt="The-Little-Mermaid" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/The-Little-Mermaid.jpg?w=600&amp;ssl=1 600w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/The-Little-Mermaid.jpg?resize=194%2C300&amp;ssl=1 194w" sizes="(max-width: 474px) 100vw, 474px" data-recalc-dims="1" pagespeed_url_hash="2717930738"  /></a></p>
<hr />
<p><strong>Upcoming Restaurant Days:</strong> Mark your calendars! Our next Restaurant Days will be <strong>Sunday, April 26 at Buffalo Wild Wings</strong> (3150 Boardwalk Dr.) and <strong>Tuesday, May 19 at Tony Sacco's</strong> (980A West Eisenhower Parkway). Flyers will be distributed before each fundraiser. Thanks in advance for dining out to support our schools! Questions? Contact Larry Lage at: <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Free Parenting Workshops:</strong> Bryant/Pattengill school social worker Elizabeth Elster will be hosting two FREE parenting workshops on<strong>Tuesdays, April 28 and May 5 from 4:00-5:30pm at Pattengill</strong>. Ms. Elster will be presenting material from the "1-2-3 Magic Parenting Program" and parents will learn simple techniques to help decrease negative behaviors, increase positive behaviors, and strengthen their relationship with their child. Please see the attached flyer for details. Questions? Contact Elizabeth Elster at: <a href="mailto:elster@aaps.k12.mi.us" rel="noreferrer">elster@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2015/04/1-2-3-Magic-Flyer.pdf" target="_blank"><img data-attachment-id="1301" data-permalink="https://www.bryantpattengill.org/2015/04/16/thursday-notes-8/1-2-3-magic-flyer-web/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?fit=773%2C1474&amp;ssl=1" data-orig-size="773,1474" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="1-2-3-Magic-Flyer-Web" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?fit=157%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?fit=474%2C904&amp;ssl=1" class="aligncenter size-large wp-image-1301" src="/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web-537x1024.jpg?resize=474%2C904" alt="1-2-3-Magic-Flyer-Web" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?resize=537%2C1024&amp;ssl=1 537w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?resize=157%2C300&amp;ssl=1 157w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?resize=768%2C1464&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/1-2-3-Magic-Flyer-Web.jpg?w=773&amp;ssl=1 773w" sizes="(max-width: 474px) 100vw, 474px" data-recalc-dims="1" pagespeed_url_hash="1947626818"  /></a></p>
<hr />
<p><strong>Spring Great Lake Scrip:</strong> Are you looking to give gift cards for an upcoming graduation, end-of-year teacher gift, wedding, shower, etc.? There are many<strong> local</strong> and national retailers through Great Lake Scrip fundraising, so there is a gift card for everyone. You can even order gift cards for your own local shopping! A portion of every gift card bought goes to support our schools. Order forms will be sent home with your child this week, and are due back to the school offices by <strong>Wednesday, May 6</strong>. Payment must accompany your order. All orders will be distributed on <strong>Thursday, May 14</strong>. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEU2s0ZU5BSjF5dnlRT2NMLVJVRENvb2IySTg4/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for instructions on how to order online. Questions? Contact Shannon Kotre at:<a href="mailto:sskotre@hotmail.com" rel="noreferrer">sskotre@hotmail.com</a> or Michelle Muckstadt at: <a href="mailto:andymich@comcast.net" rel="noreferrer">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Bond Proposal Community Meetings:</strong> Superintendent Jeanice Swift will host several community meetings this month to share information about the bond proposal appearing on the May 5 ballot. All meetings begin at 6:30pm: <strong>April 16</strong>: Tappan Middle School, <strong>April 21</strong>: Scarlett Middle School, <strong>April 23</strong>: Clague Middle School, <strong>April 30</strong>: Forsythe Middle School. The bond proposal would raise $33 million for capital improvements across the district's 32 buildings, while keeping the millage rate at or below the current 2.45 mills for taxpayers. Improvements in the plan include security upgrades at school entrances, new musical instruments, the replacement of more than 100 buses over five years, and new furniture and other upgrades in classrooms across the district. For an agenda of the community meetings, <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEQ2c0ZWFSWVZ3Y00/view?usp=sharing" target="_blank" rel="noreferrer">click here</a>.</p>
<p><a href="https://drive.google.com/file/d/0B3xnxm1JyoZEQ2c0ZWFSWVZ3Y00/view?usp=sharing" target="_blank"><img data-attachment-id="1298" data-permalink="https://www.bryantpattengill.org/2015/04/16/thursday-notes-8/bond-proposal-community-meetings/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?fit=1275%2C1650&amp;ssl=1" data-orig-size="1275,1650" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Bond-Proposal-Community-Meetings" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?fit=232%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?fit=474%2C614&amp;ssl=1" class="aligncenter wp-image-1298 size-medium" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings-232x300.jpg?resize=232%2C300" alt="Bond-Proposal-Community-Meetings" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?resize=232%2C300&amp;ssl=1 232w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?resize=768%2C994&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?resize=791%2C1024&amp;ssl=1 791w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?w=1275&amp;ssl=1 1275w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/Bond-Proposal-Community-Meetings.jpg?w=948 948w" sizes="(max-width: 232px) 100vw, 232px" data-recalc-dims="1" pagespeed_url_hash="1630044970"  /></a></p>
<hr />
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>PTO Board Openings:</strong> Interested in serving on the Bryant/Pattengill Parent-Teacher Organization (PTO) Board? We want you! The open period for officer nominations has begun. Open positions for the 2015-2016 year are: 1) Secretary, and 2) AAPS PTO Council ("PTOC") Representative. <a href="/wp-content/uploads/2014/09/bryant-pattengill_pto_bylaws.pdf" target="_blank" rel="noreferrer">Click here</a> for a description of duties, found in Article 6 of the PTO Bylaws. Feel free to self-nominate! Questions? Contact Deborah Paul-McDonald or Lisa Treat at <a href="mailto:president@bryantpattengill.org" rel="noreferrer">president@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Earth Day/Day of Service:</strong> Students, staff, and parent volunteers will participate in beautifying our schools on Earth Day, <strong>Wednesday, April 22. </strong>If you are interested in supporting these efforts at either Bryant or Pattengill, please contact parent coordinator Adam Jurevicius at: <a href="mailto:ajurevicius@gmail.com" rel="noreferrer">ajurevicius@gmail.com</a>.</p>
<hr />
<p><strong>International Festival:</strong> The B/P International Festival is next week on <strong>Thursday, April 23, 6-7:30pm at Bryant School</strong>. We still have a few volunteer needs, to make the event a success: 1) bring and serve food in our International Food Court, and 2) set up tables in the Gym at 4pm on the day of the event and/or take the tables down at the end at 7:30pm. If you are able to help, <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEYUxOVkR3Z3hlT0d6ZjlyMWdxV1ZJUFBwamFr/view?usp=sharing" target="_blank" rel="noreferrer">click here</a> to print and fill out the volunteer form and/or e-mail Ms.Tchalo: <a href="mailto:tchalo@aaps.k12.mi.us" rel="noreferrer">tchalo@aaps.k12.mi.us</a><strong> </strong>and Mrs. Lim: <a href="mailto:lims@aaps.k12.mi.us" rel="noreferrer">lims@aaps.k12.mi.us</a>.</p>
<p><a href="https://drive.google.com/file/d/0B3xnxm1JyoZEYUxOVkR3Z3hlT0d6ZjlyMWdxV1ZJUFBwamFr/view?usp=sharing" target="_blank"><img data-attachment-id="1299" data-permalink="https://www.bryantpattengill.org/2015/04/16/thursday-notes-8/iff-flyer/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?fit=867%2C1122&amp;ssl=1" data-orig-size="867,1122" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="IFF-flyer" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?fit=232%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?fit=474%2C614&amp;ssl=1" class="aligncenter wp-image-1299 size-medium" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/04/IFF-flyer-232x300.jpg?resize=232%2C300" alt="IFF-flyer" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?resize=232%2C300&amp;ssl=1 232w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?resize=768%2C994&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?resize=791%2C1024&amp;ssl=1 791w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/IFF-flyer.jpg?w=867&amp;ssl=1 867w" sizes="(max-width: 232px) 100vw, 232px" data-recalc-dims="1" pagespeed_url_hash="4277447101"  /></a></p>
<hr />
<p><strong><img data-attachment-id="1302" data-permalink="https://www.bryantpattengill.org/2015/04/16/thursday-notes-8/icecream/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?fit=2592%2C3872&amp;ssl=1" data-orig-size="2592,3872" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;20&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;NIKON D80&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1265288540&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;90&quot;,&quot;iso&quot;:&quot;100&quot;,&quot;shutter_speed&quot;:&quot;0.005&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="icecream" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?fit=201%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?fit=474%2C709&amp;ssl=1" class=" size-medium wp-image-1302 alignright" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/04/icecream-201x300.jpg?resize=201%2C300" alt="icecream" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?resize=201%2C300&amp;ssl=1 201w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?resize=768%2C1147&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?resize=685%2C1024&amp;ssl=1 685w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/04/icecream.jpg?w=1422 1422w" sizes="(max-width: 201px) 100vw, 201px" data-recalc-dims="1" pagespeed_url_hash="3160766176"  />Ice Cream Social Prizes Needed:</strong> If you or your business are able to donate a prize or experience for the raffle or auction at this year's Ice Cream Social (May 15 at Pattengill), please email <a href="mailto:lmckarns@comcast.net" rel="noreferrer">lmckarns@comcast.net</a>. Many area merchants such as Georgetown Country Club, Colonial Lanes, The Hands-On Museum, Molly Maid, Applied Fitness Solutions, Knights, Tony Sacco's, and Zippy Auto Wash are supporting the students at our schools by donating great prizes. We would love to include the businesses you work for or patronize, too! If you have tickets to a concert or sporting event, or have a talent you could share, such as teaching a jewelry class or Sushi making class for a few people, those would make great prizes, too! Thank you for considering how you can contribute to this important fundraiser for our schools. Questions? Contact Lisa McKarns at: <a href="mailto:lmckarns@comcast.net" rel="noreferrer">lmckarns@comcast.net</a> or <a href="file://localhost/tel/734-904-3565" target="_blank" rel="noreferrer">734-904-3565</a>.</p>
<hr />
<p><strong>Field Day at Bryant:</strong> We're looking for fun, energetic volunteers to assist with Bryant's Field Day on <strong>Friday, June 5</strong> (rain date: June 8) from 1:00-3:00pm. We are also looking for a few people to assist with setup (11:30am arrival). If this is you, we would love to have you join us for an exciting day of fun and games. And if you are bold enough, the Chairperson role is perfect for you! We need someone to coordinate with the gym teacher and assemble the volunteers. We will need about 30 volunteers for this event. If you are able to help, please contact Carmen Atkins at: <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Stone School Road Construction:</strong> Construction on Stone School Road has begun again, and is expected to be complete in August. Stone School Road is open to north-bound traffic only near Bryant, from Ellsworth Rd. Watch for detour signs that redirect traffic, and please allow a few extra minutes when traveling to/from Bryant. Thank you for your patience.</p>
<hr />
<p><strong>Invitation to 5<sup>th</sup> Grade Parents:</strong> The Tappan Parent-Teacher-Student Organization (PTSO) invites all incoming 6<sup>th</sup> grade parents to our next PTSO meeting. You will have a chance to hear the principals speak and learn a little about what goes on at Tappan Middle School. The meeting is on <strong>Monday, April 20 at 6:00pm in the Tappan Media Center</strong>. Use the west entrance to the school and take the first staircase. The Media Center is on the second floor, on the left, just past the doors. Questions? Contact Marsha Skoman,Tappan PTSO President at <a href="mailto:mskoman@tappanptso.org" rel="noreferrer">mskoman@tappanptso.org</a>.</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>April</strong></p>
<ul>
    <li>Thurs. April 16: Pattengill Spring Picture Day</li>
    <li>Wed. April 22: Earth Day of Service at Bryant and Pattengill</li>
    <li>Thurs. April 23: International Festival, 6-7:30pm, Bryant</li>
    <li>Sun. April 26: Restaurant Day at Buffalo Wild Wings</li>
    <li>Tues. April 28: Third Grade Spring Sing Concert, 7-8pm, Pattengill Cafeteria</li>
</ul>
<p><strong>May</strong></p>
<ul>
    <li>Mon. May 4: NWEA Testing begins for Bryant students</li>
    <li>Mon. May 4: Fifth Grade Instrumental Spring Concert, 1pm and 7pm, Pattengill</li>
    <li>Mon. May 4 - Fri. May 8: Staff Appreciation Week</li>
    <li>Wed. May 6: Second to Third Grade Transition (students), 9:30-11am, Pattengill</li>
    <li>Wed. May 6: Second to Third Grade Transition, Parent Informational Night (childcare provided), 6:30-7:30pm, Pattengill</li>
    <li>Thurs. May 7: School Improvement Team (SIT) Meeting, 4:15-5:30pm, Pattengill</li>
    <li>Thurs. May 7: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. May 7: PTO General Meeting, 7:30-8:30pm, Pattengill (ALL families welcome, childcare provided)</li>
    <li>Wed. May 13: Coffee with the Principals, 9-10am, Location TBD</li>
    <li>Fri. May 15: Ice Cream Social, 6:30-8:30pm, Pattengill</li>
    <li>Tues. May 19: Restaurant Day at Tony Sacco's</li>
    <li>Tues. May 19: Second Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Thurs. May 21: First Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Fri. May 22: Pattengill Field Day (Rain date Fri., May 29), 1:15-3:15pm</li>
    <li>Mon. May 25: <strong>Memorial Day - No School for Students</strong></li>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 2pm</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>