@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><b>In This Issue:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Volunteer Appreciation Night Is Next Tuesday</b></span></li>
    <li><span style="color: #008000"><b>Join Your Child To Celebrate Earth Day</b></span></li>
    <li><span style="color: #008000"><b>Make a Difference at Bryant/Pattengill: Join the PTO Board</b></span></li>
    <li><span style="color: #008000"><b>Volunteers Needed for International Festival</b></span></li>
    <li><span style="color: #008000"><b>Save the Date: Ice Cream Social, May 20</b></span></li>
    <li><span style="color: #008000"><b>DAW Thank You</b></span></li>
</ul>
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<ul>
    <li><span style="color: #008000"><b>Portuguese Tutors Needed</b></span></li>
    <li><span style="color: #008000"><b>Looking To Volunteer?</b></span></li>
</ul>
<h6><b>Reminders:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Pizza with the Principals</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h6><b>Mark Your Calendars</b></h6>
<h6><b>Stay Connected</b></h6>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<h6><b>In This Issue</b></h6>
<p><span style="color: #008000"><b>Volunteer Appreciation Night Is Next Tuesday:</b> </span>Bryant/Pattengill Parent &amp; Volunteer Appreciation Night is Tuesday, <b>April 19, 6-7:30pm in Bryant's Media Center</b>. Childcare will be provided. This event allows the Bryant/Pattengill staff to show their appreciation to ALL of our parent and community volunteers. If you have volunteered in the classroom, assisted on a field trip, coordinated events, tutored students, participated in the PTO, etc., please come and join us! Questions? Contact Mrs. Lim: <a href="mailto:lims@aaps.k12.mi.us">lims@aaps.k12.mi.us</a></p>
<hr />
<p><span style="color: #008000"><b>Join Your Child To Celebrate Earth Day: </b></span>In honor of Earth Day, Bryant and Pattengill's annual Day of Service will occur on <b>Friday, April 22</b>. From 9:30-12:00 at Bryant, and 1:30-3:30 at Pattengill, each classroom will help beautify their school grounds. Parents are invited to join their student's classroom (schedules forthcoming) and/or assist with landscaping and gardening. If you are able to join for any portion of the day, please sign up at: <a href="http://www.signupgenius.com/go/508054facaf22a02-earth">http://www.signupgenius.com/go/508054facaf22a02-earth</a>. Questions? Contact Bryant coordinator Cara Lauzzana at <a href="mailto:caralauzzana@hotmail.com">caralauzzana@hotmail.com</a>, or Pattengill coordinator Justin Kunkle at <a>judk21@gmail.com</a>. Thank you!</p>
<hr />
<p><b><span style="color: #008000">Make a Difference at Bryant/Pattengill:</span> Join the PTO Board &mdash;</b> The B/P Parent-Teacher Organization (PTO) Board is seeking new Board members for the 2016/2017 school year. Meet new people, connect with the principals and staff members, and help make Bryant/Pattengill a great place for our kids to learn and grow! Nominations are due by <b>Friday, April 22</b>. <a href="https://drive.google.com/file/d/0B00evgpXySN0WHgtU1N2Y2Z0cTA/view?usp=sharing">Click here</a> to learn more about the following open Board positions:</p>
<p>Vice President, Bryant</p>
<p>Vice President, Pattengill</p>
<p>Internal Secretary</p>
<p>Fundraising Director</p>
<p>Please contact Co-President Kathy Brady with questions, or interest in a Board position: <a href="mailto:kathy.brady@bryantpattengill.org">kathy.brady@bryantpattengill.org</a>. Thank you for considering how you can help!</p>
<hr />
<p><b><span style="color: #008000">Volunteers Needed for International Festival:</span> </b>The B/P annual International Festival is right around the corner. This year's theme is "World Art and Culture Tour." <b>Please consider volunteering &mdash; visit the sign-up sheet</b><a href="https://docs.google.com/spreadsheets/d/1jIV5S6LDc8fWJGlDPgjQRKbNksm4tcXy2a-5IDatPq4/edit#gid=0"> <b>here</b></a><b> to help out where you can.</b> Would your child like to participate in the fashion show? Can you bring a dish from another country, or help with one of our many activity stations like making Origami or creating Ojo De Dios (God's Eyes)? We look forward to celebrating our diversity together as one commUNITY on Thursday, April 28th.</p>
<hr />
<p><b><span style="color: #008000">Save the Date:</span> Ice Cream Social, May 20 &mdash;</b> Don't miss the Bryant/Pattengill Ice Cream Social on <b>Friday, May 20, 6:30-8:30pm at Pattengill.</b> This family-favorite event will feature bounce houses, karaoke, putt-putt golf, cake walk, soccer kick game, photo booth, raffle and silent auction prizes, and plenty of frozen treats! Stay tuned for more information and opportunities to get involved.</p>
<hr />
<p><span style="color: #008000"><b>DAW Thank You:</b></span> Wow, what a day our 4th and 5th graders enjoyed on March 31st when they experienced the Disability Awareness Workshop at Pattengill! Huge thanks to co-coordinators <b>Xan Morgan</b> and <b>Jaime Moore</b> for organizing a full day of workshops, teaching our students about hearing, speech, vision, physical, and learning disabilities. Thanks also to the many parents and friends of Bryant/Pattengill that lent their time and energy to our students, ensuring they received this unique learning opportunity. A great day was had by volunteers and students alike!</p>
<p>&nbsp;</p>
<hr />
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<p><span style="color: #008000"><b>Portuguese Tutors Needed</b>:</span> Bryant and Pattengill are in need of Portuguese tutors for our students. We are looking for parents that are interested in volunteering or becoming a paid tutor through Ann Arbor Public Schools. Questions? Contact ELL teacher Marla Metler: <a href="mailto:metlerm@aaps.k12.mi.us">metlerm@aaps.k12.mi.us</a></p>
<p><b><span style="color: #008000">Looking To Volunteer?</span> </b>There is an opportunity for <b>ALL</b> B/P families to pitch in, whether you have daytime or evening availability. <b>Please visit</b> <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"><b>2015-2016 Bryant/Pattengill Volunteer Sign-Up</b></a> to select an event or activity that works for you. We can help you find a good fit! Contact <a href="mailto:info@bryantpattengill.org">info@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p>&nbsp;</p>
<h6><b>Reminders</b></h6>
<p><span style="color: #008000"><b>Pizza with the Principals:</b> </span> Mark your calendars and join Mrs. Heyward and Mrs. Alston for an informal chat at Pizza with the Principals on <b>Tuesday, April 26, 6:15-7:15pm </b>at the <b>Bryant Community Center</b>, located at 3 W. Eden Court.</p>
<hr />
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop:</b></span> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"><b> Shop, donate, and support AAPS</b></a>!</p>
<hr />
<h6><b>Mark Your Calendars</b></h6>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>April</b></p>
<ul>
    <li>Thurs, Apr. 14 Kindergarten Registration and Readiness, Bryant Gym (by Appointment), 9am-2pm</li>
    <li>Thurs, Apr. 14: PTO Executive Board Meeting, Bryant Media Center, 6-7:30pm</li>
    <li>Tues, Apr. 19: Volunteer Appreciation Night, Bryant <i>(ALL Family Volunteers Welcome), </i>6-7:30pm</li>
    <li>Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, 7-8pm</li>
    <li>Fri, Apr. 22: Earth Day of Service <i>(Parents Welcome To Volunteer at Schools)</i></li>
    <li>Tues, Apr. 26: Pizza with the Principals, Bryant Community Center, 6:15-7:15pm</li>
    <li>Thurs, Apr. 28: International Festival, Pattengill, 6:30-8pm</li>
</ul>
<p><b>May</b></p>
<ul>
    <li>Mon - Fri May 2-6: Staff Appreciation Week</li>
    <li>Tues, May 3: <b><i>No School for Students</i></b></li>
    <li>
        Wed, May 4: 2nd to 3rd Grade Transition, Students- 9:30 - 11am<br />
        2nd to 3rd Grade Transition, Parent Informational Night- 6 - 7pm
    </li>
    <li>Mon, May 9: 5th Grade Instrumental Concert, Pattengill Cafeteria <i>(note date change) </i>6:30pm</li>
    <li>
        Thurs, May 12: School Improvement Team (SIT) Meeting, Pattengill, 4:30 - 5:30pm<br />
        PTO Executive Board Meeting, Pattengill Media Center,  6:00 - 7:15pm<br />
        PTO General Meeting, Pattengill <i>(ALL Families Welcome, Childcare Provided)-</i>7:30 - 8:30pm
    </li>
    <li>Fri, May 20: Ice Cream Social, Pattengill, 6:30 - 8:30pm</li>
    <li>Tues, May 24: 2nd Grade Spring Sing, Bryant Gym, 7- 8pm</li>
    <li>Thurs, May 26: 1st Grade Spring Sing, Bryant Gym, 7-8pm</li>
    <li>Mon, May 30    : <b>Memorial Day - </b><b><i>No School for Students</i></b></li>
</ul>
<hr />
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p>&nbsp;</p>
<p><a href="/2016/04/14/thursday-notes-4-14-16/little-sister-recruitment-for-parents/" rel="attachment wp-att-2033"><img data-attachment-id="2033" data-permalink="https://www.bryantpattengill.org/2016/04/14/thursday-notes-4-14-16/little-sister-recruitment-for-parents/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?fit=2531%2C3557&amp;ssl=1" data-orig-size="2531,3557" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Little Sister Recruitment &mdash; For Parents" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?fit=213%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?fit=474%2C666&amp;ssl=1" class="alignnone wp-image-2033" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents-213x300.png?resize=165%2C232" alt="Little Sister Recruitment - For Parents" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?resize=213%2C300&amp;ssl=1 213w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?resize=768%2C1079&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?resize=729%2C1024&amp;ssl=1 729w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?w=948 948w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/Little-Sister-Recruitment-For-Parents.png?w=1422 1422w" sizes="(max-width: 165px) 100vw, 165px" data-recalc-dims="1" pagespeed_url_hash="3759516662"  /></a><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=174%2C244" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 174px) 100vw, 174px" data-recalc-dims="1" pagespeed_url_hash="2017876486"  /></a></p>
<p>&nbsp;</p>