﻿@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this Issue</strong></p>
<ul>
    <li>PTOC Representative Open Position</li>
    <li>Room Parents Needed</li>
    <li>Volunteers Needed</li>
    <li>Stone School Road Traffic Update</li>
    <li>Social Work Newsletter</li>
    <li>PTO Thrift Shop</li>
</ul>
<p><strong>Thanks to You</strong></p>
<ul>
    <li>Back to School Picnic</li>
    <li>Backpack Packets</li>
    <li>Helping Students Find Their Way</li>
</ul>
<p><span id="more-97"></span></p>
<hr />
<p><strong>In this Issue</strong></p>
<p><strong>PTOC Representative, Bryant/Pattengill PTO Open Position</strong></p>
<p>The PTO is looking for someone to represent us in the PTO Council. The PTO Council meets monthly and is the umbrella organization supporting PTOs throughout Ann Arbor Public Schools. It has as its members a representative from each PTO and PTSO in the district. The mission is to promote excellence in our schools through communication and advocacy. This is accomplished by providing a forum for communication and cooperation and by acting as an advocate for member PTOs with district administration and with the Board of Education, and beyond. The PTO Council facilitates parent involvement, shares ideas and innovations, and works to advance the quality of our schools.</p>
<p>Please consider stepping up! If interested, contact <a title="Lisa Treat" href="/about/board-members/lisa-treat/">Lisa Treat</a> or <a title="Deborah Paul-McDonald" href="/about/board-members/deborah-paul-mcdonald/">Deborah Paul-McDonald</a>.</p>
<hr />
<p><strong>Room Parents Wanted! </strong></p>
<p>Some teachers are still looking for a room parent or two. Please sign up at: <a href="https://docs.google.com/spreadsheets/d/1Hu9ts7QEP2VbCultVnPyvKUDRmrLGZ5MGUmiGvVofME/edit#gid=2065301318" target="_blank">Bryant/Pattengill Room Parents 2014-15</a>. If you have any questions, please contact <a title="Deborah Paul-McDonald" href="/about/board-members/deborah-paul-mcdonald/">Deborah Paul-McDonald</a>.</p>
<hr />
<p><strong>We Need Your Help!</strong> The Bryant/Pattengill community always has something going on. These activities are fun and educational for students and their families. In order to keep them going, we need YOU! Volunteers are needed to coordinate and support all of our activities. Please see the attached descriptions and use the link below to sign up today. Make sure to mark your calendars as a reminder. Thank you in advance for helping make these events a success for our kids.</p>
<p>
    <strong>2014-2015 Bryant/Pattengill Volunteer Sign-Up:</strong><br />
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AmPu12BRCo3TdEJOOWtGdEYyaWR1Q3ppNnJKeDRya3c#gid=0" target="_blank">https://docs.google.com/spreadsheet/ccc?key=0AmPu12BRCo3TdEJOOWtGdEYyaWR1Q3ppNnJKeDRya3c#gid=0</a>
</p>
<p>Please note that each event has a separate tab along the bottom.</p>
<hr />
<p><strong>Notice of Temporary Traffic Control Plan: Stone School Road</strong></p>
<p>The City of Ann Arbor will be reconstructing Stone School Road between I-94 and Ellsworth Road beginning on, or about, Sept. 2, 2014. In the first phase of the project, we will be replacing the existing water main along Stone School Road and cleaning and re-grading the existing drainage ditch that runs between Stone School Road and Mallett's Creek in the vicinity of Partridge Path Drive. This portion of the project will be completed on, or about, Nov. 12, 2014.</p>
<p><strong>Temporary Construction Traffic Control Plan:</strong> The city will maintain one lane of traffic northbound along Stone School Road. Access to all driveways and intersecting streets will be maintained at all times. Southbound traffic will be detoured as shown on the attached drawing. Upon completion of the water main replacement in November, the roadway will be reopened to two-way traffic during the winter months. Please see the detour plan at <a href="http://www.a2gov.org/roads" target="_blank">www.a2gov.org/roads</a> for the detour routes that will be posted for motorists during the work. We thank you in advance for your patience.</p>
<hr />
<p><strong>Bryant/Pattengill Social Work Newsletter is here!!</strong></p>
<p>Please take the time to open and read the latest newsletter “Compassion in Action” to learn about upcoming events, easing our children back into school, and much more!!</p>
<hr />
<p><strong>Shop at the Ann Arbor PTO Thrift Shop</strong> and help raise money for our schools!! Open the attached flyer for more information!</p>
<hr />
<p><strong>Thanks to YOU!</strong></p>
<p>Volunteers Make Back-to-School Picnic a Success! We did it! We started off another year with a bang and welcomed families new and old back to Bryant/Pattengill. Hats off to: Adrienne Backues, Aedan Ishop, Alyssa Jones, Elle Lage, Larry Lage, Angie Moloney Alt, Anna Kirkland, Anna Quick, Carol Kremer, Celina Contreras de Berenfeld and family, Danielle Castell, Dianne Curry, Elizabeth Casey, Emily Martin, George Werner, Ilena Garrett, Jade Laatsch, January Provenzola, John Hunter, Jonathan Parker, Karen Lopez, Kathy Brady, Kedra Ishop, Kelly Pomorski, Kristi Shaffer, Laura Laatsch, Deanna Mercado, Jerome Stevens, Laura Scott, Marj D&#8217;Alecy, Meg Brady, Michael Garrett, Mike Pomorski, Naura Hyneck Ismail, Noah Kotre, Pablo Aquiles, Sara Saylor, Shannon Ellis, Shannon Kotre, Sherri Baughman, Stephanie Casey, Suzanne Mrozinski and Tiffany Marra – and our apologies if we missed thanking anyone by name. It was a wonderful event and we couldn't have done it without everyone's helping hands.</p>
<hr />
<p><strong>Backpack Packets and Kindergarten/Young 5 Name tag Assistance</strong></p>
<p>Thank you to Ariel Hurwitz-Greene, Cole Treat, Ian Vorobiev, Sydney Atkins, Carmen Atkins, Lisa Treat and Deborah Paul-McDonald for assisting staff in assembling the first day backpack packets and nametags for our new friends.</p>
<hr />
<p><strong>Helping New Students Find Their Way</strong></p>
<p>The first few days can always be a bit daunting for our new students. We extend our thanks to Amrita Pritam, Katharyn Cochrane, Chris Kubacki, Gavin Sy, Deborah Paul-McDonald, Kathy Brady and all the other parents that have helped new students off the buses and into the classroom.</p>
<hr />
<p><strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home " target="_blank">a2schools.org/bryantpattengill.home/home </a></p>
<p><strong>PTO Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/pto_information " target="_blank">a2schools.org/bryantpattengill.home/pto_information </a></p>
<p><strong>Bryant/Pattengill Facebook Page:</strong> <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank">https://www.facebook.com/BryantPattengillPTO</a></p>
<p><strong>Submissions for Thursday Notes</strong> should be emailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday, 5pm each week.</p>