@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Letters from the Principals</li>
    <li>PTO General Meeting TONIGHT</li>
    <li>Girls on the Run Bake Sale TODAY</li>
    <li>Cub Scout Informational Meeting</li>
    <li>Coffee with the Principals</li>
    <li>Bryant/Pattengill Ice Cream Social</li>
    <li>Bryant Art News</li>
    <li>Restaurant Day Update</li>
    <li>Fifth Grade Promotion Ceremony</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1428"></span></p>
<p><strong>Letters from the Principals: </strong>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1LyUTUwUh_yepeqv41QvL4oE-xBTy4B9bLGi3Tf7Ybjk/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Bryant families</a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1GqbMSHdtbK7jH62U8q66qU8FFbA3DZV0wJUaJQ3YjkU/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<p><strong>PTO General Meeting TONIGHT:</strong> The last Bryant/Pattengill Parent-Teacher Organization (PTO) General Meeting of the school year is<strong>tonight,</strong> <strong>Thursday, May 7, 7:30-8:30pm, at Pattengill</strong>. Childcare is provided. Enhance your child's educational experience by getting involved in the PTO and learning how you can contribute to our school community. We will also be voting on the nominations for the 2015-2016 PTO Executive Board, and discussing possible options for fundraisers next year.</p>
<hr />
<p><strong>Girls on the Run Bake Sale TODAY: </strong>The Pattengill Girls on the Run team is having a bake sale <strong>today, Thursday, May 7, 3:45-5:30pm</strong>on the blacktop behind Pattengill. The team is raising money for Friends of Michigan Animal Rescue, as their community involvement project. See the attached flyer for details. Stop by to get a sweet treat for a great cause!</p>
<p><a href="/wp-content/uploads/2015/05/GOTR-Bake-Sale.pdf">Girls on the Run &mdash; Bake Sale</a></p>
<hr />
<p><strong>Cub Scout Informational Meeting:</strong> Ann Arbor Cub Scout Pack 26 invites parents or guardians of boys in grades K-4 to an information session on <strong>Monday, May 11, 7:00pm, at Pattengill in Room B19</strong> (changed from the handout due to a scheduling conflict). Pack leadership will be on hand to explain the benefits and goals of Cub Scouting, and exciting program changes for the upcoming year. If you have any questions (or can't make the meeting and would like information) please contact Cubmaster Michael Pomorski at:<a href="mailto:michael.pomorski@gmail.com" rel="noreferrer">michael.pomorski@gmail.com</a>.</p>
<hr />
<p><strong>Coffee with the Principals: </strong>Join Mrs. Heyward and Mrs. Alston for Coffee with the Principals on<strong> Wednesday, May 13, 9-10am </strong>at the home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor, 48108. We hope to see you there!</p>
<hr />
<p><strong>Bryant/Pattengill Ice Cream Social: Friday, May 15, Rain or Shine! </strong> Bring your family, friends, and neighbors to our annual Ice Cream Social on <strong>Friday, May 15 at Pattengill</strong>! The evening features food, fun, games, inflatable obstacle course, bounce house &amp; slide, cake walk, a raffle, and silent auction to help raise funds to support our students next year! View the list of our <a href="https://docs.google.com/spreadsheets/d/1b1bwn4sECCYuI50HXuFey8xSLJD8D7c8I_mW22UAEHA/edit#gid=0" target="_blank" rel="noreferrer">fabulous raffle and auction prizes</a> and be sure to thank the merchants who support our schools!</p>
<p><strong>Skip the lines, fill out your raffle tickets at home and get a Free CPKids Meal from California Pizza Kitchen with our Ticket Pre-Order Option!</strong> Ticket Pre-Order forms will be coming home with your student soon. Orders will be filled at lunchtime on <strong>Thursday, May 14 or Friday, May 15, </strong>and sent home with your child. The free CPKids Meal is available for pre-orders only.</p>
<p><strong>Several volunteers are still needed at the Ice Cream Social! </strong>If you can help either at or before the Ice Cream Social, or have a responsible high school student who would like to help, please sign up here: <a href="https://docs.google.com/spreadsheets/d/1oIS90SXo4ZPNRS8BbSv92hUqeogfSR924mEJff_T8sw/edit#gid=0" target="_blank" rel="noreferrer">2015 Ice Cream Social Volunteer Sign Up</a>, or contact Lisa McKarns at <a href="mailto:lmckarns@comcast.net" rel="noreferrer">lmckarns@comcast.net</a> or <a href="file://localhost/tel/734-904-3565" target="_blank" rel="noreferrer">734-904-3565</a>. Thank you!</p>
<hr />
<p><strong>Bryant Art News:</strong> The Bryant Art Show will be taking place on <strong>Tuesday, May 19 and Thursday, May 21, from 5:30-7:00pm</strong>. This event occurs on the same nights as the Spring Sing concerts, so please come early and enjoy all of the artwork displayed around the school. Each Bryant student will have one piece of artwork on display.</p>
<hr />
<p><strong>Restaurant Day Update:</strong> Thanks to your support of B/P Restaurant Days, our PTO will receive $360.40 from Old Carolina BBQ Co. and $167.88 from Buffalo Wild Wings. Our next Restaurant Day will be <strong>Tuesday, May 26</strong>, one week later than previously planned, at <strong>Tony Sacco's Coal Oven Pizza</strong> (980A West Eisenhower Parkway). Flyers will be distributed later this month. Questions? Contact Larry Lage at:<a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Fifth Grade Promotion Ceremony:</strong> Fifth grade families are invited to a special end-of-year event on <strong>Thursday, June 11, 2:00pm</strong> in the Pattengill cafeteria. Come support your students as they cross the stage and receive their certificates! We are asking for donations of <strong>$5 per student</strong> for a commemorative t-shirt, as well as donations of new, black Sharpie (permanent) markers. The students will be gathering autographs from their friends and teachers on their shirts after the ceremony. Please support this longstanding and fun tradition here at Pattengill. Thank you! Questions? Contact Jennifer Manning at: <a href="mailto:manningjen@hotmail.com" rel="noreferrer">manningjen@hotmail.com</a> or Jennifer Heise at: <a href="mailto:jlheise@gmail.com" rel="noreferrer">jlheise@gmail.com</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>May</strong></p>
<ul>
    <li>Thurs. May 7: School Improvement Team (SIT) Meeting, 4:15-5:30pm, Pattengill</li>
    <li>Thurs. May 7: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. May 7: PTO General Meeting, 7:30-8:30pm, Pattengill (ALL families welcome, childcare provided)</li>
    <li>Mon. May 11: Fifth Grade Band and Orchestra Concert, 6:30pm, Pattengill</li>
    <li>Wed. May 13: Coffee with the Principals, 9-10am, 3704 Knollwood Circle</li>
    <li>Wed. May 13: Fifth Grade Band and Orchestra Concert, 2pm, Pattengill</li>
    <li>Fri. May 15: Ice Cream Social, 6:30-8:30pm, Pattengill</li>
    <li>Tues. May 19: Second Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Thurs. May 21: First Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Fri. May 22: Pattengill Field Day (Rain date Fri., May 29), 1:15-3:15pm</li>
    <li>Mon. May 25: <strong>Memorial Day - No School for Students</strong></li>
    <li>Tues. May 26: Restaurant Day at Tony Sacco's <strong>(note: date change)</strong></li>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 2pm</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>