@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Bryant Field Day</li>
    <li>Show Your Support at AA PTO Thrift Shop</li>
    <li>Final Restaurant Day</li>
    <li>Bryant Summer Book Checkout</li>
    <li>Fifth Grade Promotion Ceremony</li>
    <li>Ice Cream Social Update</li>
    <li>Thank You</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Jump Rope for Heart Week</li>
    <li>Fourth Grade Families Save the Date</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1491"></span></p>
<p><strong>Bryant Field Day</strong> will be held <strong>tomorrow, Friday, June 5, at 1:20pm</strong>. Please note the <strong>time change</strong> (original time was 2:00pm). The change was made to give the children more time with each activity. We have some exciting new games and stations planned for the kids, along with a few traditional favorites. <strong>Parents, please be sure to: 1)</strong> apply sunscreen to your child before he/she leaves for school, <strong>2)</strong> have your child wear closed-toe shoes, and <strong>3) </strong>send a water bottle with your child (with child's name on it). There will be a water station available to refill bottles if they run out. Looking forward to lots of fun on Friday! Questions? Contact Carmen Atkins at: <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Show Your Support at the Ann Arbor PTO Thrift Shop:</strong> Bryant/Pattengill has an opportunity to earn a percentage of $1,000 from the Ann Arbor PTO Thrift Shop! Simply shop the store <strong>today through Saturday, June 6</strong>. For every $5 spent at the Thrift Shop, shoppers earn a token. Cast your tokens at the shop in support of our schools, as we compete with groups from Wines, Dicken, and Carpenter. The school with the most tokens earns the most money! Spread the word to family and friends and let's show our support for our schools. Store details can be found on the attached flyer. Questions? Contact Kristi Kubacki at: <a href="mailto:klkubacki@yahoo.com" rel="noreferrer">klkubacki@yahoo.com</a>.</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Final Restaurant Day:</strong> Our last Restaurant Day of the school year will be at <strong>Mi Compadre, 2111 Packard</strong> (at Crestland, near Pattengill), from <strong>9am-9pm on Monday, June 8</strong>. The relatively new, locally owned Mexican restaurant will give our PTO 10% of all sales for breakfast, lunch, and dinner on June 8. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEb0UzbHN2QW41c3h0ck1ocFpVT3IwNWpSU2I4/view?usp=sharing" target="_blank" rel="noreferrer">Click here for the flyer</a>, though you do not need to present it for us to receive a donation. Thanks to your support, our schools will receive $180 from Tony Sacco's Pizza for May's Restaurant Day. Questions? Contact Larry Lage at: <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Bryant Summer Book Checkout:</strong> Beat the "summer slide" and keep reading this summer! All returning Bryant students are invited to participate in Bryant Summer Checkout, beginning <strong>Monday, June 8</strong>. Students may check out 10 books at a time, with a required permission slip (see attached flyer). <strong>Bryant Media Center hours: Tuesdays, 6-8pm: July 7, 14, 21, 28 and Thursdays, 9-11am: July 9, 16, 23, 30.</strong> Summer school and summer camp participants welcome. All books are due back the first week of school in September. Questions? Contact: <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2015/06/bryant_summer_checkout.pdf">Bryant Summer Checkout</a></p>
<hr />
<p><strong>Fifth Grade Promotion Ceremony:</strong> Parents and guardians of fifth graders are invited to attend the Fifth Grade Promotion Ceremony on <strong>Thursday, June 11 at 2pm in the Pattengill Cafeteria</strong>. Refreshments will be served in the Gym, following the ceremony. We hope to see you there! Please see the attached flyer for details.</p>
<p><a href="/wp-content/uploads/2015/06/5th-grade-graduation-invite.pdf">5th grade graduation invite</a></p>
<hr />
<p><strong>Ice Cream Social Update: </strong>Thank you to all who attended the Ice Cream Social on May 15! We raised over $6,000 through the silent auction and raffles, to help fund field trips and educational supplies. Thank you to all the businesses and families who helped make the event a success! If you patronize any of the <a href="https://drive.google.com/file/d/0B3xnxm1JyoZESmVuelpEbDV5S3M/view?usp=sharing" target="_blank" rel="noreferrer">businesses that participated</a>, please tell them thank you for supporting our Bryant &amp; Pattengill students!</p>
<hr />
<p><strong>Thank You</strong> to <strong>Jerry Krebes</strong>, <strong>Dorvia Thomas-Hill</strong>, and <strong>Carmen Atkins</strong> for updating the Bryant marquee throughout the year and keeping our families well informed! Thank you to <strong>all of the PTO event coordinators, chairpersons, and volunteers</strong> that have assisted throughout the year. Without you we would not be able to have as many activities for our students, nor would they be as successful. We appreciate you very much, and look forward to working with you next year. Have a great summer! Interested in learning how you can get involved in the PTO next year? Contact:<a href="mailto:info@bryantpattengill.org" rel="noreferrer">info@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Jump Rope for Heart Week:</strong> Bryant/Pattengill students are participating in the American Heart Association's Jump Rope for Heart Week <strong>now through Monday, June 8</strong>. The program encourages community service while reminding students how important it is to make "heart healthy" choices over the summer. Family and friends are welcome to support your child's volunteering efforts by donating to the American Heart Association. All donations are<strong>due by June 8</strong>. <a href="http://jumphoops2015mwa.kintera.org/bryantelementary" target="_blank" rel="noreferrer">Click here to join the Bryant team</a>, and <a href="http://www.kintera.org/faf/teams/groupteamlist.asp?ievent=1116303&amp;tlteams=6127644http://www.kintera.org/faf/teams/groupteamlist.asp?ievent=1116303&amp;tlteams=6127644" target="_blank" rel="noreferrer">click here to join the Pattengill team</a>. You will also find heart healthy resources such as "Ideas on How To Be a Healthy Family." Questions? Contact Joy Meadows at: <a href="mailto:Joy.Meadows@heart.org" rel="noreferrer">Joy.Meadows@heart.org</a>.</p>
<hr />
<p><strong>Fourth Grade Families Save The Date:</strong> Fifth Grade Camp at Howell Nature Center will be <strong>November 11-13, 2015</strong>. We will need adult volunteers to join the 5<sup>th</sup> grade students and teachers (at least 10 chaperones and 1 medical professional). Mark your calendars and please consider volunteering to make this trip a success. Cost is expected to be $150 per student. Detailed information will be sent home in the fall. Questions? Contact Barb Zimdars at <a href="mailto:zimdars@comcast.net" rel="noreferrer">zimdars@comcast.net</a>.</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 1:20pm</li>
    <li>Mon. June 8: Restaurant Day at Mi Compadre, 2111 Packard</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>