﻿@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this Issue</strong></p>
<ul>
    <li>Letters From Our Principals</li>
    <li>PTO Dues</li>
    <li>Volunteer Background Check</li>
    <li>PTO Calendar</li>
    <li>Ann Arbor Cub Scout Pack 26 Update</li>
    <li>Pattengill Library Volunteers Needed</li>
    <li>Box Tops For Education</li>
    <li>PTO Thrift Shop</li>
</ul>
<p><strong>Reminders</strong></p>
<ul>
    <li>PTOC Representative Open Position</li>
    <li>Room Parents Needed</li>
    <li>Volunteers Needed</li>
    <li>Stone School Road Traffic Update</li>
    <li>Upcoming Dates to Remember</li>
</ul>
<p><span id="more-59"></span></p>
<hr />
<p><strong>In this Issue</strong></p>
<p><strong>Letters From Our Principals</strong> are now available! Please take the time to read what is happening in our schools this month.</p>
<p>For information on Bryant, please go to: <a href="https://docs.google.com/document/d/1rpKZLCunnNu_WtBvK_ujp7931nLiwvMGETZL_kD-GNk/edit?usp=sharing_eil" target="_blank">https://docs.google.com/document/d/1rpKZLCunnNu_WtBvK_ujp7931nLiwvMGETZL_kD-GNk/edit?usp=sharing_eil</a></p>
<p>
    For information on Pattengill, please go to:<br />
    <a href="https://docs.google.com/document/d/1dVTLNUyAq1XdFryi9o2P_A1Mf2DEL3R4kosLFNHVzy8/edit?usp=sharing_eil" target="_blank">https://docs.google.com/document/d/1dVTLNUyAq1XdFryi9o2P_A1Mf2DEL3R4kosLFNHVzy8/edit?usp=sharing_eil</a>
</p>
<hr />
<p><strong>PARENT TEACHER ORGANIZATION (PTO) DUES</strong></p>
<p>By now all of you have looked at all the documents that your child brought home their first week of school. Within that brown envelope was an <strong>envelope labeled PTO DUES</strong>.</p>
<p><strong>What is this for?</strong></p>
<p>Let us start first with the purpose of the Bryant &amp; Pattengill Parent Teacher Organization is to: 1) Promote a close relationship between home and school, 2) Encourage cooperation among parents, teachers, and school administrators in the education of the children who attend Bryant/Pattengill, and 3) Enhance the academic, cultural, and social development of Bryant/Pattengill students. The third bullet point of enhancing the academic, cultural and social development of our students happens because of parent participation and, of course, by your monetary contribution/donation. All of the Bryant/Pattengill students are able to participate in activities that are meant to enhance their classroom/school education. Academic, cultural, and social development is enhanced in many ways such as field trips to AA Symphony Orchestra, Leslie Science Center, Hands on Museum, workshop on Disability Awareness, NAAPID, Science Night, Kindergarten Kick-Off picnic, and Science Olympiad. These represent a few examples of activities that enhance your child's academic experience. We hope you provide financial support ($25/child) so we can continue to enhance the education of all our Bryant/Pattengill students. Feel free to provide additional funding – it is always used in compliance with the PTO purpose/mission. Please send in your donation payable to Bryant/Pattengill PTO in the provided PTO DUES envelope. The PTO is a 501(c)(4) non-profit organization.</p>
<hr />
<p><strong>Volunteer Background Check Form</strong></p>
<p>Any volunteer who will be alone with children (e.g. leading a group on a fieldtrip) needs to have a background check prior to the event.</p>
<p>The form can be found here: <a href="https://drive.google.com/file/d/0BzzvqLXssUqzTkFvaVJvSXVzRGc/edit?usp=sharing" target="_blank">https://drive.google.com/file/d/0BzzvqLXssUqzTkFvaVJvSXVzRGc/edit?usp=sharing</a>.</p>
<p>Please download the form, fill it out and submit it to the Bryant or Pattengill office. You will need to present your ID.</p>
<hr />
<p><strong>Updated PTO Calendar</strong> Please click on the following link to access the most recent PTO Calendar: <a href="https://drive.google.com/file/d/0BzzvqLXssUqzdWFqRG96cjJTZkU/edit?usp=sharing" target="_blank">https://drive.google.com/file/d/0BzzvqLXssUqzdWFqRG96cjJTZkU/edit?usp=sharing</a></p>
<hr />
<p><strong>Ann Arbor Cub Scout Pack 26</strong> is gearing up for another thrilling year of fun with a purpose. We offer exciting activities and outings to teach boys life skills, enhance their self-confidence, develop strong friendships, foster good citizenship and strengthen families in a positive manner. All boys in grades 1 through 5 (7 to 10 years of age) are welcome to join and learn how to “Do Your Best”! We will be holding our annual Join Scouting Night in the cafeteria at Pattengill Elementary on Monday, Sept. 15 at 7pm. If you are interested in learning what we have to offer we would love to see you there! If you cannot attend and would like any information please feel free to e-mail me. Michael S. Pomorski, Ann Arbor Cub Scout Pack 26 Cubmaster, <a href="mailto:michael.pomorski@gmail.com" target="_blank">michael.pomorski@gmail.com</a></p>
<hr />
<p><strong>Pattengill Library Volunteers Needed!</strong> If you'd like to volunteer to help out in the media center, please open the attached eblast for further information!</p>
<hr />
<p><strong>Box Tops for Education </strong></p>
<p>Bryant/Pattengill are again participating in the Box Tops for Education program (<a href="http://www.boxtops4education.com/" target="_blank">http://www.boxtops4education.com/</a>). Many of the box tops are found on products you already buy or have in your home; for a complete list, visit the following website: <a href="http://www.boxtops4education.com/products/participating-products" target="_blank">http://www.boxtops4education.com/products/participating-products</a>. We have a black collection box located outside each of the school offices. Have you been saving your box tops all summer? Now is a great time to bring them in and drop them in the boxes! This is an easy way to earn money for our schools. During each of the last two school years, Box Tops have earned over $2000 for the PTO! We will collect the box tops during the entire school year, but there are only two times during the year when we receive payment for our submissions. The first deadline to submit our box tops for payment this school year will be Friday <strong>October 24</strong>. If you have any questions about the program, please contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" target="_blank">andymich@comcast.net</a>. Thank you for the great support we&#8217;ve had with this program; every little bit you bring in helps the schools!</p>
<hr />
<p>Shop at the Ann Arbor PTO Thirft Shop and help raise money for our schools!! Open the attached flyer for more information!</p>
<hr />
<p><strong>Reminders</strong></p>
<p>
    <strong>PTOC Representative, Bryant/Pattengill PTO Open Position</strong> The PTO is looking for someone to represent us in the PTO Council. The PTO Council meets monthly and is the umbrella organization supporting PTOs throughout Ann Arbor Public Schools. It has as its members a representative from each PTO and PTSO in the district. The mission is to promote excellence in our schools through communication and advocacy. This is accomplished by providing a forum for communication and cooperation and by acting as an advocate for member PTOs with district administration and with the Board of Education, and beyond. The PTO Council facilitates parent involvement, shares ideas and innovations, and works to advance the quality of our schools.<br />
    Please consider stepping up! If interested, contact Lisa Treat at <a href="mailto:letreat1@gmail.com" target="_blank">letreat1@gmail.com</a> or (734) 358-1450 or Deborah Paul-McDonald at <a href="mailto:dapm@mac.com" target="_blank">dapm@mac.com</a> or (734) 395-0288.
</p>
<hr />
<p><strong>Room Parents Wanted!</strong> Some teachers are still looking for a room parent or two. Please sign up at: Bryant/Pattengill Room Parents 2014-15. If you have any questions, please contact Deborah Paul-McDonald at <a href="mailto:dapm@mac.com" target="_blank">dapm@mac.com</a>.</p>
<p><strong>We Need Your Help!</strong> The Bryant/Pattengill community always has something going on. These activities are fun and educational for students and their families. In order to keep them going, we need YOU! Volunteers are needed to coordinate and support all of our activities. Please see the attached descriptions and use the link below to sign up today. Make sure to mark your calendars as a reminder. Thank you in advance for helping make these events a success for our kids.</p>
<p>
    2014-2015 Bryant/Pattengill Volunteer Sign-Up:<br />
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AmPu12BRCo3TdEJOOWtGdEYyaWR1Q3ppNnJKeDRya3c#gid=0" target="_blank">https://docs.google.com/spreadsheet/ccc?key=0AmPu12BRCo3TdEJOOWtGdEYyaWR1Q3ppNnJKeDRya3c#gid=0</a>
</p>
<p>Please note that each event has a separate tab along the bottom.</p>
<hr />
<p><strong>Notice of Temporary Traffic Control Plan: Stone School Road</strong></p>
<p>The City of Ann Arbor will be reconstructing Stone School Road between I-94 and Ellsworth Road beginning on, or about, Sept. 2, 2014. In the first phase of the project, we will be replacing the existing water main along Stone School Road and cleaning and re-grading the existing drainage ditch that runs between Stone School Road and Mallett's Creek in the vicinity of Partridge Path Drive. This portion of the project will be completed on, or about, Nov. 12, 2014. Temporary Construction Traffic Control Plan: The city will maintain one lane of traffic northbound along Stone School Road. Access to all driveways and intersecting streets will be maintained at all times. Southbound traffic will be detoured as shown on the attached drawing. Upon completion of the water main replacement in November, the roadway will be reopened to two-way traffic during the winter months. Please see the detour plan at <a href="http://www.a2gov.org/roads" target="_blank">www.a2gov.org/roads</a> for the detour routes that will be posted for motorists during the work. We thank you in advance for your patience.</p>
<hr />
<p><strong>Thanks to YOU!</strong></p>
<p><strong>Summer Playdates on the Playground</strong> This summer, Kelly Cleland, Kathy Owens and Angie Maloney helped coordinate the “Playdates on the Playground” for our incoming kindergarten families. These playdates were a wonderful way for us to reach out to new students that are joining the Bryant/Pattengill community. Thank you for making our new families feel welcome.</p>
<hr />
<p><strong>Kindergarten/Young 5 Nametag Assistance</strong></p>
<p>Thank you to Laura Laatsch and Janelle Johnson for helping string all the Young 5/Kindergarten nametags. You helped make our new students' first days a success.</p>
<hr />
<p><strong>Upcoming Dates to Remember</strong></p>
<p><strong>September</strong></p>
<ul>
    <li>Tues. Sept. 16 Pattengill Curriculum Night, Pattengill Cafeteria 6:30 – 8:00 p.m.</li>
</ul>
<p><strong>October</strong></p>
<ul>
    <li>Wed. Sept. 1 Student Count Day</li>
    <li>Thurs. Sept. 2 Pattengill Picture Day</li>
    <li>Thurs. Sept. 2 School Improvement Team (SIT) Meeting, Bryant 4:15 – 5:30 p.m.</li>
    <li>Thurs. Sept. 2 PTO Executive Board Meeting, Bryant Media Center 6:15 – 7:15 p.m.</li>
    <li>Thurs. Sept. 2 PTO General Meeting, Bryant Multipurpose Room 7:30 – 8:30 p.m.</li>
    <li>Fri. Sept. 17 Family Movie Night, Bryant Gym 5:30 – 8:00 p.m.</li>
    <li>Wed. Sept. 22 Cider and Donuts with the Principals, Location TBD 9 – 10 a.m.</li>
</ul>
<hr />
<p><strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home " target="_blank">a2schools.org/bryantpattengill.home/home </a></p>
<p><strong>PTO Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/pto_information " target="_blank">a2schools.org/bryantpattengill.home/pto_information </a></p>
<p><strong>Bryant/Pattengill Facebook Page:</strong> <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank">https://www.facebook.com/BryantPattengillPTO</a></p>
<p><strong>Submissions for Thursday Notes</strong> should be emailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday, 5pm each week.</p>