@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><span style="color: #008000"><b>In This Issue:</b></span></p>
<ul>
    <li><b>Bryant Phys. Ed. Update</b></li>
    <li><b>AAPS' Counseling Dept. Offers Grief &amp; Loss Seminars</b></li>
</ul>
<p><span style="color: #008000"><b>Help Wanted: Volunteer Opportunities</b></span></p>
<ul>
    <li><b>Event and Activity Volunteer Sign-Up</b></li>
</ul>
<p><span style="color: #008000"><b>Reminders:</b></span></p>
<ul>
    <li><b>2017 Girls on the Run Regular Registration Ends Tuesday</b></li>
    <li><b>Pattengill Talent Show- Important Show Dates</b></li>
    <li><b>Science Olympiad Sign-Up Now Open</b></li>
    <li><b>Shop for Bryant/Pattengill at Kroger</b></li>
    <li><b>Visit the Ann Arbor PTO Thrift Shop</b></li>
</ul>
<p><span style="color: #008000"><b>Mark Your Calendars</b></span></p>
<p><span style="color: #008000"><b>Stay Connected</b></span></p>
<p><span id="more-2392"></span></p>
<hr />
<p><b>In This Issue</b></p>
<p><b>Bryant Phys. Ed. Update: </b>Please check out the latest updated information on Mr. Willard's website including his Newsletter:<a href="http://www.a2schools.org/Page/9495">http://www.a2schools.org/Page/9495</a> Activity Calendars: <a href="http://www.a2schools.org/Page/8864">http://www.a2schools.org/Page/8864</a> and Just Dance Blog entry: <a href="http://www.a2schools.org/Page/9891">http://www.a2schools.org/Page/9891.  </a></p>
<hr />
<p><b><span style="color: #008000">AAPS' Counseling Dept. Offers Grief &amp; Loss Seminars:</span> </b>2016 was a difficult year for families and students in the Ann Arbor Public Schools and surrounding communities. Many student deaths from a variety of causes have affected school communities and staff. A panel of experts will offer healthful suggestions for positive ways to deal with grief and loss at two upcoming seminars entitled, <i>"Grief and Loss: Supporting our Students." </i><b>Thursday, Jan. 26, 6:30pm</b> at Slauson Middle School Auditorium, or <b>Thursday, Feb. 16, 6:30pm</b> at Huron High School Little Theater. The events are free and open to everyone. For more information, visit: <a href="http://a2communityhighschool.weebly.com/">http://a2communityhighschool.weebly.com/</a></p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities: </b></p>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b> </span>The PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<h6><b>Reminders:</b></h6>
<p><strong><span style="color: #008000">2017 Girls on the Run Regular Registration Ends Tuesday: </span></strong>Regular Registration ends Jan. 31 and late registration ends Feb. 15. Our program at Pattengill is open to all 3rd-5th grade girls and will meet after school on Mondays and Wednesdays from 4-5:30pm, March 13-May 26. All registered participants will receive a healthy snack at each lesson, a program t-shirt and water bottle, a parent guide book, GOTR cinch sack, and entry into the 5k on Sunday, May 21. <a href="http://www.girlsontherunsemi.org/">Click here</a> to learn more and to register. Financial assistance is available in the application process. Email our site leader Elizabeth at <a href="mailto:crowdecoder@gmail.com">crowdecoder@gmail.com</a> for more information.</p>
<hr />
<h6><span style="color: #008000"><b>Pattengill Talent Show &mdash; Important Show Dates:</b> </span>Here are some important dates about the upcoming Pattengill Talent Show. <b>1.</b> Dress rehearsal will be after school on <b>Monday, Feb. 6, 4:00-6:30pm</b> in the Pattengill cafeteria. <b>2.</b> The Talent Show will be on <b>Friday, Feb. 10, at 7pm</b> in the Pattengill cafeteria. (Performers report at 6:30.) <b>3.</b>The school performance will be on <b>Monday, Feb. 13 at 1:45pm.</b> This is part of our NAAPID program. <b>4</b>.The performance for second graders is on <b>Wednesday, Feb. 15 at 9:30am.</b> Questions? Please contact Mrs. Bailey: <a href="mailto:wilkinsm@aaps.k12.mi.us">wilkinsm@aaps.k12.mi.us</a></h6>
<hr />
<h6><b><span style="color: #008000">Science Olympiad Sign-Up Now Open:</span> </b>Science Olympiad sign-up is now available for 2nd-5th graders! Read about it at <a href="/SO"><b>BryantPattengill.org/SO</b></a> or just <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDDZ66e0g0ucxYn3-aoELdnWEn54H0dFk0LsNjm8Ji1QcJgw/viewform"><b>SIGN UP</b></a>. Encourage your child(ren) to explore and have fun with a new topic or an old favorite. For students who aren't sure science is for them, there are activities to catch anyone's interest, focused on interaction, exploration, hands-on activities, and teamwork. Questions? Contact Jonathan Parker at <a href="mailto:Jonathan.T.Parker@BryantPattengill.org">Jonathan.T.Parker@BryantPattengill.org</a>.</h6>
<hr />
<h6><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop: </b></span>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</h6>
<hr />
<h6><b>Mark Your Calendars</b></h6>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>January 2017</b></p>
<ul>
    <li>Thurs, Jan 26: PTO Executive Board Meeting, 6-7:30pm, Bryant Media Center</li>
</ul>
<p><b>February </b></p>
<ul>
    <li>Wed, Feb 8: Student Count Day - please be sure your student(s) attend this day</li>
    <li>Fri, Feb 10: Pattengill Talent Show for Parents/Community, 7-9pm</li>
    <li>Mon, Feb 13: NAAPID/Parent Involvement Day, <b><i>ALL Parents Welcome</i></b></li>
</ul>
<p>Pattengill Talent Show for Students, 1:45-3:30pm, Pattengill</p>
<ul>
    <li>Wed, Feb 15:    2nd Grade to Pattengill to see Talent Show, 9:30am</li>
</ul>
<ul>
    <li>Mon, Feb 20:    Presidents' Day - <b><i>No School for Students</i></b></li>
    <li>Wed, Feb 22: Pattengill Science Fair, 6-7:30pm, Pattengill Gym</li>
    <li>Thurs, Feb 23: Kindergarten/Young Fives Round-Up, 6-7:30pm, Bryant Multipurpose Room</li>
</ul>
<hr />
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>
        <b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a><br />
        <hr />
        <p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.
    </li>
</ul>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p>&nbsp;</p>
