@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5><b>In this issue:</b></h5>
<ul>
    <li><span style="color: #008000"><b>Lunch with a Loved One: Today@@Pattengill, Friday@@Bryant</b></span></li>
    <li><span style="color: #008000"><b>Pattengill Girl Scouts Food Drive Ends Friday</b></span></li>
    <li><span style="color: #008000"><b>Show Your Support for Science Olympiad: Shop PTO Thrift Shop Feb. 14-20</b></span></li>
    <li><span style="color: #008000"><b>Box Tops Due Feb. 23</b></span></li>
    <li><span style="color: #008000"><b>Do You Know Any Incoming Kindergarten or Young Fives Families?</b></span></li>
    <li><span style="color: #008000"><b>New Gymnastics Mats Arriving Soon for Bryant</b></span></li>
</ul>
<h5><b>Help Wanted: Volunteer Opportunities</b></h5>
<ul>
    <li><span style="color: #008000"><b>Kindergarten/Young Fives Round-Up: Few More Volunteers Needed</b></span></li>
    <li><span style="color: #008000"><b>Bryant Scholastic Book Fair Is March 1-4 - Sign Up Today To Help</b></span></li>
    <li><span style="color: #008000"><b>Looking To Volunteer? We Need YOU!</b></span></li>
</ul>
<h5><b>Reminders:</b></h5>
<ul>
    <li><span style="color: #008000"><b>Girls on the Run Registration Ends Monday</b></span></li>
    <li><span style="color: #008000"><b>Fifth Grade Camp Is March 9-11</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h5><b>Mark Your Calendars</b></h5>
<h5><b>Stay Connected</b></h5>
<hr />
<p>&nbsp;</p>
<h6><b>In this issue</b></h6>
<p><span style="color: #008000"><b>Don't Miss Lunch with a Loved One This Week:</b> </span>Pattengill welcomes loved ones to join their student at lunchtime <b>TODAY, Feb. 11</b>, and Bryant celebrates <b>tomorrow,</b> <b>Friday, Feb. 12</b>. Family members (must be on the student's emergency contact list) sign in at the front office, then enjoy lunch with their student. School lunches may be purchased for all adults and for students who do not receive free/reduced-price lunch. <b>Bryant lunch times: </b>Young 5's &amp; Kindergarten: 11:30am, 1st Grade: 12:02pm, 2nd Grade: 12:30pm. <b>Pattengill lunch times: </b>3rd Grade: 12:24pm, 4th Grade: 12:48pm, 5th Grade: 11:54am.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Pattengill Girl Scouts Food Drive Ends Friday:</b> </span>Please join the Pattengill Girl Scouts in donating food to benefit our neighbors at the Back Door Food Pantry. Donations will be collected outside classrooms through <b>tomorrow, Friday, Feb. 12</b>. Suggested items: canned chicken or tuna, canned fruits or vegetables, soups, boxed pasta or rice, and snacks for kids. The class with the most donations by the end of the week will receive a special surprise! Questions? Contact Stephanie Scrivens at <a href="mailto:scrivens_jsn@sbcglobal.net">scrivens_jsn@sbcglobal.net</a>.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Show Your Support for Science Olympiad: Shop the PTO Thrift</span> Shop Next Week</b> - From <b>February 14-20</b>, we have an opportunity to earn a percentage of $1,000 for our B/P Science Olympiad teams! For every $5 spent at the Thrift Shop, shoppers earn a token. Cast your tokens next week in support of our B/P Science Olympiad teams. Spread the word to friends and family and let's SHOW OUR SUPPORT for our schools! See the flyer below for store hours and address.</p>
<p><b><span style="color: #008000">Box Tops Due Feb. 23:</span> </b>There are just a few days left to submit your <a href="http://www.boxtops4education.com/">Box Tops coupons</a> for our final submission of the school year. All Box Tops are due on <b>Tuesday, Feb. 23</b> in the black boxes located outside each school's office. Each Box Top counts &mdash; please help us reach our goal of $1,200 for this school year. Thank you! Questions? Contact Jean Powell at jmpowl@aol.com.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Do You Know Any Incoming Kindergarten or Young Fives Families?</span> </b>If you know of a neighbor or friend that lives in the B/P community, or outside the boundary lines but is considering sending their child to Bryant next year for Kindergarten or Young Fives, please see the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bakNLMVRGb0kzaU0/view?usp=sharing"><b>attach</b></a><b>ed</b> information. Help us reach out to incoming families and invite them to Bryant's Kindergarten/Young Fives Round-Up on <b>Thursday, Feb. 25, 6-7:30pm</b>.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">New Gymnastics Mats Arriving Soon for Bryant:</span> </b>The Bryant gym will be receiving new gymnastics mats this spring, thanks to a mini-grant given by the B/P PTO, and crowdfunding efforts. See <a href="https://drive.google.com/file/d/0B-_iHxypfI5bOTkxNncyWDEwbWs/view?usp=sharing"><b>attached</b></a> flyer to learn more about how we reached our goal to purchase new mats for our students. Thank You! &mdash; Mr. Willard, Bryant P.E. teacher</p>
<hr />
<p>&nbsp;</p>
<h6>
    <b>Help Wanted: Volunteer Opportunities</b>
</h6>
<p><span style="color: #008000"><b>Kindergarten/Young Fives Round-Up: Few More Volunteers Needed </b>-</span> Be a part of this fun opportunity to welcome new prospective families to Bryant/Pattengill! Volunteers are needed on <b>Thursday, Feb. 25</b>, <b>6:00-7:30pm </b>to assist with parent sign-in, snacks, tours, and more. Please <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=12"><b>sign up here</b></a><b>,</b> or contact Karishma Collette at <a href="http://umich.edu/">karishms@umich.edu</a>.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Bryant Scholastic Book Fair Is March 1-4 - Sign Up Today To Help!</b> </span>Many volunteers are needed to make this event successful: you can help students shop, organize books on the shelves, or scan and check-out purchases. The Fair will run from <b>Tuesday, March 1 &mdash; Friday, March 4</b>. Family Night is <b>Thursday, March 3</b>. Volunteers are needed for ALL days and times, along with setup <b>(Friday, 2/26)</b> and teardown<b> (Friday, 3/4)</b>. To volunteer, <a href="http://www.signupgenius.com/go/10c0e48afae28a2fc1-bryant3"><b>click here</b></a>. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Looking To Volunteer? We need YOU!</span> </b>There is an opportunity for <b>ALL</b> B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. <b>Please visit</b> <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"><b>2015-2016 Bryant/Pattengill Volunteer Sign-Up</b></a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant at: <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill at: <a href="mailto:jennifer.nguyen@bryantpattengill.org">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p>&nbsp;</p>
<h6><b>Reminders</b></h6>
<p><b><span style="color: #008000">Girls on the Run (GOTR) Registration Ends Monday:</span> </b><b>Monday, Feb. 15</b> is the last day to register for GOTR, before the cost increases for late registration. Open to all 3rd-5th grade girls, GOTR will meet after school on Mondays and Wednesdays from 4:15-5:45pm, March 7-May 20. <a href="http://www.girlsontherunsemi.org/"><b>Click here </b></a>to learn more and to register. Financial assistance is available, and discounts are provided for those interested in volunteering on the coaching team. Email: <a href="mailto:info@girlsontherunsemi.org"><b>info@girlsontherunsemi.org</b></a> for more information. Questions? Contact Elizabeth Deyarmond at: <a href="mailto:crowdecoder@gmail.com">crowdecoder@gmail.com</a></p>
<hr />
<p><b><span style="color: #008000">Fifth Grade Camp Is March 9-11:</span> </b>Reminder, Fifth Grade Camp at Howell Nature Center has been re-scheduled for<b> March 9-11, 2016.</b> The packing list and all other important documents can be found on the camp website:<a href="/5th-grade-camp/"> http://bryantpattengill.org/5th-grade-camp/</a>. Questions? Contact 5th Grade Camp Chair Barb Zimdars at <a href="mailto:barbara.zimdars@bryantpattengill.org">barbara.zimdars@bryantpattengill.org</a></p>
<hr />
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b><b>: </b></span>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> <b>Shop, donate, and support AAPS</b></a>!</p>
<hr />
<p>&nbsp;</p>
<h6><b>Mark Your Calendars</b></h6>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>February</b></p>
<ul>
    <li><span style="color: #008000">Mon-Fri, Feb. 15-19: <b>Mid-Winter Break - </b><b><i>No School for Students</i></b></span></li>
    <li><span style="color: #008000">Mon, Feb. 22: School Resumes</span></li>
    <li><span style="color: #008000">Wed, Feb. 24: Pattengill Science Fair, Pattengill Gym, 6-7:30pm    </span></li>
    <li><span style="color: #008000">Thurs, Feb. 25: Kindergarten Round-Up, Bryant Multipurpose Room, 6-7:30pm</span></li>
    <li><span style="color: #008000">Fri, Feb. 26 - Mar 9: Read-A-Thon</span></li>
</ul>
<p><b>March</b></p>
<ul>
    <li><span style="color: #008000">Tues-Fri, Mar. 3/1-3/4: Bryant Book Fair</span></li>
    <li><span style="color: #008000">Thurs, Mar. 3 : Pajama Night &amp; Book Fair Family Night, Bryant,  6:30-8pm</span></li>
    <li><span style="color: #008000">Wed-Fri, Mar. 9-11: 5th Grade Camp</span></li>
    <li><span style="color: #008000">Thurs, Mar. 10: School Improvement Team (SIT) Meeting, Pattengill, 4:30pm</span></li>
    <li><span style="color: #008000">Thurs, Mar. 10: PTO Exec Board Meeting, Pattengill, 6-7:30pm</span></li>
    <li><span style="color: #008000">Tues, Mar. 15: Pattengill Tech, 5:30-8pm- <b>DATE CHANGE</b></span></li>
    <li><span style="color: #008000">Tues, Mar. 15: Report Cards Go Home</span></li>
    <li><span style="color: #008000">Wed, Mar. 16: Pizza with Principals, Bryant Community Center, 6pm</span></li>
    <li><span style="color: #008000">Tues, Mar. 22.: Family Science Night, Bryant, 6-7:30pm</span></li>
    <li><span style="color: #008000">Fri, Mar. 25: NO SCHOOL &mdash; Good Friday</span></li>
    <li><span style="color: #008000">Tues, Mar. 29: Pattengill Spring Pictures</span></li>
    <li><span style="color: #008000">Tues, Mar. 29: 4th Grade Spring Recorder Concert, Pattengill, 7pm</span></li>
    <li><span style="color: #008000">Wed, Mar. 30: Bryant Spring Pictures</span></li>
    <li><span style="color: #008000">Thurs, Mar. 31: Disability Awareness Workshop at Pattengill for 4th Grade (morning) and 5th Grade (afternoon)</span></li>
</ul>
<hr />
<p><b>Stay Connected</b></p>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone size-medium wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=214%2C300" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 214px) 100vw, 214px" data-recalc-dims="1" pagespeed_url_hash="3304415326"  /></a></p>