@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6 style="text-align: left;">In This Issue:</h6>
<ul>
    <li><span style="color: #008000;">Help Your Child Celebrate Earth Day <span class="aBn"><span class="aQJ">Tomorrow</span></span></span></li>
    <li><span style="color: #008000;">Bryant/Pattengill Board Nominations Due <span class="aBn"><span class="aQJ">Tomorrow</span></span></span></li>
    <li><span style="color: #008000;">Pizza with the Principals <span class="aBn"><span class="aQJ">Next Tuesday</span></span></span></li>
    <li><span style="color: #008000;">Restaurant Night Coming On <span class="aBn"><span class="aQJ">May 7th</span></span>&mdash; Bella Italia</span></li>
    <li><span style="color: #008000;">Ice Cream Social Family Donation Drive</span></li>
    <li><span style="color: #008000;">Check Out Mr. Willard's Bryant PE News Flash</span></li>
    <li><span style="color: #008000;">Special Education Millage: Vote on <span class="aBn"><span class="aQJ">May 3</span></span></span></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><span style="color: #008000;">Looking To Volunteer?</span></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><span style="color: #008000;">Come To International Festival <span class="aBn"><span class="aQJ">Next Thursday</span></span></span></li>
    <li><span style="color: #008000;">Visit the Ann Arbor PTO Thrift Shop</span></li>
</ul>
<h6>Mark Your Calendars</h6>
<h6>Stay Connected</h6>
<p><span id="more-2042"></span></p>
<hr />
<h6>In This Issue</h6>
<p dir="ltr"><strong><span style="color: #008000;"> Help Your Child To Celebrate Earth Day <span class="aBn"><span class="aQJ">Tomorrow</span></span>:</span></strong> In honor of Earth Day, Bryant and Pattengill's annual Day of Service will occur <span class="aBn"><span class="aQJ">tomorrow</span></span>. From <span class="aBn"><span class="aQJ">9:30-12:00</span></span> at Bryant, and <span class="aBn"><span class="aQJ">1:30-3:30</span></span> at Pattengill, each classroom will help beautify their school grounds. Parents are invited to join their student's classroom and/or assist with landscaping and gardening. If you are able to join for any portion of the day, please sign up at: <a href="http://www.signupgenius.com/go/508054facaf22a02-earth" target="_blank">http://www.signupgenius.com/go/508054facaf22a02-earth</a>. (Previously, there was an issue with accessing the sign-up, but that has been resolved.) Questions? Please see <a href="https://drive.google.com/file/d/0B-_iHxypfI5bNkxFUGdjUXc0YUE/view?usp=sharing" target="_blank">attached</a> for further information and details. Contact Bryant coordinator Cara Lauzzana at <a href="http://caralauzzana@hotmail.com" target="_blank">caralauzzana@hotmail.com</a>, or Pattengill coordinator Justin Kunkle at <a href="http://judk@gmail.com" target="_blank">judk21@gmail.com</a>. Thank you!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Share Your Talents with Your Child's School:</span> </strong>Join the PTO Board &mdash; Meet new people, connect with principals and teachers, and help make Bryant/Pattengill a great place for our kids to learn and grow! The B/P Parent-Teacher Organization (PTO) Board is seeking new Board members for the 2016/2017 school year. Nominations are due tomorrow. <a href="https://drive.google.com/file/d/0B00evgpXySN0WHgtU1N2Y2Z0cTA/view?usp=sharing" target="_blank">Click here</a> to learn more about the following open Board positions:</p>
<p dir="ltr"> Vice President, Bryant             Vice President, Pattengill</p>
<p dir="ltr">Internal Secretary                        Fundraising Director</p>
<p dir="ltr"> Please contact Co-President Kathy Brady with questions, or interest in a Board position: <a href="mailto:kathy.brady@bryantpattengill.org" target="_blank">kathy.brady@bryantpattengill.org</a>. Thank you for considering how you can help!</p>
<hr />
<p dir="ltr"><span style="color: #008000;"><strong>Pizza with the Principals Is Next Tuesday:</strong> </span> Mark your calendars and join Mrs. Heyward and Mrs. Alston for an informal chat at Pizza with the Principals next  <span class="aBn"><span class="aQJ">Tuesday, April 26</span></span>, <span class="aBn"><span class="aQJ">6:15-7:15pm</span></span> at the Bryant Community Center, located at 3 W. Eden Court.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Restaurant Night Coming On May 7th- Bella Italia:</span></strong> Order online, have it delivered or even dine in, but make sure you participate in our May Restaurant Night at Bella Italia and support our local restaurants.  Come try the pasta or a slice of pizza! Flyers will be available soon. Questions? Contact Tod Tharp- <a href="mailto:todtharp@me.com" target="_blank">todtharp@me.com </a></p>
<hr />
<p dir="ltr"><span style="color: #008000;"><strong>Ice Cream Social Family Donation Drive:</strong></span> Be sure to come to Pattengill on Friday, May 20, for a night of food, friends, and fun! The Ice Cream Social is our schools' largest fundraiser, and many terrific prizes are being collected for the raffle and silent auction. Some of the most popular prizes (toys, electronics, $100 bill), however, cannot be donated by merchants. We kindly ask families to contribute $5 toward the Family Donation Drive, which supplies some of these highly desirable prizes. Your child will be bringing home a collection envelope, and all donations are due by <span class="aBn"><span class="aQJ">Monday, May 2</span></span>. Thank you for your support of this important family FUNdraiser! Questions? Contact Jennifer Nguyen at <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Check Out Mr. Willard's Bryant PE News Flash</span></strong>: Catch up on what's happening in Mr. Willard's PE Class. Did your student tell you about the recent Red Wings Assembly? Read to find out more: <a href="http://www.a2schools.org/Page/9495" target="_blank">http://www.a2schools.org/Page/9495</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Special Education Millage:</span></strong> Vote on <span class="aBn"><span class="aQJ">May 3</span></span> - All Washtenaw county voters will be asked to vote <span class="aBn"><span class="aQJ">May 3</span></span> on a 1.5 mill property tax increase dedicated to special education. Current state and federal funding covers 51% of the cost of special education - local districts are required to make up the rest from funds intended for general education. The millage would raise $22 million for special education, and 100% of dollars raised will be used in Washtenaw County. About one in seven children in Washtenaw County receives special educational services for speech therapy, learning disabilities, hearing impairments, cognitive disorders, and physical limitations. <a href="http://a2schools.org/site/default.aspx?PageType=3&amp;DomainID=4&amp;ModuleInstanceID=10&amp;ViewID=047E6BE3-6D87-4130-8424-D8E4E9ED6C2A&amp;RenderLoc=0&amp;FlexDataID=7343&amp;PageID=1" target="_blank">Click here</a> for more information on the Special Education Millage, and be sure to vote on <span class="aBn"><span class="aQJ">May 3</span></span> (no school for students).</p>
<hr />
<h6>Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><strong><span style="color: #008000;">Looking To Volunteer?</span> </strong>There is an opportunity for ALL B/P families to pitch in, whether you have daytime or evening availability. Please visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to select an event or activity that works for you. We can help you find a good fit! Contact <a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a>. Thank you!</p>
<hr />
<h6>  Reminders</h6>
<p dir="ltr"><strong><span style="color: #008000;">Come to International Festival <span class="aBn"><span class="aQJ">Next Thursday</span></span>:</span></strong> The B/P annual International Festival is right around the corner. This year's theme is "World Art and Culture Tour."  Come taste foods from all over the world, or learn how to write your name in several different languages.  There are wonderful activities for everyone, not to mention a fabulous fashion show put on by our own students, showcasing traditional garments from many nationalities.  If you would still like to bring a dish to share or volunteer, we still have room available. please see the sign-up sheet<a href="https://docs.google.com/spreadsheets/d/1jIV5S6LDc8fWJGlDPgjQRKbNksm4tcXy2a-5IDatPq4/edit#gid=0" target="_blank"> here</a> to help out where you  can.  We look forward to celebrating our diversity together as one commUNITY on <span class="aBn"><span class="aQJ">Thursday, April 28</span></span>, <span class="aBn"><span class="aQJ">6:30</span></span>&mdash;<span class="aBn"><span class="aQJ">8:00pm</span></span> at Pattengill. See you there!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Visit the Ann Arbor PTO Thrift Shop:</span></strong> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h6>  Mark Your Calendars</h6>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<h6> April</h6>
<ul>
    <li>
        <p dir="ltr"><span style="color: #008000;">Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, <span class="aBn"><span class="aQJ">7-8pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Fri, Apr. 22: Earth Day of Service (Parents Welcome To Volunteer at Schools)</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Tues, Apr. 26: Pizza with the Principals, Bryant Community Center, <span class="aBn"><span class="aQJ">6:15-7:15pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Thurs, Apr. 28: International Festival, Pattengill, <span class="aBn"><span class="aQJ">6:30-8pm</span></span></span></p>
    </li>
</ul>
<h6> May</h6>
<ul>
    <li>
        <p dir="ltr"><span style="color: #008000;">Mon - <span class="aBn"><span class="aQJ">Fri May 2-6</span></span>: Staff Appreciation Week</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Tues, May 3: No School for Students</span></p>
    </li>
    <li>
        <p dir="ltr">
            <span style="color: #008000;">Wed, May 4: 2nd to 3rd Grade Transition, Students- <span class="aBn"><span class="aQJ">9:30 - 11am</span></span></span><br />
            <span style="color: #008000;"> 2nd to 3rd Grade Transition, Parent Informational Night- <span class="aBn"><span class="aQJ">6 - 7pm</span></span></span>
        </p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Sat, May 7: Restaurant Night- Bella Italia</span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Mon, May 9: 5th Grade Instrumental Concert, Pattengill Cafeteria (note date change), <span class="aBn"><span class="aQJ">6:30pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr">
            <span style="color: #008000;"><span class="aBn"><span class="aQJ">Thurs, May 12</span></span>: School Improvement Team (SIT) Meeting, Pattengill, <span class="aBn"><span class="aQJ">4:30 - 5:30pm</span></span> </span><br />
            <span style="color: #008000;"> PTO General Meeting, Pattengill Media Center (ALL Families Welcome, Childcare Provided), <span class="aBn"><span class="aQJ">6:00 - 7:30pm</span></span> (note time change)</span>
        </p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Fri, May 20: Ice Cream Social, Pattengill, <span class="aBn"><span class="aQJ">6:30 - 8:30pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Tues, May 24: 2nd Grade Spring Sing, Bryant Gym, <span class="aBn"><span class="aQJ">7- 8pm</span></span></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000;">Thurs, May 26: 1st Grade Spring Sing, Bryant Gym, <span class="aBn"><span class="aQJ">7-8pm</span></span></span></p>
    </li>
    <li><span style="color: #008000;">Mon, May 30    : Memorial Day - No School for Students</span></li>
</ul>
<hr />
<h6>Stay Connected</h6>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p dir="ltr"><img class="CToWUd a6T" src="https://lh3.googleusercontent.com/1XT-BhiN6xEWTo1RSdrSzt1oA6R8GWNHNlLWNLwuhfueLa4_Lm7GwiGyeeGkKGuDhRoT25Dw5NhDgkrWQiKOovGo6Yy1GcQEC0K0-cq4M6EI4XKWdZjah_5JA6sxEeSnhNhz1vzC" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="2764884343"  /></p>