@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><span style="color: #000000;"><b>In This Issue:</b></span></p>
<ul>
    <li><span style="color: #008000;"><b>Don't Forget Great Lakes Scrip Gift Cards Due TODAY</b></span></li>
    <li><span style="color: #008000;"><b>Lunch with a Loved One Today At Pattengill</b></span></li>
    <li><span style="color: #008000;"><b>Ice Cream Social: LAST DAY To Purchase Discounted Tickets</b></span></li>
    <li><span style="color: #008000;"><b>Ice Cream Social: Tickets For Families In Need</b></span></li>
    <li><span style="color: #008000;"><b>Ice Cream Social TOMORROW</b></span></li>
    <li><span style="color: #008000;"><b>Bryant Library End-Of-Year Information</b></span></li>
    <li><span style="color: #008000;"><b>Come To Ms. Elsters Workshop On Encouraging Good Behavior</b></span></li>
    <li><span style="color: #008000;"><b>Kudos!- Successful WESO Program</b></span></li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<ul>
    <li><span style="color: #008000;"><b>Ice Cream Social Volunteers: A Few Spots Remaining</b></span></li>
</ul>
<p><span style="color: #000000;"><b>Reminders:</b></span></p>
<ul>
    <li><span style="color: #008000;"><b>1st &amp; 2nd Grade "Spring Sing" Concerts</b></span></li>
    <li><span style="color: #008000;"><b>Get Ready For Bryant Field Day, June 3</b></span></li>
    <li><span style="color: #008000;"><b>Rec &amp; Ed Survey &mdash; What Classes Would You Like To See Offered Next Year? </b></span></li>
    <li><span style="color: #008000;"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
    <li><span style="color: #008000;"><b>Mark Your Calendars</b></span></li>
    <li><span style="color: #008000;"><b>Stay Connected</b></span></li>
</ul>
<p><span id="more-2089"></span></p>
<hr />
<p><b>In This Issue</b></p>
<p><b><span style="color: #008000;">Don't Forget Great Lakes Scrip Gift Cards Due TODAY:</span> </b>Scrip orders are due today (Thursday May 19).They will be deliver to the school through your child's teacher on Thursday May 26th. Questions? Contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com">sskotre@hotmail.com</a></p>
<hr />
<p><span style="color: #008000;"><b>Lunch with a Loved One Today At Pattengill</b>:</span> Pattengill celebrates today, <b>Thurs., May 19</b>. Family members (must be on the student's emergency contact list) sign in at the front office, then enjoy lunch with their student. School lunches may be purchased for all adults and for students who do not receive free/reduced-price lunch. <b>Pattengill lunch times:</b> 3rd Grade: 12:24pm, 4th Grade: 12:48pm, 5th Grade: 11:54am.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000;">Ice Cream Social:</span> LAST DAY To Purchase Discounted Tickets</b> - There's still time for adults to pre-purchase discounted Ice Cream Social tickets at Pattengill TODAY (Thursday, May 19) from 11:45am-1:30pm<b>, during Lunch with a Loved One.</b> You do not need to have a child at Pattengill to buy your tickets there. Can't make it to Pattengill today? TODAY is the deadline to send in your <a href="https://drive.google.com/file/d/0B00evgpXySN0am5YQmcxNXViY28/view?usp=sharing"><b>order form</b></a> and payment with your student, and your discounted tickets will be waiting for you at Ice Cream Social. Coupons for a free California Pizza Kitchen kids meal and Bravo! appetizer are included with each pre-order. Food, game, and raffle tickets will be $1 each at the event on Friday. Questions? Contact Kathy Brady at <a href="mailto:kathy.brady@bryantpattengill.org">kathy.brady@bryantpattengill.org</a>. Thank you for supporting Bryant/Pattengill!</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000;"><b>Ice Cream Social- Tickets for Families in Need </b><b>: </b></span>If you are a family receiving free lunch and are experiencing a hardship, please contact Mrs. Alston or Mrs. Heyward for Ice Cream Social tickets. There are a <b>limited</b> number of tickets  available. For more information, please call Bryant Office 734-997-1212 or Pattengill Office-734-994-1961, <b>Mrs. Heyward-</b><a href="mailto:heywardr@aaps.k12.mi.us"><b>heywardr@aaps.k12.mi.us,</b></a><b> Mrs. Alston: </b><a href="mailto:alston@aaps.k12.mi.us"><b>alston@aaps.k12.mi.us.</b></a></p>
<hr />
<p><span style="color: #008000;"><b>Ice Cream Social Is TOMORROW!</b></span> Join friends and family tomorrow night for lots of fun and FUNdraising for our schools! <b>Friday, May 20, 6-8:30pm at Pattengill,</b> rain or shine. Bring a blanket to sit on while you enjoy Cottage Inn pizza, Orange Leaf froyo, and many other treats. New raffle and silent auction prizes have been added, including 2 weeks of summer camp at Ann Arbor Dance Classics, and a Zap Zone birthday party package! Be sure to check out the <a href="https://docs.google.com/spreadsheets/d/1Q-W-B8I76W9D7PoYdkoPebyPRNQQ5Fsu4KYhIHBRQc8/edit?usp=sharing"><b>latest prize sheet</b></a> &mdash; will you be a lucky winner? The raffle/auction room closes at <b>7:45pm</b>. Soon after, look for signage posting winners' names in the cafeteria and outside near the games. See you Friday night!</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000;">Bryant Library End-Of-Year Information:</span> </b><b>Friday, June 3 is the final due date</b> for all library materials. Inventory for materials in the library is being completed, and we need all library books returned as soon as possible. We will check to be sure that any missing library books are not in the library. Please conduct searches at home or in the classroom. I know parents and students don't like to receive overdue notices and bills. <b>PLEASE HELP KIDS FIND AND RETURN BOOKS AS BEST YOU CAN</b>.  Unfortunately, we lost many good books last year. We currently have 100 unpaid library fines, totaling $1,106.28. <i>The district expects that the replacement cost will be paid for each lost book</i>. If you receive an overdue notice today, please send in the books or replacement cost ASAP. Whether lost book fines for an individual student are large or small, they all add up in a school of our size. Our annual budget has been reduced to almost nothing, so we want to preserve the books we have. <b><i>If you find a lost book after paying for it before the end of the year, or if it is found at school, we will happily refund your money.</i></b> Please keep your eyes open for library books and return them if you find them. If your child's book isn't found by May 29, please send cash in a sealed envelope marked with your child's name and Library, or a check payable to Bryant Elementary for its replacement cost. If you feel certain that a book made it back to the library, please let me know. To inquire about the cost of a lost book, or to ask any other questions, please don't hesitate to call me at school at 997-1212 or email Mrs. Rohde- <a href="mailto:rohdem@aaps.k12.mi.us">rohdem@aaps.k12.mi.us.</a>  Bryant will have summer checkout available again this year! Watch for information coming home in the Thursday note and in backpack mail about details, dates and times. Reading over the summer is the best thing students can do to be ready for school next year.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000;">Come To Ms. Elsters' Workshop On Encouraging Good Behavior:</span> </b>Join Bryant/Pattengill school social worker, Ms. Elster, for a workshop on how to encourage good behavior, control obnoxious behavior and strengthen your relationship with your child. The workshop will be held at Pattengill Elementary on Tuesdays May 31st and June 7th from 4:15-5:45pm. Questions? Contact Ms. Elster- <a href="mailto:elster@aaps.k12.mi.us">elster@aaps.k12.mi.us</a></p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000;"><b>Kudos!- Successful WESO Program: </b></span>Congratulations to the 85+ Bryant &amp; Pattengill students who participated in the 14th annual Washtenaw Elementary Science Olympiad program! Many competed in Saturday's WESO tournament, and many took home medals for their efforts. All were winners, though, since they spent months learning about math, engineering, and science. <i>Very special thanks</i> to the volunteer coaches who put so much time into working with our students, and especially to Jonathan Parker, our Bryant-Pattengill Science Olympiad coordinator, who organized the event for our B/P schools!</p>
<hr />
<p>&nbsp;</p>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #008000;"><b>Ice Cream Social Volunteers: Few Spots Remaining</b></span> &mdash; Thank you to the many of you who have volunteered to help out on Friday night! There are a few spots left &mdash; if you're able to run one of the games, sell food, donate a treat for the Cake Walk, or help with clean up, please sign up here: <a href="https://docs.google.com/spreadsheets/d/1yWaMjXKtVdktyWEFF38Kv8UqTIaztE5dBZEiPtHXCIQ/edit?usp=sharing">2016 Ice Cream Social Volunteer Sign Up</a>. Responsible teenagers welcome! Questions? Contact Janelle Johnson at johnsonja@aaps.k12.mi.us. Thank you!</p>
<hr />
<p>&nbsp;</p>
<p><b>Reminders</b></p>
<p><b><span style="color: #008000;">1st &amp; 2nd Grade "Spring Sing" Concerts:</span> </b>Please join us on Tuesday May 24th and Thursday May 26 for Bryant's annual "Spring Sing" concerts! On May 24th, the 2nd graders will be performing "Dance to the Music" and on May 26th ,the 1st graders will be performing "Each of Us is a Flower." Both performances will be held in the Bryant Gym and start at 7pm, however students are asked to arrive at 6:40 and meet in the multi-purpose room. If you are available to help aid in watching students as they arrive in the multi-purpose room, please contact Mrs. Krohn (<a href="mailto:krohnk@aaps.k12.mi.us">krohnk@aaps.k12.mi.us</a>). We would love your help! Thanks and we hope to see you there!</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000;"><b>Get Ready For Bryant Field Day June 3- Don't Forget To Pack A Water Bottle and Sunscreen</b>:</span> Bryant Field Day is <b>June 3rd</b> and we still need more volunteers especially for set-up.  This is a fun activity for kids and we want to make sure we have enough people to help.  Sign up here <a href="http://www.signupgenius.com/go/8050f4baca82ca75-bryant">http://www.signupgenius.com/go/8050f4baca82ca75-bryant</a> Email Kathy Owens with any questions. <a href="mailto:kmann@umich.edu">kmann@umich.edu</a></p>
<hr />
<p><b><span style="color: #008000;">Rec &amp; Ed Survey &mdash; What Classes Would You Like To See Offered Next Year?</span> </b>The Rec &amp; Ed Department is asking for all parent input as to what classes they would like to see offered during after school hours next year. Your input is used to create their menu of classes. Please take time to fill out the following surveys- <a href="http://www.surveymonkey.com/r/BryantASC2016-17">Bryant After School Survey</a> ( Bryant Families Only)  &amp; <a href="http://www.surveymonkey.com/r/PattengillASC2016-17">Pattengill After School Survey</a> ( Pattengill Families Only).  Questions- Jenna Bacolor- <a href="mailto:bacolor@aaps.k12.mi.us">bacolor@aaps.k12.mi.us</a></p>
<hr />
<p><span style="color: #008000;"><b>Visit the Ann Arbor PTO Thrift Shop:</b></span> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"><b> Shop, donate, and support AAPS</b></a>!</p>
<p>&nbsp;</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>May</b></p>
<ul>
    <li>Fri, May 20: Ice Cream Social, Pattengill, <b>6:00 - 8:30pm </b></li>
    <li>Tues, May 24: 2nd Grade Spring Sing, Bryant Gym, 7-8pm</li>
    <li>Thurs, May 26: 1st Grade Spring Sing, Bryant Gym, 7-8pm</li>
    <li>Mon, May 30    : <b>Memorial Day - </b><b><i>No School for Students</i></b></li>
</ul>
<p><b>June</b></p>
<ul>
    <li>Fri, Jun 3: Bryant Field Day (Raindate: Monday, June 6), 1:45 - 3:15pm</li>
    <li>Tues, Jun 7: PTO Executive Board Meeting, Bryant Media Center, 6pm - 7:30pm</li>
    <li>Fri, Jun 10: Pattengill Field Day (Raindate: Monday, June 13), 1:15 - 3:15pm</li>
    <li>
        Thurs, Jun 16: <b>2</b><b>nd</b><b> Grade Recognition Ceremony</b> &amp; "Clap Out," Bryant Gym- 9:30am <i>(Families Welcome)</i><b>
            <i>
                <br />
            </i>
        </b>2pm- <b>5</b><b>th</b><b> Grade Promotion Ceremony,</b> Pattengill Cafeteria <i>(Families Welcome)</i>
    </li>
    <li>
        Fri, Jun 17 : Flag Ceremony &amp; "Clap Out," Pattengill <i>(Families Welcome) &mdash; </i>9am<b>
            <i>
                <br />
            </i>
        </b><b>Last Day of School, 1/2 Day (Release Time: 11:51am)</b><b>
            <br />
        </b><b>Report Cards Go Home</b>
    </li>
</ul>
<hr />
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><b>Stay Connected</b></p>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>
        <b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a><br />
        <hr />
        <p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.
    </li>
</ul>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p>&nbsp;</p>
<p><a href="/2016/05/19/thursday-notes-5-19-16/redstamp-1463513568406/" rel="attachment wp-att-2090"><img data-attachment-id="2090" data-permalink="https://www.bryantpattengill.org/2016/05/19/thursday-notes-5-19-16/redstamp-1463513568406/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/RedStamp-1463513568406.png?fit=752%2C1080&amp;ssl=1" data-orig-size="752,1080" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="RedStamp-1463513568406" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/RedStamp-1463513568406.png?fit=209%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/RedStamp-1463513568406.png?fit=474%2C681&amp;ssl=1" class="wp-image-2090 alignright" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2016/05/RedStamp-1463513568406-209x300.png?resize=182%2C261" alt="RedStamp-1463513568406" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/RedStamp-1463513568406.png?resize=209%2C300&amp;ssl=1 209w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/RedStamp-1463513568406.png?resize=713%2C1024&amp;ssl=1 713w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/RedStamp-1463513568406.png?w=752&amp;ssl=1 752w" sizes="(max-width: 182px) 100vw, 182px" data-recalc-dims="1" pagespeed_url_hash="686452696"  /></a><a href="/2016/05/13/thursday-notes-5-12-16/2016-ics-poster-thnotes/" rel="attachment wp-att-2086"><img data-attachment-id="2086" data-permalink="https://www.bryantpattengill.org/2016/05/13/thursday-notes-5-12-16/2016-ics-poster-thnotes/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?fit=1700%2C2200&amp;ssl=1" data-orig-size="1700,2200" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2016 ICS poster ThNotes" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?fit=232%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?fit=474%2C614&amp;ssl=1" class="wp-image-2086 alignleft" src="/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes-232x300.png?resize=208%2C269" alt="2016 ICS poster ThNotes" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?resize=232%2C300&amp;ssl=1 232w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?resize=768%2C994&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?resize=791%2C1024&amp;ssl=1 791w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?w=948 948w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?w=1422 1422w" sizes="(max-width: 208px) 100vw, 208px" data-recalc-dims="1" pagespeed_url_hash="1156878604"  /></a></p>