@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5> In this issue:</h5>
<ul>
    <li><strong><span style="color: #008000">Notes from Bryant/Pattengill Offices</span></strong></li>
    <li><strong><span style="color: #008000">Pattengill Book Fair</span></strong></li>
    <li><strong><span style="color: #008000">Please Read Ms. Elster's(B/P Social Worker) Latest Newsletter</span></strong></li>
    <li><strong><span style="color: #008000">Thank You for Supporting Chuck E. Cheese Restaurant Day</span></strong></li>
    <li><strong><span style="color: #008000">Box Tops Update</span></strong></li>
    <li><strong><span style="color: #008000">Many Thanks&#8230;</span></strong></li>
    <li><strong><span style="color: #008000">5th Grade Spanish Classes Update</span></strong></li>
    <li><strong><span style="color: #008000">Update Regarding Free A2SO Concert from Mrs. Krohn</span></strong></li>
</ul>
<h5>Help Wanted: Volunteer Opportunities</h5>
<ul>
    <li><strong><span style="color: #008000">Pattengill Science Olympiad Coaches Needed:</span></strong></li>
    <li><strong><span style="color: #008000">Girl Scout Troop Leaders Needed</span></strong></li>
    <li><strong><span style="color: #008000">Event and Activity Volunteer Sign-Up</span></strong></li>
</ul>
<h5>Reminders:</h5>
<ul>
    <li><strong><span style="color: #008000">Scrip Gift Cards Fundraiser DUE <span class="aBn"><span class="aQJ">FRIDAY</span></span></span></strong></li>
    <li><strong><span style="color: #008000">Thanksgiving Turkey Coin Drive at Bryant Ends <span class="aBn"><span class="aQJ">Friday</span></span></span></strong></li>
    <li><strong><span style="color: #008000">Smile!<a style="color: #008000" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools</span></strong></li>
    <li><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<h5>Mark Your Calendars</h5>
<h5> Stay Connected</h5>
<hr />
<h5> In this issue</h5>
<p dir="ltr">
<p dir="ltr"><strong><span style="color: #008000">Notes from Bryant/Pattengill Offices:</span></strong></p>
<ol>
    <li>
        <p dir="ltr">Bryant and Pattengill schools are looking for <span class="aBn"><span class="aQJ">Noon</span></span> Hour Supervisors to work two hours, five days per week. The hourly pay rate of pay is $10.15. Interested applicants must pay $69 for a background check. If you are interested in these positions, please speak with the Principal of the school you are interested in. After you have met with the principal, you will go to AAPS HR Department at 2555 South State Street and ask for Irma McLone. Please let her know what school you are applying for.</p>
    </li>
</ol>
<p dir="ltr">     2. Report Card issue date is <span class="aBn"><span class="aQJ">Nov. 24th</span></span>. Parents should look for this in their child's backpack.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Pattengill Book Fair:</span></strong>The Pattengill Book Fair will be here shortly after we return from the Thanksgiving Break, <span class="aBn"><span class="aQJ">Dec. 7-11th</span></span>!  The Family Event will take place on  Wednesday, Dec. 9 from 5-<span class="aBn"><span class="aQJ">8pm</span></span> Please support the fair as it is the only fundraiser to provide new books/materials for the Pattengill Library. Many hands are needed to help Mrs. Schreck run a successful fair.  Please click on the link to choose a day/time to volunteer! <a href="https://docs.google.com/spreadsheets/d/1sWLRbzPzhBmd4DomxMUF5R2yZagLlmo_3SHFaI9xOeE/edit?usp=sharing" target="_blank">Bookfair Volunteer Signup</a> Also, for those of you who like to shop early, you can shop online at our Book Fair now!!  Online shopping is available now until Friday, Dec. 4 (to insure delivery to the school before we leave on vacation). Click the following link and shop away!  <a href="http://bookfairs.scholastic.com/homepage/pattengill" target="_blank">Shop Pattengill's Book Fair Online</a>  Questions, please contact Mrs. Schreck at <a href="http://schreck@aaps.k12.mi.us." target="_blank">schreck@aaps.k12.mi.us</a><a href="http://schreck@aaps.k12.mi.us." target="_blank">.</a> Many thanks for your support!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Please Read Ms. Elster's(B/P Social Worker) Latest Newsletter</span></strong>: Please take time and read Ms. Elsters' latest <a href="https://drive.google.com/file/d/0B-_iHxypfI5bZ1dPRDNMMmxOTUU/view?usp=sharing" target="_blank">attached</a> newsletter filled with wonderful information on how to talk to your child about bullying, images from the bullying prevention assembly at Pattengill during Bully Busters Week, helpful weatherization resources and information about free family activities!</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Thank You for Supporting Chuck E. Cheese Restaurant Day:</strong> </span>THANK YOU! Our PTO will get a check for $254.30 from Chuck E. Cheese because of your support on Restaurant Days last week.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Box Top Update:</strong> </span>Thank you to all the families who clipped and saved their box tops for Box Tops for Education this fall.  Our first submission of Box Tops took place on Nov. 1st and resulted in $663.30 profit for our schools.  We've set our goal for the 2015-2016 school year as $1,200.00.  The next, and final submission for this school year is <span class="aBn"><span class="aQJ">Feb. 23, 2016</span></span>, so make sure to let your family and friends know to keep clipping, saving, and placing the Box Tops in the Black Boxes located near the office at both schools. THANK YOU for helping to  continue to support all the programs and activities for our Bryant/Pattengill students. Questions, contact Jean Powell, <a href="mailto:jmpowl@aol.com" target="_blank">jmpowl@aol.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Many Thanks:</strong> </span>To John Hunter for assisting with Bryant Picture Re-take day! You helped make the day a success!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">5th Grade Spanish Classes Update: </span></strong>Please see the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bam0tV2dMdFZHcHM/view?usp=sharing" target="_blank">attached</a> newsletter to learn what Mrs. Kairis, Spanish teacher for the 5th grades at Pattengill, has been working on with our fifth graders.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Update Regarding Free A2SO Concert from Mrs. Krohn</span></strong>:  Thank you to all of the families who contacted me with their interest in the A2SO concert tickets. Families who will be receiving tickets were sent an email last week with further details about the performance and where to pick-up their tickets. Once again, thank you to the Ann Arbor Symphony for their generosity in selecting Bryant for this program! We look forward to all of the other exciting opportunities the symphony has afforded our students the rest of the school year.</p>
<hr />
<p dir="ltr"> Help Wanted: Volunteer Opportunities</p>
<p dir="ltr"><strong><span style="color: #008000"> Pattengill Science Olympiad Coaches Needed:</span></strong>Pattengill Elementary started Science Olympiad in 2001!  We encourage a love an interest in nature, science, and engineering. We need more Pattengill coaches this year to explore with small groups of students. No experience needed! This is exploration, which anyone can do. Please contact Jonathan Parker to learn more about coaching: <a href="mailto:jonathan.t.parker@leidos.com" target="_blank">jonathan.t.parker@leidos.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Girl Scout Troop Leaders Needed:</strong></span> Bryant and Pattengill are in need of Daisy (Kindergarten and 1st Grade) and Brownies (2nd and 4rd Grade) Troop Leaders as soon as possible. Each group needs to have at least two adult women (or a group taking turns) leaders to run meetings, activities, field trips, etc. If you are interested, please contact Jenni Glysson at <a href="http://jglysson@aol.com" target="_blank">jglysson@aol.com</a> or <a href="tel:%28734%29%20971-8769" target="_blank">(734) 971-8769</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Event and Activity Volunteer Sign-Up:</strong> </span>To volunteer for any of our PTO events and activities throughout the year, visit:<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank"> 2015-2016 Bryant/Pattengill Volunteer Sign-Up.</a></p>
<hr />
<h5>Reminders</h5>
<p dir="ltr"><strong><span style="color: #008000"> Scrip Gift Cards Fundraiser Due</span> </strong><span class="aBn"><span class="aQJ">Friday</span></span>:- Giving some gift cards this holiday season? Buy them through Great Lakes Scrip, where B/P receives a portion of all gift card sales. You can even order gift cards for your own local shopping! <strong><a href="https://drive.google.com/file/d/0B-_iHxypfI5bMUZ1NFlDemcxSWs/view?usp=sharing" target="_blank">Click here</a></strong> for more information. Questions? Contact Shannon Kotre <a href="mailto:sskotre@hotmail.com" target="_blank">sskotre@hotmail.com</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Smile!<a style="color: #008000" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools:</span></strong> Visit <a href="http://smile.amazon.com/" target="_blank">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charity of choice. Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. Get a head start on your holiday shopping and start earning for Bryant/Pattengill today!</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Thanksgiving Turkey Coin Drive Ends <span class="aBn"><span class="aQJ">on Friday</span></span>:</strong></span> Each year, Bryant School partners with the staff at M Den to provide turkey dinners (complete with dessert) for some of our families in need. If you would like to participate, please send in coins with your child Nov. 4-20. Pattengill families are welcome to participate and drop off any donations at Bryant. Thank you for your contributions!</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Visit the Ann Arbor PTO Thrift Shop:</strong></span> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h5> Mark Your Calendars</h5>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong> November</strong></p>
<ul>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Mon, Nov. 23</span></span>: Report Cards Go Home</p>
    </li>
    <li>
        <p dir="ltr">Wed - <span class="aBn"><span class="aQJ">Fri, Nov. 25-27</span></span>: Thanksgiving Break - No School for Students</p>
    </li>
</ul>
<p><strong> December</strong></p>
<ul>
    <li>Wed, Dec. 2: Pattengill Yearbook Group Pictures</li>
    <li>Thurs, Dec. 3: Bryant Yearbook Group Pictures</li>
    <li>Mon - <span class="aBn"><span class="aQJ">Fri, Dec. 7-11</span></span>: Pattengill Book Fair (note date change)</li>
    <li>Wed, Dec. 9: Pattengill Book Fair Family Night, <span class="aBn"><span class="aQJ">6-8pm</span></span></li>
    <li>Mon, Dec. 21 - Jan. 1: Winter Break - No School for Students</li>
</ul>
<hr />
<p dir="ltr"> Stay Connected</p>
<p dir="ltr">PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></p>
<p dir="ltr">PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></p>
<p dir="ltr">PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></p>
<p dir="ltr">Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></p>
<p dir="ltr">Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank"><span class="aBn"><span class="aQJ">Thursday</span></span>Notes@bryantpattengill.org</a>.</p>
<p dir="ltr">Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</p>
<p><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/27H9HlinDd2nAGCJoKuz8RTflezivN_suc07tIeSjVkiuny4l-w5vdY27ZoHlnqj9Oo7Y85DKT8VYSVRFAyetFRxAsCfuUF7wKRmFLKPGc7eugLp8APkqJliGhUYUp1r7xPLN5XM" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173px;" height="242px;" pagespeed_url_hash="3194383984"  /></p>