@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><span style="color: #008000">Letters from the Principals</span></li>
    <li><span style="color: #008000">Earth Day Festivities</span></li>
    <li><span style="color: #008000">April P.E. Calendars Available Online</span></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><span style="color: #008000">Interested in Volunteering for International Festival?</span></li>
    <li><span style="color: #008000">Portuguese Tutors Needed</span></li>
    <li><span style="color: #008000">Looking To Volunteer?</span></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><span style="color: #008000">New Date for Pizza with the Principals</span></li>
    <li><span style="color: #008000">Mark Your Calendars for International Festival at Pattengill</span></li>
</ul>
<h6>Mark Your Calendars</h6>
<h6>Stay Connected</h6>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<h6>In This Issue</h6>
<p dir="ltr"><span style="color: #008000"> Letters from the Principals:</span> Be sure to read <a href="https://docs.google.com/document/d/11J0SIFGdYPUlYtbL4ma9pDcNbfWKHahethuk66l0SaQ/edit?usp=sharing" target="_blank">Mrs. Heyward's Letter</a> to Bryant Families and <a href="https://docs.google.com/document/d/1qsNfxXye9XJszVEtv4i9Olcv8zp_FqIn9k7_uMbS8jo/edit?usp=sharing" target="_blank">Mrs. Alston's Letter</a> to Pattengill Families filled with timely information for our school community.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Earth Day Festivities:</span> In honor of Earth Day, Bryant and Pattengill's annual Day of Service will occur on <span class="aBn"><span class="aQJ">Friday, April 22</span></span>. From <span class="aBn"><span class="aQJ">9:30-12:00</span></span> at Bryant, and <span class="aBn"><span class="aQJ">1:30-3:30</span></span> at Pattengill, each classroom will help beautify their school grounds. Parents are invited to join their student's classroom (schedules forthcoming) and/or assist with landscaping and gardening. If you are able to attend for any portion of the day, please sign up at: <a href="http://www.signupgenius.com/go/508054facaf22a02-earth" target="_blank">http://www.signupgenius.com/go/508054facaf22a02-earth</a>. Questions? Contact Bryant coordinator Cara Lauzzana at <a href="http://caralauzzana@hotmail.com" target="_blank">caralauzzana@hotmail.com</a>, or Pattengill coordinator Justin Kunkle at <a href="http://judk@gmail.com" target="_blank">judk@gmail.com</a>. Thank you!</p>
<hr />
<p dir="ltr"><span style="color: #008000">April P.E. Calendars Available Online:</span> Hello Bryant Families, April activity calendars are up on my web page:<a href="http://www.a2schools.org/Page/8864" target="_blank"> http://www.a2schools.org/Page/8864</a>. These are a great opportunity to do some of the physical activities we do in the gym. Have fun! &mdash; Bryant P.E. teacher, Mr. Willard</p>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><span style="color: #008000"> Interested In Volunteering For International Festival?</span> The B/P annual International Festival will be held at Pattengill this year, on Thursday, April 28, 6:30-<span class="aBn"><span class="aQJ">8:00pm</span></span>. This year's theme is "World Art and Culture Tour." Please consider volunteering &mdash; visit the sign-up sheet<a href="https://docs.google.com/spreadsheets/d/1jIV5S6LDc8fWJGlDPgjQRKbNksm4tcXy2a-5IDatPq4/edit#gid=0" target="_blank"> here</a><span style="color: #008000"> to help out where you can. Would your child like to participate in the fashion show? Can you bring a dish from another country or help with one of our many activity stations? We look forward to celebrating our diversity together as one commUNITY!</span></p>
<hr />
<p dir="ltr"><span style="color: #008000">Portuguese Tutors Needed:</span> Bryant and Pattengill are in need of Portuguese tutors for our students. We are looking for parents that are interested in volunteering or becoming a paid tutor through Ann Arbor Public Schools. Questions? Contact ELL teacher Marla Metler: <a href="mailto:metlerm@aaps.k12.mi.us" target="_blank">metlerm@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Looking To Volunteer?</span> There is an opportunity for ALL B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. Please visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<h6> Reminders</h6>
<p dir="ltr"><span style="color: #008000"> Save the Date: Parent &amp; Volunteer Appreciation Night</span> - This year's Bryant/Pattengill Parent &amp; Volunteer Appreciation Night is <span class="aBn"><span class="aQJ">Tuesday, April 19</span></span>, <span class="aBn"><span class="aQJ">6-7:30pm</span></span> in Bryant's Media Center. This event allows the Bryant/Pattengill staff to show their appreciation to ALL of our parent and community volunteers. If you have volunteered in the classroom, assisted on a field trip, coordinated events, tutored students, participated in the PTO, etc., please add this date/time to your calendar and come and join us! Questions? Contact Mrs. Lim:<a href="mailto:lims@aaps.k12.mi.us" target="_blank"> lims@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Don't Forget Pizza with the Principals:</span> Join Mrs. Heyward and Mrs. Alston for an informal chat at Pizza with the Principals, rescheduled for Tuesday, April 26, 6:15-7:15pm at the Bryant Community Center, located at 3 W. Eden Court.</p>
<hr />
<h6>  Mark Your Calendars</h6>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr">
    <strong><span style="color: #008000">March</span></strong>
</p>
<ul>
    <li>
        <p dir="ltr">Thurs, Mar. 31: Disability Awareness Workshop at Pattengill for 4th Grade (morning) and 5th Grade (afternoon)</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Mar. 31: School Improvement Team (SIT) Meeting, Pattengill, <span class="aBn"><span class="aQJ">4:30pm</span></span> *NEW DATE*</p>
    </li>
</ul>
<p dir="ltr">   <strong><span style="color: #008000">April</span></strong></p>
<ul>
    <li>
        <p dir="ltr">Mon - <span class="aBn"><span class="aQJ">Fri, Apr. 4-8</span></span>: Spring Break - No School for Students</p>
    </li>
    <li>
        <p dir="ltr">Mon, Apr. 11: School Resumes</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 14 Kindergarten Registration and Readiness, Bryant Gym (by Appointment), <span class="aBn"><span class="aQJ">9am-2pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 14: PTO Executive Board Meeting, Bryant Media Center, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Tues, Apr. 19: Volunteer Appreciation Night, Bryant (ALL Family Volunteers Welcome), <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, <span class="aBn"><span class="aQJ">7-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Fri,, Apr. 22: Earth Day of Service (ALL Parents Welcome to Volunteer at Schools)</p>
    </li>
    <li>
        <p dir="ltr">Tues, Apr. 26: Pizza with the Principals, Bryant Community Center, <span class="aBn"><span class="aQJ">6:15-7:15pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 28: International Festival, Pattengill, <span class="aBn"><span class="aQJ">6:30-8pm</span></span></p>
    </li>
</ul>
<hr />
<h6> Stay Connected</h6>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr">Submissions for <span class="aBn"><span class="aQJ">Thursday</span></span> Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T" src="https://lh5.googleusercontent.com/bpBsd_qOulwiqX0BY2B2xx4fY04yozuubCTfG_G63IzS-mtiLKuOC5BCLYlsZsPeFP2YHQOjzFTLs8-SLQOv9Jt4Gfsvgdtx3YfyVg-mj0R3hF8hg6E4BDBh0r3iAVKa2XBJhgwU" alt="4_11_16 flyer.png" width="289" height="222" pagespeed_url_hash="622472302"  /><img class="CToWUd a6T" src="https://lh6.googleusercontent.com/BNVEc_e3-wiUuAT69D5vx7Q5Mxjdvi7alSUUWccim9pE-EMKpeJiL0JzVEDio06HGzGOehBJDk5NFY5Si6AJsgRvHCaWxVmt1ROEE06IyNPlpN3Sey4xFKZWbbrBDpNp5AybyZ0E" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="1848652565"  /></p>