@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Letters from the Principals</li>
    <li>March Restaurant Day Is Monday</li>
    <li>Special Event for ELL Families</li>
    <li>Read-A-Thon Is Underway</li>
    <li>You're invited! PTO General Meeting on March 12</li>
    <li>Calling All Budding Artists</li>
    <li>Coffee with the Principals Update</li>
    <li>School Social Work Update</li>
    <li>Shop Lucky's Market for B/P</li>
    <li>Girls on the Run Starts 3/11</li>
    <li>Special Food Resource for Bryant Families in Need</li>
    <li>Advertise Your Local Business</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Scholastic Book Fair March 3-6</li>
    <li>Parent Lending Library</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1206"></span></p>
<p><strong>Letters from the Principals: </strong>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/17Cka0JMz_VMHeqVzCM93LYQaB3h4jRIeTY8tZOxh1rw/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Bryant families</a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1ebT_gLBd4wWMhHPQsndQnW8XS8LMKGodMpoKqrt-H6Q/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<p><strong>March Restaurant Day Is Monday!</strong> Gather your crew on <strong>Monday, March 9</strong> <strong>(a day off for students)</strong> and head to Old Carolina BBQ Co. at 980 W. Eisenhower between <strong>11am-9pm</strong>. Dine in or get take-out with friends, co-workers, or your teammates. Our schools will get 10% of all sales that day. We have at least one volunteer helping out as a <strong>greeter between 5-9pm</strong>, but please feel free to assist as a greeter to help make it more of a B/P community event. A flyer is not required to participate in this fundraiser, but <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEeS1Mb2ttU2xFLWN3bmtNYzV1QmEzZlQ2YUVR/view?usp=sharing" target="_blank" rel="noreferrer">click here</a> for a reminder to get some good food for a great cause on Monday. Thank you for supporting our schools through Restaurant Day! Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Special Event for ELL Families:</strong> English Language Learner (ELL) families are cordially invited to participate in the Family Writing Fun Night on<strong>Tuesday, March 10, 6:00-7:45pm at Pattengill</strong>. There will be door prizes, snacks, pizza, and creative excitement sponsored by our Title 1 Program. The Eastern Michigan University Writing Project will show us how to explore fun ways to encourage writing for our students. Questions? Contact Ms. Tchalo at <a href="mailto:tchalo@aaps.k12.mi.us" rel="noreferrer">tchalo@aaps.k12.mi.us</a>. We look forward to welcoming our ELL families on Tuesday!</p>
<hr />
<p><strong>Read-A-Thon Is Underway!</strong> Extra raffle tickets and other forms can be found here: <a href="/read-a-thon/" target="_blank" rel="noreferrer">http://bryantpattengill.org/read-a-thon/</a>. The last day to turn in raffle tickets is <strong>Wednesday, March 11</strong>. Collection envelopes for sponsor money will be coming home later this week. Money is due back to school by<strong>Monday, March 16</strong>. Happy reading and thank you for participating in this important fundraiser for our schools! Questions? Contact Michele Huston at<a href="mailto:michele@thehustons.net" rel="noreferrer">michele@thehustons.net</a>.</p>
<hr />
<p><strong>You're invited! PTO General Meeting on March 12:</strong> Mark your calendar for the next Bryant/Pattengill Parent-Teacher Organization (PTO) General Meeting: <strong>Thursday, March 12, 7:30-8:30pm at Pattengill</strong>. Childcare is available. As a parent or guardian of a B/P student, you are already a member of the PTO. Enhance your child's educational experience by getting involved in the PTO and learning how you can contribute to our school community.</p>
<hr />
<p><strong>Calling All Budding Artists: </strong>Your student could design the 2015 Bryant International Festival T-Shirt! All students are welcome to produce a design at home to submit in the contest. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEdmpOOWRoLThCbnc/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for an entry sheet or one can be provided by your teacher. Please note:</p>
<ul>
    <li>The student must make the design. It may not be computer generated.</li>
    <li>The design should have these words on it: <strong>2015 Bryant International Festival</strong></li>
    <li>Designs should be submitted to your teacher by <strong>Friday, March 13</strong>.</li>
</ul>
<p>The International Festival Committee will choose several designs and Bryant students will vote for the design they like best. The International Festival will be held at Bryant on Thursday, April 23. Questions? Contact Mrs. Klein at <a href="mailto:kleina@aaps.k12.mi.us" rel="noreferrer">kleina@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Coffee With The Principals Update:</strong> The event on March 18 has been changed to <strong>Pizza with the Principals, March 18, 6-7pm at the Bryant Community Center, 3 W. Eden Ct</strong>. There will not be a Coffee with the Principals event at 9am on March 18, as previously announced. We hope to see you in the evening for some pizza and a chat! Please RSVP to this event to either: <a href="mailto:heywardr@aaps.k12.mi.us" rel="noreferrer">heywardr@aaps.k12.mi.us</a> or <a href="mailto:alston@aaps.k12.mi.us" rel="noreferrer">alston@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>School Social Work Update:</strong> You are invited to a National Reading Month presentation by Michigan Notable Book Award-Winning Author Jean Alicia Elster at Pattengill on <strong>Friday, March 20 from 10:15-11am</strong>. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEcGd5ZHUyWnRDeWNSOXEwM0Q2QkE2VVZhV2ln/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for more information on this special event. Also, check out the attached newsletter from our B/P school social worker, Elizabeth Elster. It's filled with information on the importance of sleep on behavior, academics and more; opportunities for free family fun; and several opportunities for giving back to the community.</p>
<p><a href="/wp-content/uploads/2015/03/Compassion-in-Action-Newsletter-3-15.pdf">Compassion in Action Newsletter 3-15</a></p>
<hr />
<p><strong>Shop Lucky's Market To Benefit Bryant/Pattengill:</strong> The newly-opened Lucky's Market (corner of S. Industrial &amp; Stadium Blvd.) is donating 5% of its sales on <strong>Tuesday, March 10 to Bryant and Tuesday, March 17 to Pattengill. </strong>You can shop either (or both!) days, as all money earned benefits both schools. Stock up on fresh produce from a wide range of local farms, or browse Lucky's other offerings here:<a href="http://www.luckysmarket.com/location/ann-arbor-mi/" target="_blank" rel="noreferrer">http://www.luckysmarket.com/location/ann-arbor-mi/</a>. See the attached flyer for more details. Happy shopping!</p>
<p><a href="/wp-content/uploads/2015/03/Luckys-Market-Bryant-Elementary.pdf">Luckys Market Bryant Elementary</a></p>
<hr />
<p><strong>Girls On The Run (GOTR) Begins March 11:</strong> GOTR is for girls in grades 3-5. We will meet after school at Pattengill on Mondays and Wednesdays, from 4-5:30pm, <strong>March 11-May 22</strong>. All shapes, sizes, and abilities are celebrated and welcome! It's not too late to join - registration is open until March 22. To learn more and register, visit: <a href="http://www.girlsontherunsemi.org/" target="_blank" rel="noreferrer"><strong>girlsontherunsemi.org</strong></a>. Questions? Contact Stephanie Carlson at <a href="mailto:Stephanie@carlsoncentral.com" rel="noreferrer">Stephanie@carlsoncentral.com</a>.</p>
<hr />
<p><strong>Special Food Resource for Bryant Families in Need:</strong> The Bryant Community Center (3 W. Eden Ct.) now offers eligible Bryant Elementary families a supplemental food resource with shorter wait times and improved food variety. <strong>Every 2<sup>nd</sup> Thursday of the month from 11am-1pm</strong>, eligible Bryant Elementary families are offered produce, perishables, and non-perishables such as canned fruits and vegetables, cereal, and other boxed goods. Please see the attached flyer for more information.</p>
<p><a href="/wp-content/uploads/2015/03/Bryant-Elementary-food-program-flyer.pdf">Bryant Elementary food program flyer</a></p>
<hr />
<p><strong>Advertise Your Business on Next Year's Communication Folders: </strong>Calling all Bryant/Pattengill families who own or work at local businesses: Would you like to place an ad for your business on the 2015-2016 communication folders (or "homework folders") that each of our students receives? If interested, please contact Bob Lundwall at <a href="mailto:lundwallbob@gmail.com" rel="noreferrer">lundwallbob@gmail.com</a> or (586) 405-1144.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Scholastic Book Fair March 3-6</strong><strong>:</strong> Come out and get your favorite new books just in time for the Read-A-Thon! Book Fair hours will be from <strong>9:00am-5:00pm on Thursday (3/5), and 9:00am-4:00pm on Friday (3/6)</strong>. If you prefer to order online, <a href="http://bookfairs.scholastic.com/homepage/bryantelementaryschool17" target="_blank" rel="noreferrer">click here</a> for the Online Book Fair. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Parent Lending Library:</strong> The Parent Lending Library is a free service to Bryant/Pattengill parents. The Library will now be open on <strong>Monday and Thursday mornings from 8:30-9:00 am, in the Bryant main lobby. </strong>If you have any borrowed books, please return them to the office or to your child's teacher. You may select 2-3 books at your child's reading level, then return the books the following week and borrow more. Thank you for supporting your child to be successful at home and school!</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>March</strong></p>
<ul>
    <li>Tues. March 3 - Fri. March 6: Bryant Book Fair</li>
    <li>Mon. March 9: Teacher Report Writing Day - <strong>No School for Students</strong></li>
    <li>Mon. March 9: Restaurant Day at Old Carolina BBQ</li>
    <li>Tues. March 10: Shop Lucky's Market To Benefit Bryant/Pattengill</li>
    <li>Tues. March 10: Family Writing Fun Night for ELL Families, 6-7:45pm, Pattengill</li>
    <li>Thurs. March 12: School Improvement Team (SIT) meeting, 4:15-5:30, Pattengill</li>
    <li>Thurs. March 12: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. March 12: PTO General Meeting, 7:30-8:30pm, Pattengill</li>
    <li>Tues. March 17: Report Cards Go Home</li>
    <li>Tues. March 17: Shop Lucky's Market To Benefit Bryant/Pattengill</li>
    <li>Wed. March 18: Pizza with the Principals, 6-7pm, Bryant Community Center <strong>(note: this event has been updated)</strong></li>
    <li>Fri. March 20: Author Jean Alicia Elster Presents at Pattengill, 10:15-11am</li>
    <li><strong>Mon. March 23 (date change)</strong>: Family Science Night, 6-7:30pm, Bryant Gym</li>
    <li>Tues. March 31: Volunteer Appreciation Night, 6:30-8pm, Pattengill</li>
</ul>
<p><strong>April</strong></p>
<ul>
    <li>Wed. April 1: Kindergarten Readiness Day (for 2015-16 incoming kindergarten students), 9am-2pm, Bryant</li>
    <li>Fri. April 3 - Fri. April 10: <strong>Spring Break - No School for Students</strong></li>
    <li>Tues. April 14: Bryant Spring Picture Day</li>
    <li>Tues. April 14: PTO Executive Board Meeting, 7-8pm, Bryant Media Center</li>
    <li>Thurs. April 16: Pattengill Spring Picture Day</li>
    <li>Wed. April 22: Earth Day of Service at Both Schools</li>
    <li>Thurs. April 23: International Festival, 6:30-8:30pm, Bryant</li>
    <li>Tues. April 28: 3<sup>rd</sup> Grade Spring Concert, 7-8pm, Pattengill Cafeteria</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: </strong><strong><a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>