@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Restaurant Day: Monday, Jan. 26</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li>Read-A-Thon</li>
    <li>Kindergarten/Young Fives Round-Up</li>
    <li>Girls on the Run Coaches</li>
    <li>Marquee Sign at Bryant</li>
    <li>Lunch Helpers at Pattengill</li>
    <li>Helping a B/P Family in Need</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>News from the ELL Department</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1109"></span></p>
<p><strong>Restaurant Day Is Monday!</strong> Students have the day off on <strong>Monday, Jan. 26</strong> - please take this opportunity to support our January Restaurant Day! Bring the attached flyer and eat lunch or dinner at Cottage Inn Pizza, the Original Cottage Inn restaurant downtown, or the Quarter Bistro. With each flyer, the locally owned businesses will donate 15% of your bill to our PTO. The Cottage Inn Pizza locations on State Street, Washtenaw, and Stadium each have an affordable lunch buffet. You can dine-in or take-out at any of the restaurants, or have Cottage Inn Pizza deliver good food for a great cause to your home or office. Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<p><a href="/wp-content/uploads/2015/01/Cottage-Inn-Restaurant-Day.pdf">Cottage Inn Restaurant Day</a></p>
<hr />
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p>There are several upcoming events at Bryant/Pattengill in need of volunteer support. <strong>Please consider if you can help out in 1 or more of the following areas.</strong> Our schools truly appreciate involvement from our terrific parents!</p>
<p><strong>Read-A-Thon:</strong> Seeking 2-3 people to help during February and March to make our Read-A-Thon run smoothly. Michele Huston has been chairing the Read-A-Thon for the last 5 years and will make sure you get all the training and support you need. <strong>Volunteers are needed by February 1. </strong>So grab a friend or come by yourself and help make this fundraiser a success! Contact Michele Huston at<a href="mailto:michele@thehustons.net" rel="noreferrer">michele@thehustons.net</a> for more details.</p>
<hr />
<p><strong>Kindergarten/Young Fives Round-Up:</strong> Assistance is needed on <strong>Thursday, Feb. 12 from 6:00-7:30pm</strong> at Bryant for the upcoming Round-Up. We are looking for a dozen volunteers to assist with parent sign-in, snacks, scavenger hunt, and more. Contact Tiffany Marra at <a href="mailto:tmarra@umich.edu" rel="noreferrer">tmarra@umich.edu</a> if interested. Please help us welcome new prospective families to the Bryant/Pattengill family!</p>
<p><a href="/wp-content/uploads/2015/01/Cottage-Inn-Restaurant-Day1.pdf">Cottage Inn Restaurant Day</a></p>
<hr />
<p><strong>Girls On The Run Coaches:</strong> Registration has begun for the 2015 Girls on the Run (GOTR) season and we rely on volunteers to assist with the program. <a href="https://docs.google.com/document/d/1S8hnwG9rx0O4lvesJWzoKXZNO8rmzhSkARMK7zQjJJQ/edit?usp=sharing" target="_blank" rel="noreferrer">Click here</a> to learn more about becoming a coach or practice partner. You don't have to be a runner to be involved with GOTR! Questions? Contact Stephanie Carlson at <a href="mailto:stephanie@carlsoncentral.com" rel="noreferrer">stephanie@carlsoncentral.com</a>, or submit an application at <a href="http://girlsontherunsemi.org/" target="_blank" rel="noreferrer">girlsontherunsemi.org</a>.</p>
<hr />
<p><strong>Marquee Sign at Bryant: </strong>The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most and is a great way to volunteer at your child's school! Interested? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a> or <a href="file://localhost/tel/734-330-9967" target="_blank" rel="noreferrer">734-330-9967</a>.</p>
<hr />
<p><strong>Lunch Helpers at Pattengill:</strong> Can you help during lunch recess and/or lunchtime at Pattengill? Timeframes are as follows: <strong>5th Grade</strong>Recess: 11:25-11:49am, Lunch: 11:49am-12:13pm; <strong>3rd Grade</strong> Recess: 11:55 am-12:19pm, Lunch: 12:19-12:43pm; <strong>4th Grade</strong> Recess: 12:19-12:43pm, Lunch: 12:43-1:07pm. The busiest time of our lunch recess and lunch is between 11:25am-12:43pm. If interested, please contact: <a href="mailto:alston@aaps.k12.mi.us" rel="noreferrer">alston@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Helping a Family in Need:</strong> Our schools are collecting items for a Bryant/Pattengill family that recently experienced a house fire. We are asking families to donate the following items:</p>
<ul>
    <li>Winter clothing (coat, gloves, mittens, hat, scarf) youth girl size 8-10</li>
    <li>Youth girl clothing size 8-10</li>
    <li>Winter clothing (coat, gloves, mittens, hat, scarf) high school male, adult size XL-XXL</li>
    <li>Clothing for high school male: shirts (adult size XL), and pants (size 38&#215;30)</li>
    <li>Non-perishable food</li>
    <li>?Food that can be cooked on a stovetop</li>
</ul>
<p>Please bring items to your school's main office, c/o Elizabeth Elster. Thank you for your support and generosity. Questions? Contact:<a href="mailto:elster@aaps.k12.mi.us" rel="noreferrer">elster@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>News from the ELL Department:</strong> From February 9-March 23, our ELLs (English Language Learners) will take the state-required Spring<strong>W</strong>orld-Class <strong>I</strong>nstructional<strong> D</strong>esign and <strong>A</strong>ssessment (WIDA) test of English proficiency. This is not the kind of test for which students can study. It is simply to determine how much progress our ELLs have made in English. For more information about the ELL program at Bryant/Pattengill, visit: <a href="http://brypatesl.weebly.com/" target="_blank" rel="noreferrer">brypatesl.weebly.com</a>. Questions? Contact Ms. Tchalo, ELL Teacher, at <a href="mailto:tchalo@aaps.k12.mi.us" rel="noreferrer">tchalo@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>January</strong></p>
<ul>
    <li>Tues. Jan. 6 - Fri. Jan. 30: Winter NWEA Testing</li>
    <li>?Mon. Jan. 26: K-12 Professional Development Day -<strong> No School for Students</strong></li>
    <li>Mon. Jan. 26: Restaurant Day at Cottage Inn Pizza locations, and the Quarter Bistro</li>
</ul>
<p><strong>February</strong></p>
<ul>
    <li>Fri. Feb. 6: Pattengill Talent Show Evening Performance, 7pm</li>
    <li>Mon. Feb. 9: NAAPID/Parent Involvement Day at Bryant and Pattengill</li>
    <li>Tues. Feb. 10: Pattengill Talent Show Daytime Performance, 1:30pm</li>
    <li>Wed. Feb. 11: Student Count Day</li>
    <li>Thurs. Feb. 12: Kindergarten/Young Fives Round-Up, 6-7:30pm, Bryant Multi-Purpose Room</li>
    <li>Mon. Feb. 16 - Fri. Feb. 20: Mid-Winter Break - <strong>No School for Students</strong></li>
    <li>Mon. Feb. 23: School Resumes</li>
    <li>Thurs. Feb. 26: Pattengill Science Fair, 6pm, Pattengill Gym</li>
    <li>Fri. Feb. 27 - Wed. March 11: Read-A-Thon</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>