@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<b>In This Issue:</b></h6>
<ul>
    <li><span style="color: #008000"><b>5</b><b>th</b><b> Grade Camp Information Meeting Tonight</b></span></li>
    <li><span style="color: #008000"><b>NWEA Testing Begins This Week</b></span></li>
    <li><span style="color: #008000"><b>Bryant Community Center Clean-Up this Sunday</b></span></li>
    <li>
        <b>
            <span style="color: #008000">First Restaurant Day- Principals Are Coming- Thursday, Oct. 6th</span><br />
        </b>
    </li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<ul>
    <li><span style="color: #008000"><b>Science Olympiad Needs You!</b></span></li>
    <li><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up</b></span></li>
    <li><span style="color: #008000"><b>Room Parents Needed</b></span></li>
    <li><span style="color: #008000"><b>Girl Scouts for Your Daughter?</b></span></li>
</ul>
<p><b>Reminders:</b></p>
<ul>
    <li><span style="color: #008000"><b>Clip and Save Box Tops for Our Schools</b></span></li>
    <li><span style="color: #008000"><b>PTO Dues</b></span></li>
    <li><span style="color: #008000"><b>Volunteer Certification Form</b></span></li>
    <li><span style="color: #008000"><b>Shop for Bryant/Pattengill</b></span></li>
    <li><span style="color: #008000"><b>Visit AA PTO Thrift Shop</b></span></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<p><span id="more-2231"></span></p>
<h6><b>In This Issue</b></h6>
<p><span style="color: #008000"><b>5</b><b>th</b><b> Grade Camp Information Tonight:</b>  </span>Fifth Grade families, please make sure you attend tonight's meeting at to learn more about 5th Grade Camp at Howell Nature Center. The meeting is <b>from 6-7pm</b> in the Pattengill Media Center. Questions? Contact Barb Zimdars 5th Grade Camp Chair at <a href="mailto:barbara.zimdars@bryantpattengill.org">barbara.zimdars@bryantpattengill.org</a></p>
<hr />
<p><span style="color: #008000"><b>NWEA Testing Begins This Week</b>:</span> The Northwest Evaluation Association national assessment testing is taking place at Bryant/Pattengill. The testing window is through Oct. 14. You may contact your child's teacher for testing days. Please be sure your child receives a good night's rest, a healthy breakfast, and arrives to school on time. The morning bell rings at 8:45am. If you are dropping your child off after this time, you must stop in the office, sign in, and the student will receive a tardy pass to take to class. Please do not drop off your child in front of the building when he/she is late.</p>
<hr />
<p><span style="color: #008000"><b>Bryant Community Center Clean-Up this Sunday:</b> </span>Ann Arbor Parks &amp; Recreation's "Give365" program is sponsoring a <b>"Love-a-Park" Day this Sunday, Sept. 25, 1-3pm at Bryant Community Center, </b>3 W. Eden Ct<b>. </b>Children are welcome! The focus will be on outdoor gardening to help improve the overgrown landscape in front of the center, and possibly some trash pick-up at nearby Arbor Oaks park. This is a terrific opportunity to serve as a family and inspire a spirit of volunteerism in your child(ren). Questions? Contact Erika Pratt, Give365 Volunteer Coordinator: EPratt@a2gov.org.</p>
<hr />
<p><span style="color: #008000"><b>First Restaurant Day- The Principals Are Coming</b>:</span> Our first Restaurant Day of the school year will be at <b>Applebees, 1005 W Eisenhower Pkwy, Ann Arbor, MI</b>  on <b>Thursday, Oct. 6, 9am-9pm</b>. Our principals Mrs. Heyward and Mrs. Alston will be stopping by to visit between <b>5-6pm</b>. Applebees will give our PTO 15% of all sales for breakfast, lunch, and dinner on Oct. 6. The flyer is <a href="https://drive.google.com/file/d/0B-_iHxypfI5bci1aUXg2REI5MXc/view?usp=sharing">attached</a>, but will also be distributed as a reminder. You will need to present a flyer for us to receive a donation. Please consider dining in or getting take-out with your family, friends, and co-workers on Oct. 6.</p>
<hr />
<p><b><span style="color: #008000">Girl Scouts for Your Daughter?</span> </b>Parents/Guardians learn more about Girl Scouts while the girls make new friends, Play games, engage in science and craft activities.  Wednesday, September 28, 2016 7pm - 8:30pm at Girl Scouts Heart of Michigan, 444 James L. Hart Parkway, Ypsilanti, MI 48197. Questions? Contact Jenni Glysson (734) 971 8769  OR <a href="mailto:jglysson@aol.com">jglysson@aol.com</a>.</p>
<hr />
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<p><span style="color: #008000"><b>Science Olympiad Needs You!-</b></span><b>  </b>Do you have interest in Exploring Nature, Science, or Engineering? Science Olympiad is looking for volunteers to explore with small groups of 2nd- 5th grade students. No experience necessary. Training and support provided. Please check out<a href="/SO"> http://BryantPattengill.org/SO</a> or contact Jonathan Parker at <a href="mailto:Jonathan.T.Parker@BryantPattengill.org">Jonathan.T.Parker@BryantPattengill.org</a> or 734-646-8050.</p>
<hr />
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b></span> The Bryant/Pattengill PTO offers many fun and educational activities for students and families, and we need YOU to make them possible. Whether you have a lot or a little time, there is something everyone can do. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you.</p>
<hr />
<p><span style="color: #008000"><b>Room Parents Wanted: </b></span>Some teachers are still looking for a room parent or two, to assist with classroom communication and events. Please sign up at: <a href="https://docs.google.com/spreadsheets/d/1UaGPakm-bS-dZ3W2xnnQQKBgmGWejQEhiYVM-9zFep0/edit#gid=0">Room Parent Sign-Up</a>. Questions? Contact Charlita Daniels, PTO VP of Bryant at <a href="mailto:charlita.daniels@bryantpattengill.org">charlita.daniels@bryantpattengill.org</a>, or Margaret Shee, PTO VP of Pattengill at <a href="mailto:maggie.shee@bryantpattengill.org">maggie.shee@bryantpattengill.org</a>.</p>
<h6><b>Reminders:</b></h6>
<p><span style="color: #008000"><b>Clip and Save Box Tops for Our Schools:</b> </span>We are again collecting <a href="http://www.boxtops4education.com/?gclid=COrWs4vej88CFYQ9gQodY9QIVg&amp;dclid=CIK4v4vej88CFQlKXgodmCcK2w">Box Tops for Education</a> coupons for our schools this year. They can be found on <a href="http://www.boxtops4education.com/earn/participating-products">many products</a> you buy for your family. Each Box Top is worth 10 cents, and our goal is to earn $2,000 this school year. Invite family, friends, and co-workers to clip Box Tops for our schools, too! Black wooden boxes are outside each school office, to place your clipped Box Tops. Please submit your Box Tops in either an envelope or a sandwich baggie, thank you! Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>. FYI: the <b>Labels for Education</b> program (found on Campbell Soup cans, etc.) was discontinued as of July 2016. There is no need to clip these or send them in with Box Tops.</p>
<hr />
<p><span style="color: #008000"><b>PTO Dues Last Reminder: </b></span>It's not too late to contribute your PTO dues. Please consider donating your annual PTO dues at a level that is comfortable for your family. Dues are tax-deductible, voluntary, and a large component of our annual fundraising efforts. To donate securely online, <a href="/donate/">click here.</a> You may also return your dues to your child's teacher, or donate at Pattengill's Curriculum Night. Thank you for supporting our students and schools!</p>
<hr />
<p><span style="color: #008000"><b>Volunteer Certification Form: </b></span>If you are planning to volunteer with your child's class, you must complete the <a href="/wp-content/uploads/2015/09/AAPSVolunteerCertificationForm.pdf">Volunteer Certification Form</a>. This form needs to be completed each new school year and submitted at <b>least two weeks</b> before you volunteer. Please submit your completed form in person to either school office, and present your ID. <b>You may also submit your completed form at Pattengill's Curriculum Night on Sept. 20.</b> Thank you for assisting our schools with maintaining a safe environment for all Bryant/Pattengill children.</p>
<hr />
<p><span style="color: #008000"><b>Shop for Bryant/Pattengill:</b> </span>Attention Shoppers! Do you shop for school or office supplies at? Great news, they have recently been added to our Shopper Loyalty Programs! Your family can raise money for our schools simply by shopping at these stores and purchasing the things you normally would buy.<a href="http://track.spe.schoolmessenger.com/f/a/r_mM6pvchOXvztbz-tWKJQ%7E%7E/AAAAAQA%7E/RgRZu8DrP0EIAGvV3ltHafJXA3NwY1gEAAAAAEIKAAFrjdpXPDI8F1IWc2h1dGtvYW1hbmRhQGdtYWlsLmNvbQlRBAAAAABETWh0dHBzOi8vZHJpdmUuZ29vZ2xlLmNvbS9maWxlL2QvMEItX2lIeHlwZkk1YkxXSTFUWGgzU201TlZVMC92aWV3P3VzcD1zaGFyaW5nR6d7InNoYXJkaWQiOiIzIiwic2VudFRpbWVNcyI6Ijc2NzAzNTQ1NyIsImVudiI6InByb2QiLCJlbWFpbFNvdXJjZSI6IkNVU1RPTUVSX0pPQiIsInNlcXVlbmNlIjoiMSIsImN1c3RvbWVyaWQiOiIyMjE0Iiwiam9iaWQiOiIzMzQ3MCIsInVzZXJpZCI6IjE1NSIsInBlcnNvbmlkIjoiNjkyMzkifQ%7E%7E">  Other participating businesses include Busch's, Kroger, and</a><a href="http://smile.Amazon.com"> smile.Amazon.com</a>.  <a href="https://drive.google.com/file/d/0B-_iHxypfI5bQ1dqSVV5YkRXOWM/view?usp=sharing">Click here</a> for instructions on how you can participate in our Shopper Loyalty Program - the easiest way to raise money for our PTO! Even if you shop at a particular local or online store infrequently, please sign up to participate in that store's loyalty program; small amounts add up! Questions? Contact Amanda Shutko at<a href="http://track.spe.schoolmessenger.com/f/a/W3aS9RKqxIzriZ3cKekXNQ%7E%7E/AAAAAQA%7E/RgRZu8DrP0EIAGvV3ltHafJXA3NwY1gEAAAAAEIKAAFrjdpXPDI8F1IWc2h1dGtvYW1hbmRhQGdtYWlsLmNvbQlRBAAAAABEKmh0dHA6Ly9hbWFuZGEuc2h1dGtvQGJyeWFudHBhdHRlbmdpbGwub3JnLkeneyJwZXJzb25pZCI6IjY5MjM5Iiwiam9iaWQiOiIzMzQ3MCIsInNoYXJkaWQiOiIzIiwiZW1haWxTb3VyY2UiOiJDVVNUT01FUl9KT0IiLCJ1c2VyaWQiOiIxNTUiLCJzZXF1ZW5jZSI6IjEiLCJjdXN0b21lcmlkIjoiMjIxNCIsImVudiI6InByb2QiLCJzZW50VGltZU1zIjoiNzY3MDM1NDU3In0%7E"> amanda.shutko@bryantpattengill.org</a>. Thanks for your participation!</p>
<hr />
<p><b><span style="color: #008000">Visit AA PTO Thrift Shop:</span> </b>Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org">Shop, donate, and support AAPS!</a></p>
<hr />
<h6><b>Mark Your Calendars</b></h6>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b> September 2016</b></p>
<ul>
    <li>Wed, Sept 28: Pattengill Picture Day</li>
</ul>
<p><b>  October 2016</b></p>
<ul>
    <li>Wed, Oct 5: Student Count Day</li>
    <li>Wed, Oct 5: Bryant Picture Day</li>
    <li>Thurs, Oct 6: Restaurant Day (principals will attend from 5-6pm)</li>
    <li>Thurs, Oct 13: School Improvement Team (SIT) Meeting,4:30-5:30pm, Bryant</li>
    <li>Thurs, Oct 13: PTO Executive Board (budget) Meeting, 6-8pm, Bryant Media Center</li>
    <li>Tues, Oct 18: PTO General Meeting, Bryant Multipurpose Room, 6:30-7:30pm    <b><i>(ALL Families Welcome, Childcare Provided)</i></b></li>
    <li>Thurs, Oct 20: Pattengill Picture Retakes</li>
    <li>Fri, Oct 21: Family Movie Night, 5:30-8pm, Bryant Gym</li>
    <li>Wed, Oct 26: Early Release Day-<b><i>Students Dismissed at 11:53am</i></b></li>
</ul>
<p><b>November 2016</b></p>
<ul>
    <li>Tues, Nov 8: Election Day - <b><i>No School for Students</i></b></li>
    <li>Wed, Nov 9: Bryant Picture Retakes</li>
    <li>Wed - Fri, Nov 9-11: 5th Grade Camp</li>
    <li>Tues, Nov 15: PTO Executive Board Meeting, 6-7:30pm ,Pattengill Media Center</li>
    <li>Wed - Fri, Nov 23-25: Thanksgiving Break - <b><i>No School for Students</i></b></li>
</ul>
<hr />
<h6><b>Stay Connected</b></h6>
<ul>
    <li><span style="color: #008000"><b>PTO Website:</b><a style="color: #008000" href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></span></li>
    <li><span style="color: #008000"><b>PTO on Facebook:</b><a style="color: #008000" href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></span></li>
    <li><span style="color: #008000"><b>PTO on Twitter:</b><a style="color: #008000" href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></span></li>
    <li><span style="color: #008000"><b>Bryant Website:</b><a style="color: #008000" href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></span></li>
    <li><span style="color: #008000"><b>Pattengill Website:</b><a style="color: #008000" href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></span></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="size-medium wp-image-1823 aligncenter" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=214%2C300" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 214px) 100vw, 214px" data-recalc-dims="1" pagespeed_url_hash="3304415326"  /></a></p>