@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Letters from the Principals</li>
    <li>Pattengill Book Fair</li>
    <li>Family Math Night</li>
    <li>December Restaurant Day</li>
    <li>Lunch with Loved Ones</li>
    <li>Pattengill Science Fair</li>
    <li>Girls on the Run Coaches Needed</li>
    <li>Thank You, Thank You</li>
    <li>#1 on Facebook - We Did It!</li>
    <li>Cold Is Cool</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Earn Money for B/P with AmazonSmile</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p>&nbsp;</p>
<p><strong>In this issue</strong></p>
<p><span id="more-937"></span></p>
<p><strong>Letters from the Principals: </strong>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1_LbfV_bYKPaOBHE1uLXPKpifh8dtaaJobHO26RXFYco/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Bryant families</a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1oaS6AYbb4oaVnNvcfeiOCT55eC4zdcLtwyGIHJjF2LU/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<p><strong>Pattengill Book Fair:</strong> The Pattengill Book Fair will run from <strong>Tuesday, Dec. 9 through Thursday, Dec. 11</strong>. Students will be able to purchase books during their regularly scheduled class library time. Families may also make purchases during Family Night, which is scheduled for <strong>Wednesday, Dec. 10 from 4:45-8pm</strong>. If you are able to volunteer at the Book Fair, please <a href="https://docs.google.com/spreadsheets/d/1sWLRbzPzhBmd4DomxMUF5R2yZagLlmo_3SHFaI9xOeE/edit?usp=sharing" target="_blank" rel="noreferrer">click here to sign up</a>, or contact Jennifer Heise at <a href="mailto:jlheise@gmail.com" rel="noreferrer">jlheise@gmail.com</a>.</p>
<hr />
<p><strong>Bryant/Pattengill Family Math Night:</strong> Explore the wonders of math with your children and enjoy an exciting evening of hands-on learning activities and games! <strong>Wednesday, Dec. 10, 6:30-8:00pm at Pattengill.</strong> Mathnasium, Rising Scholar, and our own Pattengill student volunteers will lead the activities. Donations of math games and books are needed for raffle prizes, which will be held throughout the evening. Sign up on the <a href="https://docs.google.com/spreadsheets/d/1D7_jIu3yR7rB-G0rHfKJdB3l-4gMokQA1t8tx5dhcjQ/edit?usp=sharing" target="_blank" rel="noreferrer">Math Night wish list</a> if you are able to donate a game or book. Pizza slices, popcorn, and water will be available for purchase for $1.00 each. Questions? Contact Sandro Aquiles at <a href="mailto:sandroaquiles@hotmail.com" rel="noreferrer">sandroaquiles@hotmail.com</a>.</p>
<p><a href="/wp-content/uploads/2014/12/MAth-Night-2014-Flyer.pdf">Math Night 2014 Flyer</a></p>
<hr />
<p><strong>Can We Set Another Restaurant Day Record?</strong> We have broken two Restaurant Day records this school year. Let's do it again by raising at least $452 for B/P schools at our next event. Visit <strong>California Pizza Kitchen in Briarwood Mall on Thursday, Dec. 11 between 11am-9pm</strong>. Present the attached flyer and CPK will donate 20% of your bill (food and drink), dine-in or take-out. Pizza with a purpose! Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<p><a href="/wp-content/uploads/2014/12/CPKfundraiser.pdf">California Pizza Kitchen fundraiser</a></p>
<hr />
<p><strong>Lunch with Loved Ones: </strong>Our schools' new <strong>Proud Dads Club </strong>is pleased to host <strong>"Lunch with Loved Ones" at Bryant on Thursday, Dec. 11, and at Pattengill on</strong> <strong>Friday, Dec. 12</strong>. This is a time when a parent, family member, or loved one is invited to eat lunch with their student during his/her scheduled lunch period. Questions? Contact Kwame Hooker at <a href="mailto:kwamehooker@sbcglobal.net" rel="noreferrer">kwamehooker@sbcglobal.net</a>.</p>
<hr />
<p><strong>Pattengill Science Fair</strong><strong>:</strong> A Science Fair packet was sent home with your Pattengill student this week. Please review the packet and encourage your child to participate by exploring a subject of interest or learning about something new. <strong>The registration form included in the packet is due by Friday, Dec. 12</strong>. Extra packets are in the Pattengill office. Mark your calendar, the Science Fair will be held on <strong>Thursday, Feb. 26, 2015</strong>, from 6:00-7:30pm. Questions? Contact Mrs. Kimmey at <a href="mailto:kimmeye@aaps.k12.mi.us" rel="noreferrer">kimmeye@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Girls on the Run (GOTR) Coaches Needed:</strong> GOTR is an after-school program for girls in grades 3-5. Registration will begin in January, and the 2015 season starts on March 9. Volunteers are needed to join the GOTR coaching team at Pattengill. Coaches don't need to be runners, just passionate about helping girls learn to express themselves, make good choices, and create healthy habits. <a href="http://www.girlsontherunsemi.org/get-involved/coach" target="_blank" rel="noreferrer">Click here for more information</a>, or contact Stephanie Carlson at <a href="mailto:stephanie@carlsoncentral.com" rel="noreferrer">stephanie@carlsoncentral.com</a>.</p>
<hr />
<p><strong>Thank You, Thank You!</strong> Special thanks go to Kelly Pomorski and Charlita Daniels for coordinating the Fall Clothing Drive. Thank you to Amanda Shutko, Naura Ismail, John Hunter, and Kate Jurevicus for assisting during the event. Many families came out to ensure they had warm clothes for their children this winter!</p>
<p>Thank you to Anne Berens for coordinating the Charleston Wrap fundraiser. You did an awesome job! Kudos to Lisa McKarns for the awesome display case and Fayiza Nabilsi, Stephanie Scrivens, Shannon Kotre, Hua Li, Kelly Pomorski, Kandi Homyak, Anna Dutton, Carmen Andrianopoulis, Sekai Ward, Michelle Muckstadt, and Elizabeth Branson for assisting with delivery, sorting, and distributions.</p>
<p>Kudos to Michelle Muckstadt and Jean Powell for coordinating another successful Box Top submission!</p>
<hr />
<p><strong>#1 on Facebook - We Did It! </strong>Way to go, B/P community - thanks to your response, we now have the largest number of Facebook "likes" among the AAPS elementary schools! If you haven't visited our page yet, go to <strong><a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong>, "like" us, and keep up on all the latest B/P news!</p>
<hr />
<p><strong>Cold Is Cool:</strong> The Michigan Snowsports Industries Association (MSIA) wants to give Michigan kids an opportunity to get out, have fun, and get healthy this winter. This is why MSIA has established a state-wide program that provides <strong>every 4th and now also 5th grader</strong> in Michigan the opportunity to ski for free. Students can obtain a "Cold is Cool" Ski &amp; Ride Passport that gives them up to three free lift tickets or trail passes at 27 participating ski areas, plus additional discounts on the slopes and in Michigan ski shops. <a href="http://www.goskimichigan.com/michigan-ski-programs/michigan-ski-cold-is-cool" target="_blank" rel="noreferrer">Click here for more information and an application</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Earn money for our schools with AmazonSmile:</strong> Visit <a href="http://smile.amazon.com/" target="_blank" rel="noreferrer">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charitable organization of choice. Amazon will donate 0.5% of your eligible purchases to our schools. Earn money for Bryant/Pattengill while you do your holiday shopping!</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>December</strong></p>
<ul>
    <li>Mon. Dec. 1 - Fri. Dec. 5: Snow Angel Program at Both Schools</li>
    <li>Tues. Dec. 9 - Thurs. Dec. 11: Pattengill Book Fair</li>
    <li>Tues. Dec. 9: Bryant Parent Meeting: Technology iPad Initiative, 6pm, Bryant Multi-Purpose (Lunch) Room</li>
    <li>Wed. Dec. 10: Snow Angel Gifts Due to School Offices</li>
    <li>Wed. Dec. 10: Pattengill Book Fair Family Night, 4:45-8pm</li>
    <li>Wed. Dec. 10: Family Math Night, Pattengill, 6:30-8pm</li>
    <li>Thurs. Dec. 11: Lunch with Loved Ones at Bryant</li>
    <li>Fri. Dec. 12: Lunch with Loved Ones at Pattengill</li>
    <li>Fri. Dec. 12: Volunteers Sort Snow Angel Gifts</li>
    <li>Mon. Dec. 15: Contacted Families May Pick-Up Snow Angel Gifts</li>
    <li>Thurs. Dec. 18: Group/Club Yearbook Photos at Pattengill</li>
    <li>Dec. 22 - Jan. 4: Winter Break - <strong>No School for Students</strong></li>
</ul>
<p><strong>January</strong></p>
<ul>
    <li>Mon. Jan. 5: School Resumes</li>
    <li>Tues. Jan. 13: PTO Executive Board Meeting, 7pm, Bryant Media Center</li>
    <li>Fri. Jan. 16: Pattengill Talent Show Try-Outs</li>
    <li>Mon. Jan. 19: Martin Luther King Jr. Day - <strong>No School for Students</strong></li>
    <li>Mon. Jan. 26: K-12 Professional Development Day -<strong> No School for Students</strong></li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>