@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><strong><span style="color: #008000;">Welcome!</span></strong></li>
    <li><strong><span style="color: #008000;">Letters from the Principals</span></strong></li>
    <li><strong><span style="color: #008000;">PTO Dues</span></strong></li>
    <li><strong><span style="color: #008000;">Volunteer Certification Form</span></strong></li>
    <li><strong><span style="color: #008000;">5th Grade Camp: November 9-11</span></strong></li>
    <li><strong><span style="color: #008000;">Attention Shoppers!</span></strong></li>
    <li><strong><span style="color: #008000;">Kudos</span></strong></li>
    <li><strong><span style="color: #008000;">Visit AA PTO Thrift Shop</span></strong></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><strong><span style="color: #008000;">Event and Activity Volunteer Sign-Up</span></strong></li>
    <li><strong><span style="color: #008000;">Room Parents Needed</span></strong></li>
</ul>
<p dir="ltr"><strong>Mark Your Calendars</strong></p>
<p dir="ltr"><strong> Stay Connected</strong></p>
<p dir="ltr"><span id="more-2205"></span></p>
<hr />
<p dir="ltr"><strong> In This Issue</strong></p>
<p dir="ltr"><span style="color: #ff6600;"><strong>Welcome! The Thursday Notes is a weekly e-newsletter from the Bryant/Pattengill PTO, to keep you up-to-date and connected with your child's school. Watch your inbox each Thursday that school is in session, for the latest news and upcoming events. Please also follow us on Facebook (<a style="color: #ff6600;" href="https://www.facebook.com/BryantPattengillPTO" target="_blank">BryantPattengillPTO</a>), and bookmark our website: <a style="color: #ff6600;" href="http://www.bryantpattengill.org" target="_blank">www.bryantpattengill.org</a>. We hope the school year is off to a great start for your family!</strong></span></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Letters from the Principals:</span></strong> Be sure to read Mrs. Heyward's monthly<a href="https://docs.google.com/document/d/1rpKZLCunnNu_WtBvK_ujp7931nLiwvMGETZL_kD-GNk/edit?usp=sharing" target="_blank"> letter to Bryant families</a> and Mrs. Alston's<a href="https://docs.google.com/document/d/1tdGX673uIVupLyBQwexruENzXyDn3vlIaFDgjrHn3Tg/edit?usp=sharing" target="_blank"> letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">PTO Dues:</span></strong> On the first day of school, your child brought home a packet of information, including a description of the Parent-Teacher Organization (PTO), and the various activities and support the PTO funds. Our PTO contributes over $25,000 each year on behalf of our 600+ students. Please consider donating your annual PTO dues at a level that is comfortable for your family. Dues are tax deductible and voluntary. To donate securely online,<a href="/donate/" target="_blank"> click here.</a> You may also return your dues to your child's teacher in the envelope provided in the packet. Thank you!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Volunteer Certification Form:</span> </strong>If you are planning to volunteer with your child's class, you must complete the <a href="/wp-content/uploads/2015/09/AAPSVolunteerCertificationForm.pdf" target="_blank">Volunteer Certification Form</a>. This form needs to be completed each new school year. Please submit your completed form in person to either the Bryant or Pattengill office, and present your ID. Thank you for assisting our schools with maintaining a safe environment for all Bryant/Pattengill children.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">5th Grade Camp:</span></strong> November 9-11 &mdash; Fifth graders will have the opportunity to attend an overnight camp trip to Howell Nature Center on <span class="aBn"><span class="aQJ">Nov. 9-11</span></span>. This is a wonderful opportunity for students to experience camp, form bonds with other students, and make memories that will last a lifetime! Estimated cost will be $155.00 per student and all students will have equal access to this trip regardless of their ability to pay. Watch for more information as well as applications for chaperones and camperships, coming soon. The staff at Pattengill are very excited to offer this trip every year for our 5th grade students. Questions? Contact Barb Zimdars 5th Grade Camp Chair at <a href="mailto:barbara.zimdars@bryantpattengill.org" target="_blank">barbara.zimdars@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Attention Shoppers!</span></strong> Your family can raise money for our schools simply by shopping at Busch's, Kroger, or Amazon.com, and purchasing the things you normally would buy. <a href="https://drive.google.com/file/d/0B-_iHxypfI5bLWI1TXh3Sm5NVU0/view?usp=sharing" target="_blank">Click here</a> for instructions on how you can participate in our Shopper Loyalty Program - the easiest way to raise money for our PTO! Even if you shop at a particular local or online store infrequently, please sign up to participate in that store's loyalty program; small amounts add up! Questions? Contact Amanda Shutko at <a href="mailto:amanda.shutko@bryantpattengill.org" target="_blank">amanda.shutko@bryantpattengill.org</a>. Thanks for your participation!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Kudos:</span> </strong>Huge thanks to those that helped make back-to-school at Bryant/Pattengill terrific: Lisa Wong for coordinating Popsicles on the Playground, Don Kline for DJ'ing the event, the many volunteers that made POP a success, and Cara Lauzzana and Lisa Kline for planting flowers at both schools. Thanks also to Joan Beaupre for coordinating the summer's Playdates on the Playground, to welcome our new Kindergarten and Young 5s families.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Visit AA PTO Thrift Shop:</span></strong> Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org" target="_blank">Shop, donate, and support AAPS!</a></p>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><span style="color: #ff6600;"><strong>Your child spends over 1,100 hours in school each year. Can you give back 11 hours in service to your child's school?</strong></span></p>
<p dir="ltr"><strong><span style="color: #008000;"> Event and Activity Volunteer Sign-Up:</span></strong> The Bryant/Pattengill PTO offers many fun and educational activities for students and families, and we need YOU to make them possible. Whether you have a lot or a little time, there is something everyone can do. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890" target="_blank"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Each event or activity is specially marked with a sun or moon, if you have daytime or evening availability. Please scroll through the tabs at the bottom of the document, to search the many offerings. Thank you in advance for helping make these events a success for our kids!</p>
<hr />
<h6><strong><span style="color: #008000;">Room Parents Wanted:</span></strong> Some teachers are still looking for a room parent or two, to assist with classroom communication and events. Please sign up at: <a href="https://docs.google.com/spreadsheets/d/1UaGPakm-bS-dZ3W2xnnQQKBgmGWejQEhiYVM-9zFep0/edit#gid=0" target="_blank">Room Parent Sign-Up</a>. Questions? Contact Charlita Daniels, PTO VP of Bryant at <a href="mailto:charlita.daniels@bryantpattengill.org" target="_blank">charlita.daniels@bryantpattengill.org</a>, or Margaret Shee, PTO VP of Pattengill at <a href="mailto:maggie.shee@bryantpattengill.org" target="_blank">maggie.shee@bryantpattengill.org</a>.</h6>
<hr />
<h6> Mark Your Calendars</h6>
<p dir="ltr">To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<h6><strong> September 2016</strong></h6>
<ul>
    <li>
        <p dir="ltr">Tues, <span class="aBn"><span class="aQJ">Sept 13</span></span>: Bryant Curriculum Night, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>, Bryant Gym</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Sept 20</span></span>: Pattengill Curriculum Night, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>, Pattengill Cafeteria</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Wed, Sept 28</span></span>: Pattengill Picture Day</p>
    </li>
</ul>
<h6> <strong>October 2016</strong></h6>
<ul>
    <li>
        Wed, Oct 5: Student Count Day<br />
        <span class="aBn"><span class="aQJ">Wed, Oct 5</span></span>: Bryant Picture Day
    </li>
    <li><span class="aBn"><span class="aQJ">Thurs, Oct 6</span></span>:   Restaurant Day (principals will attend from <span class="aBn"><span class="aQJ">5-6pm</span></span>)</li>
    <li><span class="aBn"><span class="aQJ">Thurs, Oct 13</span></span>: School Improvement Team (SIT) Meeting,<span class="aBn"><span class="aQJ">4:30-5:30pm</span></span>, Bryant</li>
    <li><span class="aBn"><span class="aQJ">Thurs, Oct 13</span></span>: PTO Executive Board (budget) Meeting, <span class="aBn"><span class="aQJ">6-8pm</span></span>, Bryant Media Center</li>
    <li><span class="aBn"><span class="aQJ">Tues, Oct 18</span></span>: PTO General Meeting, Bryant Multipurpose Room, <span class="aBn"><span class="aQJ">6:30-7:30pm</span></span> (ALL Families Welcome, Childcare Provided)</li>
    <li><span class="aBn"><span class="aQJ">Thurs, Oct 20</span></span>: Pattengill Picture Retakes</li>
    <li><span class="aBn"><span class="aQJ">Fri, Oct 21</span></span>: Family Movie Night, <span class="aBn"><span class="aQJ">5:30-8pm</span></span>, Bryant Gym</li>
    <li><span class="aBn"><span class="aQJ">Wed, Oct 26</span></span>: Early Release Day-Students Dismissed at <span class="aBn"><span class="aQJ">11:53am</span></span></li>
</ul>
<hr />
<h6>Stay Connected</h6>
<ul>
    <li><strong>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></strong></li>
    <li><strong>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></strong></li>
    <li><strong>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></strong></li>
    <li><strong>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></strong></li>
    <li><strong>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></strong></li>
</ul>
<hr />
<p dir="ltr"><strong>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</strong></p>
<p dir="ltr"><strong>**Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</strong></p>
<hr />
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T aligncenter" src="https://lh5.googleusercontent.com/_5F4zgSpnctCf8xECl4fpPPqM8JQAwsvcul2b2EA_ePcuq-JvVv7D_a8Mq9M5xRk4YIV_HYfWpefpmxuLd2jq7H32yufzY5bT-pogaMyzpS1T5BnfUX722jBh8fvYxASCFEpAD_7" alt="2015-16 A2PTO Email PROMO.color photo.png" width="176" height="231" pagespeed_url_hash="2934132692"  /></p>