@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p dir="ltr"><strong>In this issue:</strong></p>
<ul>
    <li><strong><span style="color: #008000">Letters From The Principal:</span></strong></li>
    <li><strong><span style="color: #008000">Ann Arbor Symphony Orchestra FREE Concert Tickets for Bryant Families:</span></strong></li>
    <li><strong><span style="color: #008000">Clothes Drive is available in the Bryant Atrium:</span></strong></li>
    <li><strong><span style="color: #008000">Show Your Support For 5th Grade Camp at PTO Thrift Shop:</span></strong></li>
</ul>
<p dir="ltr"><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li><strong><span style="color: #008000">Science Olympiad Coaches Needed</span></strong></li>
    <li><strong><span style="color: #008000">Event and Activity Volunteer Sign-Up</span></strong></li>
</ul>
<p dir="ltr"><strong>Reminders:</strong></p>
<ul>
    <li><strong><span style="color: #008000">Thanksgiving Turkey Coin Drive at Bryant Begins This Week:</span></strong></li>
    <li><strong><span style="color: #008000">Fifth Grade Camp Is Almost Here</span></strong></li>
    <li><strong><span style="color: #008000">Hat &amp; Glove Donations for Fifth Grade Camp</span></strong></li>
    <li><strong><span style="color: #008000">Don't forget to get your Flu Vaccine at Pattengill</span></strong></li>
    <li><strong><span style="color: #008000">Our Community Cares: Kensington Court Hotel</span></strong></li>
    <li><strong><span style="color: #008000">"Figuring Out Friendships" for Fifth Grade Moms and Daughters</span></strong></li>
    <li><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<p dir="ltr"><strong>Mark Your Calendars:</strong></p>
<p dir="ltr"><strong> Stay Connected:</strong></p>
<hr />
<p dir="ltr"><strong> In this issue:</strong></p>
<p dir="ltr"><strong><span style="color: #008000">Letters From the Principals:</span> </strong>Be sure to read Mrs. Heyward's<a href="https://docs.google.com/document/d/1Z3UhKBi59rTtbxo0YeuUPTbT8vq2T9h8FqQnEnNPnPg/edit?usp=sharing" target="_blank"><strong> letter to Bryant families</strong> </a>and Mrs. Alston's<strong><a href="https://docs.google.com/document/d/1c2iamsdk5kUACSKOt4-mUg7QZMRXNzFNFRwXl5F92DY/edit?usp=sharing" target="_blank"> letter to Pattengill families</a>,</strong> filled with timely information for our school community.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Ann Arbor Symphony Orchestra FREE Concert Tickets for Bryant Families:</strong></span> This year the Ann Arbor Symphony Orchestra (A2SO) has generously donated $700 to Bryant as part of their new "adopt-a-school" program. These funds will be used throughout the school year to bring many wonderful A2SO programs into our school. We are also using some of the funds to offer tickets to Bryant families to attend the symphony's concert, "Sing Along With Santa" on <span class="aBn"><span class="aQJ">Dec. 5th</span></span>@@<span class="aBn"><span class="aQJ">4pm</span></span> at Bethlehem UCC in Ann Arbor. This concert is a fun, non-denominational event that includes a Christmas carol sing-along, a reading of The Night Before Christmas, performances by A2SO musicians, and even an opportunity to take pictures with Santa! We are offering families up to 4 tickets to attend the concert, but ticket supply is limited. If you are interested in attending this performance, email Mrs. Krohn- <a href="http://krohnk@aaps.k12.mi.us" target="_blank">krohnk@aaps.k12.mi.us</a>&mdash; with the number of tickets (no more than 4) by <span class="aBn"><span class="aQJ">Wednesday, Nov. 11th</span></span>. Families who are selected will be notified, via email, by <span class="aBn"><span class="aQJ">Wednesday Nov. 18th</span></span>. Thank you to the A2SO for choosing Bryant for the inaugural year of this program!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Clothes Drive is Now Open:</span></strong> The Clothes drive will be open <span class="aBn"><span class="aQJ">Nov. 9</span></span>&mdash;<span class="aBn"><span class="aQJ">13</span></span> for families in need to come and select for free what they might need for the winter months. All clothes will be held in the atrium( across from Mrs. Bass's Room)  at Bryant. Questions, contact Kelly Pomorski at <a href="mailto:kelly.pomorski@gmail.com" target="_blank">kelly.pomorski@gmail.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Show Your Support For 5th Grade Camp at PTO Thrift Shop:</span></strong> SHOW YOUR SUPPORT for Bryant/Pattengill 5th grade camp scholarships this week at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. This week, we have an opportunity to earn a percentage of $1000 through this promotional fundraising activity. Here's how it works. For every $5 spent, shoppers earn a token. Cast your tokens this week in support of our school! The funds earned for Bryant/Pattengill will help to ensure that <strong>ALL 5</strong><strong>th</strong><strong> graders </strong>are able to participate in the camp experience. Spread the word to friends and family and let's <strong>SHOW OUR SUPPORT</strong> for our school! See the<strong> flyer below </strong>for store hours.</p>
<hr />
<p dir="ltr"><strong> Help Wanted: Volunteer Opportunities:</strong></p>
<p dir="ltr"><strong><span style="color: #008000"> Science Olympiad Coaches Needed:</span></strong> Pattengill Elementary started participating in Science Olympiad in 2001 as a way to encourage a love for nature, science, and engineering. As a fully volunteer-run event, we need coaches each year to explore with small groups of Bryant/Pattengill 2nd-5th grade students, once a week from January through May. No experience needed! This is exploration, which anyone can do. Training and support is provided. Last year almost 100 B/P students participated. Please contact Jonathan Parker to learn more about coaching: <a href="mailto:jonathan.t.parker@leidos.com" target="_blank">jonathan.t.parker@leidos.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Event and Activity Volunteer Sign-Up:</strong></span> To volunteer for any of our PTO events and activities throughout the year, visit:<strong><a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank"> 2015-2016 Bryant/Pattengill Volunteer Sign-Up.</a></strong></p>
<hr />
<p dir="ltr"><strong> Reminders:</strong></p>
<p dir="ltr"><strong><span style="color: #008000">Thanksgiving Turkey Coin Drive Begins This Week:</span></strong> Each year, Bryant School partners with the staff at M Den to provide turkey dinners (complete with dessert) for some of our families in need. If you would like to participate, please send in coins with your child <span class="aBn"><span class="aQJ">Nov. 4-20</span></span>. Pattengill families are welcome to participate and drop off any donations at Bryant. Thank you for your contributions!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Fifth Grade Camp Is Almost Here! Fifth Grade Camp at Howell Nature Center is <span class="aBn"><span class="aQJ">November 11-13</span></span>. Reminders to families:</span> </strong>If your child has food allergies/restrictions, we advise the camp, but it is strongly recommended that you call the camp as well to discuss <a href="tel:%28517%29%20376-9342" target="_blank">(517) 376-9342</a>. If your child needs to take any medications (over the counter or prescription), make sure you have an AAPS medication administration form signed by your physician and have an adult bring the form and the medications the day we leave for camp. Finally, make sure you have the camp packing list and start reviewing what your 5th grader needs to bring. All forms and lists can be found on the camp website: <a href="/5th-grade-camp/" target="_blank">http://bryantpattengill.org/5th-grade-camp/</a>. Questions? Contact 5th Grade Camp Chair <a href="mailto:zimdars@comcast.net" target="_blank">Barb Zimdars at zimdars@comcast.net</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Hat &amp; Glove Donations for Fifth Grade Camp:</strong></span> The 5th graders spend much of their time outside during camp, and hats and gloves are easily lost. Teachers and chaperones are always looking for spares. If you can donate new or gently used hats or gloves, please drop them off at the Pattengill Clothes Closet in the boxes labeled CAMP.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Don't Forget to get your Flu Vaccine at Pattengill:</span> </strong>A flu vaccine clinic is scheduled for Thursday, Nov. 19 from <span class="aBn"><span class="aQJ">2:30-4:00pm</span></span> at Pattengill. This is just in time for holiday protection! See<strong><a href="https://drive.google.com/file/d/0B-_iHxypfI5beFl1d0JEeE5iOVU/view?usp=sharing" target="_blank"> attached</a> </strong>form for accepted insurances as well as <strong><a href="http://www.livescience.com/40279-flu-shot-information.html" target="_blank">flu vaccine facts</a></strong>. There is a $25 fee if your insurance is NOT accepted. Questions? Contact Amy Caragay, RN at <a href="tel:%28734%29%20323-3556" target="_blank">(734) 323-3556</a> or <a href="mailto:caragay@aaps.k12.mi.us" target="_blank">caragay@aaps.k12.mi.us</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Our Community Cares:</strong></span> Kensington Court Hotel &mdash; Polar Express Experience: Do you have family or friends visiting Ann Arbor this holiday season, or are you considering a "staycation"? Our schools will receive $10 for each "Polar Express" package booked at Kensington Court, available on Sat., Nov. 21 and Sat., Dec. 19. Be sure to reference "Bryant/Pattengill" upon booking. <a href="https://drive.google.com/file/d/0B-_iHxypfI5bVlA2bVY5Qk1nak0/view?usp=sharing" target="_blank">Click here</a> for more details. Thank you for supporting a local Bryant/Pattengill business!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">"Figuring Out Friendships" for Fifth Grade Moms and Daughters:</span> </strong>Mark your calendars for this mother-daughter workshop for girls in 5th and 6th grades on Saturday, Nov. 14, 9am-1pm, at The New Center, 1100 N. Main St. #100, Ann Arbor.  A single $10 ticket applies to both mother (or caregiver) and daughter, and includes lunch. Scholarships are available. <a href="https://drive.google.com/a/bryantpattengill.org/file/d/0B-_iHxypfI5bZ2FXeERXcm02cDg/view?usp=sharing" target="_blank">Click here </a>for more details and to purchase tickets.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span> </strong>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p dir="ltr"> Mark Your Calendars:</p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong>November</strong></p>
<ul>
    <li>
        <p dir="ltr">Thurs, Nov. 5: Pattengill Picture Retakes and Candids</p>
    </li>
    <li>
        <p dir="ltr">Wed- <span class="aBn"><span class="aQJ">Fri, Nov. 11-13</span></span>: 5th Grade Camp</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Nov. 12: Bryant Picture Retakes and Candids</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Nov. 12: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6-7:30pm</span></span>, Pattengill Media Center</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Nov. 12: Title I Parent Night, <span class="aBn"><span class="aQJ">6-7:30pm</span></span>, Bryant Media Center</p>
    </li>
    <li>
        <p dir="ltr">Mon, Nov. 23: Report Cards Go Home</p>
    </li>
    <li>
        <p dir="ltr">Wed - <span class="aBn"><span class="aQJ">Fri, Nov. 25-27</span></span>: Thanksgiving Break - No School for Students</p>
    </li>
</ul>
<p dir="ltr"><strong>December</strong></p>
<ul>
    <li>
        <p dir="ltr">Wed, Dec. 2: Pattengill Yearbook Group Pictures</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Dec. 3: Bryant Yearbook Group Pictures</p>
    </li>
    <li>
        <p dir="ltr">Mon - <span class="aBn"><span class="aQJ">Fri, Dec. 7-11</span></span>: Pattengill Book Fair (note date change)</p>
    </li>
    <li>
        <p dir="ltr">Wed, Dec. 9: Pattengill Book Fair Family Night, <span class="aBn"><span class="aQJ">6-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Mon, Dec. 21 - Jan. 1: Winter Break - No School for Student</p>
        <p dir="ltr"><strong>Stay Connected:</strong></p>
    </li>
</ul>
<p dir="ltr">PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></p>
<p dir="ltr">PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></p>
<p dir="ltr">PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></p>
<p dir="ltr">Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></p>
<p dir="ltr">Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</p>
<p><img class="CToWUd" src="https://mail.google.com/mail/u/1/?ui=2&amp;ik=c8d1e099cb&amp;view=fimg&amp;th=150d7bc61202646a&amp;attid=0.1&amp;disp=emb&amp;attbid=ANGjdJ9Hy1z7RzN4ovI1hEQfzy2dcEBOuftO5Akbm7WECVx3SqLlcY1ksyoIkPCpp44QK01qeCXA-8-p-r7wFkTM0OM673ECTKZJCkASQdHYOJW93p6JrwFtX-d_afw&amp;sz=s0-l75-ft&amp;ats=1446835147950&amp;rm=150d7bc61202646a&amp;zw&amp;atsh=1" alt="" pagespeed_url_hash="724019578"  /></p>