@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><b>In This Issue:</b></h6>
<ul>
    <li><span style="color: #008000;"><b>Pattengill Curriculum Night Is Tuesday</b></span></li>
    <li><span style="color: #008000;"><b>5</b><b>th</b><b> Grade Camp Information Meeting: Sept. 22</b></span></li>
    <li><span style="color: #008000;"><b>Interested in Joining Cub Scouts?</b></span></li>
    <li><span style="color: #008000;"><b>Clip and Save Box Tops for Our Schools</b></span></li>
</ul>
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<ul>
    <li><span style="color: #008000;"><b>Event and Activity Volunteer Sign-Up</b></span></li>
    <li><span style="color: #008000;"><b>Room Parents Needed</b></span></li>
</ul>
<h6><b>Reminders:</b></h6>
<ul>
    <li><span style="color: #008000;"><b>PTO Dues</b></span></li>
    <li><span style="color: #008000;"><b>Volunteer Certification Form</b></span></li>
    <li><span style="color: #008000;"><b>Shop for Bryant/Pattengill</b></span></li>
    <li><span style="color: #008000;"><b>Visit AA PTO Thrift Shop</b></span></li>
</ul>
<h6><b>Mark Your Calendars</b></h6>
<p><b>Stay Connected</b></p>
<p><span id="more-2222"></span></p>
<hr />
<h6><b>In This Issue</b></h6>
<p><b><span style="color: #008000;">Pattengill Curriculum Night Is Tuesday:</span> </b>Pattengill parents, mark your calendars for Curriculum Night, <b>Tuesday, Sept. 20, 6:30-8pm</b>. This evening is intended for parents and guardians only, as you are able. Plan to visit <b>your child's classroom at 6:30pm</b> to learn about the curriculum and ask questions. You will have an opportunity to sign up for parent/teacher conferences, and visit all special area classrooms and support staff. You may also complete and submit your <a href="/wp-content/uploads/2015/09/AAPSVolunteerCertificationForm.pdf">Volunteer Certification Form</a> (please present ID, as well), in order to volunteer with your child's class this year. See you Tuesday night at Pattengill!</p>
<hr />
<p><span style="color: #008000;"><b>5</b><b>th</b><b> Grade Camp Information Meeting:</b> </span>Fifth Grade families are invited to an information meeting to learn more about 5th Grade Camp at Howell Nature Center. Pattengill is very excited to offer this trip every year for our 5th grade students. The meeting is <b>Thursday, Sept. 22, 6-7pm</b> in the Pattengill Media Center. Questions? Contact Barb Zimdars 5th Grade Camp Chair at <a href="mailto:barbara.zimdars@bryantpattengill.org">barbara.zimdars@bryantpattengill.org</a></p>
<hr />
<p><b><span style="color: #008000;">Interested in Joining Cub Scouts?</span> </b>Ann Arbor Cub Scout Pack 26 is embarking on another year of fun and adventure. We offer exciting activities and outings to teach boys life skills, enhance their self-confidence, develop strong friendships, foster good citizenship, and strengthen families in a positive manner. All boys in grades 1-5 are welcome to join and learn how to "Do Your Best!" You are invited to a Rocket into Scouting Night behind the cafeteria at Pattengill on <b>Monday, Sept. 19 at 7pm</b>. If you cannot attend and would like more information, please email Cubmaster Michael Pomorski at <a href="mailto:michael.pomorski@gmail.com">michael.pomorski@gmail.com</a>.</p>
<hr />
<p><span style="color: #008000;"><b>Clip and Save Box Tops for Our Schools:</b> </span>We are again collecting <a href="http://www.boxtops4education.com/?gclid=COrWs4vej88CFYQ9gQodY9QIVg&amp;dclid=CIK4v4vej88CFQlKXgodmCcK2w">Box Tops for Education</a> coupons for our schools this year. They can be found on <a href="http://www.boxtops4education.com/earn/participating-products">many products</a> you buy for your family. Each Box Top is worth 10 cents, and our goal is to earn $2,000 this school year. Invite family, friends, and co-workers to clip Box Tops for our schools, too! Black wooden boxes are outside each school office, to place your clipped Box Tops. Please submit your Box Tops in either an envelope or a sandwich baggie, thank you! Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>. FYI: the <b>Labels for Education</b> program (found on Campbell Soup cans, etc.) was discontinued as of July 2016. There is no need to clip these or send them in with Box Tops.</p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #008000;"><b>Your child spends over 1,100 hours in school each year. Can you give back 11 hours in service to your child's school?</b></span></p>
<p><span style="color: #008000;"><b>Event and Activity Volunteer Sign-Up:</b> </span>The Bryant/Pattengill PTO offers many fun and educational activities for students and families, and we need YOU to make them possible. Whether you have a lot or a little time, there is something everyone can do. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Each event or activity is specially marked with a sun or moon, if you have daytime or evening availability. Please scroll through the tabs at the bottom of the document, to search the many offerings. Thank you in advance for helping make these events a success for our kids!</p>
<hr />
<p><span style="color: #008000;"><b>Room Parents Wanted: </b></span>Some teachers are still looking for a room parent or two, to assist with classroom communication and events. Please sign up at: <a href="https://docs.google.com/spreadsheets/d/1UaGPakm-bS-dZ3W2xnnQQKBgmGWejQEhiYVM-9zFep0/edit#gid=0">Room Parent Sign-Up</a>. Questions? Contact Charlita Daniels, PTO VP of Bryant at <a href="mailto:charlita.daniels@bryantpattengill.org">charlita.daniels@bryantpattengill.org</a>, or Margaret Shee, PTO VP of Pattengill at <a href="mailto:maggie.shee@bryantpattengill.org">maggie.shee@bryantpattengill.org</a>.</p>
<hr />
<p><b>Reminders:</b></p>
<p><span style="color: #008000;"><b>PTO Dues: </b></span>It's not too late to contribute your PTO dues. Please consider donating your annual PTO dues at a level that is comfortable for your family. Dues are tax-deductible, voluntary, and a large component of our annual fundraising efforts. To donate securely online, <a href="/donate/">click here.</a> You may also return your dues to your child's teacher, or donate at Pattengill's Curriculum Night. Thank you for supporting our students and schools!</p>
<hr />
<p><b><span style="color: #008000;">Volunteer Certification Form:</span> </b>If you are planning to volunteer with your child's class, you must complete the <a href="/wp-content/uploads/2015/09/AAPSVolunteerCertificationForm.pdf">Volunteer Certification Form</a>. This form needs to be completed each new school year and submitted at <b>least two weeks</b> before you volunteer. Please submit your completed form in person to either school office, and present your ID. <b>You may also submit your completed form at Pattengill's Curriculum Night on Sept. 20.</b> Thank you for assisting our schools with maintaining a safe environment for all Bryant/Pattengill children.</p>
<hr />
<p><span style="color: #008000;"><b>Shop for Bryant/Pattengill:</b> </span>Attention Shoppers! Your family can raise money for our schools simply by shopping at Busch's, Kroger, or smile.Amazon.com &mdash; and it doesn't cost you an extra dime!<a href="https://drive.google.com/file/d/0B-_iHxypfI5bLWI1TXh3Sm5NVU0/view?usp=sharing"> Click here</a> for instructions on how you can participate in our Shopper Loyalty Program - the easiest way to raise money for our PTO! Even if you shop at a particular local or online store infrequently, please sign up to participate in that store's loyalty program; small amounts add up! Questions? Contact Amanda Shutko at <a href="mailto:amanda.shutko@bryantpattengill.org">amanda.shutko@bryantpattengill.org</a>. Thanks for your participation!</p>
<hr />
<p><span style="color: #008000;"><b>Visit AA PTO Thrift Shop: </b></span>Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org">Shop, donate, and support AAPS!</a></p>
<hr />
<h6><b>Mark Your Calendars</b></h6>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>   September 2016</b></p>
<ul>
    <li>Tues, Sept 20: Pattengill Curriculum Night, 6:30-8pm</li>
    <li>Wed, Sept 28: Pattengill Picture Day</li>
</ul>
<p><b>   October 2016</b></p>
<ul>
    <li>Wed, Oct 5: Student Count Day</li>
    <li>Wed, Oct 5: Bryant Picture Day</li>
    <li>Thurs, Oct 6:    Restaurant Day (principals will attend from 5-6pm)</li>
    <li>Thurs, Oct 13: School Improvement Team (SIT) Meeting,4:30-5:30pm, Bryant</li>
    <li>Thurs, Oct 13: PTO Executive Board (budget) Meeting, 6-8pm, Bryant Media Center</li>
    <li>Tues, Oct 18: PTO General Meeting, Bryant Multipurpose Room, 6:30-7:30pm             <b><i>(ALL Families Welcome, Childcare Provided)</i></b></li>
    <li>Thurs, Oct 20: Pattengill Picture Retakes</li>
    <li>Fri, Oct 21: Family Movie Night, 5:30-8pm, Bryant Gym</li>
    <li>Wed, Oct 26: Early Release Day-<b><i>Students Dismissed at 11:53am</i></b></li>
</ul>
<hr />
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone size-medium wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=214%2C300" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 214px) 100vw, 214px" data-recalc-dims="1" pagespeed_url_hash="3304415326"  /></a></p>
<p>&nbsp;</p>