@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Now Accepting PayPal Donations on PTO Website</li>
    <li>Thanks to YOU!</li>
    <li>Pattengill Talent Show Try-Outs</li>
    <li>Restaurant Day Update</li>
    <li>Winter Break - No School for Students</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Donate to the Bryant Media Center</li>
    <li>New Date for Bryant Parent Meeting</li>
    <li>Earn Money for B/P with AmazonSmile</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p>&nbsp;</p>
<p><strong>In this issue</strong></p>
<p><span id="more-1056"></span></p>
<p><strong>Now Accepting PayPal! Make a Year-End Donation to the PTO:</strong> When considering your year-end giving, don't forget your child's school! Donations to the Bryant/Pattengill PTO are tax-deductible, and help fund field trips, assemblies, school events, and other enrichment activities that enhance our schools. The PTO website is now enabled to accept secure payments through PayPal, so there's still time for 2014 donations! Go to <span style="text-decoration: underline;"><a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a></span> and click on the "donate" link in the upper right corner. Thank you very much for your financial support.</p>
<hr />
<p><strong>Thanks to YOU!</strong> This year's Snow Angels program supported our own Bryant/Pattengill families in need with over 200 gifts for Christmas. Thank you to Greta Furlong for coordinating this effort and Theresa Kubiak and Jenny Foster for sorting the gifts. This is an annual program that fosters a sense of giving for the Bryant/Pattengill community.</p>
<hr />
<p><strong>Pattengill Talent Show Try-Outs:</strong> Calling all Pattengill students who wish to show off their talents! Try-outs for the show will be <strong>Friday, Jan. 16</strong>, so start practicing your act over Winter Break. Questions? Contact Mrs. Schreck at <a href="mailto:schreck@aaps.k12.mi.us" rel="noreferrer">schreck@aaps.k12.mi.us</a></p>
<hr />
<p><strong>Restaurant Day Update:</strong> We raised $297.27 at last week's Restaurant Day at California Pizza Kitchen. Thank you for your support. We will resume our monthly fundraisers in January.</p>
<hr />
<p><strong>Winter Break - No School for Students:</strong> AAPS schools will be closed from December 22-January 4. School resumes January 5. The Thursday Notes will return on January 8. Have a safe and happy Winter Break!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Donate to the Bryant Media Center:</strong> Here are two ways you can donate to the media center &mdash; not just at the holidays, but all year round!</p>
<ol>
    <li><strong>Buy from our Amazon wishlist.</strong> You can find the link on our Donate page (<a href="http://bryantmc.weebly.com/donate.html" target="_blank" rel="noreferrer">http://bryantmc.weebly.com/donate.html</a>). The book will be sent right to the library! We'll make a book plate with your name on it and put it in the front of the book, to honor your contribution. This is a great birthday commemoration.</li>
    <li><strong>Donate used books.</strong> If you have books you are done reading, the Bryant Library is always looking for gently used donations from chapter book series! We accept any donations in good condition.</li>
</ol>
<p>The library thanks you! Questions? Contact Mrs. Idzikowski at <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a></p>
<hr />
<p><strong>New Date for Bryant Parent Meeting:</strong> The Technology iPad Initiative parent meeting has been rescheduled for <strong>Thursday, Jan. 8 at 6:00pm</strong> in Bryant's Multi-Purpose (lunch) Room. We will discuss the rollout of student iPads, the various applications that can be used, security measures, and how this technology initiative will look in our classrooms. Childcare will be provided.</p>
<hr />
<p><strong>Earn money for our schools with AmazonSmile:</strong> Visit <a href="http://smile.amazon.com/" target="_blank" rel="noreferrer">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charitable organization of choice. Amazon will donate 0.5% of your eligible purchases to our schools. Earn money for Bryant/Pattengill while you do your holiday shopping!</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>December</strong></p>
<ul>
    <li>Thurs. Dec. 18: Group/Club Yearbook Photos at Pattengill</li>
    <li>Dec. 22 - Jan. 4: Winter Break - <strong>No School for Students</strong></li>
</ul>
<p><strong>January</strong></p>
<ul>
    <li>Mon. Jan. 5: School Resumes</li>
    <li>Thurs. Jan. 8: Technology iPad Initiative Parent Meeting, 6pm, Bryant Multi-Purpose (lunch) Room</li>
    <li>Tues. Jan. 13: PTO Executive Board Meeting, 7pm, Bryant Media Center</li>
    <li>Fri. Jan. 16: Pattengill Talent Show Try-Outs</li>
    <li>Mon. Jan. 19: Martin Luther King Jr. Day - <strong>No School for Students</strong></li>
    <li>Mon. Jan. 26: K-12 Professional Development Day -<strong> No School for Students</strong></li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>