@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p>
    <strong>In this issue:</strong><br />
    <strong><span style="color: #339966;">Notes from the Bryant Office</span></strong><br />
    <strong><span style="color: #339966;"> Movie Night Is Friday: The Lego Movie</span></strong><br />
    <strong><span style="color: #339966;"> Fall Clothing Drive</span></strong><br />
    <strong><span style="color: #339966;"> Pizza with the Principals</span></strong><br />
    <strong><span style="color: #339966;"> Support Bryant's NEW Coding Club</span></strong><br />
    <strong><span style="color: #339966;"> Box Tops For Education Due Oct. 23</span></strong><br />
    <strong><span style="color: #339966;"> Grocery Scrip Change at Busch's</span></strong><br />
    <strong><span style="color: #339966;"> Restaurant Day Update</span></strong>
</p>
<p>
    <strong>Help Wanted: Volunteer Opportunities</strong><br />
    <strong><span style="color: #339966;">Event and Activity Volunteer Sign-Up</span></strong>
</p>
<p>
    <span style="color: #000000;"><strong>Reminders:</strong></span><br />
    <span style="color: #339966;"> <strong>Don't Forget our Bryant/Pattengill Family in Need</strong></span><br />
    <span style="color: #339966;"><strong> Visit the Ann Arbor PTO Thrift Shop</strong></span><br />
    <strong>Mark Your Calendars</strong>
</p>
<p><strong>Stay Connected</strong><span id="more-1796"></span></p>
<hr />
<p>
    <strong>In this issue:</strong><br />
    <strong><span style="color: #339966;">Notes from the Bryant Office:</span></strong><br />
    1.<strong> The Fruit and Vegetable Cart at Bryant and Pattengill is available to all students:</strong> For children bringing lunch from home who would like some of the fruit and vegetables being served at our school, they should notify a Lunch Supervisor and they will be able to go to the cart after the students who are receiving a school lunch have been served.
</p>
<p>
    <strong>2. Halloween Costumes at Bryant School Only:</strong><br />
    On Friday, Oct. 30, students will be allowed to wear costumes to school. If you are allowing your child to wear a costume, please adhere to the following: No weapons, masks, toys, or gore of ANY kind &mdash; positive costumes only. Students should come to school dressed in their costume.
</p>
<p>
    <strong>3. New Bryant Playground:</strong><br />
    The Board of Education has approved the purchase of our new school playground! We are hoping for this to be installed and ready to use well before the snow begins to fall. This new playground will replace the existing playground on the West side of the building (closest to the circle drive).
</p>
<p>
    <strong>4. Dogs at Bryant School:</strong><br />
    When dropping off or picking up your child(ren), please leave your dog(s) at home. We realize this may be a nice opportunity to get some fresh air for your pet, however, we have students with allergies to pets and also students that are fearful of our furry friends. Thank you for understanding.
</p>
<p><strong>5. Please read<a href="http://drive.google.com/file/d/0B-_iHxypfI5balJ6RjkzNmlRdFk/view?usp=sharing"> attached</a> letter regarding information about APAC( Ann Arbor Parent Advisory Committee for Special Education)</strong></p>
<hr />
<p><span style="color: #339966;"><strong>Do You Know Why "Everything Is Awesome" on Friday?</strong></span> Friday is Family Movie Night, featuring The Lego Movie, 5:30-8:00pm in Bryant's Gym. Feel free to bring a blanket/pillow for snuggling. This is a FREE event! Pizza, popcorn, and water will be available for purchase at $1 an item. All profits go toward enrichment activities at our schools. Please flyer for more information. Please note: A parent or legal guardian (age 18 or older) must stay with the students; children cannot be dropped off. Any student without an adult present will be turned away.</p>
<hr />
<p><span style="color: #008000;"><strong>Help Families Stay Warm This Winter: </strong></span>Please consider donating clean, gently used pants, sweatshirts, coats, boots, gloves, hats, etc. of all sizes for the Bryant/Pattengill Fall Clothing Drive, Oct. 16-Oct 30th. Donation boxes are at both schools: Bryant &mdash; black bin by the gym, and Pattengill &mdash; box located between the art room and the main office. Friday's Movie Night is a great time to drop off your donations at Bryant! Questions? Contact Kelly Pomorski at <a href="mailto:kelly.pomorski@gmail.com">kelly.pomorski@gmail.com</a>.</p>
<hr />
<p><span style="color: #008000;"><strong>Pizza with the Principals:</strong> </span>Enjoy some pizza and a casual chat with Mrs. Heyward and Mrs. Alston at this informal gathering. Ask questions, or just get to know our awesome principals better. Wednesday, Oct. 21, 6-7pm at the home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor, 48108. We hope to see you there!</p>
<hr />
<p><span style="color: #008000;"><strong>Support Bryant's NEW Coding Club:</strong></span> All 1st and 2nd graders have the opportunity to work with STEAM initiatives like programming Dash &amp; Dot Robots by taking part in the Coding Club. To learn more and help Bryant's Librarian Mrs. Rohde raise money for the Coding Club, visit her<a href="http://www.donorschoose.org/project/coding-robots-with-dash-dot/1739245/"> DonorsChoose.org page</a>. Be sure to use the code SPARK, and DonorsChoose.org will match one dollar for every dollar donated. Questions? Contact Mrs. Rohde at <a href="http://rohdem@aaps.k12.mi.us.">rohdem@aaps.k12.mi.us.</a></p>
<hr />
<p><strong><span style="color: #008000;">Clip and Save Your Box Tops:</span> </strong>The Box Tops for Education program is an easy way to earn money for our schools! Simply clip and save the Box Tops "coupons" found on these products. The first deadline to submit our Box Tops this school year is Friday, Oct. 23. Collection boxes are near each school's front office. Questions? Contact Jean Powell at jmpowl@aol.com.</p>
<hr />
<p><span style="color: #008000;"><strong>Grocery Scrip Change at Busch's:</strong> </span>Beginning Nov. 1, Cash for Education cards are no longer required at Busch's (yay!), but shoppers still must sign up for the program at buschs.com. See <a href="https://drive.google.com/file/d/0B-_iHxypfI5bMGplc1pYTU9fSXc/view?usp=sharing">attached </a>flyer for more information. Questions? Contact Alicia Davis at alicia972@hotmail.com.</p>
<hr />
<p><strong><span style="color: #008000;">Thank You for Supporting Restaurant Day:</span></strong> Our first Restaurant Day of the school year was a success, raising $250 for our schools. Thank you for dining in or taking out at the locally owned Mi Compadre restaurant. Our next Restaurant Day will be Monday and/or Tuesday, Nov. 2-3, both of which are days off for students, at a venue to be determined. Look for updates in upcoming Thursday Notes.</p>
<hr />
<p>&nbsp;</p>
<p>
    <strong>Help Wanted: Volunteer Opportunities</strong><br />
    <strong><span style="color: #008000;">Event and Activity Volunteer Sign-Up:</span></strong> To volunteer for any of our PTO events and activities throughout the year, visit:<a href="http://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit?usp=sharing"> 2015-2016 Bryant/Pattengill Volunteer Sign-Up.</a>
</p>
<hr />
<p>&nbsp;</p>
<p>
    <strong>Reminders:</strong><br />
    <span style="color: #008000;"><strong>Help a Bryant/Pattengill Family in Need:</strong></span> Please consider donating to our B/P family in need. Three of our B/P students have suffered the sudden death of either their mother or their aunt. The family did not have life insurance and as a result have set up a Go Fund Me account. All donations are appreciated.
</p>
<hr />
<p><span style="color: #008000;"><strong>Visit the Ann Arbor PTO Thrift Shop:</strong></span> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org">Shop, donate, and support AAPS!</a></p>
<hr />
<p>
    <strong>Mark Your Calendars:</strong><br />
    To view the full 2015-2016 school year, select: Bryant/Pattengill PTO Calendar
</p>
<p>
    <span style="color: #ff6600;"><strong>October:</strong></span><br />
    <strong>Fri, Oct 16:</strong> Family Movie Night, 5:30-8pm, Bryant Gym<br />
    <strong>Fri, Oct 16:</strong> Fall Clothing Drive begins<br />
    <strong>Wed, Oct 21</strong>: Pizza with the Principals, 6-7pm, Home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor<br />
    <strong>Fri, Oct 23</strong>: Box Tops coupons due<br />
    <strong>Thurs, Oct 29:</strong> Title I Parent night &mdash; Details to follow
</p>
<p>
    <strong>November:</strong><br />
    <strong>Mon, Nov 2</strong>: Teacher Report Writing Day -<strong> No School for Elementary Students</strong><br />
    <strong>Tues, Nov 3</strong>: Election Day -<strong> No School for Students</strong><br />
    <strong>Thurs, Nov 5</strong>: Pattengill Picture Retakes and Candids<br />
    <strong>Wed- Fri, Nov 11-13:</strong> 5th Grade Camp<br />
    <strong>Thurs, Nov 12:</strong> Bryant Picture Retakes and Candids<br />
    <strong>Thurs, Nov 12:</strong> PTO Executive Board Meeting, 6:00-7:30pm, Pattengill Media Center<br />
    <strong>Mon, Nov 23:</strong> Report Cards Go Home<br />
    <strong>Wed - Fri, Nov 25-27:</strong> Thanksgiving Break - No School for Students
</p>
<hr />
<p>
    <strong>Stay Connected:</strong><br />
    PTO Website: <a href="http://www.bryantpattengill.org">www.bryantpattengill.org</a><br />
    PTO on Facebook: <a href="http://BryantPattengillPTO">BryantPattengillPTO</a><br />
    PTO on Twitter: @@A2BryPatPTO<br />
    Bryant Website:<a href="http://%20www.a2schools.org/bryant"> www.a2schools.org/bryant</a><br />
    Pattengill Website:<a href="http://%20www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a>
</p>
<hr />
<p>
    Submissions for Thursday Notes should be e-mailed to<br />
    <strong>ThursdayNotes@bryantpattengill.org. Deadline is Tuesday at 5pm each week.</strong><a href="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo.png"><img data-attachment-id="1797" data-permalink="https://www.bryantpattengill.org/2015/10/15/thursday-notes-10-15-15/2015-16-a2pto-email-promo-color-photo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo.png?fit=474%2C665&amp;ssl=1" class="  wp-image-1797 alignleft" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo-214x300.png?resize=121%2C169" alt="2015-16 A2PTO Email PROMO.color photo" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo.png?resize=214%2C300&amp;ssl=1 214w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo.png?w=541&amp;ssl=1 541w" sizes="(max-width: 121px) 100vw, 121px" data-recalc-dims="1" pagespeed_url_hash="653832352"  /></a><a href="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/09/bplogomini.jpg"><img data-attachment-id="1556" data-permalink="https://www.bryantpattengill.org/about/bplogomini/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/09/bplogomini.jpg?fit=225%2C322&amp;ssl=1" data-orig-size="225,322" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="bplogomini" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/09/bplogomini.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/09/bplogomini.jpg?fit=225%2C322&amp;ssl=1" class="  alignright wp-image-1556" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/09/bplogomini-210x300.jpg?resize=115%2C165" alt="bplogomini" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/09/bplogomini.jpg?resize=210%2C300&amp;ssl=1 210w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/09/bplogomini.jpg?w=225&amp;ssl=1 225w" sizes="(max-width: 115px) 100vw, 115px" data-recalc-dims="1" pagespeed_url_hash="3275095413"  /></a>
</p>