@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Project Lead The Way Coming To Grades K-5</li>
    <li>Restaurant Day Is Tuesday</li>
    <li>Social Work Update</li>
    <li>Thank You!</li>
    <li>Fourth Grade Families Save the Date</li>
    <li>Target Says Thanks A Billion To Schools</li>
    <li>TEDxYouth@AnnArbor</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Bryant Art Show</li>
    <li>Fifth Grade Promotion Ceremony: Donations Due Friday</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1461"></span></p>
<p><strong>Project Lead The Way Coming To Grades K-5 At Bryant/Pattengill! </strong>We are thrilled to announce new STEAM learning opportunities via Project Lead the Way (PLTW) will now be coming to each grade level at Bryant/Pattengill schools in the 2015-2016 school year. All students in grades K-5 will experience learning through STEAM projects and problem-based challenges tied to our AAPS science curriculum and national standards.</p>
<p>This exciting curriculum is engineered to "ignite interest and confidence" while supporting the development of 21st century skills. In the 2015-2016 school year, students across our schools will experience two full modules of the PLTW launch. Our exceptional teachers will work together with AAPS PLTW lead teachers to deliver and facilitate this world-class program. With their guidance, students will embark on learning adventures, solving real-world problems, and applying the engineering and design process to their thinking and end products. For more information on PLTW, visit:<a href="http://www.pltw.org/" target="_blank" rel="noreferrer">www.pltw.org</a>. This is truly an exciting time for us at Bryant/Pattengill and we look forward to sharing more with you soon! - Principal Heyward and Principal Alston</p>
<hr />
<p><strong>Restaurant Day Is Tuesday:</strong> Please join the Bryant/Pattengill community on <strong>Tuesday, May 26, at</strong> <strong>Tony Sacco's Coal Oven Pizza</strong>, <strong>open 11am-10pm </strong>(980A West Eisenhower Parkway). Tony Sacco's will donate 10% of all of Tuesday's sales in Ann Arbor to our schools. You do not need to present the attached flyer. You can dine in or get take out: <a href="http://tonysaccos.com/" target="_blank" rel="noreferrer">tonysaccos.com</a> or <a href="file://localhost/tel/734-995-2625" target="_blank" rel="noreferrer">734-995-2625</a>. We encourage you to take a break from cooking on the day after Memorial Day and enjoy Tony Sacco's with family, friends, and co-workers. Thank you for supporting our schools! Questions? Contact Larry Lage at: <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<p><a href="/wp-content/uploads/2015/05/Tony-Saccos-Pizza-Fundraiser.pdf">Tony Sacco's Pizza Fundraiser</a></p>
<hr />
<p><strong>Social Work Update:</strong> Enjoy the attached May/June social work newsletter "Compassion in Action" to learn about upcoming free events, tips on making the summer productive, resources for grandparent caregivers, and much more! - Elizabeth Elster, School Social Worker, <a href="mailto:elster@aaps.k12.mi.us" rel="noreferrer">elster@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2015/05/Compassion-in-Action-Newsletter-5-15.pdf">Compassion in Action Newsletter 5-15</a></p>
<hr />
<p><strong>Thank You!</strong> Big thanks go out to coordinators <strong>Lisa McKarns</strong> and <strong>Kati Rezmierski</strong> for all their hard work in coordinating a terrific Ice Cream Social on Friday night! Congratulations to all the raffle and auction winners, and thank you to the parent and high school volunteers for your support. We are so grateful to all who contributed in creating such a fun and successful event for our students and families!</p>
<hr />
<p><strong>Fourth Grade Families Save The Date:</strong> Fifth Grade Camp at Howell Nature Center will be <strong>November 11-13, 2015</strong>. We will need adult volunteers to join the 5<sup>th</sup> grade students and teachers (at least 10 chaperones and 1 medical professional). Mark your calendars and please consider volunteering to make this trip a success. Cost is expected to be $150 per student. Detailed information will be sent home in the fall. Questions? Contact Barb Zimdars at <a href="mailto:zimdars@comcast.net" rel="noreferrer">zimdars@comcast.net</a>.</p>
<hr />
<p><strong>Target Says "Thanks a Billion" To Schools:</strong> Now through June 15, Target will donate $25 to our schools when you post a "thank-you" message to your child's teacher on FaceBook. Select Bryant/Pattengill as your chosen school, describe why your child's teacher is awesome, and tag your message with #ThanksaBillion. Target will donate $25 for your first message, but you may write as many thank-you messages as you like! Visit<span style="text-decoration: underline;"><a href="https://thanksabillion.target.com/" target="_blank" rel="noreferrer">https://thanksabillion.target.com</a></span> for full details.</p>
<hr />
<p><strong>TEDxYouth@AnnArbor</strong> will be held on <strong>Saturday, June 6, 8am-4pm at Skyline High School</strong>. This event, which is planned, organized, and run by students from several Ann Arbor high schools, is designed to promote the voice of youth in our community. Talks will address a wide range of topics from technology backlash to volunteering in Sri Lanka, as students speak out to their community. For more information and to purchase tickets, please visit: <a href="https://sites.google.com/a/aaps.k12.mi.us/tedxyouth-annarbor/home" target="_blank" rel="noreferrer">bit.ly/tedxya2</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Bryant Art Show:</strong> You are invited to stop by the Bryant Art Show <strong>tonight,</strong> <strong>Thursday, May 21, from 5:30-7:00pm</strong>. Tonight is also the first grade Spring Sing concert, so please come early and enjoy all of the artwork displayed around the school. Each Bryant student will have one piece of artwork on display.</p>
<hr />
<p><strong>Fifth Grade Promotion Ceremony: Donations Needed by Friday -</strong> If you haven't done so already, please help us plan for this year's 5<sup>th</sup> grade promotion by <strong>donating $5</strong> (or more!) per student; all students will receive a commemorative t-shirt at the reception on Thursday, June 11, at 2:00pm at Pattengill. We are also in need of donations of new, black, fine tip <strong>Sharpie (permanent) markers</strong>, as the students will be gathering autographs from their friends and teachers on their t-shirts. We will have 114 graduates; if you can donate an entire box of Sharpies, it would be greatly appreciated. <strong>Please send all donations in to your 5th grader's teacher by this Friday, May 22. </strong>Thank you for your generosity as we send off our 5<sup>th</sup> graders to middle school! Questions? Contact Jennifer Manning at: <a href="mailto:manningjen@hotmail.com" rel="noreferrer">manningjen@hotmail.com</a> or Jennifer Heise at: <a href="mailto:jlheise@gmail.com" rel="noreferrer">jlheise@gmail.com</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>May</strong></p>
<ul>
    <li>Thurs. May 21: Bryant Art Show, 5:30-7pm</li>
    <li>Thurs. May 21: First Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Fri. May 22: Pattengill Field Day (Rain date Fri., May 29), 1:15-3:15pm</li>
    <li>Mon. May 25: <strong>Memorial Day - No School for Students</strong></li>
    <li>Tues. May 26: Restaurant Day at Tony Sacco's</li>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 2pm</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>