﻿@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this Issue</strong></p>
<ul>
    <li>Charleston Wrap Fundraiser Update</li>
    <li>Restaurant Day Update</li>
    <li>Fifth Grade Camp Paperwork</li>
    <li>Girl Scouts Update</li>
    <li>PTO General Meeting Information</li>
    <li>PTO Bylaws Amendment Update</li>
    <li>Bryant Marquee Volunteer Needed</li>
</ul>
<p><strong>Reminders</strong></p>
<ul>
    <li>Bryant Kindergarten Transition Breakfast with Elizabeth Elster</li>
    <li>Bryant Office Assistance Needed</li>
    <li>Bryant Parent Lending Library</li>
    <li>The Family Learning Institute</li>
    <li>PTO Thrift Shop Update</li>
    <li>Upcoming Dates to Remember</li>
</ul>
<p><span id="more-69"></span></p>
<hr />
<p><strong>In this Issue</strong></p>
<p>Charleston Wrap Fundraiser It is fall fundraiser time! Your child should have brought home the Charleston Wrap fundraising packet (if not, please look for it in his/her backpack). Charleston Wrap has lots of great items for sale including wrapping paper, chocolates, cookware, and many household items. The Bryant/Pattengill PTO receives 30-40% of the sales, which is a primary source of funding for field trips and school enrichment activities. All families are encouraged to participate. Get your holiday shopping done early and help our schools!</p>
<ul>
    <li><strong>All orders AND money are due Monday, October 6, 2014.</strong></li>
    <li>Checks should be made payable to: Bryant/Pattengill PTO, do not collect sales tax.</li>
    <li>Online orders will be shipped directly to the purchaser's home.</li>
    <li>Orders from the order forms &amp; incentives will be delivered to Bryant &amp; Pattengill in November.</li>
</ul>
<p>Please note that all personalized items must be ordered online, any personalized items ordered on the paper order forms will not be fulfilled. Questions about Charleston Wrap? Contact: Anne Berens, <a href="mailto:berensfam@gmail.com">berensfam@gmail.com</a>, 395-3020 (cell).</p>
<hr />
<p><strong>Good Food, Good Cause</strong></p>
<p>Please join the Bryant/Pattengill community at the Buffalo Wild Wings near the Briarwood Mall (3150 Boardwalk Drive, Ann Arbor) on Wednesday, Oct. 1. With the flyer attached or with the flyer your student(s) will bring home, BW3s will donate 20 percent of your bill from food and drinks on that day or night. You can go to lunch with co-workers or friends, or get takeout, and/or take your family there for dinner or take dinner home for your family on your way home from work. We hope to have one Restaurant Day per month and to average $250 in donations each time. Contact Restaurant Day coordinator Larry Lage via email <a href="mailto:larrylage@yahoo.com">larrylage@yahoo.com</a> if you have any questions or suggestions.</p>
<p><a href="/wp-content/uploads/2014/09/BWs.pdf">Buffalo Wild Wings Flyer</a></p>
<hr />
<p><strong>Fifth Grade Camp Paperwork</strong></p>
<p>By the end of this week your fifth grader should come home with an envelope containing the paperwork for fifth grade camp. Please review the information, complete the appropriate forms, and return the completed packet to your child's teacher no later than September 30. If you have any questions about the paperwork, please contact Barbara Zimdars, Fifth Grade Camp Chair, at <a href="mailto:zimdars@comcast.net">zimdars@comcast.net</a>.</p>
<hr />
<p><strong>Interested in joining Girl Scouts or becoming a Girl Scout leader/volunteer?</strong></p>
<p>Come find out what the Girl Scouts are all about! We will be holding a roundup for all girls in grades K through 5 on Monday, September 29 at 6:00 p.m. in the Multipurpose Room at Bryant Elementary. If you are unable to attend and would like more information please feel free to contact Lori Smith, <a href="mailto:LSmith0916@aol.com">LSmith0916@aol.com</a>, or Stephanie Scrivens, <a href="mailto:scrivens_jsn@sbcglobal.net">scrivens_jsn@sbcglobal.net</a>.</p>
<p><a href="/wp-content/uploads/2014/09/Bryant-Pattengill-Girl-Scouts.pdf">Bryant-Pattengill Girl Scouts Flyer</a></p>
<hr />
<p><strong>You're invited! PTO General Meeting on 10/2</strong> – Mark your calendar for the first Bryant/Pattengill Parent-Teacher Organization (PTO) General Meeting of the new school year: <strong>Thursday, October 2 in the Bryant Multipurpose Room from 7:30-8:30pm</strong>. Childcare is available. As a parent or guardian of a Bryant/Pattengill student, you are already a member of the PTO. Enhance your child's educational experience by getting involved in the PTO and learning how you can contribute to our school community.</p>
<hr />
<p><strong>Notice of PTO Bylaws Amendment</strong></p>
<p>The Bryant/Pattengill PTO Bylaws state in Articles 12.7 and 13.5 that our PTO is a tax-exempt organization under 501(c)(4) of the Internal Revenue Code of 1986. This is a misprint. The B/P PTO is correctly registered as a tax-exempt organization under 501(c)(3) of the Internal Revenue Code of 1986. The B/P PTO will be proposing to amend these bylaws with the correct information at the upcoming PTO general meeting on Thursday, October 2, 2014 at 7:30pm.</p>
<p>If you have any questions about this correction and subsequent amendments, please contact <a title="Deborah Paul-McDonald" href="/board-members/deborah-paul-mcdonald/">Deborah Paul-McDonald</a>, or <a title="Lisa Treat" href="/board-members/lisa-treat/">Lisa Treat</a> by October 2, 2014.</p>
<p>See complete PTO Bylaws here: <a href="/wp-content/uploads/2014/09/bryant-pattengill_pto_bylaws.pdf">Bryant Pattengill PTO By Laws</a></p>
<hr />
<p><strong>Do you have 30 minutes a week to help out Bryant School?</strong></p>
<p>We need you! The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most and is a great way to volunteer at your child&#8217;s school! Interested? Contact <a title="Carmen Atkins" href="/board-members/carmen-atkins/">Carmen Atkins, VP for Bryant</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Bryant Kindergarten Families</strong></p>
<p>Please join our school social worker, Elizabeth Elster, on Friday, Sept. 26 at 9:00 a.m. in the Bryant cafeteria for a light breakfast and tips on how to help the entire family transition into kindergarten. Please see the attached flyer for more information.</p>
<hr />
<p><strong>Bryant Office Assistance is Needed!</strong></p>
<p>Ms. Midura needs assistance on a few projects in the Bryant Office:</p>
<ol>
    <li>She needs someone with nice penmanship to write a few things out for her,</li>
    <li>She need assistance with organizing packets that have been returned to the school office.</li>
</ol>
<p>All projects need to be completed this month; they will not require too much of your time. If you are interested and able to help, please contact Ms. Midura at 734-997-1212.</p>
<hr />
<p><strong>Bryant Parent Lending Library</strong></p>
<p>The Parent lending library is a free service to the parents at Bryant. The parents can pick 2 to 3 books at their child's reading level. The students can practice reading the books and return them the following week and get more books. The parent lending library is open on Tuesdays. It will start at the end of school and run until about 5:00 PM. It is located in the main lobby of the school. You can use your child's raz kid's reading level to chose the books or ask your child&#8217;s teacher. Happy Reading! Thank You, Son Mi Lim</p>
<hr />
<p>The Family Learning Institute is a volunteer-based nonprofit agency dedicated to closing the achievement gap in Washtenaw County. Through collaboration with local schools and community partners, and the implementation of innovative programs that develop literacy skills and prevent summer learning loss, FLI engages economically disadvantaged children, their parents and community in supporting a commitment to success in school and beyond. FLI believes our students, regardless of life circumstances, deserve a chance to forge the skills they need to build the lives they dream.</p>
<p>
    For more information on this wonderful resource, click on:<br />
    <a href="https://drive.google.com/file/d/0B4WPQNkdFW2NdU5NWmlqSlZBaHM/edit?usp=sharing" target="_blank">https://drive.google.com/file/d/0B4WPQNkdFW2NdU5NWmlqSlZBaHM/edit?usp=sharing</a>
</p>
<hr />
<p><strong>SHOW YOUR SUPPORT for Bryant/Pattengill</strong> this week at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy.</p>
<p>The funds earned for Bryant/Pattengill will help to ensure that ALL Fifth Graders are able to participate in the camp experience. Spread the word to friends and family and let's SHOW OUR SUPPORT for our school! See the attached flier for store hours.</p>
<p><a href="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg"><img data-attachment-id="78" data-permalink="/2014/09/25/bryantpattengill-thursday-notes-3/a2pto_1-1_current_0114/" data-orig-file="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?fit=947%2C1500&amp;ssl=1" data-orig-size="947,1500" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;A2PTO_1-1_current_0114&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="Ann Arbor PTO Thrift Shop" data-image-description="" data-medium-file="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?fit=189%2C300&amp;ssl=1" data-large-file="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?fit=474%2C751&amp;ssl=1" class="alignnone size-large wp-image-78" src="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3-646x1024.jpg?resize=474%2C751" alt="Ann Arbor PTO Thrift Shop" srcset="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?resize=646%2C1024&amp;ssl=1 646w, /wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?resize=189%2C300&amp;ssl=1 189w, /wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?resize=768%2C1216&amp;ssl=1 768w, /wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?w=947&amp;ssl=1 947w" sizes="(max-width: 474px) 100vw, 474px" data-recalc-dims="1" pagespeed_url_hash="3659581411" /></a></p>
<hr />
<p><strong>Upcoming Dates to Remember</strong></p>
<p><strong>September</strong></p>
<ul>
    <li>Mon. Sept. 22 – Mon. Oct. 6 Charleston Wraps Fall Fundraiser</li>
    <li>Fri. Sept. 26 Bryant Kindergarten Transition Breakfast, Bryant Cafeteria 9:00 a.m.</li>
    <li>Mon. Sept. 29 Girl Scouts Roundup at 6:00 p.m. in the Bryant Multipurpose Room</li>
    <li>Tues. Sept. 30 Fifth Grade Camp Paperwork is due</li>
</ul>
<p><strong>October</strong></p>
<ul>
    <li>Wed. Oct. 1 Student Count Day</li>
    <li>Wed. Oct. 1 Restaurant Day at Buffalo Wild Wings on Boardwalk Drive</li>
    <li>Thurs. Oct. 2 Pattengill Picture Day</li>
    <li>Thurs. Oct. 2 School Improvement Team (SIT) Meeting, Bryant 4:15 – 5:30 p.m.</li>
    <li>Thurs. Oct. 2 PTO Executive Board Meeting, Bryant Media Center 6:15 – 7:15 p.m.</li>
    <li>Thurs. Oct. 2 PTO General Meeting, Bryant Multipurpose Room 7:30 – 8:30 p.m.</li>
    <li>Fri. Oct. 17 Family Movie Night, Bryant Gym 5:30 – 8:00 p.m.</li>
    <li>Wed. Oct. 22 Cider and Donuts with the Principals, Location TBD 9 – 10 a.m.</li>
</ul>
<hr />
<p>
    Bryant/Pattengill Website<br />
    <a href="http://a2schools.org/bryantpattengill.home/home " target="_blank">a2schools.org/bryantpattengill.home/home </a>
</p>
<p>
    PTO Website<br />
    <a href="http://a2schools.org/bryantpattengill.home/pto_information " target="_blank">2schools.org/bryantpattengill.home/pto_information </a>
</p>
<p>
    Bryant/Pattengill Facebook Page<br />
    <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank">https://www.facebook.com/BryantPattengillPTO</a>
</p>
<p>Submissions for Thursday Notes should be emailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday, 5pm each week.</p>