@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><b>In this issue:</b></p>
<ul>
    <li><span style="color: #008000"><b>Letters from the Principals</b></span></li>
    <li><span style="color: #008000"><b>ALL Parents Invited to N.A.A.P.I.D. on Monday</b></span></li>
    <li><span style="color: #008000"><b>Lunch with a Loved One at Bryant, Feb. 12</b></span></li>
    <li><span style="color: #008000"><b>Fifth Grade Camp, Take 2: New Dates</b></span></li>
    <li><span style="color: #008000"><b>Bryant P.E. Website and February Calendar</b></span></li>
    <li><span style="color: #008000"><b>Restaurant Day Update</b></span></li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<ul>
    <li><span style="color: #008000"><b>Kindergarten Round-Up: Be a part of the fun!</b></span></li>
    <li><span style="color: #008000"><b>Bryant Scholastic Book Fair Coming in March</b></span></li>
    <li><span style="color: #008000"><b>Looking To Volunteer? We Need YOU!</b></span></li>
</ul>
<p><b>Reminders:</b></p>
<ul>
    <li><span style="color: #008000"><b>Spare Gym Shoes Needed for Bryant P.E. Classes</b></span></li>
    <li><span style="color: #008000"><b>Girls on the Run Registration Ends Feb. 15</b></span></li>
    <li><span style="color: #008000"><b>Box Tops Due Feb. 23</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<p>&nbsp;</p>
<hr />
<p><b>In this issue</b></p>
<p><span style="color: #008000"><b>Letters from the Principals:</b></span> Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1-E1q5B8A5iPRC-2YV76-naeif3zMvu3qxexKBMjjI0Q/edit?usp=sharing">letter</a> to Bryant families and Mrs. Alston's <a href="https://docs.google.com/document/d/1E5J2E37UEaQ6NAtpKpMMzhxeBQK2VV1Ncq2cy8wvJ10/edit?usp=sharing">letter</a> to Pattengill families, filled with timely information for our school community.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>ALL Parents Invited to N.A.A.P.I.D./Parent Involvement Day on Monday</b><b>:</b> </span>Please plan to participate in Parent Involvement Day on <b>Monday, Feb. 8</b> at both schools. National African-American Parent Involvement Day (N.A.A.P.I.D.) encourages parents to connect with their child's school and become involved in their education. We invite <b>ALL</b> parents to join us for programs at Bryant/Pattengill, and visit with your child at school. <a href="https://drive.google.com/file/d/0B-_iHxypfI5bUE5DY3BiTldVNGc/view?usp=sharing">Click here</a> for the day's schedule of events. Questions? Contact Deborah Joseph at <a href="mailto:josephd@aaps.k12.mi.us">josephd@aaps.k12.mi.us</a>. You are also invited to attend <b>N.A.A.P.I.D. at Night</b> <b>on</b> <b>Monday, Feb 8, 6pm</b> at Ypsilanti Community Middle School Auditorium, featuring keynote speaker Ayinde Jean Baptiste. Mr. Baptiste gained national attention at 12 years old when he spoke at the Million Man March in 1995. Please see attached flyer below for more details.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Lunch with a Loved One &mdash; Bryant ONLY &mdash; Feb. 12:</b> </span>Join your Bryant student at lunch time on <b>Friday, Feb. 12</b>, for <b>Lunch with a Loved One at Bryant!</b> Family members (must be on the student's emergency contact list) can sign in at the front office and enjoy lunch with their student. School lunches may be purchased for all adults and for students who do not receive free/reduced-price lunch. The lunch times are listed below - <b>each grade level goes to lunch FIRST, before going out to recess:</b></p>
<ul>
    <li>Young 5's &amp; Kindergarten lunch &amp; recess: 11:30-12:18p</li>
    <li>1st Grade lunch &amp; recess: 12:02-12:50p</li>
    <li>
        2nd Grade lunch &amp; recess: 12:30-1:18p<br />
        <hr />
    </li>
</ul>
<p><span style="color: #008000"><b>Food Drive:</b> P</span>lease join the Pattengill Girl Scouts in donating food to benefit our neighbors at the Back Door Food Pantry. Donations will be collected outside classrooms <b>Friday, Feb. 5 through Friday, Feb.12.</b> Come to the Talent Show and bring your donations!! Suggested items: Canned Chicken or Tuna, Canned Fruits or Vegetables, Soups, Boxed Pasta or Rice, and Snacks for kids. The class with the most donations by the end of the week will receive a special surprise! Questions? Contact Stephanie Scrivens-<a href="mailto:scrivens_jsn@sbcglobal.net">scrivens_jsn@sbcglobal.net</a></p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Fifth Grade Camp, Take 2 &mdash; New Dates:</span> </b>Reminder, Fifth Grade Camp at Howell Nature Center is about one month away. <b>The new dates are March 9-11, 2016.</b> The packing list and all other important documents can be found on the camp website:<a href="/5th-grade-camp/"> http://bryantpattengill.org/5th-grade-camp/</a>. Questions? Contact 5th Grade Camp Chair Barb Zimdars at <a href="mailto:barbara.zimdars@bryantpattengill.org">barbara.zimdars@bryantpattengill.org</a></p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Bryant P.E. Website and February Calendar:</b> </span>Are you curious about what's new in your child's P.E. class at Bryant? Looking for ways to stay active during the cold of February? Check out <a href="http://www.a2schools.org/Page/9495">Mr. Willard's webpage</a> with the latest information and calendar.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Thank You for Supporting Restaurant Day at Buffalo Wild Wings:</span> </b>Our PTO will get a check for $256.48 from Buffalo Wild Wings because of your support of Bryant/Pattengill Restaurant Day on Monday. Thank you!</p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #008000"><b>Kindergarten Round-Up:</b> </span>Be a part of this fun opportunity to welcome new prospective families to Bryant/Pattengill! Volunteers are needed on <b>Thursday, Feb. 25</b>, <b>6:00-7:30pm </b>to assist with parent sign-in, snacks, tours, and more. Please <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=12">sign up here</a>, or contact Karishma Collette at <a href="http://umich.edu/">karishms@umich.edu</a>.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Bryant Scholastic Book Fair Coming in March:</b> </span>It takes many hands to help students select and purchase books at our annual Book Fair. The Fair will run from <b>Tuesday, March 1 &mdash; Friday, March 4</b>. Family Night is <b>Thursday, March 3</b>. Volunteers are needed for ALL days and times, along with setup <b>(Friday, 2/26)</b> and teardown<b> (Friday, 3/4)</b>. To volunteer, <a href="http://www.signupgenius.com/go/10c0e48afae28a2fc1-bryant3">click here</a>. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Looking To Volunteer? We need YOU!</span> </b>There is an opportunity for <b>ALL</b> B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. <b>Please visit</b> <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"><b>2015-2016 Bryant/Pattengill Volunteer Sign-Up</b></a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant at: <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill at: <a href="mailto:jennifer.nguyen@bryantpattengill.org">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p>
    &nbsp;<br />
    <b>Reminders</b>
</p>
<p><b><span style="color: #008000">Spare Gym Shoes Needed for Bryant P.E. Classes:</span> </b>We are in need of slightly used, Velcro sneakers ranging in sizes to fit Young 5s-2nd grade, both boys and girls. If you're able to donate, please send them in to Mr. Willard, Bryant P.E. teacher. Thank you! Questions? Contact <a href="mailto:willardj@aaps.k12.mi.us">willardj@aaps.k12.mi.us</a></p>
<hr />
<p><b><span style="color: #008000">Girls on the Run Registration Is Still Open:</span> </b>Don't forget to register for this great program now through <b>Feb. 15</b>! Open to all 3rd-5th grade girls, GOTR will meet after school on Mondays and Wednesdays from 4:15-5:45pm, March 7-May 20. <a href="http://www.girlsontherunsemi.org/"><b>Click here </b></a>to learn more and to register. <b>Regular registration is open until Feb. 15</b>, then the cost increases for late registration. Financial assistance is available, and discounts are provided for those interested in volunteering on the coaching team. Email: <a href="mailto:info@girlsontherunsemi.org"><b>info@girlsontherunsemi.org</b></a> for more information. Questions? Contact Elizabeth Deyarmond at: <a href="mailto:crowdecoder@gmail.com">crowdecoder@gmail.com</a></p>
<hr />
<p><span style="color: #008000"><b>Keep Clipping Box Tops!</b></span> <a href="http://www.boxtops4education.com/">Box Tops coupons</a> are now being accepted for our next submission on <b>Tuesday, Feb. 23</b>. Thank you for submitting your Box Tops in the black boxes located outside each school's office, as we try to reach our goal of $1,200 for this school year. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span><b><span style="color: #008000">:</span> </b>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> <b>Shop, donate, and support AAPS</b></a>!</p>
<hr />
<p>&nbsp;</p>
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>February</b></p>
<ul>
    <li>Fri, Feb. 5: Pattengill Talent Show for Parents/Community, 7-9pm</li>
    <li>Mon, Feb. 8:<b> Morning</b>: Bryant NAAPID/Parent Involvement Day, <i>ALL Parents Welcome, </i><b>Afternoon</b>: Pattengill NAAPID/Parent Involvement Day, <i>ALL Parents Welcome, </i>Pattengill Talent Show for Students, 1:45-3:30</li>
    <li>Wed, Feb. 10: Student Count Day</li>
    <li>Mon-Fri, Feb. 15-19: <b>Mid-Winter Break - </b><b><i>No School for Students</i></b></li>
    <li>Mon, Feb. 22: School Resumes</li>
    <li>Wed, Feb. 24: Pattengill Science Fair, Pattengill Gym, 6-7:30pm</li>
    <li>Thurs, Feb. 25: Kindergarten Round-Up, Bryant Multipurpose Room, 6-7:30pm</li>
    <li>Fri, Feb. 26 - Mar 9: Read-A-Thon</li>
</ul>
<p><b>March</b></p>
<ul>
    <li>Tues-Fri, Mar. 3/1-3/4: Bryant Book Fair</li>
    <li>Thurs, Mar. 3 : Pajama Night &amp; Book Fair Family Night, Bryant,  6:30-8pm</li>
    <li>Tues, Mar. 8: Pattengill Tech Night, 6-8pm</li>
    <li>Wed-Fri, Mar. 9-11: 5th Grade Camp</li>
    <li>Thurs, Mar. 10: School Improvement Team (SIT) Meeting, Pattengill, 4:30pm</li>
    <li>Thurs, Mar. 10: PTO Exec Board Meeting, Pattengill, 6-7:30pm</li>
    <li>Tues, Mar. 15: Report Cards Go Home</li>
    <li>Wed, Mar. 16: Pizza with Principals, Bryant Community Center, 6pm</li>
    <li>Tues, Mar. 22.: Family Science Night, Bryant, 6-7:30pm</li>
    <li>Fri, Mar. 25: NO SCHOOL &mdash; Good Friday</li>
    <li>Tues, Mar. 29: Pattengill Spring Pictures</li>
    <li>Tues, Mar. 29: 4th Grade Spring Recorder Concert, Pattengill,  7pm</li>
    <li>Wed, Mar. 30: Bryant Spring Pictures</li>
</ul>
<p><b>Stay Connected</b></p>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone size-medium wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=214%2C300" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 214px) 100vw, 214px" data-recalc-dims="1" pagespeed_url_hash="3304415326"  /></a><a href="/2016/02/04/thursday-notes-02-04-16/naapid-at-night-2016-save-the-date-flyer-ayinde-jean-baptiste-keynote-speaker-2-8-15-1/" rel="attachment wp-att-1906"><img data-attachment-id="1906" data-permalink="https://www.bryantpattengill.org/2016/02/04/thursday-notes-02-04-16/naapid-at-night-2016-save-the-date-flyer-ayinde-jean-baptiste-keynote-speaker-2-8-15-1/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?fit=2831%2C3674&amp;ssl=1" data-orig-size="2831,3674" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="NAAPID AT NIGHT  2016  &mdash;  SAVE-THE-DATE FLYER &mdash; AYINDE JEAN BAPTISTE KEYNOTE SPEAKER 2-8-15-1" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?fit=231%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?fit=474%2C615&amp;ssl=1" class="alignnone size-medium wp-image-1906" src="/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1-231x300.png?resize=231%2C300" alt="NAAPID AT NIGHT  2016  -  SAVE-THE-DATE FLYER - AYINDE JEAN BAPTISTE KEYNOTE SPEAKER 2-8-15-1" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?resize=231%2C300&amp;ssl=1 231w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?resize=768%2C997&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?resize=789%2C1024&amp;ssl=1 789w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/02/NAAPID-AT-NIGHT-2016-SAVE-THE-DATE-FLYER-AYINDE-JEAN-BAPTISTE-KEYNOTE-SPEAKER-2-8-15-1.png?w=1422 1422w" sizes="(max-width: 231px) 100vw, 231px" data-recalc-dims="1" pagespeed_url_hash="3383732269"  /></a></p>