@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Bryant/Pattengill Ice Cream Social Is FRIDAY</li>
    <li>Cub Scout Informational Meeting Rescheduled</li>
    <li>Pattengill Field Day</li>
    <li>Fifth Grade Promotion Ceremony: Donations Needed</li>
    <li>PTO Executive Board 2015-2016</li>
    <li>Kudos</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Bryant Art Show</li>
    <li>Restaurant Day Update</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p>
    <span id="more-1458"></span><br />
    <strong>Bryant/Pattengill Ice Cream Social: Friday, May 15, 6:30-8:30pm at Pattengill, Rain or Shine! </strong> Bring your family, friends, and neighbors to our annual Ice Cream Social on Friday! The evening features food, fun, games, inflatable obstacle course, bounce house &amp; slide, cake walk, a raffle, and silent auction to help raise funds to support our students! View the list of our <a href="https://docs.google.com/spreadsheets/d/1b1bwn4sECCYuI50HXuFey8xSLJD8D7c8I_mW22UAEHA/edit#gid=0" target="_blank" rel="noreferrer">fabulous raffle and auction prizes</a> and be sure to thank the merchants who donated to our schools.
</p>
<p><strong>Silent Auction and Raffle:</strong> Don't forget your checkbook - you may be the winner of one of our terrific silent auction prizes, including some cool items for Father's Day! Golf packages, Detroit Tigers and U of M tickets, concert tickets, and much more! Do you have a friend who might want to bid on the Georgetown membership? Know a Red Wings fan who would like a puck signed by Justin Abdelkader? Tell them about our fundraiser! You need not be present to win. If you can't attend and would like to bid on an item or participate in the raffle, contact Lisa McKarns at <a href="file://localhost/tel/734-904-3565" target="_blank" rel="noreferrer">734-904-3565</a>.</p>
<p><strong>Skip the lines and pre-order your tickets! </strong>Ticket pre-order forms were sent home with students this week (see attached). Orders will be filled at lunchtime on <strong>Thursday, May 14 and Friday, May 15, </strong>and sent home with your child. Pre-order your food/game and raffle tickets to skip the ticket lines at the event, fill out your raffle tickets at home, and receive a free CPKids Meal from California Pizza Kitchen (available for pre-orders only).</p>
<p><strong>Volunteers still needed!</strong> If you're able to run one of the games, sell food, donate a treat for the cake walk, or help with set up or clean up, please sign up here: <a href="https://docs.google.com/spreadsheets/d/1oIS90SXo4ZPNRS8BbSv92hUqeogfSR924mEJff_T8sw/edit#gid=0" target="_blank" rel="noreferrer">2015 Ice Cream Social Volunteer Sign Up</a>. Responsible teenagers welcome! Questions? Contact Lisa McKarns at <a href="mailto:lmckarns@comcast.net" rel="noreferrer">lmckarns@comcast.net</a> or<a href="file://localhost/tel/734-904-3565" target="_blank" rel="noreferrer">734-904-3565</a>.</p>
<p><strong>Kudos and Thank You:</strong> Thank you to all who participated in the Family Donation Drive for the Ice Cream Social! The winning classes that will receive a party for the most participation are: Mrs. Miller's and Mrs. Peterson's classes at Bryant (they tied with 57% participation) and Ms. Embry's class at Pattengill (43% participation). Congratulations! Also thank you to the principals for offering "Principal for the Morning" and "Read-A-Loud with the Principals" packages for the raffle and auction, and Mrs. Beech's class for making a cool painting.</p>
<hr />
<p><strong>Cub Scout Informational Meeting Rescheduled:</strong> Ann Arbor Cub Scout Pack 26 invites boys in grades K-4 and their parents/guardians to join us for our pack meeting in the cafeteria at Pattengill on <strong>Monday, May 18, at 7:00pm</strong>. Pack leadership will be on hand to explain the benefits and goals of Cub Scouting, and exciting program changes for the upcoming year. If you have any questions (or can't make the meeting and would like information) please contact Cubmaster Michael Pomorski at: <a href="mailto:michael.pomorski@gmail.com" rel="noreferrer">michael.pomorski@gmail.com</a>.</p>
<hr />
<p><strong>Pattengill Field Day:</strong> It's almost here! Pattengill Field Day will be held next <strong>Friday, May 22, from 1:15-3:30pm</strong>. We've got some exciting new games and stations planned for the kids, along with a few of the kids' favorites! We are still in need of a few additional volunteers to help at Field Day. If you are able to help out, and have not already been in touch with me, please contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com" rel="noreferrer">sskotre@hotmail.com</a>.</p>
<hr />
<p><strong>Fifth Grade Promotion Ceremony: Donations Needed -</strong> By now your 5th grade student should have brought home a flyer requesting a <strong>donation of $5</strong> (or more!) toward a commemorative t-shirt that they will receive as part of our 5th grade promotion festivities, held on <strong>Thursday, June 11, at 2:00pm</strong> at Pattengill. We are also in need of new, black, fine-tip <strong>Sharpie (permanent) markers</strong>, as the students use these to sign each other's shirts. We have 114 students, so if you can donate several markers or even a boxful, it would be greatly appreciated, as we give one to each student along with their shirt. Please send these donations in to your student's teacher as soon as possible so that we may get a sense of our total budget for this event. Thank you! Questions? Contact Jennifer Manning at: <a href="mailto:manningjen@hotmail.com" rel="noreferrer">manningjen@hotmail.com</a> or Jennifer Heise at: <a href="mailto:jlheise@gmail.com" rel="noreferrer">jlheise@gmail.com</a>.</p>
<hr />
<p><strong>PTO Executive Board 2015-2016:</strong> At the Parent-Teacher Organization (PTO) General Meeting on May 7, a vote was held to elect the PTO Executive Board for the upcoming school year. Congratulations to the 2015-2016 Bryant/Pattengill PTO officers:</p>
<ul>
    <li>Co-President: Lisa Treat</li>
    <li>Co-President: Kathy Brady</li>
    <li>Vice President, Bryant: Carmen Atkins</li>
    <li>Vice President, Pattengill: Stephanie Carlson</li>
    <li>Secretary: Ariel Hurwitz-Greene</li>
    <li>Treasurer: Carmen Andrianopoulos</li>
</ul>
<p>A huge, heartfelt thank-you to outgoing <strong>PTO Co-President Deborah Paul-McDonald</strong>. Deborah served on the Executive Board for several years, bringing a positive energy and lasting impact to our schools. If you see Deborah, please thank her for her dedication to our students and staff!</p>
<p>Also stepping down is <strong>Joy Meadows, PTO Council Representative</strong>. Thank you to Joy for her service, and to all PTO volunteers who continue to help make Bryant/Pattengill a place our students, teachers, and families want to be! Interested in lending your time or talents? Contact<a href="mailto:info@bryantpattengill.org" rel="noreferrer">info@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Kudos</strong> to <strong>Laura Gultekin</strong> and the entire committee for organizing the Teacher &amp; Staff Appreciation Week at Bryant and Pattengill. The staff truly appreciated all of the cards, flowers, desserts, thank-you's, and their celebratory lunch. Thank you to all of the children and parents who sent items in, you made this week a success. Thank you to the entire staff for all that you do for our children!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Bryant Art Show:</strong> You are invited to stop by the Bryant Art Show on <strong>Tuesday, May 19 and Thursday, May 21, from 5:30-7:00pm</strong>. This event occurs on the same nights as the first grade and second grade Spring Sing concerts, so please come early and enjoy all of the artwork displayed around the school. Each Bryant student will have one piece of artwork on display.</p>
<hr />
<p><strong>Restaurant Day Update:</strong> Thanks to your support of B/P Restaurant Days, our PTO will receive $360.40 from Old Carolina BBQ Co. and $167.88 from Buffalo Wild Wings. Our next Restaurant Day will be <strong>Tuesday, May 26</strong>, one week later than previously planned, at <strong>Tony Sacco's Coal Oven Pizza</strong> (980A West Eisenhower Parkway). Flyers will be distributed later this month. Questions? Contact Larry Lage at: <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>May</strong></p>
<ul>
    <li>Fri. May 15: Ice Cream Social, 6:30-8:30pm, Pattengill</li>
    <li>Tues. May 19: Second Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Thurs. May 21: First Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Fri. May 22: Pattengill Field Day (Rain date Fri., May 29), 1:15-3:15pm</li>
    <li>Mon. May 25: <strong>Memorial Day - No School for Students</strong></li>
    <li>Tues. May 26: Restaurant Day at Tony Sacco's <strong>(note: date change)</strong></li>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 2pm</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>