@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>
    <b>In This Issue:</b>
</h6>
<ul>
    <li><b>Letters from the Principals</b></li>
    <li><b>Pattengill Talent Show Information</b></li>
    <li><b>Science Olympiad Sign-Up Now Open</b></li>
    <li><b>Check Out the </b><b><i>Ann Arbor Observer</i></b><b> Article about Bryant/Pattengill</b></li>
</ul>
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<h6><b>Event and Activity Volunteer Sign-Up</b></h6>
<h6><b>Reminders:</b></h6>
<ul>
    <li><b>NWEA Winter Testing Has Begun</b></li>
    <li><b>Prepare for Cold Weather</b></li>
    <li><b>Visit the Ann Arbor PTO Thrift Shop</b></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<hr />
<p><span id="more-2368"></span></p>
<h6>
    <b>In This Issue</b>
</h6>
<p><span style="color: #008000"><b>Letters from the Principals: </b></span>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1QFgJZ2WA1bvnIbMVJTZDT-s4rzSBKWNxh_xAKkErJR0/edit?usp=sharing"><b>letter to Bryant families</b></a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1KF1lfWNfCtXGCEPipy4Rew1LaUgwpKXnh1RbtRIwpLE/edit?usp=sharing"><b>letter to Pattengill families</b></a><a href="https://docs.google.com/document/d/1mT80zWeLcfaSrYrcaSwaDefnpN2o4sZ11B7pWygmuDk/edit?usp=sharing">,</a> filled with timely information for our school community.</p>
<hr />
<p><span style="color: #008000"><b>Pattengill Talent Show Information:</b></span> Here are some important dates and information about the upcoming Pattengill Talent Show. Permission slips went home to interested students this week.</p>
<ol>
    <li>
        <b></b> Completed permission slips need to be returned to Mrs. Bailey no later than this <b>Friday, Jan. 13. </b><b>2.</b> Tryouts will be held during school on <b>Wednesday, Jan. 18, from 9:15am-3:30pm.  </b><b>3.</b> Dress rehearsal will be after school on <b>Monday, Feb. 6, 4:00-6:30pm</b> in the Pattengill cafeteria.  <b>4.</b> The Talent Show will be on <b>Friday, Feb. 10, at 7pm</b> in the Pattengill cafeteria. (Performers report at 6:30.)  <b>5.</b> The school performance will be on <b>Monday, Feb. 13 at 1:45pm.</b> This is part of our NAAPID program.  <b>6</b>. The performance for second graders is on <b>Wednesday, Feb. 15 at 9:30am.</b> Questions? Please contact Mrs. Bailey: <a href="mailto:wilkinsm@aaps.k12.mi.us">wilkinsm@aaps.k12.mi.us</a><br />
        <hr />
        <p><b><span style="color: #008000">Science Olympiad Sign-Up Now Open:</span> </b>Science Olympiad sign-up is now available for 2nd through 5th graders! Read about it at <a href="/SO"><b>BryantPattengill.org/SO</b></a> or just <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDDZ66e0g0ucxYn3-aoELdnWEn54H0dFk0LsNjm8Ji1QcJgw/viewform"><b>SIGN UP</b></a>. Encourage your child(ren) to explore and have fun with a new topic or an old favorite. For students who aren't sure science is for them, there are activities to catch anyone's interest, focused on interaction, exploration, hands-on activities, and teamwork. Questions? Contact Jonathan Parker at <a href="mailto:Jonathan.T.Parker@BryantPattengill.org">Jonathan.T.Parker@BryantPattengill.org</a>.</p>
        <hr />
    </li>
</ol>
<p><span style="color: #008000"><b>Check Out the </b><b><i>Ann Arbor Observer</i></b></span><b><span style="color: #008000"> Article about Bryant/Pattengill:</span>  </b>Bryant/Pattengill was featured this month in the Ann Arbor Observer. It is an informative <a href="http://annarborobserver.com/s/super_pair.html"><b>article</b></a> about how the pair of schools was created back in the 1980's and how it continues to thrive as a community today. Be sure to read about our great super-pair schools!</p>
<hr />
<h6><b>Help Wanted: Volunteer Opportunities: </b></h6>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b></span> The PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<h6><b>Reminders:</b></h6>
<p><span style="color: #008000"><b>NWEA Winter Testing Has Begun: </b></span>NWEA testing in Math &amp; Reading for grades K-5 begins <b>Tuesday, Jan. 10-Tuesday, Feb. 10.</b> Classroom teachers will notify you when your student(s) are testing in the computer lab.</p>
<hr />
<p><b><span style="color: #008000">Prepare for Cold Weather:</span> </b>Students should be dressed warmly with coats, snow pants, hats, mittens, scarves, and boots. Unless there is inclement weather, we go outside daily to ensure that our students get fresh air and plenty of physical activity!</p>
<hr />
<p><b><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span> </b>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>January 2017</b></p>
<ul>
    <li>Thurs, Jan 12: MLK Day Assembly at Bryant, 9:30am, Bryant Gym</li>
    <li>Fri, Jan 13: Bryant Yearbook Group Pictures</li>
    <li>Mon, Jan 16: Martin Luther King Jr. Day - <b><i>No School for Students</i></b></li>
    <li>Wed, Jan 18: Pattengill Talent Show Tryouts</li>
    <li>Thurs, Jan 19: Pattengill Yearbook Group Pictures</li>
    <li>Thurs, Jan 26: PTO Executive Board Meeting, 6-7:30pm, Bryant Media Center</li>
</ul>
<p><b>February </b></p>
<ul>
    <li>Wed, Feb 8: Student Count Day - please be sure your student(s) attend this day</li>
    <li>Fri, Feb 10: Pattengill Talent Show for Parents/Community, 7-9pm</li>
    <li>Mon, Feb 13: NAAPID/Parent Involvement Day, <b><i>ALL Parents Welcome</i></b></li>
</ul>
<p>Pattengill Talent Show for Students, 1:45-3:30pm, Pattengill</p>
<ul>
    <li>Wed, Feb 15:    2nd Grade to Pattengill to see Talent Show, 9:30am</li>
    <li>Mon, Feb 20:    Presidents' Day - <b><i>No School for Students</i></b></li>
</ul>
<ul>
    <li>Wed, Feb 22: Pattengill Science Fair, 6-7:30pm, Pattengill Gym</li>
    <li>
        Thurs, Feb 23: Kindergarten/Young Fives Round-Up, 6-7:30pm, Bryant Multipurpose Room<br />
        <hr />
    </li>
</ul>
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2016/12/09/2344/2017_flyer_mlk-invitation/" rel="attachment wp-att-2345"><img data-attachment-id="2345" data-permalink="https://www.bryantpattengill.org/2016/12/09/2344/2017_flyer_mlk-invitation/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?fit=1750%2C2250&amp;ssl=1" data-orig-size="1750,2250" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2017_flyer_mlk-invitation" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?fit=233%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?fit=474%2C610&amp;ssl=1" class="alignnone size-medium wp-image-2345" src="https://i0.wp.com/bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation-233x300.png?resize=233%2C300" alt="2017_flyer_mlk-invitation" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?resize=233%2C300&amp;ssl=1 233w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?resize=768%2C987&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?resize=796%2C1024&amp;ssl=1 796w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?w=948 948w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?w=1422 1422w" sizes="(max-width: 233px) 100vw, 233px" data-recalc-dims="1" pagespeed_url_hash="3863316539"  /></a></p>