@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5><b>In This Issue:</b></h5>
<ul>
    <li><span style="color: #008000"><b>Come to "Lunch with a Loved One" Next Monday &amp; Tuesday</b></span></li>
    <li><span style="color: #008000"><b>Ice Cream Social: Discounted Tickets Available May 15 &amp; 16</b></span></li>
    <li><span style="color: #008000"><b>Ice Cream Social: Featured Prizes, Food, &amp; Games</b></span></li>
    <li><span style="color: #008000"><b>A Big Thank You&#8230;</b></span></li>
</ul>
<h5><span style="color: #000000"><b>Help Wanted: Volunteer Opportunities</b></span></h5>
<ul>
    <li><span style="color: #008000"><b>Ice Cream Social Volunteers Needed</b></span></li>
    <li><span style="color: #008000"><b>Volunteer Needed To Shadow Pattengill Field Day Coordinator</b></span></li>
</ul>
<h5><span style="color: #000000"><b>Reminders:</b></span></h5>
<ul>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h5><span style="color: #000000"><b>Mark Your Calendars</b></span></h5>
<h5><span style="color: #000000"><b>Stay Connected</b></span></h5>
<p><span id="more-2475"></span></p>
<hr />
<p><b>In This Issue</b></p>
<p><span style="color: #008000"><b>Come to "Lunch with a Loved One" Next Monday &amp; Tuesday</b></span><b><span style="color: #008000">:</span> </b><b>Pattengill</b> welcomes loved ones to join their student at lunchtime on<b> Monday, May 15 </b>and <b>Bryant</b> celebrates the next day on <b>Tuesday, May 16</b>. <b>Pattengill lunch times:</b> 3rd Grade: 12:24pm, 4th Grade: 12:48pm, 5th Grade: 11:54am. <b>Bryant lunch times:</b> Young 5's &amp; Kindergarten: 11:25am, 1st Grade: 11:53am, 2nd Grade: 12:25pm. <i>Note: Ice Cream Social tickets will be sold at a discount during these times to the adults attending. Details below.</i></p>
<hr />
<p><i></i><b><span style="color: #008000">Ice Cream Social:</span> Discounted Tickets Available May 15 &amp; 16 -</b> <b>Next Monday and Tuesday ONLY,</b> you can pre-purchase your Ice Cream Social tickets at a discount! Look for a ticket order form to come home with your student this week. If you can, please come to <b>"Lunch with a Loved One" at Pattengill (Monday, May 15) or at Bryant (Tuesday, May 16),</b> where adults can purchase food, game, and raffle tickets (giving you more time to fill out your raffle tickets at home!). Can't make it to Lunch with a Loved One? Send in your order form and payment with your student <b>by May 16,</b> and your discounted tickets will be waiting for you at Ice Cream Social. A coupon for a free California Pizza Kitchen kids meal is included with each pre-order. Questions? Contact Kathy Brady at <a href="http://kathy.brady@bryantpattengill.org">kathy.brady@bryantpattengill.org</a></p>
<hr />
<p><span style="color: #008000"><b>Ice Cream Social: Featured Prizes, Food, &amp; Games </b></span>- The Bryant/Pattengill Ice Cream Social is <b>next Friday, May 19, 6:00-8:30pm at Pattengill,</b> rain or shine! This is our schools' largest FUNdraiser, so be sure to check out all the <a href="https://docs.google.com/spreadsheets/d/1zDzyy91Nokf9jH8L1UdQVxdAql-BTtaxA4tbv74sljE/edit#gid=0"><b>terrific raffle and silent auction prizes</b></a> available at the event. Find the perfect Father's Day gift, or a treat for the whole family! Silent auction items include two Georgetown Country Club family memberships, a 3-night getaway to The Homestead Resort in Glen Arbor, MI, Disney Park Hopper passes, a Trolley Pub pub crawl for up to 14 people, a 45-minute "Discovery Flight" in a 4-person plane, and U-M Homecoming football tickets. Raffle prizes include an Apple iPad mini 4, 32" Samsung LED TV, $100 bill, U-M basketball tickets, "Principal for the Morning" at Bryant and Pattengill, and much more! Grab some yummy eats at Ice Cream Social, such as Cherry Bee's froyo, Dairy Queen novelties, and Cottage Inn pizza. Games and activities include basketball mini hoops, putt-putt golf, karaoke, Revel &amp; Roll games, bounce houses, and the Cake Walk &mdash; which delicious treat will you bring home? See you there!</p>
<hr />
<p><span style="color: #008000"><b>A Big Thank You:</b></span> Thank you to coordinator <b>Laura Gultekin</b> and all of the families who made Teacher &amp; Staff Appreciation Week a success! Whether sending in a note, flower, or dessert, or helping with the lunch or dessert party, your efforts are appreciated. Teachers and Staff, thank you for providing such a wonderful learning environment for our children. We continue to appreciate the work you do each day!</p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities: </b></p>
<p><span style="color: #008000"><b>Ice Cream Social Volunteers Needed:</b></span> If you're able to run one of the games, sell food, donate a treat for the Cake Walk, or help with clean up on May 19, please sign up <a href="http://track.spe.schoolmessenger.com/f/a/3_PrgKSU2vHOjlPXAlRiwQ%7E%7E/AAAAAQA%7E/RgRa7EtXP0EIAOyE_V6giT9XB3NjaG9vbG1YBAAAAABCCgAD1xcLWYKE6SVSD2ttYnJhZHlAbWFjLmNvbQlRBAAAAABEeGh0dHBzOi8vZG9jcy5nb29nbGUuY29tL2EvYWFwcy5rMTIubWkudXMvZm9ybXMvZC9lLzFGQUlwUUxTY3VIRDczak52M1Z5b0xocjJlbVJRcmtXdFkzNllCeks5UTdkd2R5eFV0UHdUV1pRL2Zvcm1SZXNwb25zZUeseyJlbWFpbFNvdXJjZSI6IkNVU1RPTUVSX0pPQiIsInNlbnRUaW1lTXMiOiIxNDkzODk5MjEzNjg1Iiwic2hhcmRpZCI6IjMiLCJlbnYiOiJwcm9kIiwidXNlcmlkIjoiMTU1Iiwiam9iaWQiOiIzODYyMSIsInNlcXVlbmNlIjoiMTAiLCJwZXJzb25pZCI6IjI4NjgzIiwiY3VzdG9tZXJpZCI6IjIyMTQifQ%7E%7E">here</a>. <b>Responsible teens 7th grade and older are invited to volunteer, as well!</b> Questions? Contact Nancy Fulcher at nsfulcher2009@gmail.com.</p>
<hr />
<p><span style="color: #008000"><b>Volunteer Needed To Shadow Pattengill Field Day Coordinator:</b></span> We are looking for a 3rd Grade parent (preferably), to shadow coordinator Shannon Kotre for this year's Pattengill Field Day on <b>Friday, June 2 (rain date June 5),</b> and to consider coordinating next year's event. Thanks to Shannon, the work's pretty much done, we just need someone to take the lead next year. For more information, please contact PTO VP of Pattengill, Maggie Shee at: <a href="mailto:maggie.shee@bryantpattengill.org">maggie.shee@bryantpattengill.org</a>.</p>
<hr />
<p><b>Reminders:</b></p>
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop: </b></span>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>May </b></p>
<ul>
    <li>Mon, May 15: Lunch with a Loved One at Pattengill</li>
    <li>Tues, May 16: Lunch with a Loved One at Bryant</li>
    <li>Fri, May 19: Bryant/Pattengill Ice Cream Social, Pattengill, 6:00-8:30pm</li>
    <li>Mon, May 29: Memorial Day - <b><i>No School for Students</i></b>&nbsp;</li>
</ul>
<p><b>June</b></p>
<ul>
    <li>Fri, June 2: Pattengill Field Day (Raindate: Monday, June 5), 1:15-3:15pm</li>
    <li>Thurs, June 8: PTO Board Meeting, Bryant Media Center, 6-7:30pm</li>
    <li>Fri, June 9: Bryant Field Day (Raindate: Monday, June 12), 1:45-3:15pm</li>
    <li>
        Thurs, June 15: 2nd Grade Recognition Ceremony &amp; "Clap Out," Bryant Gym <i>(Families Welcome), </i>9:30am<br />
        5th Grade Promotion Ceremony, Pattengill Cafeteria <i>(Families Welcome), </i>2:00pm
    </li>
    <li>Fri, June 16: Flag Ceremony &amp; "Clap Out," Pattengill <i>(Families Welcome), </i>9:00am. <b>Last Day of School, </b><b><i>Early Release at 11:53am</i></b>. Report Cards Go Home.</li>
</ul>
<hr />
<p><b>Stay Connected</b></p>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<hr />
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2017/05/11/thursday-notes-5-11-17/2017-ics-poster-2-thnotes/" rel="attachment wp-att-2476"><img data-attachment-id="2476" data-permalink="https://www.bryantpattengill.org/2017/05/11/thursday-notes-5-11-17/2017-ics-poster-2-thnotes/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/05/2017-ICS-poster-2-ThNotes.png?fit=433%2C603&amp;ssl=1" data-orig-size="433,603" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2017 ICS poster 2 ThNotes" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/05/2017-ICS-poster-2-ThNotes.png?fit=215%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/05/2017-ICS-poster-2-ThNotes.png?fit=433%2C603&amp;ssl=1" class="alignnone size-medium wp-image-2476" src="https://i1.wp.com/bryantpattengill.org/wp-content/uploads/2017/05/2017-ICS-poster-2-ThNotes-215x300.png?resize=215%2C300" alt="" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/05/2017-ICS-poster-2-ThNotes.png?resize=215%2C300&amp;ssl=1 215w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2017/05/2017-ICS-poster-2-ThNotes.png?w=433&amp;ssl=1 433w" sizes="(max-width: 215px) 100vw, 215px" data-recalc-dims="1" pagespeed_url_hash="3785106938"  /></a></p>