@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><span style="color: #008000">Do You Speak Portuguese and Are Willing To Tutor?</span></li>
    <li><span style="color: #008000">Check Out Mrs. Dawson's Project Lead the Way Blog</span></li>
    <li><span style="color: #008000">Save The Date: Parent &amp; Volunteer Appreciation Night</span></li>
    <li><span style="color: #008000">Thank You Read-A-Thon &amp; Science Night Volunteers</span></li>
    <li><span style="color: #008000">Mark Your Calendars for International Festival at Pattengill</span></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><span style="color: #008000">Looking To Volunteer?</span></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><span style="color: #008000">Don't Forget To Show Your Support for Science Olympiad: Ends <span class="aBn"><span class="aQJ">Saturday</span></span></span></li>
    <li><span style="color: #008000">New Date for Pizza with the Principals</span></li>
</ul>
<h6>Mark Your Calendars</h6>
<h6> Stay Connected</h6>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<h6>In This Issue</h6>
<p dir="ltr"><span style="color: #008000">Do You Speak Portuguese? Would You Be Willing To Tutor?</span> Bryant and Pattengill are in need of Portuguese tutors for our students. We are looking for parents that are interested in volunteering or becoming a paid tutor through Ann Arbor Public Schools. Questions? Contact ELL teacher Marla Metler: <a href="mailto:metlerm@aaps.k12.mi.us" target="_blank">metlerm@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Check Out Mrs. Dawson's Project Lead The Way Blog:</span> PLTW teacher Mrs. Dawson shares lots of exciting information about the STEM curriculum and what's happening in the PLTW Classroom on her <a href="http://dawsonpltw.blogspot.com/" target="_blank">Blog</a>. Check it out!</p>
<hr />
<p dir="ltr"><span style="color: #008000">Save the Date: Parent &amp; Volunteer Appreciation Night -</span> This year's Bryant/Pattengill Parent &amp; Volunteer Appreciation Night is <span class="aBn"><span class="aQJ">Tuesday, April 19</span></span>, <span class="aBn"><span class="aQJ">6-7:30pm</span></span> in Bryant's Media Center. This event allows the Bryant/Pattengill staff to show their appreciation to ALL of our parent and community volunteers. If you have volunteered in the classroom, assisted on a field trip, coordinated events, tutored students, participated in the PTO, etc., please add this date/time to your calendar and come and join us! Questions? Contact Mrs. Lim:<a href="mailto:lims@aaps.k12.mi.us" target="_blank"> lims@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Thank You Read-A-Thon &amp; Science Night Volunteers:</span> Thank you to Carmen Atkins, Jennifer Nguyen and the rest of the Read-A-Thon volunteers for all of their hard work and efforts in putting on a very successful Read-A-Thon! Our Bryant and Pattengill students read for a total of 5,171 hours during Read-A-Thon and raised much-needed funds for our schools &mdash; awesome!</p>
<p dir="ltr">Kudos to Charlita Daniels and Kathy Owens for coordinating a successful Family Science Night on Tuesday. Thank you to the rest of the team: parent volunteers, Pioneer High School chemistry student volunteers, and the Hands-On Museum staff. The children (and parents) enjoyed exploring all of the fun and exciting experiments!</p>
<hr />
<p dir="ltr"><span style="color: #008000">Mark Your Calendars for International Festival:</span> The B/P annual International Festival will be held at Pattengill this year, on <span class="aBn"><span class="aQJ">Thursday, April 28</span></span>, 6:30-8:30pm. This wonderful event showcases our school community's rich diversity. This year's theme is "Artists Around the World." Please consider not only attending, but possibly volunteering as well &mdash; visit the sign-up sheet<a href="https://docs.google.com/spreadsheets/d/1jIV5S6LDc8fWJGlDPgjQRKbNksm4tcXy2a-5IDatPq4/edit#gid=0" target="_blank"> here</a> to help out where you can. Would your child like to participate in the fashion show? Can you bring a dish from another country or help with one of our many activity stations? We look forward to celebrating our diversity together as one commUNITY!</p>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><span style="color: #008000"> Looking To Volunteer?</span> There is an opportunity for ALL B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. Please visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<h6>Reminders</h6>
<p dir="ltr"><span style="color: #008000"> Don't Forget To Show Your Support for Science Olympiad:</span> Shop at PTO Thrift Shop- Show your support for Bryant/Pattengill's Science Olympiad team through <span class="aBn"><span class="aQJ">this Saturday</span></span> at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. For every $5 spent at the PTO Thrift Shop, shoppers earn a token. Then cast your tokens in support of our Science Olympiad teams. Spread the word to friends and family and let's SHOW OUR SUPPORT for our schools! See the flier below for store hours.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Pizza with the Principals:</span> Join Mrs. Heyward and Mrs. Alston for an informal chat at Pizza with the Principals, rescheduled for <span class="aBn"><span class="aQJ">Tuesday, April 26</span></span>, 6:15-7:15pm at the Bryant Community Center, located at 3 W. Eden Court.</p>
<hr />
<h6> Mark Your Calendars</h6>
<p dir="ltr">To view the full 2015-201<span class="aBn"><span class="aQJ">6</span></span> school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong>March</strong></p>
<ul>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Fri, Mar. 25</span></span>: NO SCHOOL &mdash; Good <span class="aBn"><span class="aQJ">Friday</span></span></p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Mar. 29</span></span>: Pattengill Spring Pictures</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Mar. 29</span></span>: 4th Grade Spring Recorder Concert, Pattengill, <span class="aBn"><span class="aQJ">7pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Wed, Mar. 30</span></span>: Bryant Spring Pictures</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Thurs, Mar. 31</span></span>: Disability Awareness Workshop at Pattengill for 4th Grade (morning) and 5th Grade (afternoon)</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Thurs, Mar. 31</span></span>: School Improvement Team (SIT) Meeting, Pattengill, <span class="aBn"><span class="aQJ">4:30pm</span></span> *NEW DATE*</p>
    </li>
</ul>
<h6>April</h6>
<ul>
    <li>
        <p dir="ltr">Mon - <span class="aBn"><span class="aQJ">Fri, Apr. 4-8</span></span>: Spring Break - No School for Students</p>
    </li>
    <li>
        <p dir="ltr">Mon, Apr. 11: School Resumes</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Thurs, Apr. 14</span></span> Kindergarten Registration and Readiness, Bryant Gym (by Appointment), <span class="aBn"><span class="aQJ">9am-2pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 14: PTO Executive Board Meeting, Bryant Media Center, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Tues, Apr. 19: Volunteer Appreciation Night, Bryant (ALL Family Volunteers Welcome), <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, <span class="aBn"><span class="aQJ">7-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Fri,, Apr. 22: Earth Day of Service (ALL Parents Welcome to Volunteer at Schools)</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Apr. 26</span></span>: Pizza with the Principals, Bryant Community Center, <span class="aBn"><span class="aQJ">6:15-7:15pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 28: International Festival, Pattengill, <span class="aBn"><span class="aQJ">6:30-8:30pm</span></span></p>
        <hr />
        <h6>Stay Connected</h6>
    </li>
</ul>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr"> Submissions for <span class="aBn"><span class="aQJ">Thursday</span></span> Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T" src="https://lh6.googleusercontent.com/jmfE3e1hOoBSCCC_6pgX_f7xKMsWbtEeI31DYUzBx-Lt65csQtXXPe2ZFPqn8tdwvXsUihHAzCrVu0G33QapUXVUPtz6CL_4NsZN7slDAkL3fa_mtbvjAkCG7Qx4CHZb7B1BVbmn" alt="Snap 2016-03-07 at 09.49.55.png" width="184" height="241" pagespeed_url_hash="467560736"  /><img class="CToWUd a6T" src="https://lh5.googleusercontent.com/67CA_towaOcmyXcL49Fc-FFvc3FPXlsLNkR2YFifzyXmZnp2g0rQ95B53ITNa6vXskzl9Eo8qWzxo7d3NW5lsdM1iyx77ZodpqWXkattHXIVLwDIA13M00jcZOcM--y8OGJxKx1N" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="1831502152"  /></p>