@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5><b>In This Issue:</b></h5>
<ul>
    <li><span style="color: #008000"><b>NWEA Winter Testing Begins Right After Winter Break</b></span></li>
    <li><span style="color: #008000"><b>Being Prepared for Cold Weather</b></span></li>
    <li><span style="color: #008000"><b>Notes From Bryant's Front Office</b></span></li>
    <li><span style="color: #008000"><b>Many Thanks from Pattengill Book Fair</b></span></li>
    <li><span style="color: #008000"><b>Note from the PTO Fundraising Coordinator</b></span></li>
    <li><span style="color: #008000"><b>Thursday Notes Will Return January 12</b></span></li>
</ul>
<h6><b>Help Wanted: Volunteer Opportunities</b></h6>
<ul>
    <li><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up</b></span></li>
</ul>
<h6><b>Reminders:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Pattengill Girls on the Run Is Back</b></span></li>
    <li><span style="color: #008000"><b>Shop Amazon for the Holidays and Earn Money for B/P</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h6><b>Mark Your Calendars</b></h6>
<h6><b>Stay Connected</b></h6>
<p><span id="more-2353"></span></p>
<h6>
    <b>In This Issue</b>
</h6>
<p><b><span style="color: #008000">NWEA Winter Testing Begins Right After Winter Break:</span> </b>NWEA testing in Math &amp; Reading for grades K-5 begins Tuesday, Jan. 10-Tuesday, Feb. 10. Classroom teachers will notify you when your student(s) are testing in the computer lab.</p>
<hr />
<p><b><span style="color: #008000">Being Prepared for Cold Weather:</span> </b>Students should be dressed warmly with coats, snow pants, hats, mittens, scarves, and boots. Unless there is inclement weather, we go outside daily to ensure that our students get fresh air and plenty of physical activity!</p>
<hr />
<p><b><span style="color: #008000">Notes from Bryant's Front Office</span>: </b><b>1.</b> Bryant's Martin Luther King Assembly is <b>Thursday, Jan. 12, at 9:30am</b> in the Bryant Gym. <b>2</b>. A HUGE thanks to all of the families that supported the Snow Angels program at both schools. Many families were fortunate to receive lots of wonderful gifts because of your generosity! <b>3. </b>In the event of students getting wet in the snow, it is always good to pack an extra pair of clothing in your child's backpack during the winter months.</p>
<hr />
<p><span style="color: #008000"><b>Many Thanks from Pattengill Book Fair:</b></span> Pattengill's Book Fair was once again a great success, thanks to the many volunteers who stepped up to the plate! Special thanks to Maggie Shee for co-chairing this year. With your help and generous shopping from the students and families, we were able to raise over $1,000. This will be used to keep putting new books in the hands of your favorite readers! Yay! Much appreciation &mdash; Mrs. Schreck.</p>
<hr />
<p><span style="color: #008000"><b>Note from the PTO Fundraising Coordinator:</b> </span>The PTO would like to thank our school community for your participation in our schools' fundraising efforts this fall. We look forward to more great FUNdraising events in 2017, as we'll turn our focus to two main annual efforts &mdash; Read-A-Thon in March and Ice Cream Social when the days are warm again. As 2016 comes to a close, we are on target with our PTO Dues goal. Thank you to all families who were able to contribute. If you'd like to donate to the B/P PTO as part of your tax-deductible end-of-year giving, you may do so <a href="https://bryantpattengill.org/donate/#annual-dues">online here</a>. We're also thankful for the support we receive from local businesses. Namely, <b>Cottage Inn's</b> commitment to an ongoing relationship when our events call for awesome pizza, the fantastic contribution from <b>Revel &amp; Roll</b> through our Election Day event, and <b>Target</b> recently donated holiday gift cards that several lucky B/P teachers won for classroom supplies. If you frequent these businesses, please mention that you're a Bryant/Pattengill family and appreciate their support of our schools. Thank you to all in our community ~ Amanda Shutko, Fundraising Coordinator</p>
<hr />
<p><b><span style="color: #008000">Thursday Notes Will Return January 12:</span> </b>Have a wonderful Winter Break, and a safe and Happy Holiday!</p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b> T</span>he PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<p><b>Reminders:</b></p>
<p><b><span style="color: #008000">Pattengill Girls on the Run Is Back:</span> </b><a href="http://www.girlsontherunsemi.org/">Girls on the Run</a> is an after-school program with a fun focus on positive emotional, social, mental, and physical development for girls in grades 3-5. Pattengill's team needs additional coaches for the spring season. <b>You don't have to be a runner to be a coach.</b> Parents, teachers, students, and other community members can coach! <a href="https://drive.google.com/file/d/0B-_iHxypfI5bVTZIaG1velh6UnM/view?usp=sharing">Click here</a> for more information, or email Elizabeth at <a href="mailto:crowdecoder@gmail.com">crowdecoder@gmail.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>Shop Amazon for the Holidays and Earn Money for B/P:</b></span> Attention Shoppers! Your family can earn money for our schools this holiday season simply by shopping at<a href="blank"> <b>smile.Amazon.com</b></a>. Go to<a href="blank"> smile.Amazon.com</a> and choose the Bryant/Pattengill PTO as your charitable organization. Then shop using your Amazon account as you normally would&#8230;it's that easy! Other participating businesses include Kroger, Office Depot/Office Max, and Busch's. <a href="blank">Click here</a> for instructions on how you can participate in our Shopper Loyalty Program - the easiest way to raise money for our PTO! Questions? Contact Amanda Shutko at amanda.shutko@bryantpattengill.org. Thanks for your participation!</p>
<hr />
<p><b><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span>: </b>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>December 2016</b></p>
<ul>
    <li>Thurs, Dec 22: Tappan Band &amp; Choir Concert at Pattengill Cafeteria, Time TBD</li>
    <li>Fri, Dec 23 - Jan 6: Winter Break - <b><i>No School for Students</i></b></li>
</ul>
<p><b>January 2017</b></p>
<ul>
    <li>Mon, Jan 9: School Resumes</li>
    <li>Thurs, Jan 12: MLK Day Assembly at Bryant, 9:30am, Bryant Gym</li>
    <li>Mon, Jan 16: Martin Luther King Jr. Day - <i>No School for Students</i></li>
    <li>Wed, Jan 18: Pattengill Talent Show Tryouts</li>
    <li>Thurs, Jan 19: Pattengill Yearbook Group Pictures</li>
    <li>
        Thurs, Jan 26: PTO Executive Board Meeting, 6-7:30pm, Bryant Media Center<br />
        <hr />
    </li>
</ul>
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2016/12/01/thursday-notes-12-1-16/bryant-pattengill-december-19-23-flyer-001/" rel="attachment wp-att-2341"><img data-attachment-id="2341" data-permalink="https://www.bryantpattengill.org/2016/12/01/thursday-notes-12-1-16/bryant-pattengill-december-19-23-flyer-001/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?fit=792%2C612&amp;ssl=1" data-orig-size="792,612" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="bryant-pattengill-december-19-23-flyer-001" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?fit=300%2C232&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?fit=474%2C366&amp;ssl=1" class="alignnone  wp-image-2341" src="https://i2.wp.com/bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001-300x232.jpeg?resize=243%2C188" alt="bryant-pattengill-december-19-23-flyer-001" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?resize=300%2C232&amp;ssl=1 300w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?resize=768%2C593&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/bryant-pattengill-December-19-23-flyer.001.jpeg?w=792&amp;ssl=1 792w" sizes="(max-width: 243px) 100vw, 243px" data-recalc-dims="1" pagespeed_url_hash="944970864"  /></a><a href="/2016/12/09/2344/2017_flyer_mlk-invitation/" rel="attachment wp-att-2345"><img data-attachment-id="2345" data-permalink="https://www.bryantpattengill.org/2016/12/09/2344/2017_flyer_mlk-invitation/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?fit=1750%2C2250&amp;ssl=1" data-orig-size="1750,2250" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2017_flyer_mlk-invitation" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?fit=233%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?fit=474%2C610&amp;ssl=1" class="alignnone  wp-image-2345" src="https://i0.wp.com/bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation-233x300.png?resize=188%2C242" alt="2017_flyer_mlk-invitation" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?resize=233%2C300&amp;ssl=1 233w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?resize=768%2C987&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?resize=796%2C1024&amp;ssl=1 796w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?w=948 948w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/12/2017_Flyer_MLK-invitation.png?w=1422 1422w" sizes="(max-width: 188px) 100vw, 188px" data-recalc-dims="1" pagespeed_url_hash="2846739731"  /></a></p>