@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Halloween Reminders</li>
    <li>Bowling on Election Day, November 4</li>
    <li>5<sup>th</sup> Grade Camp: November 5-7</li>
    <li>Thank You, Thank You!</li>
    <li>Power of Drawing and Chess Classes Start in November</li>
    <li>Get To Know the AAPS Board of Education Candidates</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Bryant Art News</li>
    <li>Restaurant Day: November 17</li>
    <li>AmazonSmile Earns Money for B/P</li>
    <li>B/P Grad Success Stories Wanted</li>
    <li>Shop for Our Schools</li>
    <li>PTO Thrift Shop</li>
</ul>
<p><span id="more-434"></span></p>
<hr />
<p><strong>Halloween Reminders:</strong> Please remember that students are <strong>not permitted</strong> to wear costumes during the school day. Many classes will be participating in harvest parties that include fun academic activities. If your child's class is having a harvest party, please e-mail the teacher to check if additional assistance is still needed.</p>
<p>If you are taking your child(ren) trick-or-treating, the Center for Disease Control has provided some helpful safety tips (<a href="http://www.cdc.gov/family/halloween/" target="_blank" rel="noreferrer">more tips</a> on the CDC website):</p>
<ul>
    <li><strong>Fasten reflective tape</strong> to costumes and bags to help drivers see your child.</li>
    <li><strong>Examine all treats</strong> for choking hazards and tampering. Limit the amount of treats consumed.</li>
    <li><strong>Hold a flashlight</strong> while trick-or-treating to help with visibility. Always WALK, don't run from house to house.</li>
    <li><strong>Test make-up </strong>in a small area first. Remove it before bedtime to prevent possible skin and eye irritation.</li>
    <li><strong>Eat only factory-wrapped treats</strong>. Avoid eating homemade treats made by strangers.</li>
</ul>
<hr />
<p><strong>Bowling on Election Day! </strong>There's <strong>no school on Tuesday, Nov. 4</strong>, so plan to take your student(s) to <strong>Colonial Lanes</strong> for some bowling fun and FUNdraising. Between <strong>11am-3pm only</strong>, Colonial Lanes (1950 S. Industrial Hwy.) is offering 2 hours of bowling and shoe rental for $8/person, part of which is donated to our PTO. A parent or guardian must be present with each student. Our schools will also receive 20% of your bill from CUBS AC, the restaurant in Colonial Lanes, the entire day on 11/4. Invite your friends and family to join in the fun, too - more bowlers and diners means more money for our schools! If you aren't able to dine in or bowl, you can order take-out by calling CUBS AC at (734) 665-4474.</p>
<figure id="attachment_470" style="width: 231px" class="wp-caption aligncenter"><a href="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/11/2014ElectionDayColonialLanesPoster.jpg"><img data-attachment-id="470" data-permalink="https://www.bryantpattengill.org/2014/11/03/no-school-november-4th-support-your-school-by-bowling/2014electiondaycoloniallanesposter/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014ElectionDayColonialLanesPoster.jpg?fit=1275%2C1650&amp;ssl=1" data-orig-size="1275,1650" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014ElectionDayColonialLanesPoster" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014ElectionDayColonialLanesPoster.jpg?fit=232%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014ElectionDayColonialLanesPoster.jpg?fit=474%2C614&amp;ssl=1" class="size-medium wp-image-470" src="/wp-content/uploads/2014/11/2014ElectionDayColonialLanesPoster-231x300.jpg?resize=231%2C300" alt="Colonial Lanes Poster" data-recalc-dims="1" pagespeed_url_hash="2422587792"  /></a><figcaption class="wp-caption-text">Colonial Lanes Poster</figcaption></figure>
<hr />
<p><strong>5th Grade Camp: November 5-7 -</strong> It's almost time for our 5th graders to head to camp! A letter with information and another copy of the packing list will be sent home this week. Remember to check the weather and pack accordingly. Questions? Contact Barbara Zimdars, 5th Grade Camp Chair at <a href="mailto:zimdars@comcast.net" rel="noreferrer">zimdars@comcast.net</a>.</p>
<hr />
<p><strong>Thank You, Thank You!</strong> Have you checked out our awesome new website, <strong><a href="/" target="_blank" rel="noreferrer">bryantpattengill.org</a></strong>? Know who keeps the information updated and relevant? Dad extraordinaire <strong>John Corey</strong>, that's who. Thanks, John, for helping us week after week. We love the new look!</p>
<hr />
<p>Thanks to everyone who attended this year's first "Coffee with the Principals" on Oct. 22. It was a wonderful opportunity for our parents to connect. A special "shout-out" to <strong>Ruth Hamstra</strong> for hosting the event! Mark your calendars for the next Coffee with the Principals on<strong> March 18, 9-10am and 6-7pm</strong>.</p>
<hr />
<p>Did you know that over <strong>125 families joined us for Movie Night</strong>? This event couldn't have happened without all our wonderful parent &amp; high school volunteers: Oscar Alcaine, Valeska Bass, Kathy Brady, Megan Brown, Charlita Daniels, Kristi Henry, Alyssa Jones, Kate Jurevicius, Tiffany Marra, Cathy Martin, Fabiana Martins, Dave Nelson, Dhruvesh Patel, Deborah Paul-McDonald, Haiyan Pei, Mich Rasulis, Rochelle Rayford, Leticia Sanchez-Perez, Sara Saylor, Kristi Shaffer, Stephanie Suchala, and Henry Zhao.</p>
<hr />
<p>Mark your calendars for our next special event: <strong>Math Night! Wednesday, December 10, 6:30-8pm</strong>.</p>
<hr />
<p><strong>Power of Drawing and Chess After-School Classes Start in November:</strong> Rec &amp; Ed's after-school classes are designed for your child to develop friendships while learning through fun. Children enjoy directed activities that support exploration and achievement. The second sessions of Power of Drawing and Chess classes begin in November. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEZVkyMDBYbHJtUkE/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for more information.</p>
<hr />
<p><strong>Get To Know the AAPS Board of Education Candidates:</strong> Election day is Tuesday, Nov. 4 (no school for students). Be prepared to vote in 4 new members of the AAPS School Board, from the 10 eligible candidates. <a href="http://annarborchronicle.com/2014/10/20/live-audio-aaps-candidate-forum/" target="_blank" rel="noreferrer">Click here</a> for audio files of the BOE Candidates' Forum, held on Oct. 20. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZET25JaFg1VnlyQm8/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a>for written responses from the BOE candidates, to questions posed by the AAPS PTO Council.</p>
<hr />
<h2><strong>Reminders</strong></h2>
<p><strong>Bryant Art News:</strong> Jennifer Sullivan will be available to conference with parents on Thursday, October 30 from 4-6pm. You can contact her at <a href="mailto:maerzsullivanj@aaps.k12.mi.us" rel="noreferrer">maerzsullivanj@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Restaurant Day: November 17 at Elevation Burger -</strong> Dine in or take out with family, friends, co-workers, or teammates from <strong>11am-9pm on Monday, Nov. 17 at Elevation Burger</strong> (3365 Washtenaw Ave., Ann Arbor). Elevation Burger is owned by parents in our B/P community, and will donate 25% of your bill to our schools when you show <a title="Restaurant Day: Nov. 17 at Elevation Burger" href="/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014.pdf" target="_blank" rel="noreferrer">this flyer</a>.</p>
<figure id="attachment_477" style="width: 300px" class="wp-caption aligncenter"><a href="/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014.pdf"><img data-attachment-id="477" data-permalink="https://www.bryantpattengill.org/fundraising/restaurant-day-nov-17-at-elevation-burger/elevation_burger_11-17-2014/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014.jpg?fit=1717%2C1326&amp;ssl=1" data-orig-size="1717,1326" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Elevation_Burger_11-17-2014" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014.jpg?fit=300%2C232&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014.jpg?fit=474%2C366&amp;ssl=1" class="size-medium wp-image-477" src="/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014-300x231.jpg?resize=300%2C231" alt="Elevation Burger Flyer" data-recalc-dims="1" pagespeed_url_hash="3174972880"  /></a><figcaption class="wp-caption-text">Elevation Burger Flyer</figcaption></figure>
<hr />
<p><a href="http://smile.amazon.com/ch/38-3575065" target="_blank"><img data-attachment-id="382" data-permalink="https://www.bryantpattengill.org/fundraising/amazonsmiles/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" data-orig-size="310,260" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="AmazonSmile" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=300%2C252&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" class="aligncenter size-full wp-image-382" src="/wp-content/uploads/2014/10/AmazonSmiles.jpg?resize=310%2C260" alt="AmazonSmile" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?w=310&amp;ssl=1 310w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?resize=300%2C252&amp;ssl=1 300w" sizes="(max-width: 310px) 100vw, 310px" data-recalc-dims="1" pagespeed_url_hash="1673509078"  /></a></p>
<p><strong>Smile! Now you can shop Amazon.com and earn money for Bryant/Pattengill:</strong> Visit <a href="http://smile.amazon.com/ch/38-3575065" target="_blank" rel="noreferrer">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charitable organization of choice. Amazon will donate 0.5% of your eligible purchases to our schools. Get a head start on your holiday shopping and start earning for B/P today!</p>
<hr />
<p><strong>Looking for Bryant/Pattengill grads: </strong>Know a former B/P student who attends U of M or Michigan State? Contact <a href="mailto:info@bryantpattengill.org" rel="noreferrer">info@bryantpattengill.org</a> to suggest someone who might be showcased on our new PTO website.</p>
<hr />
<p><strong>Attention Grocery Shoppers!</strong> Do your shopping at<strong> Busch's, Kroger, Hiller's, Meijer, Target, GFS Marketplace, </strong>or <strong>The Produce Station</strong>, and earn money for our schools! For more information, <a title="Grocery SCRIP" href="/fundraising/grocery-scrip/" rel="noreferrer">click here</a>. Happy shopping! Questions? Contact Alicia Davis at <a href="mailto:alicia972@hotmail.com" rel="noreferrer">alicia972@hotmail.com</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_389" style="width: 189px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg"><img data-attachment-id="389" data-permalink="https://www.bryantpattengill.org/2014/10/23/thursday-notes/2013-14-a2pto-promo-3-mini/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" data-orig-size="189,300" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Shop at Ann Arbor PTO Thrift Shop" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" class="size-full wp-image-389" src="/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?resize=189%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" data-recalc-dims="1" pagespeed_url_hash="2182512169"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>November</strong></p>
<ul>
    <li>Tues. Nov. 4: Election Day - <strong>No School for Students</strong></li>
    <li>Tues. Nov. 4: Bowling at Colonial Lanes, 1950 S. Industrial Hwy., 11am-3pm</li>
    <li>Wed. Nov. 5 - Fri. Nov. 7: Fifth Grade Camp</li>
    <li>Wed. Nov. 12: Bryant Picture Retakes</li>
    <li>Thurs. Nov. 13: Pattengill Picture Retakes</li>
    <li>Thurs. Nov. 13: PTO Executive Board Meeting, Pattengill Media Center, 7-8pm</li>
    <li>Fri. Nov. 14: Charleston Wraps Pick Up</li>
    <li>Mon. Nov. 17: Restaurant Day at Elevation Burger, 11am-9pm, 3365 Washtenaw Ave., Ann Arbor. <a href="/wp-content/uploads/2014/11/Elevation_Burger_11-17-2014.pdf" target="_blank" rel="noreferrer">Download flyer here</a>.</li>
    <li>Mon. Nov. 17 - Wed. Nov. 19: Clothing Drive at Bryant, 8:30-10am and 2-4pm</li>
    <li>Mon. Nov. 24: Report Cards Go Home</li>
    <li>Wed. Nov. 26 - Fri. Nov. 28: Thanksgiving Break - No School for Students</li>
</ul>
<p><strong>December</strong></p>
<ul>
    <li>Tues. Dec. 9 - Fri. Dec. 12: Pattengill Book Fair</li>
    <li>Wed. Dec. 10: Pattengill Book Fair Family Night, 6-8pm</li>
    <li>Wed. Dec. 10: Family Math Night, Pattengill Cafeteria, 6:30-8pm</li>
    <li>Dec. 22 - Jan. 4: Winter Break - <strong>No School for Students</strong></li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>
