@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>Bryant/Pattengill Thursday Notes: December 11, 2014</strong></p>
<p><strong>In this issue:</strong></p>
<ul>
    <li>Restaurant Day Is TODAY</li>
    <li>Lunch with Loved Ones</li>
    <li>1<sup>st</sup> Graders Present "The Nutcracker"</li>
    <li>Pattengill Group/Club Yearbook Photos</li>
    <li>Bryant Media Center News</li>
    <li>Bryant Art News</li>
    <li>New Date for Bryant Parent Meeting</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Pattengill Science Fair</li>
    <li>Girls on the Run Coaches Needed</li>
    <li>Cold Is Cool</li>
    <li>Earn Money for B/P with AmazonSmile</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p>&nbsp;</p>
<hr />
<p><strong>In this issue</strong></p>
<p><span id="more-980"></span></p>
<p><strong>Restaurant Day Is TODAY:</strong> Let's set a new Restaurant Day record by raising at least $452 for our schools today! Visit <strong>California Pizza Kitchen in Briarwood Mall today, Thursday, Dec. 11, between 11am-9pm</strong>. Present the attached flyer and CPK will donate 20% of your bill to our schools. Why not order CPK take-out to bring with you for Lunch with Loved Ones at Bryant today? Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<p><a href="/wp-content/uploads/2014/12/CPKfundraiser-1.pdf">California Pizza Kitchen flyer</a></p>
<hr />
<p><strong>Lunch with Loved Ones: </strong>Dine with your child during his/her scheduled lunch period for the <strong>Proud Dads Club's "Lunch with Loved Ones" at Bryant today, Thursday, Dec. 11, and at Pattengill on</strong> <strong>Friday, Dec. 12</strong>. Loved ones may purchase a school lunch or provide their own. Reminder: B/P schools are NO NUT buildings. Questions? Contact Kwame Hooker at <a href="mailto:kwamehooker@sbcglobal.net" rel="noreferrer">kwamehooker@sbcglobal.net</a>.</p>
<hr />
<p><strong>Save the Date! Bryant 1<sup>st</sup> Graders Present "The Nutcracker": </strong>On <strong>Tuesday, Dec. 16</strong>, Mrs. Lim's 1<sup>st</sup> grade class will present "The Nutcracker." Mrs. Lim, Mrs. Krohn, and the students have been having lots of fun preparing their own adaptation of Peter Tchaikovsky's timeless ballet and would love to share all of their hard work with you! There will be two shows on Dec. 16: <strong>2:30pm and 6:30pm </strong>in Bryant's Multi-Purpose (lunch) Room. You are welcome to attend either, however space may be limited. The show will last no longer than 30 minutes, so get into the spirit of the season and come out to support some of our fabulous Bryant 1<sup>st</sup> graders!</p>
<p><a href="/wp-content/uploads/2014/12/NutcrackerPoster.pdf">The Nutcracker Poster</a></p>
<hr />
<p><strong>Pattengill Group/Club Yearbook Photos:</strong> Pattengill students participating in Scouts, Student Council, Safety Patrol, etc. will have a yearbook group photo taken on <strong>Thursday, Dec. 18</strong>. If your child has a uniform for any club, please allow him/her to wear it on 12/18.</p>
<hr />
<p><strong>Bryant Media Center News:</strong> Here are two ways you can donate to the media center &mdash; not just at the holidays, but all year round!</p>
<ol>
    <li><strong>Buy from our Amazon wishlist.</strong> You can find the link on our Donate page (<a href="http://bryantmc.weebly.com/donate.html" target="_blank" rel="noreferrer">http://bryantmc.weebly.com/donate.html</a>). The book will be sent right to the library! We'll make a book plate with your name on it and put it in the front of the book, to honor your contribution. This is a great birthday commemoration.</li>
    <li><strong>Donate used books.</strong> If you have books you are done reading, the Bryant Library is always looking for gently used donations from chapter book series! We accept any donations in good condition.</li>
</ol>
<p>The library thanks you! Questions? Contact Mrs. Idzikowski at <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a></p>
<hr />
<p><strong>Bryant Art News: </strong>Mrs. Sullivan is in need of brown paper bags with handles. The bags will be used to pass artwork back to students next week. Thank you! Also, check out Bryant's art website at <a href="http://bryantarted.weebly.com/" target="_blank" rel="noreferrer">http://bryantarted.weebly.com/</a>.</p>
<hr />
<p><strong>New Date for Bryant Parent Meeting:</strong> Due to Tuesday's power outage, the Technology iPad Initiative parent meeting has been rescheduled for<strong>Thursday, January 8 at 6:00pm</strong> in Bryant's Multi-Purpose (lunch) Room. We will discuss the rollout of student iPads, the various applications that can be used, security measures, and how this technology initiative will look in our classrooms. Childcare will be provided.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Pattengill Science Fair</strong><strong>:</strong> Registration forms are due <strong>Friday, Dec. 12</strong> for Pattengill students interested in participating in the Science Fair. Please encourage your child to explore a subject of interest or learn about something new. The Science Fair will be held on <strong>Thursday, Feb. 26, 2015</strong>, from 6:00-7:30pm. Questions? Contact Mrs. Kimmey at <a href="mailto:kimmeye@aaps.k12.mi.us" rel="noreferrer">kimmeye@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Girls on the Run (GOTR) Coaches Needed:</strong> GOTR is an after-school program for girls in grades 3-5, beginning in March. Volunteers are needed to join the GOTR coaching team at Pattengill. Coaches don't need to be runners, just passionate about helping girls learn to express themselves, make good choices, and create healthy habits. <a href="http://www.girlsontherunsemi.org/get-involved/coach" target="_blank" rel="noreferrer">Click here for more information</a>, or contact Stephanie Carlson at <a href="mailto:stephanie@carlsoncentral.com" rel="noreferrer">stephanie@carlsoncentral.com</a>.</p>
<hr />
<p><strong>Cold Is Cool:</strong> Every 4th and 5th grader in Michigan now has the opportunity to <strong>ski for free this winter</strong>, thanks to the Michigan Snowsports Industries Association. Students can obtain a "Cold is Cool" Ski &amp; Ride Passport that gives them up to three free lift tickets or trail passes at 27 participating ski areas, plus additional discounts on the slopes and in Michigan ski shops. <a href="http://www.goskimichigan.com/michigan-ski-programs/michigan-ski-cold-is-cool" target="_blank" rel="noreferrer">Click here for more information and an application</a>.</p>
<hr />
<p><strong>Earn money for our schools with AmazonSmile:</strong> Visit <a href="http://smile.amazon.com/" target="_blank" rel="noreferrer">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charitable organization of choice. Amazon will donate 0.5% of your eligible purchases to our schools. Earn money for Bryant/Pattengill while you do your holiday shopping!</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<p><a href="/wp-content/uploads/2014/12/2014-15-A2PTO-Promo-1.pdf">2014-15 A2PTO Promo Flyer</a></p>
<p>&nbsp;</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>December</strong></p>
<ul>
    <li>Tues. Dec. 9 - Thurs. Dec. 11: Pattengill Book Fair</li>
    <li>Thurs. Dec. 11: Lunch with Loved Ones at Bryant</li>
    <li>Thurs. Dec. 11: Restaurant Day at California Pizza Kitchen, 11am-9pm</li>
    <li>Fri. Dec. 12: Lunch with Loved Ones at Pattengill</li>
    <li>Fri. Dec. 12: Pattengill Science Fair Registration Forms Due</li>
    <li>Fri. Dec. 12: Volunteers Sort Snow Angel Gifts</li>
    <li>Mon. Dec. 15: Contacted Families May Pick-Up Snow Angel Gifts</li>
    <li>Tues. Dec. 16: "The Nutcracker," 2:30 and 6:30pm, Bryant Multi-Purpose Room</li>
    <li>Thurs. Dec. 18: Group/Club Yearbook Photos at Pattengill</li>
    <li>Dec. 22 - Jan. 4: Winter Break - <strong>No School for Students</strong></li>
</ul>
<p><strong>January</strong></p>
<ul>
    <li>Mon. Jan. 5: School Resumes</li>
    <li>Thurs. Jan. 8: Technology iPad Initiative Parent Meeting, 6pm, Bryant Multi-Purpose (lunch) Room</li>
    <li>Tues. Jan. 13: PTO Executive Board Meeting, 7pm, Bryant Media Center</li>
    <li>Fri. Jan. 16: Pattengill Talent Show Try-Outs</li>
    <li>Mon. Jan. 19: Martin Luther King Jr. Day - <strong>No School for Students</strong></li>
    <li>Mon. Jan. 26: K-12 Professional Development Day -<strong> No School for Students</strong></li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>