@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p dir="ltr">In This Issue:</p>
<ul dir="ltr">
    <li>Come to Lunch with a Loved One this Thursday &amp; Friday</li>
    <li>Ann Arbor Jaycees Spring Eggstravaganza</li>
    <li>Save the Date: Volunteer Appreciation Night</li>
    <li>Earth Day of Service</li>
    <li>Kindergarten Registration &amp; Readiness Day</li>
    <li>Save the Date: Bryant/Pattengill International Festival</li>
    <li>Check Out Mrs. Dawson's PLTW Blog</li>
    <li>Kudos&#8230;</li>
</ul>
<p><span id="more-2434"></span></p>
<p dir="ltr">Help Wanted: Volunteer Opportunities</p>
<ul dir="ltr">
    <li>Event and Activity Volunteer Sign-Up</li>
</ul>
<p dir="ltr">Reminders:</p>
<ul dir="ltr">
    <li>Music Notes from Pattengill</li>
    <li>Visit the Ann Arbor PTO Thrift Shop</li>
</ul>
<p dir="ltr">Mark Your Calendars</p>
<p dir="ltr">Stay Connected</p>
<hr />
<p>In This Issue</p>
<p dir="ltr"><strong>Come to Lunch with a Loved One this Thursday &amp; Friday:</strong> Plan to join your student for lunch during Lunch with a Loved One on <strong>Thursday, March 30 for Pattengill and Friday, March 31 for Bryant.</strong> <strong>Lunch Schedule for Bryant:</strong> Young 5's &amp; Kindergarten lunch &amp; recess: <span class="aBn" tabindex="0" data-term="goog_1021318654"><span class="aQJ">11:30am-12:18pm</span></span>, 1st Grade lunch &amp; recess: 12:02-12:50p, 2nd Grade lunch &amp; recess: 12:30-1:18p.<strong> Lunch Schedule for Pattengill:</strong> 3rd Grade lunch: <span class="aBn" tabindex="0" data-term="goog_1021318655"><span class="aQJ">12:24-12:48pm</span></span>, 4th Grade lunch: <span class="aBn" tabindex="0" data-term="goog_1021318656"><span class="aQJ">12:48-1:12pm</span></span>, 5th Grade lunch: 11:54am- 12:18pm.</p>
<hr />
<p dir="ltr"><strong>Ann Arbor Jaycees Spring Eggstravaganza:</strong> Come on out to this free event at Lillie Park (4365 Platt Rd.) on <strong><span class="aBn" tabindex="0" data-term="goog_1021318657"><span class="aQJ">Saturday, April 15, 11am-1pm</span></span></strong> to celebrate spring! Scrambles will begin at 11:30, 12, and <span class="aBn" tabindex="0" data-term="goog_1021318658"><span class="aQJ">12:30</span></span>, and be sure to leave time for the petting zoo, arts and crafts, balloon twisters, and more! In addition to the fun and games, pre-register on the website, and bring a donation of children's art supplies to be entered in our raffle, and win one of many exciting prizes! For children ages 10 and under.</p>
<p dir="ltr"><a href="http://a2jaycees.org/events/spring-eggstravaganza/">http://a2jaycees.org/events/<wbr />spring-eggstravaganza/</a></p>
<hr />
<p dir="ltr"><strong>Save the Date: Volunteer Appreciation Night</strong> - This year's Bryant/Pattengill Volunteer Appreciation Night is <strong>Tuesday, April 18, <span class="aBn" tabindex="0" data-term="goog_1021318660"><span class="aQJ">6-7:30pm</span></span> at Pattengill</strong>. This event allows the Bryant/Pattengill staff to show their appreciation to ALL of our parent and community volunteers. If you have volunteered in the classroom, assisted on a field trip, coordinated events, tutored students, participated in the PTO, etc., please add this date/time to your calendar and come join us!</p>
<hr />
<p dir="ltr"><strong>Kindergarten Registration &amp; Readiness Day:</strong> Bryant's Kindergarten Registration and Readiness Day is coming <strong>Thursday, April 20</strong>! This is an opportunity for our teachers to get to know your incoming Kindergartener and learn about his or her strengths and interests. Additionally, you will be able to submit enrollment documents and our computer lab will be available for you to enroll on-line; hearing &amp; vision tests will be offered to all future students; and students attending will be given a bag of summer learning supplies.</p>
<hr />
<p dir="ltr"><strong>Earth Day of Service:</strong> In honor of Earth Day, Bryant and Pattengill's annual Day of Service will occur on <strong><span class="aBn" tabindex="0" data-term="goog_1021318661"><span class="aQJ">Friday, April 21</span></span></strong>. From <strong><span class="aBn" tabindex="0" data-term="goog_1021318663"><span class="aQJ">9:30-12:00</span></span> at Bryant, and <span class="aBn" tabindex="0" data-term="goog_1021318664"><span class="aQJ">1:30-3:30</span></span> at Pattengill</strong>, each classroom will help beautify their school grounds. Parents are invited to join their student's classroom (schedules forthcoming) and/or assist with landscaping and gardening. If you are able to attend for any portion of the day, please sign up at: <a href="http://www.signupgenius.com/go/508054facaf22a02-earth1">http://www.signupgenius.com/<wbr />go/508054facaf22a02-earth1</a>. Questions? Contact Cara Lauzzana at <a href="mailto:caralauzzana@hotmail.com">caralauzzana@hotmail.com</a>  Thank you!</p>
<hr />
<p dir="ltr"><strong>Save the Date: Bryant/Pattengill International Festival</strong> &mdash; Save the Date: Bryant/Pattengill International Festival &mdash; The B/P annual International Festival will be held at Bryant this year, on Thursday, April 27, <span class="aBn" tabindex="0" data-term="goog_1021318665"><span class="aQJ">6:30</span></span>-8:00pm. Please consider contributing to this event, to help make it a success! For more information and to sign-up, visit: <a href="http://bit.ly/2l566NW">http://bit.ly/2l566NW</a>. We look forward to celebrating our diversity together as one commUNITY!</p>
<hr />
<p dir="ltr"><strong>Check Out Mrs. Dawson's PLTW Blog</strong>: Lots of great things are happening in the Project Lead The Way (PLTW) classroom, so make sure to check out the blog <a href="http://dawsonpltw.blogspot.com/">http://dawsonpltw.blogspot.<wbr />com/</a> to learn more.</p>
<hr />
<p dir="ltr"><strong>Kudos:</strong> Thank you to coordinator <strong>Charlita Daniels</strong>, parent volunteers, Pioneer High School student volunteers, and the Hands-On Museum staff for a successful Family Science Night on Tuesday. The children (and parents) enjoyed exploring all of the fun and exciting experiments!</p>
<hr />
<p dir="ltr"> <strong>Help Wanted: Volunteer Opportunities:</strong></p>
<p dir="ltr"> <strong>Event and Activity Volunteer Sign-Up:</strong> The PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the <a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890">2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<p dir="ltr"> <strong>Reminders:</strong></p>
<p dir="ltr"><strong>Music Notes from Pattengill: <span class="aBn" tabindex="0" data-term="goog_1021318666"><span class="aQJ">April 25</span></span>: 3rd Grade Spring Sing, <span class="aBn" tabindex="0" data-term="goog_1021318667"><span class="aQJ">7pm</span></span></strong> in the cafetorium. Our songs are about the great state of Michigan. Come learn about Michigan's history, geography, and other things that make Michigan great! Hope to see you there.</p>
<hr />
<p dir="ltr"><strong>Visit the Ann Arbor PTO Thrift Shop:</strong> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org/">Shop, donate, and support AAPS</a>!</p>
<hr />
<p dir="ltr"><strong>Mark Your Calendars</strong></p>
<p dir="ltr">To view the full 2016-2017 school year, select: <a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit">Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr">March</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">Thurs, Mar 30: Lunch with a Loved One at Pattengill</p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Fri, Mar 31: Lunch with a Loved One at Bryant</p>
    </li>
</ul>
<p dir="ltr">April</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">Mon - Fri, Apr 3-7: Spring Break - No School for Students</p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Mon, Apr 10: School Resumes</p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Thurs, Apr 13: Bryant Spring Picture Day<br class="m_-234101601778356000kix-line-break" />PTO Executive Board Meeting, Bryant Media Center, 6-7:30pm</p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Tues, Apr 18: Volunteer Appreciation Night, Pattengill (ALL Family Volunteers Welcome), <span class="aBn" tabindex="0" data-term="goog_1021318669"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Thurs, Apr 20: Kindergarten Registration and Readiness, Bryant Gym (by Appointment), <span class="aBn" tabindex="0" data-term="goog_1021318671"><span class="aQJ">9am-2pm</span></span><br class="m_-234101601778356000kix-line-break" />Pattengill Spring Picture Day</p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Fri, Apr 21: Earth Day of Service (ALL Parents Welcome to Volunteer)</p>
    </li>
</ul>
<p dir="ltr">                         <wbr />Bryant: Morning, Pattengill: Afternoon</p>
<ul>
    <li dir="ltr">
        <p dir="ltr"><span class="aBn" tabindex="0" data-term="goog_1021318673"><span class="aQJ">Tues, Apr 25</span></span>: 3rd Grade Spring Concert, Pattengill Cafeteria, <span class="aBn" tabindex="0" data-term="goog_1021318674"><span class="aQJ">7-8pm</span></span></p>
    </li>
    <li dir="ltr">
        <p dir="ltr">Thurs, Apr 27: International Festival, Bryant, <span class="aBn" tabindex="0" data-term="goog_1021318676"><span class="aQJ">6:30</span></span>-8pm</p>
    </li>
</ul>