﻿@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this Issue</strong></p>
<ul>
    <li>Bryant Kindergarten Transition Breakfast with Elizabeth Elster</li>
    <li>Thursday Notes Submissions</li>
    <li>Bryant Office Assistance Needed</li>
    <li>Bryant Parent Lending Library</li>
    <li>Ann Arbor Rec &amp; Ed After School Classes</li>
    <li>Cayla Tchalo Update</li>
    <li>The Family Learning Institute</li>
    <li>PTO Thrift Shop Update</li>
</ul>
<p><strong>Reminders</strong></p>
<ul>
    <li>PTO Dues</li>
    <li>Volunteer Background Check</li>
    <li>Box Tops For Education</li>
    <li>Upcoming Dates to Remember</li>
</ul>
<p><span id="more-64"></span></p>
<hr />
<p><strong>In this Issue</strong></p>
<p><strong>Bryant Kindergarten Families</strong></p>
<p>Please join our school social worker, Elizabeth Elster, on Friday, Sept. 26 at 9:00 a.m. in the Bryant cafeteria for a light breakfast and tips on how to help the entire family transition into kindergarten. Please see the attached flyer for more information.</p>
<hr />
<p><strong>Thursday Notes Submissions</strong></p>
<p>If you would like to submit information about upcoming events, fundraisers, or school happenings involving Bryant/Pattengill please email submissions to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a> no later than 5 p.m. the Tuesday before. All submissions should be sent in Arial 10 point font and be no longer than a short 2-3 sentence blurb; should the submission be longer, it must be sent as a google doc. If you would like to submit a flyer, please include with it a short blurb that may be included within the body of the Notes to promote the attachment. All submissions will be included in the notes for two weeks only; if you'd like the submission to run longer, please request an extension and update the submission as needed.</p>
<hr />
<p><strong>Bryant Office Assistance is Needed! </strong></p>
<p>Ms. Midura needs assistance on a few projects in the Bryant Office: 1) She needs someone with nice penmanship to write a few things out for her, 2) She need assistance with organizing packets that have been returned to the school office. All projects need to be completed this month; they will not require too much of your time. If you are interested and able to help, please contact Ms. Midura at 734-997-1212.</p>
<hr />
<p><strong>Bryant Parent Lending Library</strong></p>
<p>The Parent lending library is a free service to the parents at Bryant. The parents can pick 2 to 3 books at their child's reading level. The students can practice reading the books and return them the following week and get more books. The parent lending library is open on Tuesdays. It will start at the end of school and run until about 5:00 PM. It is located in the main lobby of the school. You can use your child's raz kid's reading level to chose the books or ask your child&#8217;s teacher. Happy Reading! Thank You, Son Mi Lim</p>
<hr />
<p><strong>Success in Rec &amp; Ed Classes After School!</strong> When is the best time to enroll my child in after school classes? How does my child's teacher know that my child is attending an after school class? How do I get a scholarship? These important questions and others are answered on Rec &amp; Ed's After School Website under FAQs at <a href="http://aarecedafterschool.weebly.com/" target="_blank">http://aarecedafterschool.weebly.com/</a>. At this site, you will also find links to the after school classes at your school. Rec &amp; Ed&#8217;s after school classes are designed for your child to learn through fun. Your child can develop friendships and enjoy directed activities that support exploration and achievement. Our diverse selection of after school classes reflects our commitment to promoting well-being among children in our community. For more information, contact Sally Searls at Rec &amp; Ed, 734-994-2300, ext. 53219 or email <a href="mailto:searls@aaps.k12.mi.us" target="_blank">searls@aaps.k12.mi.us</a></p>
<hr />
<p><strong>Not Just For ELL Families</strong></p>
<p>Dear Bryant/Pattengill Community,</p>
<p>I would like to share my new website with you: <a href="http://brypatesl.weebly.com/" target="_blank">http://brypatesl.weebly.com/</a></p>
<p>If you are parents of English Language Learners, I hope you might find it useful. If you are not parents of English Language Learners, I hope you might find it informative. As always, I am available to parents at Bryant on Mondays, Wednesdays, and Fridays and at Pattengill on Tuesdays and Thursdays. My email is <a href="mailto:tchalo@aaps.k12.mi.us" target="_blank">tchalo@aaps.k12.mi.us</a>. I sincerely wish everyone a fabulous academic year! Sincerely, Cayla Tchalo, ESL Teacher, Bryant/Pattengill</p>
<hr />
<p><strong>The Family Learning Institute</strong> is a volunteer-based nonprofit agency dedicated to closing the achievement gap in Washtenaw County. Through collaboration with local schools and community partners, and the implementation of innovative programs that develop literacy skills and prevent summer learning loss, FLI engages economically disadvantaged children, their parents and community in supporting a commitment to success in school and beyond. FLI believes our students, regardless of life circumstances, deserve a chance to forge the skills they need to build the lives they dream.</p>
<p>
    For more information on this wonderful resource, click on:<br />
    <a href="https://drive.google.com/file/d/0B4WPQNkdFW2NdU5NWmlqSlZBaHM/edit?usp=sharing" target="_blank">https://drive.google.com/file/d/0B4WPQNkdFW2NdU5NWmlqSlZBaHM/edit?usp=sharing</a>
</p>
<hr />
<p><strong>SHOW YOUR SUPPORT for Bryant/Pattengill Fifth Grade camp scholarships</strong> this week at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. From Sunday, September 14 to Saturday, September 20, we have an opportunity to earn a percentage of $1000 through this promotional fundraising activity. Here's how it works: for every $5 spent, shoppers earn a token. Cast your tokens this week in support of our school! The funds earned for Bryant/Pattengill will help to ensure that ALL Fifth Graders are able to participate in the camp experience. Spread the word to friends and family and let's SHOW OUR SUPPORT for our school! See the attached flier for store hours.</p>
<hr />
<p><strong>Reminders</strong></p>
<p>PARENT TEACHER ORGANIZATION (PTO) DUES By now all of you have looked at all the documents that your child brought home their first week of school. Within that brown envelope was an envelope labeled PTO DUES. What is this for? Let us start first with the purpose of the Bryant &amp; Pattengill Parent Teacher Organization is to:</p>
<ol>
    <li>Promote a close relationship between home and school,</li>
    <li>Encourage cooperation among parents, teachers, and school administrators in the education of the children who attend Bryant/Pattengill, and</li>
    <li>Enhance the academic, cultural, and social development of Bryant/Pattengill students.</li>
</ol>
<p>The third bullet point of enhancing the academic, cultural and social development of our students happens because of parent participation and, of course, by your monetary contribution/donation. All of the Bryant/Pattengill students are able to participate in activities that are meant to enhance their classroom/school education. Academic, cultural, and social development is enhanced in many ways such as field trips to AA Symphony Orchestra, Leslie Science Center, Hands on Museum, workshop on Disability Awareness, NAAPID, Science Night, Kindergarten Kick-Off picnic, and Science Olympiad. These represent a few examples of activities that enhance your child's academic experience. We hope you provide financial support ($25/child) so we can continue to enhance the education of all our Bryant/Pattengill students. Feel free to provide additional funding – it is always used in compliance with the PTO purpose/mission. Please send in your donation payable to Bryant/Pattengill PTO in the provided PTO DUES envelope. The PTO is a 501(c)(4) non-profit organization.</p>
<hr />
<p><strong>Volunteer Background Check Form</strong></p>
<p>Any volunteer who will be alone with children (e.g. leading a group on a fieldtrip) needs to have a background check prior to the event. The form can be found here: https://drive.google.com/file/d/0BzzvqLXssUqzTkFvaVJvSXVzRGc/edit?usp=sharing. Please download the form, fill it out and submit it to the Bryant or Pattengill office. You will need to present your ID.</p>
<p>Box Tops for Education Bryant/Pattengill are again participating in the Box Tops for Education program (<a href="http://www.boxtops4education.com/" target="_blank">http://www.boxtops4education.com/</a>). Many of the box tops are found on products you already buy or have in your home; for a complete list, visit the following website: <a href="http://www.boxtops4education.com/products/participating-products" target="_blank">http://www.boxtops4education.com/products/participating-products</a>. We have a black collection box located outside each of the school offices. Have you been saving your box tops all summer? Now is a great time to bring them in and drop them in the boxes! This is an easy way to earn money for our schools. During each of the last two school years, Box Tops have earned over $2000 for the PTO! We will collect the box tops during the entire school year, but there are only two times during the year when we receive payment for our submissions. The first deadline to submit our box tops for payment this school year will be Friday October 24. If you have any questions about the program, please contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" target="_blank">andymich@comcast.net</a>. Thank you for the great support we&#8217;ve had with this program; every little bit you bring in helps the schools!</p>
<hr />
<p><strong>Upcoming Dates to Remember</strong></p>
<p><strong>September</strong></p>
<ul>
    <li>Mon. Sept. 22 – Mon. Oct. 6 Charleston Wraps Fall Fundraiser</li>
    <li>Fri. Sept. 26 Bryant Kindergarten Transition Breakfast, Bryant Cafeteria 9:00 a.m.</li>
</ul>
<p><strong>October</strong></p>
<ul>
    <li>Wed. Oct. 1 Student Count Day</li>
    <li>Thurs. Oct. 2 Pattengill Picture Day</li>
    <li>Thurs. Oct. 2 School Improvement Team (SIT) Meeting, Bryant 4:15 – 5:30 p.m.</li>
    <li>Thurs. Oct. 2 PTO Executive Board Meeting, Bryant Media Center 6:15 – 7:15 p.m.</li>
    <li>Thurs. Oct. 2 PTO General Meeting, Bryant Multipurpose Room 7:30 – 8:30 p.m.</li>
    <li>Fri. Oct. 17 Family Movie Night, Bryant Gym 5:30 – 8:00 p.m.</li>
    <li>Wed. Oct. 22 Cider and Donuts with the Principals, Location TBD 9 – 10 a.m.</li>
</ul>
<hr />
<p>Bryant/Pattengill Website: <a href="http://a2schools.org/bryantpattengill.home/home " target="_blank">a2schools.org/bryantpattengill.home/home </a></p>
<p>PTO Website: <a href="http://a2schools.org/bryantpattengill.home/pto_information " target="_blank">a2schools.org/bryantpattengill.home/pto_information </a></p>
<p>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank">https://www.facebook.com/BryantPattengillPTO</a></p>
<p><strong>Submissions for Thursday Notes</strong> should be emailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday, 5pm each week.</p>