@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><span style="color: #008000">Letters from the Principals</span></li>
    <li><span style="color: #008000">Bryant's Family Reading Night Is <span class="aBn"><span class="aQJ">Tonight</span></span></span></li>
    <li><span style="color: #008000">Bryant Scholastic Book Fair Ends <span class="aBn"><span class="aQJ">Tomorrow</span></span> (<span class="aBn"><span class="aQJ">Friday</span></span>)</span></li>
    <li><span style="color: #008000">Pattengill's Science Fair Is Rescheduled for <span class="aBn"><span class="aQJ">March 7</span></span></span></li>
    <li><span style="color: #008000">Fifth Grade Camp Is Next Week</span></li>
    <li><span style="color: #008000">Girls on the Run Registration Has Been Expanded</span></li>
    <li><span style="color: #008000">March Restaurant Day: California Pizza Kitchen</span></li>
    <li><span style="color: #008000">Come To Tech Night at Pattengill on <span class="aBn"><span class="aQJ">March 15th</span></span></span></li>
    <li><span style="color: #008000">Check Out the New Blog for Project Lead The Way</span></li>
    <li><span style="color: #008000">Compassion in Action Newsletter</span></li>
    <li><span style="color: #008000">A Big Thank You!</span></li>
</ul>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><span style="color: #008000">Don't Forget To Sign Up for Disability Awareness Workshop</span></li>
    <li><span style="color: #008000">Looking To Volunteer? We Need YOU!</span></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><span style="color: #008000">Read-A-Thon Has Begun</span></li>
    <li><span style="color: #008000">Former B/P Student in Need of Our Support</span></li>
    <li><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></li>
</ul>
<p dir="ltr"><strong> Mark Your Calendars</strong></p>
<p dir="ltr"><strong>Stay Connected</strong></p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<h6>In This Issue</h6>
<p dir="ltr"><span style="color: #008000">Letters from the Principals</span>: Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/17Cka0JMz_VMHeqVzCM93LYQaB3h4jRIeTY8tZOxh1rw/edit?usp=sharing" target="_blank">Letter to Bryant Families</a> and Mrs. Alston's<a href="https://docs.google.com/document/d/1rXZTHWq7nghw2usd7jDVbMF5dfWQfLjYnAnfoqegDq0/edit?usp=sharing" target="_blank"> letter to Pattengill families,</a> filled with timely information for our school community.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Bryant's Family Reading Night Is <span class="aBn"><span class="aQJ">Tonight</span></span>:</span> Don't forget to come to Reading Night <span class="aBn"><span class="aQJ">tonight</span></span> dressed in your PJ's, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>, with story time at 7pm in the Bryant Media Center. The Scholastic Book Fair will also be taking place if you are interested in purchasing books at that time for this great event. Please see <a href="https://drive.google.com/file/d/0B-_iHxypfI5bMS1XdjM5NTYxMkE/view?usp=sharing" target="_blank">attached </a>flyer below for more information.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Bryant Book Fair Ends Tomorrow (<span class="aBn"><span class="aQJ">Friday</span></span>):</span> Come out and get your favorite new books just in time for the Read-A-Thon! Book Fair hours will be from <span class="aBn"><span class="aQJ">9:00am-8:00pm</span></span> on Thursday (3/3), and <span class="aBn"><span class="aQJ">9:00am-2:00pm</span></span> on Friday (3/4). The Book Fair will also be open tonight during Family Night on for your convenience. If you prefer to order online, visit <a href="http://bookfairs.scholastic.com/homepage/bryantelementaryschool30" target="_blank">http://bookfairs.scholastic.com/homepage/bryantelementaryschool30</a>  for the Online Book Fair. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Mrs. Rohde (Bryant Media Specialist) <a href="mailto:rohdem@aaps.k12.mi.us" target="_blank">rohdem@aaps.k12.mi.us.</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Pattengill's Science Fair Is Rescheduled for <span class="aBn"><span class="aQJ">March 7</span></span>:</span> As a result of the snow day that occurred last <span class="aBn"><span class="aQJ">Thursday</span></span>, the Science Fair has been rescheduled to <span class="aBn"><span class="aQJ">Monday, March 7</span></span>, <span class="aBn"><span class="aQJ">6-7:30pm</span></span> in the Pattengill Gym. See you there!</p>
<hr />
<p dir="ltr"><span style="color: #008000">Fifth Grade Camp Is Next Week:</span> Reminder, Fifth Grade Camp at Howell Nature Center is next week, <span class="aBn"><span class="aQJ">March 9-11</span></span>. The packing list and all other important documents can be found on the camp website <a href="/5th-grade-camp/" target="_blank">http://bryantpattengill.org/5th-grade-camp/</a>. Questions? Contact 5th Grade Camp Chair Barb Zimdars at <a href="mailto:barbara.zimdars@bryantpattengill.org" target="_blank">barbara.zimdars@bryantpattengill.org</a></p>
<hr />
<p dir="ltr"><span style="color: #008000">Girls on the Run Registration Has Been Expanded:</span> Thanks to enthusiastic support from our volunteer coaches, we're excited to announce that we have additional openings on our Pattengill team! Open to all 3rd-5th grade girls, GOTR will meet after school on Mondays and Wednesdays from <span class="aBn"><span class="aQJ">4:15-5:45pm</span></span>, <span class="aBn"><span class="aQJ">March 7-May 20</span></span>. The GOTR lessons encourage positive emotional, social, mental, and physical development, and we will end the season by running a 5k on North Campus. <a href="https://drive.google.com/file/d/0B-_iHxypfI5bbHBZMlptMEJhMG8/view?usp=sharing" target="_blank">Click here</a> to learn more and to register. Any girl can try one lesson for free between <span class="aBn"><span class="aQJ">March 7-18</span></span>, with a signed flier. Due to 5th grade camp, our first four lessons will be 3/7, 3/14, 3/16, and 3/17. Try it out! Registration is open until March 18. Financial assistance is available. Email: <a href="mailto:info@girlsontherunsemi.org" target="_blank">info@girlsontherunsemi.org</a> for more information. Questions? Contact Elizabeth Deyarmond at: <a href="mailto:crowdecoder@gmail.com" target="_blank">crowdecoder@gmail.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Come to Tech Night at Pattengill on March 15th:</span> Make sure you mark on your calendar this great event occurring on <span class="aBn"><span class="aQJ">Tues, Mar. 15th at 6:30pm</span></span>, where you get to learn how technology is incorporated into your child(s) learning experience everyday.  Please see <a href="https://docs.google.com/document/d/1GyNS9UeoWIDbXVJNAgbtTs6hvmosEDN4jY3o16RSJv4/edit?usp=sharing" target="_blank">attached </a>description of all the different presentations that will be occurring.</p>
<hr />
<p dir="ltr"><span style="color: #008000">March Restaurant Day at California Pizza Kitchen:</span> Mark your calendars for our next Restaurant Day on <span class="aBn"><span class="aQJ">Sunday, March 20</span></span>, at California Pizza Kitchen in Briarwood Mall. Dine-in or carry-out between <span class="aBn"><span class="aQJ">11am-8pm</span></span>, present the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bODhoLUlNaU9VRlE/view?usp=sharing" target="_blank">attached</a> flyer, and our schools will receive 20% of your purchase. We hope having Restaurant Day on a Sunday helps you gather with family and friends to enjoy a good meal for a great cause.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Check Out the New Blog for Project Lead The Way:</span> Please welcome Gretchen Dawson to Bryant and make sure to check out her blog about the STEM lessons happening through Project Lead The Way: <a href="http://dawsonpltw.blogspot.com/" target="_blank">http://dawsonpltw.blogspot.com/</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Compassion in Action Newsletter:</span> Learn about the importance of sleep on academics, behavior, and more; how to participate in Autism Awareness Month; opportunities for free family fun, and more! Check out the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bS1htMW5yd1NhazA/view?usp=sharing" target="_blank">attached </a>March/April newsletter from our Bryant/Pattengill school social worker, Ms. Elster.</p>
<hr />
<p dir="ltr"><span style="color: #008000">A Big Thank You!:</span>  A big Thank You to Karishma Collette and her amazing team for another successful Kindergarten Roundup. The weather was awful outside, but the spirit inside was awesome! Thank you to the Bryant staff, parent volunteers and Pioneer High School Rising Scholars!</p>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><span style="color: #008000"> Don't Forget To Sign Up for Disability Awareness Workshop:</span> "Can you imagine what it would be like to push a wheelchair through the snow outside?" The Disability Awareness Workshop (DAW) teaches 4th and 5th graders an empathetic understanding of physical, developmental, and learning disabilities. On Thursday, March 31, 23 parent volunteers are needed for each of 2 DAW workshops at Pattengill: 4th grade in the morning, and 5th grade in the afternoon. Volunteers will assist students at several hands-on stations: vision, hearing, speech, learning disabilities, physical impairments, and building accessibility. No experience working with people with disabilities is necessary. Lunch is provided for all volunteers! Please click on the <a href="http://goo.gl/forms/L3L86NxdOS" target="_blank">sign-up sheet</a> to support this important experience for our kids, and be a part of the DAW team! Questions? Contact Jaime Moore: <a href="mailto:michiganjaime@hotmail.com" target="_blank">michiganjaime@hotmail.com</a> or Xan Morgan: <a href="mailto:xandramorgan@gmail.com" target="_blank">xandramorgan@gmail.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Looking To Volunteer</span>? We need YOU! There is an opportunity for ALL B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. Please visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p dir="ltr">
<p dir="ltr">Reminders</p>
<p dir="ltr"><span style="color: #008000"> Read-A-Thon Has Begun:</span> Our annual Read-A-Thon fundraiser is under way! It ends <span class="aBn"><span class="aQJ">March 9</span></span>. It's easy and FUN! Students ask friends and relatives to sponsor them for time spent reading. As they read, they will also earn raffle tickets for a chance to win small, daily prizes. The classroom with the highest average hours read at Bryant and Pattengill will each win a class party! Read-A-Thon is a major fundraiser for our paired schools, helping to fund field trips, assemblies, classroom supplies, and much more. If you need additional materials please visit our PTO Read-a-Thon page at <a href="/read-a-thon/" target="_blank">http://bryantpattengill.org/read-a-thon/</a> or go to either school office. Questions? Email us at <a href="mailto:readathon@bryantpattengill.org" target="_blank">readathon@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Former B/P Student in Need of Our Support:</span> Alec Vorhoff is a graduate of Bryant/Pattengill and currently an 8th grader at Tappan Middle School. Alec was recently diagnosed with brain cancer. He has begun radiation treatments and chemotherapy. Alec and his mom Heather are in need of financial assistance to endure the long road ahead. Friends have created a <a href="https://www.gofundme.com/f3k2tptw" target="_blank">GoFundMe.com</a> site, to support the Vorhoff family during Alec's treatment. Please consider helping this family during a difficult time, all donations are greatly appreciated.</p>
<hr />
<p dir="ltr"><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p dir="ltr"> Mark Your Calendars</p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><span style="color: #008000">March</span></p>
<ul>
    <li>
        <p dir="ltr">Tues-<span class="aBn"><span class="aQJ">Fri, Mar. 1-4</span></span>: Bryant Book Fair</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Mar. 3: Pajama Night &amp; Book Fair Family Night, Bryant, <span class="aBn"><span class="aQJ">6:30-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Mon, Mar. 7: Pattengill Science Fair, Pattengill Gym, <span class="aBn"><span class="aQJ">6-7:30pm</span></span> *DATE CHANGE*</p>
    </li>
    <li>
        <p dir="ltr">Wed-<span class="aBn"><span class="aQJ">Fri, Mar. 9-11</span></span>: 5th Grade Camp</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Mar. 10: School Improvement Team (SIT) Meeting, Pattengill, 4:30pm</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Thurs, Mar. 10</span></span>: PTO Exec Board Meeting, Pattengill, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Tues, Mar. 15: Tech Night, Pattengill, <span class="aBn"><span class="aQJ">5:30-8pm</span></span> (<span class="aBn"><span class="aQJ">5:30-6:30</span></span>-food available) *DATE CHANGE*</p>
    </li>
    <li>
        <p dir="ltr">Tues, Mar. 15: Report Cards Go Home</p>
    </li>
    <li>
        <p dir="ltr">Wed, Mar.16- Pizza With The Principals- CANCELLED ( Will Be Rescheduled At Later Date)</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Sun, Mar. 20</span></span>: Restaurant Day, California Pizza Kitchen, <span class="aBn"><span class="aQJ">11am-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Tues, Mar. 22: Family Science Night, Bryant, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Fri, Mar. 25: NO SCHOOL &mdash; Good Friday</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Mar. 29</span></span>: Pattengill Spring Pictures</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Mar. 29</span></span>: 4th Grade Spring Recorder Concert, Pattengill, <span class="aBn"><span class="aQJ">7pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Wed, Mar. 30</span></span>: Bryant Spring Pictures</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Thurs, Mar. 31</span></span>: Disability Awareness Workshop at Pattengill for 4th Grade (morning) and 5th Grade (afternoon)</p>
    </li>
</ul>
<p dir="ltr">
<p><span style="color: #008000"> April</span></p>
<ul>
    <li>
        <p dir="ltr">Mon - <span class="aBn"><span class="aQJ">Fri, Apr. 4-8</span></span>: Spring Break - No School for Students</p>
    </li>
    <li>
        <p dir="ltr">Mon, Apr. 11: School Resumes</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 14 Kindergarten Registration and Readiness, Bryant Gym (by Appointment), <span class="aBn"><span class="aQJ">9am-2pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 14: PTO Executive Board Meeting, Bryant Media Center, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Tues, Apr. 19: Volunteer Appreciation Night, Bryant (ALL Family Volunteers Welcome), <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, <span class="aBn"><span class="aQJ">7-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Friday, Apr. 22: Earth Day of Service (ALL Parents Welcome to Volunteer at Schools)</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Apr. 28: International Festival, Pattengill, <span class="aBn"><span class="aQJ">6:30-8:30pm</span></span></p>
    </li>
</ul>
<hr />
<p>&nbsp;</p>
<h6>Stay Connected</h6>
<ul>
    <li><strong>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></strong></li>
    <li><strong>PTO on Facebook:</strong><a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li><strong>PTO on Twitter:</strong><a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li><strong>Bryant Website:</strong><a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li><strong>Pattengill Website:</strong><a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p dir="ltr"><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/8wRFglOW4vq0QG-02WEO1pqnw-dzc5YzII1m7DcFFamHiCY5HRId7SyjAHOefylvKIurR01ULmHKIKzSjtL0ouu3BgVS8fVgeBOASaOcrOFbqS6cRYoNn8HKFGz5pFKwH7WmUdZ1" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="2506835656"  /></p>