@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>MLK Day Assemblies on 1/16</li>
    <li>Kindergarten/Young Fives Round Up</li>
    <li>Science Olympiad 2015</li>
    <li>News from the ELL Department</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li>Marquee Sign at Bryant</li>
    <li>Lunch Volunteers at Pattengill</li>
    <li>Helping a B/P Family in Need</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Early Registration Open for Girls on the Run</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1086"></span></p>
<p><strong>Celebrate Dr. Martin Luther King, Jr. With Us!</strong></p>
<p><strong>At Bryant: </strong>Please join the Bryant students and staff in the Gym at <strong>10:00am on Friday, Jan. 16, </strong>as we remember the life and dreams of Dr. Martin Luther King, Jr. During the all-school assembly, many different classes will present their tributes to Dr. King in a variety of ways, so it is a celebration not to be missed! See you on Friday!</p>
<p><strong>At Pattengill:</strong> Parents and families are welcome to join Pattengill students this <strong>Friday, Jan. 16, 2:00-3:30pm</strong> in the Cafetorium as we celebrate and honor Dr. Martin Luther King, Jr. Students will be presenting poems, readings, songs, and dances. Each grade is also performing a song, with voices or recorders.</p>
<hr />
<p><strong>Kindergarten/Young Fives Round Up: </strong>Do you know of any new Kindergarten or Young Fives families, looking to enroll in the fall of 2015? If so, please complete the attached document and return to the Bryant school office by <strong>Tuesday, Jan. 20</strong>. Our Kindergarten/Young Fives Round Up for parents and incoming students is <strong>Thursday, Feb. 12 from 6:00-7:30pm</strong> at Bryant. Questions? Contact Ms. Midura at<a href="mailto:midura@aaps.k12.mi.us" rel="noreferrer">midura@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2015/01/Kindergarten-Young-Fives.pdf">Kindergarten-Young Fives Information</a></p>
<hr />
<p><strong>Science Olympiad 2015: </strong>Science Olympiad is a free, volunteer-run science and math enrichment program for students in grades 2-5. Sign up now for Science Olympiad 2015! Please fill out <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEOHRvLWpUWEtBbnM/view?usp=sharing" target="_blank" rel="noreferrer">these forms</a> and return them to your classroom teacher by <strong>Wednesday, Jan. 21</strong>. Students will be notified of their practice team placements the week of Jan. 26, and Olympiad practices will begin the first week of February. Questions? Contact Ellen Forsman at <a href="mailto:efpolska@yahoo.com" rel="noreferrer">efpolska@yahoo.com</a>.</p>
<hr />
<p><strong>News from the ELL Department:</strong> From February 9-March 23, our ELLs (English Language Learners) will take the state-required Spring<strong>W</strong>orld-Class <strong>I</strong>nstructional<strong> D</strong>esign and <strong>A</strong>ssessment (WIDA) test of English proficiency. This is not the kind of test for which students can study. It is simply to determine how much progress our ELLs have made in English. For more information about the ELL program at Bryant/Pattengill, visit: <a href="http://brypatesl.weebly.com/" target="_blank" rel="noreferrer">brypatesl.weebly.com</a>. Questions? Contact Ms. Tchalo, ELL Teacher, at <a href="mailto:tchalo@aaps.k12.mi.us" rel="noreferrer">tchalo@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>Your child spends over 1,100 hours in school each year. Can you give back 11 hours in service to your child's school?</strong></p>
<p><a href="/wp-content/uploads/2015/01/AAPSVolunteerCertificationForm.pdf">AAPSVolunteerCertificationForm</a></p>
<hr />
<p><strong>Marquee Sign at Bryant: </strong>The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most and is a great way to volunteer at your child's school! Interested? Contact Carmen Atkins, VP for Bryant, Bryant/Pattengill PTO, at <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a> or <a href="file://localhost/tel/734-330-9967" target="_blank" rel="noreferrer">734-330-9967</a>.</p>
<hr />
<p><strong>Lunch Volunteers Needed at Pattengill:</strong> Can you help during lunch recess and/or lunchtime at Pattengill? Timeframes are as follows:<strong>5th Grade</strong> Recess: 11:25-11:49am, Lunch: 11:49am-12:13pm; <strong>3rd Grade</strong> Recess: 11:55 am-12:19pm, Lunch: 12:19-12:43pm; <strong>4th Grade</strong> Recess: 12:19-12:43pm, Lunch: 12:43-1:07pm. The busiest time of our lunch recess and lunch is between 11:25am-12:43pm. Any assistance is very much appreciated. All volunteers must fill out a volunteer background check and submit it to the office (see attached). If interested, please contact: <a href="mailto:alston@aaps.k12.mi.us" rel="noreferrer">alston@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Helping a Family in Need:</strong> Our schools are collecting items for a Bryant/Pattengill family that experienced a house fire last week. We are asking families to donate the following items:</p>
<ul>
    <li>Winter clothing (coat, gloves, mittens, hat, scarf) youth girl size 8-10</li>
    <li>Youth girl clothing size 8-10</li>
    <li>Winter clothing (coat, gloves, mittens, hat, scarf) high school male, adult size XL-XXL</li>
    <li>Clothing for high school male: shirts (adult size XL), and pants (size 38&#215;30)</li>
    <li>Non-perishable food</li>
    <li>Food that can be cooked on a stovetop</li>
</ul>
<p>Please bring items to your school's main office, c/o Elizabeth Elster. Thank you for your support and generosity. Questions? Contact:<a href="mailto:elster@aaps.k12.mi.us" rel="noreferrer">elster@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Early Registration Open for Girls on the Run (GOTR):</strong> GOTR is for girls in grades 3-5. We will meet after school at Pattengill on Mondays and Wednesdays, from 4-5:30pm, March 9-May 22. All shapes, sizes, and abilities are celebrated and welcome! The program culminates in a non-competitive 5K event on May 17. To view a video about GOTR, <a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=x7VlJUiV7Ps" target="_blank" rel="noreferrer">click here</a>. To register and to access scholarship applications, visit: <a href="http://www.girlsontherunsemi.org/" target="_blank" rel="noreferrer"><strong>girlsontherunsemi.org</strong></a>. Questions? Contact Stephanie Carlson at <a href="mailto:Stephanie@carlsoncentral.com" rel="noreferrer">Stephanie@carlsoncentral.com</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>January</strong></p>
<ul>
    <li>Tues. Jan. 6 - Fri. Jan. 30: Winter NWEA Testing</li>
    <li>Fri. Jan. 16: MLK Day Assemblies at Bryant and Pattengill</li>
    <li>Mon. Jan. 19: Martin Luther King Jr. Day - <strong>No School for Students</strong></li>
    <li>Mon. Jan. 26: K-12 Professional Development Day -<strong> No School for Students</strong></li>
</ul>
<p><strong>February</strong></p>
<ul>
    <li>Fri. Feb. 6: Pattengill Talent Show Evening Performance, 7pm</li>
    <li>Mon. Feb. 9: NAAPID/Parent Involvement Day at Bryant and Pattengill</li>
    <li>Tues. Feb. 10: Pattengill Talent Show Daytime Performance, 1:30pm</li>
    <li>Wed. Feb. 11: Student Count Day</li>
    <li>Thurs. Feb. 12: Kindergarten/Young Fives Round Up, 6-7:30pm, Bryant Multi-Purpose Room</li>
    <li>Mon. Feb. 16 - Fri. Feb. 20: Mid-Winter Break - <strong>No School for Students</strong></li>
    <li>Mon. Feb. 23: School Resumes</li>
    <li>Thurs. Feb. 26: Pattengill Science Fair, 6pm, Pattengill Gym</li>
    <li>Fri. Feb. 27 - Wed. March 11: Read-A-Thon</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>