@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Last Day of School Reminders</li>
    <li>Back-To-School "Popsicles on the Playground"</li>
    <li>Keep Collecting Box Tops for Education This Summer</li>
    <li>Restaurant Day Update</li>
    <li>Jump Rope for Heart Week Update</li>
    <li>Final Issue of Thursday Notes</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Bryant Summer Book Checkout</li>
    <li>Visit the Ann Arbor PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1502"></span></p>
<p><strong>Last Day of School Reminders:</strong> The last day of school is <strong>tomorrow,</strong> <strong>Friday, June 12, with dismissal at 11:51am</strong>. Students who are picked up, must be picked up on time. Report cards will be sent home with students. <strong>Please remember to pick up your child's medications from the school office.</strong> The offices will be open from 8:00am-4:30pm through Friday, June 19. If you are aware of any families who need to enroll their child in the 2015-2016 school year, please ask that they do so before June 19. Have a terrific summer!</p>
<hr />
<p><strong>Back-To-School "Popsicles on the Playground":</strong> Bryant/Pattengill families, please mark your calendars for our back-to-school event on<strong>Wednesday, September 2 (tentative), 3-6pm on the Bryant Playground</strong>. Come out to see classmates old and new, visit with the principals, and share a frosty treat! The Bryant/Pattengill teaching staff will be available from <strong>3-4pm </strong>to meet and greet families. We look forward to seeing you in September, to kick off another great school year!</p>
<hr />
<p><strong>Keep Collecting Box Tops for Education This Summer!</strong> Make sure you tell family and friends to keep clipping <a href="http://www.boxtops4education.com/" target="_blank" rel="noreferrer">Box Tops for Education</a> coupons over the summer, as a simple way to raise money for our schools. The "coupons" are found on many products you already buy or have in your home: check out a complete list of <a href="http://www.boxtops4education.com/participating-products" target="_blank" rel="noreferrer">Box Top products</a>, and also <a href="http://www.labelsforeducation.com/Earn-Points/Participating-Products" target="_blank" rel="noreferrer">Labels for Education products</a>. You may turn in any clipped coupons you have now into the drop boxes in each school's lobby by tomorrow. Otherwise, keep collecting them over the summer to submit in the fall. Each coupon means money for our schools - it really does add up! Thanks for clipping!</p>
<hr />
<p><strong>Restaurant Day Update:</strong> Our schools received $200 from Mi Compadre, following our B/P Restaurant Day there on Monday. Thank you to all the families that dined out for a great cause this week, and throughout the year. A big thank you to <strong>Larry Lage</strong> for coordinating our monthly Restaurant Day fundraisers, helping our PTO to continue to serve our students and staff.</p>
<hr />
<p><strong>Jump Rope for Heart Week Update:</strong> Thanks to the generous efforts of Bryant/Pattengill students, families, and staff, we were able to raise $2,091 for the American Heart Association's (AHA) Jump Rope for Heart Week program. The AHA reminds us to follow these guidelines this summer: Eat healthy snacks. Get 10-12 hours of sleep each night. Cut back on sugary-sweet beverages. Don't add salt to your food. Get 60 minutes of physical activity each day!</p>
<hr />
<p><strong>Final Issue of Thursday Notes:</strong> This is the final edition of the Thursday Notes for this school year. The Thursday Notes will return again in late August, with news about the upcoming school year. The B/P PTO welcomes your suggestions on how we can improve the Thursday Notes to best communicate school news to our community: <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Bryant Summer Book Checkout:</strong> Beat the "summer slide" and keep reading this summer! All returning Bryant students are invited to participate in Bryant Summer Checkout, which began Monday, June 8. Students may check out 10 books at a time, with a required permission slip (see attached flyer). <strong>Bryant Media Center hours: Tuesdays, 6-8pm: July 7, 14, 21, 28 and Thursdays, 9-11am: July 9, 16, 23, 30.</strong> Summer school and summer camp participants welcome. All books are due back the first week of school in September. Questions? Contact: <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2015/06/bryant_summer_checkout1.pdf">Bryant Summer Checkout</a></p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop:</strong> Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>June</strong></p>
<ul>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<p><strong>September</strong></p>
<ul>
    <li>Wed. Sept. 2 (tentative): Back-To-School "Popsicles on the Playground," 3-6pm, Bryant Playground</li>
    <li>Tues. Sept. 8: First Day of School - Welcome Back, Students!</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week the Notes are published.
</p>