@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Read-A-Thon Starts Friday!</li>
    <li>International Festival and Fashion Show</li>
    <li>Scholastic Book Fair March 3-6</li>
    <li>Bryant Family Reading/Pajama Night</li>
    <li>March Restaurant Day at Old Carolina BBQ</li>
    <li>Parent Lending Library: New Days/Times</li>
    <li>Kudos</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p>
    <span id="more-1189"></span><br />
    <strong>Read-A-Thon Starts Friday!</strong> Our annual Read-A-Thon fundraiser will run from <strong>Feb. 27</strong>-<strong>March 11</strong>. It's easy and FUN! Students ask friends and relatives to sponsor them for time spent reading. As they read, they will also earn raffle tickets for a chance to win small, daily prizes. The classroom with the highest average hours read per student at Bryant and Pattengill will each win a class party! Read-A-Thon is a major fundraiser for our paired schools, helping to fund field trips, assemblies, classroom supplies, and much more. Please look for information coming home with your child this week. Questions? Contact Michele Huston at <a href="mailto:michele@thehustons.net" rel="noreferrer">michele@thehustons.net</a>.
</p>
<hr />
<p><strong>International Festival and Fashion Show: </strong>The B/P International Festival will be held on Thursday, April 23. As part of the evening's fun, Mrs. Lim hosts an International Festival Fashion Show (IFFS), featuring B/P students. If you are interested in your child participating, please come to the IFFS meeting on <strong>Monday, March 2 at 4:15pm </strong>in the Bryant Media Center. If your child does not have a country to represent, there will be clothing/costumes available for them. If you cannot make the meeting, but would like your child to participate, please e-mail <strong>your child's name, grade, and teacher's name </strong>before the meeting to: <a href="mailto:lims@aaps.k12.mi.us" rel="noreferrer">lims@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Scholastic Book Fair March 3-6</strong><strong>:</strong> Come out and get your favorite new books just in time for the Read-A-Thon! Your children will have a chance to preview the Fair during school on Monday, March 2. Book Fair hours will be from 9:00am-8:30pm on Tuesday (3/3), 8:00am-4:30pm on Wednesday (3/4), 9:00am-5:00pm on Thursday (3/5), and 9:00am-4:00pm on Friday (3/6). The Book Fair will also be open during Family Night on March 3 for your convenience. If you prefer to order online, <a href="http://bookfairs.scholastic.com/homepage/bryantelementaryschool17" target="_blank" rel="noreferrer">click here</a> for the Online Book Fair. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a>.</p>
<p><a href="/wp-content/uploads/2015/02/BookFairFlyer.pdf">Book Fair Flyer</a></p>
<hr />
<p><strong>Bryant Family Reading/Pajama Night:</strong> Come and celebrate the joy of reading on <strong>Tuesday, March 3, 6:30-8:00pm</strong> in the Bryant Media Center. This pajama party features storytime at 7:15pm and the Scholastic Book Fair. Teddy bears and family are all welcome! Please see the attached flyer for more information.</p>
<hr />
<p><strong>March Restaurant Day at Old Carolina BBQ:</strong> On <strong>Monday, March 9</strong> (a day off for students) Old Carolina BBQ Co. at 980 W. Eisenhower Parkway will donate 10% of all sales from <strong>10:30am-9pm</strong>. A flyer is not required, but will be distributed before the fundraiser. <a href="https://www.facebook.com/OCBCAnnArbor" target="_blank" rel="noreferrer">Click here</a> for more information about the restaurant. Thank you for supporting our schools through Restaurant Day!</p>
<hr />
<p><strong>Parent Lending Library - New Days/Times:</strong> The Parent Lending Library is a free service to Bryant/Pattengill parents. The Library will now be open on <strong>Monday and Thursday mornings from 8:30-9:00am, in the Bryant main lobby. </strong>If you have any borrowed books, please return them to the office or to your child's teacher. You may select 2-3 books at your child's reading level, then return the books the following week and borrow more. Thank you for supporting your child to be successful at home and school!</p>
<hr />
<p><strong>Kudos</strong> to Tiffany Marra, her amazing crew, and the Bryant Elementary family for hosting a wonderful Kindergarten Round-Up on Feb. 12. The children were very excited to be at their future "big kids" school and their parents left with positive feelings and a lot of information about Bryant. Thank you! Thank you! Thank you!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>February</strong></p>
<ul>
    <li>Thurs. Feb. 26: Pattengill Science Fair, 6-7:30pm, Pattengill Gym</li>
    <li>Fri. Feb. 27 - Wed. March 11: Read-A-Thon</li>
</ul>
<p><strong>March</strong></p>
<ul>
    <li>Mon. March 2: International Festival Fashion Show meeting, 4:15pm, Bryant Media Center</li>
    <li>Tues. March 3: Bryant Book Fair/Pajama Night, 6:30-8pm, Bryant Media Center</li>
    <li>Tues. March 3 - Fri. March 6: Bryant Book Fair</li>
    <li>Mon. March 9: Teacher Report Writing Day - <strong>No School for Students</strong></li>
    <li>Mon. March 9: Restaurant Day at Old Carolina BBQ</li>
    <li>Thurs. March 12: School Improvement Team (SIT) meeting, 4:15-5:30, Pattengill</li>
    <li>Thurs. March 12: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. March 12: PTO General Meeting, 7:30-8:30pm, Pattengill</li>
    <li>Tues. March 17: Report Cards Go Home</li>
    <li>Wed. March 18: Coffee with the Principals, 9-10am and 6-7pm, Bryant Community Center</li>
    <li><strong>Mon. March 23 (date change)</strong>: Family Science Night, 6-7:30pm, Bryant Gym</li>
    <li>Tues. March 31: Volunteer Appreciation Night, 6:30-8pm, Pattengill</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>