@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Buzzer Entry System at Bryant</li>
    <li>Box Tops Due on Friday</li>
    <li>Mobile Dentists Form Due on Friday</li>
    <li>Get Ready for Read-A-Thon!</li>
    <li>Restaurant Day News</li>
    <li>"Continuing the Conversation" with Dr. Swift</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li>Read-A-Thon Presenters</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Support B/P Science Olympiad at AA PTO Thrift Shop</li>
    <li>Parent Lending Library</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1184"></span></p>
<p><strong>Buzzer Entry System at Bryant:</strong> Please see the attached letter for information about the new buzzer entry system at Bryant, to go into effect on <strong>Monday, Feb. 23</strong>.</p>
<p><a href="/wp-content/uploads/2015/02/BryantBuzzerEntrySystem.pdf">Bryant Buzzer Entry System</a></p>
<hr />
<p><strong>Box Tops Due on Friday: </strong>The final deadline to submit your clipped <a href="http://www.boxtops4education.com/" target="_blank" rel="noreferrer">Box Tops for Education</a> coupons for this school year is <strong>Friday, Feb. 13</strong>. Please place your Box Tops in the black collection box near each school's office. Each Box Top we collect means money for our schools! Questions? Contact: Michelle Muckstadt at <a href="mailto:andymich@comcast.net" rel="noreferrer">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Mobile Dentists Form Due on Friday: </strong>Michigan Dental Outreach: Smile Programs mobile dentists are coming to Bryant on <strong>Wednesday, March 11</strong>. Please review the form that was sent home last Friday, fill it out if you'd like your child to see the in-school dentist, and return the form to the office by <strong>Friday, Feb. 13</strong>. Seeing the dentist keeps your teeth healthy, which keeps your whole body healthy!</p>
<hr />
<p><strong>Get Ready for Read-A-Thon!</strong> Our annual Read-A-Thon fundraiser will run from <strong>Feb. 27</strong>-<strong>March 11</strong>. This important event helps our schools fund field trips, assemblies, classroom supplies and more! Look for more information coming home with your child after mid-winter break. Questions? Contact Michele Huston at <a href="mailto:michele@thehustons.net" rel="noreferrer">michele@thehustons.net</a>.</p>
<hr />
<p><strong>Restaurant Day News:</strong> We raised $200 at our last fundraiser at Cottage Inn Pizza, the Cottage Inn restaurant, and Quarter Bistro. With mid-winter break and a short month, we will take a break from Restaurant Day until <strong>Monday, March 9</strong>, a day off for students. More details coming soon. Thank you again and in advance for your support of Restaurant Day. Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>"Continuing the Conversation" with Dr. Swift:</strong> You are invited to attend any date of Superintendent Swift's community outreach tour "Continuing the Conversation." These events follow her "Listen and Learn" tour of all AAPS schools last year. All events will be held from<strong>6:30-8:00pm, </strong>unless otherwise noted:</p>
<ul>
    <li>Thursday, February 12: Slauson Middle School</li>
    <li>Monday, February 23 (12:00pm): Downtown Public Library</li>
    <li>Tuesday, March 3: Tappan Middle School</li>
    <li>Monday, March 9: Peace Neighborhood Center</li>
    <li>Thursday, March 12: STEAM at Northside</li>
    <li>Thursday, March 26: Pathways to Success H.S.</li>
    <li>Monday, March 30: Community High School</li>
    <li>Tuesday, March 31: Ann Arbor Open at Mack</li>
</ul>
<hr />
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>Read-A-Thon Presenters:</strong> Are you available on <strong>February 25 and/or 26</strong> to give <strong>5-minute classroom presentations</strong> to get kids excited about Read-A-Thon? This can be done at any convenient time of day for you and the teachers. Directions are provided in the office that day, or they can be e-mailed to you ahead of time. <a href="https://docs.google.com/spreadsheets/d/1YZgKTW0-FExIDb1HmpwW0mejTLXTqkz_4AERNd0cKuw/edit?usp=sharing" target="_blank" rel="noreferrer">Click here to sign up</a>. Questions? Contact Monica Harrold at<a href="mailto:harrold@aaps.k12.mi.us" rel="noreferrer">harrold@aaps.k12.mi.us</a></p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Support Bryant/Pattengill Science Olympiad:</strong> Shop the <strong>Ann Arbor PTO Thrift Shop now through Feb. 15</strong>, and help our schools earn a percentage of $1,000 for B/P Science Olympiad! For every $5 you spend, you earn a token. Then cast your tokens at the Shop for the B/P Science Olympiad team. Let's show our support for our schools! See the attached flyer for store hours and location. Questions? Contact Kristy Kubacki at <a href="mailto:klkubacki@yahoo.com" rel="noreferrer">klkubacki@yahoo.com</a>.</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Parent Lending Library:</strong> If you have any Parent Lending Library books, please return them to the office or to your child's teacher. The Parent Lending Library is a free service to Bryant/Pattengill parents. You may select 2-3 books at your child's reading level, then return the books the following week and borrow more. The Parent Lending Library is open on <strong>Tuesdays in Bryant's main lobby, from 3:40-5:00PM</strong>. Thank you for supporting your child to be successful at home and school!</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>February</strong></p>
<ul>
    <li>Sun. Feb. 8 - Sun. Feb. 15: Shop AA PTO Thrift Shop In Support of B/P Science Olympiad</li>
    <li>Thurs. Feb. 12: Kindergarten/Young Fives Round-Up, 6-7:30pm, Bryant Multi-Purpose Room <a href="/wp-content/uploads/2015/02/Kindergarten-Young-Fives-Round-Up.pdf">Kindergarten-Young Fives Round-Up</a></li>
    <li>Mon. Feb. 16 - Fri. Feb. 20: Mid-Winter Break - <strong>No School for Students</strong></li>
    <li>Mon. Feb. 23: School Resumes</li>
    <li>Thurs. Feb. 26: Pattengill Science Fair, 6-7:30pm, Pattengill Gym</li>
    <li>Fri. Feb. 27 - Wed. March 11: Read-A-Thon</li>
</ul>
<p><strong>March</strong></p>
<ul>
    <li>Tues. March 3: Bryant Book Fair/Pajama Night, 6:30-8pm, Bryant Media Center</li>
    <li>Tues. March 3 - Fri. March 6: Bryant Book Fair</li>
    <li>Mon. March 9: Teacher Report Writing Day - <strong>No School for Students</strong></li>
    <li>Wed. March 11: Mobile Dentists Visit Bryant</li>
    <li>Thurs. March 12: School Improvement Team (SIT) meeting, 4:15-5:30, Pattengill</li>
    <li>Thurs. March 12: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. March 12: PTO General Meeting, 7:30-8:30pm, Pattengill</li>
    <li>Tues. March 17: Report Cards Go Home</li>
    <li>Wed. March 18: Coffee with the Principals, 9-10am and 6-7pm, Bryant Community Center</li>
    <li><strong>Mon. March 23 (date change):</strong> Family Science Night, 6-7:30pm, Bryant Gym</li>
    <li>Tues. March 31: Volunteer Appreciation Night, 6:30-8pm, Pattengill</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>