@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p dir="ltr"><span style="color: #339966;"><b>In this issue:</b></span></p>
<ul>
    <li><b>Help a Bryant/Pattengill Family in Need</b></li>
    <li><b>PTO Meeting <span class="aBn"><span class="aQJ">Tonight</span></span> &mdash; All Families Welcome</b></li>
    <li><b>Pizza with the Principals</b></li>
    <li><b>5th Grade Spanish Classes Update</b></li>
    <li><b>Stone School Road is OPEN!</b></li>
</ul>
<p><span style="color: #339966;"><b>Help Wanted: Volunteer Opportunities:</b></span></p>
<ul>
    <li><b>Pattengill Library Volunteers Needed</b></li>
    <li><b>Event and Activity Volunteer Sign-Up</b></li>
</ul>
<p><span style="color: #339966;"><b>Reminders:</b></span></p>
<ul>
    <li><b>Pattengill Student Council Elections </b></li>
    <li><b>Movie Night: Featuring The Lego Movie</b></li>
    <li><b>Pattengill Curriculum Night Survey</b></li>
    <li><b>NWEA Testing Underway</b></li>
    <li><b>Clip and Save Your Box Tops</b></li>
    <li><b>Grocery Store Spotlight: Meijer</b></li>
    <li><b>Visit the Ann Arbor PTO Thrift Shop</b></li>
</ul>
<p dir="ltr"><span style="color: #339966;"><b>Mark Your Calendars</b></span></p>
<p dir="ltr"><span style="color: #339966;"><b>Stay Connected</b></span></p>
<p dir="ltr"><span id="more-1760"></span></p>
<hr />
<p dir="ltr"><span style="color: #339966;"><b>In this issue:</b></span></p>
<p dir="ltr">Help a Bryant/Pattengill Family in Need: It is with great sadness that we announce the sudden death of one of our B/P parents. There are three B/P students, and a child in preschool, who have lost either their mother or their aunt. The family did not have life insurance and as a result have set up a <a href="https://www.gofundme.com/mj5nuzd4" target="_blank">Go Fund Me account</a>. The family is struggling, to say the least, and the purpose of their campaign is to raise money for funeral expenses. All donations are appreciated.</p>
<hr />
<p dir="ltr">You're invited! PTO General Meeting <span class="aBn"><span class="aQJ">TONIGHT</span></span>: Don't miss the Fall Bryant/Pattengill Parent-Teacher Organization (PTO) general meeting: <span class="aBn"><span class="aQJ">TONIGHT</span></span>, Oct. 8, <span class="aBn"><span class="aQJ">6:30-7:30pm</span></span>, Bryant Multipurpose Room. B/P Social Worker Elizabeth Elster will share tips for a smooth start to the school year, including different ways to ask your child about his day without asking "How was your day?" Childcare is provided. See you there!</p>
<hr />
<p dir="ltr">Pizza with the Principals: Enjoy some pizza and a casual chat with Mrs. Heyward and Mrs. Alston at this informal gathering. Ask questions, or just get to know our awesome principals better. Wednesday, Oct. 21, <span class="aBn"><span class="aQJ">6-7pm</span></span> at the home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor, 48108. We hope to see you there!</p>
<hr />
<p dir="ltr">5th Grade Spanish Classes Update: Please see the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bT2ZwNGlzRnVZQlE/view?usp=sharing" target="_blank">attached</a> newsletter to learn what Mrs. Kairis, Spanish teacher for the 5th grades at Pattengill, has been working on with our fifth graders.</p>
<hr />
<p>Stone School Road Is OPEN! No more alternative routes, Stone School Road has officially re-opened. Enjoy your quicker commute to and from school!</p>
<hr />
<p dir="ltr"><span style="color: #339966;">Help Wanted: Volunteer Opportunities</span></p>
<p dir="ltr">Pattengill Library Volunteers Needed: Don't forget to sign up to help in the Library (see schedule below). Please contact Mrs. Schreck at <a href="mailto:schreck@aaps.k12.mi.us" target="_blank">schreck@aaps.k12.mi.us</a> if you can help.</p>
<p>
    Tuesdays<br />
    2:50-3:35 Mrs. Bailey's class
</p>
<p>
    Wednesdays<br />
    9:45-10:30 Mrs. Cheladyn's class<br />
    10:35-11:21 Mrs. Beech's class<br />
    1:55-2:40 Mrs. Mendoza's class<br />
    2:55-3:41 Mrs. Moizio's class
</p>
<p>
    Fridays<br />
    9:45-10:30 Mrs. Hubbard's class
</p>
<hr />
<p dir="ltr">Event and Activity Volunteer Sign-Up: To volunteer for any of our PTO events and activities throughout the year, visit: <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a>.</p>
<p dir="ltr"><span style="color: #339966;">Reminders:</span></p>
<p dir="ltr">Pattengill Student Council Elections Are Coming: The assembly to hear the presidential candidates' speeches and meet all candidates running for all positions will be Friday, Oct. 9, 9:15am. We're excited for the year ahead! Questions? Contact Mrs. Schreck (<a href="mailto:schreck@aaps.k12.mi.us" target="_blank">schreck@aaps.k12.mi.us</a>) and/or Mrs. Bailey (<a href="mailto:wilkinsm@aaps.k12.mi.us" target="_blank">wilkinsm@aaps.k12.mi.us</a>), co-chairs of Pattengill Student Council.</p>
<hr />
<p dir="ltr"><span style="color: #339966;">Movie Night Is Coming!</span> Movie Night will be on Friday, Oct. 16 from <span class="aBn"><span class="aQJ">5:30-8:00pm</span></span>. Please note: A parent or legal guardian (age 18 or older) must stay with the students; children cannot be dropped off. Any child showing up without a parent or legal guardian will be turned away. This is a FREE event! Pizza, popcorn, and water will be available for purchase at $1 an item. All profits go toward enrichment activities at our schools.</p>
<hr />
<p dir="ltr"><span style="color: #339966;">Pattengill Curriculum Night Survey:</span> Please complete this <a href="https://docs.google.com/forms/d/1xn6tqOqNNb--_jgt2iFM23l63-19OG1RADGFp0LeOBI/viewform?c=0&amp;w=1" target="_blank">3-question survey</a> if you have not done so. We would love your feedback on Curriculum Night, to help us continue to improve it each year. Thank you!</p>
<hr />
<p dir="ltr"><span style="color: #339966;">NWEA Testing Underway:</span> The Northwest Evaluation Association national assessment testing is taking place at Bryant/Pattengill now through Oct. 16. Please be sure your child receives a good night's rest, a healthy breakfast, and arrives to school on time. The morning bell rings at 8:53am.</p>
<hr />
<p dir="ltr"><span style="color: #339966;">Clip and Save Your Box Tops:</span> The <a href="http://www.boxtops4education.com/" target="_blank">Box Tops for Education</a> program is an easy way to earn money for our schools! Simply clip and save the Box Tops "coupons" found on <a href="http://www.boxtops4education.com/participating-products" target="_blank">these products</a>. The first deadline to submit our Box Tops this school year is <span class="aBn"><span class="aQJ">Friday, Oct. 23</span></span>. Collection boxes are near each school's front office. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com" target="_blank">jmpowl@aol.com</a>.</p>
<hr />
<p dir="ltr"><span style="color: #339966;">Grocery Store Spotlight</span>: Meijer &mdash; Shop at Meijer and support our PTO! See <a href="https://drive.google.com/a/bryantpattengill.org/file/d/0B-_iHxypfI5bcVBGbUgta1FCalU/view?usp=sharing" target="_blank">attached </a>flyer for more information. Questions? Contact Alicia Davis, <a href="mailto:alicia972@hotmail.com" target="_blank">alicia972@hotmail.com</a>. Thanks for your support.</p>
<hr />
<p dir="ltr"><span style="color: #339966;">Visit the Ann Arbor PTO Thrift Shop:</span> Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students.</p>
<hr />
<p dir="ltr">Mark Your Calendars:</p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p><span style="color: #339966;">October</span></p>
<ul>
    <li>Thurs, Oct 8: PTO General Meeting, <span class="aBn"><span class="aQJ">6:30-7:30pm</span></span>, Bryant Multipurpose Room</li>
    <li>Fri, Oct 16: Family Movie Night, <span class="aBn"><span class="aQJ">5:30-8pm</span></span>, Bryant Gym</li>
    <li>Wed, Oct 21: Pizza with the Principals, <span class="aBn"><span class="aQJ">6-7pm</span></span>, Home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor</li>
    <li>Fri, Oct 23: Box Tops coupons due</li>
    <li>Thurs, Oct 29: Title I Parent night &mdash; Details to follow</li>
</ul>
<p><span style="color: #339966;">November</span></p>
<ul>
    <li><span class="aBn"><span class="aQJ">Mon, Nov 2</span></span>: Teacher Report Writing Day - No School for Elementary Students</li>
    <li><span class="aBn"><span class="aQJ">Tues, Nov 3</span></span>: Election Day - No School for Students</li>
    <li><span class="aBn"><span class="aQJ">Thurs, Nov 5</span></span>: Pattengill Picture Retakes and Candids</li>
    <li>Wed- <span class="aBn"><span class="aQJ">Fri, Nov 11-13</span></span>: 5th Grade Camp</li>
    <li>Thurs, Nov 12: Bryant Picture Retakes and Candids</li>
    <li>Thurs, Nov 12: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6:00-7:30pm</span></span>, Pattengill Media Center</li>
    <li>Mon, Nov 23: Report Cards Go Home</li>
    <li>Wed - <span class="aBn"><span class="aQJ">Fri, Nov 25-27</span></span>: Thanksgiving Break - No School for Students</li>
</ul>
<hr />
<p><span style="color: #339966;">Stay Connected:</span></p>
<p dir="ltr">PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></p>
<p dir="ltr">PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></p>
<p dir="ltr">PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></p>
<p dir="ltr">Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></p>
<p dir="ltr">Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank"><span class="aBn"><span class="aQJ">Thursday</span></span>Notes@bryantpattengill.org</a>. Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</p>