@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p dir="ltr"><strong>In this issue:</strong></p>
<ul>
    <li><strong><span style="color: #008000">Letters from the Principals</span></strong></li>
    <li><strong><span style="color: #008000">December Restaurant Days: Breakfast with Santa</span></strong></li>
    <li><strong><span style="color: #008000">Pattengill Art Update</span></strong></li>
    <li><strong><span style="color: #008000">Bryant PE Reminder: Gym Shoes Required</span></strong></li>
    <li><strong><span style="color: #008000">District ELL Community Fair</span></strong></li>
    <li><strong><span style="color: #008000">Ann Arbor District Library Book Sale</span></strong></li>
</ul>
<p dir="ltr"><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li><strong><span style="color: #008000">Pattengill Science Olympiad Coaches Still Needed</span></strong></li>
    <li><strong><span style="color: #008000">Girl Scout Troop Leaders Needed</span></strong></li>
    <li><strong><span style="color: #008000">Event and Activity Volunteer Sign-Up</span></strong></li>
</ul>
<p dir="ltr"><strong>Reminders:</strong></p>
<ul>
    <li><strong><span style="color: #008000">Pattengill Book Fair Begins Next Week</span></strong></li>
    <li><strong><span style="color: #008000">Smile!<a style="color: #008000" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools</span></strong></li>
    <li><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<p dir="ltr"><strong>Mark Your Calendars</strong></p>
<p dir="ltr"><strong>Stay Connected</strong></p>
<hr />
<p dir="ltr"><strong>In this issue</strong></p>
<p dir="ltr"><strong><span style="color: #008000"> Letters from the Principals:</span> </strong>Be sure to read Mrs. Heyward's <strong><a href="https://docs.google.com/document/d/1FGFxA2xyMiW2pYO_GmaXLgCebL79uaJoK_iyzZmmHeg/edit?usp=sharing" target="_blank">Letter to Bryant families</a></strong> and Mrs. Alston's<strong><a href="https://docs.google.com/document/d/1RlnVw-2VZJmCoNq291PjXk0j4aRDRCT0CjWVb_3KWq4/edit?usp=sharing" target="_blank"> Letter to Pattengill families</a></strong>, filled with timely information for our school community.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Breakfast with Santa:</span></strong> Our December Restaurant Days will be on the mornings of <span class="aBn"><span class="aQJ">Dec. 5</span></span>, 6, 12, and 13 at Graham's Restaurant at the Kensington Court Hotel, 610 Hilton Blvd., near Briarwood Mall. Pancakes, sausage, and assorted toppings will be served at <span class="aBn"><span class="aQJ">8am and 10am</span></span>, followed by an optional visit with Santa from <span class="aBn"><span class="aQJ">8:30-9:30am</span></span> and 10:30-11:30am. Breakfast will cost $10 for adults and $5 for kids. Be sure to mention you're with Bryant/Pattengill, and 10% of sales will go directly to our schools. Space is limited, so please call to make a reservation <a href="tel:%28734%29%20761-1799" target="_blank">(734) 761-1799</a>, and ask for the sales department. Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" target="_blank">larrylage@yahoo.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Pattengill Art Update:</span> </strong>Are you curious to know what's happening in your child's Art class? Can you help fulfill our Art Room wish list? Check out Mrs. Hendrick's <a href="https://drive.google.com/file/d/0B-_iHxypfI5bTklUaWlLNWktSFU/view?usp=sharing" target="_blank"><strong>attached</strong> </a>newsletter for all things Art at Pattengill!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Bryant PE Reminder:</span> </strong>Please be sure your child is wearing non-marking gym shoes on days the class has PE (Gym). Boots mark up the floors and are unsafe for running and changing directions. Students wearing boots will not be able to participate in physical activities &mdash; gym shoes are required. Thank you for your cooperation.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">ELL (English Language Learners) Community Fair:</span> </strong>Is your family a part of the ELL community? Would you like to learn more about resources like tutoring or music programs for your child? You are invited to the all-district ELL Community Fair on <span class="aBn"><span class="aQJ">Monday, Dec. 7</span></span> at Pioneer High School Cafeteria, <span class="aBn"><span class="aQJ">6-8:30pm</span></span>. Please see <strong><a href="https://drive.google.com/file/d/0B-_iHxypfI5bejJKLUc0UE9VaEk/view?usp=sharing" target="_blank">attached</a></strong> flyer for more information. Questions? Contact Marla Metler at <a href="mailto:metlerm@aaps.k12.mi.us" target="_blank">metlerm@aaps.k12.mi.us</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Ann Arbor District Library Book Sale:</span></strong> All families and staff are invited to the holiday book sale at the Ann Arbor Public Library downtown location on <span class="aBn"><span class="aQJ">Dec. 12 &amp; 13</span></span>.  Please see <strong><a href="https://drive.google.com/file/d/0B-_iHxypfI5bNG9BUWRoSUNWTlU/view?usp=sharing" target="_blank">attached </a></strong>flyer for more information. Come and get books at great prices!</p>
<hr />
<p dir="ltr"><strong> Help Wanted: Volunteer Opportunities</strong></p>
<p dir="ltr"><strong><span style="color: #008000"> Pattengill Science Olympiad Coaches Needed:</span> </strong>PLEASE HELP! We need more Pattengill coaches this year to explore with small groups of students. No experience needed! This is exploration, which anyone can do. Please contact Jonathan Parker to learn more about coaching<strong>: <a href="mailto:jonathan.t.parker@leidos.com" target="_blank">jonathan.t.parker@leidos.com</a>.</strong></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Girl Scout Troop Leaders Needed:</span> </strong>Bryant and Pattengill are in need of Daisy (Kindergarten and 1st Grade) and Brownies (2nd and 4th Grade) Troop Leaders as soon as possible. Each group needs to have at least two adult women leaders (or a group of leaders taking turns) to run meetings, activities, field trips, etc. If you are interested, please contact Jenni Glysson at <a href="http://jglysson@aol.com" target="_blank">jglysson@aol.com</a> or <a href="tel:%28734%29%20971-8769" target="_blank">(734) 971-8769</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Event and Activity Volunteer Sign-Up:</span></strong> To volunteer for any of our PTO events and activities throughout the year, visit:<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank"> 2015-2016 <strong>Bryant/Pattengill Volunteer Sign-Up</strong>.</a></p>
<hr />
<p dir="ltr"><strong> Reminders</strong></p>
<p dir="ltr"><strong><span style="color: #008000"> Pattengill Book Fair Begins Next Week:</span> </strong>Books make great holiday gifts! The Pattengill Book Fair will be open from <span class="aBn"><span class="aQJ">Dec. 7-11</span></span>. Be sure to visit the Family Event on Wednesday, Dec. 9, from 5-<span class="aBn"><span class="aQJ">8pm</span></span> at Pattengill. Please support the Fair as it is the only fundraiser to provide new books/materials for the Pattengill Library. Many hands are still needed to help Mrs. Schreck run a successful Fair. Please choose a day/time to volunteer: <strong><a href="https://docs.google.com/spreadsheets/d/1sWLRbzPzhBmd4DomxMUF5R2yZagLlmo_3SHFaI9xOeE/edit?usp=sharing" target="_blank">Bookfair Volunteer Signup</a></strong>. Online shopping is available now until Friday, Dec. 4 (to ensure delivery to the school before winter break): <strong><a href="http://bookfairs.scholastic.com/homepage/pattengill" target="_blank">Shop Pattengill's Book Fair Online</a></strong>. Questions? Contact Mrs. Schreck at <a href="http://schreck@aaps.k12.mi.us." target="_blank">schreck@aaps.k12.mi.us</a><a href="http://schreck@aaps.k12.mi.us." target="_blank">.</a> Many thanks for your support!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Smile!<a style="color: #008000" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools:</span></strong> Visit <a href="http://smile.amazon.com/" target="_blank">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charity of choice. Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. It's easy to earn money for Bryant/Pattengill while shopping online this holiday season! Thank you for participating.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span></strong> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<strong><a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</strong></p>
<hr />
<p dir="ltr"><strong> Mark Your Calendars</strong></p>
<p dir="ltr">To view the full 2015-2016 school year, select:<strong><a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></strong></p>
<p dir="ltr"><strong>December</strong></p>
<ul>
    <li>
        <p dir="ltr" style="text-align: justify">Wed, Dec. 2: Pattengill Yearbook Group Pictures</p>
    </li>
    <li style="text-align: justify">
        <p dir="ltr">Thurs, Dec. 3: Bryant Yearbook Group Pictures</p>
    </li>
    <li style="text-align: justify">
        <p dir="ltr">Mon - <span class="aBn"><span class="aQJ">Fri, Dec. 7-11</span></span>: Pattengill Book Fair (note date change)</p>
    </li>
    <li style="text-align: justify">
        <p dir="ltr">Wed, Dec. 9: Pattengill Book Fair Family Night, <span class="aBn"><span class="aQJ">6-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr" style="text-align: justify">Mon, Dec. 21 - Jan. 1: Winter Break - No School for Students</p>
    </li>
</ul>
<p dir="ltr"> <strong>January</strong></p>
<ul>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Mon, Jan. 4</span></span>: School Resumes</p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Wed, Jan. 6 - 29</span></span>: NWEA Testing</p>
    </li>
    <li>
        <p dir="ltr">Tues, Jan. 12: Pattengill Talent Show Tryouts</p>
    </li>
    <li>
        <p dir="ltr">Mon, Jan. 18:  Martin Luther King Jr. Day - No School for Students</p>
    </li>
    <li><span class="aBn"><span class="aQJ">Thurs, Jan. 21</span></span>: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6-7:30</span></span>, Bryant Media Center</li>
</ul>
<hr />
<p dir="ltr">Stay Connected</p>
<p dir="ltr">PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></p>
<p dir="ltr">PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></p>
<p dir="ltr">PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></p>
<p dir="ltr">Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></p>
<p dir="ltr">Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <strong><a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a></strong>.</p>
<p dir="ltr">Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</p>
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T" src="https://lh5.googleusercontent.com/GUQT4GTUcqH-vUx9Is0XZrnc5ETZ__bCTBjRMCz9O2CCpR_CeEdEa2ZGCJOT1XP32uI7myEQqys24ZJniBdUm3RmZvbvuIZdioQ52cZq0NxNY4STqd98OfTbEqONSIwwKSXb1HVs" alt="Holiday Sale Flyer.png" width="197px;" height="254px;" pagespeed_url_hash="2291388969"  /><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/csdzkS0bfADb7iO5Wq1K_8Megx9wtjYEcxSnTQQwzlV9QZ3nh0VJnh76XkKys7in95fMn-pcnCGIlga7tQh38P94lDX-5AnFhCNp7NgRLPgg-JGvIEWzudcg3fqbczI5fCXqQkp5" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173px;" height="242px;" pagespeed_url_hash="1344569760"  /></p>