@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>More (Great) Restaurant Day News</li>
    <li>Coins Due for Bryant Families in Need: Nov. 21</li>
    <li>Show Your Support at AA PTO Thrift Shop: Nov. 23-29</li>
    <li>Bryant Media Center News</li>
    <li>"LIKE" Bryant/Pattengill PTO on Facebook</li>
    <li>Thanksgiving Break: Nov. 26-28</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Family Math Night Wish List: Donations Needed</li>
    <li>Earn Money for B/P with AmazonSmile</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-648"></span></p>
<hr />
<p><strong><a href="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/11/elevation-flyers.jpg"><img data-attachment-id="665" data-permalink="https://www.bryantpattengill.org/2014/11/20/thursday-notes-3/elevation-flyers/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/elevation-flyers.jpg?fit=720%2C960&amp;ssl=1" data-orig-size="720,960" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="elevation flyers" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/elevation-flyers.jpg?fit=225%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/elevation-flyers.jpg?fit=474%2C632&amp;ssl=1" class="wp-image-665 size-thumbnail alignleft" src="/wp-content/uploads/2014/11/elevation-flyers-150x150.jpg?resize=150%2C150" alt="elevation flyers" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/elevation-flyers.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/elevation-flyers.jpg?zoom=2&amp;resize=150%2C150 300w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/elevation-flyers.jpg?zoom=3&amp;resize=150%2C150 450w" sizes="(max-width: 150px) 100vw, 150px" data-recalc-dims="1" pagespeed_url_hash="3168755842"  /></a>More (Great) Restaurant Day News:</strong> We raised a new Restaurant Day-record <strong>$451.00</strong> at Elevation Burger on Monday, thanks to your support! Our next Restaurant Day will be in December at California Pizza Kitchen in Briarwood Mall.</p>
<hr />
<p><strong>Coins Due for Bryant Families in Need:</strong> Our school has been collecting spare change to<strong> purchase turkey dinners for Bryant families in need</strong>. All coins are due <strong>tomorrow, Friday, Nov. 21</strong>. Don Horning and the M-Den staff, along with other organizations, will also be donating dinners or gifts for our families.</p>
<hr />
<p><strong>Show Your Support for Bryant/Pattengill at the AA PTO Thrift Shop:</strong> Be sure to shop at the AA PTO Thrift Shop next week, <strong>Nov. 23-29</strong>, to earn money for B/P's Visual Arts programs. For every $5 spent, shoppers earn a token. Cast your tokens at the shop in support of our schools, which will earn a percentage of $1,000 to help purchase art materials and equipment. See the attached flyer for AA PTO Thrift Shop store hours and location, and spread the word to family and friends! Questions? Contact Kristy Kubacki at <a href="mailto:klkubacki@yahoo.com" rel="noreferrer">klkubacki@yahoo.com</a>.</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="wp-image-591 size-medium" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Bryant Media Center News:</strong></p>
<p><strong>Listening Means Learning: Headphones for the Library</strong> - Mrs. Idzikowski has created a project request through DonorsChoose.org to purchase headphones for the Bryant library. Please consider donating any amount you can. <strong>Now through Sat., Nov. 22</strong>, your donation will be doubled (up to $100) using <strong>promo code SPARK</strong> on the payment screen. If you know anyone who is passionate about education, please pass this along. Your donation will brighten my students' school year, and you'll get photos and thank you's from the students! <a href="http://www.donorschoose.org/project/listening-means-learning-headphones-for/1399367/?rf=email-system-2014-11-teacher_promo_expiring-teacher_2041852&amp;challengeid=326479/" target="_blank" rel="noreferrer">Click here for my DonorsChoose project request</a>. Thank You! Mrs. Idzikowski, <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a></p>
<p><strong><a href="/wp-content/uploads/2014/11/Nov30_BN_Bookfair_vouchers.pdf"><img data-attachment-id="660" data-permalink="https://www.bryantpattengill.org/2014/11/20/thursday-notes-3/bookfair/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/bookfair.png?fit=182%2C448&amp;ssl=1" data-orig-size="182,448" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Barnes &#038; Noble Bookfair" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/bookfair.png?fit=122%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/bookfair.png?fit=182%2C448&amp;ssl=1" class="alignleft size-medium wp-image-660" src="/wp-content/uploads/2014/11/bookfair-121x300.png?resize=121%2C300" alt="Barnes &amp; Noble Bookfair" data-recalc-dims="1" pagespeed_url_hash="1740184560"  /></a>Shop Barnes &amp; Noble on Nov. 30 for the Bryant Media Center:</strong> Use the Bryant book fair code <strong>11512340 </strong>when you shop at any Barnes &amp; Noble store or <a href="http://www.barnesandnoble.com/" target="_blank" rel="noreferrer">online at BN.com</a> on <strong>Sunday, Nov. 30</strong>. B&amp;N will donate 10-20% of your purchase to the Bryant media center, to help purchase books. You can bring a copy of the attached flyer, or just have the book fair code with you. Stop in at <strong>2pm on Nov. 30</strong> <strong>at the Ann Arbor Barnes &amp; Noble</strong> (3235 Washtenaw Ave.) to hear Mrs. Idzikowski and Alouicious reading the brand-new Elephant &amp; Piggie book! THANK YOU for your support, and please spread the word!If you shop online, from the Payment page at <a href="http://www.barnesandnoble.com/" target="_blank" rel="noreferrer"><span style="text-decoration: underline;">BN.com</span></a>, scroll to the very bottom and choose "Check this box if it is a book fair order." (If you are signed into your <a href="http://www.barnesandnoble.com/" target="_blank" rel="noreferrer"><span style="text-decoration: underline;">BN.com</span></a> account, you may need to click "Change" on the Payment section on the Checkout page, then scroll to the bottom.) The Bryant book fair code is 11512340. Questions? Contact: <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2014/11/Nov30_BN_Bookfair_vouchers.pdf">Barnes&amp;Noble Book Fair Voucher</a></p>
<hr />
<p><strong>"LIKE" Bryant/Pattengill PTO on Facebook!</strong> We currently have the 4<sup>th</sup> largest number of "likes" among the AAPS elementary schools - <strong>let's get to #1!</strong> Take a minute to visit our Facebook page, "like" us, and keep up on all the latest B/P news:</p>
<p><strong><a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong></p>
<p><iframe style="border: none; overflow: hidden; height: 62px;" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FBryantPattengillPTO&amp;width&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=395578227180043" width="300" height="150" frameborder="0" scrolling="no"></iframe></p>
<hr />
<p><strong>Thanksgiving Break: </strong>There is no school for students <strong>Wednesday, Nov. 26-Friday, Nov. 28</strong>. Have a happy and safe Thanksgiving break!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong><a href="/wp-content/uploads/2014/11/mathnight.png"><img data-attachment-id="663" data-permalink="https://www.bryantpattengill.org/2014/11/20/thursday-notes-3/mathnight/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/mathnight.png?fit=336%2C242&amp;ssl=1" data-orig-size="336,242" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Math Night Flyer" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/mathnight.png?fit=300%2C216&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/mathnight.png?fit=336%2C242&amp;ssl=1" class="size-medium wp-image-663 aligncenter" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/11/mathnight-300x216.png?resize=300%2C216" alt="Math Night Flyer" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/mathnight.png?resize=300%2C216&amp;ssl=1 300w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/mathnight.png?w=336&amp;ssl=1 336w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="1238763056"  /></a></strong></p>
<p><strong>Family Math Night Wish List - Donations Needed:</strong> Can you donate a math-related game or book from the Family Math Night <a href="https://docs.google.com/spreadsheets/d/1D7_jIu3yR7rB-G0rHfKJdB3l-4gMokQA1t8tx5dhcjQ/edit?usp=sharing" target="_blank" rel="noreferrer">wish list</a>, to help make the event a success?</p>
<p>Family Math Night is on <strong>Wednesday,</strong> <strong>Dec. 10, 6:30-8pm</strong>, at Pattengill. Questions? Contact Sandro Aquiles at <a href="mailto:sandroaquiles@hotmail.com" rel="noreferrer">sandroaquiles@hotmail.com</a>.</p>
<hr />
<p><a href="http://smile.amazon.com/ch/38-3575065"><img data-attachment-id="382" data-permalink="https://www.bryantpattengill.org/fundraising/amazonsmiles/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" data-orig-size="310,260" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="AmazonSmile" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=300%2C252&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" class="aligncenter size-full wp-image-382" src="/wp-content/uploads/2014/10/AmazonSmiles.jpg?resize=310%2C260" alt="AmazonSmile" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?w=310&amp;ssl=1 310w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?resize=300%2C252&amp;ssl=1 300w" sizes="(max-width: 310px) 100vw, 310px" data-recalc-dims="1" pagespeed_url_hash="1673509078"  /></a></p>
<p><strong>Earn money for our schools with AmazonSmile:</strong> Visit <a href="http://smile.amazon.com/ch/38-3575065" target="_blank" rel="noreferrer">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charitable organization of choice. Amazon will donate 0.5% of your eligible purchases to our schools. Get a head start on your holiday shopping and start earning for B/P today!</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>November</strong></p>
<ul>
    <li>Thurs. Nov. 20 - Great Lake Scrip Orders Due (formerly 11/19)</li>
    <li>Thurs. Nov. 20 - Sat. Nov. 22: Donations Are Doubled for Bryant's Headphones Fund at DonorsChoose.org</li>
    <li>Fri. Nov. 21: Coin Drive Donations Due for Bryant Families in Need</li>
    <li>Sun. Nov. 23 - Sat. Nov. 29: Show Your Support for B/P Visual Arts Programs at the Ann Arbor PTO Thrift Shop</li>
    <li>Mon. Nov. 24: Report Cards Go Home</li>
    <li>Wed. Nov. 26 - Fri. Nov. 28: Thanksgiving Break - <strong>No School for Students</strong></li>
    <li>Sun. Nov. 30: Shop Barnes &amp; Noble for Bryant's Media Center</li>
</ul>
<p><strong>December</strong></p>
<ul>
    <li>Tues. Dec. 9 - Fri. Dec. 12: Pattengill Book Fair</li>
    <li>Wed. Dec. 10: Pattengill Book Fair Family Night, 6-8pm</li>
    <li>Wed. Dec. 10: Family Math Night, Pattengill, 6:30-8pm</li>
    <li>Thurs. Dec. 18: Group/Club Yearbook Photos at Pattengill</li>
    <li>Dec. 22 - Jan. 4: Winter Break - <strong>No School for Students</strong></li>
</ul>
<p><a href="/wp-content/uploads/2014/11/Math-Night.pdf">Math Night Flyer</a></p>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>