@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Proud Dads Club Meet &amp; Greet TONIGHT</li>
    <li>Family Science Night: Monday, March 23</li>
    <li>Bryant Spirit Week</li>
    <li>Lunch with Loved Ones</li>
    <li>PTO Update</li>
    <li>Invitation to 5<sup>th</sup> Grade Parents</li>
    <li>Box Tops Update</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Canned Food Drive: March 16-27</li>
    <li>Award-Winning Author Coming to Pattengill</li>
    <li>Pattengill Vocal Music Update</li>
    <li>International Festival Coming April 23</li>
    <li>First Grade Parent Musicians Needed</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><span id="more-1262"></span></p>
<p><strong>In this issue</strong></p>
<p><strong>Proud Dads Club Meet &amp; Greet TONIGHT:</strong> The Proud Dads Club invites all Bryant/Pattengill dads, male guardians, uncles, and grandpas to come hang out <strong>tonight, Thursday, March 19, 6:30pm, at Buffalo Wild Wings by Briarwood Mall</strong> (3150 Boardwalk Dr.). This event is intended for adults. Food and drinks not provided (but you're welcome to purchase). Please RSVP to: <a href="mailto:dads@bryantpattengill.org" rel="noreferrer">dads@bryantpattengill.org</a></p>
<hr />
<p><strong>Family Science Night:</strong> Please join us for an evening of FUN with science on <strong>Monday,</strong> <strong>March 23, 6:00-7:30pm at Bryant in the Gym</strong>. All children and their families are invited to try experiments led by the Ann Arbor Hands-On Museum and Ms. Fox's science class from Pioneer High School. <strong>All children MUST be accompanied by an adult.</strong> We are still in need of a few more parent volunteers for this event. If you can help, please <a href="http://www.signupgenius.com/go/10c0e48afae28a2fc1-bryant1" target="_blank" rel="noreferrer">click here</a> to sign up or contact Charlita Daniels at <a href="mailto:dancharl@umich.edu" rel="noreferrer">dancharl@umich.edu</a>. See you Monday night!</p>
<p><a href="/wp-content/uploads/2015/03/Science-Night.pdf">Science Night Flyer</a></p>
<hr />
<p><strong>Bryant Spirit Week:</strong> Next week is Spirit Week at Bryant! The Student Council has chosen the following themes for each day:</p>
<ul>
    <li><strong>Monday, March 23:</strong> Read-A-Shirt Day (wear a shirt with words on it)</li>
    <li><strong>Tuesday, March 24:</strong> Note to a Teacher or Staff Member Day (students should write notes at home and bring them to school)</li>
    <li><strong>Wednesday, March 25:</strong> Joke or Riddle in Your Pocket Day</li>
    <li><strong>Thursday, March 26:</strong> Class Color Day (each class will vote on a color to wear this day)</li>
    <li><strong>Friday, March 27:</strong> Book Character Day (students and staff dress up as their favorite book character &mdash; must be appropriate, no masks or toys)</li>
</ul>
<hr />
<p><strong>Lunch with Loved Ones:</strong> The Proud Dads Club is hosting "Lunch with Loved Ones" at<strong> Pattengill on Thursday, March 26, </strong>and at<strong> Bryant on Friday, March 27</strong>. This is a time when a parent, family member, or loved one is invited to bring a lunch and eat with their student during his/her scheduled lunch period. Lunch times are as follows: <strong>Kindergarten/Young Fives:</strong> 11:25-11:48am, <strong>1<sup>st</sup> grade:</strong> 11:51am-12:15pm, <strong>2<sup>nd</sup> grade:</strong>12:20-12:45pm, <strong>3<sup>rd</sup> grade:</strong> 12:19-12:43pm, <strong>4<sup>th</sup> grade:</strong> 12:43-1:07pm, <strong>5<sup>th</sup> grade:</strong> 11:49am-12:13pm. Questions? Contact:<a href="mailto:dads@bryantpattengill.org" rel="noreferrer">dads@bryantpattengill.org</a></p>
<hr />
<p><strong>PTO Update:</strong> Want to know what was discussed at the PTO meetings on March 12, but were unable to attend? <a href="https://drive.google.com/file/d/0B3xnxm1JyoZERE83eXcxTEozX28/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for the PTO Executive Board minutes, and <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEZEd1X3VmRjFPM2s/view?usp=sharing" target="_blank" rel="noreferrer">click here</a> for the PTO General Meeting minutes.</p>
<p>We're always adding new events to the Bryant/Pattengill school calendar, so be sure to check out this <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEbmZxbVN0Q0xDQkU/view?usp=sharing" target="_blank" rel="noreferrer">up-to-date calendar</a> for the remainder of the school year (March-June 2015). Thank you for supporting the PTO, and your child's school!</p>
<hr />
<p><strong>Invitation to 5<sup>th</sup> Grade Parents:</strong> The Tappan Parent-Teacher-Student Organization (PTSO) invites all incoming 6<sup>th</sup> grade parents to our next PTSO meeting. You will have a chance to hear the principals speak and learn a little about what goes on at Tappan Middle School. The meeting is on <strong>Monday, April 20 at 6:00pm in the Tappan Media Center</strong>. Use the west entrance to the school and take the first staircase. The Media Center is on the second floor, on the left, just past the doors. Questions? Contact Marsha Skoman,Tappan PTSO President at<a href="mailto:mskoman@tappanptso.org" rel="noreferrer">mskoman@tappanptso.org</a>.</p>
<hr />
<p><strong>Box Tops Update:</strong> Thank you for a great <a href="http://www.boxtops4education.com/" target="_blank" rel="noreferrer">Box Tops for Education</a> submission! Thanks to your work clipping and collecting Box Tops, the PTO will be receiving a check for $420. For this school year, you have raised a total of over $1,670 for our schools! Please continue to submit your Box Tops at the schools. We will collect them throughout the remainder of the school year. Questions? Contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" rel="noreferrer">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Food Drive To Fight Summer Hunger:</strong> Bryant and Pattengill schools are collecting canned goods and non-perishable items for Rotary Club of Ann Arbor's Food Drive To Fight Summer Hunger. Collection boxes are located at the front office at each school from <strong>March 16-27</strong>. Please see the attached flyer for a complete list of recommended donations. Thank you!</p>
<p><a href="/wp-content/uploads/2015/03/Rotary-Food-Drive.pdf">Rotary Food Drive</a></p>
<hr />
<p><strong>Award-Winning Author Coming to Pattengill on Friday:</strong> Michigan Notable Book Award-Winning Author Jean Alicia Elster is presenting at Pattengill on <strong>Friday, March 20 from 10:15-11am</strong>. Jean Alicia Elster is the author of the children's book series Joe Joe in the City, which includes the books <em>Just Call Me Joe Joe</em>, <em>I Have A Dream, Too!</em>, <em>I'll Fly My Own Plane,</em> and <em>I'll Do the Right Thing</em>. The award-winning series combines key figures in black history with issues of self-awareness for children ages 6-11. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEcGd5ZHUyWnRDeWNSOXEwM0Q2QkE2VVZhV2ln/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for more information on this special event.</p>
<hr />
<p><strong>Pattengill Vocal Music Update:</strong> Please mark your calendars for these upcoming concerts at Pattengill: <strong>March 26:</strong> Fourth Grade Recorder Concert at 7:00pm; <strong>April 28:</strong> Third Grade Spring Sing at 7:00pm.</p>
<hr />
<p><strong>Bryant/Pattengill International Festival: </strong>This year's International Festival is at Bryant Elementary on <strong>Thursday, April 23 from 6:00-7:30pm</strong>. Please join us for entertainment, food, games, a raffle, and more. We need volunteers to make this event a success! <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEYUxOVkR3Z3hlT0d6ZjlyMWdxV1ZJUFBwamFr/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> to print and fill out the volunteer form if you are able to help. Thank you, Mrs. Lim <a href="mailto:lims@aaps.k12.mi.us" rel="noreferrer">lims@aaps.k12.mi.us</a></p>
<hr />
<p><strong>First Grade Parent Musicians Needed:</strong> Calling all Bryant family musicians! If you play a musical instrument (piano, drums, guitar, bass, etc.) and would like to play a song or two with us at our 1<sup>st</sup> and/or 2<sup>nd</sup> grade "Spring Sing" concerts, we would really appreciate it! I especially am looking for a 1<sup>st</sup> grade parent/family member who would like to accompany us on the piano for the <strong>1<sup>st</sup> grade concert on</strong> <strong>Thursday, May 21. </strong>Please contact me if you're interested and we can talk more about it. Thank you! - Mrs. Kelly Krohn, Bryant Vocal Music Teacher: <a href="mailto:krohnk@aaps.k12.mi.us" rel="noreferrer">krohnk@aaps.k12.mi.us</a></p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>March</strong></p>
<ul>
    <li>Thurs. March 19: Proud Dads Club Meet &amp; Greet, 6:30pm, Buffalo Wild Wings near Briarwood Mall</li>
    <li>Fri. March 20: Author Jean Alicia Elster Presents at Pattengill, 10:15-11am</li>
    <li>Mon. March 23: Family Science Night, 6-7:30pm, Bryant Gym</li>
    <li>Thurs. March 26: Lunch with Loved Ones at Pattengill</li>
    <li>Thurs. March 26: Fourth Grade Recorder Concert, 7pm, Pattengill</li>
    <li>Fri. March 27: Lunch with Loved Ones at Bryant</li>
    <li>Tues. March 31: Volunteer Appreciation Night, 6:30-8pm, Pattengill</li>
</ul>
<p><strong>April</strong></p>
<ul>
    <li>Wed. April 1: Kindergarten Registration and Readiness Day (for 2015-16 incoming kindergarten students), 9am-2pm by appointment, Bryant Gym</li>
    <li>Fri. April 3 - Fri. April 10: <strong>Spring Break - No School for Students</strong></li>
    <li>Tues. April 14: Bryant Spring Picture Day</li>
    <li>Tues. April 14: PTO Executive Board Meeting, 7-8pm, Bryant Media Center</li>
    <li>Thurs. April 16: Pattengill Spring Picture Day</li>
    <li>Wed. April 22: Earth Day of Service at Both Schools</li>
    <li>Thurs. April 23: International Festival, 6-7:30pm, Bryant</li>
    <li>Tues. April 28: Third Grade Spring Sing Concert, 7-8pm, Pattengill Cafeteria</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>