@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Letters from the Principals</li>
    <li>Bryant Parent Meeting TONIGHT</li>
    <li>Bryant's MLK Day Assembly on 1/16</li>
    <li>Change of Date for Pattengill Talent Show Try-Outs</li>
    <li>Social Work Newsletter</li>
    <li>Early Registration Open for Girls on the Run</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1071"></span></p>
<p><strong>Letters from the Principals: </strong>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1QFgJZ2WA1bvnIbMVJTZDT-s4rzSBKWNxh_xAKkErJR0/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Bryant families</a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1XwMgt4sItGLPkgwo2uplUWORPulJU5WLa69QDb4o7fY/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<p><strong>Bryant Parent Meeting TONIGHT:</strong> The Technology iPad Initiative parent meeting has been rescheduled for <strong>Thursday, Jan. 8 at 6:00pm</strong> in Bryant's Multi-Purpose (lunch) Room. We will discuss the rollout of student iPads, the various applications that can be used, security measures, and how this technology initiative will look in our classrooms. Childcare will be provided.</p>
<hr />
<p><strong>You're Invited to Bryant's MLK Day Assembly:</strong> Please join the Bryant students and staff in the Gym at <strong>10:00am on Friday, Jan. 16, </strong>as Bryant school remembers the life and dreams of Dr. Martin Luther King, Jr. During the all-school assembly, many different classes will present their tributes to Dr. King in a variety of ways, so it is a celebration not to be missed! If you have any questions, please contact Mrs. Krohn at <a href="mailto:krohnk@aaps.k12.mi.us" rel="noreferrer">krohnk@aaps.k12.mi.us</a>. Thanks, and we look forward to seeing you on the 16<sup>th</sup>!</p>
<hr />
<p><strong>Change of Date: Pattengill Talent Show Try-Outs - </strong>The Pattengill talent show try-outs have been changed to <strong>Wednesday, Jan. 14</strong>during the day. Dress rehearsal will be Tuesday, Feb. 3rd, 3:45-6:30pm; the talent show evening performance is Friday, Feb. 6, 7-9pm (performers arrive at 6:30pm); and the talent show daytime performance is Tuesday, Feb. 10, 1:30-3:30pm. Questions? Contact Mrs. Schreck at <a href="mailto:schreck@aaps.k12.mi.us" rel="noreferrer">schreck@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Social Work Newsletter:</strong> Check out the <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEU1VFLUtBc1lIc3hBUTY1ZUtyYTY4cWdLRDd3/view?usp=sharing" target="_blank" rel="noreferrer">January/February newsletter</a> from our B/P school social worker, Elizabeth Elster. It's filled with lots of options for free family fun this winter, as well as tips for talking to your child about conflict resolution.</p>
<hr />
<p><strong>Early Registration Open for Girls on the Run (GOTR):</strong> GOTR is for girls in grades 3-5. We will meet after school at Pattengill on Mondays and Wednesdays, from 4-5:30pm, March 9-May 22. All shapes, sizes, and abilities are celebrated and welcome! Fun running games and activities help girls learn to express themselves, make good choices, and create healthy habits. The program culminates in a non-competitive 5K event (May 17), giving each girl a chance to shine! To learn more about GOTR, <a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=x7VlJUiV7Ps" target="_blank" rel="noreferrer">click here</a> for an inspiring video. To register and to access scholarship applications, visit: <a href="http://www.girlsontherunsemi.org/" target="_blank" rel="noreferrer"><strong>girlsontherunsemi.org</strong></a>. Questions? Contact Stephanie Carlson at<a href="mailto:Stephanie@carlsoncentral.com" rel="noreferrer">Stephanie@carlsoncentral.com</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>January</strong></p>
<ul>
    <li>Tues. Jan. 6 - Fri. Jan. 30: Winter NWEA Testing</li>
    <li>Thurs. Jan. 8: Technology iPad Initiative Parent Meeting, 6pm, Bryant Multi-Purpose (lunch) Room</li>
    <li>Tues. Jan. 13: PTO Executive Board Meeting, 7pm, Bryant Media Center</li>
    <li>Wed. Jan. 14: Pattengill Talent Show Try-Outs</li>
    <li>Fri. Jan. 16: MLK Day Assemblies at Bryant and Pattengill</li>
    <li>Mon. Jan. 19: Martin Luther King Jr. Day - <strong>No School for Students</strong></li>
    <li>Mon. Jan. 26: K-12 Professional Development Day -<strong> No School for Students</strong></li>
</ul>
<p><strong>February</strong></p>
<ul>
    <li>Fri. Feb. 6: Pattengill Talent Show Evening Performance, 7pm</li>
    <li>Mon. Feb. 9: NAAPID/Parent Involvement Day at Bryant and Pattengill</li>
    <li>Tues. Feb. 10: Pattengill Talent Show Daytime Performance, 1:30pm</li>
    <li>Wed. Feb. 11: Student Count Day</li>
    <li>Thurs. Feb. 12: Kindergarten Round-Up, 6pm, Bryant Multi-Purpose Room</li>
    <li>Mon. Feb. 16 - Fri. Feb. 20: Mid-Winter Break - <strong>No School for Students</strong></li>
    <li>Mon. Feb. 23: School Resumes</li>
    <li>Thurs. Feb. 26: Pattengill Science Fair, 6pm, Pattengill Gym</li>
    <li>Fri. Feb. 27 - Wed. March 11: Read-A-Thon</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>