@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>
    <b>In This Issue:</b>
</h6>
<ul>
    <li><span style="color: #008000"><b>Stop By The Fall PTO General Meeting Next Tuesday</b></span></li>
    <li><span style="color: #008000"><b>Come Hop On Over And See What Animal Metropolis Is Like At Family Movie Night </b></span></li>
    <li><span style="color: #008000"><b>Revel N Roll FUNdraiser on Election Day:</b></span></li>
    <li><span style="color: #008000"><b>Check Out Mrs. Dawson's PLTW Blog</b></span></li>
</ul>
<h6>
    <b>Help Wanted: Volunteer Opportunities</b>
</h6>
<ul>
    <li><span style="color: #008000"><b>Science Olympiad &mdash; LAST CALL</b></span></li>
    <li><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up</b></span></li>
</ul>
<h6><b>Reminders:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Clip and Save Box Tops for Our Schools</b></span></li>
    <li><span style="color: #008000"><b>Shop for Bryant/Pattengill</b></span></li>
    <li><span style="color: #008000"><b>Visit AA PTO Thrift Shop</b></span></li>
</ul>
<h6><b>Mark Your Calendars</b></h6>
<p><b>Stay Connected</b></p>
<p><span id="more-2264"></span></p>
<hr />
<h6>
    <b>In This Issue</b>
</h6>
<p><b><span style="color: #008000">Stop By The Fall PTO General Meeting Next Tuesday:</span> </b>The B/P Parent-Teacher Organization is <b>your</b> PTO, so come find out how you can get involved with your child's school, and share any suggestions or questions you may have. Parents meet while children enjoy creating "make-and-take" art with our very own Bryant and Pattengill Art teachers, Mrs. Sheppard and Mrs. Hendrick in the art room! There will also be a presentation given by Ms. Metler and Mr. Gutierrez about the importance of volunteering, involvement, and how native English speaking families can be of help and support to our ELL (English Language Learner) families and help our community continue to grow. So plan to join us on <b>Tuesday, October 18, 6:30-7:30pm at Bryant (Media Center).</b></p>
<hr />
<p><span style="color: #008000"><b>Come Hop On Over And See What Animal Metropolis Is Like At Family Movie Night :</b></span> Family Movie Night featuring "Zootopia" will be next <b>Friday, October 21 from 5:30-8:00pm in the Bryant Gym. </b>Please note: <b><i>A parent or legal guardian (age 18 or older) must stay with the students; children cannot be dropped off</i></b>. Any child showing up without a parent or legal guardian will be turned away. This is a <b><i>FREE</i></b> event being sponsored by B/P PTO and Cottage Inn. Pizza, popcorn, and water will be available for purchase at $1 an item. All profits go toward enrichment activities at our schools. Feel free to bring a blanket and pillow for extra comfort. If you would like to help out with this event, please sign up on the<a href="http://www.signupgenius.com/go/8050944A9A922A64-movie"> attached sheet</a>.</p>
<hr />
<p><span style="color: #008000"><b>Revel N Roll FUNdraiser on Election Day:</b></span> Cast your vote, then bring the family to Revel N Roll on <b>Election Day, Tuesday, Nov. 8</b> (no school for students) for dining and fun, to benefit Bryant/Pattengill! Revel N Roll (1950 S. Industrial Hwy.) will donate to our PTO <b>15% of food sales and bowling</b> <b>from 11am-Midnight</b> and <b>30% of arcade game card sales.</b> Kids meals and arcade games are 1/2 off on Tuesdays, including 11/8. Arcade game cards will be available for purchase in $10 increments at <b>Movie Night at Bryant on Friday, 10/21</b>, and at <b>Revel N Roll on 11/8, from 11am-1pm</b>. Arcade game cards are valid for 1 year, so enjoy the fun at Revel N Roll on Election Day and beyond &mdash; purchase for the holidays and birthdays, too! Questions? Contact Amanda Shutko, PTO Fundraising Coordinator or check out the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bWHctOVBhRE9HcEU/view?usp=sharing">attached</a> information sheet. <a href="mailto:amanda.shutko@bryantpattengill.org">amanda.shutko@bryantpattengill.org.</a></p>
<hr />
<p><b><span style="color: #008000">Check Out Mrs. Dawson's PLTW Blog:</span> </b>Thanks to Mrs. Dawson's Project Lead The Way Blog, you can read more about what your child is currently working on in their classroom. Please read <a href="http://dawsonpltw.blogspot.com/">attached</a> link for all the latest information.</p>
<hr />
<h6>
    <b>Help Wanted: Volunteer Opportunities</b>
</h6>
<p><span style="color: #008000"><b>Science Olympiad- LAST CALL </b><b>&mdash;</b></span><b>  </b>Do you have interest in Exploring Nature, Science, or Engineering? Science Olympiad is looking for volunteers to explore with small groups of 2nd- 5th grade students. No experience necessary. Training and support provided. Please check out<a href="/SO"> http://BryantPattengill.org/SO</a> or contact Jonathan Parker at <a href="mailto:Jonathan.T.Parker@BryantPattengill.org">Jonathan.T.Parker@BryantPattengill.org</a> or 734-646-8050.</p>
<hr />
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b> </span>The Bryant/Pattengill PTO offers many fun and educational activities for students and families, and we need YOU to make them possible. Whether you have a lot or a little time, there is something everyone can do. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you.</p>
<hr />
<h6><b>Reminders</b></h6>
<p><span style="color: #008000"><b>Clip and Save Box Tops for Our Schools:</b></span> We are again collecting <a href="http://www.boxtops4education.com/?gclid=COrWs4vej88CFYQ9gQodY9QIVg&amp;dclid=CIK4v4vej88CFQlKXgodmCcK2w">Box Tops for Education</a> coupons for our schools this year. They can be found on <a href="http://www.boxtops4education.com/earn/participating-products">many products</a> you buy for your family. Each Box Top is worth 10 cents, and our goal is to earn $2,000 this school year. Invite family, friends, and co-workers to clip Box Tops for our schools, too! Black wooden boxes are outside each school office, to place your clipped Box Tops. Please submit your Box Tops in either an envelope or a sandwich baggie, thank you! Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>. FYI: the <b>Labels for Education</b> program (found on Campbell Soup cans, etc.) was discontinued as of July 2016. There is no need to clip these or send them in with Box Tops.</p>
<hr />
<p><span style="color: #008000"><b>Shop for Bryant/Pattengill:</b> </span>Attention Shoppers! Do you shop at <b>Kroger</b>?  Great news, <b>Kroger</b> participates in the  Shopper Loyalty Program! Your family can raise money for our schools simply by shopping at these stores and purchasing the things you normally would buy.<a href="http://track.spe.schoolmessenger.com/f/a/u-8_eHZVJ98sKJm9NUdIkg%7E%7E/AAAAAQA%7E/RgRZxPtmP0EIAKvV3otSfIFXA3NwY1gEAAAAAEIKAALmx-NXcWQq01IWc2h1dGtvYW1hbmRhQGdtYWlsLmNvbQlRBAAAAACEAQJodHRwOi8vdHJhY2suc3BlLnNjaG9vbG1lc3Nlbmdlci5jb20vZi9hL3JfbU02cHZjaE9Ydnp0YnotdFdLSlElN0UlN0UvQUFBQUFRQSU3RS9SZ1JadThEclAwRUlBR3ZWM2x0SGFmSlhBM053WTFnRUFBQUFBRUlLQUFGcmpkcFhQREk4RjFJV2MyaDFkR3R2WVcxaGJtUmhRR2R0WVdsc0xtTnZiUWxSQkFBQUFBQkVUV2gwZEhCek9pOHZaSEpwZG1VdVoyOXZaMnhsTG1OdmJTOW1hV3hsTDJRdk1FSXRYMmxJZUhsd1prazFZa3hYU1RGVVdHZ3pVMjAxVGxaVk1DOTJhV1YzUDNWemNEMXphR0Z5YVc1blI2ZDdJbk5vWVhKa2FXUWlPaUl6SWl3aWMyVnVkRlJwYldWTmN5STZJamMyTnpBek5UUTFOeUlzSW1WdWRpSTZJbkJ5YjJRaUxDSmxiV0ZwYkZOdmRYSmpaU0k2SWtOVlUxUlBUVVZTWDBwUFFpSXNJbk5sY1hWbGJtTmxJam9pTVNJc0ltTjFjM1J2YldWeWFXUWlPaUl5TWpFMElpd2lhbTlpYVdRaU9pSXpNelEzTUNJc0luVnpaWEpwWkNJNklqRTFOU0lzSW5CbGNuTnZibWxrSWpvaU5qa3lNemtpZlElN0UlN0VHqXsiam9iaWQiOiIzMzU5NiIsInNlbnRUaW1lTXMiOiIxMzcxODI3MjE1IiwicGVyc29uaWQiOiI2OTIzOSIsInVzZXJpZCI6IjE1NSIsImVudiI6InByb2QiLCJzaGFyZGlkIjoiMyIsImN1c3RvbWVyaWQiOiIyMjE0IiwiZW1haWxTb3VyY2UiOiJDVVNUT01FUl9KT0IiLCJzZXF1ZW5jZSI6IjEwIn0%7E">  Other participating businesses include Busch's, Office Depot/Office Max, and</a><a href="http://track.spe.schoolmessenger.com/f/a/l6lUEdHLMHUrrbfOP65mGQ%7E%7E/AAAAAQA%7E/RgRZxPtmP0EIAKvV3otSfIFXA3NwY1gEAAAAAEIKAALmx-NXcWQq01IWc2h1dGtvYW1hbmRhQGdtYWlsLmNvbQlRBAAAAABEF2h0dHA6Ly9zbWlsZS5BbWF6b24uY29tR6l7InNlbnRUaW1lTXMiOiIxMzcxODI3MjE1Iiwic2VxdWVuY2UiOiIxMCIsImN1c3RvbWVyaWQiOiIyMjE0IiwiZW1haWxTb3VyY2UiOiJDVVNUT01FUl9KT0IiLCJzaGFyZGlkIjoiMyIsInBlcnNvbmlkIjoiNjkyMzkiLCJqb2JpZCI6IjMzNTk2IiwidXNlcmlkIjoiMTU1IiwiZW52IjoicHJvZCJ9"> smile.Amazon.com</a>. <a href="http://track.spe.schoolmessenger.com/f/a/yB05OIAdJMbOywF_myt94w%7E%7E/AAAAAQA%7E/RgRZxPtmP0EIAKvV3otSfIFXA3NwY1gEAAAAAEIKAALmx-NXcWQq01IWc2h1dGtvYW1hbmRhQGdtYWlsLmNvbQlRBAAAAABETWh0dHBzOi8vZHJpdmUuZ29vZ2xlLmNvbS9maWxlL2QvMEItX2lIeHlwZkk1YlExZHFTVlY1WWtSWE9XTS92aWV3P3VzcD1zaGFyaW5nR6l7ImVtYWlsU291cmNlIjoiQ1VTVE9NRVJfSk9CIiwiam9iaWQiOiIzMzU5NiIsInBlcnNvbmlkIjoiNjkyMzkiLCJzZXF1ZW5jZSI6IjEwIiwiY3VzdG9tZXJpZCI6IjIyMTQiLCJzaGFyZGlkIjoiMyIsImVudiI6InByb2QiLCJ1c2VyaWQiOiIxNTUiLCJzZW50VGltZU1zIjoiMTM3MTgyNzIxNSJ9">Click here</a> for instructions on how you can participate in our Shopper Loyalty Program - the easiest way to raise money for our PTO! Even if you shop at a particular local or online store infrequently, please sign up to participate in that store's loyalty program; small amounts add up! Questions? Contact Amanda Shutko at<a href="http://track.spe.schoolmessenger.com/f/a/fiLKwCuboCxJ7WGdUtZ6jA%7E%7E/AAAAAQA%7E/RgRZxPtmP0EIAKvV3otSfIFXA3NwY1gEAAAAAEIKAALmx-NXcWQq01IWc2h1dGtvYW1hbmRhQGdtYWlsLmNvbQlRBAAAAACEzwFodHRwOi8vdHJhY2suc3BlLnNjaG9vbG1lc3Nlbmdlci5jb20vZi9hL1czYVM5UktxeEl6cmlaM2NLZWtYTlElN0UlN0UvQUFBQUFRQSU3RS9SZ1JadThEclAwRUlBR3ZWM2x0SGFmSlhBM053WTFnRUFBQUFBRUlLQUFGcmpkcFhQREk4RjFJV2MyaDFkR3R2WVcxaGJtUmhRR2R0WVdsc0xtTnZiUWxSQkFBQUFBQkVLbWgwZEhBNkx5OWhiV0Z1WkdFdWMyaDFkR3R2UUdKeWVXRnVkSEJoZEhSbGJtZHBiR3d1YjNKbkxrZW5leUp3WlhKemIyNXBaQ0k2SWpZNU1qTTVJaXdpYW05aWFXUWlPaUl6TXpRM01DSXNJbk5vWVhKa2FXUWlPaUl6SWl3aVpXMWhhV3hUYjNWeVkyVWlPaUpEVlZOVVQwMUZVbDlLVDBJaUxDSjFjMlZ5YVdRaU9pSXhOVFVpTENKelpYRjFaVzVqWlNJNklqRWlMQ0pqZFhOMGIyMWxjbWxrSWpvaU1qSXhOQ0lzSW1WdWRpSTZJbkJ5YjJRaUxDSnpaVzUwVkdsdFpVMXpJam9pTnpZM01ETTFORFUzSW4wJTdFR6l7InNlbnRUaW1lTXMiOiIxMzcxODI3MjE1IiwiZW52IjoicHJvZCIsImVtYWlsU291cmNlIjoiQ1VTVE9NRVJfSk9CIiwic2VxdWVuY2UiOiIxMCIsInVzZXJpZCI6IjE1NSIsInNoYXJkaWQiOiIzIiwiY3VzdG9tZXJpZCI6IjIyMTQiLCJqb2JpZCI6IjMzNTk2IiwicGVyc29uaWQiOiI2OTIzOSJ9"> amanda.shutko@bryantpattengill.org</a>. Thanks for your participation!</p>
<hr />
<p><b><span style="color: #008000">Visit AA PTO Thrift Shop:</span> </b>Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org">Shop, donate, and support AAPS!</a></p>
<hr />
<h6>
    <b>Mark Your Calendars</b>
</h6>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<h6><b>  October 2016</b></h6>
<ul>
    <li>Thurs, Oct 13: School Improvement Team (SIT) Meeting,4:30-5:30pm, Bryant</li>
    <li>Thurs, Oct 13: PTO Executive Board (budget) Meeting, 6-8pm, Bryant Media Center</li>
    <li>Tues, Oct 18: PTO General Meeting, Bryant Multipurpose Room, 6:30-7:30pm  <b><i>(ALL Families Welcome, Childcare Provided)</i></b></li>
    <li>Thurs, Oct 20: Pattengill Picture Retakes</li>
    <li>Fri, Oct 21: Family Movie Night, 5:30-8pm, Bryant Gym</li>
    <li>
        Wed, Oct 26: Early Release Day-<br />
        <h6><b><i>Students Dismissed at 11:53am</i></b></h6>
    </li>
</ul>
<h6><b>November 2016</b></h6>
<ul>
    <li>Tues, Nov 8: Election Day - <b><i>No School for Students- </i></b><b><i>Stop By The B/P FUNdraiser at Revel N Roll- Stay Tuned For More Information</i></b></li>
    <li>Wed, Nov 9: Bryant Picture Retakes</li>
    <li>Wed - Fri, Nov 9-11: 5th Grade Camp</li>
    <li>Tues, Nov 15: PTO Executive Board Meeting, 6-7:30pm ,Pattengill Media Center</li>
    <li>Wed - Fri, Nov 23-25: Thanksgiving Break - <b><i>No School for Students</i></b></li>
</ul>
<hr />
<h6><b>Stay Connected</b></h6>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><a href="/2016/10/14/thursday-notes-10-13-16/digital-parenting-flier-best-one/" rel="attachment wp-att-2267"><img data-attachment-id="2267" data-permalink="https://www.bryantpattengill.org/2016/10/14/thursday-notes-10-13-16/digital-parenting-flier-best-one/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?fit=1275%2C1705&amp;ssl=1" data-orig-size="1275,1705" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="digital-parenting-flier-best-one" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?fit=224%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?fit=474%2C634&amp;ssl=1" class="alignnone size-medium wp-image-2267" src="/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one-224x300.png?resize=224%2C300" alt="digital-parenting-flier-best-one" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?resize=224%2C300&amp;ssl=1 224w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?resize=768%2C1027&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?resize=766%2C1024&amp;ssl=1 766w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?w=1275&amp;ssl=1 1275w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/10/Digital-Parenting-flier-best-one.png?w=948 948w" sizes="(max-width: 224px) 100vw, 224px" data-recalc-dims="1" pagespeed_url_hash="1247963570"  /></a></p>
<p>&nbsp;</p>