@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><b>In This Issue:</b></p>
<ul>
    <li><span style="color: #008000;"><b>Come To The PTO General Meeting Next Week On Thursday</b></span></li>
    <li><span style="color: #008000;"><b>Come Support Our Students In The Washtenaw Elementary Science Olympiad Tournament This Weekend</b></span></li>
    <li><span style="color: #008000;"><b>Lunch with a Loved One Next Wednesday &amp; Thursday</b></span></li>
    <li><span style="color: #008000;"><b>Ice Cream Social: Discounted Tickets Available May 18 &amp; 19 </b></span></li>
    <li><span style="color: #008000;"><b>Ice Cream Social: Featured Prizes, Food, &amp; Games </b></span></li>
    <li><span style="color: #008000;"><b>1st &amp; 2nd Grade "Spring Sing" Concerts</b></span></li>
    <li><span style="color: #008000;"><b>Help our Girls On the Run support Mott's Children's Hospital!</b></span></li>
    <li><span style="color: #008000;"><b>A Big Thank You!</b></span></li>
    <li><span style="color: #008000;"><b>Rec &amp; Ed Survey &mdash; What Classes Would You Like To See Offered Next Year?</b></span></li>
</ul>
<p><span style="color: #000000;"><b>Help Wanted: Volunteer Opportunities</b></span></p>
<ul>
    <li><span style="color: #008000;"><b>Help Make Ice Cream Social 2016 the Best One Yet</b></span></li>
</ul>
<p><b>Reminders:</b></p>
<ul>
    <li><span style="color: #008000;"><b>Don't Forget Great Lakes Scrip Gift Cards Due Thurs. May 19</b></span></li>
    <li><span style="color: #008000;"><b>Get Ready For Bryant Field Day, June 3</b></span></li>
    <li><span style="color: #008000;"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<p><span id="more-2084"></span></p>
<hr />
<p>&nbsp;</p>
<p><b>In This Issue</b></p>
<p><span style="color: #008000;"><b>Come To The PTO General Meeting On Thursday: </b></span>The last Bryant/Pattengill PTO General Meeting of the school year is <b>TONIGHT</b> at <b>6pm</b> in the Pattengill Media Center. ALL B/P parents are invited to attend, and childcare is provided. If you have questions or suggestions for the PTO Board, please plan to attend &mdash; <b>every parent voice is important to the success of our schools!</b> Bryant parent Marc Mojica will present a new app being developed to improve communication within school communities, and we also will be voting on the nominations for the 2016-2017 PTO Executive Board. See you there!</p>
<hr />
<p><span style="color: #008000;"><b>Come Support Our Students In The Washtenaw Elementary Science Olympiad Tournament This Weekend</b>:</span> WESO Tournament is the largest elementary Science Olympiad competition in the nation! Come to Pioneer High School Saturday, 8 am &mdash; 8 pm, to support the 85+  Bryant/Pattengill students and coaches who have taken part in this valuable program this year. Families should explore the free science displays on hand and watch the outdoor water rocket contest. See the schedule <a href="https://sites.google.com/a/aaps.k12.mi.us/weso-wizards/schedules">here</a>. Also, did you know that WESO started at Pattengill Elementary School? Read more about this important program and our founding role in it<a href="/2016/05/10/history-of-weso/"> here</a>.</p>
<hr />
<p><span style="color: #008000;"><b>Lunch with a Loved One Next Week</b>:</span> Bryant welcomes loved ones to join their student at lunchtime on <b>Wed., May 18</b> and Pattengill celebrates the next day on <b>Thurs., May 19</b>. Family members (must be on the student's emergency contact list) sign in at the front office, then enjoy lunch with their student. School lunches may be purchased for all adults and for students who do not receive free/reduced-price lunch. <b>Bryant lunch times:</b> Young 5's &amp; Kindergarten: 11:30am, 1st Grade: 12:02pm, 2nd Grade: 12:30pm. <b>Pattengill lunch times:</b> 3rd Grade: 12:24pm, 4th Grade: 12:48pm, 5th Grade: 11:54am.</p>
<hr />
<p><span style="color: #008000;"><b>Ice Cream Social: Discounted Tickets Available May 18 &amp; 19 </b></span>- <b>Next Wednesday and Thursday ONLY,</b> you can pre-purchase your Ice Cream Social tickets at a discount! Look for a ticket order form to come home with your student this week. If you can, please come to <b>"Lunch with a Loved One" at Bryant (Wednesday, May 18) or at Pattengill (Thursday, May 19)</b>, where adults can purchase food, game, and raffle tickets (giving you more time to fill out your raffle tickets at home). Can't make it to Lunch with a Loved One? Send in your order form and payment with your student on May 18 or 19, and your discounted tickets will be waiting for you at Ice Cream Social. A coupon for a free California Pizza Kitchen kids meal is included with each pre-order. Questions? Contact Kathy Brady at kathy.brady@bryantpattengill.org</p>
<hr />
<p><b><span style="color: #008000;">Ice Cream Social: Featured Prizes, Food, &amp; Games</span> </b><b>- </b>The Bryant/Pattengill Ice Cream Social is <b>next</b> Friday, May 20, 6:00-8:30pm at Pattengill, rain or shine! This is our schools' largest FUNdraiser, so be sure to check out all the <a href="https://docs.google.com/spreadsheets/d/1Q-W-B8I76W9D7PoYdkoPebyPRNQQ5Fsu4KYhIHBRQc8/edit?usp=sharing"><b>terrific raffle and silent auction prizes</b></a> available at the event. Find the perfect Father's Day present, or a treat for the whole family! Silent auction items include two Georgetown Country Club family memberships, a 3-night getaway to The Homestead Resort in Glen Arbor, MI, a 45-minute "Discovery Flight" in a 4-person plane, and Detroit Tigers tickets. Raffle prizes include an Apple iPad mini 4, $100 bill, "Principal for the Morning" at Bryant and Pattengill, Bose bluetooth speaker, passes to many area attractions, and much more! Grab some yummy eats at Ice Cream Social, such as Orange Leaf froyo, Dairy Queen ice cream sandwiches, and Cottage Inn pizza. Games and activities include soccer shoot-out (featuring B/P staff members as goalie!), putt-putt golf, photo booth, karaoke, and returning favorites such as inflatables and the Cake Walk &mdash; which delicious treat will you bring home? See you there!</p>
<hr />
<p><span style="color: #008000;"><b>1st &amp; 2nd Grade "Spring Sing" Concerts: </b></span>Please join us on Tuesday May 24th and Thursday May 26 for Bryant's annual "Spring Sing" concerts! On May 24th, the 2nd graders will be performing "Dance to the Music" and on May 26th ,the 1st graders will be performing "Each of Us is a Flower." Both performances will be held in the Bryant Gym and start at 7pm, however students are asked to arrive at 6:40 and meet in the multi-purpose room. If you are available to help aid in watching students as they arrive in the multi-purpose room, please contact Mrs. Krohn (<a href="mailto:krohnk@aaps.k12.mi.us">krohnk@aaps.k12.mi.us</a>). We would love your help! Thanks and we hope to see you there!</p>
<hr />
<p><span style="color: #008000;"><b>Save Money, Order Your Tickets in Advance:</b></span> Order forms will come home with your student next week, to purchase food, game, and raffle tickets in advance at a discount. Ticket pre-orders will be filled on May 18 and 19. Purchase your tickets at <b>"Lunch with a Loved One" at Bryant (Wednesday, May 18) or at Pattengill (Thursday, May 19)</b>, or send in your order form and payment, and your tickets will be waiting for you at Ice Cream Social. A coupon for a free California Pizza Kitchen kids meal is included with each pre-order.</p>
<hr />
<p><b><span style="color: #008000;">Help our Girls On the Run support Mott's Children's Hospital!</span> </b>Pattengill's Girls on the Run Team will be holding a bake sale on <i>Monday May 16</i> to benefit Mott's Children's Hospital, It will be held in front of the school from dismissal until 5:30. We will have nut free treats and refreshing drinks. The cost is a suggested cash donation, any amount you can afford, or a NEW stuffed animal. Please come out to show your support, or send your student with a donation! Contact Elizabeth Deyarmond at crowdecoder@gmail.com with any questions</p>
<hr />
<p><b><span style="color: #008000;">A Big Thank You!:</span> </b>Thank you to all of the families who worked to make Teacher &amp; Staff Appreciation week a success! Whether sending in a card, note, flower, or dessert, or donating your time and energy to setting up or cleaning up Wednesday's lunch or Friday's dessert party, your efforts are very much appreciated! Teachers and Staff, thank you for providing such a wonderful learning environment for our children! Teacher &amp; Staff Appreciation week may be over for this year, but we continue to appreciate the work you do each day!</p>
<hr />
<p><b><span style="color: #008000;">Rec &amp; Ed Survey &mdash; What Classes Would You Like To See Offered Next Year?</span> </b>The Rec &amp; Ed Department is asking for all parent input as to what classes they would like to see offered during after school hours next year. Your input is used to create their menu of classes. Please take time to fill out the following surveys- <a href="http://www.surveymonkey.com/r/BryantASC2016-17">Bryant After School Survey</a> ( Bryant Families Only)  &amp; <a href="http://www.surveymonkey.com/r/PattengillASC2016-17">Pattengill After School Survey</a> ( Pattengill Families Only).  Questions- Jenna Bacolor- <a href="mailto:bacolor@aaps.k12.mi.us">bacolor@aaps.k12.mi.us</a></p>
<hr />
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #008000;"><b>Ice Cream Social Volunteers Still Needed:</b></span><b> If you're able to run one of the games, sell food, donate a treat for the Cake Walk, or help with clean up, please sign up here: </b><a href="https://docs.google.com/spreadsheets/d/1yWaMjXKtVdktyWEFF38Kv8UqTIaztE5dBZEiPtHXCIQ/edit?usp=sharing"><b>2016 Ice Cream Social Volunteer Sign Up</b></a><b>. </b><b>Responsible teenagers welcome! Questions? Contact Janelle Johnson at </b><b>johnsonja@aaps.k12.mi.us</b><b>. </b><b>Thank you!</b></p>
<hr />
<p><b>Reminders</b></p>
<p><b><span style="color: #008000;">Don't Forget Great Lakes Scrip Gift Cards Due Thurs. May 19</span>: </b>Are you looking to give gift cards for an upcoming graduation, end-of-year teacher gift, wedding, shower, etc.? There are many local and national retailers through Great Lake Scrip fundraising, so there is a gift card for everyone. Order forms are <a href="https://drive.google.com/file/d/0B-_iHxypfI5bUUdZUm9aVFFuQTA/view?usp=sharing">attached</a> Questions? Contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com">sskotre@hotmail.com</a></p>
<hr />
<p><b>Get Ready For Bryant Field Day June 3</b>: Bryant Field Day is June 3rd and we need your help.  Volunteers are needed to help with set up and the event itself.  This is a fun activity for kids and we want to make sure we have enough people to help.  Sign up here <a href="http://www.signupgenius.com/go/8050f4baca82ca75-bryant">http://www.signupgenius.com/go/8050f4baca82ca75-bryant </a>Email Kathy Owens with any questions. kmann@umich.edu</p>
<hr />
<p><b>Visit the Ann Arbor PTO Thrift Shop:</b> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"><b> Shop, donate, and support AAPS</b></a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>May</b></p>
<ul>
    <li>Thurs, May 12: PTO General Meeting, Pattengill Media Center <i>(ALL Families Welcome, Childcare Provided)</i>, 6:00 - 7:30pm <i>(note time change)</i></li>
    <li>Fri, May 20: Ice Cream Social, Pattengill, <b>6:00 - 8:30pm </b></li>
    <li>Tues, May 24: 2nd Grade Spring Sing, Bryant Gym, 7-8pm</li>
    <li>Thurs, May 26: 1st Grade Spring Sing, Bryant Gym, 7-8pm</li>
    <li>Mon, May 30    : <b>Memorial Day - </b><b><i>No School for Students</i></b></li>
</ul>
<p><b>June</b></p>
<ul>
    <li>Fri, Jun 3: Bryant Field Day (Raindate: Monday, June 6), 1:45 - 3:15pm</li>
    <li><b>Tues, Jun 7: PTO Executive Board Meeting, Bryant Media Center, 6pm - 7:30pm</b></li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>Fri, Jun 10:</strong> Pattengill Field Day (Raindate: Monday, June 13), 1:15 - 3:15p</li>
    <li>
        <strong>Fri, Jun 17 :</strong> Flag Ceremony &amp; "Clap Out," Pattengill <i>(Families Welcome) &mdash; </i>9am<b>
            <i>
                <br />
            </i>
        </b><b>Last Day of School, 1/2 Day (Release Time: 11:51am)</b><b>
            <br />
        </b><b>Report Cards Go Home</b>
    </li>
    <li>
        <b>
            Thurs, Jun 16: <b>2</b><b>nd</b><b> Grade Recognition Ceremony</b> &amp; "Clap Out," Bryant Gym- 9:30am <i>(Families Welcome)</i><b>
                <i>
                    <br />
                </i>
            </b>2pm- <b>5</b><b>th</b><b> Grade Promotion Ceremony,</b> Pattengill Cafeteria <i>(Families Welcome)</i>
        </b>
    </li>
</ul>
<p>&nbsp;</p>
<hr />
<p><b>Stay Connected</b></p>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><b><a href="/2016/05/13/thursday-notes-5-12-16/2016-ics-poster-thnotes/" rel="attachment wp-att-2086"><img data-attachment-id="2086" data-permalink="https://www.bryantpattengill.org/2016/05/13/thursday-notes-5-12-16/2016-ics-poster-thnotes/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?fit=1700%2C2200&amp;ssl=1" data-orig-size="1700,2200" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2016 ICS poster ThNotes" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?fit=232%2C300&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?fit=474%2C614&amp;ssl=1" class="alignnone size-medium wp-image-2086" src="/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes-232x300.png?resize=232%2C300" alt="2016 ICS poster ThNotes" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?resize=232%2C300&amp;ssl=1 232w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?resize=768%2C994&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?resize=791%2C1024&amp;ssl=1 791w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?w=948 948w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/05/2016-ICS-poster-ThNotes.png?w=1422 1422w" sizes="(max-width: 232px) 100vw, 232px" data-recalc-dims="1" pagespeed_url_hash="1861642757"  /></a></b></p>
<p>&nbsp;</p>