@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6 style="text-align: left">In this issue:</h6>
<ul>
    <li><span style="color: #008000">Restaurant Day at Buffalo Wild Wings</span></li>
    <li><span style="color: #008000">N.A.A.P.I.D/Parent Involvement Day</span></li>
    <li><span style="color: #008000">Girls on the Run Correction: Registration Ends <span class="aBn"><span class="aQJ">Feb. 15</span></span></span></li>
    <li><span style="color: #008000">Science Olympiad Sign Up</span></li>
</ul>
<table width="14">
    <colgroup>
        <col width="13" />
    </colgroup>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><span style="color: #008000">Volunteers Needed for Pattengill Talent Show</span></li>
    <li><span style="color: #008000">Kindergarten Round-Up Volunteers Needed</span></li>
    <li><span style="color: #008000">Looking To Volunteer?</span></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><span style="color: #008000">Information from the City of Ann Arbor Regarding Deer Management</span></li>
    <li><span style="color: #008000">Box Tops Due <span class="aBn"><span class="aQJ">Feb. 23</span></span></span></li>
    <li><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></li>
</ul>
<h6>Mark Your Calendars</h6>
<h6>Stay Connected</h6>
<hr />
<h6>In this issue</h6>
<p dir="ltr"><span style="color: #008000"><strong>Restaurant Day at Buffalo Wild Wings:</strong></span> On <span class="aBn"><span class="aQJ">Monday, Feb. 1</span></span>, a day off for students, please join the Bryant/Pattengill community at the Buffalo Wild Wings near the Briarwood Mall (3150 Boardwalk Drive, Ann Arbor). BW3s will donate 20% of your bill on that day and night from <span class="aBn"><span class="aQJ">11am</span></span>&mdash;<span class="aBn"><span class="aQJ">2am</span></span> if you give your server the flyer that will be distributed next week, or show the flyer on your phone. You can dine in for lunch or dinner, or grab takeout for your family or co-workers. If you want to reserve space for a team or group, call BW3 on Boardwalk at <a href="tel:%28734%29%20997-9464" target="_blank">(734) 997-9464</a>. Questions? Contact Larry Lage at<a href="mailto:larrylage@yahoo.com" target="_blank"> larrylage@yahoo.com</a></p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>N.A.A.P.I.D/Parent Involvement Day:</strong></span> Please plan to participate in Parent Involvement Day on Monday, Feb. 8 at both schools. National African American Parent Involvement Day (N.A.A.P.I.D.) is a national initiative started by the late Joe Dulin, a former Ann Arbor principal. This day was created to encourage parents to connect with their child's school and become involved in their education. We invite ALL parents to join us for programs at Bryant/Pattengill. Bryant will feature a continental breakfast and speaker Jean Alicia Elster, award winning author of several children's books. Pattengill will offer a school-wide assembly, parent lunch, and keynote speaker Professor Stephen Ward, African American Studies professor from University of Michigan, and a Pattengill parent. Please join us for the day's events and plan to visit with your child at school. Questions? Contact Deborah Joseph at<a href="mailto:josephd@aaps.k12.mi.us" target="_blank">josephd@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Correction: Girls on the Run Registration Is Still Open</span> </strong>&mdash; In last week's Thursday Notes, it was stated that registration ends Jan. 15. That was incorrect. Girls on the Run registration is still open until <span class="aBn"><span class="aQJ">Feb. 15</span></span>! Don't forget to register for this great program! Our program at Pattengill is open to all 3rd-5th grade girls and will meet after school on Mondays and Wednesdays from <span class="aBn"><span class="aQJ">4:15-5:45pm</span></span>, <span class="aBn"><span class="aQJ">March 7th-May 20th</span></span>. All registered participants will receive a healthy snack at each lesson, a program t-shirt and water bottle, a parent guide book, Girls on the Run cinch sack, and entry into the 5k on Sunday, May 15. <a href="http://www.girlsontherunsemi.org/" target="_blank">Click here </a>to learn more and to register. Regular registration is open until Feb. 15, then the cost increases for late registration. Financial assistance is available, and discounts are provided for those interested in volunteering on the coaching team. Email:<a href="mailto:info@girlsontherunsemi.org" target="_blank">info@girlsontherunsemi.org</a> for more information. Questions? Contact Elizabeth Deyarmond at:<a href="mailto:crowdecoder@gmail.com" target="_blank">crowdecoder@gmail.com</a></p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Science Olympiad Sign Up:</strong> </span>There is still time to sign up for Science Olympiad. This free exploration-based enrichment program focuses on engineering, science, and nature. We practice with hands-on investigation, novel projects, engaging case studies, and lots of teamwork. It is open to all 2nd-5th grade Bryant and Pattengill students. Teams practice once per week with volunteer coaches starting in February. Check out the topics and register your student today! <a href="/SO" target="_blank">http://BryantPattengill.org/SO</a></p>
<hr />
<p dir="ltr">Help Wanted: Volunteer Opportunities</p>
<p dir="ltr"> <strong><span style="color: #008000">Volunteers Needed for the Pattengill Talent Show:</span> </strong>Please come and help the teachers and students put on a great show. Dress rehearsal <span class="aBn"><span class="aQJ">Tuesday, Feb. 2</span></span> <span class="aBn"><span class="aQJ">4-6:30pm</span></span>, Evening Performance Friday, Feb. 5 at 7pm,Daytime Performance as part of NAAPID Monday, Feb. 8 at 1:45pm. Volunteers are needed at all events. Please contact Deb Schreck at <a href="mailto:schreck@aaps.k12.mi.us" target="_blank">schreck@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Kindergarten Round-Up Volunteers Needed:</strong></span> Assistance is needed on <span class="aBn"><span class="aQJ">Thursday, Feb. 25</span></span>, <span class="aBn"><span class="aQJ">6:00</span></span>&mdash;<span class="aBn"><span class="aQJ">7:30pm</span></span> for the upcoming Round-Up. We are looking for about 15 or so volunteers to assist with parent sign-in, snacks, tours and more. If you are interested, please contact Karishma Collette at <a href="http://umich.edu/" target="_blank">karishms@umich.edu</a> or sign up via the volunteer sheet at <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=12" target="_blank">https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=12.</a> Please help us welcome new prospective families to the Bryant and Pattengill family!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Looking To Volunteer?</span> </strong>We are always in need of volunteers for the many events held at both schools. Visit<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to volunteer for any of our PTO events and activities. Questions? Contact PTO board members Carmen Atkins, VP of Bryant at: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill at: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>.</p>
<hr />
<h6>Reminders</h6>
<p dir="ltr"><span style="color: #008000">I<strong>nformation from the City of Ann Arbor Regarding Deer Management:  </strong></span>Parks and Nature Areas will be closed <span class="aBn"><span class="aQJ">Monday</span></span>&mdash;<span class="aBn"><span class="aQJ">Friday</span></span> from <span class="aBn"><span class="aQJ">4:00pm-7:00am</span></span>, Jan. 1-March 1. For more information regarding what parks and nature areas have been identified for deer population management or for questions, visit: <a href="http://www.a2gov.org/deermanagement" target="_blank">www.a2gov.org/deermanagement</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Keep Clipping Box Tops!</strong> </span><a href="http://www.boxtops4education.com/" target="_blank">Box Tops coupons</a> are now being accepted for our next submission on <span class="aBn"><span class="aQJ">Tuesday, Feb. 23</span></span>. Thank you for submitting your Box Tops in the &#8216;black boxes' located outside each school's office, as we try to reach our goal of $1,200 for this school year. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com" target="_blank">jmpowl@aol.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span></strong> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h6> Mark Your Calendars</h6>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong>January</strong></p>
<ul>
    <li>
        <p dir="ltr"><span style="color: #008000"><strong><span class="aBn"><span class="aQJ">Wed, Jan. 6 - 29</span></span>: NWEA Testing</strong></span></p>
    </li>
    <li>
        <p dir="ltr"><span style="color: #008000"><strong>Thurs, Jan. 21: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6-7:30pm</span></span>, Bryant Media Center</strong></span></p>
    </li>
</ul>
<p dir="ltr"><strong>February</strong></p>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 1: No School</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 1: Restaurant Day at Buffalo Wild Wings</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000"><span class="aBn"><span class="aQJ">Fri, Feb. 5</span></span>: Pattengill Talent Show for Parents/Community, <span class="aBn"><span class="aQJ">7- 9pm</span></span></span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 8: Morning: Bryant NAAPID/Parent Involvement Day, ALL Parents Welcome</span></strong></p>
        <ul>
            <li>
                <p dir="ltr"><strong><span style="color: #008000">Afternoon: Pattengill NAAPID/Parent Involvement Day, ALL Parents Welcome</span></strong></p>
            </li>
            <li>
                <p dir="ltr"><strong><span style="color: #008000">Pattengill Talent Show for Students, <span class="aBn"><span class="aQJ">1:45-3:30</span></span></span></strong></p>
            </li>
        </ul>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Wed, Feb. 10: Student Count Day</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon-<span class="aBn"><span class="aQJ">Fri, Feb. 15-19</span></span>: Mid-Winter Break - No School for Students</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 22: School Resumes</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Wed, Feb. 24: Pattengill Science Fair, Pattengill Gym, <span class="aBn"><span class="aQJ">6-7:30pm</span></span>    </span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Thurs, Feb. 25: Kindergarten Round-Up, Bryant Multipurpose Room, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></span></strong></p>
    </li>
    <li><strong><span style="color: #008000"><span class="aBn"><span class="aQJ">Fri, Feb. 26 - Mar 9</span></span>: Read-A-Thon</span></strong></li>
</ul>
<hr />
<h6> Stay Connected</h6>
<ul>
    <li>PTO Website:<a href="/" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr"><strong>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</strong></p>
<p dir="ltr"><strong>**Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</strong></p>
<hr />
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/M5TxfVLG7DHd3uCIg8MDsA0zgkwY8HP7OW4-JWFVWX4IWIu5tRaX7ND56CvLw8Dz-d34bFNS16ip-wyA11k6JxPaU02fl07Gs7WeTv-DiMgONShEPdll_NA2UziE-eY2D4G_6iFd" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="1992009586"  /></p>