@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><b>In This Issue:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Come to Tech Night at Pattengill Next Tuesday</b></span></li>
    <li><span style="color: #008000"><b>Don't Forget To Turn In Your Money from Read-A-Thon</b></span></li>
    <li><span style="color: #008000"><b>Music Notes from Pattengill</b></span></li>
    <li><span style="color: #008000"><b>Young Fives/Kindergarten Readiness Day</b></span></li>
    <li><span style="color: #008000"><b>March P.E. Activity Calendars Available Online</b></span></li>
    <li><span style="color: #008000"><b>A Big Thank You!</b></span></li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<ul>
    <li><span style="color: #008000"><b>Disability Awareness Workshop Needs YOU on 3/31</b></span></li>
    <li><span style="color: #008000"><b>Looking To Volunteer?</b></span></li>
</ul>
<h6><b>Reminders:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Last Week To Register For Girls on the Run</b></span></li>
    <li><span style="color: #008000"><b>March Restaurant Day: California Pizza Kitchen</b></span></li>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<p>&nbsp;</p>
<hr />
<p><b>In This Issue</b></p>
<p><span style="color: #008000"><b>Come to Tech Night at Pattengill Next Tuesday</b>:</span> Don't miss "Education Innovations: Technology at Pattengill" on <b>Tuesday, March 15. Food is available from 5:30-6:30, and Tech Night is from 6-8pm.</b> Come learn how technology is incorporated into your child's learning experience every day. Please see <a href="https://docs.google.com/document/d/1GyNS9UeoWIDbXVJNAgbtTs6hvmosEDN4jY3o16RSJv4/edit?usp=sharing"><b>attached</b> </a>for descriptions of the night's presentations.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Don't Forget To Turn In Your Money For Read-A-Thon:</b></span> Reading days are over for Read-a-thon, but we are still collecting sponsorship money through <b>Monday, March 21</b>! Please remember to send in checks rather than cash and <i>write your child's name and teacher's name </i> on the envelope. Thank you for taking part in this fun and important fundraiser for our schools!</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Music Notes from Pattengill:</span> </b>Pattengill's 4th and 5th grade students will be going on a field trip to Hill Auditorium to see and hear the Ann Arbor Symphony for their annual Youth Concert, on Wednesday morning, <b>March 16</b>. The concert involves audience participation, so students will be singing and playing recorders along with the orchestra.</p>
<p><b>Fourth Grade Recorder Concert on March 29 at 7pm in the cafeteria: </b>The fourth grade students will show what we've been learning in music this year, playing many familiar tunes with the whole group, and some small group and solo numbers, too. Come and cheer them on!</p>
<p><b>Third Grade Spring Sing on April 21 at 7pm in the cafeteria: </b>The third grade students will perform songs and poems about our great state of Michigan, going along with their Social Studies unit. Come and learn some new things about the wonderful place we live!</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Young Fives/Kindergarten Readiness Day:</span> </b>Do you have or know of someone that has a Young Fives or Kindergartener attending Bryant next year? If so, please read the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bVXdpNVZUX0gzWkU/view?usp=sharing">attached</a> flyer. Parents can sign up for a time slot in which they will bring their child to Bryant for a screening, to see what they can work on during the summer to get them ready for school. Readiness Day will take place on <b>Thursday, April 14</b>. Questions? Please contact Mrs. Heyward at: <a href="mailto:heywardr@aaps.k12.mi.us">heywardr@aaps.k12.mi.us</a></p>
<hr />
<p><span style="color: #008000"><b>March P.E. Activity Calendars Available Online: </b></span>Hello Bryant Families! March activity calendars are up on my web page: <a href="http://www.a2schools.org/Page/8864">http://www.a2schools.org/Page/8864</a>.  These are a great opportunity to do some of the physical activities we do in the gym.  Have fun! &mdash; Bryant P.E. teacher, Mr. Willard</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">A Big Thank You:</span> </b>Kudos to Mrs. Rohde and Carmen Atkins for coordinating another amazing Book Fair! Thank you to all the volunteers who helped make the fair successful. We received several donations that allowed us to purchase books for children who would not have otherwise gotten a book. Thank you to those Donors! Thank you to the Bryant Staff for coordinating and reading books to the children on Pajama Night. Seeing the smiling faces on all the children as they picked out and purchased books made it all worth while!</p>
<hr />
<p>
    &nbsp;<br />
    <b>Help Wanted: Volunteer Opportunities</b>
</p>
<p><span style="color: #008000"><b>Disability Awareness Workshop Needs YOU on 3/31: </b></span>"Can you imagine what it would be like to push a wheelchair through the snow outside?" The Disability Awareness Workshop (DAW) teaches 4th and 5th graders an empathetic understanding of physical, developmental, and learning disabilities. On <b>Thursday, March 31,</b> 23 parent volunteers are needed for each of 2 DAW workshops at Pattengill: 4th grade in the morning, and 5th grade in the afternoon. Volunteers will assist students at several hands-on stations: vision, hearing, speech, learning disabilities, physical impairments, and building accessibility. <b>No experience working with people with disabilities is necessary.</b> Lunch is provided for all volunteers! Please click on the <a href="http://goo.gl/forms/L3L86NxdOS"><b>sign-up sheet</b></a> to support this important experience for our kids, and be a part of the DAW team! Questions? Contact Jaime Moore: <a href="mailto:michiganjaime@hotmail.com">michiganjaime@hotmail.com</a> or Xan Morgan: <a href="mailto:xandramorgan@gmail.com">xandramorgan@gmail.com</a>.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Looking To Volunteer?</span> </b>There is an opportunity for <b>ALL</b> B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. <b>Please visit</b> <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"><b>2015-2016 Bryant/Pattengill Volunteer Sign-Up</b></a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p>&nbsp;</p>
<p><b>Reminders</b></p>
<p><span style="color: #008000"><b>Last Week To Register For Girls on the Run:</b></span> Thanks to enthusiastic support from our volunteer coaches, we're excited to announce that we have additional openings on our Pattengill team! Open to all 3rd-5th grade girls, GOTR will meet after school on Mondays and Wednesdays from 4:15-5:45pm, March 7-May 20. The GOTR lessons encourage positive emotional, social, mental, and physical development, and we will end the season by running a 5k on North Campus. <a href="https://drive.google.com/file/d/0B-_iHxypfI5bbHBZMlptMEJhMG8/view?usp=sharing"><b>Click here</b></a> to learn more and to register. Any girl can try one lesson for free between March 7-18, with a signed flier. Due to 5th grade camp, our first four lessons will be 3/7, 3/14, 3/16, and 3/17. Try it out! Registration is open until <b>March 18.</b> Financial assistance is available. Email: <a href="mailto:info@girlsontherunsemi.org">info@girlsontherunsemi.org</a> for more information. Questions? Contact Elizabeth Deyarmond at: <a href="mailto:crowdecoder@gmail.com">crowdecoder@gmail.com</a>.</p>
<hr />
<p><b><span style="color: #008000">March Restaurant Day at California Pizza Kitchen:</span> </b>Mark your calendars for our next Restaurant Day on <b>Sunday, March 20, at California Pizza Kitchen in Briarwood Mall</b>. Dine-in or carry-out between <b>11am-8pm</b>, present the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bODhoLUlNaU9VRlE/view?usp=sharing"><b>attached</b></a> flyer, and our schools will receive 20% of your purchase. We hope having Restaurant Day on a Sunday helps you gather with family and friends to enjoy a good meal for a great cause.</p>
<hr />
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span><b>: </b>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> <b>Shop, donate, and support AAPS</b></a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><span style="color: #008000"><b>March</b></span></p>
<ul>
    <li>Wed-Fri, Mar. 9-11: 5th Grade Camp</li>
    <li>Thurs, Mar. 10:<span style="color: #ff0000"> School Improvement Team (SIT) Meeting, Pattengill, 4:30pm</span> <b>CANCELLED SEE NEW DATE MAR. 31 </b></li>
    <li>Thurs, Mar. 10: PTO Exec Board Meeting, Pattengill, 6-7:30pm</li>
    <li>Tues, Mar. 15: Tech Night, Pattengill, 6-8pm (<b>5:30-6:30pm-food available)</b> <b>*DATE CHANGE*</b></li>
    <li>Tues, Mar. 15: Report Cards Go Home</li>
    <li>Wed, Mar.16<span style="color: #ff0000">&mdash; Pizza With The Principals</span>&mdash;<b> CANCELLED (Will Be Rescheduled at Later Date) </b></li>
    <li>Sun, Mar. 20: Restaurant Day, California Pizza Kitchen, 11am-8pm</li>
    <li>Tues, Mar. 22: Family Science Night, Bryant, 6-7:30pm</li>
    <li>Fri, Mar. 25: NO SCHOOL &mdash; Good Friday</li>
    <li>Tues, Mar. 29: Pattengill Spring Pictures</li>
    <li>Tues, Mar. 29: 4th Grade Spring Recorder Concert, Pattengill, 7pm</li>
    <li>Wed, Mar. 30: Bryant Spring Pictures</li>
    <li>Thurs, Mar. 31: Disability Awareness Workshop at Pattengill for 4th Grade (morning) and 5th Grade (afternoon)</li>
    <li>Thurs, Mar. 31: School Improvement Team (SIT) Meeting, Pattengill, 4:30pm *<b>NEW DATE*</b></li>
</ul>
<p><span style="color: #008000">   <b>April</b></span></p>
<ul>
    <li>Mon - Fri, Apr. 4-8: Spring Break - <i>No School for Students</i></li>
    <li>Mon, Apr. 11: School Resumes</li>
    <li>Thurs, Apr. 14 Kindergarten Registration and Readiness, Bryant Gym (by Appointment), 9am-2pm</li>
    <li>Thurs, Apr. 14: PTO Executive Board Meeting, Bryant Media Center, 6-7:30pm</li>
    <li>Tues, Apr. 19: Volunteer Appreciation Night, Bryant <i>(ALL Family Volunteers Welcome), </i>6-7:30pm</li>
    <li>Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, 7-8pm</li>
    <li>Friday, Apr. 22: Earth Day of Service <i>(ALL Parents Welcome to Volunteer at Schools)</i></li>
    <li>
        Thurs, Apr. 28: International Festival, Pattengill, 6:30-8:30pm<br />
        <hr />
    </li>
</ul>
<p><b>Stay Connected</b></p>
<ul>
    <li><span style="color: #008000">PTO Website:</span><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><span style="color: #008000">PTO on Facebook:</span><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><span style="color: #008000">PTO on Twitter:</span><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><span style="color: #008000">Bryant Website:</span><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><span style="color: #008000">Pattengill Website:</span><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<hr />
<p>&nbsp;</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><b><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone size-medium wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=214%2C300" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 214px) 100vw, 214px" data-recalc-dims="1" pagespeed_url_hash="3304415326"  /></a></b></p>
<p>&nbsp;</p>