@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><b>In This Issue:</b></h6>
<ul>
    <li><span style="color: #008000"><b>Restaurant Day at California Pizza Kitchen This Sunday</b></span></li>
    <li><span style="color: #008000"><b>Tappan Players Presents </b><b><i>ANNIE </i></b><b>This Weekend: March 18, 19, &amp; 20 </b></span></li>
    <li><span style="color: #008000"><b>Show Your Support for Science Olympiad: Shop at PTO Thrift Shop</b></span></li>
    <li><span style="color: #008000"><b>Read-A-Thon Money Due Monday</b></span></li>
    <li><span style="color: #008000"><b>Come to Family Science Night on Tuesday</b></span></li>
    <li><span style="color: #008000"><b>New Date for Pizza with the Principals</b></span></li>
    <li><span style="color: #008000"><b>Know a Family Interested in the Young Fives Program?</b></span></li>
    <li><span style="color: #008000"><b>Another Successful 5</b><b>th</b><b> Grade Camp Trip &mdash; Thank You!</b></span></li>
    <li><span style="color: #008000"><b>Tech Night Kudos</b></span></li>
    <li><span style="color: #008000"><b>Box Tops Update</b></span></li>
</ul>
<h5><b>Help Wanted: Volunteer Opportunities</b></h5>
<ul>
    <li><span style="color: #008000"><b>Have You Signed Up for Disability Awareness Workshop on 3/31?</b></span></li>
    <li><span style="color: #008000"><b>Looking To Volunteer?</b></span></li>
</ul>
<h5><b>Reminders:</b></h5>
<ul>
    <li><span style="color: #008000"><b>Music Notes from Pattengill</b></span></li>
    <li><span style="color: #008000"><b>Young Fives/Kindergarten Readiness Day</b></span></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<p>&nbsp;</p>
<hr />
<p><b>In This Issue</b></p>
<p><b><span style="color: #008000">Restaurant Day at California Pizza Kitchen This Sunday:</span> </b>Mark your calendars for our next Restaurant Day on <b>Sunday, March 20, at California Pizza Kitchen in Briarwood Mall</b>. Dine-in or carry-out between <b>11am-8pm</b>, present the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bODhoLUlNaU9VRlE/view?usp=sharing"><b>attached</b></a> flyer, and our schools will receive 20% of your purchase. We hope having Restaurant Day on a Sunday helps you gather with family and friends to enjoy a good meal for a great cause.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Tappan Players Presents </b><b><i>ANNIE </i></b></span><b><span style="color: #008000">This Weekend:</span> March 18, 19, &amp; 20 &mdash; </b>Tickets are available for the Tappan Players' production of <i>Annie</i>, one of the best-loved family musicals of all time. With a cast and crew of over 125 Tappan Middle School students, this heart-warming musical is the rags-to-riches story of young Annie's journey from a hard-knock New York orphanage to the luxurious home of billionaire businessman Oliver Warbucks. <b>Performances will be held in the Tappan Auditorium on Fri., March 18 at 7:30pm; Sat., March 19 at 1pm; and Sun., March 20 at 1pm. </b> Tickets can be purchased online at<a href="https://www.showtix4u.com/boxoffice.php?submit=Search+for+Events&amp;begin=1542968&amp;current_client=1232521302181367&amp;ts=1426029298"> ShowTix4U,</a> $12 for Adult, $10 for Child/Student  <a href="https://www.showtix4u.com/boxoffice.php?submit=Search+for+Events&amp;begin=1542968&amp;current_client=1232521302181367">https://www.showtix4u.com/boxoffice.php?submit=Search+for+Events&amp;begin=1542968&amp;current_client=1232521302181367</a>. Tickets will also be available before each performance for cash or check only at the ticket booth inside the bubble doors/gym entrance. Please come on out to enjoy a fantastic show, learn more about the theater opportunities at Tappan, and support your neighborhood middle school!</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Show Your Support for Science Olympiad:</span> Shop at PTO Thrift Shop-</b> Show your support for Bryant/Pattengill's Science Olympiad team beginning Sunday at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. From <b>March 20-26</b>, we have an opportunity to earn a percentage of $1,000 through this fundraising activity. For every $5 spent at the PTO Thrift Shop, shoppers earn a token. Cast your tokens beginning this Sunday in support of our Science Olympiad teams. Spread the word to friends and family and let's SHOW OUR SUPPORT for our schools! See the flier below for store hours.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Read-A-Thon Money Due Monday:</b> </span>Reading days are over for Read-A-Thon, but we are still collecting sponsorship money through <b>Monday, March 21</b>! Please remember to send in checks rather than cash and <i>write your child's name and teacher's name </i>on the envelope. Thank you for contributing to this fun and important fundraiser for our schools<b>!</b></p>
<hr />
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: left"><span style="color: #008000"><b>Come to Family Science Night on Tuesday:</b></span> Please join us for an evening of FUN with science on <b>Tuesday,</b> <b>March 22, 6:00-7:30pm at Bryant in the Gym</b>. All children and their families are invited to try experiments led by the Ann Arbor Hands-On Museum and Ms. Fox's science class from Pioneer High School. All children MUST be accompanied by an adult. We are still in need of a few more parent volunteers for this event. If you can help, please <a href="http://www.signupgenius.com/go/10c0f4dacaa23a6fe3-bryant"><b>click here</b></a> to sign up, or contact Charlita Daniels at <a href="mailto:dancharl@umich.edu">dancharl@umich.edu</a>.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>New Date for Pizza with the Principals:</b></span> Join Mrs. Heyward and Mrs. Alston for an informal chat at Pizza with the Principals, rescheduled for <b>Tuesday, April 26, 6:15-7:15pm </b>at the <b>Bryant Community Center</b>, located at 3 W. Eden Court.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Know a Family Interested in the Young Fives Program?</b> </span>All parents interested in Young Fives at Bryant for the 2016-2017 school year must register through the district's website. There is a student limit for Young Fives classrooms, so please be sure to register as soon as possible! <a href="http://www.a2schools.org/Page/6993">Click here</a> for more information and/or to register.</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Another Successful 5</b><b>th</b><b> Grade Camp Trip &mdash; Thank You!</b></span> On Wednesday-Friday last week, 82 5th Graders, 5 teachers, and 11 chaperones were at Howell Nature Center for 5th Grade Camp. As everyone arrived back to Pattengill on Friday, they all reported that they were a little tired but had a great time. It takes the work of many people to pull off this amazing experience for the Pattengill 5th Graders. We want to thank our chaperone volunteers who took time off of work to join the students on the trip (Emily Campbell, Elisa Guyton, Anthony King, Tara Lindsey, Sheryl Lucas, Valentine Mariano, Kevin McDonald, Jonathan Parker, S'atonya Thomas, Keith Weintraub, &amp; Aimee Wilkins). Thank you to the Pattengill 5th Grade Teaching Team who are integral parts of the experience (Marie Embry, Brendan Hatt, Avery Hubbard, Emily Kimmey, and Talton Hall). Special shout outs to Tracy Bond (Office Administrator) and Amy Caragay (School Nurse) for their important roles in preparing for the trip. Finally we want to thank Melita Alston (Principal) and Barb Zimdars (Camp Chair) who work closely together to coordinate, organize, and oversee the Camp process. The entire team created a very special experience for our 5th Graders!</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Tech Night Kudos:</b> </span>Huge thanks to Sandro Aquiles, who coordinated Tuesday's inaugural Tech Night at Pattengill. Sandro and PTO Technology Director Marc Mojica joined Principal Melita Alston, Mrs. Blair, Mrs. Gildersleeve, Mrs. Dawson, Mrs. Moizio, Mrs. Metler, Mrs. Embry, and Mrs. Schreck in months of planning the event. We thank you all for an evening of family fun and learning at Pattengill!</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Box Tops Update:</b> </span>Thank you to all who contributed to our latest collection of <a href="http://www.boxtops4education.com/">Box Tops</a>. We raised $301.90 for our schools. Please continue to clip and save your Box Tops, and turn them in &mdash; <b>gathered in a baggie or envelope</b> &mdash; to the black box located outside of each school's office. We will continue to collect Box Tops until the end of the year, to strive to reach our goal of $1,200. Thank you! Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>.</p>
<hr />
<p>&nbsp;</p>
<h6>
    <b>Help Wanted: Volunteer Opportunities</b>
</h6>
<p><b><span style="color: #008000">Have You Signed Up for Disability Awareness Workshop on 3/31?</span> </b>The Disability Awareness Workshop (DAW) teaches 4th and 5th graders an empathetic understanding of physical, developmental, and learning disabilities. On <b>Thursday, March 31,</b> 23 parent volunteers are needed for each of 2 DAW workshops at Pattengill: 4th grade in the morning, and 5th grade in the afternoon. Volunteers will assist students at several hands-on stations: vision, hearing, speech, learning disabilities, physical impairments, and building accessibility. <b>No experience working with people with disabilities is necessary.</b> Lunch is provided for all volunteers! Please click on the <a href="http://goo.gl/forms/L3L86NxdOS"><b>sign-up sheet</b></a> to support this important experience for our kids, and be a part of the DAW team! Questions? Contact Jaime Moore: <a href="mailto:michiganjaime@hotmail.com">michiganjaime@hotmail.com</a> or Xan Morgan: <a href="mailto:xandramorgan@gmail.com">xandramorgan@gmail.com</a>.</p>
<hr />
<p>&nbsp;</p>
<p><b><span style="color: #008000">Looking To Volunteer?</span> </b>There is an opportunity for <b>ALL</b> B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. <b>Please visit</b> <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"><b>2015-2016 Bryant/Pattengill Volunteer Sign-Up</b></a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p>&nbsp;</p>
<h5>
    <b>Reminders</b>
</h5>
<p><span style="color: #008000"><b>Music Notes from Pattengill:</b></span> Pattengill's 4th and 5th grade students will be going on a field trip to Hill Auditorium to see and hear the Ann Arbor Symphony for their annual Youth Concert, on Wednesday morning, <b>March 16</b>. Mark your calendars for the <b>Fourth Grade Recorder Concert on March 29 at 7pm</b> in the cafeteria, and the <b>Third Grade Spring Sing on April 21 at 7pm</b> in the cafeteria. The students have been preparing some wonderful music for you!</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #008000"><b>Young Fives/Kindergarten Readiness Day:</b> </span>Do you have or know of someone that has a Young Fives or Kindergartener attending Bryant next year? If so, please read the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bVXdpNVZUX0gzWkU/view?usp=sharing">attached</a> flyer. Parents can sign up for a time slot in which they will bring their child to Bryant for a screening, to see what they can work on during the summer to get them ready for school. Readiness Day will take place on <b>Thursday, April 14</b>. Questions? Please contact Mrs. Heyward at: <a href="mailto:heywardr@aaps.k12.mi.us">heywardr@aaps.k12.mi.us</a></p>
<hr />
<p>
    &nbsp;<br />
    <b>Mark Your Calendars</b>
</p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<h6><span style="color: #008000"><b>March</b></span></h6>
<ul>
    <li>Fri, Sat, Sun, Mar. 18-20: Tappan Players present "Annie," Tappan Auditorium, 7:30-Fri, 1pm-Sat &amp; Sun.</li>
    <li>Sun, Mar. 20: B/P Restaurant Day, California Pizza Kitchen, 11am-8pm</li>
    <li>Tues, Mar. 22: Family Science Night, Bryant, 6-7:30pm</li>
    <li>Fri, Mar. 25: NO SCHOOL &mdash; Good Friday</li>
    <li>Tues, Mar. 29: Pattengill Spring Pictures</li>
    <li>Tues, Mar. 29: 4th Grade Spring Recorder Concert, Pattengill, 7pm</li>
    <li>Wed, Mar. 30: Bryant Spring Pictures</li>
    <li>Thurs, Mar. 31: Disability Awareness Workshop at Pattengill for 4th Grade (morning) and 5th Grade (afternoon)</li>
    <li>Thurs, Mar. 31: School Improvement Team (SIT) Meeting, Pattengill, 4:30pm *<b>NEW DATE*</b></li>
</ul>
<h6><span style="color: #008000">   <b>April</b></span></h6>
<ul>
    <li>Mon - Fri, Apr. 4-8: Spring Break - <i>No School for Students</i></li>
    <li>Mon, Apr. 11: School Resumes</li>
    <li>Thurs, Apr. 14 Kindergarten Registration and Readiness, Bryant Gym (by Appointment), 9am-2pm</li>
    <li>Thurs, Apr. 14: PTO Executive Board Meeting, Bryant Media Center, 6-7:30pm</li>
    <li>Tues, Apr. 19: Volunteer Appreciation Night, Bryant <i>(ALL Family Volunteers Welcome), </i>6-7:30pm</li>
    <li>Thurs, Apr. 21: 3rd Grade Spring Concert, Pattengill Cafeteria, 7-8pm</li>
    <li>Fri,, Apr. 22: Earth Day of Service <i>(ALL Parents Welcome to Volunteer at Schools)</i></li>
    <li>Tues, Apr. 26: Pizza with the Principals, Bryant Community Center, 6:15-7:15pm</li>
    <li>Thurs, Apr. 28: International Festival, Pattengill, 6:30-8:30pm</li>
</ul>
<hr />
<h5><b>Stay Connected</b></h5>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>
        <b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a><br />
        <hr />
    </li>
</ul>
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p>&nbsp;</p>
<p><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone size-medium wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=214%2C300" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 214px) 100vw, 214px" data-recalc-dims="1" pagespeed_url_hash="3304415326"  /></a><a href="/2016/03/16/thursday-notes-031716/science-night-1_page_1/" rel="attachment wp-att-2001"><img data-attachment-id="2001" data-permalink="https://www.bryantpattengill.org/2016/03/16/thursday-notes-031716/science-night-1_page_1/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/03/Science-Night-1_Page_1.png?fit=612%2C792&amp;ssl=1" data-orig-size="612,792" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Science Night 1_Page_1" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/03/Science-Night-1_Page_1.png?fit=232%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/03/Science-Night-1_Page_1.png?fit=474%2C613&amp;ssl=1" class="alignnone  wp-image-2001" src="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2016/03/Science-Night-1_Page_1-232x300.png?resize=251%2C325" alt="Science Night 1_Page_1" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/03/Science-Night-1_Page_1.png?resize=232%2C300&amp;ssl=1 232w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/03/Science-Night-1_Page_1.png?w=612&amp;ssl=1 612w" sizes="(max-width: 251px) 100vw, 251px" data-recalc-dims="1" pagespeed_url_hash="188267084"  /></a></p>