@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p dir="ltr"><strong>In this issue:</strong></p>
<ul>
    <li>Pattengill Curriculum Night Is <span class="aBn"><span class="aQJ">Monday</span></span></li>
    <li>Grocery Shop for Bryant/Pattengill</li>
    <li>Visit AAPS School Garden Tour</li>
</ul>
<p dir="ltr"><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li>Bryant Marquee Sign</li>
    <li>Event and Activity Volunteer Sign-Up</li>
    <li>Room Parents Wanted</li>
</ul>
<p dir="ltr"><strong>Reminders</strong></p>
<ul>
    <li>PTO Dues</li>
    <li>Volunteer Certification Form</li>
    <li>Visit the Ann Arbor PTO Thrift Shop</li>
</ul>
<p dir="ltr"><strong>Mark Your Calendars</strong></p>
<p dir="ltr"><strong>Stay Connected</strong></p>
<p dir="ltr"><strong>In this issue</strong></p>
<p dir="ltr"><strong>Pattengill Curriculum Night Is <span class="aBn"><span class="aQJ">Monday</span></span>:</strong> Pattengill parents, mark your calendars for Curriculum Night in the cafetorium, <span class="aBn"><span class="aQJ">Monday, Sept. 21</span></span>, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>. This evening is for you to visit with your child's teacher, learn about the curriculum, and ask questions. You will also have an opportunity to sign up for parent/teacher conferences, visit all special area classrooms, and meet other support staff who provide services to our students. See you Monday night at Pattengill! Curriculum Night for Bryant parents is Tuesday, Sept. 29, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>.</p>
<hr />
<p dir="ltr"><strong>Grocery Shop for Bryant/Pattengill:</strong> Attention Grocery Shoppers! Each year Bryant/Pattengill families raise money for our schools simply by shopping at grocery stores and other local retailers. In the <a href="https://msg.schoolmessenger.com/m/?s=ls2RZdLq17E&amp;mal=5d6a833473447352bb1ef99454aedbb71ce3e5e77bb3e250c67994de991875d0" target="_blank">Grocery Shopping Flyer</a>  (or on the PTO website <a href="/fundraising/grocery-scrip/" target="_blank">here</a>), you will find instructions on how you can support our PTO by shopping at Busch's, Kroger, Meijer, Target, GFS Marketplace, or The Produce Station. Even if you shop at a particular store infrequently, please sign up to participate in that store's scrip program; small amounts add up! Questions? Contact Grocery Scrip Coordinator Alicia Davis at <a href="mailto:alicia972@hotmail.com" target="_blank">alicia972@hotmail.com</a>. Thanks for your participation!</p>
<hr />
<p dir="ltr"><strong>Visit AAPS School Garden Tour:</strong> The Ann Arbor Public Schools Garden Tour &amp; Reception is on Sunday, Sept. 20, 1-<span class="aBn"><span class="aQJ">4:30pm</span></span>. As outdoor classrooms, school gardens provide interdisciplinary lessons using real-life experiences and encouraging students to become active participants in the learning process. Visit one or all of the six school gardens on the tour and hear more about the learning opportunities at each from students, teachers, and garden coordinators. Please see <a href="http://annarborfarmtoschool.weebly.com" target="_blank">attached flyer</a> for participating schools.</p>
<hr />
<p dir="ltr"><strong>Help Want</strong><strong>ed: Volunteer Opportunities: </strong>Do you have 30 minutes a week to help out Bryant School? We need you! The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most. Contact Carmen Atkins for more details at <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a></p>
<hr />
<p dir="ltr"><strong>Event and Activity Volunteer Sign-Up:</strong>The Bryant/Pattengill PTO offers many fun and educational activities for students and families, and we need YOU to make them possible. Whether you have a lot or a little time, there is something everyone can do. Please browse the<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank"> 2015-2016 Bry</a><a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">ant/Pattengill Volunteer Sign-Up</a> for an opportunity(ies) that interest you. Each event or activity is specially marked with a "sun" or "moon," if you have daytime or evening availability. Please scroll through the tabs at the bottom of the document, to search the many offerings. Thank you in advance for helping make these events a success for our kids!</p>
<hr />
<p dir="ltr"><strong>Room Parents Wanted:</strong> Some teachers are still looking for a room parent or two. Please sign up at:<a href="https://docs.google.com/spreadsheets/d/1_K2KJMfaYWJJdAHXDhFFCvMBnVZUbrlIEl5Yvl7Oxfw/edit?usp=sharing" target="_blank"> Bryant/Pattengill Room Parents 2015-16</a>. Questions? Contact Carmen Atkins, PTO VP of Bryant: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, PTO VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a></p>
<hr />
<p dir="ltr"><strong>Reminders: </strong>PTO Dues: It is not too late to contribute your 2015-2016 PTO Dues, to help support the many family events, special assemblies, and field trips that the PTO funds for our students each year. Dues are tax deductible and voluntary; please give at a level that is comfortable for your family. To donate securely online, <a href="/donate/" target="_blank">click here.</a> You may also return your dues to your child's teacher (checks made payable to Bryant/Pattengill PTO). On behalf of our students and teachers, thank you!</p>
<hr />
<p dir="ltr"><strong>Volunteer Certification Form:</strong> Please complete and submit the Volunteer Certification Form. if you are planning on volunteering with your child's class. This form needs to be completed each new school year. Please submit your completed form in person to either school office, and present your ID. Thank you for your cooperation in providing our schools a safe environment for all students.</p>
<hr />
<p dir="ltr"><strong>Visit the Ann Arbor PTO Thrift Shop:</strong> Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org" target="_blank">Shop, donate, and support AAPS!</a></p>
<p dir="ltr"><strong>Mark Your Calen</strong><strong>dars</strong></p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong>September</strong></p>
<p dir="ltr"><span class="aBn"><span class="aQJ">Mon, Sept 2</span></span><span class="aBn"><span class="aQJ">1</span></span>: Pattengill Curriculum Night, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>, Pattengill Cafeteria</p>
<p dir="ltr">Tues, Sept 29: Bryant Curriculum Night, <span class="aBn"><span class="aQJ">6:30-8pm</span></span>, Bryant</p>
<p dir="ltr"><strong>October</strong></p>
<p dir="ltr">Thurs, Oct 1: Pattengill Picture Day</p>
<p dir="ltr">Thurs, Oct 1: School Improvement Team, <span class="aBn"><span class="aQJ">4:15-5:30pm</span></span>, Bryant</p>
<p dir="ltr">Thurs, Oct 1: PTO Exec Board Meeting, <span class="aBn"><span class="aQJ">6-7:30pm</span></span>, Bryant Media Center</p>
<p dir="ltr">Wed, Oct 7: Student Count Day</p>
<p dir="ltr">Wed, Oct 7: Bryant Picture Day</p>
<p dir="ltr"><span class="aBn"><span class="aQJ">Thurs, Oct 8</span></span>: PTO General Meeting, <span class="aBn"><span class="aQJ">6:30-7:30pm</span></span>, Bryant</p>
<p dir="ltr">Fri, Oct 16: Family Movie Night, <span class="aBn"><span class="aQJ">5:30-8pm</span></span>, Bryant Gym</p>
<p dir="ltr">Wed, Oct 21: Pizza with the Principals, <span class="aBn"><span class="aQJ">6-7pm</span></span>, Home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor</p>
<p dir="ltr"><strong>Stay Connected</strong></p>
<p dir="ltr">PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></p>
<p dir="ltr">PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></p>
<p dir="ltr">PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></p>
<p dir="ltr">Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></p>
<p dir="ltr">Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<p dir="ltr"><strong>Submissions for Thursday No</strong><strong>tes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>. Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</strong></p>