@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Letters from the Principals</li>
    <li>Volunteers Needed for International Festival</li>
    <li>International Festival Fashion Show</li>
    <li>Have a Safe and Happy Spring Break!</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Stone School Road Construction</li>
    <li>Invitation to 5<sup>th</sup> Grade Parents</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><span id="more-1282"></span></p>
<p><strong>In this issue</strong></p>
<p><strong>Letters from the Principals: </strong>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1xCXYBAFpiUgFQYKsnX2KhwlNmb4KsSGmo7ZQWbeJ51c/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Bryant families</a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1r8AaZTb5_-sPzbqxyHS7rfUIds3GTrMFAvRHSCyZ7J4/edit?usp=sharing" target="_blank" rel="noreferrer">letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<p><strong>Volunteers Needed for International Festival:</strong> It's time to get excited about the Bryant/Pattengill International Festival coming soon on <strong>Thursday, April 23, 6-7:30pm at Bryant School</strong>. Thank you to all the parents who have already signed up to volunteer. We still have a few volunteer needs, to make the event a success:</p>
<p>1) bring and serve food in our International Food Court, and</p>
<p>2) set up tables in the Bryant Gym at 4pm on the day of the event and/or take the tables down at the end at 7:30pm.</p>
<p>If you are able to help, please print and fill out the attached volunteer form and/or e-mail Ms.Tchalo: <a href="mailto:tchalo@aaps.k12.mi.us" rel="noreferrer">tchalo@aaps.k12.mi.us</a> and Mrs. Lim: <a href="mailto:lims@aaps.k12.mi.us" rel="noreferrer">lims@aaps.k12.mi.us</a>.</p>
<p>You can support our schools by purchasing this year's stylish souvenir T-shirts, and raffle tickets for prizes from local vendors. Raffle tickets are $1 each, or 6 for $5, or 12 for $10 and all proceeds go to the Bryant/Pattengill PTO. We have some amazing prizes this year! Watch for an upcoming sneak peek at the list of generous gifts from our community. Join us on April 23 for entertainment, food, games, raffle prizes, and more!</p>
<p><a href="/wp-content/uploads/2015/04/International-Festival-Volunteer-Form.pdf">International Festival Volunteer Form</a></p>
<hr />
<p><strong>International Festival Fashion Show (IFFS):</strong> It's not too late to join the Fashion Show at this year's International Festival. If you'd like for your child to be a part of the IFFS, please come to the practice on <strong>Thursday, April 16, 4:30-5:30pm at Bryant in the Multi-Purpose Room</strong>.</p>
<hr />
<p><strong>Have a Safe and Happy Spring Break!</strong> There will be <strong>no school</strong> for students on <strong>April 3-10</strong>. School resumes again on <strong>Monday, April 13</strong>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Stone School Road Construction:</strong> Construction on Stone School Road has begun again, and is expected to be complete in August. Stone School Road is open to north-bound traffic only near Bryant, from Ellsworth Rd. Watch for detour signs that redirect traffic, and please allow a few extra minutes when traveling to/from Bryant. Thank you for your patience.</p>
<hr />
<p><strong>Invitation to 5<sup>th</sup> Grade Parents:</strong> The Tappan Parent-Teacher-Student Organization (PTSO) invites all incoming 6<sup>th</sup> grade parents to our next PTSO meeting. You will have a chance to hear the principals speak and learn a little about what goes on at Tappan Middle School. The meeting is on <strong>Monday, April 20 at 6:00pm in the Tappan Media Center</strong>. Use the west entrance to the school and take the first staircase. The Media Center is on the second floor, on the left, just past the doors. Questions? Contact Marsha Skoman,Tappan PTSO President at <a href="mailto:mskoman@tappanptso.org" rel="noreferrer"><span style="text-decoration: underline;">mskoman@tappanptso.org</span></a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="size-medium wp-image-591" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>April</strong></p>
<ul>
    <li>Fri. April 3 - Fri. April 10: <strong>Spring Break - No School for Students</strong></li>
    <li>Tues. April 14: Bryant Spring Picture Day</li>
    <li>Tues. April 14: PTO Executive Board Meeting, 7-8pm, Bryant Media Center</li>
    <li>Thurs. April 16: Pattengill Spring Picture Day</li>
    <li>Wed. April 22: Earth Day of Service at Bryant and Pattengill</li>
    <li>Thurs. April 23: International Festival, 6-7:30pm, Bryant</li>
    <li>Tues. April 28: Third Grade Spring Sing Concert, 7-8pm, Pattengill Cafeteria</li>
</ul>
<p><strong>May</strong></p>
<ul>
    <li>Mon. May 4: NWEA Testing begins for Bryant students</li>
    <li>Mon. May 4: Fifth Grade Instrumental Spring Concert, 1pm and 7pm, Pattengill</li>
    <li>Mon. May 4 - Fri. May 8: Staff Appreciation Week</li>
    <li>Wed. May 6: Second to Third Grade Transition (students), 9:30-11am, Pattengill</li>
    <li>Wed. May 6: Second to Third Grade Transition, Parent Informational Night (childcare provided), 6:30-7:30pm, Pattengill</li>
    <li>Thurs. May 7: School Improvement Team (SIT) Meeting, 4:15-5:30pm, Pattengill</li>
    <li>Thurs. May 7: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. May 7: PTO General Meeting, 7:30-8:30pm, Pattengill (ALL families welcome, childcare provided)</li>
    <li>Wed. May 13: Coffee with the Principals, 9-10am, Location TBD</li>
    <li>Fri. May 15: Ice Cream Social, 6:30-8:30pm, Pattengill</li>
    <li>Tues. May 19: Second Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Thurs. May 21: First Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Fri. May 22: Pattengill Field Day (Raindate Fri., May 29), 1:15-3:15pm</li>
    <li>Mon. May 25: <strong>Memorial Day - No School for Students</strong></li>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Raindate Mon., June 8), 2pm</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>