@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Charleston Wrap Orders: Pickup Today and Friday</li>
    <li>Notes from the Bryant Office</li>
    <li>Bryant Media Specialist Conferences: Nov. 17</li>
    <li>Bryant Clothing Drive: Nov. 17-19</li>
    <li>Autumn School Spirit Week at Bryant: Nov. 17-21</li>
    <li>Box Tops Success</li>
    <li>Shop Barnes &amp; Noble: Nov. 30</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Title I Parent Night Tonight</li>
    <li>Restaurant Day at Elevation Burger: Nov. 17</li>
    <li>Proud Dads Club Kick-off Meeting: Nov. 19</li>
    <li>Scrip Gift Cards Orders: Due Nov. 19</li>
    <li>Family Math Night Wish List</li>
    <li>Earn Money for B/P with AmazonSmile</li>
    <li>Visit the AA PTO Thrift Shop</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-624"></span></p>
<hr />
<p><strong>Charleston Wrap Orders: Pickup Today and Friday - </strong>Charleston Wrap orders are here! Visit your child's school to pick up your order <strong>today, Thursday, Nov. 13 from 3:30-6:30pm, or Friday, Nov. 14 from 3:30-5:30pm</strong>. Please note that the end time on Friday is now 5:30pm (not 6:30pm). Bryant orders will be in the multi-purpose room. Pattengill orders will most likely be in the C-Wing conference room. Questions? Contact Anne Berens at 395-3020 or <a href="mailto:berensfam@gmail.com" rel="noreferrer">berensfam@gmail.com</a>.</p>
<hr />
<p><strong>Notes from the Bryant Office:</strong></p>
<ul>
    <li>Congratulations to Bryant families and staff for donating <strong>$1,310.52 to the Leukemia and Lymphoma Society's Pastas for Pennies coin drive</strong> for childhood cancer. Mrs. Huff's class raised the most money and will receive an Olive Garden pasta lunch. The six classes that raised $100+ will receive a Bronze Pennant: Mrs. Miller, Mrs. Bass, Mr. Brines, Mr. Hagen, Mrs. Medeiros, and Mrs. Huff. Every class is a winner as every class participated in these efforts!</li>
    <li>During the Thanksgiving holiday season, please take a moment to pause and think about those families who are less fortunate. Our school is hosting a <strong>coin drive to purchase turkey dinners for Bryant families in need</strong>. You may send in spare change with your student <strong>now through Nov. 21</strong>. Don Horning and the M-Den staff, along with other organizations, will also be donating dinners or gifts for our families.</li>
    <li>When picking up students early from school, the office staff may ask for your <strong>driver's license</strong> to verify that you are on the student's emergency list. Please have this information readily available.</li>
    <li>Please <strong>DO NOT</strong> park in handicap parking unless you have a permit to do so. Parking in these spaces without a permit can incur a fine of $100-$250.</li>
</ul>
<hr />
<p><strong>Bryant Media Specialist Conferences:</strong> Mrs. Idzikowski, Bryant's media specialist, will hold conferences on <strong>Monday, Nov. 17, from 5-7:30pm</strong>. Please email <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a> if you'd like to schedule a conference.</p>
<hr />
<p><strong>Bryant Clothing Drive:</strong> Bring your clean, gently used clothes and outerwear (coats, boots, mittens, hats, etc.) to Bryant and help families stay warm this winter! <strong>Monday, Nov. 17-Wednesday, Nov. 19, from 8:30-10am and 2-4pm</strong>. Questions? Contact Charlita Daniels at <a href="mailto:dancharl@umich.edu" rel="noreferrer">dancharl@umich.edu</a> or Kelly Pomorski at <a href="mailto:kelly.pomorski@gmail.com" rel="noreferrer">kelly.pomorski@gmail.com</a>.</p>
<hr />
<p><strong>Autumn School Spirit Week at Bryant:</strong> The Bryant Student Council has announced Spirit Week will be<strong>next week, Nov. 17-21</strong>. <strong>Monday</strong>: Backwards Day, <strong>Tuesday</strong>: Twin Day, <strong>Wednesday</strong>: Favorite Sports Team Day, <strong>Thursday</strong>: Pajama Day, and <strong>Friday</strong>: School Spirit Day.</p>
<hr />
<p><strong>Box Tops Success!</strong> Thanks to your work collecting Box Tops for Education coupons, the PTO will be receiving a check for <strong>$1,240</strong>! Please continue to clip and save your Box Tops throughout the school year, and <strong>invite family and friends to do the same</strong>! Check out a complete list of <a href="http://www.boxtops4education.com/participating-products" target="_blank" rel="noreferrer">Box Tops products</a>, as well as <a href="http://www.labelsforeducation.com/Earn-Points/Participating-Products" target="_blank" rel="noreferrer">Labels for Education products</a>. The next submission will be in February. Questions? Contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" rel="noreferrer">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Shop Barnes &amp; Noble on Nov. 30:</strong> Shop at any Barnes &amp; Noble store or online on <strong>Sunday, Nov. 30</strong> in the name of Bryant Elementary School, and a percentage of your purchase will go to the media center to help purchase books. Spread the word! More details to come next week. Questions? Contact: <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Title I Parent Night Tonight:</strong> Please join Mr. Kinasz and Mr. Hall for the Title I parent night <strong>tonight,</strong><strong>Thursday, Nov. 13, from 6-7pm </strong>in the Bryant Media Center. Snacks and refreshments will be provided.</p>
<hr />
<p><strong>Restaurant Day: November 17 at Elevation Burger -</strong> Dine in or take out with family, friends, co-workers, or teammates from <strong>11am-9pm on Monday, Nov. 17 at Elevation Burger</strong> (3365 Washtenaw Ave., Ann Arbor). Owned by B/P parents, Elevation Burger will donate 25% of your bill to our schools when you show <a href="https://drive.google.com/file/d/0B3xnxm1JyoZESzJKVGhkaml6NndXU19FRkFKYnM1WmRZd19B/view?usp=sharing" target="_blank" rel="noreferrer">this flyer</a>.</p>
<hr />
<p><strong>Proud Dads Club: November 19 Kick-off Meeting</strong> - Calling all dads, male guardians, uncles, and grandpas to attend the Proud Dads Club informational meeting on <strong>Wednesday, Nov. 19, at 7pm</strong> in the Pattengill Cafeteria. Hope to see you there! Questions? Contact Kwame Hooker at <a href="mailto:kwamehooker@sbcglobal.net" rel="noreferrer">kwamehooker@sbcglobal.net</a>.</p>
<hr />
<p><strong>Scrip Gift Cards Fundraiser: Orders Due Nov. 19 </strong>- Holiday gift-giving is simple when you purchase gift cards to many local and national retailers through Great Lakes Scrip. Our schools receive a portion of all gift card sales. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZETFRSOXVJUFVpZXNpUVIzM1dGd3d4R1pTb0dV/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for more information. Questions? Contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com" rel="noreferrer">sskotre@hotmail.com</a>.</p>
<hr />
<p><strong>Family Math Night Wish List:</strong> Can you donate a math-related game or book from the Family Math Night <a href="https://docs.google.com/spreadsheets/d/1D7_jIu3yR7rB-G0rHfKJdB3l-4gMokQA1t8tx5dhcjQ/edit?usp=sharing" target="_blank" rel="noreferrer">wish list</a>, to help make the event a success? Family Math Night is on <strong>Wednesday,</strong> <strong>Dec. 10, 6:30-8pm</strong>, in the Pattengill Cafeteria. Questions? Contact Sandro Aquiles at <a href="mailto:sandroaquiles@hotmail.com" rel="noreferrer">sandroaquiles@hotmail.com</a>.</p>
<hr />
<p><strong>Earn money for our schools with AmazonSmile:</strong> Visit <a href="http://smile.amazon.com/" target="_blank" rel="noreferrer">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charitable organization of choice. Amazon will donate 0.5% of your eligible purchases to our schools. Get a head start on your holiday shopping and start earning for B/P today!</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://a2ptothriftshop.org/" target="_blank" rel="noreferrer">Shop, donate, and support AAPS</a>!</p>
<figure id="attachment_591" style="width: 210px" class="wp-caption alignnone"><a href="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg"><img data-attachment-id="591" data-permalink="https://www.bryantpattengill.org/2014/11/06/thursday-notes-november-6th-2014/2014-15-a2pto-promo/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=2100%2C3000&amp;ssl=1" data-orig-size="2100,3000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2014-15 A2PTO Promo" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=210%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?fit=474%2C677&amp;ssl=1" class="wp-image-591 size-medium" src="/wp-content/uploads/2014/11/2014-15-A2PTO-Promo-210x300.jpg?resize=210%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=210%2C300&amp;ssl=1 210w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=768%2C1097&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?resize=717%2C1024&amp;ssl=1 717w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=948 948w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/11/2014-15-A2PTO-Promo.jpg?w=1422 1422w" sizes="(max-width: 210px) 100vw, 210px" data-recalc-dims="1" pagespeed_url_hash="993250560"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>November</strong></p>
<ul>
    <li>Thurs. Nov. 13: Pattengill Picture Retakes and Yearbook Photos</li>
    <li>Thurs. Nov. 13: Charleston Wrap Pick Up, 3:30-6:30pm</li>
    <li>Thurs. Nov. 13: Title I Parent Night, Bryant Media Center, 6-7pm</li>
    <li>Thurs. Nov. 13: PTO Executive Board Meeting, Pattengill Media Center, 7-8pm</li>
    <li>Fri. Nov. 14: Charleston Wrap Pick Up, 3:30-5:30pm</li>
    <li>Mon. Nov. 17: Restaurant Day at Elevation Burger, 11am-9pm, 3365 Washtenaw Ave., Ann Arbor</li>
    <li>Mon. Nov. 17 - Wed. Nov. 19: Clothing Drive at Bryant, 8:30-10am and 2-4pm</li>
    <li>Mon. Nov. 17 - Fri. Nov. 21: Autumn School Spirit Week at Bryant</li>
    <li>Wed. Nov. 19: Great Lakes Scrip Orders Due</li>
    <li>Wed. Nov. 19: Proud Dads Club Informational Meeting, Pattengill Cafeteria, 7pm</li>
    <li>Mon. Nov. 24: Report Cards Go Home</li>
    <li>Wed. Nov. 26 - Fri. Nov. 28: Thanksgiving Break - <strong>No School for Students</strong></li>
</ul>
<p><strong>December</strong></p>
<ul>
    <li>Tues. Dec. 9 - Fri. Dec. 12: Pattengill Book Fair</li>
    <li>Wed. Dec. 10: Pattengill Book Fair Family Night, 6-8pm</li>
    <li>Wed. Dec. 10: Family Math Night, Pattengill Cafeteria, 6:30-8pm</li>
    <li>Dec. 22 - Jan. 4: Winter Break - <strong>No School for Students</strong></li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>