@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><b>In this issue:</b></p>
<ul>
    <li><span style="color: #008000;"><b><b>NWEA Testing Begins This Week</b></b></span></li>
    <li><span style="color: #008000;"><b>Girl Scout Informational Nights</b></span></li>
    <li><span style="color: #008000;"><b>Bryant Curriculum Night</b></span></li>
    <li><span style="color: #008000;"><b>Pattengill Student Council Elections </b></span></li>
    <li><span style="color: #008000;"><b>5th Grade Camp Meeting</b></span></li>
    <li><span style="color: #008000;"><b>Bryant Families Invited to a Musical Production</b></span></li>
    <li><span style="color: #008000;"><b>First Restaurant Day</b></span></li>
    <li style="text-align: justify;"><span style="color: #008000;"><b>Movie Night at Bryant </b></span></li>
    <li><span style="color: #008000;"><b>Box Tops for Education</b></span></li>
    <li><span style="color: #008000;"><b>Parent Pick-Up Guidelines</b></span></li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<ul>
    <li><b><b>Bryant Marquee Sign</b></b></li>
    <li><b>Event and Activity Volunteer Sign-Up</b></li>
    <li><b>Room Parents Wanted</b></li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li><span style="color: #008000;"><b><b>Grocery Store Spotlight: Busch's</b></b></span></li>
    <li><span style="color: #008000;"><b>PTO Dues</b></span></li>
    <li><span style="color: #008000;"><b>Volunteer Certification Form</b></span></li>
    <li><span style="color: #008000;"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b><span id="more-1726"></span></p>
<hr />
<h2><b>In this issue</b></h2>
<p>&nbsp;</p>
<p><span style="color: #008000;"><b>NWEA Testing Begins This Week:</b></span> The <b>Northwest Evaluation Association </b>national assessment testing is taking place at Bryant/Pattengill. The testing window is through <b>Oct. 16</b>. You may contact your child's teacher for testing days. Please be sure your child receives a good night's rest, a healthy breakfast, and arrives to school on time. The morning bell rings at 8:53am. If you are dropping your child off after this time, you must stop in the office, sign in, and the student will receive a tardy pass to take to class. Please do not drop off your child in front of the building when he/she is late.</p>
<hr />
<p><span style="color: #008000;"><b>Girl Scout Informational Nights:</b></span> Choose one evening to attend and come join us for facts, features, and fun! Girls will participate in activities while families learn more about Girl Scouting. <b>Thursday, Sept. 24 (tonight), 7pm, Tappan Middle School OR Tuesday, Sept. 29, 7pm, Slauson Middle School</b>. Open to all girls K-12. If you cannot attend, or have any questions, contact: Lori Smith at <a href="mailto:lsmith0916@aol.com">lsmith0916@aol.com</a> or Stephanie Scrivens at <a href="mailto:scrivens_jsn@sbcglobal.net">scrivens_jsn@sbcglobal.net</a><span style="color: #008000;">.</span></p>
<hr />
<p><b><span style="color: #008000;">Bryant Curriculum Night Is Tuesday:</span> </b>Bryant parents, mark your calendars for Curriculum Night in the cafeteria, <b>Tuesday, Sept. 29, 6:30-8pm.</b> This evening is for you to visit with your child's teacher, learn about the curriculum, and ask questions. You will also have an opportunity to sign up for parent/teacher conferences, visit all special area classrooms, and meet other support staff who provide services to our students. See you Tuesday night at Bryant! <b>Pattengill Student Council Elections Are Coming: </b>Permission slips will be sent home on <b>Monday, Sept. 28</b>, and are due back by <b>Thursday, Oct. 1.</b>We are looking for volunteers to help hang candidate posters on<b> Monday, Tuesday, and Wednesday, Oct. 5-7 from 8:30-9:15am. </b>The assembly to hear the presidential candidates' speeches and meet all candidates running for all positions will be<b> Friday, Oct. 9, 9:15am. </b>We're excited for the year ahead! Questions? Contact Mrs. Schreck (<a href="mailto:schreck@aaps.k12.mi.us">schreck@aaps.k12.mi.us</a>) and/or Mrs. Bailey (<a href="mailto:wilkinsm@aaps.k12.mi.us">wilkinsm@aaps.k12.mi.us</a>), co-chairs of Pattengill Student Council.</p>
<hr />
<p><span style="color: #008000;"><b>5th Grade Camp Meeting:</b></span> Fifth Grade families please mark your calendars for the 5th Grade Camp Meeting on <b>Monday, Oct. 5, 6pm in the Pattengill Cafetorium.</b> Pattengill Principal Melita Alston, Camp Chair Barb Zimdars, and some of the 5th grade teachers will provide information and answer questions about 5th Grade Camp.  Parents/Guardians as well as 5th grade students are welcome to attend. Questions? Contact Barb Zimdars, Camp Chair at <a href="mailto:zimdars@comcast.net">zimdars@comcast.net</a>.</p>
<hr />
<p><b><span style="color: #008000;">Bryant Families Invited to a Musical Production:</span> </b>Students in Young 5s &mdash; 2nd grade have been selected to receive vouchers for tickets to a musical production of <b> "Dog Loves Books" on Oct. 3, 1:30pm at the Michigan Theater, 603 E. Liberty. </b>The Michigan Theater generously shares the vouchers and provides reimbursement on AATA or validated parking at Republic on Maynard or Library Ln (families may request at the Michigan Theater Box Office). The voucher is good for three tickets (including the student) and may be redeemed at the box office. Parents, please watch for the voucher to arrive in your child's backpack.</p>
<hr />
<p><span style="color: #008000;"><b>First Restaurant Day: </b></span>Our first Restaurant Day of the school year will be at<b> Mi Compadre, 2111 Packard (at Crestland, near Pattengill) on Tuesday, Oct. 6, 9am-9pm.</b> The locally owned Mexican restaurant will give our PTO 10% of all sales for breakfast, lunch, and dinner on Oct. 6. Flyers will be distributed as a reminder, but you will not need to present a flyer for us to receive a donation. Please consider dining in or getting take-out with your family, friends, and co-workers on Oct. 6.</p>
<hr />
<p><b><span style="color: #008000;">Movie Night is Coming!</span> </b>Movie night will be on <b>Friday, Oct. 16, from 5:30-8pm</b> <b>in the Bryant Gym. </b>Please note: <b><i>A parent or legal guardian (age 18 or older) must stay with the student; children cannot be dropped off</i></b>. Any child showing up without a parent or legal guardian will be turned away. This is a <b><i>FREE</i></b> event! Pizza, popcorn, and beverages will be available for purchase. All profits go toward enrichment programs for our students. See <a href="https://drive.google.com/a/bryantpattengill.org/file/d/0B-_iHxypfI5bZnNlNlRZV3VzUE0/view?usp=sharing">attached</a> flyer for more information. To volunteer for this event, <a href="http://www.signupgenius.com/go/8050F4BACA82CA75-movie2.">please sign up online here</a>. Questions? Contact Kathy Owens at <a href="mailto:kmann@umich.edu">kmann@umich.edu</a>. This event requires lots of helping hands in order to provide a fun, safe experience for our kids!</p>
<hr />
<p><span style="color: #008000;"><b>Box Tops for Education: </b></span>Bryant/Pattengill is again participating in the <a href="http://www.boxtops4education.com/">Box Tops for Education</a> program. This is an easy way to earn money for our schools! Many of the Box Tops "coupons" are found on products you already buy or have in your home; <a href="http://www.boxtops4education.com/participating-products">click here</a> for a complete list. Have you been clipping and saving your Box Tops all summer? Now's a great time to send them in with your child. Black collection boxes are located outside each school office. Box Tops are collected during the entire school year, but there are only two times per year when we receive payment for our submissions. The first deadline to submit our Box Tops this school year is <b>Friday, Oct. 23</b>. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>. Thank you for the great support we've had with this program in the past &mdash; every little bit you bring in helps our schools!</p>
<hr />
<p><span style="color: #008000;"><b>Parent Pick-Up Guidelines: </b></span>Parents, when picking up your student from school, please follow all traffic laws. Please do not block fire hydrants (it is illegal to park within 15 feet of a hydrant), mailboxes, or driveways in front of homes leading up to the school or in the adjacent courts. If you are parking in the handicap parking areas, you MUST have a handicap license or permit displayed in your vehicle. Thank you for respecting our neighbors and all traffic laws.</p>
<hr />
<h2><b>Help Wanted: Volunteer Opportunities</b></h2>
<p>&nbsp;</p>
<p><b><span style="color: #008000;">Bryant Marquee Sign</span>: </b>The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most. Contact Carmen Atkins for more details at <a href="mailto:carmen.atkins@bryantpattengill.org">carmen.atkins@bryantpattengill.org</a></p>
<hr />
<p><span style="color: #008000;"><b>Event and Activity Volunteer Sign-Up: </b></span>The Bryant/Pattengill PTO offers many fun and educational activities for students and families, and we need YOU to make them possible. Whether you have a lot or a little time, there is something everyone can do. Please browse the<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"> 2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> for an opportunity(ies) that interest you. Each event or activity is specially marked with a "sun" or "moon," if you have daytime or evening availability. Please scroll through the tabs at the bottom of the document, to search the many offerings. Thank you in advance for helping make these events a success for our kids!</p>
<hr />
<p><span style="color: #008000;"><b>Room Parents Wanted:</b> </span>Some teachers are still looking for a room parent or two. Please sign up at:<a href="https://docs.google.com/spreadsheets/d/1_K2KJMfaYWJJdAHXDhFFCvMBnVZUbrlIEl5Yvl7Oxfw/edit?usp=sharing"> Bryant/Pattengill Room Parents 2015-16</a>. Questions? Contact Carmen Atkins, PTO VP of Bryant: carmen.atkins@bryantpattengill.org orJennifer Nguyen, PTO VP of Pattengill: <a href="mailto:jennifer.nguyen@bryantpattengill.org">jennifer.nguyen@bryantpattengill.org</a></p>
<hr />
<h2><b>Reminders</b></h2>
<p>&nbsp;</p>
<p><span style="color: #008000;"><b>Grocery Store Spotlight &mdash; Busch's:</b></span> Shop at Busch's and support our PTO! See <a href="https://drive.google.com/a/bryantpattengill.org/file/d/0B-_iHxypfI5bcVBGbUgta1FCalU/view?usp=sharing">attached </a>flyer for more information. Questions? Contact Alicia Davis, <a href="mailto:alicia972@hotmail.com">alicia972@hotmail.com</a>. Thanks for your support.<b>PTO Dues:</b> It's not too late to contribute your 2015-2016 PTO Dues, to help support the many family events, special assemblies, and field trips that the PTO funds for our students each year. Dues are tax deductible and voluntary; please give at a level that is comfortable for your family. To donate securely online, <a href="/donate/">click here.</a> You may also return your dues to your child's teacher (checks made payable to Bryant/Pattengill PTO). On behalf of our students and teachers, thank you!</p>
<hr />
<p><span style="color: #008000;"><b>Volunteer Certification Form:</b></span> Please complete and submit the Volunteer Certification Form if you are planning on volunteering with your child's class. This form needs to be completed each new school year. Please submit your completed form in person to either school office, and present your ID. Thank you for your cooperation in providing our schools a safe environment for all students.</p>
<hr />
<p><span style="color: #008000;"><b>Visit the Ann Arbor PTO Thrift Shop</b></span><b>:</b> Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="http://www.a2ptothriftshop.org">Shop, donate, and support AAPS!</a></p>
<hr />
<h2><b>Mark Your Calendars</b></h2>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> Bryant/Pattengill PTO Calendar</a></p>
<p><span style="color: #008000;"><b>September</b></span></p>
<p>Tues, Sept 29: Bryant Curriculum Night, 6:30-8pm, Bryant</p>
<p><span style="color: #008000;"><b>October</b></span></p>
<ul>
    <li>Thurs, Oct 1: Pattengill Picture Day</li>
    <li>Thurs, Oct 1: School Improvement Team, 4:15-5:30pm, Bryant</li>
    <li>Thurs, Oct 1: PTO Exec Board Meeting, 6-7:30pm, Bryant Media Center</li>
    <li>Mon, Oct 5: Fifth Grade Camp Meeting, 6pm, Pattengill Cafetorium</li>
    <li>Tues, Oct 6: Restaurant Day &mdash; Mi Compadre, 2111 Packard, 9am-9pm</li>
    <li>Wed, Oct 7: Student Count Day</li>
    <li>Wed, Oct 7: Bryant Picture Day</li>
    <li>Thurs, Oct 8: PTO General Meeting, 6:30-7:30pm, Bryant</li>
    <li>Fri, Oct 16: Family Movie Night, 5:30-8pm, Bryant Gym</li>
    <li>Wed, Oct 21: Pizza with the Principals, 6-7pm, Home of Carmen and Chris Andrianopoulos, 3704 Knollwood Circle, Ann Arbor</li>
</ul>
<hr />
<h2>Stay Connected</h2>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>. Deadline is Tuesday at 5pm each week.</p>