@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><span style="color: #008000"><b>In This Issue:</b></span></h6>
<ul>
    <li><b>Bryant/Pattengill International Festival Tonight</b></li>
    <li><b>Donations for Ice Cream Social Due Monday</b></li>
    <li><b>Teacher &amp; Staff Appreciation Week Begins Monday</b></li>
    <li><b>PTO Spring General Meeting &amp; Board Nominations</b></li>
    <li><b>Ice Cream Social Volunteers Needed</b></li>
    <li><b>Great Lakes Scrip Order Forms Due Next Friday</b></li>
    <li><b>Kudos for Earth Day of Service</b></li>
</ul>
<h6><span style="color: #008000"><b>Help Wanted: Volunteer Opportunities</b></span></h6>
<ul>
    <li><b>Event and Activity Volunteer Sign-Up</b></li>
</ul>
<h6><span style="color: #008000"><b>Reminders</b></span></h6>
<ul>
    <li><b>Visit the Ann Arbor PTO Thrift Shop</b></li>
</ul>
<h6><span style="color: #008000"><b>Mark Your Calendars</b></span></h6>
<h6><span style="color: #008000"><b>Stay Connected</b></span></h6>
<p>&nbsp;</p>
<hr />
<p><span id="more-2465"></span></p>
<h6><b>In This Issue</b></h6>
<p><b><span style="color: #008000">Bryant/Pattengill International Festival Tonight:</span> </b>The B/P annual International Festival will be held at Bryant this year, <b>tonight at 6:30-8:00pm.</b> We look forward to celebrating our diversity together as one commUNITY!</p>
<hr />
<p><span style="color: #008000"><b>Donations for Ice Cream Social Due Monday: </b></span>The Ice Cream Social is our schools' largest fundraiser, and many terrific prizes are being collected for the raffle and silent auction. Some of the most popular prizes (toys and electronics), however, cannot be donated by merchants. We kindly ask families to contribute <b>$5 toward the Family Donation Drive,</b> which supplies some of these highly desirable prizes. All donations are <b>due by Monday, May 1.</b> Thank you for your support of this important family FUNdraiser! Questions? Contact Lisa Wong at <a href="mailto:mrswonger@yahoo.com">mrswonger@yahoo.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>Teacher &amp; Staff Appreciation Week Begins Monday: </b></span>We hope that all B/P families will join in celebrating the amazing teachers &amp; staff who make our schools a great place for our children to learn and grow. Schedule: <b>Monday, May 1:</b> Words of appreciation! Students are encouraged to make and deliver cards or notes to their classroom &amp; specials teachers, and to school staff. (Cards can be brought in any day that week!) <b>Tuesday, May 2: No School. Wednesday, May 3:</b> Lunch for teachers &amp; staff at both schools. We will need some assistance with set up and clean up (see sign-up below). <b>Thursday, May 4:</b> Sweet treats! Please consider donating a homemade or store-bought treat for our teachers &amp; staff to share. Treats can be dropped off in the morning at each school, or brought to the school during set up (11am). <b>Friday, May 5:</b> Flower Power! Children are encouraged to bring in a flower for their teachers and staff. Please <a href="https://docs.google.com/spreadsheets/d/1zQyPxub06GUeLZg7WU88K9xKgJeRXsZeoiGd2ELiJtg/edit?usp=sharing"><b>Click Here</b> </a>to sign up to help, or donate treats. Questions? Contact Laura Gultekin at <a href="mailto:laurag@gmail.com">laurag@gmail.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>PTO Spring General Meeting &amp; Board Nominations:</b> </span>The Bryant/Pattengill PTO Spring General Meeting is <b>Tuesday, May 9, 6-7:30pm </b>in the Pattengill Media Center. ALL B/P parents are invited to attend, and childcare is provided. This is <b>your</b> PTO, so come learn about opportunities to join in the fun next school year, and share any suggestions or questions you may have. <b>Thank you to the nominees for the 2017-2018 PTO Board of Directors.</b> We will be voting on the following nominations at the May 9 meeting:</p>
<ul>
    <li>Co-President: Kathy Brady</li>
    <li>Co-President: Ariel Hurwitz-Greene</li>
    <li>Vice President, Bryant: Jen Teeter</li>
    <li>Vice President, Pattengill: Maggie Shee</li>
    <li>External Secretary: Cathy Martin</li>
    <li>Internal Secretary: Angie Moloney-Alt</li>
    <li>Co-Treasurer: Anthony King</li>
    <li>Co-Treasurer: Lorraine Curry</li>
    <li>PTO Council Representative: Lyonel Milton</li>
    <li>Fundraising Coordinator: Amanda Shutko</li>
    <li>Technology Director: Marc Mojica</li>
    <li>PTO Thrift Shop Rep.: Kristy Kubacki</li>
    <li>School Improvement Team (SIT) Rep.: Charlita Daniels</li>
    <li>EL (English Learner) Family Coordinator: Liliana Grueber</li>
</ul>
<hr />
<p><b><span style="color: #008000">Ice Cream Social Volunteers Needed:</span> </b>There's lots of fun, food, and games in store for this year's Ice Cream Social on <b>Friday, May 19, 6:00-8:30pm!</b> Many helping hands are needed for a successful event. Please sign up <a href="https://docs.google.com/a/aaps.k12.mi.us/forms/d/e/1FAIpQLScuHD73jNv3VyoLhr2emRQrkWtY36YBzK9Q7dwdyxUtPwTWZQ/formResponse">here </a>to help make this year's Ice Cream Social the best one yet! Questions? Contact Nancy Fulcher at: <a href="mailto:nsfulcher2009@gmail.com">nsfulcher2009@gmail.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>Great Lakes Scrip Order Forms Due Next Friday: </b></span>Are you looking to give gift cards for an upcoming graduation, end-of-year teacher gift, wedding, shower, etc.? There are many local and national retailers through Great Lakes Scrip fundraising, so there is a gift card for everyone. You can even order gift cards for your own local shopping! A portion of every gift card bought goes to support our schools. <a href="https://drive.google.com/file/d/0B-_iHxypfI5beHR4VExHUUx3cU0/view">Order forms </a>have been sent home with your child, and are due back to the school offices by <b>Friday, May 5</b>. <b>Payment must accompany your order. Please be sure to write your phone number and your child's and teacher's names on your order form, and address your envelope to SCRIP ORDER/SHANNON KOTRE.</b> All orders will be distributed on Thursday, May 11. Alternate options for delivery are available, so please contact me directly if you prefer not to have your order sent home with your child.<a href="https://docs.google.com/document/d/1_wrYQAzWcqFY-bIrp1URZnIWK8LB9ZdIso5-H9uRRsw/edit?usp=sharing"> Click here </a>for instructions on how to order online. Questions? Contact Shannon Kotre at: <a href="mailto:sskotre@hotmail.com">sskotre@hotmail.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>Kudos for Earth Day of Service:</b> </span>A big thank you goes to coordinator <b>Cara Lauzzana,</b> assisted by <b>Justin Kunkle,</b> for organizing a terrific Earth Day of Service last Friday! Thank you also to all students, teachers, and parent volunteers who helped to care for our part of the earth. The grounds at both schools were cleaned, planted, and spruced up for spring &mdash; looking good!</p>
<hr />
<h6><b>Help Wanted: Volunteer Opportunities: </b></h6>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b></span> The PTO offers many fun and educational activities for students and families, and we need YOU to help make them possible. Please browse the<a href="https://docs.google.com/spreadsheets/d/1OXUFaW1717aJgq4HQolsIm1GWv7bv_0GWuIxUaOok_A/edit#gid=814455890"> 2016-2017 Bryant/Pattengill Volunteer Sign-up</a> for an opportunity(ies) that interest you. Thank you!</p>
<hr />
<h6><b>Reminders:</b></h6>
<p><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop: </b></span>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2016-2017 school year, select:<a href="https://docs.google.com/document/d/1-RV0jOER3bJx1PS1Jp4p92hGedFpZazoTzY70Sff-aQ/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>April</b></p>
<ul>
    <li>Thurs, Apr 27: International Festival, Bryant, 6:30-8pm</li>
</ul>
<p><b>May </b></p>
<ul>
    <li>Mon- Fri, May 1-5: Teacher &amp; Staff Appreciation Week</li>
    <li>Tues, May 2: Election Day - <b><i>No School for Students</i></b></li>
    <li>
        Wed, May 3: 2nd to 3rd Grade Transition, Students (at Pattengill),9:30-11:00am<br />
        2nd to 3rd Grade Transition, Parent Informational Night, Pattengill, 6-7pm
    </li>
    <li>Mon, May 8: 5th Grade Instrumental Spring Concert, Pattengill Cafeteria,    6:30pm</li>
    <li>
        Tues, May 9: School Improvement Team (SIT) Meeting, Pattengill, 4:30-5:30pm<i>
            <br />
        </i>     PTO General Meeting, Pattengill <i>(ALL Families Welcome, Childcare Provided), </i>6pm-7:30pm
    </li>
    <li>Mon, May 15: Lunch with a Loved One at Pattengill</li>
    <li>Tues, May 16: Lunch with a Loved One at Bryant</li>
    <li>Fri, May 19: Bryant/Pattengill Ice Cream Social, Pattengill, 6:00-8:30pm</li>
    <li>Tues, May 23: 2nd Grade Spring Sing, Bryant Gym, 7-8pm<b>  </b><b><i>cancelled</i></b></li>
    <li>Thurs, May 25: 1st Grade Spring Sing, Bryant Gym, 7-8pm <b><i>cancelled</i></b></li>
    <li>Mon, May 29: Memorial Day - <b><i>No School for Students</i></b></li>
</ul>
<hr />
<p><b>Stay Connected</b></p>
<ul>
    <li><b>PTO Website:</b><a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li><b>PTO on Facebook:</b><a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li><b>PTO on Twitter:</b><a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li><b>Bryant Website:</b><a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li><b>Pattengill Website:</b><a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>.</p>
<hr />
<p><b>**Deadline is Tuesday at 5pm each week.**</b></p>
<hr />
<p><a href="/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" rel="attachment wp-att-1823"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone  wp-image-1823" src="https://i1.wp.com/bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=179%2C251" alt="" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 179px) 100vw, 179px" data-recalc-dims="1" pagespeed_url_hash="3169193487"  /></a></p>