@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this Issue:</strong></p>
<ul>
    <li>VOLUNTEERS NEEDED to make the Back-to-School Picnic a reality (Wednesday, August 27 from 6-8 pm; 5:30 pm Kindergarten and Young 5s Meet &amp; Greet)</li>
    <li>Also! Call for Volunteers Volunteers Needed at Bryant during drop off for the first week</li>
    <li>AAPS Information for the 2014/15 School Year (with bus information)</li>
</ul>
<p><span id="more-94"></span></p>
<hr />
<p><strong>VOLUNTEERS NEEDED</strong> to make the Back-to-School Picnic a reality! We don't have enough volunteers for our Back-to School Picnic this Wednesday, August 27 from 6-8 pm at Bryant.</p>
<p>We will not be able to host this annual event without a full roster of volunteers.</p>
<p><strong>Sign Up for a shift TODAY!</strong> Older siblings, middle and high schoolers are welcome; volunteer hours will be given for any one needing them. Please <a href="https://docs.google.com/spreadsheet/ccc?key=0AjzvqLXssUqzdDRnVkk2ZmZGUFVNSkt3ck9nZ3duYlE&amp;usp=sharing" target="_blank">click here</a> to sign up.</p>
<hr />
<p><strong>Also! Call for Volunteers &#8211; Help our New Kindergarteners Find their Way!</strong> Volunteers Needed at Bryant during drop off for the first week all know the first day of Kindergarten can be a bit overwhelming. Help our new friends the first week! We are looking for 5-10 volunteers for a few minutes in the morning (8:30 &#8211; 9:00 am). Volunteers help ensure every child finds the right classroom. Interested? <a href="https://docs.google.com/spreadsheet/ccc?key=0AjzvqLXssUqzdGtWY19OZThJLUNoTlB5cmtsNGRvRkE&amp;usp=drive_web#gid=0" target="_blank">Click here</a> to sign up on our google document.</p>
<p>AAPS Information for the 2014/15 School Year</p>
<p>The Back-to-School guide is on the AAPS website. <a href="http://www.a2schools.org/aaps/home" target="_blank">http://www.a2schools.org/aaps/home</a></p>
<ul>
    <li><a href="http://www.a2schools.org/parents/files/1415district.fo_web.8.14.pdf" target="_blank">Back-to-School Guide</a> The Back-to-School Guide includes useful information about schedules, busing, lunch accounts, and more.</li>
    <li><a href="http://www.a2schools.org/parents/files/1415district.fo_web.8.14.pdf" target="_blank">Bus Schedule</a> The bus schedule is IN the Back-to-School Guide. Bryant bus schedule can be found on page 31; Pattengill bus schedule is on page 33.</li>
</ul>