@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5><b>In this issue:</b></h5>
<p>&nbsp;</p>
<ul>
    <li><span style="color: #008000"><b><b>Scrip Gift Cards Fundraiser</b></b></span></li>
</ul>
<ul>
    <li><b>Smile!</b><a style="color: #008000" href="http://amazon.com"> <b>Amazon.com</b></a><b> Gives Back to Our Schools</b></li>
</ul>
<ul>
    <li><span style="color: #008000"><b>Grocery Store Spotlight &mdash; GFS Marketplace</b></span></li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p>&nbsp;</p>
<ul>
    <li><span style="color: #008000"><b><b>Event and Activity Volunteer Sign-Up</b></b></span></li>
</ul>
<p><b>Reminders:</b></p>
<p>&nbsp;</p>
<ul>
    <li><span style="color: #008000"><b><b>Title I Parent Night Tonight in the Bryant Media Center</b></b></span></li>
</ul>
<ul>
    <li><b>Last Chance for the Clothes Closet at Bryant </b></li>
</ul>
<ul>
    <li><b>Thanksgiving Turkey Coin Drive at Bryant</b></li>
</ul>
<ul>
    <li><b>Last Reminder to get your Flu Vaccine at Pattengill</b></li>
</ul>
<ul>
    <li><span style="color: #008000"><b>Visit the Ann Arbor PTO Thrift Shop</b></span></li>
</ul>
<h5><b>Mark Your Calendars</b></h5>
<h5><b></b><b>Stay Connected</b></h5>
<hr />
<h5><b>In this issue</b></h5>
<p><span style="color: #008000"><b>Scrip Gift Cards Fundraiser: (Orders Due Friday, Nov 20th) </b></span>- Giving some gift cards this holiday season? Buy them through Great Lakes Scrip, where B/P receives a portion of all gift card sales. You can even order gift cards for your own local shopping! <a href="https://drive.google.com/file/d/0B-_iHxypfI5bMUZ1NFlDemcxSWs/view?usp=sharing">Click here</a> for more information. Questions? Contact Shannon Kotre <a href="http://sskotre@hotmail.com">sskotre@hotmail.com.</a></p>
<hr />
<p><span style="color: #008000"><b>Smile!</b><a style="color: #008000" href="http://amazon.com"> <b>Amazon.com</b></a><b> Gives Back to Our Schools:</b> </span>Visit <a href="http://smile.amazon.com/">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charity of choice. Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. Get a head start on your holiday shopping and start earning for Bryant/Pattengill today!</p>
<hr />
<p><span style="color: #008000"><b>Grocery Store Spotlight &mdash; GFS Marketplace.</b> </span>Shop at GFS Marketplace and support our PTO! See <a href="https://drive.google.com/file/d/0B-_iHxypfI5bOVFaQzc1QmNJN3c/view?usp=sharing"><b>attached</b></a> flyer for more information. Questions? Contact Alicia Davis, alicia972@hotmail.com. Thanks for your support.</p>
<hr />
<h5><b>Help Wanted: Volunteer Opportunities</b></h5>
<p><span style="color: #008000"><b>Event and Activity Volunteer Sign-Up:</b></span> To volunteer for any of our PTO events and activities throughout the year, visit:<a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6"> 2015-2016 Bryant/Pattengill Volunteer Sign-Up.</a></p>
<h5><b>Reminders:</b></h5>
<p><b><span style="color: #008000">Title I Parent Night Tonight:</span> </b>Please join Mr. Kinasz and Mr. Hall for the Title I parent night <b>tonight</b>, from <b>6-7:30pm in the Bryant Media Center.</b> Snacks and refreshments will be provided.</p>
<hr />
<p><span style="color: #008000"><b>Last Chance for the Clothes Closet:</b></span> The Clothes Closet which closes on <b>Nov. 13 </b>is for families in need to come and select for free what they might need for the winter months. All clothes will be in the atrium (across from Mrs. Bass's Room) at Bryant. Questions? Contact Kelly Pomorski at <a href="mailto:kelly.pomorski@gmail.com">kelly.pomorski@gmail.com</a>.</p>
<hr />
<p><span style="color: #008000"><b>Thanksgiving Turkey Coin Drive Begins This Week:</b></span> Each year, Bryant School partners with the staff at M Den to provide turkey dinners (complete with dessert) for some of our families in need. If you would like to participate, please send in coins with your child <b>Nov. 4-20</b>. Pattengill families are welcome to participate and drop off any donations at Bryant. Thank you for your contributions!</p>
<hr />
<p><span style="color: #008000"><b>Last Reminder to get your Flu Vaccine at Pattengill: </b></span>A flu vaccine clinic is scheduled for <b>Thursday, Nov. 19 from 2:30-4:00pm at Pattengill.</b> Questions? Contact Amy Caragay, RN at (734) 323-3556 or <a href="mailto:caragay@aaps.k12.mi.us">caragay@aaps.k12.mi.us</a>.</p>
<hr />
<p><b>Visit the Ann Arbor PTO Thrift Shop</b><b>: </b>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> <b>Shop, donate, and support AAPS</b></a>!</p>
<hr />
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<hr />
<p><b></b><b>November</b></p>
<ul>
    <li>Thurs, Nov. 12: Bryant Picture Retakes and Candids</li>
    <li>Thurs, Nov. 12: PTO Executive Board Meeting, 6-7:30pm, Bryant in SISS Conference Rm</li>
    <li>Thurs, Nov. 12: Title I Parent Night, 6-7:30pm, Bryant Media Center</li>
    <li>Mon, Nov. 23: Report Cards Go Home</li>
    <li>Wed - Fri, Nov. 25-27: Thanksgiving Break - <b><i>No School for Students</i></b></li>
</ul>
<p><b>December</b></p>
<ul>
    <li>Wed, Dec. 2: Pattengill Yearbook Group Pictures</li>
    <li>Thurs, Dec. 3: Bryant Yearbook Group Pictures</li>
    <li>Mon - Fri, Dec. 7-11: Pattengill Book Fair (<i>note date change)</i></li>
    <li>Wed, Dec. 9: Pattengill Book Fair Family Night, 6-8pm</li>
    <li>Mon, Dec. 21 - Jan. 1: Winter Break - <b><b><i>No School for Students</i></b></b></li>
</ul>
<hr />
<p><b><i></i></b><b>Stay Connected</b></p>
<p>PTO Website:<a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></p>
<p>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></p>
<p>PTO on Twitter:<a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></p>
<p>Bryant Website:<a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></p>
<p>Pattengill Website:<a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a></p>
<hr />
<p>Submissions for Thursday Notes should be e-mailed to ThursdayNotes@bryantpattengill.org.</p>
<hr />
<p><b>Deadline is Tuesday at 5pm each week.</b></p>
<p><a href="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png"><img data-attachment-id="1823" data-permalink="https://www.bryantpattengill.org/2015/10/22/thursday-notes-10-22-15/2015-16-a2pto-email-promo-color-photo1/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=541%2C759&amp;ssl=1" data-orig-size="541,759" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="2015-16 A2PTO Email PROMO.color photo(1)" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=214%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?fit=474%2C665&amp;ssl=1" class="alignnone  wp-image-1823" src="/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1-214x300.png?resize=93%2C130" alt="2015-16 A2PTO Email PROMO.color photo(1)" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?resize=214%2C300&amp;ssl=1 214w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/10/2015-16-A2PTO-Email-PROMO.color-photo1.png?w=541&amp;ssl=1 541w" sizes="(max-width: 93px) 100vw, 93px" data-recalc-dims="1" pagespeed_url_hash="3663129282"  /></a></p>