@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Letters from the Principals</li>
    <li>It's Not Too Late To Join Science Olympiad 2015</li>
    <li>Support B/P Science Olympiad at AA PTO Thrift Shop</li>
    <li>Read-A-Thon Presenters</li>
    <li>Parent Lending Library</li>
    <li>Rec &amp; Ed Flag Football</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li>Kindergarten/Young Fives Round-Up</li>
    <li>Marquee Sign at Bryant</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>NAAPID/Parent Involvement Day: Monday, Feb. 9</li>
    <li>Bring In Your Box Tops for Education</li>
    <li>Bryant Art News</li>
</ul>
<p><span id="more-1157"></span></p>
<hr />
<h2><strong>Letters from the Principals</strong></h2>
<p>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1-E1q5B8A5iPRC-2YV76-naeif3zMvu3qxexKBMjjI0Q/edit?usp=sharing" target="_blank">letter to Bryant families</a> and Mrs. Alston's <a href="https://docs.google.com/a/bryantpattengill.org/document/d/1Gq3gzIzxej7CMegbOXM3I_rQ_SDMkpJ1NW6jmz0xM1I/edit?pli=1" target="_blank">letter to Pattengill families</a>, filled with timely information for our school community.</p>
<hr />
<h2>It's Not Too Late To Join Science Olympiad 2015!</h2>
<p>Science Olympiad is a free, volunteer-run science and math enrichment program for students in grades 2-5. We are still accepting students to join Science Olympiad in the following events:</p>
<ul>
    <li>5th grade: all events;</li>
    <li>4th grade: Mystery Architecture, Disease Detectives, and On Target;</li>
    <li>3rd grade: Disease Detectives and Estimania;</li>
    <li>2nd grade: Feathered Friends and Estimania.</li>
</ul>
<p><a href="https://drive.google.com/file/d/0B3xnxm1JyoZEbzQ4OFlVM0tuRGIwVTRmTlREeU5WcmpaeFRj/view?usp=sharing" target="_blank">Click here</a> for more information and the sign-up forms. <strong>Please return the sign-up forms to your child's teacher by Monday, Feb. 9.</strong></p>
<p>Questions? Contact Ellen Forsman at <a href="mailto:efpolska@yahoo.com">efpolska@yahoo.com</a>.</p>
<hr />
<h2><strong>Support Bryant/Pattengill Science Olympiad</strong></h2>
<p>Shop the <strong>Ann Arbor PTO Thrift Shop Feb. 8-15</strong>, and help our schools earn a percentage of $1,000 for B/P Science Olympiad! Here's how it works: for every $5 spent, shoppers earn a token. Then cast your tokens at the Shop for the B/P Science Olympiad team.</p>
<p>Spread the word to friends and family and let's SHOW OUR SUPPORT for Bryant/Pattengill! See the attached flyer for store hours and location.</p>
<p>Questions? Contact Kristy Kubacki at <a href="mailto:klkubacki@yahoo.com" target="_blank">klkubacki@yahoo.com</a>.</p>
<hr />
<h2>Read-A-Thon Presenters</h2>
<p>Are you available on<strong> February 25 and/or 26</strong> to give <strong>5-minute classroom presentations</strong> to get kids excited about Read-A-Thon? This can be done at any convenient time of day for you and the teachers. Directions are provided in the office that day, or they can be e-<span style="line-height: 1.5;">mailed to you ahead of time. Feel free to sign up with a friend! </span></p>
<p><a href="https://docs.google.com/spreadsheets/d/1YZgKTW0-FExIDb1HmpwW0mejTLXTqkz_4AERNd0cKuw/edit?usp=sharing" target="_blank"><span style="line-height: 1.5;">Click here to sign </span>up</a>.</p>
<p>Questions? Contact Monica Harrold at <a href="mailto:harrold@aaps.k12.mi.us" target="_blank">harrold@aaps.k12.mi.us</a>.</p>
<hr />
<h2>Parent Lending Library</h2>
<p>If you have any Parent Lending Library books, please return them to school. The books can be dropped off in the office or returned to your child's teacher.</p>
<p>The Parent Lending Library is a free service to Bryant/Pattengill parents. You may select 2-3 books at your child's reading level. Your student can practice reading the books, then return them the following week and get more books.</p>
<p><img data-attachment-id="1077" data-permalink="https://www.bryantpattengill.org/2015/02/05/thursday-notes-7/bryant-books/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?fit=1024%2C768&amp;ssl=1" data-orig-size="1024,768" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;2.2&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;iPhone 6 Plus&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1420558441&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.15&quot;,&quot;iso&quot;:&quot;100&quot;,&quot;shutter_speed&quot;:&quot;0.066666666666667&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="bryant-books" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?fit=474%2C356&amp;ssl=1" class="alignnone size-medium wp-image-1077" src="/wp-content/uploads/2015/01/bryant-books-300x225.jpg?resize=300%2C225" alt="bryant-books" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?resize=300%2C225&amp;ssl=1 300w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?resize=768%2C576&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?w=1024&amp;ssl=1 1024w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/01/bryant-books.jpg?w=948 948w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="1821769246"  /></p>
<p>The Parent Lending Library is open on <strong>Tuesdays in Bryant's main lobby, from 3:40-5:00PM</strong>. You can use your child's Raz Kids reading level or ask your child's teacher for their reading level to choose the books. Thank you for supporting your child to be successful at home and school!</p>
<hr />
<h2>Rec &amp; Ed Flag Football</h2>
<p>Have you heard the news? Rec &amp; Ed Flag Football has partnered with NFL FLAG to enhance our flag football program this spring. The league is now open to boys and girls in grades K-8. All participants will now receive a reversible jersey with an NFL logo on it, as well as their own flag belt.</p>
<p>Games are played on Sunday afternoons beginning April 12. <a href="https://apm.activecommunities.com/aareced/Activity_Search?detailskeyword=flag+football&amp;IsAdvanced=False&amp;ddlSortBy=Activity+name&amp;DaysOfWeek=0000000&amp;SearchLevelID=2&amp;maxAge=100&amp;NumberOfItemsPerPage=20&amp;IsSearch=true" target="_blank">Click here</a> to register online. You can also download a registration form at <a href="http://aareced.com/" target="_blank">aareced.com</a>. Questions?</p>
<p>Contact Sean at <a href="mailto:williams@aaps.k12.mi.us" target="_blank">williams@aaps.k12.mi.us</a>. Don't miss out on the fun, sign up today!</p>
<hr />
<h1>Help Wanted: Volunteer Opportunities</h1>
<p>&nbsp;</p>
<h2>Kindergarten/Young Fives Round-Up</h2>
<p>Assistance is needed on <strong>Thursday,  Feb. 12 from 6:00-7:30pm</strong> at Bryant for the upcoming Round-Up.</p>
<p>We are looking for volunteers to assist with parent sign-in, snacks, scavenger hunt, and more. Contact Tiffany Marra at <a href="mailto:tmarra@umich.edu" target="_blank">tmarra@umich.edu</a> if interested.</p>
<figure id="attachment_1162" style="width: 232px" class="wp-caption alignnone"><a href="https://i0.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg"><img data-attachment-id="1162" data-permalink="https://www.bryantpattengill.org/2015/02/05/thursday-notes-7/kindergarten_young-fives-round-up/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?fit=884%2C1144&amp;ssl=1" data-orig-size="884,1144" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Kindergarten_Young Fives Round-Up" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?fit=232%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?fit=474%2C614&amp;ssl=1" class="size-medium wp-image-1162" src="/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up-232x300.jpg?resize=232%2C300" alt="Kindergarten/Young Fives Round-Up" srcset="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?resize=232%2C300&amp;ssl=1 232w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?resize=768%2C994&amp;ssl=1 768w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?resize=791%2C1024&amp;ssl=1 791w, https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/Kindergarten_Young-Fives-Round-Up.jpg?w=884&amp;ssl=1 884w" sizes="(max-width: 232px) 100vw, 232px" data-recalc-dims="1" pagespeed_url_hash="3444836394"  /></a><figcaption class="wp-caption-text">Kindergarten/Young Fives Round-Up</figcaption></figure>
<p>Please help us welcome new prospective families to the Bryant/Pattengill family!</p>
<hr />
<h2> Marquee Sign at Bryant</h2>
<p>The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most and is a great way to volunteer at your child's school! Interested? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or 734-330-9967.</p>
<hr />
<h1>Reminders</h1>
<p>&nbsp;</p>
<h2>N.A.A.P.I.D/Parent Involvement Day</h2>
<p>Monday, Feb. 9, is National African American Parent Involvement Day (N.A.A.P.I.D.), designated to encourage parents to connect with their child's school and become involved in their education.</p>
<figure id="attachment_1163" style="width: 217px" class="wp-caption alignnone"><a href="/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg"><img data-attachment-id="1163" data-permalink="https://www.bryantpattengill.org/2015/02/05/thursday-notes-7/naapid-2015-flyer-2/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?fit=1173%2C1618&amp;ssl=1" data-orig-size="1173,1618" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="NAAPID 2015 Flyer" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?fit=217%2C300&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?fit=474%2C654&amp;ssl=1" class="wp-image-1163 size-medium" src="/wp-content/uploads/2015/02/NAAPID-2015-Flyer-217x300.jpg?resize=217%2C300" alt="NAAPID 2015 Flyer" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?resize=217%2C300&amp;ssl=1 217w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?resize=768%2C1059&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?resize=742%2C1024&amp;ssl=1 742w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?w=1173&amp;ssl=1 1173w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/NAAPID-2015-Flyer.jpg?w=948 948w" sizes="(max-width: 217px) 100vw, 217px" data-recalc-dims="1" pagespeed_url_hash="456754481"  /></a><figcaption class="wp-caption-text">NAAPID 2015 Flyer. Click for larger image.</figcaption></figure>
<p>We invite ALL parents to join us for programs at Bryant and Pattengill on Feb. 9.</p>
<p>See the attached flyer for a schedule of the day's events, and please plan to visit with your child at school!</p>
<hr />
<h2>Bring In Your Box Tops for Education</h2>
<p>The final deadline to submit your clipped <a href="http://www.boxtops4education.com/" target="_blank">Box Tops for Education</a> coupons for this school year is Friday, Feb. 13.</p>
<p>Each school has a black collection box near the office. Each Box Top we collect means money for our schools!</p>
<p><img data-attachment-id="1165" data-permalink="https://www.bryantpattengill.org/2015/02/05/thursday-notes-7/boxtops/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/boxtops.jpg?fit=800%2C600&amp;ssl=1" data-orig-size="800,600" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="boxtops" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/boxtops.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/boxtops.jpg?fit=474%2C356&amp;ssl=1" class="alignnone size-medium wp-image-1165" src="/wp-content/uploads/2015/02/boxtops-300x225.jpg?resize=300%2C225" alt="boxtops" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/boxtops.jpg?resize=300%2C225&amp;ssl=1 300w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/boxtops.jpg?resize=768%2C576&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/boxtops.jpg?w=800&amp;ssl=1 800w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="2333544381"  /></p>
<p>Questions? Contact: Michelle Muckstadt at <a href="mailto:andymich@comcast.net" target="_blank">andymich@comcast.net</a>.</p>
<hr />
<h2>Bryant Art News</h2>
<p>The art room is in need of (old) magazines for a Kindergarten art project. Donations would be greatly appreciated! Many thanks, Jennifer Sullivan <a href="mailto:maerzsullivanj@aaps.k12.mi.us" target="_blank">maerzsullivanj@aaps.k12.mi.us</a></p>
<p><img data-attachment-id="1166" data-permalink="https://www.bryantpattengill.org/2015/02/05/thursday-notes-7/magazines/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/magazines.jpg?fit=896%2C656&amp;ssl=1" data-orig-size="896,656" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="magazines" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/magazines.jpg?fit=300%2C220&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/magazines.jpg?fit=474%2C347&amp;ssl=1" class="alignnone wp-image-1166 size-medium" src="/wp-content/uploads/2015/02/magazines-300x220.jpg?resize=300%2C220" alt="magazines" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/magazines.jpg?resize=300%2C220&amp;ssl=1 300w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/magazines.jpg?resize=768%2C562&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2015/02/magazines.jpg?w=896&amp;ssl=1 896w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="3032401351"  /></p>
<hr />
<h1>Mark Your Calendars</h1>
<p>&nbsp;</p>
<h2>February</h2>
<ul>
    <li>Fri. Feb. 6: Pattengill Talent Show Evening Performance, 7pm</li>
    <li>Sun. Feb. 8 - Sun. Feb. 15: Shop AA PTO Thrift Shop In Support of B/P Science Olympiad</li>
    <li>Mon. Feb. 9: NAAPID/Parent Involvement Day at Bryant and Pattengill</li>
    <li>Mon. Feb. 9: Science Olympiad Registration Forms Due</li>
    <li>Tues. Feb. 10: Pattengill Talent Show Daytime Performance, 1:45pm</li>
    <li>Wed. Feb. 11: Student Count Day</li>
    <li>Thurs. Feb. 12: Kindergarten/Young Fives Round-Up, 6-7:30pm, Bryant Multi-Purpose Room</li>
    <li>Mon. Feb. 16 - Fri. Feb. 20: Mid-Winter Break - No School for Students</li>
    <li>Mon. Feb. 23: School Resumes</li>
    <li>Thurs. Feb. 26: Pattengill Science Fair, 6-7:30pm, Pattengill Gym</li>
    <li>Fri. Feb. 27 - Wed. March 11: Read-A-Thon</li>
</ul>
<h2>March</h2>
<ul>
    <li>Tues. March 3: Bryant Book Fair/Pajama Night, 6:30-8pm, Bryant Media Center</li>
    <li>Tues. March 3 - Fri. March 6: Bryant Book Fair</li>
    <li>Mon. March 9: Teacher Report Writing Day - No School for Students</li>
    <li>Thurs. March 12: School Improvement Team (SIT) meeting, 4:15-5:30, Pattengill</li>
    <li>Thurs. March 12: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. March 12: PTO General Meeting, 7:30-8:30pm, Pattengill</li>
    <li>Tues. March 17: Report Cards Go Home</li>
    <li>Wed. March 18: Coffee with the Principals, 9-10am and 6-7pm, Bryant Community Center</li>
    <li>Tues. March 24: Family Science Night, 6-7:30pm, Bryant Gym</li>
    <li>Tues. March 31: Volunteer Appreciation Night, 6:30-8pm, Pattengill</li>
</ul>
<hr />
<p><strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.</p>