@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5><strong>In this issue:</strong></h5>
<ul>
    <li><strong><span style="color: #339966">PTO Thrift Shop Raffle: Support Our Schools</span></strong></li>
    <li><strong><span style="color: #339966">Box Tops Reminder</span></strong></li>
    <li><strong><span style="color: #339966">Sign Up for Science Olympiad</span></strong></li>
    <li><strong><span style="color: #339966">P.E. Update</span></strong></li>
    <li><strong><span style="color: #339966">New ELL Website</span></strong></li>
    <li><strong><span style="color: #339966">News from Bryant Community Center</span></strong></li>
    <li><strong><span style="color: #339966">MSU Extension Offers Free Workshops</span></strong></li>
</ul>
<h5><strong> Help Wanted: Volunteer Opportunities</strong></h5>
<ul>
    <li><strong><span style="color: #339966">Thank You to our Volunteers!</span></strong></li>
</ul>
<h5><strong> Reminders:</strong></h5>
<ul>
    <li><span style="color: #339966"><strong>Lunch with a Loved One: Today@@Pattengill, <span class="aBn"><span class="aQJ">Friday</span></span>@@Bryant</strong></span></li>
    <li><span style="color: #339966"><strong>Bryant Office Donation Request</strong></span></li>
    <li><span style="color: #339966"><strong>Smile!<a style="color: #339966" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools</strong></span></li>
    <li><span style="color: #339966"><strong>Visit the Ann Arbor PTO Thrift Shop</strong></span></li>
</ul>
<h5><strong>Mark Your Calendars</strong></h5>
<h5><strong> Stay Connected</strong></h5>
<hr />
<p dir="ltr">
    <h5> <span style="color: #000000"><strong>In this issue</strong></span></h5>
<p dir="ltr"><strong><span style="color: #339966">PTO Thrift Shop Raffle:</span> </strong>Want to have a chance to win some amazing prizes AND support our schools? Then purchase raffle tickets for the PTO Thrift Shop raffle! First prize: 2-year lease of a 2016 Lincoln MKZ Hybrid; 2nd prize: $5,000; 3rd prize: $1,000. Fifty percent of the ticket sales will be given directly to Bryant/Pattengill. The other 50% goes to the PTO Thrift Shop, which also supports our schools. Tickets are $10/ticket or $40 for a book of 5, CASH ONLY. Ticket sales will occur at each school's "Lunch with a Loved One." A Table will be set up in front of each school's office. Questions? Contact Kristy Kubacki at <a href="mailto:klkubacki@yahoo.com" target="_blank">klkubacki@yahoo.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Box Top Reminder:</span> </strong>With the holiday season upon us, please remember to clip and save <a href="http://www.boxtops4education.com/" target="_blank">Box Top coupons</a> from your favorite products. Our next submission is <span class="aBn"><span class="aQJ">February 23, 2016</span></span>, which will be here before we know it! Thank you for submitting your Box Tops in the &#8216;black boxes' located outside each school's office, as we try to reach our goal of $1,200 for this school year. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com" target="_blank">jmpowl@aol.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Sign Up for Science Olympiad:</span> </strong>Science Olympiad sign-up is now available for 2nd through 5th graders! Check out and sign up for one of the many topics available this year: <a href="/SO" target="_blank">BryantPattengill.org/SO</a><a href="/SO" target="_blank">. </a>Encourage your children to explore and have fun with a new topic or an old favorite. For students who aren't sure science is for them, there are activities to catch everyone's interest, focused on interaction, exploration, hands-on activities, and teamwork. Questions? Contact Jonathan Parker at <a href="mailto:JONATHAN.T.PARKER@leidos.com" target="_blank">JONATHAN.T.PARKER@leidos.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">P.E. Update:</span> </strong>Please take a moment to read Mr. Willard's <a href="https://drive.google.com/file/d/0B-_iHxypfI5bXy1TV0kyWEVTQUk/view?usp=sharing" target="_blank">attached </a>newsletter about all the exciting activities that Bryant students participated in during their P.E. classes over the last several weeks.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">New ELL Website:</span> </strong>Ms. Metler has created an informative ELL (English Language Learners) website for all Bryant and Pattengill families. Please visit <a href="http://metlerell.webs.com" target="_blank">metlerell.webs.com</a> and check out all the great features this site includes, such as several resources for students, parents, and teachers. Translation of the entire website is possible through translate buttons found on the site.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">News from Bryant Community Center:</span> </strong>Bryant Elementary families who struggle to keep food on the table are invited to use Bryant Community Center's food distribution program. Parents can call the Community Center for more information at <a href="tel:%28734%29%20477-0292" target="_blank">(734) 477-0292</a>. Please be clear that it is a Bryant Elementary family in need, because there is a distribution solely for Bryant Neighborhood and Bryant Elementary families - the waits are much shorter. This CAN/Food Gatherers collaboration is able to help families stretch their tight budget, and provide them with free, healthy food!</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">MSU Extension Offers Free Workshops:</span></strong> MSU Extension will be offering free parenting, financial literacy, and housing workshops in Ann Arbor and Ypsilanti locations. Please see <a href="https://drive.google.com/file/d/0B-_iHxypfI5bM1VURVY4eUlhVDA/view?usp=sharing" target="_blank">attached</a> flyer for dates, times, and specific locations.</p>
<hr />
<h5><span style="color: #000000"> <strong>Help Wanted: Volunteer Opportunities</strong></span></h5>
<p dir="ltr">Thank You to our Volunteers! Thank you to all of our parent volunteers for the time and energy you have dedicated to our students and schools this Fall. We wish you a restful break, and look forward to working with you again in the new year. Looking for a way to plug-in to your child's school in 2016? Visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to volunteer for any of our PTO events and activities. Thank you!</p>
<hr />
<h5><span style="color: #000000"> <strong>Reminders</strong></span></h5>
<p dir="ltr"><strong><span style="color: #339966">Come to Lunch with a Loved One:</span> </strong>Don't forget to join your child/children for Lunch with a Loved One today at Pattengill, and <span class="aBn"><span class="aQJ">Friday</span></span> at Bryant during your student's lunch time.</p>
<p dir="ltr"><strong>Lunch Schedule for Pattengill:</strong> 3rd Grade Lunch -12:24 p.m. &mdash; <span class="aBn"><span class="aQJ">12:48 p.m.</span></span> ,4th Grade Lunch  <span class="aBn"><span class="aQJ">12:48 p.m. &mdash; 1:12 p.m</span></span>, 5th Grade Lunch  11:54 a.m. &mdash; 12:18 p.m.</p>
<p dir="ltr"><strong>Lunch Schedule for Bryant:</strong> Kinder lunch- 11:30-12:18p, 1st Grade lunch- 12:02-12:50p, 2nd Grade lunch &mdash; 12:30-1:18p</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Bryant Office Donation Request:</span> </strong>The Bryant office is requesting donations of new girls underwear sizes 4-12 for when a change is necessary and the student does not have an extra pair in their backpack. We have plenty of boys sizes, thank you for your kindness.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Smile!<a style="color: #339966" href="http://amazon.com" target="_blank"> Amazon.com</a> Gives Back to Our Schools:</span> </strong>Visit <a href="http://smile.amazon.com/" target="_blank">smile.amazon.com</a>, and select Bryant-Pattengill PTO as your charity of choice. Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. It's easy to earn money for Bryant/Pattengill while shopping online this holiday season! Thank you for participating.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Visit the Ann Arbor PTO Thrift Shop:</span> </strong>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h5><strong> Mark Your Calendars</strong></h5>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr"><strong> December</strong></p>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #339966"><span class="aBn"><span class="aQJ">Mon, Dec. 21</span></span> - <span class="aBn"><span class="aQJ">Jan. 1</span></span>: Winter Break - No School for Students</span></strong></p>
    </li>
</ul>
<p dir="ltr"><strong> January</strong></p>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #339966"><span class="aBn"><span class="aQJ">Mon, Jan. 4</span></span>: School Resumes</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #339966"><span class="aBn"><span class="aQJ">Wed, Jan. 6 - 29</span></span>: NWEA Testing</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #339966">Tues, Jan. 12: Pattengill Talent Show Tryouts</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #339966">Mon, Jan. 18:  Martin Luther King Jr. Day - No School for Students</span></strong></p>
    </li>
    <li><strong><span style="color: #339966"><span class="aBn"><span class="aQJ">Thurs, Jan. 21</span></span>: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6-7:30</span></span>, Bryant Media Center</span></strong></li>
</ul>
<hr />
<p dir="ltr">
<p dir="ltr"><strong>**Thursday Notes will resume on January 7, 2016</strong> . Have a safe and happy winter break!</p>
<hr />
<p dir="ltr"> Stay Connected</p>
<p dir="ltr">PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></p>
<p dir="ltr">PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></p>
<p dir="ltr">PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></p>
<p dir="ltr">Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></p>
<p dir="ltr">Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></p>
<hr />
<p dir="ltr" style="text-align: center"> <strong>Submissions for <span class="aBn"><span class="aQJ">Thursday</span></span> Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>. Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.</strong></p>
<p>&nbsp;</p>
<p dir="ltr">
<p dir="ltr"><img class="CToWUd a6T aligncenter" src="https://lh4.googleusercontent.com/fUsjeYONL-Kma9ZjuMnkOCJ2uczzx9NrGVoisI2v8CMeW7yHY_1WhMep6ptU0Q_m6EpRQ-Ex7Ep_SW-a5yt1MIPhGxAuS8BQUh8C6aeKQGESuFiLv6TojAE4MIZMBX2Hqa4Fhlfo" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173px;" height="242px;" pagespeed_url_hash="2452884816"  /></p>