@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><strong><span style="color: #008000;">Don't Forget To Come to International Festival <span class="aBn"><span class="aQJ">Tonight</span></span></span></strong></li>
    <li><strong><span style="color: #008000;">Donations for Ice Cream Social Due <span class="aBn"><span class="aQJ">Monday</span></span></span></strong></li>
    <li><strong><span style="color: #008000;">Teacher &amp; Staff Appreciation Week Begins <span class="aBn"><span class="aQJ">Monday</span></span></span></strong></li>
    <li><strong><span style="color: #008000;">Great Lakes Scrip Starts Next Week</span></strong></li>
    <li><strong><span style="color: #008000;">PTO General Meeting And Board Nominations</span></strong></li>
    <li><strong><span style="color: #008000;">Lunch with a Loved One Coming Soon</span></strong></li>
    <li><strong><span style="color: #008000;">Yearbook and Class Composite Information for Bryant Families</span></strong></li>
    <li><strong><span style="color: #008000;">Kudos for Earth Day of Service!</span></strong></li>
    <li><strong><span style="color: #008000;">Important Information for Kroger Shoppers and Contributing to B/P</span></strong></li>
</ul>
<p dir="ltr"><strong>Help Wanted: Volunteer Opportunities</strong></p>
<ul>
    <li><strong><span style="color: #008000;">Help Make Ice Cream Social 2016 the Best One Yet</span></strong></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><strong><span style="color: #008000;">Special Education Millage: Vote on <span class="aBn"><span class="aQJ">May 3</span></span></span></strong></li>
    <li><strong><span style="color: #008000;">Restaurant Day: <span class="aBn"><span class="aQJ">May 7</span></span> at Bella Italia</span></strong></li>
    <li><strong><span style="color: #008000;">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<p dir="ltr"><strong>Mark Your Calendars</strong></p>
<p dir="ltr"> <strong>Stay Connected</strong></p>
<p><span id="more-2051"></span></p>
<hr />
<h6><strong>In This Issue</strong></h6>
<p dir="ltr"><strong><span style="color: #008000;">Don't Forget To Come to International Festival <span class="aBn"><span class="aQJ">Tonight</span></span>:</span> </strong>The B/P annual International Festival is <span class="aBn"><span class="aQJ">tonight</span></span> @@ <span class="aBn"><span class="aQJ">6:30-8:00pm</span></span> at Pattengill. This year's theme is "World Art and Culture Tour." Come taste foods from all over the world, or learn how to write words in several different languages. There are wonderful activities for everyone, featuring a fabulous fashion show put on by our own students, showcasing traditional garments from many nationalities. We look forward to celebrating our diversity together as one commUNITY!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;"><img data-attachment-id="2054" data-permalink="https://www.bryantpattengill.org/events/ice-cream-social/ics-logo-color/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/ICS-logo-color.jpeg?fit=240%2C270&amp;ssl=1" data-orig-size="240,270" data-comments-opened="0" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="ICS logo color" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/ICS-logo-color.jpeg?fit=240%2C270&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2016/04/ICS-logo-color.jpeg?fit=240%2C270&amp;ssl=1" class="alignleft size-full wp-image-2054" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2016/04/ICS-logo-color.jpeg?resize=240%2C270" alt="ICS logo color" data-recalc-dims="1" pagespeed_url_hash="2201255530"  />Donations for Ice Cream Social Due Monday:</span> </strong>The Ice Cream Social is our schools' largest fundraiser, and many terrific prizes are being collected for the raffle and silent auction. Some of the most popular prizes (toys, electronics, $100 bill), however, cannot be donated by merchants. We kindly ask families to contribute $5 toward the Family Donation Drive, which supplies some of these highly desirable prizes. All donations are due by Monday, May 2. Thank you for your support of this important family FUNdraiser! Questions? Contact Jennifer Nguyen at <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><span style="color: #008000;"><strong>Teacher &amp; Staff Appreciation Week Begins <span class="aBn"><span class="aQJ">Monday</span></span>:</strong> </span>We hope that all B/P families will join in celebrating the amazing teachers &amp; staff that make the Bryant/Pattengill community a great place for our children to learn and grow. Here's the schedule for the week of <span class="aBn"><span class="aQJ">May 2-6</span></span>:</p>
<p dir="ltr"><strong>Monday, May 2</strong>: Shower our teachers &amp; staff with words of appreciation! Students are encouraged to make and deliver cards or notes to their classroom &amp; specials teachers, as well as to school staff.  (**Cards can be brought in any day this week!)</p>
<p dir="ltr"><strong>Tuesday, May 3:</strong> No School</p>
<p dir="ltr"><strong><span class="aBn"><span class="aQJ">Wednesday, May 4</span></span>:</strong> Lunch for teachers &amp; staff at both schools. We will need some assistance setting up for lunch (<span class="aBn"><span class="aQJ">11am-11:15</span></span>), and cleaning up (1:05pm-done). Please use the link below to sign up to help at your school!</p>
<p dir="ltr"><strong>Thursday, May 5:</strong> Celebrate teachers &amp; staff with flowers! Children are encouraged to bring in a flower for their teachers and staff.</p>
<p dir="ltr"><strong><span class="aBn"><span class="aQJ">Friday, May 6</span></span></strong>: Sweet treats for teachers &amp; staff! Please consider donating a homemade or store-bought treat. Treats can be dropped off in the morning at each school, or brought to the school during set up at <span class="aBn"><span class="aQJ">11am</span></span>.</p>
<p dir="ltr">Please sign up on the Google doc below to help with set up (<span class="aBn"><span class="aQJ">10:30-11:15am</span></span>) or clean up (1:05-done) at your child's school: <a href="https://docs.google.com/spreadsheets/d/1MFu5CaWzLngZN-81K2YCEI8kQzXzrKraFVwNImqfO9A/edit?usp=sharing" target="_blank">https://docs.google.com/spreadsheets/d/1MFu5CaWzLngZN-81K2YCEI8kQzXzrKraFVwNImqfO9A/edit?usp=sharing </a>Questions? Contact Laura Gultekin at <a href="mailto:laurag@gmail.com" target="_blank">laurag@gmail.com</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Great Lakes Scrip Begins Next Week:</span></strong> Are you looking to give gift cards for an upcoming graduation, end-of-year teacher gift, wedding, shower, etc.? There are many local and national retailers through Great Lake Scrip fundraising, so there is a gift card for everyone. Be on the look-out for order forms next week. Questions? Contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com" target="_blank">sskotre@hotmail.com</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">PTO General Meeting &amp; Board Nominations:</span> </strong>The last Bryant/Pattengill PTO General Meeting of the school year is <span class="aBn"><span class="aQJ">Thursday</span></span>, May 12, 6pm in the Pattengill Media Center. ALL B/P parents are invited to attend, and childcare is provided. Bryant parent Marc Mojica will present a new app being developed to improve communication within school communities: "HappiSchool: Connecting Parents, Teachers, and Students with Schools, Orgs, and Classrooms." We also will be voting on the nominations for the 2016-2017 PTO Executive Board:</p>
<ul>
    <li>
        <p dir="ltr">Co-President: Kathy Brady</p>
    </li>
</ul>
<ul>
    <li>
        <p dir="ltr">Co-President: Jennifer Nguyen</p>
    </li>
    <li>
        <p dir="ltr">Vice President, Bryant: Charlita Daniels</p>
    </li>
    <li>
        <p dir="ltr">Vice President, Pattengill: Margaret Shee</p>
    </li>
    <li>
        <p dir="ltr">External Secretary: Ariel Hurwitz-Greene</p>
    </li>
    <li>
        <p dir="ltr">Internal Secretary: Jen Teeter</p>
    </li>
    <li>
        <p dir="ltr">Treasurer: Carmen Andrianopoulos</p>
    </li>
</ul>
<p dir="ltr">Thank you to our nominees. Thank you also to Kristy Kubacki, Stephen Ward, Marc Mojica, and Kelly Pomorski who will be continuing as Board Officers next year, and to Amanda Shutko, who will be joining the Board as Fundraising Coordinator next year. Please contact Co-President Kathy Brady with questions, or interest in a PTO role: <a href="http://kathy.brady@bryantpattengill.org" target="_blank">kathy.brady@bryantpattengill.org</a>. Thank you, and see you <span class="aBn"><span class="aQJ">May 12</span></span>!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Lunch with a Loved One Coming Soon:</span> </strong>Bryant welcomes loved ones to join their student at lunchtime on <span class="aBn"><span class="aQJ">Wed., May 18</span></span> and Pattengill celebrates the next day on <span class="aBn"><span class="aQJ">Thurs., May 19</span></span>. Family members (must be on the student's emergency contact list) sign in at the front office, then enjoy lunch with their student. School lunches may be purchased for all adults and for students who do not receive free/reduced-price lunch. Bryant lunch times: Young 5's &amp; Kindergarten: <span class="aBn"><span class="aQJ">11:30am</span></span>, 1st Grade: <span class="aBn"><span class="aQJ">12:02pm</span></span>, 2nd Grade: <span class="aBn"><span class="aQJ">12:30pm</span></span>. Pattengill lunch times: 3rd Grade: <span class="aBn"><span class="aQJ">12:24pm</span></span>, 4th Grade: <span class="aBn"><span class="aQJ">12:48pm</span></span>, 5th Grade: <span class="aBn"><span class="aQJ">11:54am</span></span>. Note: Ice Cream Social tickets will be sold during these times to the adults attending. Details coming soon.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Yearbook and Class Composite Information for Bryant Families:</span> </strong>Don't miss out on the 2015-16 Bryant Yearbooks &amp; Class Composites! If you haven't placed an order for a yearbook or class composite you are in luck! We have a limited supply of Bryant Yearbooks for sale for $15 and your child's Class Composites for $10.00. Please make checks payable to Bryant Elementary or pay with correct change in the School Office. The end of the year is fast approaching and you'll want your child's memories for a lifetime! Questions? Contact Mrs. Midura at <a href="mailto:midura@aaps.k12.mi.us" target="_blank">midura@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Important Information for Kroger Shoppers and Contributing to B/P:</span> </strong>Attention Kroger Shoppers! <span class="aBn"><span class="aQJ">Saturday, April 30</span></span> is the Community Rewards Re-Enrollment Deadline! It's time to re-enroll (or enroll for the first time) in the Kroger Community Rewards Program so you can earn money for the Bryant/Pattengill PTO. Already participating? Re-enroll by <span class="aBn"><span class="aQJ">April 30</span></span> to ensure that your Kroger purchases continue to be credited to Bryant/Pattengill for the upcoming program year (May 201<span class="aBn"><span class="aQJ">6</span></span> &mdash; April 2017) without interruption. Not yet signed up? It's not too late! To participate, you need (1) a Kroger Plus Shopper's Card, available at the customer service desk or any register at your local Kroger store, and (2) a Kroger.com account. To enroll or re-enroll, go to <a href="http://www.krogercommunityrewards.com/" target="_blank">www.krogercommunityrewards.com</a>. If you do not have a Kroger.com account, click on "Create an Account" to register. If you do have a Kroger.com account, click on "Sign In." After creating an account or signing in, click "Enroll Now." Bryant/Pattengill's Organization Number is 82905. What if you miss the April 30 deadline? Go ahead and sign up anyway! We will begin to receive credit for your purchases after you sign up. After enrolling or re-enrolling, please email Alicia Davis at <a href="mailto:alicia972@hotmail.com" target="_blank">alicia972@hotmail.com</a> to let us know you're participating in the program. Thank you!</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Kudos for Earth Day of Service:</span> </strong> A big thank you to all students, teachers, and parent volunteers who helped make Earth Day of Service a success last Friday! Kudos to coordinators Cara Lauzzana and Justin Kunkle for organizing a great opportunity for our students. Lastly, we thank the businesses that generously donated to our schools: Turner's, Abbott's Landscape Nursery, and Lowe's. Please consider shopping at these businesses, and tell them thank you for supporting Bryant/Pattengill!</p>
<hr />
<h6>Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><strong><span style="color: #008000;">Help Make Ice Cream Social 2016 the Best One Yet:</span></strong> The plans for fun, food, and games will be bigger and more exciting than ever at this year's Ice Cream Social on <span class="aBn"><span class="aQJ">Friday, May 20</span></span>, <span class="aBn"><span class="aQJ">6:00-8:30pm</span></span> (note extended hours)! Many helping hands are needed for a successful event. Please sign up <a href="https://docs.google.com/spreadsheets/d/1yWaMjXKtVdktyWEFF38Kv8UqTIaztE5dBZEiPtHXCIQ/edit#gid=0" target="_blank">here</a> to help make this year's Ice Cream Social the best one yet! Questions? Contact ICS Volunteer Coordinator Janelle Johnson at <a href="mailto:johnsonja@aaps.k12.mi.us" target="_blank">johnsonja@aaps.k12.mi.us</a>.</p>
<hr />
<h6>Reminders</h6>
<p dir="ltr"><strong><span style="color: #008000;">Special Education Millage:</span> </strong>Remember To Vote on May 3 - All Washtenaw county voters will be asked to vote May 3 on a 1.5 mill property tax increase dedicated to special education. Current state and federal funding covers 51% of the cost of special education - local districts are required to make up the rest from funds intended for general education. The millage would raise $22 million for special education, and 100% of dollars raised will be used in Washtenaw County. About one in seven children in Washtenaw County receives special educational services for speech therapy, learning disabilities, hearing impairments, cognitive disorders, and physical limitations. <a href="http://a2schools.org/site/default.aspx?PageType=3&amp;DomainID=4&amp;ModuleInstanceID=10&amp;ViewID=047E6BE3-6D87-4130-8424-D8E4E9ED6C2A&amp;RenderLoc=0&amp;FlexDataID=7343&amp;PageID=1" target="_blank">Click here</a> for more information on the Special Education Millage, and be sure to vote on <span class="aBn"><span class="aQJ">May 3</span></span> (no school for students).</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Restaurant Day: <span class="aBn"><span class="aQJ">May 7</span></span> at Bella Italia</span></strong> - Order online, have it delivered, or even dine in, but make sure you participate in our May Restaurant Day at Bella Italia (895 W. Eisenhower Pkwy) to support our schools. Come try the pasta or a slice of pizza! Flyers will be available soon. Questions? Contact Tod Tharp at <a href="mailto:todtharp@me.com" target="_blank">todtharp@me.com </a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000;">Visit the Ann Arbor PTO Thrift Shop:</span> </strong>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h6> Mark Your Calendars</h6>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<h6>April</h6>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Thurs, Apr. 28:</span></strong> International Festival, Pattengill, <span class="aBn"><span class="aQJ">6:30-8pm</span></span></p>
    </li>
</ul>
<h6>May</h6>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Mon -</span> </strong><span class="aBn"><span class="aQJ">Fri May 2-6</span></span>: Staff Appreciation Week</p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Tues, May 3:</span></strong> No School for Students</p>
    </li>
    <li>
        <p dir="ltr">
            <strong><span style="color: #008000;">Wed, May 4:</span> </strong>2nd to 3rd Grade Transition, Students- <span class="aBn"><span class="aQJ">9:30 - 11am</span></span><br />
            2nd to 3rd Grade Transition, Parent Informational Night- <span class="aBn"><span class="aQJ">6 - 7pm</span></span>
        </p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Sat, May 7:</span></strong> Restaurant Night- Bella Italia</p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Mon, May 9:</span></strong> 5th Grade Instrumental Concert, Pattengill Cafeteria (note date change), <span class="aBn"><span class="aQJ">6:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">
            <strong><span style="color: #008000;"><span class="aBn"><span class="aQJ">Thurs, May 12</span></span>:</span></strong> School Improvement Team (SIT) Meeting, Pattengill, <span class="aBn"><span class="aQJ">4:30 - 5:30pm</span></span><br />
            PTO General Meeting, Pattengill Media Center (ALL Families Welcome, Childcare Provided), <span class="aBn"><span class="aQJ">6:00 - 7:30pm</span></span> (note time change)
        </p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Fri, May 20:</span></strong> Ice Cream Social, Pattengill, <span class="aBn"><span class="aQJ">6:00 - 8:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Tues, May 24:</span></strong> 2nd Grade Spring Sing, Bryant Gym, <span class="aBn"><span class="aQJ">7- 8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Thurs, May 26:</span></strong> 1st Grade Spring Sing, Bryant Gym, <span class="aBn"><span class="aQJ">7-8pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Mon, May 30  </span></strong>  : Memorial Day - No School for Students</p>
    </li>
</ul>
<h6>June</h6>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Fri, Jun 3:</span> </strong>Bryant Field Day (Raindate: <span class="aBn"><span class="aQJ">Monday, June 6</span></span>)-1:45 - <span class="aBn"><span class="aQJ">3:15pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;"><span class="aBn"><span class="aQJ">Tues, Jun 7</span></span>:</span> </strong>PTO Executive Board Meeting, Bryant Media Center, <span class="aBn"><span class="aQJ">6pm - 7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000;">Fri, Jun 10:</span></strong> Pattengill Field Day (Raindate: Monday, June 13) <span class="aBn"><span class="aQJ">1:15 - 3:15pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">
            <strong><span style="color: #008000;">Thurs, Jun 16</span></strong>: 2nd Grade Recognition Ceremony &amp; "Clap Out," Bryant Gym- 9:30am (Families Welcome)<br />
            <span class="aBn"><span class="aQJ">2pm</span></span>&mdash; 5th Grade Promotion Ceremony, Pattengill Cafeteria (Families Welcome)
        </p>
    </li>
    <li>
        <p dir="ltr">
            <strong><span style="color: #008000;"><span class="aBn"><span class="aQJ">Fri, Jun 17</span></span> :</span></strong> Flag Ceremony &amp; "Clap Out," Pattengill (Families Welcome) &mdash; <span class="aBn"><span class="aQJ">9am</span></span><br />
            Last Day of School, 1/2 Day (Release Time: <span class="aBn"><span class="aQJ">11:51am</span></span>)<br />
            Report Cards Go Home
        </p>
        <hr />
    </li>
</ul>
<h6>Stay Connected</h6>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/2bdY_HVcwo8zpzzktLYkZfIdp_i8jpYmOVOYLGSsnNRfMtjq585LZsByxaDcnWnkuHbdmeN9AF_XN9X1P0aF3W9gBqag-Hm396dr3WST5-sz4-gfu2lCEyD7Ssze5v-OOkzYz1Qa" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="2790807696"  /></p>