@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h5>In this issue:</h5>
<ul>
    <li><strong><span style="color: #339966">Important Information about the Pattengill Talent Show</span></strong></li>
    <li><strong><span style="color: #339966">Check Out Ms. Elster's Newsletter:</span></strong></li>
    <li><strong><span style="color: #339966">Information from the City of Ann Arbor Regarding Deer Management</span></strong></li>
    <li><strong><span style="color: #339966">Visit The  Henry Ford Museum for FREE on MLK Day!</span></strong></li>
</ul>
<div dir="ltr">
    <table style="height: 10px" width="437">
        <colgroup>
            <col width="13" />
        </colgroup>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Help Wanted: Volunteer Opportunities</h5>
<ul>
    <li><span style="color: #339966"><strong>Kindergarten/Young 5's Round-Up Volunteers Needed</strong></span></li>
    <li><span style="color: #339966"><strong>Looking To Volunteer!</strong></span></li>
</ul>
<h5>Reminders:</h5>
<ul>
    <li><strong><span style="color: #339966">Martin Luther King Jr. Assembly <span class="aBn"><span class="aQJ">This Friday</span></span></span></strong></li>
    <li><strong><span style="color: #339966">Girls On The Run Registration Ends <span class="aBn"><span class="aQJ">FRIDAY</span></span></span></strong></li>
    <li><strong><span style="color: #339966">Visit the PTO Thrift Shop This Week For 5th Grade Camp</span></strong></li>
    <li><strong><span style="color: #339966">Annie's Organic Foods has jointed Box Tops</span></strong></li>
    <li><strong><span style="color: #339966">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<h5>Mark Your Calendars</h5>
<h5>Stay Connected</h5>
<hr />
<p dir="ltr">
    <h5> In this issue</h5>
<p dir="ltr"> <strong><span style="color: #339966">Important Information About Pattengill Talent Show:</span></strong> For those who have students participating in the talent show, here are some important dates not to be missed;  Dress rehearsal <span class="aBn"><span class="aQJ">Tuesday, Feb. 2</span></span> <span class="aBn"><span class="aQJ">4-6:30pm</span></span>, Evening Performance Friday, Feb. 5 7pm,  Daytime Performance as part of NAAPID Monday, Feb. 8 1:45pm-  Volunteers are needed at all events.  Please contact Deb Schreck at <a href="mailto:schreck@aaps.k12.mi.us" target="_blank">schreck@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #339966"><strong>Check Out Ms. Elster's Newsletter: </strong></span>Learn about talking to your child about conflict resolution, getting involved through a Martin Luther King, Jr. national day of service, opportunities for free family fun and more! Check out the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bSmltSlBXZkdZbm8/view?usp=sharing" target="_blank">attached</a> Jan./Feb. newsletter from our Bryant/Pattengill school social worker, Ms. Elster.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Information from the City of Ann Arbor Regarding Deer Management:</span></strong>  As a public service to our families, we would like to remind parents and encourage them to remind their children that many parks and nature areas will be closed for the next two months during the evening and overnight hours and to avoid these areas for safety reasons. We are sending this notice in response to the City of Ann Arbor implementing a deer management program scheduled for <span class="aBn"><span class="aQJ">January 1 to March 1, 2016</span></span>.  This program is intended to cull the deer population using trained United States Department of Agriculture Wildlife Services Division marksman. Parks and Nature Areas will be closed Monday - Friday from <span class="aBn"><span class="aQJ">4:00 p.m. to 7:00 a.m.</span></span>, <span class="aBn"><span class="aQJ">January 1 - March 1</span></span>. For more information regarding what parks and nature areas  have been identified for deer population management or for questions, visit <a href="http://www.a2gov.org/deermanagement" target="_blank">www.a2gov.org/deermanagement</a>".</p>
<hr />
<p dir="ltr"><span style="color: #339966"><strong>Visit The  Henry Ford Museum for FREE on MLK Day!:</strong></span> Take advantage of this great opportunity on Monday, Jan. 18th as we have no school. Below is a link to a special day at The Henry Ford Museum.  Target is covering all costs-so free parking and admission on the 18th, with special events planned in honor of Martin Luther King, Jr.  <a href="https://www.thehenryford.org/events/targetFamilyDays.aspx" target="_blank">https://www.thehenryford.org/events/targetFamilyDays.aspx</a></p>
<hr />
<h5><strong>Help Wanted: Volunteer Opportunities</strong></h5>
<p dir="ltr"><strong><span style="color: #339966"> Kindergarten/Young 5's Round-Up Volunteers Needed:</span> </strong>Assistance is needed on Thursday, February 25th, <span class="aBn"><span class="aQJ">6:00</span></span>&mdash;<span class="aBn"><span class="aQJ">7:30pm</span></span> for the upcoming Round-Up. We are looking for about 15 or so volunteers to assist with Parent Sign-In, Snacks, Tours and more. If you are interested, please contact Karishma Collette at <a href="mailto:karishms@umich.edu" target="_blank">karishms@umich.edu</a>. Please help us welcome new prospective families to the Bryant and Pattengill family!</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">LOOKING TO VOLUNTEER?</span></strong>  : We are always in need of volunteers for the many events held at both schools. Visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to volunteer for any of our PTO events and activities. Contact PTO board members Carmen Atkins, VP of Bryant at: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill at: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>.</p>
<hr />
<h5><strong>Reminders</strong></h5>
<p dir="ltr"> Martin Luther King Jr. Assembly <span class="aBn"><span class="aQJ">This Friday</span></span>: The MARTIN LUTHER KING JR. DAY ASSEMBLY will take place on <span class="aBn"><span class="aQJ">Friday</span></span> at <span class="aBn"><span class="aQJ">9:20 a.m.</span></span> Please join the Bryant students and staff. for an all-school assembly to celebrate and remember the life and dreams of Dr. Martin Luther King, Jr. Questions, please contact Mrs. Krohn- <a href="mailto:krohnk@aaps.k12.mi.us" target="_blank">krohnk@aaps.k12.mi.us.</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Girls On The Run Registration Ends <span class="aBn"><span class="aQJ">FRIDAY</span></span>:</span> </strong>Don't forget to register by <span class="aBn"><span class="aQJ">Friday</span></span> for this great event! Our program at Pattengill is open to all 3rd - 5th grade girls and will meet after school on Mondays and Wednesdays from <span class="aBn"><span class="aQJ">4:15pm - 5:45pm</span></span> March 7th through May 20th. <a href="http://www.girlsontherunsemi.org/" target="_blank">Click here</a> to learn more and to register. Space is limited and registration ends FRIDAY. *Financial assistance is available, and for those interested in volunteering discounts are available as well. So please help!! Email: <a href="mailto:info@girlsontherunsemi.org" target="_blank">info@girlsontherunsemi.org</a> for more information. Questions, contact Elizabeth Crow- <a href="mailto:crowdecoder@gmail.com" target="_blank">crowdecoder@gmail.com</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Visit the PTO Thrift Shop This Week For 5th Grade Camp:</span> </strong>SHOW YOUR SUPPORT for Bryant/Pattengill 5th grade camp scholarships this week at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. From January 10 &mdash; 16, we have an opportunity to earn a percentage of $1000 through this promotional fundraising activity. Here's how it works. For every $5 spent, shoppers earn a token. Cast your tokens this week in support of our school! The funds earned for Bryant/Pattengill will help to ensure that ALL 5th graders are able to participate in the camp experience. Spread the word to friends and family and let's SHOW OUR SUPPORT for our school! See the attached flier for store hours.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Annie's Organic Foods Has Joined Box Tops!: I</span></strong>f you like to purchase Annie's Organic Food Items, then make sure you start clipping the box tops.  They are now being accepted. Our next submission is <span class="aBn"><span class="aQJ">February 23, 2016</span></span>, Thank you for submitting your Box Tops in the &#8216;black boxes' located outside each school's office, as we try to reach our goal of $1,200 for this school year. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com" target="_blank">jmpowl@aol.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Visit the Ann Arbor PTO Thrift Shop:</span></strong> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<h5> Mark Your Calendars</h5>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<h5>
    January
</h5>
<ul>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Wed, Jan. 6 - 29</span></span>: NWEA Testing</p>
    </li>
    <li>
        <p dir="ltr">Mon, Jan. 18:  Martin Luther King Jr. Day - No School for Students</p>
    </li>
    <li>
        <p dir="ltr">Thurs, Jan. 21: PTO Executive Board Meeting, <span class="aBn"><span class="aQJ">6-7:30</span></span>, Bryant Media Center</p>
    </li>
</ul>
<h5>February</h5>
<ul>
    <li>
        <p dir="ltr">Mon, Feb. 1: No School</p>
    </li>
    <li>
        <p dir="ltr">Fri, Feb. 5: Pattengill Talent Show for Parents/Community, <span class="aBn"><span class="aQJ">7- 9pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Mon, Feb. 8: Morning: Bryant NAAPID/Parent Involvement Day, ALL Parents Welcome</p>
        <ul>
            <li>
                <p dir="ltr">Afternoon: Pattengill NAAPID/Parent Involvement Day, ALL Parents Welcome</p>
            </li>
            <li>
                <p dir="ltr">Pattengill Talent Show for Students, <span class="aBn"><span class="aQJ">1:45-3:30</span></span></p>
            </li>
        </ul>
    </li>
    <li>
        <p dir="ltr">Wed, Feb. 10: Student Count Day</p>
    </li>
    <li>
        <p dir="ltr">Mon-<span class="aBn"><span class="aQJ">Fri, Feb. 15-19</span></span>: Mid-Winter Break - No School for Students</p>
    </li>
    <li>
        <p dir="ltr">Mon, Feb. 22: School Resumes</p>
    </li>
    <li>
        <p dir="ltr">Wed, Feb. 24: Pattengill Science Fair, Pattengill Gym, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">Thurs, Feb. 25: Kindergarten Round-Up, Bryant Multipurpose Room-6-7:30pm</p>
    </li>
    <li><span class="aBn"><span class="aQJ">Fri, Feb. 26 - Mar 9</span></span>: Read-A-Thon</li>
</ul>
<hr />
<h5> Stay Connected</h5>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr">Submissions for <span class="aBn"><span class="aQJ">Thursday</span></span> Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><strong>Deadline is Tuesday at 5pm each week.</strong></p>
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T aligncenter" src="https://lh3.googleusercontent.com/4Qttjf1A_xwLBr8DRUY-x-z5etyhQbMS30gvgea9uI2oT9OFgnfA_kXzvfAeTGpiCMX06BViHzIQS_cuUVQcpPqHiwTWkh7yHE9z66JxP3GLXxHN6ytZEnLc8XoK0ZMc4heyOZJJ" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173px;" height="242px;" pagespeed_url_hash="1654987636"  /></p>