@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6><strong>In this issue:</strong></h6>
<ul>
    <li><strong><span style="color: #008000">Restaurant Day Is <span class="aBn"><span class="aQJ">Monday</span></span> at Buffalo Wild Wings</span></strong></li>
    <li><strong><span style="color: #008000">Spare Gym Shoes Needed for Bryant P.E. Classes</span></strong></li>
</ul>
<div dir="ltr">
    <table>
        <colgroup>
            <col width="13" />
        </colgroup>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<h6>Help Wanted: Volunteer Opportunities</h6>
<ul>
    <li><strong><span style="color: #008000">Pattengill Talent Show</span></strong></li>
    <li><strong><span style="color: #008000">Kindergarten Round-Up</span></strong></li>
    <li><strong><span style="color: #008000">Bryant Scholastic Book Fair Coming in March</span></strong></li>
    <li><strong><span style="color: #008000">Looking To Volunteer? We Need YOU!</span></strong></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><strong><span style="color: #008000">N.A.A.P.I.D/Parent Involvement Day</span></strong></li>
    <li><strong><span style="color: #008000">Girls on the Run Registration Ends <span class="aBn"><span class="aQJ">Feb. 15</span></span></span></strong></li>
    <li><strong><span style="color: #008000">Science Olympiad Starts Soon</span></strong></li>
    <li><strong><span style="color: #008000">Box Tops Due <span class="aBn"><span class="aQJ">Feb. 23</span></span></span></strong></li>
    <li><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<p dir="ltr"><strong>Mark Your Calendars</strong></p>
<p dir="ltr"><strong>Stay Connected</strong></p>
<hr />
<p dir="ltr">
    <h6>In this issue</h6>
<p dir="ltr"><strong><span style="color: #008000"> Restaurant Day Is <span class="aBn"><span class="aQJ">Monday</span></span> at Buffalo Wild Wings:</span></strong> On <span class="aBn"><span class="aQJ">Monday, Feb. 1</span></span>, a day off for students, please join the B/P community at Buffalo Wild Wings, near the Briarwood Mall (3150 Boardwalk Drive, Ann Arbor). The restaurant will donate to our schools 20% of your bill that day, from <span class="aBn"><span class="aQJ">11am-2am</span></span>. Simply give your server the flyer that is attached and will be coming home with your child, or show the <a href="https://drive.google.com/file/d/0B-_iHxypfI5bVV8td3BXQVpVZXc/view?usp=sharing" target="_blank">flyer</a> on your phone. Dine-in for lunch or dinner, or grab take-out for your family or co-workers. To reserve space for a team or group, call <a href="tel:%28734%29%20997-9464" target="_blank">(734) 997-9464</a>. Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" target="_blank">larrylage@yahoo.com</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Spare Gym Shoes Needed for Bryant P.E. Classes:</span> </strong>The P.E. program is looking for spare pairs of gym sneakers, for students to wear when they forget their own. If students only have boots to wear, they must sit out of P.E. activities &mdash; let's make sure they're able to participate with a borrowed pair of sneakers! Ideally these are slightly used, Velcro sneakers ranging in sizes to fit Young 5s-2nd grade, both boys and girls. If you're able to donate, please send them in to Mr. Willard, Bryant P.E. teacher. Thank you! Questions? Contact <a href="mailto:willardj@aaps.k12.mi.us" target="_blank">willardj@aaps.k12.mi.us</a></p>
<hr />
<h6> Help Wanted: Volunteer Opportunities</h6>
<p dir="ltr"><strong><span style="color: #008000"> Pattengill Talent Show:</span> </strong>Please help the teachers and students put on a great show. Dress rehearsal: Tuesday, Feb. 2, <span class="aBn"><span class="aQJ">4-6:30pm</span></span>; Evening Performance: Friday, Feb. 5 at 7pm; and Daytime Performance as part of NAAPID: Monday, Feb. 8 at 1:45pm. Volunteers are needed at all events. Please contact Deb Schreck at <a href="mailto:schreck@aaps.k12.mi.us" target="_blank">schreck@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Kindergarten Round-Up:</strong> </span>Be a part of this fun opportunity to welcome new prospective families to Bryant/Pattengill! Volunteers are needed on <span class="aBn"><span class="aQJ">Thursday, Feb. 25</span></span>, <span class="aBn"><span class="aQJ">6:00-7:30pm</span></span> to assist with parent sign-in, snacks, tours, and more. Please <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=12" target="_blank">sign up here</a>, or contact Karishma Collette at <a href="http://karishms@umich.edu" target="_blank">karishms@umich.edu</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Bryant Scholastic Book Fair Coming in March:</span></strong> It takes many hands to help students select and purchase books at our annual Book Fair. The Fair will run from <span class="aBn"><span class="aQJ">Tuesday, March 1 &mdash; Friday, March 4</span></span>. Family Night is Thursday, March 3. Volunteers are needed for ALL days and times, along with setup (Friday, 2/26) and teardown (<span class="aBn"><span class="aQJ">Friday, 3/4</span></span>). To volunteer, <a href="http://www.signupgenius.com/go/10c0e48afae28a2fc1-bryant3" target="_blank">click here</a>. Questions? Contact Carmen Atkins at <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Looking To Volunteer? We need YOU!</span> </strong>There is an opportunity for ALL B/P families to pitch in, whether you have daytime or evening availability. Many of our upcoming school events need more volunteers. Please visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6" target="_blank">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to select an event or activity that works for you. We can help you find a good fit! Contact PTO board members Carmen Atkins, VP of Bryant at: <a href="mailto:carmen.atkins@bryantpattengill.org" target="_blank">carmen.atkins@bryantpattengill.org</a> or Jennifer Nguyen, VP of Pattengill at: <a href="mailto:jennifer.nguyen@bryantpattengill.org" target="_blank">jennifer.nguyen@bryantpattengill.org</a>. Thank you!</p>
<hr />
<p dir="ltr">
    <h6> Reminders</h6>
<p dir="ltr"><strong><span style="color: #008000"> N.A.A.P.I.D/Parent Involvement Day:</span> </strong>Please plan to participate in Parent Involvement Day on <span class="aBn"><span class="aQJ">Monday, Feb. 8</span></span> at both schools. National African American Parent Involvement Day (N.A.A.P.I.D.) is a national initiative to encourage parents to connect with their child's school and become involved in their education. We invite ALL parents to join us for programs at Bryant/Pattengill. Please join us for the day's events and plan to visit with your child at school. Please <strong><a href="https://drive.google.com/file/d/0B-_iHxypfI5bUE5DY3BiTldVNGc/view?usp=sharing" target="_blank">attached</a></strong> flyer for the schedule of events.  Questions? Contact Deborah Joseph at <a href="mailto:josephd@aaps.k12.mi.us" target="_blank">josephd@aaps.k12.mi.us</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Girls on the Run Registration Is Still Open:</span> </strong>Don't forget to register for this great program now through <span class="aBn"><span class="aQJ">Feb. 15</span></span>! Our program at Pattengill is open to all 3rd-5th grade girls and will meet after school on Mondays and Wednesdays from <span class="aBn"><span class="aQJ">4:15-5:45pm</span></span>, March 7-May 20. <a href="http://www.girlsontherunsemi.org/" target="_blank">Click here </a>to learn more and to register. Regular registration is open until <span class="aBn"><span class="aQJ">Feb. 15</span></span>, then the cost increases for late registration. Financial assistance is available, and discounts are provided for those interested in volunteering on the coaching team. Email: <a href="mailto:info@girlsontherunsemi.org" target="_blank">info@girlsontherunsemi.org</a> for more information. Questions? Contact Elizabeth Deyarmond at: <a href="mailto:crowdecoder@gmail.com" target="_blank">crowdecoder@gmail.com</a></p>
<hr />
<p dir="ltr"><span style="color: #008000"><strong>Register for Science Olympiad:</strong></span> This free exploration-based enrichment program focuses on engineering, science, and nature. We practice with hands-on investigation, novel projects, engaging case studies, and lots of teamwork. It is open to all 2nd-5th grade Bryant and Pattengill students. Teams practice once per week with volunteer coaches starting in February. Check out the topics and register your student today! <a href="/SO" target="_blank">http://BryantPattengill.org/SO</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Keep Clipping Box Tops! </span></strong><a href="http://www.boxtops4education.com/" target="_blank"><strong><span style="color: #008000">B</span></strong>ox Tops coupons</a> are now being accepted for our next submission on <span class="aBn"><span class="aQJ">Tuesday, Feb. 23</span></span>. Thank you for submitting your Box Tops in the black boxes located outside each school's office, as we try to reach our goal of $1,200 for this school year. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com" target="_blank">jmpowl@aol.com</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #008000">Visit the Ann Arbor PTO Thrift Shop:</span></strong> Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p dir="ltr"> Mark Your Calendars</p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<h6>January</h6>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #008000"><span class="aBn"><span class="aQJ">Wed, Jan. 6 - 29</span></span>: NWEA Testing</span></strong></p>
    </li>
</ul>
<h6>February</h6>
<ul>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 1: No School</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 1: Restaurant Day at Buffalo Wild Wings</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000"><span class="aBn"><span class="aQJ">Fri, Feb. 5</span></span>: Pattengill Talent Show for Parents/Community, <span class="aBn"><span class="aQJ">7- 9pm</span></span></span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 8: Morning: Bryant NAAPID/Parent Involvement Day, ALL Parents Welcome</span></strong></p>
        <ul>
            <li>
                <p dir="ltr"><strong><span style="color: #008000">Afternoon: Pattengill NAAPID/Parent Involvement Day, ALL Parents Welcome</span></strong></p>
            </li>
            <li>
                <p dir="ltr"><strong><span style="color: #008000">Pattengill Talent Show for Students, <span class="aBn"><span class="aQJ">1:45-3:30</span></span></span></strong></p>
            </li>
        </ul>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Wed, Feb. 10: Student Count Day</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon-<span class="aBn"><span class="aQJ">Fri, Feb. 15-19</span></span>: Mid-Winter Break - No School for Students</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Mon, Feb. 22: School Resumes</span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Wed, Feb. 24: Pattengill Science Fair, Pattengill Gym, <span class="aBn"><span class="aQJ">6-7:30pm</span></span>    </span></strong></p>
    </li>
    <li>
        <p dir="ltr"><strong><span style="color: #008000">Thurs, Feb. 25: Kindergarten Round-Up, Bryant Multipurpose Room, <span class="aBn"><span class="aQJ">6-7:30pm</span></span></span></strong></p>
    </li>
    <li><strong><span style="color: #008000"><span class="aBn"><span class="aQJ">Fri, Feb. 26 - Mar 9</span></span>: Read-A-Thon</span></strong></li>
</ul>
<hr />
<p dir="ltr"><strong>Stay Connected</strong></p>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr">Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr">**Deadline is Tuesday at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</p>
<hr />
<p>&nbsp;</p>
<p dir="ltr"><img class="CToWUd a6T" src="https://lh4.googleusercontent.com/4U8GGi1dLvcjmt3vdfCB9cxbCrZs3XDhkBdreipYXfs4qf_e5kgdJiNOfJAbRY0I3UQC7X5et33xBQEASbSn9HbKbQmnXjwYmZKkxM8Rctw_uPpZYIhzV1j5Z_xaYi6PB_ab-H87" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173" height="242" pagespeed_url_hash="485864702"  /></p>