@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><b>In this issue:</b></p>
<ul>
    <li><span style="color: #339966"><b>Letters From The Principals</b></span></li>
    <li><span style="color: #339966"><b>News from Mrs. Krohn- Martin Luther King Jr. Assembly</b></span></li>
    <li><span style="color: #339966"><b>Come Join Girls On The Run</b></span></li>
    <li>
        <span style="color: #339966"><b>5th Grade Camp Update</b></span><br />
        <b></b><b></b><b></b><b></b>
    </li>
</ul>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><b>Thank You to our Volunteers!</b></p>
<p><b>Reminders:</b></p>
<ul>
    <li><span style="color: #339966"><b>You Can Still Sign Up For Science Olympiad</b></span></li>
    <li><span style="color: #339966"><b>Don't Forget The Bryant Community Center</b></span></li>
    <li><span style="color: #339966"><b>Keep On Clipping Box Tops For Bryant Pattengill</b></span></li>
</ul>
<p><b>Visit the Ann Arbor PTO Thrift Shop</b></p>
<p><b>Mark Your Calendars</b></p>
<p><b>Stay Connected</b></p>
<hr />
<p>&nbsp;</p>
<p><b>In this issue</b></p>
<p><span style="color: #339966"><b>Letters from the Principals: </b></span>Be sure to read Mrs. Heyward's <a href="https://docs.google.com/document/d/1QFgJZ2WA1bvnIbMVJTZDT-s4rzSBKWNxh_xAKkErJR0/edit?usp=sharing"><b>letter to Bryant </b></a><a href="https://docs.google.com/document/d/1QFgJZ2WA1bvnIbMVJTZDT-s4rzSBKWNxh_xAKkErJR0/edit?usp=sharing"><b>families</b></a> and Mrs. Alston's <a href="https://docs.google.com/document/d/1SdJlXiUveIiZariJ4-fXRaJrxQfJbrbYyfvYJombMSI/edit?usp=sharing"><b>letter to Pattengill families</b></a>, filled with timely information for our school community.</p>
<hr />
<p><span style="color: #339966"><b>News from Mrs. Krohn- Martin Luther King Jr. Assembly</b></span><b>:</b> The MARTIN LUTHER KING JR. DAY ASSEMBLY will take place on<b> January 15th 9:20 a.m. </b>Please join the Bryant students and staff at <b>9:20 a.m</b>. for an all-school assembly to celebrate and remember the life and dreams of Dr. Martin Luther King, Jr. We would love for you to join us. During the assembly, many different classes will present their tributes to Dr. King in a variety of ways, so it is a celebration not to be missed! Questions, please contact Mrs. Krohn- <a href="mailto:krohnk@aaps.k12.mi.us">krohnk@aaps.k12.mi.us.</a> Thanks and we look forward to seeing you on the 15th!</p>
<hr />
<p><span style="color: #339966"><b>Come Join Girls On The Run</b>:</span> Registration is open for Girls on the Run! Our program at Pattengill <b>is open to all 3rd - 5th grade girls</b> and will meet after school on Mondays and Wednesdays from 4:15pm - 5:45pm March 7th through May 20th. All registered participants will receive a healthy snack at each lesson, along with a program t-shirt and water bottle, a parent guide book, Girls on the Run cinch sack, and entry into the 5k on Sunday, May 15th. <a href="http://www.girlsontherunsemi.org/">Click here</a> to learn more and to register. Space is limited and <b>registration ends February 15th</b>. *Financial assistance is available and volunteers may receive discounted or waived registrations for their daughters Email:  <a href="mailto:info@girlsontherunsemi.org"><b>info@girlsontherunsemi.org</b></a> for more information.</p>
<hr />
<p><span style="color: #339966"><b>5th Grade Camp Update</b></span>: <b>SHOW YOUR SUPPORT</b> for Bryant/Pattengill 5th grade camp scholarships this week at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. <b>From January 10 &mdash; 16,</b> we have an opportunity to earn a percentage of $1000 through this promotional fundraising activity. Here's how it works. For every $5 spent, shoppers earn a token. Cast your tokens this week in support of our school! The funds earned for Bryant/Pattengill will help to ensure that ALL 5th graders are able to participate in the camp experience. Spread the word to friends and family and let's SHOW OUR SUPPORT for our school! See the attached flier for store hours.</p>
<hr />
<p>&nbsp;</p>
<p><b>Help Wanted: Volunteer Opportunities</b></p>
<p><span style="color: #339966"><b>Thank You to our Volunteers!</b> </span>Thank you to all of our parent volunteers for the time and energy you have dedicated to our students and schools this Fall. We wish you a restful break, and look forward to working with you again in the new year. Looking for a way to plug-in to your child's school in 2016? Visit <a href="https://docs.google.com/spreadsheets/d/1ShfBpIlF33JCDD93VwgJld7fpJvIp-b1BcZwYyqwiGg/edit#gid=6">2015-2016 Bryant/Pattengill Volunteer Sign-Up</a> to volunteer for any of our PTO events and activities. Thank you!</p>
<hr />
<p><b>Reminders</b></p>
<p><span style="color: #339966"><b>You Can Still Sign Up For Science Olympiad:</b></span>Science Olympiad is a free enrichment program open to all 2nd through 5th graders!  Practices start in February in a wide variety of topics. For students who aren't sure science is for them, we are sure we have activities to catch their interest.  Focused on interaction, exploration, hands-on activities, and team work. Check it out and sign up now: <a href="/SO"><b>BryantPattengill.org/SO</b></a> Questions, contact <span style="color: #339966">J</span><a href="mailto:JONATHAN.T.PARKER@leidos.com"><span style="color: #339966">ONATHAN.T.PARKER@leidos.co</span>m</a></p>
<hr />
<p><span style="color: #339966"><b>Don't Forget The Bryant Community Center:</b></span> Especially during this time of the year, this center provides Bryant Elementary families an opportunity to use Bryant Community Center's food distribution program. Parents can call the Community Center for more information at (734) 477-0292. Please be clear that it is a Bryant Elementary family in need, because there is a distribution solely for Bryant Neighborhood and Bryant Elementary families - the waits are much shorter.</p>
<hr />
<p><span style="color: #339966"><b>Keep on clipping Box Tops:</b></span> With the holiday season upon us, please remember to clip and save <a href="http://www.boxtops4education.com/">Box Top coupons</a> from your favorite products. Our next submission is <b>February 23, 2016</b>, which will be here before we know it! Thank you for submitting your Box Tops in the &#8216;black boxes' located outside each school's office, as we try to reach our goal of $1,200 for this school year. Questions? Contact Jean Powell at <a href="mailto:jmpowl@aol.com">jmpowl@aol.com</a>.</p>
<hr />
<p><span style="color: #339966"><b>Visit the Ann Arbor PTO Thrift Shop</b><b>: </b></span>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/"> <b>Shop, donate, and support AAPS</b></a>!</p>
<hr />
<p>&nbsp;</p>
<p><b>Mark Your Calendars</b></p>
<p>To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing"> <b>Bryant/Pattengill PTO Calendar</b></a></p>
<p><b>January</b></p>
<ul>
    <li>Mon, Jan. 4: School Resumes</li>
    <li>Wed, Jan. 6 - 29: NWEA Testing</li>
    <li>Tues, Jan. 12: Pattengill Talent Show Tryouts</li>
    <li>Mon, Jan. 18:  Martin Luther King Jr. Day - <b><i>No School for Students</i></b></li>
    <li>Thurs, Jan. 21: PTO Executive Board Meeting, 6-7:30, Bryant Media Center</li>
</ul>
<p><strong>February</strong></p>
<ul>
    <li>Mon, Feb. 1: No School</li>
    <li>Fri, Feb. 5: Pattengill Talent Show for Parents/Community, 7- 9pm</li>
    <li>
        Mon, Feb. 8:<b> Morning</b>: Bryant NAAPID/Parent Involvement Day, <i>ALL Parents Welcome</i>
        <ul>
            <li><b>Afternoon</b>: Pattengill NAAPID/Parent Involvement Day, <i>ALL Parents Welcome</i></li>
            <li>Pattengill Talent Show for Students, 1:45-3:30</li>
        </ul>
    </li>
    <li>Wed, Feb. 10: Student Count Day</li>
    <li>Mon-Fri, Feb. 15-19: <b>Mid-Winter Break - </b><b><i>No School for Students</i></b></li>
    <li>Mon, Feb. 22: School Resumes</li>
    <li>Wed, Feb. 24: Pattengill Science Fair, Pattengill Gym, 6-7:30pm</li>
    <li>Thurs, Feb. 25: Kindergarten Round-Up, Bryant Multipurpose Room-6-7:30pm</li>
    <li>
        Fri, Feb. 26 - Mar 9: Read-A-Thon<br />
        <hr />
        <p><b>Stay Connected</b>
    </li>
    <li>PTO Website:<a href="http://www.bryantpattengill.org"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant"> www.a2schools.org/bryant</a></li>
    <li>
        Pattengill Website:<a href="http://www.a2schools.org/pattengill"> www.a2schools.org/pattengill</a><br />
        <hr />
        <p>Submissions for Thursday Notes should be e-mailed to <a href="mailto:ThursdayNotes@bryantpattengill.org">ThursdayNotes@bryantpattengill.org</a>. <b>Deadline is Tuesday at 5pm each week.</b>
    </li>
</ul>
<p><img class="CToWUd a6T" src="https://lh3.googleusercontent.com/4Qttjf1A_xwLBr8DRUY-x-z5etyhQbMS30gvgea9uI2oT9OFgnfA_kXzvfAeTGpiCMX06BViHzIQS_cuUVQcpPqHiwTWkh7yHE9z66JxP3GLXxHN6ytZEnLc8XoK0ZMc4heyOZJJ" alt="2015-16 A2PTO Email PROMO.color photo(1).png" width="173px;" height="242px;" pagespeed_url_hash="1654987636"  /></p>