@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>Pasta for Pennies Due Friday, 10/24</li>
    <li>Box Tops Due Friday, 10/24</li>
    <li>Bryant Art News</li>
    <li>Bryant Garden News</li>
    <li>Movie Night Kudos</li>
    <li>AmazonSmile Earns Money for B/P</li>
    <li>AAPS Parent Information Meeting with AAPD</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Check Out the New PTO Website</li>
    <li>B/P Grad Success Stories Wanted</li>
    <li>Shop for Our Schools</li>
    <li>Winter Clothing Drive</li>
    <li>PTO Thrift Shop</li>
</ul>
<p><strong>Mark Your Calendars</strong></p>
<p><span id="more-386"></span></p>
<hr />
<p><strong>Pasta for Pennies DUE Friday, Oct. 24</strong></p>
<p>Don't forget to send in your Bryant student's yellow <strong><a href="http://www.schoolandyouth.org/school/Controller?action=loadContent&amp;itemid=575047" target="_blank">Pasta for Pennies</a></strong> spare change collection box this Friday, October 24. The class that raises the most change for The Leukemia &amp; Lymphoma Society will receive a pasta lunch, courtesy of Olive Garden. Thank you for participating!</p>
<hr />
<p><strong>Box Tops DUE Friday, Oct. 24</strong></p>
<p>Also due Friday are any <strong><a href="http://www.boxtops4education.com/" target="_blank">Box Tops for Education</a></strong> coupons you've been collecting. Black collection boxes are located outside each of the school offices. Please continue to clip and save Box Tops throughout the year. Last year, these coupons earned over $2,000 for our schools! Thank you for your support. Questions? Contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" target="_blank">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Bryant Art News</strong></p>
<p><img data-attachment-id="307" data-permalink="https://www.bryantpattengill.org/2014/10/18/earn-money-for-bryantpattengill-just-by-shopping-at-target/img_7062/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?fit=3264%2C2448&amp;ssl=1" data-orig-size="3264,2448" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;2.2&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;iPhone 5s&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1413467204&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.15&quot;,&quot;iso&quot;:&quot;160&quot;,&quot;shutter_speed&quot;:&quot;0.033333333333333&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="Fall Art Project" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?fit=474%2C356&amp;ssl=1" class="aligncenter size-medium wp-image-307" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/IMG_7062-300x225.jpg?resize=300%2C225" alt="Fall Art Project" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?resize=300%2C225&amp;ssl=1 300w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?resize=768%2C576&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?resize=1024%2C768&amp;ssl=1 1024w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?w=948 948w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?w=1422 1422w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="3385489436"  /></p>
<p>Jennifer Sullivan will be available to conference with parents on Thursday, October 30 from 4-6pm. You can contact her at <a href="mailto:maerzsullivanj@aaps.k12.mi.us" target="_blank">maerzsullivanj@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Bryant Garden News</strong></p>
<figure id="attachment_388" style="width: 300px" class="wp-caption aligncenter">
    <a href="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/gardennews.jpg">
        <img data-attachment-id="388" data-permalink="https://www.bryantpattengill.org/2014/10/23/thursday-notes/gardennews/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?fit=1024%2C768&amp;ssl=1" data-orig-size="1024,768" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="New Bryant Garden" data-image-description="&lt;p&gt;Thanks to former Bryant/Pattengill student Will Jibson (center, kneeling), his family, and the volunteers who have built our new Bryant garden. Will led this project as a part of his Eagle Scout requirements. Mrs. Klein planted leafy greens for the fall and all kindergartners taste tested curly kale, chard, and leaf lettuce. Due to frost, we are putting the garden to bed for the winter. We are already thinking about the spring planting and Mr. Kinasz and Mrs. Klein are planning school-wide vermicomposting.&lt;/p&gt;
" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?fit=474%2C356&amp;ssl=1" class="wp-image-388 size-medium" src="/wp-content/uploads/2014/10/gardennews-300x225.jpg?resize=300%2C225" alt="New Bryant Garden" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?resize=300%2C225&amp;ssl=1 300w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?resize=768%2C576&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?w=1024&amp;ssl=1 1024w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?w=948 948w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="2228850128"  />
    </a><figcaption class="wp-caption-text">New Bryant Garden</figcaption>
</figure>
<p>Thanks to former B/P student Will Jibson, his family, and the volunteers who built our new Bryant garden! Will led this project as a part of his Eagle Scout requirements. Mrs. Klein planted leafy greens for the fall and all kindergartners taste-tested curly kale, chard, and leaf lettuce.</p>
<p>Due to frost, we are putting the garden to bed for the winter. We are already thinking about the spring planting and Mr. Kinasz and Mrs. Klein are planning school-wide vermicomposting.</p>
<hr />
<p><strong>Movie Night Kudos</strong></p>
<p><img data-attachment-id="294" data-permalink="https://www.bryantpattengill.org/2014/10/17/have-fun-helping-a-family-at-movie-night/frozen-3/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/frozen-3.jpg?fit=1280%2C720&amp;ssl=1" data-orig-size="1280,720" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="frozen 3" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/frozen-3.jpg?fit=300%2C169&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/frozen-3.jpg?fit=474%2C267&amp;ssl=1" class="aligncenter size-medium wp-image-294" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/frozen-3-300x168.jpg?resize=300%2C168" alt="frozen 3" data-recalc-dims="1" pagespeed_url_hash="3520008395"  /></p>
<p>We hope you all enjoyed getting "Frozen" last Friday at Movie Night at Bryant. Through concession sales, we raised $700 for our schools - way to go! Thank you to coordinators Kathy Owens and Dana Stoica; Bob Treat for securing donated pizzas from Papa John's; and the many volunteers that helped make the event a success.</p>
<hr />
<p><strong>Smile! Now you can shop Amazon.com and earn money for our schools</strong></p>
<p><a href="http://smile.amazon.com/ch/38-3575065" target="_blank"><img data-attachment-id="382" data-permalink="https://www.bryantpattengill.org/fundraising/amazonsmiles/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" data-orig-size="310,260" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="AmazonSmile" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=300%2C252&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" class="aligncenter size-medium wp-image-382" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/AmazonSmiles-300x251.jpg?resize=300%2C251" alt="AmazonSmile" data-recalc-dims="1" pagespeed_url_hash="3985208334"  /></a></p>
<p>Visit <strong><a href="http://smile.amazon.com/ch/38-3575065" target="_blank">smile.amazon.com</a></strong>, and select <strong>Bryant-Pattengill PTO</strong> as your charity of choice.</p>
<p>Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. Get a head start on your holiday shopping and start earning for Bryant/Pattengill today!</p>
<hr />
<p><strong>AAPS Parent Information Meeting with the Ann Arbor Police Dept.</strong></p>
<p>Learn about the A.L.I.C.E. protocol for AAPS staff, for keeping students as safe as possible should an armed intruder enter any of our school buildings.</p>
<p>Tuesday, October 28 at 6:30pm at Pioneer High School in the Schreiber Auditorium.</p>
<hr />
<p><strong>Help Wanted: volunteer opportunities at-a-glance</strong></p>
<p><strong>Your child spends over 1,100 hours in school each year. Can you give back 11 hours in service to your child's school?</strong></p>
<p><strong>Event Photographer(s)</strong> needed to take photos at any of our schools' special events. Contact <a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a>.</p>
<hr />
<h2>Reminders</h2>
<p>&nbsp;</p>
<p><strong>Check out the new Bryant/Pattengill PTO website</strong></p>
<p>Visit <a href="http://www.bryantpattengill.org"><strong>www.bryantpattengill.org</strong></a>, where you can find spotlights on students and staff, and the latest news from our schools.</p>
<p>Don't miss the terrific video by former Pattengill 5th graders,<strong> <a href="/2014/10/20/amazing-video-made-by-pattengill-students/" target="_blank">"See and Know Me, Not My Hue."</a></strong></p>
<hr />
<p><strong>Looking for Bryant/Pattengill grads</strong></p>
<p>Know a former Bryant Tiger or Pattengill Puma who attends U of M or Michigan State? We are looking to showcase our local success stories on our new PTO website.</p>
<p>If you know of someone who might be profiled, please e-mail <strong><a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a></strong>.</p>
<hr />
<p><strong>Attention Grocery Shoppers!</strong></p>
<p>Do your shopping at</p>
<ul>
    <li>Busch's</li>
    <li>Kroger</li>
    <li>Hiller's</li>
    <li>Meijer</li>
    <li>Target</li>
    <li>GFS Marketplace</li>
    <li>The Produce Station</li>
</ul>
<p>and earn money for our schools! Even if you shop at a particular store infrequently, please sign up to participate in that store's Scrip program - small amounts add up! For more information, <a title="Grocery SCRIP" href="/fundraising/grocery-scrip/"><strong>click here</strong></a>. Happy shopping!</p>
<p>Questions? Contact Alicia Davis at <a href="mailto:alicia972@hotmail.com" target="_blank">alicia972@hotmail.com</a>.</p>
<hr />
<p><strong>Help families stay warm this winter</strong></p>
<p>We are currently accepting CLEAN, gently used pants, sweatshirts, coats, boots, gloves, hats, etc. of all sizes for our B/P clothing drive. Donation boxes are located at both schools: Bryant &mdash; black bin by the gym, and Pattengill &mdash; box located between the art room and the main office.</p>
<p>Questions? Contact: Charlita Daniels at <a href="mailto:dancharl@umich.edu" target="_blank">dancharl@umich.edu</a> or <a title="Kelly Pomorski" href="/about/board-members/kelly-pomorski/">Kelly Pomorski</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong></p>
<figure id="attachment_389" style="width: 189px" class="wp-caption aligncenter"><a href="/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg"><img data-attachment-id="389" data-permalink="https://www.bryantpattengill.org/2014/10/23/thursday-notes/2013-14-a2pto-promo-3-mini/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" data-orig-size="189,300" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Shop at Ann Arbor PTO Thrift Shop" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" class="size-full wp-image-389" src="/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?resize=189%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" data-recalc-dims="1" pagespeed_url_hash="2182512169"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<p>Located at <a href="https://goo.gl/maps/qSw09" target="_blank">2280 S. Industrial Hwy.</a>, the Thrift Shop supports our schools and students!</p>
<hr />
<h2>Mark Your Calendars</h2>
<p><strong>October</strong></p>
<ul>
    <li>Fri. Oct. 24: "Pennies for Pasta" Spare Change Drive Donations Due</li>
    <li>Fri. Oct. 24: "Box Tops for Education" Coupons Due</li>
    <li>Tues. Oct. 28: AAPS Parent Information Meeting with AAPD, 6:30pm, Pioneer High School, Schreiber Auditorium</li>
</ul>
<p><strong>November</strong></p>
<ul>
    <li>Tues. Nov. 4: Election Day - No School for Students</li>
    <li>Wed. Nov. 5 - Fri. Nov. 7: Fifth Grade Camp</li>
    <li>Wed. Nov. 12: Bryant Picture Retakes</li>
    <li>Thurs. Nov. 13: Pattengill Picture Retakes</li>
    <li>Thurs. Nov. 13: PTO Executive Board Meeting, Pattengill Media Center, 7-8pm</li>
    <li>Fri. Nov. 14: Charleston Wraps Pick Up</li>
    <li>Mon. Nov. 17: Restaurant Day at Elevation Burger, 11am-9pm, 3365 Washtenaw Ave., Ann Arbor. Download flyer here.</li>
    <li>Mon. Nov. 24: Report Cards Go Home</li>
    <li>Wed. Nov. 26 - Fri. Nov. 28: Thanksgiving Break - No School for Students</li>
</ul>
<hr />
<p><strong>Links</strong></p>
<ul>
    <li><strong>Bryant/Pattengill Website</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank">a2schools.org/bryantpattengill.home/home</a></li>
    <li>
        <strong>PTO Website</strong><br />
        <a href="http://www.bryantpattengill.org" target="_blank">www.bryantpattengill.org</a>
    </li>
    <li>
        <strong>
            Facebook Page<br />
        </strong> <a href="http://www.facebook.com/BryantPattengillPTO" target="_blank">www.facebook.com/BryantPattengillPTO</a>
    </li>
    <li>
        <strong>Twitter</strong><br />
        <a href="http://twitter.com/bryantpattengil" target="_blank">twitter.com/bryantpattengil</a>
    </li>
    <li>
        <strong>Google+</strong><br />
        <a class="d-s" tabindex="0" href="https://www.google.com/+BryantPattengillOrg" target="_blank">google.com/<wbr />+BryantPattengillOrg</a>
    </li>
</ul>
<hr />
<p><strong>Submissions for Thursday Notes should be e-mailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.</strong></p>

<p><strong>Bryant/Pattengill Thursday Notes: October 23, 2014</strong></p>
<p><strong>In this issue:</strong></p>
<ul>
    <li>Pasta for Pennies Due Friday, 10/24</li>
    <li>Box Tops Due Friday, 10/24</li>
    <li>Bryant Art News</li>
    <li>Bryant Garden News</li>
    <li>Movie Night Kudos</li>
    <li>AmazonSmile Earns Money for B/P</li>
    <li>AAPS Parent Information Meeting with AAPD</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Check Out the New PTO Website</li>
    <li>B/P Grad Success Stories Wanted</li>
    <li>Shop for Our Schools</li>
    <li>Winter Clothing Drive</li>
    <li>PTO Thrift Shop</li>
</ul>
<p><strong>Mark Your Calendars</strong></p>
<p><span id="more-386"></span></p>
<hr />
<p><strong>Pasta for Pennies DUE Friday, Oct. 24</strong></p>
<p>Don't forget to send in your Bryant student's yellow <strong><a href="http://www.schoolandyouth.org/school/Controller?action=loadContent&amp;itemid=575047" target="_blank">Pasta for Pennies</a></strong> spare change collection box this Friday, October 24. The class that raises the most change for The Leukemia &amp; Lymphoma Society will receive a pasta lunch, courtesy of Olive Garden. Thank you for participating!</p>
<hr />
<p><strong>Box Tops DUE Friday, Oct. 24</strong></p>
<p>Also due Friday are any <strong><a href="http://www.boxtops4education.com/" target="_blank">Box Tops for Education</a></strong> coupons you've been collecting. Black collection boxes are located outside each of the school offices. Please continue to clip and save Box Tops throughout the year. Last year, these coupons earned over $2,000 for our schools! Thank you for your support. Questions? Contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" target="_blank">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Bryant Art News</strong></p>
<p><img data-attachment-id="307" data-permalink="https://www.bryantpattengill.org/2014/10/18/earn-money-for-bryantpattengill-just-by-shopping-at-target/img_7062/" data-orig-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?fit=3264%2C2448&amp;ssl=1" data-orig-size="3264,2448" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;2.2&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;iPhone 5s&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1413467204&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.15&quot;,&quot;iso&quot;:&quot;160&quot;,&quot;shutter_speed&quot;:&quot;0.033333333333333&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="Fall Art Project" data-image-description="" data-medium-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?fit=474%2C356&amp;ssl=1" class="aligncenter size-medium wp-image-307" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/IMG_7062-300x225.jpg?resize=300%2C225" alt="Fall Art Project" srcset="https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?resize=300%2C225&amp;ssl=1 300w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?resize=768%2C576&amp;ssl=1 768w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?resize=1024%2C768&amp;ssl=1 1024w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?w=948 948w, https://i0.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/IMG_7062.jpg?w=1422 1422w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="3385489436"  /></p>
<p>Jennifer Sullivan will be available to conference with parents on Thursday, October 30 from 4-6pm. You can contact her at <a href="mailto:maerzsullivanj@aaps.k12.mi.us" target="_blank">maerzsullivanj@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Bryant Garden News</strong></p>
<figure id="attachment_388" style="width: 300px" class="wp-caption aligncenter">
    <a href="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/gardennews.jpg">
        <img data-attachment-id="388" data-permalink="https://www.bryantpattengill.org/2014/10/23/thursday-notes/gardennews/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?fit=1024%2C768&amp;ssl=1" data-orig-size="1024,768" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="New Bryant Garden" data-image-description="&lt;p&gt;Thanks to former Bryant/Pattengill student Will Jibson (center, kneeling), his family, and the volunteers who have built our new Bryant garden. Will led this project as a part of his Eagle Scout requirements. Mrs. Klein planted leafy greens for the fall and all kindergartners taste tested curly kale, chard, and leaf lettuce. Due to frost, we are putting the garden to bed for the winter. We are already thinking about the spring planting and Mr. Kinasz and Mrs. Klein are planning school-wide vermicomposting.&lt;/p&gt;
" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?fit=474%2C356&amp;ssl=1" class="wp-image-388 size-medium" src="/wp-content/uploads/2014/10/gardennews-300x225.jpg?resize=300%2C225" alt="New Bryant Garden" srcset="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?resize=300%2C225&amp;ssl=1 300w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?resize=768%2C576&amp;ssl=1 768w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?w=1024&amp;ssl=1 1024w, https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/gardennews.jpg?w=948 948w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" pagespeed_url_hash="2228850128"  />
    </a><figcaption class="wp-caption-text">New Bryant Garden</figcaption>
</figure>
<p>Thanks to former B/P student Will Jibson, his family, and the volunteers who built our new Bryant garden! Will led this project as a part of his Eagle Scout requirements. Mrs. Klein planted leafy greens for the fall and all kindergartners taste-tested curly kale, chard, and leaf lettuce.</p>
<p>Due to frost, we are putting the garden to bed for the winter. We are already thinking about the spring planting and Mr. Kinasz and Mrs. Klein are planning school-wide vermicomposting.</p>
<hr />
<p><strong>Movie Night Kudos</strong></p>
<p><img data-attachment-id="294" data-permalink="https://www.bryantpattengill.org/2014/10/17/have-fun-helping-a-family-at-movie-night/frozen-3/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/frozen-3.jpg?fit=1280%2C720&amp;ssl=1" data-orig-size="1280,720" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="frozen 3" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/frozen-3.jpg?fit=300%2C169&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/frozen-3.jpg?fit=474%2C267&amp;ssl=1" class="aligncenter size-medium wp-image-294" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/frozen-3-300x168.jpg?resize=300%2C168" alt="frozen 3" data-recalc-dims="1" pagespeed_url_hash="3520008395"  /></p>
<p>We hope you all enjoyed getting "Frozen" last Friday at Movie Night at Bryant. Through concession sales, we raised $700 for our schools - way to go! Thank you to coordinators Kathy Owens and Dana Stoica; Bob Treat for securing donated pizzas from Papa John's; and the many volunteers that helped make the event a success.</p>
<hr />
<p><strong>Smile! Now you can shop Amazon.com and earn money for our schools</strong></p>
<p><a href="http://smile.amazon.com/ch/38-3575065" target="_blank"><img data-attachment-id="382" data-permalink="https://www.bryantpattengill.org/fundraising/amazonsmiles/" data-orig-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" data-orig-size="310,260" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="AmazonSmile" data-image-description="" data-medium-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=300%2C252&amp;ssl=1" data-large-file="https://i2.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/AmazonSmiles.jpg?fit=310%2C260&amp;ssl=1" class="aligncenter size-medium wp-image-382" src="https://i2.wp.com/websitekcbtn3a7bbkac.centralus.cloudapp.azure.com/wp-content/uploads/2014/10/AmazonSmiles-300x251.jpg?resize=300%2C251" alt="AmazonSmile" data-recalc-dims="1" pagespeed_url_hash="3985208334"  /></a></p>
<p>Visit <strong><a href="http://smile.amazon.com/ch/38-3575065" target="_blank">smile.amazon.com</a></strong>, and select <strong>Bryant-Pattengill PTO</strong> as your charity of choice.</p>
<p>Amazon will donate 0.5% of your eligible purchases to our schools. If you already have an Amazon account, everything automatically transfers when you shop at AmazonSmile - your cart contents, wish lists, etc. Get a head start on your holiday shopping and start earning for Bryant/Pattengill today!</p>
<hr />
<p><strong>AAPS Parent Information Meeting with the Ann Arbor Police Dept.</strong></p>
<p>Learn about the A.L.I.C.E. protocol for AAPS staff, for keeping students as safe as possible should an armed intruder enter any of our school buildings.</p>
<p>Tuesday, October 28 at 6:30pm at Pioneer High School in the Schreiber Auditorium.</p>
<hr />
<p><strong>Help Wanted: volunteer opportunities at-a-glance</strong></p>
<p><strong>Your child spends over 1,100 hours in school each year. Can you give back 11 hours in service to your child's school?</strong></p>
<p><strong>Event Photographer(s)</strong> needed to take photos at any of our schools' special events. Contact <a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a>.</p>
<hr />
<h2>Reminders</h2>
<p>&nbsp;</p>
<p><strong>Check out the new Bryant/Pattengill PTO website</strong></p>
<p>Visit <a href="http://www.bryantpattengill.org"><strong>www.bryantpattengill.org</strong></a>, where you can find spotlights on students and staff, and the latest news from our schools.</p>
<p>Don't miss the terrific video by former Pattengill 5th graders,<strong> <a href="/2014/10/20/amazing-video-made-by-pattengill-students/" target="_blank">"See and Know Me, Not My Hue."</a></strong></p>
<hr />
<p><strong>Looking for Bryant/Pattengill grads</strong></p>
<p>Know a former Bryant Tiger or Pattengill Puma who attends U of M or Michigan State? We are looking to showcase our local success stories on our new PTO website.</p>
<p>If you know of someone who might be profiled, please e-mail <strong><a href="mailto:info@bryantpattengill.org" target="_blank">info@bryantpattengill.org</a></strong>.</p>
<hr />
<p><strong>Attention Grocery Shoppers!</strong></p>
<p>Do your shopping at</p>
<ul>
    <li>Busch's</li>
    <li>Kroger</li>
    <li>Hiller's</li>
    <li>Meijer</li>
    <li>Target</li>
    <li>GFS Marketplace</li>
    <li>The Produce Station</li>
</ul>
<p>and earn money for our schools! Even if you shop at a particular store infrequently, please sign up to participate in that store's Scrip program - small amounts add up! For more information, <a title="Grocery SCRIP" href="/fundraising/grocery-scrip/"><strong>click here</strong></a>. Happy shopping!</p>
<p>Questions? Contact Alicia Davis at <a href="mailto:alicia972@hotmail.com" target="_blank">alicia972@hotmail.com</a>.</p>
<hr />
<p><strong>Help families stay warm this winter</strong></p>
<p>We are currently accepting CLEAN, gently used pants, sweatshirts, coats, boots, gloves, hats, etc. of all sizes for our B/P clothing drive. Donation boxes are located at both schools: Bryant &mdash; black bin by the gym, and Pattengill &mdash; box located between the art room and the main office.</p>
<p>Questions? Contact: Charlita Daniels at <a href="mailto:dancharl@umich.edu" target="_blank">dancharl@umich.edu</a> or <a title="Kelly Pomorski" href="/about/board-members/kelly-pomorski/">Kelly Pomorski</a>.</p>
<hr />
<p><strong>Visit the Ann Arbor PTO Thrift Shop</strong></p>
<figure id="attachment_389" style="width: 189px" class="wp-caption aligncenter"><a href="/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg"><img data-attachment-id="389" data-permalink="https://www.bryantpattengill.org/2014/10/23/thursday-notes/2013-14-a2pto-promo-3-mini/" data-orig-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" data-orig-size="189,300" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Shop at Ann Arbor PTO Thrift Shop" data-image-description="" data-medium-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" data-large-file="https://i1.wp.com/www.bryantpattengill.org/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?fit=189%2C300&amp;ssl=1" class="size-full wp-image-389" src="/wp-content/uploads/2014/10/2013-14-A2PTO-Promo-3-mini.jpg?resize=189%2C300" alt="Shop at Ann Arbor PTO Thrift Shop" data-recalc-dims="1" pagespeed_url_hash="2182512169"  /></a><figcaption class="wp-caption-text">Shop at Ann Arbor PTO Thrift Shop</figcaption></figure>
<p>Located at <a href="https://goo.gl/maps/qSw09" target="_blank">2280 S. Industrial Hwy.</a>, the Thrift Shop supports our schools and students!</p>
<hr />
<h2>Mark Your Calendars</h2>
<p><strong>October</strong></p>
<ul>
    <li>Fri. Oct. 24: "Pennies for Pasta" Spare Change Drive Donations Due</li>
    <li>Fri. Oct. 24: "Box Tops for Education" Coupons Due</li>
    <li>Tues. Oct. 28: AAPS Parent Information Meeting with AAPD, 6:30pm, Pioneer High School, Schreiber Auditorium</li>
</ul>
<p><strong>November</strong></p>
<ul>
    <li>Tues. Nov. 4: Election Day - No School for Students</li>
    <li>Wed. Nov. 5 - Fri. Nov. 7: Fifth Grade Camp</li>
    <li>Wed. Nov. 12: Bryant Picture Retakes</li>
    <li>Thurs. Nov. 13: Pattengill Picture Retakes</li>
    <li>Thurs. Nov. 13: PTO Executive Board Meeting, Pattengill Media Center, 7-8pm</li>
    <li>Fri. Nov. 14: Charleston Wraps Pick Up</li>
    <li>Mon. Nov. 17: Restaurant Day at Elevation Burger, 11am-9pm, 3365 Washtenaw Ave., Ann Arbor. Download flyer here.</li>
    <li>Mon. Nov. 24: Report Cards Go Home</li>
    <li>Wed. Nov. 26 - Fri. Nov. 28: Thanksgiving Break - No School for Students</li>
</ul>
<hr />
<p><strong>Links</strong></p>
<ul>
    <li><strong>Bryant/Pattengill Website</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank">a2schools.org/bryantpattengill.home/home</a></li>
    <li>
        <strong>PTO Website</strong><br />
        <a href="http://www.bryantpattengill.org" target="_blank">www.bryantpattengill.org</a>
    </li>
    <li>
        <strong>
            Facebook Page<br />
        </strong> <a href="http://www.facebook.com/BryantPattengillPTO" target="_blank">www.facebook.com/BryantPattengillPTO</a>
    </li>
    <li>
        <strong>Twitter</strong><br />
        <a href="http://twitter.com/bryantpattengil" target="_blank">twitter.com/bryantpattengil</a>
    </li>
    <li>
        <strong>Google+</strong><br />
        <a class="d-s" tabindex="0" href="https://www.google.com/+BryantPattengillOrg" target="_blank">google.com/<wbr />+BryantPattengillOrg</a>
    </li>
</ul>
<hr />
<p><strong>Submissions for Thursday Notes should be e-mailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.</strong></p>