@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this issue:</strong></p>
<ul>
    <li>Movie Night at Bryant on Friday</li>
    <li>Mrs. Jackie Burns Retiring</li>
    <li>Updated B/P PTO Website</li>
    <li>B/P Grad Success Stories Wanted</li>
    <li>Pasta for Pennies</li>
    <li>B/P No-Nut Policy</li>
    <li>Box Tops for Education Due 10/24</li>
    <li>Restaurant Day Update</li>
    <li>Volunteer Thanks</li>
    <li>AAPS PTOC Annual Launch Party: 10/20</li>
    <li>Whitmore Lake Annexation Community Forums</li>
</ul>
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Pattengill Curriculum Night Survey</li>
    <li>Grocery Store Scrip Program</li>
    <li>Winter Clothing Drive</li>
    <li>PTO Thrift Shop</li>
</ul>
<p>&nbsp;</p>
<p><span id="more-250"></span></p>
<p>&nbsp;</p>
<p><strong>Mark Your Calendars</strong></p>
<hr />
<p><strong>In this issue</strong></p>
<p><strong>Do you wanna build a snowman? . . . Friday is "Frozen" Movie Night! </strong>Come enjoy a FREE showing of "Frozen" this <strong>Friday, October 17, 5:30-8:00pm in Bryant's Gym</strong>. Please note: <strong><em>A parent or legal guardian (age 18 or older) must stay with your student; kids cannot be dropped off</em></strong>. Feel free to bring a blanket/pillow for snuggling. Pizza, popcorn, beverages, and other snacks will be available for purchase, with profits benefiting our schools. Questions? Contact Kathy Owens at <a href="mailto:kmann@umich.edu" rel="noreferrer">kmann@umich.edu</a>.</p>
<hr />
<p><strong>Goodbye to Mrs. Burns </strong>&mdash; After 26 years with Ann Arbor Public Schools, P. E. teacher Jackie Burns will be retiring at the end of this month. We want to thank our friend and colleague for her commitment &amp; dedication to our students and to our school community. Mrs. Burns will be deeply missed! We wish her well as she and her family relocate and begin enjoying the next chapter of their lives.</p>
<hr />
<p><strong>The Bryant/Pattengill PTO website has a new look!</strong> Thanks to parent <a title="Marc Mojica" href="/about/board-members/marc-mojica/">Marc Mojica</a>, our PTO has a new website: <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a>. All current communications, like Thursday Notes, will be posted on the website, as well as stories highlighting our students and staff:</p>
<ul>
    <li>Read Bryant's Vocal Music Teacher Mrs. Krohn's story of thanks <a href="/2014/10/07/bryant-music-teacher-amazed-by-supportive-community/" target="_blank" rel="noreferrer">here</a>.</li>
    <li>Remember when parent Dave Nelson wrote about the <a href="/2014/10/13/a-whale-of-a-project-in-a-bryant-classroom/" target="_blank" rel="noreferrer">"whale project"</a> in the Ann Arbor Chronicle?</li>
</ul>
<p>The new website is a first step as we look to rebrand our image and promote our school community. Interested in helping out? We need you! We are looking for "artistic types" to help document and capture our stories (see the Help Wanted section below). Please contact <a href="mailto:info@bryantpattengill.org" rel="noreferrer">info@bryantpattengill.org</a> if you are willing to share your talents. And don't forget to "like" us on <a href="http://facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">Facebook</a> and follow us on <a href="http://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">Twitter</a>!</p>
<hr />
<p><strong>Looking for Bryant/Pattengill grads!</strong> Know a former Bryant Tiger or Pattengill Puma who attends U of M or Michigan State? We are looking to showcase our local success stories on our new PTO website. If you know of someone who might be profiled, please e-mail <a href="mailto:info@bryantpattengill.org" rel="noreferrer">info@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Pasta for Pennies: </strong>The Bryant Student Council is conducting Olive Garden's <em>Pasta for Pennies</em>, a spare change drive to benefit the mission of The Leukemia &amp; Lymphoma Society (LLS): to find cures and ensure access to treatments for blood cancer patients. Spare change can be sent in with your student now through <strong>October 24</strong>. The class that raises the most change will receive a pasta lunch, courtesy of Olive Garden. <strong><em>Please note:</em></strong> There will also be a donation box in the Pattengill office for any "Pattengill only" families who wish to donate to this cause.</p>
<hr />
<p><strong>Bryant and Pattengill are NO-NUT buildings:</strong> Please remember that Bryant/Pattengill has a <strong>NO-NUT policy</strong>. Several students enrolled in our schools have severe, LIFE-THREATENING ALLERGIES to peanuts and/or tree nuts. Students, staff, parents, and visitors must not bring <strong>anything</strong> into the buildings that contains peanuts, tree nuts, nut products, or was manufactured in a facility that has exposure to peanuts, tree nuts, or nut products. Please read all ingredient labels before sending food items to school. Thank you for helping make our schools safe learning environments for all of our students.</p>
<hr />
<p><strong>Box Tops for Education due October 24:</strong> Bryant/Pattengill is again participating in the <a href="http://www.boxtops4education.com/" target="_blank" rel="noreferrer">Box Tops for Education</a> and <a href="http://www.labelsforeducation.com/" target="_blank" rel="noreferrer">Labels for Education</a> programs as a simple way to raise money for our schools. The "coupons" are found on many products you already buy or have in your home: check out a complete list of <a href="http://www.boxtops4education.com/participating-products" target="_blank" rel="noreferrer">Box Top products</a>, and <a href="http://www.labelsforeducation.com/Earn-Points/Participating-Products" target="_blank" rel="noreferrer">Labels for Education products</a>. Encourage family and friends to clip and save these coupons for our schools, as well! Black collection boxes are located outside each of the school offices. You may turn in your clipped coupons anytime during the school year, but there are only two times per year when we receive payment for our Box Top submissions. The first deadline is <strong>Friday, October 24</strong>. During each of the last two school years, these coupons have earned over $2,000 for our PTO! Thank you for the great support we've had with this program - every little bit you bring in helps the schools! Questions? Contact Michelle Muckstadt at <a href="mailto:andymich@comcast.net" rel="noreferrer">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Restaurant Day (Great) News:</strong> Thanks to you, we raised a Restaurant Day record <strong>$450.96</strong> at Buffalo Wild Wings in October! We appreciate your support and thank the Tiger soccer teams who came out to dine together for a great cause. Mark your calendar now for our next fundraiser: <strong>Monday, November 17 at Elevation Burger</strong> (3365 Washtenaw Ave., Ann Arbor). Show this flyer <em>(link bad: will try to fix soon)</em>, and enjoy lunch, dinner, or take out with family, friends, co-workers, or teammates from 11am-9pm on Nov. 17. Elevation Burger, which is owned by parents in our B/P community, will donate a Restaurant Day-record 25% from proceeds to our PTO for every flyer received from people who buy 100% organic grass-fed burgers, vegetarian and vegan burgers, fresh-cut fries cooked in olive oil, thick hand-scooped milk shakes, and more. Questions? Contact Larry Lage at <a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<hr />
<p><strong>Bryant Picture Day Thanks: </strong>Thank you to Dana Stoica and Kelly Pomorski for your assistance with Picture Day at Bryant. You helped the day run smoothly! The Bryant staff and PTO appreciate your help.</p>
<hr />
<p><strong>You're invited to the AAPS PTO Council's Annual Launch Party: Election Edition &mdash;</strong> All AAPS parents are invited to enjoy a buffet by Chartwells, mix and mingle with AAPS administrators, and stay for the main event, a <strong>Board of Education Candidate forum </strong>moderated by the Ann Arbor Chronicle's Dave Askins. This is a great opportunity to become informed before the November election when four seats of the seven person board are being contested. The Launch Party will be held on <strong>Monday,</strong> <strong>October 20, 6:30-9:00pm at Haisley Elementary</strong>, 825 Duncan Street, Ann Arbor. To attend, <a href="mailto:ptoc.correspondence@gmail.com" rel="noreferrer">RSVP here</a> today.</p>
<hr />
<p><strong>Want to learn more about the possible annexation of Whitmore Lake Public Schools?</strong> All families are encouraged to attend one of the community forums on this issue: <strong>Tuesday, Oct. 21 at 6:30pm</strong> at Huron High School cafeteria, or <strong>Thursday, Oct. 23 at 6:30pm</strong> at Pioneer High School cafeteria annex. Read the <a href="http://www.aaps.k12.mi.us/aaps/whitmore_lake_annexation" target="_blank" rel="noreferrer">FAQ's and the latest updates</a>, to make sure you are a well-informed voter on November 4, as we elect our Board of Ed trustees and choose our path on WLPS annexation.</p>
<hr />
<p><strong>Help Wanted: Bryant/Pattengill volunteer opportunities at-a-glance</strong></p>
<p><strong>Your child spends over 1,100 hours in school each year. Can you give back 11 hours in service to your child's school?</strong></p>
<ul>
    <li><strong>Graphic designers, writers/editors, photographers, and other "creative types" </strong>are needed to help capture Bryant/Pattengill stories on our new PTO website. Contact <a href="mailto:info@bryantpattengill.org" rel="noreferrer">info@bryantpattengill.org</a> to share your talents.</li>
    <li><strong>3 volunteers needed to assist with re-shelving books</strong> in the Bryant library for about 30 minutes once a week, throughout the school year. Volunteers can pick day/time that works best for them. Contact Bryant Media Center Specialist Ms. Idzikowski at <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a> to help.</li>
</ul>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Pattengill Curriculum Night Survey -</strong> If you attended Pattengill's Curriculum Night in September, please take a moment to complete this brief survey. Thank you!</p>
<hr />
<p><strong>Attention Grocery Shoppers!</strong> Did you know you can earn money for our schools simply by doing your grocery shopping? Participating stores include:<strong> Busch's, Kroger, Hiller's, Meijer, Target, GFS Marketplace, </strong>and <strong>The Produce Station. </strong>Even if you shop at a particular store infrequently, please sign up to participate in that store's Scrip program - small amounts add up! For more information, click here <em>(link bad: will try to fix soon)</em>. Happy shopping! Questions? Contact Alicia Davis at <a href="mailto:alicia972@hotmail.com" rel="noreferrer">alicia972@hotmail.com</a>.</p>
<hr />
<p><strong>Help us provide families with warm clothing this winter!</strong> This year we will be holding two clothing drives (Fall and Spring) instead of the ongoing Clothes Closet. We are currently accepting CLEAN, gently used pants, sweatshirts, coats, boots, gloves, hats, etc. of all sizes. Donation boxes are located at both schools: Bryant &mdash; black bin by the gym, and Pattengill &mdash; box located between the art room and the main office. Questions? Contact: Charlita Daniels at <a href="mailto:dancharl@umich.edu" rel="noreferrer">dancharl@umich.edu</a> or <a title="Kelly Pomorski" href="/about/board-members/kelly-pomorski/">Kelly Pomorski</a>.</p>
<hr />
<p><strong>Please check out the Ann Arbor PTO Thrift Shop</strong>: Located at 2280 S. Industrial Hwy., the Thrift Shop supports our schools and students. <a href="file://localhost/file/d/0B3xnxm1JyoZEQnFLYTFieU1lVzQ/view" target="_blank" rel="noreferrer">SHOP, DONATE, and SUPPORT AAPS!</a></p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>October</strong></p>
<ul>
    <li>Fri. Oct. 17: Family Movie Night, "Frozen," Bryant Gym, 5:30-8:00pm</li>
    <li>Wed. Oct. 22: Cider &amp; Donuts with the Principals, 9-10am, Dan and Ruth Hamstra's home: 3964 Highlander Way West, Ann Arbor, 48108, (734) 657-5144</li>
    <li>Fri. Oct. 24: "Pennies for Pasta" Spare Change Drive Donations Due</li>
    <li>Fri. Oct. 24: "Box Tops for Education" Coupons Due</li>
</ul>
<p><strong>November</strong></p>
<ul>
    <li>Tues. Nov. 4: Election Day - No School for Students</li>
    <li>Wed. Nov. 5 - Fri. Nov. 7: Fifth Grade Camp</li>
    <li>Wed. Nov. 12: Bryant Picture Retakes</li>
    <li>Thurs. Nov. 13: Pattengill Picture Retakes</li>
    <li>Thurs. Nov. 13: PTO Executive Board Meeting, Pattengill Media Center, 7-8pm</li>
    <li>Fri. Nov. 14: Charleston Wraps Pick Up</li>
    <li>Mon. Nov. 17: Restaurant Day at Elevation Burger, 11am-9pm, 3365 Washtenaw Ave., Ann Arbor</li>
    <li>Mon. Nov. 24: Report Cards Go Home</li>
    <li>Wed. Nov. 26 - Fri. Nov. 28: Thanksgiving Break - No School for Students</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="http://facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="http://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>