@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<h6>In This Issue:</h6>
<ul>
    <li><strong><span style="color: #339966">Bryant Field Day <span class="aBn"><span class="aQJ">This Friday</span></span></span></strong></li>
    <li><strong><span style="color: #339966"> Come To The Last Restaurant Day- Bob Evans</span></strong></li>
    <li><strong><span style="color: #339966">Pattengill Field Day is right around the corner!</span></strong></li>
</ul>
<h6>Reminders:</h6>
<ul>
    <li><strong><span style="color: #339966">Parent Lending Library</span></strong></li>
    <li><strong><span style="color: #339966">Bryant Library End-of-Year/Summer Information</span></strong></li>
    <li><strong><span style="color: #339966">Visit the Ann Arbor PTO Thrift Shop</span></strong></li>
</ul>
<h6>Mark Your Calendars</h6>
<h6>Stay Connected</h6>
<p>&nbsp;</p>
<hr />
<h6>In This Issue</h6>
<p dir="ltr"><strong><span style="color: #339966"> Bryant Field Day <span class="aBn"><span class="aQJ">This Friday</span></span>!</span> </strong>Bryant Field Day is <span class="aBn"><span class="aQJ">this Friday</span></span>. Please make sure your student brings a water bottle and sunscreen as the weather looks sunny and warm. Still want to volunteer?  Please Sign up here: <a href="http://www.signupgenius.com/go/8050f4baca82ca75-bryant" target="_blank">http://www.signupgenius.com/go/8050f4baca82ca75-bryant</a>. Email Kathy Owens with any questions: <a href="mailto:kmann@umich.edu" target="_blank">kmann@umich.edu</a></p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Come To The Last Restaurant Day- Bob Evans:</span></strong> Come on out to the last restaurant day of the 2015-2016 schools year. We will be dining at Bob Evans on Ann Arbor-Saline Rd., <span class="aBn"><span class="aQJ">Thursday June 9, 2016</span></span>. It is an all day event from <span class="aBn"><span class="aQJ">7am-9pm</span></span> and you must present  <a href="https://drive.google.com/file/d/0B-_iHxypfI5bQzAxaHJVSUUzVk0/view?usp=sharing" target="_blank">attached</a> flyer for the Bryant Pattengill PTO to receive 15% of your total order.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Pattengill Field Day is right around the corner!</span></strong> It will be held <span class="aBn"><span class="aQJ">Friday</span></span> afternoon, <span class="aBn"><span class="aQJ">June 10th</span></span>, from <span class="aBn"><span class="aQJ">1:15pm-3:30pm</span></span>. We've got some exciting new games and stations planned for the kids, along with a few of the kids' favorites! We are still in need of a few additional volunteers to help at field day, both for set-up and during the afternoon. If you are able to help out, and have not already been in touch with me, please contact Shannon Kotre at <a href="mailto:sskotre@hotmail.com" target="_blank">sskotre@hotmail.com</a> .</p>
<hr />
<h6> Reminders</h6>
<p dir="ltr"><strong><span style="color: #339966"> Parent Lending Library:</span> </strong>Bryant/Pattengill Parents, Thank you for using the parent lending library books. Please return all books with purple binding on them by <span class="aBn"><span class="aQJ">Friday, June 10</span></span>. All books can be returned to your child's teacher or dropped off at the office. Any questions or concerns, please contact Mrs. Lim at <a href="mailto:lims@aaps.k12.mi.us" target="_blank">lims@aaps.k12.mi.us</a>.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Bryant Library End-of-Year/Summer Information:</span></strong> <span class="aBn"><span class="aQJ">TOMORROW</span></span> is the final due date for all library materials. We need all library books returned as soon as possible. Please conduct searches at home or in the classroom. I know parents and students don't like to receive overdue notices and bills. Please help kids find and return books as best you can. If you find a lost book after paying for it before the end of the year, or if it is found at school, we will happily refund your money. If your child's book isn't found by May 29, please send cash in a sealed envelope marked with your child's name and Library, or a check payable to Bryant Elementary for its replacement cost. If you feel certain that a book made it back to the library, please let me know. To inquire about the cost of a lost book, or other questions, please contact 997-1212 or email Mrs. Rohde: <a href="mailto:rohdem@aaps.k12.mi.us" target="_blank">rohdem@aaps.k12.mi.us.</a> Bryant will have summer checkout available again this year! Watch for information coming home in Thursday Notes and in backpack mail about details, dates, and times. Reading over the summer is the best thing students can do to be ready for school next year.</p>
<hr />
<p dir="ltr"><strong><span style="color: #339966">Visit the Ann Arbor PTO Thrift Shop:</span> </strong>Located at 2280 S. Industrial Hwy., the PTO Thrift Shop supports our schools and students.<a href="http://a2ptothriftshop.org/" target="_blank"> Shop, donate, and support AAPS</a>!</p>
<hr />
<p dir="ltr"> Mark Your Calendars</p>
<p dir="ltr">To view the full 2015-2016 school year, select:<a href="https://docs.google.com/document/d/1DrLAXyhGx9m1JpxixIbLaq4nc4FaDVS-owHc0VgO5o8/edit?usp=sharing" target="_blank"> Bryant/Pattengill PTO Calendar</a></p>
<p dir="ltr">
<p dir="ltr"><strong>June</strong></p>
<ul>
    <li>
        <p dir="ltr">Fri, Jun 3: Bryant Field Day (Raindate: <span class="aBn"><span class="aQJ">Monday, June 6</span></span>), <span class="aBn"><span class="aQJ">1:45 - 3:15pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Tues, Jun 7</span></span>: PTO Executive Board Meeting, Bryant Media Center, <span class="aBn"><span class="aQJ">6pm - 7:30pm</span></span></p>
    </li>
    <li>
        <p dir="ltr"><span class="aBn"><span class="aQJ">Fri, Jun 10</span></span>: Pattengill Field Day (Raindate: <span class="aBn"><span class="aQJ">Monday, June 13</span></span>), <span class="aBn"><span class="aQJ">1:15 - 3:15pm</span></span></p>
    </li>
    <li>
        <p dir="ltr">
            <span class="aBn"><span class="aQJ">Thurs, Jun 16</span></span>: 2nd Grade Recognition Ceremony &amp; "Clap Out," Bryant Gym- <span class="aBn"><span class="aQJ">9:30am</span></span> (Families Welcome)<br />
            <span class="aBn"><span class="aQJ">2pm</span></span>&mdash; 5th Grade Promotion Ceremony, Pattengill Cafeteria (Families Welcome)
        </p>
    </li>
    <li>
        <p dir="ltr">
            <span class="aBn"><span class="aQJ">Fri, Jun 17</span></span> : Flag Ceremony &amp; "Clap Out," Pattengill (Families Welcome) &mdash; <span class="aBn"><span class="aQJ">9am</span></span><br />
            Last Day of School, 1/2 Day (Release Time: <span class="aBn"><span class="aQJ">12:02pm</span></span>&mdash; NOTE CORRECTION)<br />
            Report Cards Go Home
        </p>
    </li>
</ul>
<hr />
<h6>Stay Connected</h6>
<ul>
    <li>PTO Website:<a href="http://www.bryantpattengill.org" target="_blank"> www.bryantpattengill.org</a></li>
    <li>PTO on Facebook:<a href="https://www.facebook.com/BryantPattengillPTO" target="_blank"> BryantPattengillPTO</a></li>
    <li>PTO on Twitter:<a href="https://twitter.com/a2brypatpto" target="_blank">@@A2BryPatPTO</a></li>
    <li>Bryant Website:<a href="http://www.a2schools.org/bryant" target="_blank"> www.a2schools.org/bryant</a></li>
    <li>Pattengill Website:<a href="http://www.a2schools.org/pattengill" target="_blank"> www.a2schools.org/pattengill</a></li>
</ul>
<hr />
<p dir="ltr"><strong> Submissions for Thursday Notes should be e-mailed to</strong> <a href="mailto:ThursdayNotes@bryantpattengill.org" target="_blank">ThursdayNotes@bryantpattengill.org</a>.</p>
<p dir="ltr"><strong>**Deadline is <span class="aBn"><span class="aQJ">Tuesday</span></span> at <span class="aBn"><span class="aQJ">5pm</span></span> each week.**</strong></p>
<hr />
<p><img class="CToWUd a6T" src="https://lh5.googleusercontent.com/t6iycuYZxeM4QsKkkEk9KCXk3nccbAV3nAEteKIx7ACtE2798KrpxLURJ-U5ypORUqADUJfzWr6WHUr3vvEzH-I2DHfekWLpARIVs8SMzCYpJj4IWYf_bq_LYLa2eKzT8LLoqRXI" alt="2015-16 A2PTO Email PROMO.color photo.png" width="195" height="273" pagespeed_url_hash="4119738450"  /></p>