﻿@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }

<p><strong>In this Issue</strong></p>
<ul>
    <li>Bryant Principal's Letter</li>
    <li>PTO General Meeting Information</li>
    <li>PTO Bylaws Amendment Update</li>
    <li>Movie Night Update</li>
    <li>Clothes Closet Bulletin</li>
    <li>Grocery Store Scrip Program</li>
</ul>
<p><strong>Reminders</strong></p>
<ul>
    <li>Charleston Wrap Fundraiser Update</li>
    <li>Bryant Marquee Volunteer Needed</li>
    <li>PTO Thrift Shop Update</li>
    <li>Upcoming Dates to Remember</li>
</ul>
<p><span id="more-123"></span></p>
<hr />
<p><strong>In this Issue</strong></p>
<p><strong>Bryant's Letter From The Principal is ready to read! </strong></p>
<p>
    Please take the time to open Mrs. Heyward's monthly update to<br />
    discover what's happening in your school:<br />
    <a href="https://docs.google.com/document/d/1PHvwGaotZUZDHHZMRC-2euwFqTzZ-a6vN2QB4GXxpCM/edit" target="_blank">https://docs.google.com/document/d/1PHvwGaotZUZDHHZMRC-2euwFqTzZ-a6vN2QB4GXxpCM/edit</a>
</p>
<hr />
<p><strong>You're invited! PTO General Meeting on 10/2</strong></p>
<p>Mark your calendar for the first Bryant/Pattengill Parent-Teacher Organization (PTO) General Meeting of the new school year: Thursday, October 2 in the Bryant Multipurpose Room from 7:30-8:30pm. Childcare is available. As a parent or guardian of a Bryant/Pattengill student, you are already a member of the PTO. Enhance your child's educational experience by getting involved in the PTO and learning how you can contribute to our school community.</p>
<hr />
<p><strong>Notice of PTO Bylaws Amendment</strong></p>
<p>The Bryant/Pattengill PTO Bylaws state in Articles 12.7 and 13.5 that our PTO is a tax-exempt organization under 501(c)(4) of the Internal Revenue Code of 1986. This is a misprint. The B/P PTO is correctly registered as a tax-exempt organization under 501(c)(3) of the Internal Revenue Code of 1986. The B/P PTO will be proposing to amend these bylaws with the correct information at the upcoming PTO general meeting on Thursday, October 2, 2014 at 7:30pm. If you have any questions about this correction and subsequent amendments, please contact <a title="Deborah Paul-McDonald" href="/about/board-members/deborah-paul-mcdonald/" target="_blank">Deborah Paul-McDonald</a>, or <a title="Lisa Treat" href="http://bryantpattengill.org/about/board-members/lisa-treat/" target="_blank">Lisa Treat</a> by October 2, 2014. See complete PTO Bylaws <a title="Bylaws" href="http://bryantpattengill.org/about/bylaws/" target="_blank">here</a>.</p>
<hr />
<p><strong>Movie Night is Coming! </strong></p>
<p>Movie night will be on Friday, October 17 from 5:30 &#8211; 8:00 pm. Please note: A parent or legal guardian (age 18 or older) must stay with the student; kids cannot be dropped off. Any child showing up without a parent or legal guardian will be turned away. This is a FREE event! Pizza, popcorn, beverages, and other snacks will be available for purchase. All profits go towards enrichment of the students. Please see attached flyer for more information. If you have any questions or would like to volunteer for this event, please contact Kathy Owens at <a href="mailto:kmann@umich.edu" target="_blank">kmann@umich.edu</a>.</p>
<p>You may also sign-up via <a href="https://docs.google.com/a/umich.edu/spreadsheet/ccc?key=0AmPu12BRCo3TdEJOOWtGdEYyaWR1Q3ppNnJKeDRya3c&amp;usp=drive_web#gid=6" target="_blank">https://docs.google.com/a/umich.edu/spreadsheet/ccc?key=0AmPu12BRCo3TdEJOOWtGdEYyaWR1Q3ppNnJKeDRya3c&amp;usp=drive_web#gid=6</a>.</p>
<p>This fun event requires lots of helping hands in order to keep our kids safe!</p>
<hr />
<p><strong>Clothes Closet Bulletin</strong></p>
<p>Bryant Pattengill parents and guardians the clothes closet is accepting donations once again. We are only having a two-week drive this year so please send in old coats, jeans, sweatshirts, gloves and hats. We have donation boxes set up at both schools; at Bryant there is a black bin by the gym and in Pattengill there is a box between the art room and the main office. For more information please contact <a title="Kelly Pomorski" href="/about/board-members/kelly-pomorski/">Kelly Pomorski</a>.</p>
<hr />
<p><strong>Attention Grocery Shoppers! </strong></p>
<p>Each year Bryant/Pattengill families raise money for our schools simply by shopping at grocery stores and purchasing the things they normally would buy. In the attached flyer, you will find instructions on how you, too, can help raise money for Bryant/Pattengill by shopping at <strong>Busch&#8217;s, Kroger, Hiller&#8217;s, Meijer, GFS Marketplace, or The Produce Station</strong>. Even if you shop at a particular store infrequently, please sign up to participate in that store's scrip program; small amounts add up! If you have any questions, please do not hesitate to contact the Bryant/Pattengill Grocery Scrip Coordinator, Alicia Davis, at <a href="mailto:alicia972@hotmail.com">alicia972@hotmail.com</a>. Thanks for your participation!</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Charleston Wrap Fundraiser</strong></p>
<p>It is fall fundraiser time! Your child should have brought home the Charleston Wrap fundraising packet (if not, please look for it in his/her backpack). Charleston Wrap has lots of great items for sale including wrapping paper, chocolates, cookware, and many household items. The Bryant/Pattengill PTO receives 30-40% of the sales, which is a primary source of funding for field trips and school enrichment activities. All families are encouraged to participate. Get your holiday shopping done early and help our schools!</p>
<ul>
    <li><strong>All orders AND money are due Monday, October 6, 2014.</strong></li>
    <li>Checks should be made payable to: Bryant/Pattengill PTO, do not collect sales tax.</li>
    <li>Online orders will be shipped directly to the purchaser's home.</li>
    <li>Orders from the order forms &amp; incentives will be delivered to Bryant &amp; Pattengill in November.</li>
</ul>
<p>Please note that all <strong>personalized items must be ordered online</strong>, any personalized items ordered on the paper order forms will not be fulfilled. Questions about Charleston Wrap? Contact: Anne Berens, <a href="mailto:berensfam@gmail.com">berensfam@gmail.com</a>, 395-3020 (cell).</p>
<hr />
<p><strong>Do you have 30 minutes a week to help out Bryant School? We need you! </strong></p>
<p>The marquee sign in front of Bryant needs to be changed every week or so to promote upcoming events throughout the school year. This takes 30 minutes a week at most and is a great way to volunteer at your child&#8217;s school! Interested? Contact <a title="Carmen Andrianopoulos" href="/about/board-members/carmen-andrianopoulos/">Carmen Atkins</a>, VP for Bryant, Bryant/Pattengill PTO.</p>
<hr />
<p><strong>SHOW YOUR SUPPORT for Bryant/Pattengill</strong> this week at the Ann Arbor PTO Thrift Shop, 2280 S. Industrial Hwy. The funds earned for Bryant/Pattengill will help to ensure that ALL Fifth Graders are able to participate in the camp experience. Spread the word to friends and family and let's SHOW OUR SUPPORT for our school!</p>
<p><a href="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg"><img data-attachment-id="78" data-permalink="/2014/09/25/bryantpattengill-thursday-notes-3/a2pto_1-1_current_0114/" data-orig-file="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?fit=947%2C1500&amp;ssl=1" data-orig-size="947,1500" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;A2PTO_1-1_current_0114&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="Ann Arbor PTO Thrift Shop" data-image-description="" data-medium-file="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?fit=189%2C300&amp;ssl=1" data-large-file="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?fit=474%2C751&amp;ssl=1" class="alignnone size-large wp-image-78" src="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3-646x1024.jpg?resize=474%2C751" alt="Ann Arbor PTO Thrift Shop" srcset="/wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?resize=646%2C1024&amp;ssl=1 646w, /wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?resize=189%2C300&amp;ssl=1 189w, /wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?resize=768%2C1216&amp;ssl=1 768w, /wp-content/uploads/2014/09/2013-14-A2PTO-Promo-3.jpg?w=947&amp;ssl=1 947w" sizes="(max-width: 474px) 100vw, 474px" data-recalc-dims="1" pagespeed_url_hash="3659581411" /></a></p>
<hr />
<p><strong>Upcoming Dates to Remember</strong></p>
<p><strong>October</strong></p>
<ul>
    <li>Wed. Oct. 1 Student Count Day</li>
    <li>Wed. Oct. 1 Restaurant Day at Buffalo Wild Wings on Boardwalk Drive</li>
    <li>Thurs. Oct. 2 Pattengill Picture Day</li>
    <li>Thurs. Oct. 2 School Improvement Team (SIT) Meeting, Bryant 4:15 – 5:30 p.m.</li>
    <li>Thurs. Oct. 2 PTO Executive Board Meeting, Bryant Media Center 6:15 – 7:15 p.m.</li>
    <li>Thurs. Oct. 2 PTO General Meeting, Bryant Multipurpose Room 7:30 – 8:30 p.m.</li>
    <li>Fri. Oct. 17 Family Movie Night, Bryant Gym 5:30 – 8:00 p.m.</li>
    <li>Wed. Oct. 22 Cider and Donuts with the Principals, Location TBD 9 – 10 a.m.</li>
</ul>
<p><strong>November</strong></p>
<ul>
    <li>Tues. Nov. 4 Election Day – No School</li>
    <li>Wed. Nov. 5 – Fri. Nov. 7 Fifth Grade Camp</li>
    <li>Wed. Nov. 12 Bryant Picture Retakes</li>
    <li>Thurs. Nov. 13 Pattengill Picture Retakes</li>
    <li>Thurs. Nov. 13 PTO Executive Board Meeting in the Pattengill Media Center</li>
    <li>Fri. Nov. 14 Charleston Wraps Pick Up</li>
    <li>Tues. Nov. 25 Report Cards Go Home</li>
    <li>Wed. Nov. 26 – Fri. Nov. 28 Thanksgiving Break – No School</li>
</ul>
<hr />
<p><strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home" target="_blank">a2schools.org/bryantpattengill.home/home </a></p>
<p><strong>Bryant/Pattengill Facebook Page:</strong> <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank">https://www.facebook.com/BryantPattengillPTO</a></p>
<p><strong>Submissions for Thursday Notes</strong> should be emailed to <a href="mailto:brypatnotes@gmail.com" target="_blank">brypatnotes@gmail.com</a>. Deadline is Tuesday, 5pm each week</p>