@{ await Html.RenderPartialAsync("_ThursdayNotesHeader"); }
<p><strong>In this issue:</strong></p>
<ul>
    <li>B/P International Festival TONIGHT</li>
    <li>Restaurant Day: April 26</li>
    <li>Kindergarten Music Informances</li>
    <li>Reading Workshop</li>
    <li>An Evening of Music with the Music Teachers of AAPS</li>
    <li>PTO Board Nominations</li>
</ul>
<p><strong>Volunteer Opportunities:</strong></p>
<ul>
    <li>Fifth Grade Promotion Ceremony</li>
    <li>Ice Cream Social Prizes Needed</li>
    <li>Field Day at Bryant</li>
</ul>
<p><strong>Reminders:</strong></p>
<ul>
    <li>Ice Cream Social: Family Donation Drive</li>
    <li>Disney's The Little Mermaid at Pioneer High School</li>
    <li>Free Parenting Workshops</li>
    <li>Spring Great Lake Scrip</li>
    <li>Bond Proposal Community Meetings</li>
</ul>
<p><strong>In this issue</strong></p>
<p><span id="more-1354"></span></p>
<p><strong>Bryant/Pattengill International Festival TONIGHT:</strong> Join us <strong>tonight,</strong> <strong>Thursday, April 23, 6-7:30pm at Bryant</strong> for the best International Festival in the district! Sample delicious food from around the world, and take in the annual International Festival fashion show. Adults must accompany students to the Festival, and must serve food on their child's plate to prevent allergic reactions. Food will be labeled with its country of origin, and all ingredients (Bryant is a no-nut school). To support our schools, please consider purchasing a Festival T-shirt ($10) and/or raffle tickets for great prizes ($1 each, or 6 for $5, or 12 for $10). <strong>The first 100 people to buy $10 worth of raffle tickets will get a free gift from Galleria Market. </strong>We'll see you tonight for lots of international fun!</p>
<hr />
<p><strong>Restaurant Day Is Sunday:</strong> Grab some friends and family, and get some good food for a good cause! April's Restaurant Day is at <strong>Buffalo Wild Wings near the Briarwood Mall (3150 Boardwalk Dr.) on</strong> <strong>Sunday, April 26</strong>. Present the attached flyer, and Buffalo Wild Wings will donate 20% of your bill to our schools. This applies to lunch, dinner, takeout, and catering. Questions? Contact Larry Lage at:<a href="mailto:larrylage@yahoo.com" rel="noreferrer">larrylage@yahoo.com</a>.</p>
<p><a href="/wp-content/uploads/2015/04/BWs-Restaurant-Day-4.26.pdf">Buffalo Wild Wings flyer</a></p>
<hr />
<p><strong>Kindergarten Music Informances: </strong>The Bryant Kindergarteners have been busy this school year singing, chanting, playing instruments, and dancing in the music classroom! During the <strong>week of April 27</strong>, we will be presenting "informances" for our Kindergarten families and friends. An informance is an <em>informative </em>and <em>informal </em>way for our students to share their music-making, and help parents better understand how our students learn music. We hope you will join us for this fun, informative, and musical experience! <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEVlNhR0RhOGlXeFlwRkRlT0dqVnVKMzBLUFJ3/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for the date and time of the informance for each Kindergarten class. Questions? Contact Kelly Krohn, Bryant Vocal Music Teacher, at: <a href="mailto:krohnk@aaps.k12.mi.us" rel="noreferrer">krohnk@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Reading Workshop:</strong> Join Bryant Media Specialist Mrs. Idzikowski at the Bryant Library on <strong>Tuesday, April 28, 6:30-7:30pm</strong> to learn about the importance of reading aloud, booktalks, and a chance to check out our new books. Thanks to a grant from the Ann Arbor Educational Foundation, the Bryant Library has a hundred new chapter books, specially selected for children and families to read and discover together. Pattengill parents and students are welcome to attend, too! Questions? Contact Mrs. Idzikowski at <a href="mailto:idzikows@aaps.k12.mi.us" rel="noreferrer">idzikows@aaps.k12.mi.us</a>.</p>
<p><a href="/wp-content/uploads/2015/04/Reading-Workshop.pdf">Reading Workshop</a></p>
<hr />
<p><strong>An Evening of Music with the Music Teachers of AAPS:</strong> You are personally invited to "An Evening of Music" with the music teachers of the Ann Arbor Schools on <strong>Friday, May 1, 7:30pm, at Forsythe Middle School Auditorium </strong>(1655 Newport Rd.). Many AAPS music teachers will share their talents through performances ranging from classical to folk, and Broadway to jazz. I will be singing and playing guitar with a folk trio. Suggested donations are $10/adult and $5/student, and all proceeds will go to the Cooperative Outreach Music Program (COMP), which underwrites the cost of private music instruction to promising students of limited means. I hope you'll come out to enjoy an evening of excellent music - I would love to see Bryant/Pattengill families there! - Kelly Krohn, Bryant Vocal Music Teacher</p>
<hr />
<p><strong>PTO Board Nominations: </strong>The nominations for the 2015-2016 Bryant/Pattengill Parent-Teacher Organization (PTO) Executive Board are:</p>
<ul>
    <li>Co-President: Lisa Treat</li>
    <li>Co-President: Kathy Brady</li>
    <li>Vice President, Bryant: Carmen Atkins</li>
    <li>Vice President, Pattengill: Stephanie Carlson</li>
    <li>Secretary: Ariel Hurwitz-Greene</li>
    <li>Treasurer: Carmen Andrianopoulos</li>
</ul>
<p>Please plan to attend the last general PTO meeting of the school year on <strong>Thursday, May 7, 7:30-8:30pm, at Pattengill</strong> to vote on the 2015-2016 PTO Executive Board.</p>
<hr />
<p><strong>Help Wanted: Volunteer Opportunities</strong></p>
<p><strong>Fifth Grade Promotion Ceremony:</strong> The 5th grade promotion ceremony will take place on <strong>Thursday, June 11 at 2:00pm</strong> in the Pattengill Cafeteria, with the reception in the Gym directly following, around 3:00pm. We need a small group (4-6) of 4th grade parents to serve cookies and juice, so that our 5th grade parents can enjoy the event with their students. If you can make this small but fun commitment, or are interested in joining the planning committee, please contact Jennifer Manning at: <a href="mailto:manningjen@hotmail.com" rel="noreferrer">manningjen@hotmail.com</a> or <a href="file://localhost/tel/734-945-6471" target="_blank" rel="noreferrer">734-945-6471</a>.</p>
<hr />
<p><strong>Ice Cream Social Prizes Needed:</strong> If you or your business are able to donate a prize or experience for the raffle or auction at this year's Ice Cream Social (May 15 at Pattengill), please email <a href="mailto:lmckarns@comcast.net" rel="noreferrer">lmckarns@comcast.net</a>. Your donation will also count as your family donation, too! Many area merchants such as Georgetown Country Club, Colonial Lanes, Ann Arbor Hands-On Museum, Leslie Science and Nature Center, Molly Maid, Applied Fitness Solutions, Knights, Tony Sacco's, Perfectly Posh, A2 Electric, The Detroit Red Wings, Oz's Music, and Zippy Auto Wash are supporting our schools by donating great prizes. We would love to include the businesses you work for or patronize, too! Thank you for considering how you can contribute to this important fundraiser for our schools. Questions? Contact Lisa McKarns at: <a href="mailto:lmckarns@comcast.net" rel="noreferrer">lmckarns@comcast.net</a>or <a href="file://localhost/tel/734-904-3565" target="_blank" rel="noreferrer">734-904-3565</a>.</p>
<hr />
<p><strong>Field Day at Bryant:</strong> We're looking for fun, energetic volunteers for Bryant's Field Day on <strong>Friday, June 5, 1:00-3:00pm</strong> (rain date: June 8). We are also looking for assistance with setup (11:30am arrival), and to coordinate with the gym teacher and assemble the volunteers. If this is you, we would love to have you join us for an exciting day of fun and games! Please contact Carmen Atkins at: <a href="mailto:carmen.atkins@bryantpattengill.org" rel="noreferrer">carmen.atkins@bryantpattengill.org</a>.</p>
<hr />
<p><strong>Reminders</strong></p>
<p><strong>Ice Cream Social: Family Donation Drive - </strong>Thank you to all who've sent in their family donations for the Ice Cream Social! If you haven't done so yet, please help make the B/P Ice Cream Social (on May 15) a success by turning in your donation of $5/family in the drive envelope, which should have come home last Friday. <strong>Cash or check donations will be accepted until May 1. </strong>Please make checks payable to Bryant/Pattengill PTO. These donations will be used to purchase great prizes for the event's raffle, including an iPod Mini. The class in each school with the highest percentage of donations will win an ice cream or popsicle party!</p>
<hr />
<p><strong>Disney's The Little Mermaid at Pioneer High School:</strong> Bring the family and go "Under the Sea" with Ariel, Sebastian, Flounder, and Ursula in this Disney classic on stage at Pioneer! A few Bryant/Pattengill students are in the show, so come support our budding actors. Tickets are now on sale at <a href="http://showtix4u.com/" target="_blank" rel="noreferrer">showtix4u.com</a>. <strong>Performances are held April 25 and 26, and May 1, 2, and 3</strong>. Bryant classes will be attending the show on Tuesday morning, April 28.</p>
<hr />
<p><strong>Free Parenting Workshops:</strong> Bryant/Pattengill school social worker Elizabeth Elster will be hosting two FREE parenting workshops on<strong>Tuesdays, April 28 and May 5 from 4:00-5:30pm at Pattengill</strong>. Ms. Elster will be presenting material from the "1-2-3 Magic Parenting Program" and parents will learn simple techniques to help decrease negative behaviors, increase positive behaviors, and strengthen their relationship with their child. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEOUU3SkRORVFmSEU/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for more details. Questions? Contact Elizabeth Elster at: <a href="mailto:elster@aaps.k12.mi.us" rel="noreferrer">elster@aaps.k12.mi.us</a>.</p>
<hr />
<p><strong>Spring Great Lake Scrip:</strong> There are many local and national retailers through Great Lake Scrip fundraising - there is a gift card for everyone and for every occasion. You can even order gift cards for your own local shopping! A portion of every gift card bought goes to support our schools. Order forms are due back to the school offices by <strong>Wednesday, May 6</strong>. Payment must accompany your order. All orders will be distributed on <strong>Thursday, May 14</strong>. <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEU2s0ZU5BSjF5dnlRT2NMLVJVRENvb2IySTg4/view?usp=sharing" target="_blank" rel="noreferrer">Click here</a> for instructions on how to order online. Thank you! Questions? Contact Shannon Kotre at: <a href="mailto:sskotre@hotmail.com" rel="noreferrer">sskotre@hotmail.com</a> or Michelle Muckstadt at: <a href="mailto:andymich@comcast.net" rel="noreferrer">andymich@comcast.net</a>.</p>
<hr />
<p><strong>Bond Proposal Community Meetings:</strong> Superintendent Jeanice Swift is hosting community meetings to share information about the bond proposal appearing on the May 5 ballot. The meetings begin at 6:30pm: <strong>April 23</strong>: Clague Middle School, <strong>April 30</strong>: Forsythe Middle School. The bond proposal would raise $33 million for capital improvements across the district's 32 buildings, while keeping the millage rate at or below the current 2.45 mills for taxpayers. Improvements in the plan include security upgrades at school entrances, new musical instruments, the replacement of more than 100 buses over five years, and new furniture and other upgrades in classrooms across the district. For an agenda of the community meetings, <a href="https://drive.google.com/file/d/0B3xnxm1JyoZEQ2c0ZWFSWVZ3Y00/view?usp=sharing" target="_blank" rel="noreferrer">click here</a>.</p>
<hr />
<p><strong>Mark Your Calendars</strong></p>
<p><strong>April</strong></p>
<ul>
    <li>Thurs. April 23: International Festival, 6-7:30pm, Bryant</li>
    <li>Sun. April 26: Restaurant Day at Buffalo Wild Wings (3150 Boardwalk Dr.)</li>
    <li>Tues. April 28: Reading Workshop, 6:30-7:30pm, Bryant Library</li>
    <li>Tues. April 28: Third Grade Spring Sing Concert, 7-8pm, Pattengill Cafeteria</li>
</ul>
<p><strong>May</strong></p>
<ul>
    <li>Mon. May 4: NWEA Testing begins for Bryant students</li>
    <li>Mon. May 4: Fifth Grade Instrumental Spring Concert, 1pm and 7pm, Pattengill</li>
    <li>Mon. May 4 - Fri. May 8: Staff Appreciation Week</li>
    <li>Wed. May 6: Second to Third Grade Transition (students), 9:30-11am, Pattengill</li>
    <li>Wed. May 6: Second to Third Grade Transition, Parent Informational Night (childcare provided), 6:30-7:30pm, Pattengill</li>
    <li>Thurs. May 7: School Improvement Team (SIT) Meeting, 4:15-5:30pm, Pattengill</li>
    <li>Thurs. May 7: PTO Executive Board Meeting, 6:15-7:15pm, Pattengill Media Center</li>
    <li>Thurs. May 7: PTO General Meeting, 7:30-8:30pm, Pattengill (ALL families welcome, childcare provided)</li>
    <li>Wed. May 13: Coffee with the Principals, 9-10am, Location TBD</li>
    <li>Fri. May 15: Ice Cream Social, 6:30-8:30pm, Pattengill</li>
    <li>Tues. May 19: Restaurant Day at Tony Sacco's</li>
    <li>Tues. May 19: Second Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Thurs. May 21: First Grade Spring Sing, 7-8pm, Bryant Gym</li>
    <li>Fri. May 22: Pattengill Field Day (Rain date Fri., May 29), 1:15-3:15pm</li>
    <li>Mon. May 25: <strong>Memorial Day - No School for Students</strong></li>
    <li>Sat. May 30: Science Olympiad, Pioneer High School</li>
</ul>
<p><strong>June</strong></p>
<ul>
    <li>Fri. June 5: Bryant Field Day (Rain date Mon., June 8), 1-3pm</li>
    <li>Thurs. June 11: Second Grade Recognition Ceremony &amp; "Clap Out" (families welcome), 9:30am, Bryant</li>
    <li>Thurs. June 11: Fifth Grade Promotion Ceremony (families welcome), 2pm, Pattengill</li>
    <li>Fri. June 12: Flag Ceremony &amp; "Clap Out" (families welcome), 9am, Pattengill</li>
    <li>Fri. June 12: <strong>Last Day of School, Half Day (Release Time: 11:51am)</strong>; Report Cards Go Home</li>
</ul>
<hr />
<p>
    <strong>Bryant/Pattengill Website:</strong> <a href="http://a2schools.org/bryantpattengill.home/home%E2%80%A8" target="_blank" rel="noreferrer">a2schools.org/bryantpattengill.home/home</a><br />
    <strong>PTO Website:</strong> <a href="/" target="_blank" rel="noreferrer">www.bryantpattengill.org</a><br />
    <strong>Bryant/Pattengill Facebook Page: <a href="https://www.facebook.com/BryantPattengillPTO" target="_blank" rel="noreferrer">https://www.facebook.com/BryantPattengillPTO</a></strong><br />
    <strong>Bryant/Pattengill on Twitter: </strong><a href="https://twitter.com/bryantpattengil" target="_blank" rel="noreferrer">https://twitter.com/bryantpattengil</a><br />
    <strong>Submissions for Thursday Notes</strong> should be e-mailed to <a href="mailto:brypatnotes@gmail.com" rel="noreferrer">brypatnotes@gmail.com</a>. Deadline is Tuesday at 5pm each week.
</p>