﻿@model BryantPattengillOrg.Models.HomeIndexViewModel
@using BryantPattengillOrg.Models.Events;

@{
    ViewData["Title"] = "News";
}

<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<h2>Social Media</h2>

<div class="row">
    <div class="col-sm-6 text-center">
        <h3>Follow Us On Twitter</h3>
        <a class="twitter-timeline" data-height="1000" data-theme="light" rel="nofollow" href="https://twitter.com/A2BryPatPTO?ref_src=twsrc%5Etfw">Tweets by A2BryPatPTO</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-sm-6 text-center">
        <h3>Follow Us On Facebook</h3>
        <div class="fb-page" data-href="https://www.facebook.com/BryantPattengillPTO/" data-tabs="timeline" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BryantPattengillPTO/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BryantPattengillPTO/">Bryant/Pattengill PTO</a></blockquote></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Other News Sources</h3>
        <ul>
            <li><a href="http://news.a2schools.org/" rel="nofollow" target="_blank" >AAPS District News</a></li>
            <li><a href="http://www.mlive.com/ann-arbor/" rel="nofollow" target="_blank">Ann Arbor News</a></li>
            <li><a href="http://annarborobserver.com" rel="nofollow" target="_blank">Ann Arbor Observer</a></li>
        </ul>
    </div>
</div>
   
