﻿<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Archived Posts</h1>
       
        <ul>
            <li><a href="/2017/08/28/popsicles-on-the-playground-201718/"><span class="LinkDate">Aug 28, 2017</span>: <span class="LinkTitle">POPSICLES ON THE PLAYGROUND 2017/18</span></a></li>
            <li><a href="/2017/01/09/bryant-pattengill-elementary-super-pair/"><span class="LinkDate">Jan 09, 2017</span>: <span class="LinkTitle">Bryant & Pattengill "Super Pair" Featured in local news</span></a></li>
            <li><a href="/2016/11/03/next-tuesday-revel-roll-fundraiser/"><span class="LinkDate">Nov 03, 2016</span>: <span class="LinkTitle">Next Tuesday: Revel & Roll FUNdraiser</span></a></li>
            <li><a href="/2016/09/14/bryant-curriculum-night-2016-recap/"><span class="LinkDate">Sep 14, 2016</span>: <span class="LinkTitle">Bryant Curriculum Night 2016 Recap</span></a></li>
            <li><a href="/2016/08/23/popsicles-on-the-playground-201617/"><span class="LinkDate">Aug 23, 2016</span>: <span class="LinkTitle">Popsicles on the Playground 2016/17</span></a></li>
            <li><a href="/2016/05/20/ice-cream-social-is-today/"><span class="LinkDate">May 20, 2016</span>: <span class="LinkTitle">Ice Cream Social is Today</span></a></li>
            <li><a href="/2016/05/10/history-of-weso/"><span class="LinkDate">May 10, 2016</span>: <span class="LinkTitle">History of Washtenaw Elementary Science Olympiad</span></a></li>
            <li><a href="/2016/04/01/volunteer-for-international-festival/"><span class="LinkDate">Apr 01, 2016</span>: <span class="LinkTitle">Volunteer for International Festival</span></a></li>
            <li><a href="/2016/03/24/power-outage-early-release/"><span class="LinkDate">Mar 24, 2016</span>: <span class="LinkTitle">Power outage, early release</span></a></li>
            <li><a href="/2016/03/16/tappan-players-presents-annie/"><span class="LinkDate">Mar 16, 2016</span>: <span class="LinkTitle">Tappan Players Presents Annie This Coming Weekend</span></a></li>
            <li><a href="/2016/03/14/tech-night-at-pattengill/"><span class="LinkDate">Mar 14, 2016</span>: <span class="LinkTitle">Tech Night at Pattengill</span></a></li>
            <li><a href="/2016/03/07/great-night-at-the-pattengill-science-fair/"><span class="LinkDate">Mar 07, 2016</span>: <span class="LinkTitle">Great night at the Pattengill Science Fair</span></a></li>
            <li><a href="/2016/03/04/bcsn-8/"><span class="LinkDate">Mar 04, 2016</span>: <span class="LinkTitle">BCSN #8</span></a></li>
            <li><a href="/2016/02/28/read-a-thon-started-friday-are-you-reading/"><span class="LinkDate">Feb 28, 2016</span>: <span class="LinkTitle">Read-A-Thon started Friday! Are you reading?</span></a></li>
            <li><a href="/2016/02/01/spend-some-of-mondays-day-off-for-students-at-bw3s/"><span class="LinkDate">Feb 01, 2016</span>: <span class="LinkTitle">Spend some of Monday's day off for students at BW3s</span></a></li>
            <li><a href="/2015/12/02/snow-angels-needed-2/"><span class="LinkDate">Dec 02, 2015</span>: <span class="LinkTitle">Snow Angels Needed!</span></a></li>
            <li><a href="/2015/11/02/no-school-eat-play-at-chuck-e-cheeses/"><span class="LinkDate">Nov 02, 2015</span>: <span class="LinkTitle">No School: Eat & play at Chuck E. Cheese's</span></a></li>
            <li><a href="/2015/10/21/pizza-with-the-principals/"><span class="LinkDate">Oct 21, 2015</span>: <span class="LinkTitle">Enjoy Pizza with the Principals at 6pm Today</span></a></li>
            <li><a href="/2015/10/16/movie-night/"><span class="LinkDate">Oct 16, 2015</span>: <span class="LinkTitle">Friday is Family Movie Night @@ Bryant</span></a></li>
            <li><a href="/2015/10/13/bp-pto-general-meeting-notes/"><span class="LinkDate">Oct 13, 2015</span>: <span class="LinkTitle">B/P PTO - General Meeting Notes- 10.8.15</span></a></li>
            <li><a href="/2015/10/08/pto-meeting-notes-10-01-15/"><span class="LinkDate">Oct 08, 2015</span>: <span class="LinkTitle">PTO Meeting Notes- 10.01.15</span></a></li>
            <li><a href="/2015/10/06/restaurant-day-at-mi-compadre/"><span class="LinkDate">Oct 06, 2015</span>: <span class="LinkTitle">Today is Restaurant Day at Mi Compadre</span></a></li>
            <li><a href="/2015/10/06/funeral-donations-requested/"><span class="LinkDate">Oct 06, 2015</span>: <span class="LinkTitle">Funeral Donations Requested</span></a></li>
            <li><a href="/2015/09/25/i-love-bryant-school-music-video/"><span class="LinkDate">Sep 25, 2015</span>: <span class="LinkTitle">I Love Bryant School Music Video</span></a></li>
            <li><a href="/2015/09/17/welcome-to-art-at-pattengill/"><span class="LinkDate">Sep 17, 2015</span>: <span class="LinkTitle">Welcome to Art at Pattengill</span></a></li>
            <li><a href="/2015/09/15/after-school-classes/"><span class="LinkDate">Sep 15, 2015</span>: <span class="LinkTitle">Register Online for Learning Fun After School</span></a></li>
            <li><a href="/2015/09/09/pattengill-new-art-teacher/"><span class="LinkDate">Sep 09, 2015</span>: <span class="LinkTitle">Meet Our New Pattengill Art Teacher Mrs. Hendrick</span></a></li>
            <li><a href="/2015/09/08/first-day-of-school/"><span class="LinkDate">Sep 08, 2015</span>: <span class="LinkTitle">First Day of School!</span></a></li>
            <li><a href="/2015/09/03/every-kid-in-a-park/"><span class="LinkDate">Sep 03, 2015</span>: <span class="LinkTitle">4th Graders Receive Free Admission to National Parks & More</span></a></li>
            <li><a href="/2015/09/01/enjoy-popsicles-on-the-playground/"><span class="LinkDate">Sep 01, 2015</span>: <span class="LinkTitle">Enjoy Popsicles on the Playground</span></a></li>
            <li><a href="/2015/06/08/restaurant-day-mi-compadre-today/"><span class="LinkDate">Jun 08, 2015</span>: <span class="LinkTitle">Restaurant Day @@ Mi Compadre Today</span></a></li>
            <li><a href="/2015/06/03/washtenaw-elementary-science-olympiad-competition/"><span class="LinkDate">Jun 03, 2015</span>: <span class="LinkTitle">Washtenaw Elementary Science Olympiad Competition at Pioneer High School</span></a></li>
            <li><a href="/2015/05/26/help-tony-saccos-raise-dough-today-for-bryant-pattengill/"><span class="LinkDate">May 26, 2015</span>: <span class="LinkTitle">Help Tony Sacco's Raise Dough Today for Bryant-Pattengill</span></a></li>
            <li><a href="/2015/05/21/girls-on-the-run-2015/"><span class="LinkDate">May 21, 2015</span>: <span class="LinkTitle">Girls on the Run 2015</span></a></li>
            <li><a href="/2015/05/15/ice-cream-social-tonight-at-pattengill/"><span class="LinkDate">May 15, 2015</span>: <span class="LinkTitle">Ice Cream Social Tonight at Pattengill</span></a></li>
            <li><a href="/2015/05/12/coffee-with-the-principals-wednesday-morning/"><span class="LinkDate">May 12, 2015</span>: <span class="LinkTitle">COFFEE WITH THE PRINCIPALS WEDNESDAY MORNING</span></a></li>
            <li><a href="/2015/05/12/ice-cream-social-this-friday/"><span class="LinkDate">May 12, 2015</span>: <span class="LinkTitle">ICE CREAM SOCIAL THIS FRIDAY!</span></a></li>
            <li><a href="/2015/05/07/deborah-joseph-exceptional-teacher-at-bryant/"><span class="LinkDate">May 07, 2015</span>: <span class="LinkTitle">Deborah Joseph: Exceptional Teacher at Bryant</span></a></li>
            <li><a href="/2015/05/01/bryant-students-recognized-for-positive-behaviors-today/"><span class="LinkDate">May 01, 2015</span>: <span class="LinkTitle">Bryant Students recognized for positive behaviors today</span></a></li>
            <li><a href="/2015/05/01/tonight-an-evening-of-music/"><span class="LinkDate">May 01, 2015</span>: <span class="LinkTitle">TONIGHT: An Evening of Music</span></a></li>
            <li><a href="/2015/04/27/bryants-day-of-service/"><span class="LinkDate">Apr 27, 2015</span>: <span class="LinkTitle">Bryant's Day of Service is Wednesday</span></a></li>
            <li><a href="/2015/04/24/buffalo-wild-wings/"><span class="LinkDate">Apr 24, 2015</span>: <span class="LinkTitle">Restaurant Day @@ Buffalo Wild Wings</span></a></li>
            <li><a href="/2015/04/23/international-festival-success/"><span class="LinkDate">Apr 23, 2015</span>: <span class="LinkTitle">Bryant/Pattengill International Festival Success!</span></a></li>
            <li><a href="/2015/04/22/international-festival-thursday/"><span class="LinkDate">Apr 22, 2015</span>: <span class="LinkTitle">Reminder: International Festival Thursday Night</span></a></li>
            <li><a href="/2015/04/22/earth-day-of-service-canceled/"><span class="LinkDate">Apr 22, 2015</span>: <span class="LinkTitle">Bryant's Earth Day of Service Canceled</span></a></li>
            <li><a href="/2015/04/21/earth-dome-visits-bryant/"><span class="LinkDate">Apr 21, 2015</span>: <span class="LinkTitle">Earth Dome Visits Bryant</span></a></li>
            <li><a href="/2015/04/16/paint-pattengill-room/"><span class="LinkDate">Apr 16, 2015</span>: <span class="LinkTitle">Come help paint the Pattengill conference room</span></a></li>
            <li><a href="/2015/03/31/volunteer-appreciation-tonight/"><span class="LinkDate">Mar 31, 2015</span>: <span class="LinkTitle">Volunteer Appreciation TONIGHT</span></a></li>
            <li><a href="/2015/03/26/lunch-with-loved-ones/"><span class="LinkDate">Mar 26, 2015</span>: <span class="LinkTitle">Lunch with Loved Ones</span></a></li>
            <li><a href="/2015/03/18/wed-and-thurs-meetings/"><span class="LinkDate">Mar 18, 2015</span>: <span class="LinkTitle">Pizza with the Principals Wednesday & Proud Dads Hangout Thursday</span></a></li>
            <li><a href="/2015/03/17/shop-luckys-today/"><span class="LinkDate">Mar 17, 2015</span>: <span class="LinkTitle">Shop Lucky’s Market Tuesday To Benefit Bryant/Pattengill</span></a></li>
            <li><a href="/2015/03/16/senator-rebekah-warren-reads-to-bryant/"><span class="LinkDate">Mar 16, 2015</span>: <span class="LinkTitle">Michigan State Senator Rebekah Warren reads to Bryant Elementary</span></a></li>
            <li><a href="/2015/03/07/eat-barbecue-monday-and-shop-luckys-tuesday/"><span class="LinkDate">Mar 07, 2015</span>: <span class="LinkTitle">Eat Barbecue Monday and Shop Lucky's Tuesday</span></a></li>
            <li><a href="/2015/03/03/pajama-night/"><span class="LinkDate">Mar 03, 2015</span>: <span class="LinkTitle">TONIGHT is Family Reading/Pajama Night!</span></a></li>
            <li><a href="/2015/03/01/read-a-thon-2015/"><span class="LinkDate">Mar 01, 2015</span>: <span class="LinkTitle">READ-A-THON 2015</span></a></li>
            <li><a href="/2015/02/12/kindergarten-round-up-today/"><span class="LinkDate">Feb 12, 2015</span>: <span class="LinkTitle">Kindergarten Round-up Today!</span></a></li>
            <li><a href="/2015/02/08/naapid-parent-involvement-day/"><span class="LinkDate">Feb 08, 2015</span>: <span class="LinkTitle">Monday, Feb 9th: N.A.A.P.I.D/Parent Involvement Day</span></a></li>
            <li><a href="/2015/02/03/school-closed-again-tuesday/"><span class="LinkDate">Feb 03, 2015</span>: <span class="LinkTitle">School Closed Again - Tuesday, February 3, 2015</span></a></li>
            <li><a href="/2015/02/01/school-closed-monday/"><span class="LinkDate">Feb 01, 2015</span>: <span class="LinkTitle">School Closed - Monday, February 2, 2015</span></a></li>
            <li><a href="/2015/01/19/happy-mlk-day/"><span class="LinkDate">Jan 19, 2015</span>: <span class="LinkTitle">Happy MLK Day Bryant/Pattengill families and friends!</span></a></li>
            <li><a href="/2015/01/16/awesome-after-school-classes-available-at-bryant/"><span class="LinkDate">Jan 16, 2015</span>: <span class="LinkTitle">Awesome After School Classes Available at Bryant!</span></a></li>
            <li><a href="/2015/01/14/ipads-for-classrooms-students-in-k-2/"><span class="LinkDate">Jan 14, 2015</span>: <span class="LinkTitle">iPads for classrooms/students in K-2!</span></a></li>
            <li><a href="/2015/01/09/school-closed-today-january-9/"><span class="LinkDate">Jan 09, 2015</span>: <span class="LinkTitle">School Closed Today January 9</span></a></li>
            <li><a href="/2015/01/08/aaps-no-school-today/"><span class="LinkDate">Jan 08, 2015</span>: <span class="LinkTitle">AAPS No School Today, Thursday, Jan. 8</span></a></li>
            <li><a href="/2014/12/16/1st-grade-students-perform-the-nutcracker/"><span class="LinkDate">Dec 16, 2014</span>: <span class="LinkTitle">1st Grade Students Perform "The Nutcracker"</span></a></li>
            <li><a href="/2014/12/16/thank-you-for-your-spirit-of-giving/"><span class="LinkDate">Dec 16, 2014</span>: <span class="LinkTitle">Thank you for your Spirit of Giving!</span></a></li>
            <li><a href="/2014/12/10/book-fair-and-family-math-night-tonight/"><span class="LinkDate">Dec 10, 2014</span>: <span class="LinkTitle">Book Fair & Family Math Night Tonight!</span></a></li>
            <li><a href="/2014/12/09/bryant-elementary-closed-tuesday/"><span class="LinkDate">Dec 09, 2014</span>: <span class="LinkTitle">Bryant Elementary Closed Tuesday</span></a></li>
            <li><a href="/2014/12/05/snow-angels-needed/"><span class="LinkDate">Dec 05, 2014</span>: <span class="LinkTitle">Snow Angels Needed--Pick A Snowman Friday</span></a></li>
            <li><a href="/2014/11/25/happy-thanksgiving-video/"><span class="LinkDate">Nov 25, 2014</span>: <span class="LinkTitle">Special Video Message from Mrs. Cheladyn's 4th Grade Students</span></a></li>
            <li><a href="/2014/11/25/support-our-creativity/"><span class="LinkDate">Nov 25, 2014</span>: <span class="LinkTitle">Support our Creativity</span></a></li>
            <li><a href="/2014/11/21/5th-grade-class-shows-tons-of-spirit/"><span class="LinkDate">Nov 21, 2014</span>: <span class="LinkTitle">5th Grade Class Shows Tons of Spirit</span></a></li>
            <li><a href="/2014/11/17/today-is-restaurant-day-at-elevation-burger/"><span class="LinkDate">Nov 17, 2014</span>: <span class="LinkTitle">TODAY IS RESTAURANT DAY AT ELEVATION BURGER</span></a></li>
            <li><a href="/2014/11/10/pattengill-teacher-honored-at-the-white-house/"><span class="LinkDate">Nov 10, 2014</span>: <span class="LinkTitle">Emily Theriault-Kimmey goes to Washington!</span></a></li>
            <li><a href="/2014/11/05/a-visit-from-the-alphabet/"><span class="LinkDate">Nov 05, 2014</span>: <span class="LinkTitle">A visit from the alphabet!</span></a></li>
            <li><a href="/2014/11/04/enjoying-a-day-of-bowling-fun/"><span class="LinkDate">Nov 04, 2014</span>: <span class="LinkTitle">Enjoying a day of bowling fun</span></a></li>
            <li><a href="/2014/11/03/no-school-november-4th-support-your-school-by-bowling/"><span class="LinkDate">Nov 03, 2014</span>: <span class="LinkTitle">No school November 4th. Support your school! Go bowling!</span></a></li>
            <li><a href="/2014/10/24/the-easiest-way-to-make-bryantpattengill-even-better/"><span class="LinkDate">Oct 24, 2014</span>: <span class="LinkTitle">The easiest way to make Bryant/Pattengill even better!</span></a></li>
            <li><a href="/2014/10/22/stories-laughs-shared-over-delicious-cider-donuts/"><span class="LinkDate">Oct 22, 2014</span>: <span class="LinkTitle">Stories & Laughs Shared Over Delicious Cider & Donuts</span></a></li>
            <li><a href="/2014/10/21/let-your-voice-be-heard/"><span class="LinkDate">Oct 21, 2014</span>: <span class="LinkTitle">Let your voice be heard!</span></a></li>
            <li><a href="/2014/10/20/amazing-video-made-by-pattengill-students/"><span class="LinkDate">Oct 20, 2014</span>: <span class="LinkTitle">You won't believe the video these Pattengill students made</span></a></li>
            <li><a href="/2014/10/18/earn-money-for-bryantpattengill-just-by-shopping-at-target/"><span class="LinkDate">Oct 18, 2014</span>: <span class="LinkTitle">Earn money for Bryant/Pattengill, just by shopping at Target!</span></a></li>
            <li><a href="/2014/10/17/gym-full-of-kids-singing-let-it-go-at-top-of-their-lungs/"><span class="LinkDate">Oct 17, 2014</span>: <span class="LinkTitle">Gym full of kids singing "Let it Go" at top of their lungs</span></a></li>
            <li><a href="/2014/10/17/have-fun-helping-a-family-at-movie-night/"><span class="LinkDate">Oct 17, 2014</span>: <span class="LinkTitle">Have fun helping a family at Movie Night</span></a></li>
            <li><a href="/2014/10/14/help-make-movie-night-amazing/"><span class="LinkDate">Oct 14, 2014</span>: <span class="LinkTitle">Help make movie night amazing!</span></a></li>
            <li><a href="/2014/10/14/no-peanuts/"><span class="LinkDate">Oct 14, 2014</span>: <span class="LinkTitle">Be Mindful of Peanut Allergies</span></a></li>
            <li><a href="/2014/10/13/a-whale-of-a-project-in-a-bryant-classroom/"><span class="LinkDate">Oct 13, 2014</span>: <span class="LinkTitle">A Whale of a project in a Bryant classroom</span></a></li>
            <li><a href="/2014/10/08/restaurant-night-2014-a-success/"><span class="LinkDate">Oct 08, 2014</span>: <span class="LinkTitle">Restaurant Night 2014 Fundraiser A Success</span></a></li>
            <li><a href="/2014/10/07/bryant-music-teacher-amazed-by-supportive-community/"><span class="LinkDate">Oct 07, 2014</span>: <span class="LinkTitle">Bryant Music Teacher Amazed by Supportive Community</span></a></li>
            <li><a href="/2014/10/02/pto-general-meeting/"><span class="LinkDate">Oct 02, 2014</span>: <span class="LinkTitle">PTO General Meeting Tonight</span></a></li>

        </ul>


    </div>
</div>