﻿@model List<BryantPattengillOrg.Models.Events.Event>

<table class="table table-striped">

    @foreach (var upcomingEvent in Model)
    {
        <tr>
            <td valign="middle" align="center" style="min-width: 100px;">
                <div class="text-uppercase" style="font-size: large">
                   @upcomingEvent.DateRange
                </div>
                <div>@upcomingEvent.WeekDayRange</div>
            </td>
            <td>
                @if (upcomingEvent.IsUrl)
                {
                    <a href="@upcomingEvent.Url">@upcomingEvent.Title</a>
                }
                else
                {
                    @upcomingEvent.Title
                }
                <div>
                    @if ((upcomingEvent.IsTimeRange) && (upcomingEvent.IsLocation))
                    {
                        @upcomingEvent.TimeRange<span>, </span>
                        @upcomingEvent.Location
                    }
                    else 
                    {
                        @if (upcomingEvent.IsTimeRange)
                        {
                            @upcomingEvent.TimeRange
                        }
                        else
                        {
                            @upcomingEvent.Location
                        }
                    }
                    
                </div>
                
                @if (upcomingEvent.IsShortDescription)
                {
                    <br /><small>@upcomingEvent.ShortDescription</small>
                }
            </td>


        </tr>
    }
    @*<tr><td colspan="2" class="text-right"><a href="/events#upcoming">View More Events</a></td></tr>*@
</table>