﻿<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWZ33MR');</script>
<!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="author" content="@ViewData["MetaAuthor"]">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @RenderSection("head", required: false)

    @if (ViewData.ContainsKey("Canonical"))
    {
        <link rel="canonical" href="@ViewData["Canonical"]" />
    }

    @if (!ViewData.ContainsKey("Title"))
    {
        <title>Bryant / Pattengill Elementary Parent Teacher Organization (PTO)</title>
    }
    else
    {
        if ((string)ViewData["Title"] == "Home")
        {
            <title>Bryant / Pattengill Elementary Parent Teacher Organization (PTO) | 2 Schools, 1 Community</title>
        }
        else
        {
            <title>@ViewData["Title"] | Bryant / Pattengill Elementary Parent Teacher Organization (PTO)</title>
        }
    }

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("PageStyles", required: false)
    
    <style>
        .icon-bar {
            color: black;
            background-color: black;
            border-color: black;
        }
        a:link, a:hover, a:visited {
            color: #f26633;

        }
        body {
            margin-top: 40px;
        }
        /*h2 {
            padding-top:90px;
            padding-bottom: 20px;
        }*/
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWZ33MR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    

    <nav class="navbar navbar-fixed-top"  style="background-color:white; height:90px; border-bottom-color: black; border-bottom-width:1px;">
        
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="~/images/brypatptologo.jpg" style="max-width:200px;" alt="Bryant / Pattengill Elementary Parent Teacher Organization (PTO)"></a>
                
            </div>
            
            <div class="navbar-collapse collapse" style="background-color:white; margin-top:20px;">
                <ul class="nav navbar-nav navbar-right text-center">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about">PTO Mission</a></li>
                            <li><a href="/board">PTO Board / Org Chart</a></li>
                            <li><a href="/room-parents">Room Parents</a></li>
                            <li><a href="/board/meetings">PTO Meetings / Minutes</a></li>
                            <li><a href="/contact">Contact PTO</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enrichment<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/enrichment#grade-level">Grade Level Enrichment</a></li>
                            <li><a href="/enrichment#community-wide">Community Wide Enrichment</a></li>
                            <li><a href="/what-we-fund">What We Fund</a></li>
                        </ul>
                    </li>

                  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/events">Events List</a></li>
                            <li><a href="https://docs.google.com/document/d/1h6uhDVBSe1C-sVzyILtwUgYKI06jOVXDuEvIbvC_FsI/edit?usp=sharing" target="_blank">Printable Calendar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/events/5th-grade-camp">5th Grade Camp</a></li>
                            <li><a href="/events/academic-games">Academic Games</a></li>
                            <li><a href="/events/ice-cream-social">Ice Cream Social</a></li>
                            <li><a href="/events/international-festival">International Festival</a></li>
                            <li><a href="/events/movie-night">Movie Night</a></li>
                            <li><a href="/events/read-a-thon">Read-a-thon</a></li>
                            <li><a href="/events/science-olympiad">Science Olympiad</a></li>
                            <li><a href="/events/tech-night">Tech Night</a></li>
                        </ul>
                    </li>
                    <li><a href="/volunteer">Volunteer</a></li>
                    <li><a href="/donate">Donate</a></li>
                    <li><a href="/schools"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schools<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schools/bryant">Bryant Elementary (K to 2)</a></li>
                            <li><a href="/schools/pattengill">Pattengill Elementary (3 to 5)</a></li>
                        </ul>
                    </li>
                    @*<li><a href="/board">Board</a></li>*@
                    <li><a href="/news">News</a></li>
                    <li></li>
                </ul>
               
            </div>
        </div>
        
    </nav>

   
    <div class="container body-content">
        <div class="row"><div class="col-sm-12 text-right"><div id="google_translate_element" style="margin-top:10px;margin-bottom:10px;"></div></div></div>
        @RenderBody()
        <hr />
        <footer class="text-center">

            <p>Ann Arbor, Michigan - Bryant Elementary & Pattengill Elementary - Parent Teacher Organization</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', gaTrack: true, gaId: 'UA-55366154-1' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>