﻿@model BryantPattengillOrg.Models.HomeIndexViewModel
@using BryantPattengillOrg.Models.Events;

@{
    ViewData["Title"] = "Enrichment";
}



<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <h1 id="grade-level">Enrichment</h1>
        <h2 style="margin-top: 150px;">Grade Level Enrichment</h2>

        <p>The PTO sponsors the following programs for Bryant /Pattengill students:</p>


        <h3>Kindergarten / Y5s</h3>
        <p>
            Wassem Apple Orchard<br />
            Public Library<br />
            Health Exploration Station<br />
            Humane Society of Huron Valley
        </p>
        <h3>Grade 1</h3>
        <p>

            Hands on Museum<br />
            Debucks Farm<br />
            ScrapBox Upcycling
        </p>
        <h3>Grade 2</h3>
        <p>

            Creature Conservancy<br />
            Ann Arbor Symphony<br />
            Henry Ford Museum
        </p>
        <h3>Grade 3</h3>
        <p>

            Wild Swan Theater<br />
            Hudson Mills Metro Park<br />
            Lansing Capitol Building Tour<br />
            Ann Arbor Ballet
        </p>
        <h3>Grade 4</h3>
        <p>

            Museum of African American History<br />
            Ann Arbor Symphony Orchestra
        </p>
        <h3>Grade 5</h3>
        <p>

            Ann Arbor Symphony Orchestra
        </p>

        <hr />
        <h2 id="community-wide"  style="margin-top: 100px;">B/P CommUnity Wide Enrichment</h2>

        <p>
            Science Night with the Hands on Museum<br />
            Science Olympiad<br />
            Visiting Authors<br />
            Literacy Funding
        </p>
    </div>
   
</div>
