﻿@model BryantPattengillOrg.Models.HomeIndexViewModel
@using BryantPattengillOrg.Models.Events;

@{
    ViewData["Title"] = "What We Fund";
}



<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <h1 id="grade-level">What We Fund</h1>
        

        <p>
            Your financial contribution to the Bryant/Pattengill PTO goes directly into the PTO budget—100
            percent of your support goes to those activities that enhance your children’s school experience!</P>
        <p>
            We are committed to give every child in our “Super Pair” an equal opportunity to participate on
            every level. The Bryant/Pattengill PTO fully funds several essential enrichment activities for our
            students. Every dollar raised is put back into programs that support our children. Activities
            supported include: field trip fees, buses for field trips, handwriting workbooks, classroom books,
            art and music playground supplies, Science Olympiad, International Festival, Family Science Night,
            Popsicles on the Playground, teacher supplies, and 5th grade camp scholarships.
        </p>
        <hr />
        <h2>ANNUAL FUNDING:</h2>
        <p>
            <img src="~/images/whatwefund.png" class="img-responsive" />
        </p>
    </div>
   
</div>
